<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
		<add key="DevDiv Engineering Nuget Feed" value="\\cpvsbuild\drops\engineering\nuget" />
		<add key="DevDiv Engineering Nuget Feed Backup" value="\\dditservice19\VSEng.PI\NuGet" />
    <add key="Engineering" value="https://pkgs.dev.azure.com/devdiv/_packaging/Engineering/nuget/v3/index.json" />
  </packageSources>
</configuration>