USE [LabStatus]
GO
/****** Object:  Table [BranchToolsData].[Build]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BranchToolsData].[Build](
	[BuildID] [int] IDENTITY(1,1) NOT NULL,
	[Source] [nvarchar](50) NOT NULL,
	[Time] [datetime] NOT NULL,
	[Sender] [nvarchar](50) NULL,
	[Message] [nvarchar](max) NULL,
	[HelpKeyword] [nvarchar](50) NOT NULL,
	[Succeeded] [bit] NULL,
	[EndTime] [datetime] NULL,
	[DateAdded] [datetime] NULL,
 CONSTRAINT [PK_Build] PRIMARY KEY CLUSTERED 
(
	[BuildID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [BranchToolsData].[Build] ADD  CONSTRAINT [DF_Build_DateAdded]  DEFAULT (getdate()) FOR [DateAdded]
GO
