USE [LabStatus]
GO
/****** Object:  StoredProcedure [BranchToolsData].[up_GetLast30DaysUsage]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [BranchToolsData].[up_GetLast30DaysUsage] as
with LastThirtyDays as
(
	select b.dateadded, b.endtime, p.sourcecontrol, p.projectid
	from	branchtoolsdata.build b
	inner join branchtoolsdata.project p on b.buildid = p.buildid
	where coalesce(b.dateadded, b.endtime) >= getdate() - 30	
)
select count(*) as Last30Days,
	   (select count(*) from LastThirtyDays where sourcecontrol = 'TeamFoundation') as TeamFoundation,
	   (select count(*) from LastThirtyDays where sourcecontrol = 'SourceDepot') as SourceDepot,
	   (select count(*) from branchtoolsdata.error e where e.projectid = projectid and projectid in (select projectid from LastThirtyDays where sourcecontrol = 'SourceDepot')) as TFSErrors,
	   (select count(*) from LastThirtyDays where coalesce(dateadded, endtime) >= getdate() - 7) as LastSevenDays,
	   (select count(*) from LastThirtyDays where coalesce(dateadded, endtime) >= getdate() - 7 and sourcecontrol = 'TeamFoundation') as TeamFoundationLastSevenDays,
	   (select count(*) from LastThirtyDays where coalesce(dateadded, endtime) >= getdate() - 7 and sourcecontrol = 'SourceDepot') as SourceDepotLastSevenDays,
	   (select count(*) from branchtoolsdata.error e where e.projectid = projectid and projectid in (select projectid from LastThirtyDays where coalesce(dateadded, endtime) >= getdate() - 7 and sourcecontrol = 'SourceDepot')) as TFSErrorsLastSevenDays
from  LastThirtyDays l
GO
