USE [LabStatus]
GO
/****** Object:  UserDefinedFunction [BranchToolsData].[fn_ParseDateTime]    Script Date: 1/28/2026 12:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [BranchToolsData].[fn_ParseDateTime] 
(
	@DateToParse nvarchar(100)
)
RETURNS datetime
AS
BEGIN
	
	select @DateToParse = replace(@DateToParse, 'T', ' ')
	select @DateToParse = substring(@DateToParse, 1, charindex('.', @DateToParse)  + 3)

	return cast(@DateToParse as datetime)

END
GO
