USE [LabStatus]
GO
/****** Object:  StoredProcedure [BranchToolsData].[up_AddData]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [BranchToolsData].[up_AddData]

@xml_text VARCHAR(max)

As

BEGIN TRANSACTION

	BEGIN TRY

		DECLARE @BuildID int
		DECLARE @ProjectID int
		DECLARE @i INT

		EXEC sp_xml_preparedocument @i OUTPUT, @xml_text

		-- Build
		INSERT INTO BranchToolsData.Build
					(
						Source,
						[Time],
						Sender,
						[Message],
						HelpKeyword,
						Succeeded,
						EndTime
					)
		SELECT	Source,
				BranchToolsData.fn_ParseDateTime([Time]) as [Time],
				Sender,
				[Message],
				HelpKeyword,
				Succeeded,
				BranchToolsData.fn_ParseDateTime(EndTime) as [EndTime]
		FROM 
			OPENXML(@i, '/MSBuild-Log/Build', 2) 
			WITH (
					Source nvarchar(50) '../source',
					[Time] nvarchar(50) '@Time',
					Sender nvarchar(100) '@Sender',
					[Message] nvarchar(150) '@Message',
					HelpKeyword nvarchar(100) '@HelpKeyword',
					Succeeded bit,
					EndTime nvarchar(50)
				 )


		select	@BuildID = SCOPE_IDENTITY()

		--Projects
		INSERT INTO BranchToolsData.Project
					(
						BuildID,
						[Time],
						Sender,
						[Message],
						HelpKeyword,
						SpecifiedTargets,
						SourceControl,
						ComputerName,
						Args,
						FBToolsShare,
						BuildType,
						CompiledBranch,
						BuildBranch,
						BuildArch,
						Username,
						ProcessorArchitecture,
						[ProcessorArchitectureW6432],
						CompiledVersion,
						BranchName,
						BranchNamePrefix,
						Succeeded,
						EndTime
					)
		SELECT	@BuildID,
				BranchToolsData.fn_ParseDateTime([Time]) as [Time], 
				Sender,
				Message,
				HelpKeyword,
				SpecifiedTargets,
				SourceControl,
				ComputerName,
				null as Args,
				null as FBToolsShare,
				_BuildType as BuildType,
				CompiledBranch,
				_BuildBranch as BuildBranch,
				_BuildArch as BuildArch,
				Username,
				Processor_Architecture as ProcessorArchitecture,
				null as [ProcessorArchitectureW6432],
				CompiledVersion,
				BranchName,
				BranchNamePrefix,
				Succeeded,
				BranchToolsData.fn_ParseDateTime([EndTime]) as [EndTime]
		FROM 
			OPENXML(@i, '/MSBuild-Log/Build/Project', 2) 
			WITH (
					[Time] nvarchar(50) '@Time',
					Sender nvarchar(100) '@Sender',
					Message nvarchar(max) '@Message',
					HelpKeyword nvarchar(100) '@HelpKeyword',
					SpecifiedTargets nvarchar(100),
					SourceControl nvarchar(50),
					COMPUTERNAME nvarchar(50),
					_BuildType nvarchar(50),
					CompiledBranch nvarchar(150),
					_BuildBranch nvarchar(150),
					_BuildArch nvarchar(50),
					USERNAME nvarchar(50),
					PROCESSOR_ARCHITECTURE  nvarchar(100),
					CompiledVersion  nvarchar(50),
					BranchName  nvarchar(150),
					BranchNamePrefix nvarchar(150),
					Succeeded bit,
					EndTime nvarchar(50)
				 )

		select	@ProjectID = SCOPE_IDENTITY()

		-- Warning
		INSERT INTO BranchToolsData.Warning
					(
						ProjectID,
						[Time],
						Sender,
						Message,
						HelpKeyword,
						SubCategory,
						Code,
						[File],
						LineNumber,
						ColumnNumber,
						EndLineNumber,
						EndColumnNumber
					)
		SELECT	@ProjectID,
				BranchToolsData.fn_ParseDateTime([Time]) as [Time],
				Sender,
				[Message],
				HelpKeyword,
				SubCategory,
				Code,
				[File],
				LineNumber,
				ColumnNumber,
				EndLineNumber,
				EndColumnNumber
		FROM 
			OPENXML(@i, '/MSBuild-Log/Build/Project/Warning', 2) 
			WITH (
					[Time] nvarchar(50) '@Time',
					Sender nvarchar(100) '@Sender',
					[Message] nvarchar(max) '@Message',
					HelpKeyword nvarchar(100) '@HelpKeyword',
					SubCategory nvarchar(100) '@SubCategory',
					Code nvarchar(100) '@Code',
					[File] nvarchar(100) '@File',	
					LineNumber int '@LineNumber',
					ColumnNumber int '@ColumnNumber',
					EndLineNumber int '@EndLineNumber',
					EndColumnNumber int '@EndColumnNumber'
				 )

		-- Error
		INSERT INTO BranchToolsData.Error
					(
						ProjectID,
						[Time],
						Sender,
						Message,
						HelpKeyword,
						SubCategory,
						Code,
						[File],
						LineNumber,
						ColumnNumber,
						EndLineNumber,
						EndColumnNumber
					)
		SELECT	@ProjectID,
				BranchToolsData.fn_ParseDateTime([Time]) as [Time],
				Sender,
				[Message],
				HelpKeyword,
				SubCategory,
				Code,
				[File],
				LineNumber,
				ColumnNumber,
				EndLineNumber,
				EndColumnNumber
		FROM 
			OPENXML(@i, '/MSBuild-Log/Build/Project/Error', 2) 
			WITH (
					[Time] nvarchar(50) '@Time',
					Sender nvarchar(100) '@Sender',
					[Message] nvarchar(max) '@Message',
					HelpKeyword nvarchar(100) '@HelpKeyword',
					SubCategory nvarchar(100) '@SubCategory',
					Code nvarchar(100) '@Code',
					[File] nvarchar(100) '@File',	
					LineNumber int '@LineNumber',
					ColumnNumber int '@ColumnNumber',
					EndLineNumber int '@EndLineNumber',
					EndColumnNumber int '@EndColumnNumber'
				 )

		EXEC sp_xml_removedocument @i

		COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		--rollback the transaction
		IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END

		-- throw the exception
		DECLARE @Err VARCHAR(MAX)
		SELECT @Err = 'ERROR: BranchToolsData.up_AddData - ' + ERROR_MESSAGE()
		RAISERROR (@Err , 16, 1)
		
	END CATCH
GO
