USE [LabStatus]
GO
/****** Object:  Table [BranchToolsData].[Warning]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BranchToolsData].[Warning](
	[WarningID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NOT NULL,
	[Time] [datetime] NULL,
	[Sender] [nvarchar](50) NULL,
	[Message] [nvarchar](max) NULL,
	[HelpKeyword] [nvarchar](50) NULL,
	[SubCategory] [nvarchar](50) NULL,
	[Code] [nvarchar](max) NULL,
	[File] [nvarchar](max) NULL,
	[LineNumber] [int] NULL,
	[ColumnNumber] [int] NULL,
	[EndLineNumber] [int] NULL,
	[EndColumnNumber] [int] NULL,
 CONSTRAINT [PK_Warning] PRIMARY KEY CLUSTERED 
(
	[WarningID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [BranchToolsData].[Warning]  WITH CHECK ADD  CONSTRAINT [FK_Warning_Project] FOREIGN KEY([ProjectID])
REFERENCES [BranchToolsData].[Project] ([ProjectID])
GO
ALTER TABLE [BranchToolsData].[Warning] CHECK CONSTRAINT [FK_Warning_Project]
GO
