USE [LabStatus]
GO
/****** Object:  Table [BranchToolsData].[Project]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BranchToolsData].[Project](
	[ProjectID] [int] IDENTITY(1,1) NOT NULL,
	[BuildID] [int] NOT NULL,
	[Time] [datetime] NOT NULL,
	[Sender] [nvarchar](50) NULL,
	[Message] [nvarchar](max) NULL,
	[HelpKeyword] [nvarchar](50) NULL,
	[SpecifiedTargets] [nvarchar](50) NULL,
	[SourceControl] [nvarchar](50) NULL,
	[ComputerName] [nvarchar](50) NULL,
	[Args] [nvarchar](max) NULL,
	[FBToolsShare] [nvarchar](150) NULL,
	[BuildType] [nvarchar](50) NULL,
	[CompiledBranch] [nvarchar](150) NULL,
	[BuildBranch] [nvarchar](150) NULL,
	[BuildArch] [nvarchar](50) NULL,
	[Username] [nvarchar](50) NULL,
	[ProcessorArchitecture] [nvarchar](100) NULL,
	[ProcessorArchitectureW6432] [nvarchar](100) NULL,
	[CompiledVersion] [nvarchar](50) NULL,
	[BranchName] [nvarchar](150) NULL,
	[BranchNamePrefix] [nvarchar](150) NULL,
	[Succeeded] [bit] NOT NULL,
	[EndTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [BranchToolsData].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_Build] FOREIGN KEY([BuildID])
REFERENCES [BranchToolsData].[Build] ([BuildID])
GO
ALTER TABLE [BranchToolsData].[Project] CHECK CONSTRAINT [FK_Project_Build]
GO
