USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionNewErrors]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetSessionNewErrors]
(
	@SessionID int
)
AS
	SET NOCOUNT ON
	
	SELECT COUNT(le.LogEntryID) As NewErrors
	  FROM tbl_LogError le WITH (NOLOCK)
	 WHERE le.SessionID = @SessionID
	   AND le.CategoryID = 3
	   AND le.Processed = 0

	RETURN 

GO
