USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSource]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSource]
(
	@SourceID int
)
AS
	SET NOCOUNT ON
	
	SELECT SourceID, SoName
	  FROM tlkp_Source WITH (NOLOCK)
	 WHERE SourceID = @SourceID
	
	RETURN 
GO
