USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_UpdateManualFixStatus]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[up_UpdateManualFixStatus]
(
    @IssueID int,
    @SessionID int,
    @FixStatusId int
)
AS
BEGIN
    DECLARE @FixID int
    SELECT  TOP 1 @FixID = FixID 
    FROM    tbl_Fix
    WHERE   IssueID = @IssueID
    ORDER BY FiSubmittedDate DESC

    IF NOT EXISTS (SELECT * FROM tbl_SessionFix WHERE SessionID = @SessionID AND FixID = @FixID)
    BEGIN
        INSERT INTO tbl_SessionFix
            (SessionID, FixID, FixStatusID, SfScheduleTime)
        VALUES 
            (@SessionID, @FixID, @FixStatusId, GETDATE())
    END
    ELSE
    BEGIN
        UPDATE  tbl_SessionFix
        SET     FixStatusID = @FixStatusId,
                SfScheduleTime = GETDATE()
        WHERE   SessionID = @SessionID 
        AND     FixID = @FixID
    END
    
END





GO
