USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_ProductUnit]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ProductUnit](
	[ProductUnitID] [int] IDENTITY(1,1) NOT NULL,
	[PrEmailName] [varchar](30) NULL,
	[PrFullName] [varchar](93) NULL,
	[PrCostCenterCode] [varchar](10) NULL,
	[PrCostCenterDesc] [varchar](40) NULL,
	[PrCodeName] [varchar](30) NULL,
 CONSTRAINT [PK_tbl_ProductUnit] PRIMARY KEY CLUSTERED 
(
	[ProductUnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
