USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSimilarBuilds]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_GetSimilarBuilds]
(
	@SessionID int
)
AS
	SET NOCOUNT ON
	
	DECLARE @Revision varchar(50)
	DECLARE @LabID int
	
	-- Grab the revision and lab from this session.
	SELECT	@Revision = SeRevision, @LabID = LabID
	FROM	tbl_Session WITH (NOLOCK)
	WHERE	SessionID = @SessionID

	-- Grab any similar sessions.
	DECLARE @SessionIDs varchar(max) 
	SELECT	@SessionIDs = COALESCE(@SessionIDs + ',', '') + CONVERT(varchar(20), SessionID) 
	FROM	tbl_Session s WITH (NOLOCK)
	JOIN	tbl_Lab la WITH (NOLOCK) 
				ON (s.LabID = la.LabID)
	JOIN	tlkp_Flavor f WITH (NOLOCK) 
				ON (s.FlavorID = f.FlavorID)
	JOIN	tlkp_TargetArchitecture ta WITH (NOLOCK) 
				ON (s.TargetArchitectureID = ta.TargetArchitectureID)
	JOIN	tlkp_LocaleSet ls WITH (NOLOCK) 
				ON (s.LocaleSetID = ls.LocaleSetID)
	WHERE	s.SeRevision = @Revision
	AND		s.LabID = @LabID
	ORDER BY ta.TaName DESC, f.FlOrder

	EXEC up_GetSessions @SessionIDs

	RETURN 


GO
