USE [LabStatus]
GO
/****** Object:  Table [dbo].[tlkp_ViewLevel]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tlkp_ViewLevel](
	[ViewLevel_ID] [int] NOT NULL,
	[ViName] [varchar](50) NULL,
 CONSTRAINT [PK_tlkp_ViewLevel] PRIMARY KEY CLUSTERED 
(
	[ViewLevel_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
