USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStatusOverviewWithTimingByRevisionRange]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetStatusOverviewWithTimingByRevisionRange]
	(
		@LabIDs varchar(4000),
		@FlavorIDs varchar(255),
		@TargetArchitectureIDs varchar(255),
		@LanguageIDs varchar(4000),
		@From varchar(100),
		@To varchar(100)
	)
AS
	SET NOCOUNT ON	
	
SET NOCOUNT ON	

	--DECLARE @X int
	--SET @X = 1

	-- Set the parameters here is necessary to prevent SQL parameter sniffing.
	DECLARE @SP_LabIDs varchar(4000)
	DECLARE @SP_FlavorIDs varchar(255)
	DECLARE @SP_TargetArchitectureIDs varchar(255)
	DECLARE @SP_LanguageIDs varchar(255)
	
	SET @SP_LabIDs = @LabIDs
	SET @SP_FlavorIDs = @FlavorIDs
	SET @SP_TargetArchitectureIDs = @TargetArchitectureIDs
	SET @SP_LanguageIDs = @LanguageIDs


	/* First, grab all the sessions using the passed in parameters.  This is really important because
	we want to trim our result set first and foremost. */
	SELECT s.SessionID, s.LabID, s.SeBuildMachine As BuildMachine, s.SeRevision As Revision, s.StatusID, s.SeComment, s.SeSetups, s.SeSetupsFinished, s.FlavorID, s.TargetArchitectureID, s.MilestoneID, s.LocaleSetID, s.SeDropPath As DropPath, s.SeStarted As SessionStarted, s.SeBuildDate As BuildDate, s.SeManuallyStalled As ManuallyStalled, s.SeDelayed As Delayed, s.SeRawDropAbandoned, s.SeLayoutsAbandoned, s.seTestBuild AS TestBuild
	  INTO #Sessions
	  FROM tbl_Session s WITH (READPAST)
	  JOIN fn_ParseCommaDelimitedList(@SP_LabIDs) l ON (s.LabID = l.ItemID)
	  JOIN fn_ParseCommaDelimitedList(@SP_FlavorIDs) f ON (s.FlavorID = f.ItemID)
	  JOIN fn_ParseCommaDelimitedList(@SP_TargetArchitectureIDs) ta ON (s.TargetArchitectureID = ta.ItemID) 
	  JOIN fn_ParseCommaDelimitedList(@SP_LanguageIDs) ls ON (s.LocaleSetID = ls.ItemID)
	 WHERE s.SeRevision >= @From AND s.SeRevision <= @To

    EXEC sp_GetStatusOverviewWithTimingHelper

	DROP TABLE #Sessions
	RETURN
GO
