USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetIssueCreationProcess]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		arturor
-- Create date: 3/31/2006
-- Description:	Finds the process for which an issue was cretaed
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetIssueCreationProcess] 
	-- Add the parameters for the stored procedure here
	@IssueID int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT dbo.fn_GetIssueCreationProcess(@IssueID)
END
GO
