USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_AddSessionGroupTopicParentBranches]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_AddSessionGroupTopicParentBranches]
    @SessionID INT,
	@TopicBranch VARCHAR(255) = NULL,
	@ParentBranch VARCHAR(255) = NULL
AS
BEGIN
    DECLARE @SessionGroupID INT

	IF @TopicBranch IS NULL AND @ParentBranch IS NULL
	BEGIN
	    RETURN
	END

    SET @SessionGroupID = dbo.fn_GetSessionGroupForSession(@SessionID)

    If @SessionGroupID IS NULL
	BEGIN
		EXEC THROW EXEC THROW 'Could not find session group ID for the sessionID ''$''', @SessionID
		RETURN
	END

    SELECT 1
    FROM tbl_SessionGroupTopicParentBranches WITH (NOLOCK)
    WHERE SessionGroupID=@SessionGroupID

    IF @@ROWCOUNT = 0
    BEGIN
	    INSERT 
		INTO tbl_SessionGroupTopicParentBranches (SessionGroupID, TopicBranch, ParentBranch)
		VALUES (@SessionGroupID, @TopicBranch, @ParentBranch)
	END
	ELSE
	BEGIN
	    UPDATE tbl_SessionGroupTopicParentBranches
		SET TopicBranch = ISNULL(@TopicBranch, TopicBranch)
		   ,ParentBranch = ISNULL(@ParentBranch, ParentBranch)
		Where SessionGroupID = @SessionGroupID
	END
END

GO
