USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateIssueWithHandOffReminderSent]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateIssueWithHandOffReminderSent]
	(
		@IssueID int
	)
AS
	UPDATE tbl_Issue WITH (ROWLOCK)
	   SET IsLastHandOffReminderSent = GetDate()
	 WHERE IssueID = @IssueID

	RETURN 


GO
