USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLabDetails]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLabDetails]
(
	@LabID int
)
AS
/*	Modified by	Date		Change
	***********************************************************
	a-karthp		08/16/2005	Created
	a-karthp		10/11/2005	Added a new field BFDGroup
	a-joeyj			04/27/2009	Added SourceControl to the Join
*/
	set nocount on
	
	select 	l.*, bu.*, pu.*, lp.ParentLabID ParentLabID,
		(Select Count(distinct LabSlotID)  From LabDropManagement..atbl_LabSlot ls Where ls.LabID = l.LabID and ls.SlotID <= 20)  CurrentSlots,
		(Select Count(distinct LabSlotID)  From LabDropManagement..atbl_LabSlot ls Where ls.LabID = l.LabID and ls.SlotID >= 100)   SavedSlots,
		(Select Count(distinct LabSlotID)  From LabDropManagement..atbl_LabSlot ls Where ls.CurrentLabID = l.LabID and ls.LabID <> l.LabID)   BorrowedSlots,
		(Select Count(distinct LabSlotID)  From LabDropManagement..atbl_LabSlot ls Where ls.CurrentLabID <> l.LabID and ls.LabID = l.LabID)   LoanedSlots,
		(Select Top 1 LlUserAlias From tbl_LabLog ll Where ll.LabID = l.LabID Order By LlDateCreated Desc) LastModifiedBy,
		(Select Top 1 LlDateCreated From tbl_LabLog ll Where ll.LabID = l.LabID Order By LlDateCreated Desc) LastModifiedDate,
		G.GrName BFDGroup,
		(Select Top 1 ProjectID From DropManagement..tbl_ProjectLab pl Where pl.LabID = l.LabID) As DropManagementProjectID,
		SC.Name [SourceControlName]
	from 	tbl_Lab l with (nolock)
		left join Integration.LabParent lp with (nolock) on (lp.LabID = l.LabID)
		left join BFD..tbl_Group G with (nolock) on (G.GroupID = l.BFDGroupID)
		left join tbl_PU pu
			on (l.PUID = pu.PUID)
		left join tbl_BU bu
			on (pu.BUID = bu.BUID)
		LEFT JOIN dbo.tlkp_SourceControl SC
			ON SC.SourceControlID = l.SourceControlID
	where	l.LabID = @LabID

	--Borrowed Slots
	select 	l.LabID, l.LaName, Count(LabSlotID)  BorrowedSlots
	from 	LabDropManagement..atbl_LabSlot ls 
		inner join tbl_Lab l on ls.LabID = l.LabID
	where 	ls.CurrentLabID = @LabID 
		and ls.LabID <> @LabID
	group by l.LabID, l.LaName
	
	--Loaned Slots
	select 	l.LabID, l.LaName, Count(LabSlotID)  LoanedSlots
	from 	LabDropManagement..atbl_LabSlot ls 
		inner join tbl_Lab l on ls.CurrentLabID = l.LabID
	where 	ls.LabID = @LabID 	
		and ls.CurrentLabID <> @LabID
	group by l.LabID, l.LaName
GO
