USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetFlavors]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetFlavors]
AS
	SET NOCOUNT ON
	
	SELECT FlavorID, FlName, FlDescription
	  FROM tlkp_Flavor WITH (NOLOCK)
     WHERE FlActive = 1
  ORDER BY FlOrder
	
	RETURN 
GO
