USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSessionStatusAsWarning]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateSessionStatusAsWarning]
	(
		@SessionID int
	)
AS
	SET NOCOUNT ON
	
	UPDATE tbl_Session WITH (ROWLOCK)
	   SET SeHasWarnings = 1
	 WHERE SessionID = @SessionID
	
	RETURN 
GO
