USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetFlavors]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetFlavors]
AS
    SET NOCOUNT ON
    
    SELECT FlavorID, FlName, FlDescription, FlCanAbandon, FlOrder
      FROM tlkp_Flavor WITH (NOLOCK)
     WHERE FlActive = 1
  ORDER BY FlOrder
    
    RETURN
GO
