USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddGroupToSchema]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddGroupToSchema]
	(
		@SchemaID int,
		@GroupName varchar(50)
	)
AS
	SET NOCOUNT ON
	
	DECLARE	@GroupOrder int 
	SELECT @GroupOrder = (SELECT MAX(GrOrder) + 1 
								FROM tbl_SchemaGroup
							WHERE SchemaID = @SchemaID)
	IF @GroupOrder IS NULL
		SELECT @GroupOrder = 1						
	-- Insert the new Process.
	INSERT
	  INTO tbl_SchemaGroup (SchemaID, GrOrder, GrName)
	VALUES (@SchemaID, @GroupOrder, @GroupName)
	
	RETURN 
GO
