USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMachineAccessURLByUser]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetMachineAccessURLByUser]
	(
		@UserName varchar(50)
	)
AS
	SET NOCOUNT ON
	
	SELECT TOP 1 o.OrMachineAccessURL
	  FROM tbl_Issue i WITH (NOLOCK)
	  JOIN tbl_Org o WITH (NOLOCK) ON (i.OrgID = o.OrgID)
	 WHERE i.IsClosed = 0
	   AND i.IsDeleted = 0
	   AND i.IsDuplicate = 0
	   AND i.IsAssignedTo = @UserName
	
	RETURN 
GO
