USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_CloneSchemaForEdit]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CloneSchemaForEdit]
(
	@ProductID int,
	@NewSchemaID int = NULL OUTPUT 
)
AS
	SET NOCOUNT ON
	DECLARE @Err varchar(4000)

	BEGIN TRANSACTION	

	DECLARE @ActiveSchemaID int
	SELECT @ActiveSchemaID = SchemaID
	  FROM tbl_Product
	 WHERE ProductID = @ProductID

	-- First, insert the new schema.
	SELECT @Err = 'Creating a new schema record.'
	INSERT 
	  INTO tbl_Schema (ProductID, ScName)
	SELECT @ProductID, ScName
	  FROM tbl_Schema 
	 WHERE SchemaID = @ActiveSchemaID
	 IF @@ERROR <> 0 GOTO on_err	
	 SET @NewSchemaID = @@IDENTITY
	 
	-- Now, insert the new schema groups.
	SELECT @Err = 'Creating the new schema groups.'
	INSERT
	  INTO tbl_SchemaGroup
	SELECT @NewSchemaID, GrOrder, GrShortName, GrName, AvgBuildTime
	  FROM tbl_SchemaGroup
     WHERE SchemaID = @ActiveSchemaID
	IF @@ERROR <> 0 GOTO on_err	 
	
	-- Create a temp table of all the old schema groups.
	CREATE TABLE #Groups (OldSchemaGroupID INT PRIMARY KEY, OldSchemaGroupOrder INT, NewSchemaGroupID INT)
	INSERT 
	  INTO #Groups (OldSchemaGroupID, OldSchemaGroupOrder)
	SELECT SchemaGroupID, GrOrder
	  FROM tbl_SchemaGroup
	 WHERE SchemaID = @ActiveSchemaID
	 
	-- Update the temp table now adding the related NEW SchemaGroupIDs.
	UPDATE #Groups
	   SET NewSchemaGroupID = sg.SchemaGroupID
	  FROM tbl_SchemaGroup sg
	  JOIN #Groups g ON (sg.SchemaID = @NewSchemaID AND sg.GrOrder = g.OldSchemaGroupOrder)
	  
	-- Finally, insert the processes with the related new SchemaGroupIDs.
	SELECT @Err = 'Creating the new schema group processes.'
	INSERT 
	  INTO tbl_SchemaGroupProcess (SchemaID, SchemaGroupID, ViewLevelID, PrOrder, AvgBuildTime, RawDrop, PrName, PrShortName, PrDocLink)
	SELECT @NewSchemaID, g.NewSchemaGroupID, sgp.ViewLevelID, sgp.PrOrder, sgp.AvgBuildTime, sgp.RawDrop, sgp.PrName, sgp.PrShortName, sgp.PrDocLink
	  FROM #Groups g
	  JOIN tbl_SchemaGroupProcess sgp ON (g.OldSchemaGroupID = sgp.SchemaGroupID AND sgp.SchemaID = @ActiveSchemaID)
	  IF @@ERROR <> 0 GOTO on_err	
	
	-- Drop the temp table.
	DROP TABLE #Groups

	-- Commit the transaction if there are no errors at the end. 
	IF @@ERROR <> 0 
		GOTO on_err
	ELSE 
		GOTO on_success
	on_success:
		COMMIT TRANSACTION
		RETURN 
	
	on_err:
		ROLLBACK TRANSACTION
		SELECT @Err = 'ERROR: sp_GetSessionID3 - ' + @Err
		RAISERROR (@Err , 16, 1)	
	

	RETURN 

GO
