USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_Log]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Log](
	[LogEntryID] [bigint] IDENTITY(1,1) NOT NULL,
	[SessionID] [int] NOT NULL,
	[ProcessID] [int] NULL,
	[CategoryID] [int] NULL,
	[LoDateTimeStamp] [datetime] NULL,
	[LoDateTimeLogged] [datetime] NULL,
	[LoLog] [varchar](255) NULL,
	[LoMachineName] [varchar](50) NULL,
	[SessionGroupStatusID] [int] NULL,
	[SessionGroupProcessStatusID] [int] NULL,
 CONSTRAINT [PK_Log_1_BIGINT] PRIMARY KEY NONCLUSTERED 
(
	[LogEntryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Log] ADD  CONSTRAINT [DF_tbl_Log_LoDateTimeLoggedBIGINT]  DEFAULT (getdate()) FOR [LoDateTimeLogged]
GO
