USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetRIBuildStatusByLabByDate]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetRIBuildStatusByLabByDate]
	(
		@Lab varchar(10),
		@BuildDate datetime
	)

AS
	SET NOCOUNT ON
	
	DECLARE @LabID int
	SELECT @LabID = LabID FROM tbl_Lab WHERE LaShortName = @Lab
	
	SELECT s.SessionID, s.StatusID, st.StName As Status, st.StColor As StatusColor, s.SeRevision, s.FlavorID, s.TargetArchitectureID, f.FlName As Flavor, ta.TaName As TargetArchitecture
	  FROM tbl_Session s WITH (NOLOCK)
	  JOIN tlkp_Flavor f WITH (NOLOCK) ON (s.FlavorID = f.FlavorID)
	  JOIN tlkp_TargetArchitecture ta WITH (NOLOCK) ON (s.TargetArchitectureID = ta.TargetArchitectureID)
	  JOIN tlkp_Status st WITH (NOLOCK) ON (s.StatusID = st.StatusID)
	 WHERE DATEDIFF(dd, s.SeBuildDate, @BuildDate) = 0
	   AND s.LabID = @LabID
	   AND s.SeRevision NOT LIKE '%_DEL'
  ORDER BY ta.TaName DESC, f.FlOrder
	
	RETURN 
GO
