USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessions2]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetSessions2]  
(
	@SessionIDs varchar(max)
)
AS
BEGIN
    SET NOCOUNT ON
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
	
	-- Create a temp table with all the session ids in it.
    CREATE TABLE #SessionID (SessionID INT PRIMARY KEY, RowNumber INT IDENTITY (1, 1))

    INSERT INTO #SessionID
    SELECT  ItemID AS [SessionID]
    FROM    dbo.fn_ParseCommaDelimitedList(@SessionIDs) 

	SELECT	ss.SessionID, COUNT(DISTINCT sgp.SchemaGroupID) AS Setups
	INTO	#Setups
	FROM	tbl_Session s WITH (NOLOCK)
	JOIN	dbo.tbl_SchemaGroupProcess sgp WITH (NOLOCK)
			ON sgp.SchemaID = s.SchemaID AND sgp.PrName = 'Schedule Release'
	JOIN	#SessionId ss
			ON (ss.SessionID = s.SessionID)
	GROUP BY ss.SessionID
	
	SELECT SGS.SessionID, SGS.StatusID
	INTO #TestStatus
	FROM tbl_SchemaGroup SG WITH (NOLOCK)
		JOIN tbl_SessionGroupStatus SGS WITH (NOLOCK)
			ON SGS.SchemaGroupID = SG.SchemaGroupID
				AND SG.IsTest = 1
		JOIN #SessionID S
			ON S.SessionID = SGS.SessionID
	
	;WITH LogSummary AS
	(
		--Summary of Warning/Error/Stall counts for each session
		SELECT	L.SessionID, 
				L.CategoryID, 
				COUNT(LogEntryID) As LogCount, 
				Max(LoDateTimeLogged) LastDateTimeLogged
		FROM	#SessionID s
				INNER LOOP JOIN tbl_Log L WITH (NOLOCK)
					ON L.SessionID = S.SessionID
				INNER LOOP JOIN tbl_SessionGroupProcessStatus SGPS WITH (NOLOCK)
					ON SGPS.SessionGroupProcessStatusId = L.SessionGroupProcessStatusId
				INNER LOOP JOIN tbl_SchemaGroupProcess SGP WITH (NOLOCK)
					ON SGP.SchemaGroupProcessId = SGPS.SchemaGroupProcessId
				INNER LOOP JOIN tbl_SchemaGroup SG WITH (NOLOCK)
					ON SGP.SchemaGroupId = SG.SchemaGroupId	AND SG.IsTest = 0
		WHERE	L.CategoryID In (2,3,4) --Warning, Error, Stall Warnings
		GROUP BY L.SessionID, L.CategoryID
	)
	,ErrorSummary AS
	(
		--Summary of *new* Error/Stall counts for each session
		SELECT	L.SessionID, 
				L.CategoryID, 
				COUNT(LogEntryID) As LogCount
		FROM	tbl_LogError L WITH (NOLOCK)
				JOIN #SessionID S
					ON L.SessionID = S.SessionID
		WHERE	L.CategoryID In (3,4) --Error, Stall Warnings
				AND	L.Processed = 0
		GROUP BY L.SessionID, L.CategoryID
	)
	,Processes AS
	(
		SELECT	SGPS.SessionID, 
				COUNT(SGPS.SessionGroupProcessStatusID) NumberOfProcessesInProgress, 
				SUM(CAST(SGPS.Stalled as int)) NumberOfStalledProcesses
		FROM	#SessionId S
				INNER LOOP JOIN tbl_SessionGroupProcessStatus SGPS WITH (NOLOCK)
					ON (SGPS.SessionID = S.SessionID)
				INNER LOOP JOIN tbl_SchemaGroupProcess SGP WITH (NOLOCK) 
					ON SGP.SchemaGroupProcessID = SGPS.SchemaGroupProcessID
				INNER LOOP JOIN tbl_SchemaGroup SG WITH (NOLOCK) 
					ON SG.SchemaGroupID = SGP.SchemaGroupID	AND SG.IsTest = 0
		WHERE	SGPS.StatusID In (2,4,9)
				AND	SGPS.Skip = 0
		GROUP BY SGPS.SessionID
	)
	,ProcessesFinished AS
	(
		/* Last process to finish for each running session */
		SELECT		SGPS.SessionID, 
					MAX(DISTINCT SGPS.ProcessFinished) As LastProcessFinished
		FROM		#SessionID S
					INNER LOOP JOIN tbl_Session SS WITH (NOLOCK)
						ON S.SessionID = SS.SessionID
					INNER LOOP JOIN tbl_SessionGroupProcessStatus SGPS WITH (NOLOCK) 
						ON SGPS.SessionID = S.SessionID
					INNER LOOP JOIN tbl_SchemaGroupProcess SGP WITH (NOLOCK) 
						ON SGP.SchemaGroupProcessID = SGPS.SchemaGroupProcessID
					INNER LOOP JOIN tbl_SchemaGroup SG WITH (NOLOCK) 
						ON SG.SchemaGroupID = SGP.SchemaGroupID	AND SG.IsTest = 0
		WHERE		SS.StatusID IN (2,11,12)
					AND SGPS.StatusID In (3,5,6,8) 
					AND	SGPS.Skip = 0
		GROUP BY	SGPS.SessionID
	)
	,InProgressProcess AS
	(
		SELECT	SGPS.SessionID, MAX(SGPS.SessionGroupProcessStatusID) AS SessionGroupProcessStatusID
		FROM	#SessionId S 
				INNER LOOP JOIN tbl_SessionGroupProcessStatus SGPS WITH (NOLOCK)
					ON (SGPS.SessionID = S.SessionID)
				INNER LOOP JOIN tbl_SchemaGroupProcess SGP WITH (NOLOCK) 
					ON SGP.SchemaGroupProcessID = SGPS.SchemaGroupProcessID
				INNER LOOP JOIN tbl_SchemaGroup SG WITH (NOLOCK) 
					ON SG.SchemaGroupID = SGP.SchemaGroupID	AND SG.IsTest = 0
		WHERE	SGPS.StatusID In (2,4,9)
				AND	SGPS.Skip = 0
		GROUP BY SGPS.SessionID
	)
	,LastLogEntry AS
	(
		SELECT	S.SessionID, MAX(L.LoDateTimeStamp) AS LastLogTimeStamp
		FROM	tbl_Log L WITH (NOLOCK)
		JOIN	#SessionId S 
				ON (L.SessionID = S.SessionID)
		GROUP BY S.SessionID
	)
	
	-- Sessions.
	SELECT		s.SessionID, s.LabID, s.FlavorID, s.TargetArchitectureID, s.LocaleSetID, s.SeRevision,
				s.StatusID, s.SeStarted, s.SeFinished, s.SeComment, s.SeJobName,
				CASE WHEN (setup.Setups IS NULL) OR (s.SeSetups > 1) THEN s.SeSetups ELSE setup.Setups END AS SeSetups, 
				s.SeSetupsFinished,
				s.SeDropPath,
				s.SeBuildMachine, s.SeBuildDate, s.SeTestBuild, s.SeCanRecycle, s.SeManuallyStalled, s.SeManuallyStalledStep, s.SeDelayed, s.ResumeStatusID,
				s.SeStalledShort, s.SeStalledLong,
				s.SeRealSigned,
				W.LogCount WarningCount, 
				E.LogCount ErrorCount, 
				SW.LogCount StallWarningCount,	
				NE.LogCount NewErrorCount, 
				NSW.LogCount NewStallWarningCount, 
				s.SeLayoutsAbandoned,
				BVT.RawBVTs, 
				BVT.RawStatus, 
				BVT.RawLink, 
				BVT.LayoutBVTs, 
				BVT.LayoutStatus, 
				BVT.LayoutLink, 
				BVT.LastUpdated As BVTsLastUpdated,
				E.LastDateTimeLogged LastError,
				ISNULL(P.NumberOfStalledProcesses,0) AS  NumberOfStalledProcesses,
				ISNULL(P.NumberOfProcessesInProgress,0) AS NumberOfProcessesInProgress,
				PF.LastProcessFinished,
				BVTDecision = dbo.fn_GetBVTDecision(s.LabID, s.SeBuildDate, s.LocaleSetID, s.SeRevision),
				SG.GrName AS InProgressGrName,
				SGP.PrName AS InProgressPrName,
				LLE.LastLogTimeStamp,
				s.BugDatabaseID,
				s.SeBuildDetailUrl,
                s.SeTeamProjectUrl,
				CAST(CASE WHEN prc.LabID IS NULL THEN 0 ELSE 1 END AS BIT) AS IsPRC,
				ISNULL(TS.StatusId, 0) TestStatusId
	INTO		#Sessions
	FROM		#SessionID SID
	INNER JOIN	tbl_Session s WITH (NOLOCK)
					ON (S.SessionID = SID.SessionId)
	INNER JOIN	tlkp_Flavor F WITH (NOLOCK)
					ON S.FlavorID = F.FlavorID
	LEFT JOIN	LogSummary W
					ON SID.SessionID = W.SessionID AND W.CategoryID = 2
	LEFT JOIN	LogSummary E
					ON SID.SessionID = E.SessionID AND E.CategoryID = 3
	LEFT JOIN	LogSummary SW
					ON SID.SessionID = SW.SessionID AND SW.CategoryID = 4
	LEFT JOIN	ErrorSummary NE
					ON SID.SessionID = NE.SessionID AND NE.CategoryID = 3
	LEFT JOIN	ErrorSummary NSW
					ON SID.SessionID = NSW.SessionID AND NSW.CategoryID = 4
	LEFT JOIN	tbl_SessionBVT BVT WITH (NOLOCK)
					ON S.SessionID = BVT.SessionID
	LEFT JOIN	Processes P WITH (NOLOCK)
					ON S.SessionID = P.SessionID
	LEFT JOIN	ProcessesFinished PF WITH (NOLOCK)
					ON S.SessionID = PF.SessionID
	LEFT JOIN	InProgressProcess IPP
				ON S.SessionID = IPP.SessionID
	LEFT JOIN	#Setups setup
				ON S.SessionID = setup.SessionID
	LEFT JOIN	tbl_SessionGroupProcessStatus SGPS WITH (NOLOCK)
				ON IPP.SessionGroupProcessStatusID = SGPS.SessionGroupProcessStatusID
	LEFT JOIN	dbo.tbl_SchemaGroupProcess SGP WITH (NOLOCK)
				ON SGP.SchemaGroupProcessID = SGPS.SchemaGroupProcessID
	LEFT JOIN   dbo.tbl_SchemaGroup SG WITH (NOLOCK)
				ON SG.SchemaGroupID = SGP.SchemaGroupID
	LEFT JOIN	LastLogEntry LLE
				ON LLE.SessionID = S.SessionID
	LEFT JOIN	dbo.vw_PRCMapping prc WITH (NOLOCK)
				ON prc.LabID = s.LabID AND prc.LocaleSetID = s.LocaleSetID
	LEFT JOIN	#TestStatus TS
				ON TS.SessionID = S.SessionID
	WHERE		s.LocaleSetID IS NOT NULL
	ORDER BY    SID.RowNumber

	SELECT	*
	FROM	#Sessions
	
	-- Flavor.
	SELECT	DISTINCT F.*
	FROM	tlkp_Flavor F WITH (NOLOCK)
			INNER JOIN #Sessions S
				ON F.FlavorID = S.FlavorID	
		
	-- TargetArchitecture.
	SELECT	DISTINCT TA.*
	FROM	tlkp_TargetArchitecture TA WITH (NOLOCK)
			INNER JOIN #Sessions S
				ON TA.TargetArchitectureID = S.TargetArchitectureID

	-- LocaleSet.
	SELECT	DISTINCT LS.*
	FROM	tlkp_LocaleSet LS WITH (NOLOCK)
			INNER JOIN #Sessions S
				ON LS.LocaleSetID = S.LocaleSetID		

	-- Lab.
	SELECT	DISTINCT L.*
	FROM	tbl_Lab L WITH (NOLOCK)
	JOIN	#Sessions S
				ON L.LabID = S.LabID		

	-- Resume Status.
	SELECT	DISTINCT FS.*
    FROM    tlkp_FixStatus FS
	JOIN	#Sessions S
                ON S.ResumeStatusID = FS.FixStatusID

	SELECT	SS.SessionID, SchemaGroupID, SG.SchemaID, S.SeBuildMachine
	INTO	#SchemaGroups	
	FROM	dbo.tbl_SchemaGroup SG WITH (NOLOCK)
	JOIN	tbl_Session S WITH (NOLOCK)
			ON S.SchemaID = SG.SchemaID
	JOIN	#Sessions SS 
			ON (SS.SessionID = S.SessionID)
	WHERE	SG.IsTest = 0

	-- Machines
	SELECT	DISTINCT SG.SessionID, ISNULL(SGP.MachineName, SG.SeBuildMachine) AS MachineName
	FROM	tbl_SchemaGroupProcess SGP WITH (NOLOCK)
	JOIN	#SchemaGroups SG
			ON SG.SchemaID = SGP.SchemaID AND SG.SchemaGroupID = SGP.SchemaGroupID

	-- Issues.
	SELECT	DISTINCT SI.SessionID, SI.IssueID
    INTO    #Issues
	FROM	atbl_SessionIssue SI WITH (NOLOCK)
	JOIN	#SessionID S
				ON SI.SessionID = S.SessionID	

	SELECT	DISTINCT I.SessionID, ISS.*,
			TestBuild = CASE WHEN EXISTS(
                                    SELECT  SI.SessionID
				                    FROM	atbl_SessionIssue SI WITH (NOLOCK)
				                    JOIN	tbl_Session S WITH (NOLOCK)
							                    ON SI.SessionID = S.SessionID
				                    WHERE	S.SeTestBuild = 0			
				                    AND		SI.IssueID = ISS.IssueID) THEN 0
                             ELSE 1
                        END
	FROM	tbl_Issue ISS WITH (NOLOCK)
	JOIN	#Issues I WITH (NOLOCK)
				ON (ISS.IssueID = I.IssueID)
	WHERE	ISS.IsDeleted = 0

	-- Severity
	SELECT	DISTINCT SE.*
	FROM	tlkp_Severity SE WITH (NOLOCK)
	JOIN	tbl_Issue ISS WITH (NOLOCK)
				ON SE.SeverityID = ISS.SeverityID
	JOIN	#Issues I WITH (NOLOCK)
				ON ISS.IssueID = I.IssueID

    -- Fix
	SELECT	MAX(F.FixId) AS FixId
    INTO    #Fixes
	FROM	tbl_Fix F WITH (NOLOCK)
	JOIN	#Issues I
                ON I.IssueID = F.IssueID
    GROUP BY I.IssueID

    SELECT  F.*
    FROM    tbl_Fix F WITH (NOLOCK)
    JOIN    #Fixes Fixes
                ON (F.FixId = Fixes.FixId)

    -- FixType
	SELECT	DISTINCT FT.*
	FROM	tlkp_FixType FT WITH (NOLOCK)
	JOIN 	tbl_Fix F WITH (NOLOCK)
                ON F.FixTypeID = FT.FixTypeID
    JOIN    #Fixes Fixes
                ON F.FixId = Fixes.FixId

	-- Session Fixes.
	SELECT	F.IssueID, SF.*, S.LabID
    FROM    tbl_SessionFix SF WITH (NOLOCK)
	JOIN 	tbl_Fix F WITH (NOLOCK)
                ON F.FixID = SF.FixID
    JOIN    #Fixes Fixes
                ON F.FixId = Fixes.FixId
    JOIN    tbl_Session S WITH (NOLOCK)
                ON S.SessionID = SF.SessionID

	-- Fix Status.
	SELECT	DISTINCT FS.*
    FROM    tlkp_FixStatus FS
    JOIN    tbl_SessionFix SF WITH (NOLOCK)
                ON SF.FixStatusID = FS.FixStatusID
	JOIN 	tbl_Fix F WITH (NOLOCK)
                ON F.FixID = SF.FixID
    JOIN    #Fixes Fixes
                ON F.FixId = Fixes.FixId

	-- Cleanup.
	DROP TABLE	#Fixes
    DROP TABLE  #Issues
	DROP TABLE	#Sessions
	DROP TABLE	#SessionID
	DROP TABLE	#Setups
	DROP TABLE	#TestStatus
	DROP TABLE  #SchemaGroups
END
GO
