USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_DeleteSessionsWithLabLocaleRevision]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_DeleteSessionsWithLabLocaleRevision]
    @Lab varchar(100),
    @LocaleSet varchar(100),
    @Revision varchar(100)
    
AS
    DECLARE @LabID int
    DECLARE @LocaleSetID int
    
    SELECT @LabID = LabID
    FROM tbl_Lab
    WHERE LaName = @Lab
    
    SELECT @LocaleSetID = LocaleSetID
    FROM tlkp_LocaleSet
    WHERE LoShortName = @LocaleSet
    
    IF @LabID > 0 AND @LocaleSetID > 0
    BEGIN
        DELETE FROM tbl_Session
        WHERE LabID = @LabID
              AND LocaleSetID = @LocaleSetID
              AND SeRevision = @Revision
    END
    
    RETURN
GO
