USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteGroupProcessFromSchema]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteGroupProcessFromSchema]
(
	@SchemaGroupProcessID int
)
AS
	SET NOCOUNT ON
	
	UPDATE tbl_SchemaGroupProcess
	   SET PrOrder = PrOrder - 1
	 WHERE PrOrder > (SELECT PrOrder
						FROM tbl_SchemaGroupProcess
					   WHERE SchemaGroupProcessID = @SchemaGroupProcessID)
	   AND SchemaGroupID = (SELECT SchemaGroupID
						FROM tbl_SchemaGroupProcess
					   WHERE SchemaGroupProcessID = @SchemaGroupProcessID)
	
	DELETE 
	  FROM tbl_SchemaGroupProcess
	 WHERE SchemaGroupProcessID = @SchemaGroupProcessID
	
	RETURN 
GO
