USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetFixes]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[up_GetFixes]
(
	@FixIDs varchar(max)
)
AS
BEGIN
	SET NOCOUNT ON

	-- Fixes.
	SELECT	f.*
	INTO	#Fixes	
	FROM	tbl_Fix f WITH (NOLOCK)
    JOIN    dbo.fn_ParseCommaDelimitedList(@FixIDs) i
				ON (f.FixID = i.ItemID)

    -- Fix
    SELECT * 
    FROM    #Fixes

    -- FixType
	SELECT	DISTINCT ft.*
	FROM	tlkp_FixType ft WITH (NOLOCK)
	JOIN 	tbl_Fix f WITH (NOLOCK)
                ON (f.FixTypeID = ft.FixTypeID)
    JOIN    #Fixes fixes
                ON (f.FixId = fixes.FixId)

	-- Session Fixes.
	SELECT	f.IssueID, sf.*, s.LabID
    FROM    tbl_SessionFix sf WITH (NOLOCK)
	JOIN 	tbl_Fix f WITH (NOLOCK)
                ON f.FixID = sf.FixID
    JOIN    #Fixes fixes
                ON (f.FixId = fixes.FixId)
    JOIN    tbl_Session s WITH (NOLOCK)
                ON s.SessionID = sf.SessionID

	-- Fix Status.
	SELECT	DISTINCT fs.*
    FROM    tlkp_FixStatus fs
    JOIN    tbl_SessionFix sf WITH (NOLOCK)
                ON sf.FixStatusID = fs.FixStatusID
	JOIN 	tbl_Fix f WITH (NOLOCK)
                ON f.FixID = sf.FixID
    JOIN    #Fixes fixes
                ON (f.FixId = fixes.FixId)


	-- Cleanup.
	DROP TABLE	#Fixes
END




























GO
