USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionIssues2]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSessionIssues2]
(
	@SessionID int
)
AS
	SET NOCOUNT ON
	
	SELECT i.*, lg.*, sv.SeName, s.SourceID, s.SoName As Source, ss.SubSourceID, ss.SuName As SubSource
	  FROM tbl_Issue i WITH (NOLOCK)
	  JOIN tbl_SessionIssue iss WITH (NOLOCK) ON (i.IssueID = iss.IssueID)
 LEFT JOIN tbl_IssueLog lg WITH (NOLOCK) ON (i.IssueID = lg.IssueID)
	  JOIN tlkp_Severity sv WITH (NOLOCK) ON (i.SeverityID = sv.SeverityID)
 LEFT JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (i.IssueID = isrc.IssueID)
 LEFT JOIN tlkp_Source s WITH (NOLOCK) ON (isrc.SourceID = s.SourceID)
 LEFT JOIN tbl_IssueSubSource isss WITH (NOLOCK) ON (i.IssueID = isss.IssueID)
 LEFT JOIN tlkp_SubSource ss WITH (NOLOCK) ON (isss.SubSourceID = ss.SubSourceID)
	 WHERE iss.SessionID = @SessionID
	   AND i.IsDeleted = 0
  ORDER BY i.IsClosed, i.IsDateCreated DESC, i.IssueID, lg.LoDateCreated DESC
	
	
	RETURN 
GO
