USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_IssueTicket]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_IssueTicket](
	[IssueTicketId] [int] IDENTITY(1,1) NOT NULL,
	[IssueID] [int] NOT NULL,
	[TicketNumber] [int] NOT NULL,
	[TicketSystemId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_IssueTechease] PRIMARY KEY CLUSTERED 
(
	[IssueTicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_IssueTicket] ADD  DEFAULT ((1)) FOR [TicketSystemId]
GO
ALTER TABLE [dbo].[tbl_IssueTicket]  WITH CHECK ADD FOREIGN KEY([TicketSystemId])
REFERENCES [dbo].[tlkp_TicketSystem] ([TicketSystemId])
GO
