USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateLab]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateLab]
(
	@LabID int,
	@ShortName varchar(50),
	@Name varchar(50),	
	@Description varchar(255),
	@Branch varchar(50),
	@BVTCode varchar(50),
	@Owner varchar(20),
	@RIFI bit,
	@BFDGroupID int,
	@Private bit,
	@Status bit,
	@AutoDropRemove bit = 0,
	@Decision bit,
	@IssueHandoffReminderInterval int,
	@IssueReminderInterval int,
	@MilestoneID int,
	@CLRTestLab int,
	@MSDN bit,
	@AutoOpenIssues bit,
	@AutoAssignToBuildLab bit = 1,
	@AutoAssignIssueExceptions varchar(500) = NULL,
	@OrgID int,
	@ParentLabID int,
	@MSDNLabID int,
	@DropManagement bit,
	@DropProjectID int,	
	@PUID int = NULL,
	@CostEaseProjectID int = NULL,
	@BuildMachinesAreReleasedPartially bit = 0,
	@SourceControlID int = 2,
	@UserAlias varchar(20),
	@AutoLaunch bit = 0,
	@AutoAbandon bit = 1,
	@ConcurrentLimit int = null,
	@IntervalLimit int = null,
	@IntervalLimitWindow char(1) = null,
	@SourceControlPath varchar(2000),
	@BugDatabaseID int = null,
	@ToolsBaseline decimal(9, 5)
)
AS
/*	Modified by	Date		Change
	***********************************************************
	a-karthp		08/22/2005	Recreated the sproc
	a-karthp		09/12/2005	Added an additional column MSDNLabID
	a-karthp		10/11/2005	Modified the code to store changes in BFDGroup instead of BFDGroupID
	abjork			03/30/2006	Updates for drop management.
	a-paring		04/14/2009  Product and Costeast project changes are logged in the log table.
	a-joeyj			04/23/2009	Added support for LaBuildMachinesAreReleasedPartially column
	a-joeyj			04/23/2009	Added support for setting SourceControlID column
	jasward			04/02/2010	Added support for SourceControlPath column
	jasward			08/13/2010	Added support for BugDatabaseID column
	jokeech         12/05/2014  Added support for LaToolsBaseline column
    nango			03/17/2015	Move to sp_UpdateLabWithGit, this sp is keep for compatable reason
*/
	exec sp_UpdateLabWithGit @LabID, @ShortName, @Name, @Description, @Branch, @BVTCode, @Owner, @RIFI, @BFDGroupID, @Private, @Status
            , @AutoDropRemove, @Decision, @IssueHandoffReminderInterval, @IssueReminderInterval, @MilestoneID, @CLRTestLab, @MSDN
            , @AutoOpenIssues, @AutoAssignToBuildLab, @AutoAssignIssueExceptions, @OrgID, @ParentLabID, @MSDNLabID, @DropManagement
            , @DropProjectID, @PUID, @CostEaseProjectID, @BuildMachinesAreReleasedPartially, @SourceControlID, @UserAlias, @AutoLaunch
            , @AutoAbandon, @ConcurrentLimit, @IntervalLimit, @IntervalLimitWindow, @SourceControlPath, @BugDatabaseID, @ToolsBaseline, NULL, NULL
GO
