USE [LabStatus]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetNextSessionGroupHid]    Script Date: 1/28/2026 12:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		MiArme
-- Create date: 05/01/2012
-- Description:	Creates a new hid under the parent root
-- =============================================
CREATE FUNCTION [dbo].[fn_GetNextSessionGroupHid]
()
RETURNS HIERARCHYID
AS
BEGIN
    DECLARE @new_hid AS HIERARCHYID
    DECLARE @parent_id AS HIERARCHYID
    DECLARE @last_child AS HIERARCHYID
                
    -- Insert the session group under the root
    SET @parent_id = HIERARCHYID::GetRoot()            
    
    -- Get the last child under the parent retrieved above
    SELECT @last_child=MAX(hid) FROM tbl_SessionGroup WHERE lvl = 1
    
    -- Get a new child, positioned after the last child
    SET @new_hid = @parent_id.GetDescendant(@last_child, NULL)
    
    RETURN @new_hid

END
GO
