USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSourceControls]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[up_GetSourceControls] 
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM tlkp_SourceControl
END

GO
