USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLabsAndMilestonesForStatusPage]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLabsAndMilestonesForStatusPage]
AS
	SET NOCOUNT ON
	
	SELECT *
	  FROM tbl_Milestone
	 WHERE MiActive = 1
  ORDER BY MiOrder
	
	SELECT *
	  FROM tbl_Lab WITH (NOLOCK)	 
	 WHERE LaStatus = 1
  ORDER BY LaOrder

	RETURN 
GO
