USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_TeamStats_GetOrgCount]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[up_TeamStats_GetOrgCount]
AS
select count(*) from tbl_Org
GO
