USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetWorkItemsForBuildStarted]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_GetWorkItemsForBuildStarted]
	(
		@StartTime DATETIME,
		@EndTime DATETIME
	)
AS

SET NOCOUNT ON

SELECT  DISTINCT RequestID
FROM	tbl_Session s
JOIN	LaunchPad.dbo.tbl_RequestBuild rb
		ON s.SessionID = rb.SessionID
WHERE SeStarted BETWEEN @StartTime AND @EndTime




GO
