USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTargetArchitectures]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTargetArchitectures]
AS
	SET NOCOUNT ON
	
	SELECT TargetArchitectureID, TaName, TaDescription
	  FROM tlkp_TargetArchitecture WITH (NOLOCK)
	
	RETURN 
GO
