USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_IssueHandoffReminder]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_IssueHandoffReminder]
AS
	SET NOCOUNT ON
	
	SELECT *, DATEDIFF(mi, IsPendingSince, GetDate()) As IssuePendingAge
	  FROM tbl_Issue WITH (NOLOCK)
 --LEFT JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (tbl_Issue.IssueID = isrc.IssueID)
	 WHERE DATEDIFF(mi, IsPendingSince, GetDate()) > 10 -- returns issues that have been pending for more than 10 minutes
  	   AND DATEDIFF(dd, IsPendingSince, GetDate()) = 0 -- that was opened today
  	   --AND isrc.SourceID NOT IN (11)
	   AND IsClosed = 0		 -- is an OPEN issue
	   AND IsDeleted = 0	 -- is a NON-DELETED issue
	   AND IsPendingSince IS NOT NULL	 -- is still PENDING
	   AND IsMachineAccessOnly = 0
	   
	RETURN 



GO
