USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllSources]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllSources]
AS
	SET NOCOUNT ON
	
	SELECT SourceID, SoName, SoDescription
	  FROM tlkp_Source WITH (NOLOCK)
	 WHERE SoActive = 1
  ORDER BY SoOrder ASC	
	
	RETURN 

GO
