USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMyBuilds]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetMyBuilds]
	(
		@UserID varchar(50)
	)
AS
	SET NOCOUNT ON	
	
	SELECT s.SessionID, s.SeBuildMachine As BuildMachine, s.SeRevision As Revision, s.StatusID, s.SeComment, s.SeSetups, s.SeSetupsFinished, s.FlavorID, s.TargetArchitectureID, s.MilestoneID, s.LocaleSetID, s.SeDropPath As DropPath, m.MiName As Milestone, l.LaName As Lab, l.LaBVTCode As BVTLab, m.MiBVTCode As BVTMilestone, s.SeStarted As SessionStarted, s.SeBuildDate As BuildDate, s.SeManuallyStalled As ManuallyStalled, s.SeDelayed As Delayed, s.SeRawDropAbandoned, s.SeLayoutsAbandoned, us.SeComment As MyBuildComment, us.UserSessionID 
			, IssueCount = 
				(
					SELECT COUNT(i.IssueID)
 					  FROM tbl_Issue i WITH (READPAST)
					  JOIN tbl_SessionIssue iss WITH (READPAST) ON (i.IssueID = iss.IssueID)
					 WHERE s.SessionID = iss.SessionID
					   AND i.IsDeleted = 0
					   AND i.IsClosed = 1
				)				
			, BlockingIssueCount = 
				(
					SELECT COUNT(i.IssueID)
 					  FROM tbl_Issue i WITH (READPAST)
					  JOIN tbl_SessionIssue iss WITH (READPAST) ON (i.IssueID = iss.IssueID)
					 WHERE s.SessionID = iss.SessionID
					   AND i.IsDeleted = 0
					   AND i.IsClosed = 0
					   AND i.SeverityID = 2
				)		
			, NonBlockingIssueCount = 
				(
					SELECT COUNT(i.IssueID)
 					  FROM tbl_Issue i WITH (READPAST)
					  JOIN tbl_SessionIssue iss WITH (READPAST) ON (i.IssueID = iss.IssueID)
					 WHERE s.SessionID = iss.SessionID
					   AND i.IsDeleted = 0
					   AND i.IsClosed = 0
					   AND i.SeverityID = 1
				)				
			, Stalled = 
				(
					/* Select a 1 if there are steps currently running */
					SELECT DISTINCT COUNT(sgps6.SessionGroupProcessStatusID)
					  FROM tbl_SchemaGroupProcess sgp6 WITH (READPAST) 	
					  JOIN tbl_SessionGroupProcessStatus sgps6 WITH (READPAST) ON (sgp6.SchemaGroupProcessID = sgps6.SchemaGroupProcessID AND (sgps6.StatusID = 2 OR sgps6.StatusID = 4))
					 WHERE s.SessionID = sgps6.SessionID
					   AND (sgps6.StatusID = 2 OR sgps6.StatusID = 4 OR sgps6.StatusID = 9)
					   AND sgps6.Skip = 0
				)	
			, LastStep = 
				(
					/* Select a 1 if there are steps currently running */
					SELECT DISTINCT MAX(sgps.ProcessFinished)
					  FROM tbl_SessionGroupProcessStatus sgps7 WITH (READPAST)
				 	 WHERE s.SessionID = sgps7.SessionID
				 	   AND (sgps7.StatusID = 3 OR sgps7.StatusID = 5 OR sgps7.StatusID = 6 OR sgps7.StatusID = 8)
					   AND sgps7.Skip = 0
				)
			, LastError = 
				(
					/* Select the latest error */
					SELECT DISTINCT MAX(lg.LoDateTimeLogged)
					  FROM tbl_Log lg WITH (READPAST)
					 WHERE s.SessionID = lg.SessionID
				 	   AND (lg.CategoryID = 3)
				)
			, NewErrors = 
				(
					/* Count the number of new errors */
					SELECT COUNT(le.LogEntryID)
					  FROM tbl_LogError le WITH (READPAST)
					 WHERE le.SessionID = s.SessionID
					   AND le.Processed = 0
					   AND le.CategoryID = 3
				)
			, NewStalls = 
				(
					/* Count the number of new stalls */
					SELECT COUNT(le.LogEntryID)
					  FROM tbl_LogError le WITH (READPAST)
					 WHERE le.SessionID = s.SessionID
					   AND le.Processed = 0
					   AND le.CategoryID = 4
				)
			, StalledProcesses = 
				(
					/* Select the number of stalled processes */
					SELECT DISTINCT COUNT(sgps8.SessionGroupProcessStatusID)
					  FROM tbl_SessionGroupProcessStatus sgps8 WITH (READPAST)
					 WHERE s.SessionID = sgps8.SessionID
				 	   AND sgps8.Stalled = 1
				)	
	  INTO #ResultsMyBuilds
	  FROM tbl_Session s WITH (READPAST)
	  JOIN tbl_SessionGroupStatus sgs WITH (READPAST) ON (s.SessionID = sgs.SessionID)
	  JOIN tbl_SessionGroupProcessStatus sgps WITH (READPAST) ON (s.SessionID = sgps.SessionID)
	  JOIN tbl_SchemaGroup sg WITH (READPAST) ON (sgs.SchemaGroupID = sg.SchemaGroupID)
	  JOIN tbl_SchemaGroupProcess sgp WITH (READPAST) ON (sg.SchemaGroupID = sgp.SchemaGroupID)
	  JOIN tbl_Lab l WITH (READPAST) ON (s.LabID = l.LabID)
	  JOIN tbl_Milestone m WITH (READPAST) ON (s.MilestoneID = m.MilestoneID)
	  JOIN tbl_UserSession us WITH (READPAST) ON (s.SessionID = us.SessionID)
	 WHERE us.UserID = @UserID
	   AND us.SeRemoved = 0
  GROUP BY s.SessionID, s.SeBuildMachine, s.SeRevision, s.StatusID, sgs.Skip, s.SeComment, s.SeSetups, s.SeSetupsFinished, s.FlavorID, s.TargetArchitectureID, s.MilestoneID, s.LocaleSetID, s.StatusID, s.SeDropPath, l.LaName, l.LaBVTCode, m.MiName, m.MiBVTCode, s.SeStarted, s.SeBuildDate, s.SeManuallyStalled, s.SeDelayed, s.SeRawDropAbandoned, s.SeLayoutsAbandoned, us.SeComment, us.UserSessionID 
  
	SELECT tp.*, f.FlName As Flavor, f.FlBVTCode As BVTFlavor, f.FlOrder, ta.TaName As TargetArchitecture, ta.TaBVTCode As BVTTargetArchitecture, ls.LoName As [Language], st.StName As SessionStatus, st.StColor, c.CaName, c.CaColor, c.CaOrder, c.CategoryID, c.CategoryTypeID, sbvt.RawBVTs, sbvt.RawStatus, sbvt.RawLink, sbvt.LayoutBVTs, sbvt.LayoutStatus, sbvt.LayoutLink, sbvt.LastUpdated As BVTsLastUpdated
	  FROM #ResultsMyBuilds tp WITH (READPAST)
  	  JOIN tlkp_Status st WITH (READPAST) ON (tp.StatusID = st.StatusID)
	  JOIN tlkp_Flavor f WITH (READPAST) ON (tp.FlavorID = f.FlavorID)
	  JOIN tlkp_TargetArchitecture ta WITH (READPAST) ON (tp.TargetArchitectureID = ta.TargetArchitectureID)
	  JOIN tlkp_LocaleSet ls WITH (READPAST) ON (tp.LocaleSetID = ls.LocaleSetID)
 LEFT JOIN tbl_SessionBVT sbvt WITH (READPAST) ON (tp.SessionID = sbvt.SessionID)
 LEFT JOIN tbl_Log l WITH (READPAST) ON (tp.SessionID = l.SessionID)
 LEFT JOIN tlkp_Category c WITH (READPAST) ON (l.CategoryID = c.CategoryID)
  GROUP BY tp.SessionID, tp.BuildMachine, tp.BlockingIssueCount, tp.NonBlockingIssueCount, tp.IssueCount, tp.Stalled, tp.LastStep, tp.LastError, tp.NewErrors, tp.NewStalls, tp.StalledProcesses, tp.Revision, tp.StatusID, tp.SeComment, tp.SeSetups, tp.SeSetupsFinished, tp.MilestoneID, tp.FlavorID, f.FlName, f.FlBVTCode, f.FlOrder, tp.TargetArchitectureID, tp.LocaleSetID, ta.TaName, ta.TaBVTCode, ls.LoName, st.StName, st.StColor, c.CaName, c.CaColor, c.CaOrder, c.CategoryID, c.CategoryTypeID, tp.DropPath, tp.Lab, tp.Milestone, tp.BVTLab, tp.BVTMilestone, tp.SessionStarted, tp.BuildDate, tp.ManuallyStalled, tp.Delayed, tp.SeRawDropAbandoned, tp.SeLayoutsAbandoned, tp.MyBuildComment, tp.UserSessionID, sbvt.RawBVTs, sbvt.RawStatus, sbvt.RawLink, sbvt.LayoutBVTs, sbvt.LayoutStatus, sbvt.LayoutLink, sbvt.LastUpdated
  ORDER BY tp.Revision DESC, tp.LocaleSetID, tp.TargetArchitectureID, f.FlOrder ASC, tp.SessionID, c.CaOrder ASC
  
	DROP TABLE #ResultsMyBuilds

	RETURN 

GO
