USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateLogErrorAsUnProcessed]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateLogErrorAsUnProcessed]
(
	@LogEntryID int,
	@Username varchar(50)
)
AS
	SET NOCOUNT ON
	
	UPDATE tbl_LogError WITH (ROWLOCK)
	   SET Processed = 0
	 WHERE LogEntryID = @LogEntryID	
	    
	RETURN 

GO
