USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetOtherBuildsByLabBySession]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_GetOtherBuildsByLabBySession]
	(
		@SessionID int
	)
AS
	SET NOCOUNT ON
	
	DECLARE @OrgID int
	DECLARE @LabID int
	SELECT  @OrgID = OrgID, @LabID = s.LabID
	  FROM  tbl_Session s WITH (NOLOCK)
	  JOIN  tbl_Lab l WITH (NOLOCK) 
                ON (s.LabID = l.LabID)
	 WHERE  SessionID = @SessionID
	
	DECLARE @SessionDate datetime
	SELECT  @SessionDate = SeBuildDate
	  FROM  tbl_Session WITH (NOLOCK)
	 WHERE  SessionID = @SessionID	
 	   AND  SeRevision NOT LIKE '%_DEL%'

	SELECT	s.SessionID
	  INTO	#Sessions
	  FROM  tbl_Session s WITH (NOLOCK)
	  JOIN  tbl_Lab l WITH (NOLOCK) 
                ON (s.LabID = l.LabID)
	  JOIN  tbl_Milestone m WITH (NOLOCK) 
                ON (s.MilestoneID = m.MilestoneID)
	  JOIN  tlkp_Flavor f WITH (NOLOCK) 
                ON (s.FlavorID = f.FlavorID)
	  JOIN  tlkp_TargetArchitecture ta WITH (NOLOCK) 
                ON (s.TargetArchitectureID = ta.TargetArchitectureID)
	 WHERE  s.SeRevision NOT LIKE '%_DEL%'
       AND  DATEDIFF(d, s.SeBuildDate, @SessionDate) < 1
       AND  DATEDIFF(d, @SessionDate, s.SeBuildDate) < 1
       --AND l.VBL = 1
	   AND  l.LaPrivate = 0
       AND  l.OrgID = @OrgID
	   AND  l.MilestoneID NOT IN (6, 17) -- PRIVATE and OTG
  ORDER BY  l.LaName, s.SeRevision DESC, ta.TaName DESC, f.FlOrder

	INSERT INTO #Sessions
	SELECT	DISTINCT si.SessionID
	  FROM  atbl_SessionIssue si WITH (NOLOCK) 
	  JOIN  atbl_SessionIssue si2 WITH (NOLOCK) 
                ON (si2.IssueID = si.IssueID)
	 WHERE  si2.SessionID = @SessionID
	   AND	si.SessionID NOT IN (SELECT SessionID FROM #Sessions)
	
	DECLARE @SessionIDs varchar(max) 
	SELECT  @SessionIDs = COALESCE(@SessionIDs + ',', '') + CONVERT(varchar(20), s.SessionID) 
	FROM	#Sessions s
	 
	DROP TABLE #Sessions

	EXEC up_GetSessions @SessionIDs
	
	RETURN
GO
