USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOrgBySession]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetOrgBySession]
(
	@SessionID int
)
AS
	SET NOCOUNT ON
	
	SELECT o.*
	  FROM tbl_Session s WITH (NOLOCK)
	  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID AND s.SessionID = @SessionID)
	  JOIN tbl_Org o WITH (NOLOCK) ON (l.OrgID = o.OrgID)
  
	RETURN 
GO
