USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_Log4]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Log4]
	(
		@Revision varchar(50),
		@Lab varchar(50),
		@Product varchar(50),
		@Parameters varchar(4000),
		@Group varchar(50),
		@Process varchar(50) = NULL,
		@Category varchar(50),
		@Log varchar(7200),
		@LogDateTime varchar(50),
		@MachineName varchar(50)
	)
AS

	/*	Modified by		Date		Change
		*****************************************************
		abjork			08/19/2005	Created sproc
		
	*/

	SET NOCOUNT ON
	DECLARE @Err varchar(4000) = ''
	DECLARE @AddGroupToSchemaAttemptCount int = 0
	DECLARE @AddProcessToGroupAttemptCount int = 0
	DECLARE @UpdateProcessAttemptCount int = 0

	-- First we need to create a log footprint.  This piece is outside the transaction
	-- because we want to log EVERYTHING - even if the transaction fails.	
	DECLARE @FootPrintLog varchar(255) = NULL
	IF LEN(@Log) > 50
		SELECT @FootPrintLog = LEFT(@Log, 50) + '...'
	ELSE
		SELECT @FootPrintLog = @Log

	do_log:
	
		BEGIN TRANSACTION	
		BEGIN TRY

			DECLARE	@SessionID int = NULL
			DECLARE @SchemaID int = NULL
			DECLARE @StatusID int = NULL

			-- Create/retreive the session and schema IDs.  These will be used for reporting status
			-- for this particular build.
			EXEC sp_GetSessionID3 @Revision, @Lab, @Product, @Parameters, @LogDateTime, @MachineName, @SessionID OUTPUT, @SchemaID OUTPUT, @StatusID OUTPUT
		
			IF @SessionID IS NULL
				GOTO on_err	
				
			-- Reset the stalled value if necessary.	
			DECLARE @ManuallyStalledStep varchar(50)	
			SELECT	@ManuallyStalledStep = SeManuallyStalledStep	
			FROM	tbl_Session WITH (NOLOCK)
			WHERE	SessionID = @SessionID
		
			IF (@ManuallyStalledStep IS NOT NULL)
				BEGIN
					SELECT	@Err = 'Reset the manually stalled indicator.'
					UPDATE	tbl_Session WITH (ROWLOCK)
					SET		SeManuallyStalled = NULL,
							SeDelayed = 0
					WHERE	SessionID = @SessionID
					IF @@ERROR <> 0 GOTO on_err	
				END

			-- @RunNumber is used to track the number of times this step has run.  If it's 
			-- the first run, the step will have a run number = 1.
			-- But if the step has been restarted at all it will be 2, 3, and so on.
			DECLARE	@RunNumber int = NULL

			-- Schema/session group/process variables.
			DECLARE	@SchemaGroupID int = NULL
			DECLARE @SchemaGroupProcessID int = NULL
			DECLARE @SessionGroupStatusID int = NULL
			DECLARE @SessionGroupProcessStatusID int = NULL
			DECLARE	@SessionGroupStarted datetime = NULL
		
			-- Grab the SchemaGroupID of this group.
			SELECT	@SchemaGroupID = sg.SchemaGroupID
			FROM	tbl_SchemaGroup sg WITH (NOLOCK)
			WHERE	sg.SchemaID = @SchemaID 
			AND		sg.GrName = @Group

			IF @SchemaGroupID IS NULL
				-- If it doesn't exist, let's insert it.
				BEGIN
					EXEC sp_Log3Internal_AddGroupToSchema @SchemaID, @SessionID, @Group, @SchemaGroupID OUTPUT, @SessionGroupStatusID OUTPUT
					--SET @SessionGroupStarted = @LogDateTime
				
					IF @SchemaGroupID IS NULL
						BEGIN					
							-- If SchemaGroupID is still null, it means the group was already added to the 
							-- database. This can occur when multiple processes for a group are being added/updated
							-- instantaneously when the group does not already exist. 
							-- We can just rollback this transaction and begin from the start.
							-- The attempt count is a safe-guard against infinite retries. 
							SET @AddGroupToSchemaAttemptCount = @AddGroupToSchemaAttemptCount + 1
						
							IF @AddGroupToSchemaAttemptCount = 3
								BEGIN
									goto on_err
								END
							
							ROLLBACK TRANSACTION
							goto do_log
						END
								
					SET @RunNumber = 1
				END		

			-- Grab the SchemaGroupProcessID of this process.
			SELECT	@SchemaGroupProcessID = sgp.SchemaGroupProcessID
			FROM	tbl_SchemaGroupProcess sgp WITH (NOLOCK)
			WHERE	sgp.SchemaID = @SchemaID 
			AND		sgp.SchemaGroupID = @SchemaGroupID
			AND		sgp.PrName = @Process

			IF @SchemaGroupProcessID IS NULL
				-- The process does not exist in the group, so try to add it.
				BEGIN
					EXEC sp_Log3Internal_AddProcessToSchema @SchemaID, @SessionID, @SchemaGroupID, @Process, @SchemaGroupProcessID OUTPUT, @SessionGroupProcessStatusID OUTPUT

					IF @SchemaGroupProcessID IS NULL
						BEGIN
							-- If SchemaGroupProcessID is still null, it means the process was already added to the 
							-- group. This can occur when a process for a group is being updated instantaneously.
							-- For example, there could be a sproc call to create the process group, and a sproc call
							-- to start the process at the same time.
							-- We can just rollback this transaction and begin from the start.
							-- The attempt count is a safe-guard against infinite retries. 
							SET @AddProcessToGroupAttemptCount = @AddProcessToGroupAttemptCount + 1	
							IF @AddProcessToGroupAttemptCount = 3
								BEGIN
									goto on_err
								END

							ROLLBACK TRANSACTION
							goto do_log
						END

					SET @RunNumber = 1
				END		
			
			-- Select the CategoryID of this log event.
			DECLARE		@CategoryID	int = NULL
			SELECT		@CategoryID = CategoryID 
			FROM		tlkp_Category WITH (NOLOCK)
			WHERE		CaShortName = @Category

			IF @RunNumber IS NULL
				-- We get the maximum run number of this step.  If it's the first run, the step will have a run number = 1.
				-- But if the step has been restarted at all it will be 2, 3, and so on.
				BEGIN
					SELECT		@RunNumber = Max(sgps.RunNumber)
					FROM		tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
					JOIN		tbl_SchemaGroupProcess sgp WITH (NOLOCK) 
									ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID 
									AND sgps.SchemaGroupProcessID = @SchemaGroupProcessID		-- Added.
									AND sgp.PrName = @Process)
					JOIN		tbl_Session s WITH (NOLOCK) 
									ON (sgp.SchemaID = s.SchemaID 
									AND s.SessionID = @SessionID)
					WHERE		sgps.SessionID = @SessionID
					GROUP BY	sgps.SchemaGroupProcessID
				END
		
			IF @SessionGroupProcessStatusID IS NULL
				-- Get the SessionGroupProcessStatusID of this process.
				BEGIN
					SELECT		@SessionGroupProcessStatusID = sgps.SessionGroupProcessStatusID
					FROM		tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
					JOIN		tbl_SchemaGroupProcess sgp WITH (NOLOCK) 
									ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID 
									AND sgps.SchemaGroupProcessID = @SchemaGroupProcessID		-- Added.
									AND sgp.PrName = @Process)
					JOIN		tbl_Session s WITH (NOLOCK) 
									ON (sgp.SchemaID = s.SchemaID
									AND s.SessionID = @SessionID)
					WHERE		sgps.SessionID = @SessionID
					AND			RunNumber = @RunNumber
				END

			IF @SessionGroupStatusID IS NULL
				-- Get the SessionGroupStatusID and the date/time this group was started.
				BEGIN
					SELECT		@SessionGroupStatusID = sgs.SessionGroupStatusID, 
								@SessionGroupStarted = sgs.GroupStarted
					FROM		tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
					JOIN		tbl_SchemaGroupProcess sgp WITH (NOLOCK) 
									ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID 
									AND sgps.SchemaGroupProcessID = @SchemaGroupProcessID		-- Added.
									AND sgps.SessionGroupProcessStatusID = @SessionGroupProcessStatusID)
					JOIN		tbl_SessionGroupStatus sgs WITH (NOLOCK) 
									ON (sgp.SchemaGroupID = sgs.SchemaGroupID)
					JOIN		tbl_Session s WITH (NOLOCK) 
									ON (sgs.SessionID = s.SessionID
									AND s.SessionID = @SessionID)
					WHERE		sgs.SessionID = @SessionID
				END
				
			-- At this point we have all the contextual information we need to make a status update to a group and process.
			-- However, updates to the same group and process combination must happen serially, so we first create a global mutex
			-- locking on the combination of @SessionGroupStatusID and @SessionGroupProcessStatusID
			-- Then, depending on @CategoryID and @Log parameters, we make the appropriate update(s).
			DECLARE @MutexName varchar(40) = CAST(@SessionGroupStatusID AS VARCHAR(20)) + CAST(@SessionGroupProcessStatusID AS VARCHAR(20))
			DECLARE @res INT 
			EXEC @res = sp_getapplock 
			@Resource = @MutexName, -- mutex name (truncated if longer than 255 characters)
			@LockMode = 'Exclusive',
			@LockOwner = 'Transaction', -- lock is automatically released once the current transaction ends
			@LockTimeout = 60000, -- timeout in milliseconds
			@DbPrincipal = 'public' -- db principal that has access permissions
			-- See more at: 
			-- http://www.sqlteam.com/article/application-locks-or-mutexes-in-sql-server-2005#sthash.hWLsGD5H.dpuf
			-- http://msdn.microsoft.com/en-us/library/ms189823.aspx

			IF @res NOT IN (0, 1) 
				BEGIN 
					SELECT @Err = 'Unable to acquire update mutex'
					goto on_err
				END

			-- These two variables are used later in the stored proc
			-- to help determine if anything else is running.
			DECLARE @CurrentlyRunningProcessID int = NULL
			DECLARE @CurrentlyRunningGroupID int = NULL
			DECLARE @CurrentlyRunningProcessStatusID int = NULL
			DECLARE @CurrentlyRunningProcessStarted datetime = NULL
			DECLARE @CurrentlyRunningProcessFinished datetime = NULL

			-- INFORMATION
			IF @CategoryID = 1
				BEGIN
					IF @Log = 'CREATE'
						-- CREATE - A process is being added to a schema.
						-- We don't really need to do anything here as the step 
						-- has already been added to the schema above.
						BEGIN
							DECLARE @Nothing int
						END


					IF @Log = 'STARTED'
						-- STARTED - A process is starting or possibly restarting depending on what else is running.
						BEGIN 
							-- Check to see if the process is already running or started.  If a record
							-- is returned, mark the existing process appropriately.
							-- NOT STARTED (1).
							SELECT		TOP 1 @SessionGroupProcessStatusID = SessionGroupProcessStatusID, 
										@CurrentlyRunningProcessStatusID = sgps.StatusID, 
										@CurrentlyRunningProcessStarted = sgps.ProcessStarted,
										@CurrentlyRunningProcessFinished = sgps.ProcessFinished
							FROM		tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
							JOIN		tbl_SchemaGroupProcess sgp WITH (NOLOCK) 
											ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID 
											AND sgp.PrName = @Process)
							WHERE		sgps.SessionID = @SessionID
							AND			sgps.SchemaGroupProcessID = @SchemaGroupProcessID
							AND			sgps.StatusID <> 1
							AND			sgps.Skip = 0
							ORDER BY	SessionGroupProcessStatusID DESC
							--ORDER BY	SessionGroupProcessStatusID ASC
							-- NOTE:  I switched this to DESC to get start times reporting after finish times working
							-- doublecheck that this is correct.
						
							IF @CurrentlyRunningProcessStatusID IS NOT NULL
								BEGIN
									-- A process is restarting that is already running.
									-- Mark the existing process as ABORTED (6) and create a 
									-- new status record for the restarted process.
									-- IN PROGRESS (2)
									-- REBUILDING (4)
									IF (@CurrentlyRunningProcessStatusID = 2 OR @CurrentlyRunningProcessStatusID = 4)
										BEGIN
											EXEC sp_UpdateSessionGroupProcessStatus @SessionGroupProcessStatusID, 6
											EXEC sp_InsertRestartedProcess2 @SessionID, @SessionGroupProcessStatusID, @LogDateTime, @SessionGroupProcessStatusID OUTPUT

											-- Since we know that process is starting, we mark the session as IN PROGRESS (2).
											-- And we mark the group as  IN PROGRESS (2).
											IF @StatusID <> 8 AND @StatusID <> 11
												BEGIN
													EXEC sp_UpdateSessionStatus @SessionID, 2
													EXEC sp_UpdateSessionGroupStatus @SessionGroupStatusID, 2
												END

										END
									
									-- Existing process has already been completed, but not yet started.  
									-- Mark as started and continue.
									-- FAILED (3)
									-- COMPLETED (5)
									ELSE IF ((@CurrentlyRunningProcessStatusID = 3 OR @CurrentlyRunningProcessStatusID = 5) AND @CurrentlyRunningProcessStarted IS NULL)
										BEGIN
									
											SELECT	@Err = 'Updating the current process with a start time.'
											UPDATE	tbl_SessionGroupProcessStatus WITH (ROWLOCK)
											SET		ProcessStarted = @LogDateTime
											WHERE	SessionGroupProcessStatusID = @SessionGroupProcessStatusID
											IF @@ERROR <> 0 GOTO on_err			
		
											-- If the Group has not yet recorded a start time, record the start time now.
											IF (@SessionGroupStarted IS NULL) OR (@LogDateTime < @SessionGroupStarted)
												BEGIN
													SELECT	@Err = 'Updating the current group with a start time.'
													UPDATE	tbl_SessionGroupStatus WITH (ROWLOCK)
													SET		GroupStarted = @LogDateTime
													WHERE	SessionGroupStatusID = @SessionGroupStatusID
													IF @@ERROR <> 0 GOTO on_err	
												END 
										END
									
									-- Existing process finished normally or failed, but has been started again.
									-- FAILED (3)
									-- COMPLETED (5)
									-- ABORTED (6)
									ELSE IF (@CurrentlyRunningProcessStatusID = 3 OR @CurrentlyRunningProcessStatusID = 5 OR @CurrentlyRunningProcessStatusID = 6)
										BEGIN
											EXEC sp_InsertRestartedProcess2 @SessionID, @SessionGroupProcessStatusID, @LogDateTime, @SessionGroupProcessStatusID OUTPUT

											-- Since we know that process is starting, we mark the session as IN PROGRESS (2).
											-- And we mark the group as  IN PROGRESS (2).
											IF @StatusID <> 8 AND @StatusID <> 11 
												BEGIN
													EXEC sp_UpdateSessionGroupStatus @SessionGroupStatusID, 2
													EXEC sp_UpdateSessionStatus @SessionID, 2
												END
										END
								END 
							
							ELSE
								BEGIN
									-- Since there are no existing processes of this type already running,
									-- we can simply mark the process as IN PROGRESS (2).
									EXEC sp_UpdateSessionGroupProcessStatusAsStarted @SessionGroupProcessStatusID, 2, @LogDateTime

									-- Since we know that process is starting, we mark the session as IN PROGRESS (2).
									IF @StatusID <> 8 AND @StatusID <> 11	
										BEGIN
											EXEC sp_UpdateSessionGroupStatus @SessionGroupStatusID, 2
											EXEC sp_UpdateSessionStatus @SessionID, 2
										END
								END 

							
							
							-- Now, we need to check if we should mark the Group that this process belongs to as
							-- IN PROGRESS (2).  If the process has already finished and is now sending the 
							-- start command late, check to see if the Group is already finished
							-- in which case you DO NOT mark the Group as started.
							-- NOT STARTED (1)
							-- IN PROGRESS (2)
							-- REBUILDING (4)
							-- MARKED FOR REBUILD (7)
							--SELECT @SessionGroupStarted
							IF (@SessionGroupStarted IS NULL) 
								BEGIN
									SELECT	@CurrentlyRunningProcessID = sgps.SessionGroupProcessStatusID
									FROM	tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
									JOIN	tbl_SchemaGroupProcess sgp WITH (NOLOCK) 
												ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID 
												AND sgp.SchemaGroupID = @SchemaGroupID 
												AND (sgps.StatusID = 1 OR sgps.StatusID = 2 OR sgps.StatusID = 4 OR sgps.StatusID = 7))
									WHERE	sgps.SessionID = @SessionID
									AND		sgps.Skip = 0						
								
									IF (@CurrentlyRunningProcessID IS NOT NULL) AND (@SessionGroupStarted IS NULL)
										BEGIN
											EXEC sp_UpdateSessionGroupStatusAsStarted @SessionGroupStatusID, 2, @LogDateTime
										END
									SET @CurrentlyRunningProcessID = NULL
								END  
						END

				
					IF @Log = 'FINISHED'
						-- FINSHED - An existing process is finishing.
						BEGIN
					
							-- Check to see if there is a process to mark as finished.  If a record
							-- is returned, mark the existing process appropriately, if not, we'll add
							-- a new record and assume this is a new run of the process.
							-- FAILED (3)
							-- COMPLETED (5)
							-- ABORTED (6)
							SELECT		TOP 1 @SessionGroupProcessStatusID = SessionGroupProcessStatusID, 
										@CurrentlyRunningProcessStatusID = sgps.StatusID, 
										@CurrentlyRunningProcessStarted = sgps.ProcessStarted
							FROM		tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
							JOIN		tbl_SchemaGroupProcess sgp WITH (NOLOCK) 
											ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID 
											AND sgp.PrName = @Process)
							WHERE		sgps.SessionID = @SessionID
							AND			sgps.SchemaGroupProcessID = @SchemaGroupProcessID
							AND			sgps.StatusID NOT IN (3, 5, 6)
							AND			sgps.Skip = 0
							ORDER BY	SessionGroupProcessStatusID ASC

							-- If no record is found, we'll insert a restarted process here and mark it as finished.  Notice
							-- that we're restarting the process with a NULL start time.
							IF @CurrentlyRunningProcessStatusID IS NULL
								BEGIN
									EXEC sp_InsertRestartedProcess2 @SessionID, @SessionGroupProcessStatusID, NULL, @SessionGroupProcessStatusID OUTPUT
								END			

							-- First, mark the process as COMPLETED (5).
							EXEC sp_UpdateSessionGroupProcessStatusAsFinished @SessionGroupProcessStatusID, 5, @LogDateTime

							/*
							NOTE:  This seems unnecessary.  Removing.
							-- Now, check to see if any processes are currently in progress.  If any are, then
							-- mark the build as IN PROGRESS.
							-- IN PROGRESS (2)
							-- REBUILDING (4)
							SELECT	@CurrentlyRunningProcessID = sgps.SessionGroupProcessStatusID
							FROM	 tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
							JOIN	tbl_SchemaGroupProcess sgp WITH (NOLOCK) 
										ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID 
										AND sgp.SchemaGroupID = @SchemaGroupID 
										AND (sgps.StatusID = 2 OR sgps.StatusID = 4))
							WHERE	sgps.SessionID = @SessionID
							AND		sgps.Skip = 0				
						
							-- IN PROGRESS (2).
							IF @CurrentlyRunningProcessID IS NULL 
								EXEC sp_UpdateSessionStatus @SessionID, 2 
							SET	@CurrentlyRunningProcessID = NULL
							*/
						
							-- Now, check to see if this is the last process to be completed in this Group. 
							-- If it is, mark the Group as completed also.
							-- NOT STARTED (1)
							-- IN PROGRESS (2)
							-- MARKED FOR REBUILD (7)
							SELECT	@CurrentlyRunningProcessID = sgps.SessionGroupProcessStatusID
							FROM	tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
							JOIN	tbl_SchemaGroupProcess sgp WITH (NOLOCK) 
										ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID 
										AND sgp.SchemaGroupID = @SchemaGroupID 
										AND (sgps.StatusID = 1 OR sgps.StatusID = 2 OR sgps.StatusID = 7))
							WHERE	sgps.SessionID = @SessionID
							AND		sgps.Skip = 0
							
							IF @CurrentlyRunningProcessID IS NULL
								BEGIN
									-- COMPLETED (5)
									EXEC sp_UpdateSessionGroupStatusAsFinished @SessionGroupStatusID, 5, @LogDateTime
								
									EXEC up_CompleteSessionIfAllGroupsAreComplete @SessionID, @LogDateTime
								END
						END 


					IF @Log = 'FAILED'	
						-- FAILED - an existing process is being marked as FAILED (3).
						BEGIN
							SELECT	@Err = 'Updating the current process as failed.'
							UPDATE	tbl_SessionGroupProcessStatus WITH (ROWLOCK)
							SET		StatusID = 3
							WHERE	SessionGroupProcessStatusID = @SessionGroupProcessStatusID
							IF @@ERROR <> 0 GOTO on_err	
						END 

					IF @Log = 'ABORTED'	
						-- ABORTED - An existing process is being marked as ABORTED (7).
						BEGIN
							SELECT	@Err = 'Updating the current process as aborted.'
							UPDATE	tbl_SessionGroupProcessStatus WITH (ROWLOCK)
							SET		StatusID = 7
							WHERE	SessionGroupProcessStatusID = @SessionGroupProcessStatusID
							IF @@ERROR <> 0 GOTO on_err	
						END 
				
					IF @Process = 'SESSION'
						BEGIN
							IF @Log = 'ABANDONED'
								-- ABANDONED - A session is being marked as ABANDONED (8).
								BEGIN 
									SELECT	@Err = 'Updating the session as abandoned.'
									UPDATE	tbl_Session WITH (ROWLOCK)
									SET		StatusID = 8,
											SeFinished = @LogDateTime
									WHERE	SessionID = @SessionID	
									IF @@ERROR <> 0 GOTO on_err						
								END 	

							IF @Log = 'FAILED'
								-- FAILED - A session is being marked as FAILED (3).
								BEGIN	
									SELECT	@Err = 'Updating the session as failed.'
									UPDATE	tbl_Session WITH (ROWLOCK)
									SET		StatusID = 3,
											SeFinished = @LogDateTime 
									WHERE	SessionID = @SessionID						
									IF @@ERROR <> 0 GOTO on_err						
								END 

							IF @Log = 'IN PROGRESS'
								-- FAILED - A session is being marked as IN PROGRESS (2).
								BEGIN 
									SELECT	@Err = 'Updating the session as in progress.'
									UPDATE	tbl_Session WITH (ROWLOCK)
									SET		StatusID = 2 
									WHERE	SessionID = @SessionID		
									IF @@ERROR <> 0 GOTO on_err					
								END 
							IF @Log = 'COMPLETED'
								-- COMPLETED - A session is being marked as COMPLETED (5).
								BEGIN 
									SELECT	@Err = 'Updating the session as completed.'
									UPDATE	tbl_Session WITH (ROWLOCK)
									SET		StatusID = 5,
											SeFinished = @LogDateTime
									WHERE	SessionID = @SessionID	
									IF @@ERROR <> 0 GOTO on_err						
								END 	
						END
				END			

			-- WARNING
			IF @CategoryID = 2
				BEGIN
					-- Mark the session as having at least 1 warning.
					--EXEC sp_UpdateSessionStatusAsWarning @SessionID
					-- Mark the Group as having at least 1 warning.
					EXEC sp_UpdateSessionGroupStatusAsWarning @SessionGroupStatusID
					-- Mark the process as having at least 1 warning.
					EXEC sp_UpdateSessionGroupProcessStatusAsWarning @SessionGroupProcessStatusID
				END	
			
			-- ERROR	
			IF @CategoryID = 3
				BEGIN
					-- Mark the session as having at least 1 error.
					--EXEC sp_UpdateSessionStatusAsError @SessionID
					-- Mark the Group as having at least 1 error.
					EXEC sp_UpdateSessionGroupStatusAsError @SessionGroupStatusID
					-- Mark the process as having at least 1 error.
					EXEC sp_UpdateSessionGroupProcessStatusAsError @SessionGroupProcessStatusID
				END
		
			-- COMMENT
			IF @CategoryID = 5
				BEGIN
					DECLARE @Comment varchar(1000) = NULL
					IF LEN(@Log) > 1000
						BEGIN
							SET @Comment = LEFT(@Log,1000)
						END

					SELECT	@Err = 'Updating the session with the current comment.'
					UPDATE	tbl_Session WITH (ROWLOCK)
					SET		SeComment = @Comment
					WHERE	SessionID = @SessionID
					IF @@ERROR <> 0 GOTO on_err		
			
					SELECT	@Err = 'Updating the current process with the this comment.'
					UPDATE	tbl_SessionGroupProcessStatus WITH (ROWLOCK)
					SET		ProcessComment = @Comment
					WHERE	SessionGroupProcessStatusID = @SessionGroupProcessStatusID
					IF @@ERROR <> 0 GOTO on_err		

				END
			
			-- DELAY
			IF @CategoryID = 6
				BEGIN
					SELECT	@Err = 'Updating the current session with the details from a delay event.'
					UPDATE	tbl_Session WITH (ROWLOCK)
					SET		SeDelayed = 1,
							SeComment = 'Waiting until ' + LEFT(@Log,50) + ' to start ' + @Process
					WHERE	SessionID = @SessionID
					IF @@ERROR <> 0 GOTO on_err		
				END
		END TRY
		BEGIN CATCH
			IF ERROR_NUMBER() <> 1205 -- Error out on non-deadlock errors
				goto on_err
							
			-- We have this catch block here because the code in the try can deadlock if called above
			-- in very quick succession when updating the same process step.
			-- If we do find ourselves in a deadlock situation, abort the transaction and try again.
			-- The attempt count is a safe-guard against infinite retries. 
			SET @UpdateProcessAttemptCount = @UpdateProcessAttemptCount + 1	
			IF @UpdateProcessAttemptCount = 20
				BEGIN
					goto on_err
				END

			ROLLBACK TRANSACTION
			-- Wait a small amount of time for contention to reside.
			WAITFOR DELAY '00:00:05'
			goto do_log
		END CATCH

		-- Finally, we're going to create a new log record.  
		DECLARE @NewLogID bigint = NULL		
		IF LEN(@Log) > 200
			BEGIN	
				SELECT	@Err = 'Inserting the new log event.'
				INSERT
				INTO	tbl_Log (
						SessionID, 
						CategoryID, 
						LoDateTimeStamp, 
						LoDateTimeLogged, 
						LoLog, 
						LoMachineName, 
						SessionGroupProcessStatusID, 
						SessionGroupStatusID
						)
				VALUES (
						@SessionID, 
						@CategoryID, 
						@LogDateTime, 
						GetDate(), 
						LEFT(@Log,200) + '...', 
						@MachineName, 
						@SessionGroupProcessStatusID, 
						@SessionGroupStatusID
						)
				IF @@ERROR <> 0 GOTO on_err		
				
				-- Grab the new ID of this log.
				SELECT @NewLogID = @@Identity

				SELECT	@Err = 'Inserting the new extended log event.'
				INSERT
				INTO	LabStatusLog..tbl_LogData (
						LogEntryID, 
						LoExtendedLog
						)
				VALUES (
						@NewLogID, 
						@Log)
				IF @@ERROR <> 0 GOTO on_err		
			END
		ELSE
			BEGIN
				SELECT	@Err = 'Inserting the new log event.'
				INSERT
				INTO	tbl_Log (
						SessionID, 
						CategoryID, 
						LoDateTimeStamp, 
						LoDateTimeLogged, 
						LoLog, 
						LoMachineName, 
						SessionGroupProcessStatusID, 
						SessionGroupStatusID
						)
				VALUES (
						@SessionID, 
						@CategoryID, 
						@LogDateTime, 
						GetDate(), 
						@Log, 
						@MachineName, 
						@SessionGroupProcessStatusID, 
						@SessionGroupStatusID
						)
				IF @@ERROR <> 0 GOTO on_err		

				-- Grab the new ID of this log.
				SELECT @NewLogID = @@Identity
			
			END

		-- All errors and stall warnings need to be acknowledged and so we'll dump a 
		-- record into tbl_LogError to track the acknowledged bit.
		-- ERROR (3)
		-- STALL WARNING (4)
		IF @CategoryID = 3 OR @CategoryID = 4
			BEGIN
				SELECT	@Err = 'Adding log error records for error/warning acknowledgement.'
				INSERT 
				INTO	tbl_LogError (
						LogEntryID, 
						SessionID, 
						CategoryID
						)
				VALUES (
						@NewLogID, 
						@SessionID, 
						@CategoryID
						)
				IF @@ERROR <> 0 GOTO on_err		
			END
		
		-- Commit the transaction if there are no errors at the end. 
		IF @@ERROR <> 0 
			GOTO on_err
		ELSE 
			GOTO on_success

		on_success:

			-- Insert the log footprint.	
			INSERT 
			INTO		tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
			VALUES		('sp_Log3, '
						+ @Revision + ', ' 
						+ @Lab + ', '
						+ @Product + ', '
						+ @Parameters + ', '
						+ @Group + ', ' 
						+ @Process + ', ' 
						+ @Category + ', ' 
						+ @FootPrintLog + ', ' 
						+ @MachineName + ' succeeded', 
						@LogDateTime, 
						GetDate()) 

			COMMIT TRANSACTION
			RETURN
	
	on_err:
		ROLLBACK TRANSACTION

	-- Insert the log footprint.	
	INSERT 
	INTO		tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
	VALUES		('sp_Log3, '
				+ @Revision + ', ' 
				+ @Lab + ', '
				+ @Product + ', '
				+ @Parameters + ', '
				+ @Group + ', ' 
				+ @Process + ', ' 
				+ @Category + ', ' 
				+ @FootPrintLog + ', ' 
				+ @MachineName + ' failed due to ' + @Err, 
				@LogDateTime, 
				GetDate()) 

		SELECT @Err = 'ERROR: sp_Log3 - ' + @Err
		RAISERROR (@Err , 16, 1)	
		RETURN
	
	RETURN
GO
