USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetWorkItemsForBuildCompleted]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_GetWorkItemsForBuildCompleted]
	(
		@StartTime DATETIME,
		@EndTime DATETIME
	)
AS

SET NOCOUNT ON

SELECT  DISTINCT rb.RequestID
FROM	tbl_Session s
JOIN	LaunchPad.dbo.tbl_RequestBuild rb
		ON s.SessionID = rb.SessionID
WHERE	s.SeFinished BETWEEN @StartTime AND @EndTime
AND		s.StatusID = 5 -- completed
AND		(NOT EXISTS(
		SELECT	s2.SessionID
		FROM	tbl_Session s2
		JOIN	LaunchPad.dbo.tbl_RequestBuild rb2
				ON rb2.SessionID = s2.SessionID
		WHERE	s2.StatusID <> 5
		AND		rb2.requestid = rb.requestID
		)) -- Make sure all other sessions in the same LP request are all completed as well



GO
