USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddIssueServiceIncident]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddIssueServiceIncident] 
(
	@IssueID int, 
	@ServiceIncidentNumber int
)
AS
	SET NOCOUNT ON
	INSERT
		INTO tbl_IssueServiceIncident (IssueID, ServiceIncidentNumber)
	VALUES (@IssueID, @ServiceIncidentNumber)

	RETURN


GO
