USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionSkuSetupPath]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSessionSkuSetupPath]
     @SessionID int
    ,@SkuLanguage VARCHAR(10) -- tlkp_Language.LaShortName
    ,@SkuFamily VARCHAR(10) -- e.g., vs, tfs, vstf
    ,@SkuEdition VARCHAR(50) -- e.g., ultimate, testagent, etc.
    ,@SkuMedia VARCHAR(10) = 'dvd' -- e.g., dvd, net
AS
    SELECT Setup as SetupPath, SetupFinished
      FROM tbl_SessionSetup WITH (NOLOCK)
     WHERE SessionID = @SessionID
       AND Setup LIKE '%\' + @SkuLanguage + '\' + @SkuFamily + '\' + @SkuEdition + '\' + @SkuMedia
    RETURN
GO
