USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddFixForDefault]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddFixForDefault]
(
	@IssueID int,
	@IsAutomated bit,
	@AffectedSessions varchar(1000),
	@UserName varchar(50),
	@CauseForBreak varchar(1000),
	@ChangeList varchar(50),
	@Instructions varchar(1000),
	@Rebuild varchar(255)
)
AS
BEGIN
	/***********************************
	DESCRIPTION
		Submits a default fix
	***********************************/
	
	DECLARE @FixDefinitionID int

	--Create the fix definition
	INSERT INTO tbl_FixDefDefault
	(DeChangeList, DeInstructions, DeRebuild, DeCauseForBreak)
	VALUES
	(@ChangeList, @Instructions, @Rebuild, @CauseForBreak)

	SET @FixDefinitionID = @@IDENTITY

	--create the fix base
	exec sp_AddFixBase 1, @IssueID, @IsAutomated, @AffectedSessions, @UserName, @FixDefinitionID



END


GO
