USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionIDNoCreate]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSessionIDNoCreate]
	(
		@Revision varchar(50),
		@LabShortName varchar(10),
		@ProductShortName varchar(10),
		@MilestoneShortName varchar(10),
		@FlavorShortName varchar(10),
		@TargetArchitectureShortName varchar(10),
		@LogDateTime datetime,
		@MachineName varchar(50),
		@SessionID int = NULL OUTPUT,
		@SchemaID int = NULL OUTPUT
	)
AS
	SET NOCOUNT ON
	
    -- Grab the LabID, ProductID, MilestoneID, FlavorID based on 
    -- the names passed in.
	DECLARE @MilestoneID int
	DECLARE @LabID int
	DECLARE @FlavorID int
	DECLARE @TargetArchitectureID int
	DECLARE @ProductID int
	DECLARE	@SessionSchemaID int
	-- Build the new start time.  This is used as the build date.
	DECLARE @NewStartTime varchar(50)
	IF (@LabShortName <> 'RLBTEST') AND (@LabShortName <> 'M1') AND (@LabShortName <> 'PD1') AND (@LabShortName <> 'PD2')
		BEGIN
			DECLARE @Year varchar(4)
			DECLARE @Month varchar(2)
			DECLARE @Day varchar(2)
			DECLARE @Time varchar(25)
			SELECT @Year = '200' + LEFT(@Revision, 1) 
			SELECT @Month = SUBSTRING(@Revision, 2, 2) 
			SELECT @Day = SUBSTRING(@Revision, 4, 2)
			SELECT @Time = '12:01 am'
			SELECT @NewStartTime = @Year + '-' + @Month + '-' + @Day + ' ' + @Time
		END
	ELSE
		BEGIN
			IF @LabShortName = 'M1' OR @LabShortName = 'PD1' OR @LabShortName = 'PD2'
				SELECT @NewStartTime = CONVERT(varchar(50), DATEADD(dd, 1, @LogDateTime))
			ELSE
				SELECT @NewStartTime = CONVERT(varchar(50), @LogDateTime)
		END
	IF @LabShortName = 'Private'
		SELECT @Revision = @MachineName + '.' + @Revision
	-- MilestoneID.
	SELECT @MilestoneID = MilestoneID
	  FROM tbl_Milestone WITH (NOLOCK) 
	 WHERE MiShortName = @MilestoneShortName
	-- LabID.
	SELECT @LabID = LabID
	  FROM tbl_Lab WITH (NOLOCK)
	 WHERE LaShortName = @LabShortName 
	-- FlavorID.
	SELECT @FlavorID = FlavorID
	  FROM tlkp_Flavor WITH (NOLOCK)
	 WHERE FlShortName = @FlavorShortName
	-- TargetArchitectureID.
	SELECT @TargetArchitectureID = TargetArchitectureID
	  FROM tlkp_TargetArchitecture WITH (NOLOCK)
	 WHERE TaShortName = @TargetArchitectureShortName
	-- ProductID and SchemaID.
	SELECT @ProductID = ProductID, @SessionSchemaID = SchemaID
	  FROM tbl_Product WITH (NOLOCK)
	 WHERE PrShortName = @ProductShortName
		
	-- SessionID.
	DECLARE	@ExistingSessionID int
	SELECT @ExistingSessionID = SessionID
	  FROM tbl_Session WITH (NOLOCK)
	 WHERE SeRevision = @Revision
	   AND MilestoneID = @MilestoneID
	   AND LabID = @LabID
	   AND FlavorID = @FlavorID	
	   AND TargetArchitectureID = @TargetArchitectureID
		
	SELECT @SessionID = @ExistingSessionID, @SchemaID = @SessionSchemaID	
	

	RETURN
GO
