USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetShortUrl]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_GetShortUrl]
	@ShortUrlID int
AS
	SELECT * from tbl_ShortUrl
	where ShortUrlID = @ShortUrlID


GO
