USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddMachine]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddMachine]
	(
		@MachineName varchar(100)
	)
AS
	SET NOCOUNT ON
	
	INSERT 
	  INTO tlkp_Machine (MaName, MaOrder)
	VALUES (@MachineName, 0)
	
	RETURN 
GO
