USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOrgAdmins]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[sp_GetOrgAdmins]
(
	@OrgID int
)
as
/*	Modified by	Date		Change
	***********************************************************
	a-karthp		08/29/2005	Created the sproc
*/
	
	select 	ur.userid as username
	from 	tbl_Org o
	  	join DDSecurity..tbl_UserRole ur on (o.SecurityRoleID = ur.RoleID)
	where 	o.OrgID = @OrgID
	order by ur.userid
GO
