USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMilestonesByOrg]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE procedure [dbo].[sp_GetMilestonesByOrg]
(
	@OrgID int
)
AS
/*	Modified by	Date		Change
	***********************************************************
	a-karthp		08/31/2005	Created
*/
	set nocount on
	
	select distinct
		m.MilestoneID, 
		MiName, 
		MiDescription,
		MiOrder
	 from	tbl_Milestone m with (nolock) 
		inner join tbl_Lab l with (nolock) on l.MilestoneID = m.MilestoneID
		inner join tbl_Org o with (nolock) on l.OrgID = o.OrgID
	where	o.OrgID = @OrgID
	 order by  MiOrder
	RETURN
GO
