USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_SessionPSIssue]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SessionPSIssue](
	[SessionID] [int] NOT NULL,
	[PSBugID] [int] NOT NULL,
	[GrantMachineAccess] [bit] NULL,
	[MachineName] [varchar](100) NULL,
 CONSTRAINT [PK_tbl_SessionPSIssue] PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC,
	[PSBugID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_SessionPSIssue] ADD  CONSTRAINT [DF_tbl_SessionPSIssue_GrantMachineAccess]  DEFAULT (0) FOR [GrantMachineAccess]
GO
