USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_Log3_UnSkipProcess]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- sp_LogSkipProcess
CREATE PROCEDURE [dbo].[sp_Log3_UnSkipProcess]
	(
		@Revision varchar(50),
		@Lab varchar(50),
		@Product varchar(50),
		@Parameters varchar(4000),
		@Group varchar(100),
		@Process varchar(100) = NULL,
		@LogDateTime varchar(50),
		@MachineName varchar(50)
	)
AS
	SET NOCOUNT ON
	DECLARE @Err varchar(4000)

	-- First we need to create a log footprint.  This piece is outside the transaction
	-- because we want to log EVERYTHING - even if the transaction fails.	
	INSERT 
	INTO		tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
	VALUES		('sp_Log3_UnSkipProcess, '
				+ @Revision + ', ' 
				+ @Lab + ', '
				+ @Parameters + ', ' 
				+ @Group + ', ' 
				+ @Process + ', ' 
				+ @MachineName, 
				@LogDateTime, 
				GetDate()) 	

	BEGIN TRANSACTION
	
	DECLARE	@SessionID int
	DECLARE @SchemaID int
	DECLARE @StatusID int
	
	-- Create/retreive the session and schema IDs.  These will be used for reporting status
	-- for this particular build.
	EXEC sp_GetSessionID3 @Revision, @Lab, @Product, @Parameters, @LogDateTime, @MachineName, @SessionID OUTPUT, @SchemaID OUTPUT, @StatusID OUTPUT
	
	DECLARE @SchemaGroupID int
	DECLARE @SessionGroupProcessStatusID int
	DECLARE @SessionGroupStatusID int
	
	-- SchemaGroupID.   
	SELECT	@SchemaGroupID = SchemaGroupID
	FROM	tbl_SchemaGroupProcess WITH (NOLOCK)
	WHERE	PrName = @Process
	AND		SchemaID = @SchemaID  
	
	-- SessionGroupProcessStatusID and RunNumber.
	SELECT		@SessionGroupProcessStatusID = sgps.SessionGroupProcessStatusID
	FROM		tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
	JOIN		tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sgps.SessionID = @SessionID AND sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID AND sgp.PrName = @Process)
	JOIN		tbl_Session s WITH (NOLOCK) ON (sgp.SchemaID = s.SchemaID)
	WHERE		s.SessionID = @SessionID
	GROUP BY	sgps.SessionGroupProcessStatusID
	
	-- SessionGroupStatusID.
	SELECT	@SessionGroupStatusID = sgs.SessionGroupStatusID
	FROM	tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
	JOIN	tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sgps.SessionID = @SessionID AND sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID AND sgps.SessionGroupProcessStatusID = @SessionGroupProcessStatusID)
	JOIN	tbl_SessionGroupStatus sgs WITH (NOLOCK) ON (sgp.SchemaGroupID = sgs.SchemaGroupID)
	JOIN	tbl_Session s ON (sgs.SessionID = s.SessionID)
	WHERE	s.SessionID = @SessionID
	
	-- Mark the process as "unskipped".
	SELECT	@Err = 'Marking the process as skipped.'	
	UPDATE	tbl_SessionGroupProcessStatus WITH (ROWLOCK)
	SET		Skip = 0,
			IgnoreTiming = 0
	WHERE	SessionGroupProcessStatusID = @SessionGroupProcessStatusID
	IF @@ERROR <> 0 GOTO on_err	
		
	-- Now, check if all processes for this group are marked as "unskipped".  If 
	-- they are, mark the group as "unskipped" as well. 
	DECLARE @ProcessedUnSkipped int
	SELECT	@ProcessedUnSkipped = 1
	FROM	tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
	JOIN	tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID)
	WHERE	SessionID = @SessionID
	AND		SchemaGroupID = @SchemaGroupID
	AND		Skip = 1	   
		
	IF @ProcessedUnSkipped IS NULL
		BEGIN
			SELECT	@Err = 'Marking the group as skipped.'	
			UPDATE	tbl_SessionGroupStatus WITH (ROWLOCK)
			SET		Skip = 0
			WHERE	SessionGroupStatusID = @SessionGroupStatusID
			IF @@ERROR <> 0 GOTO on_err	
		END
	
	-- Commit the transaction if there are no errors at the end. 
	IF @@ERROR <> 0 
		GOTO on_err

	-- Return the sessionid.
	SELECT @SessionID As SessionID

	COMMIT TRANSACTION
	RETURN 
	
	on_err:
		ROLLBACK TRANSACTION
		SELECT @Err = 'ERROR: sp_Log3_UnSkipProcess - ' + @Err
		RAISERROR (@Err , 16, 1)	
		RETURN	

RETURN
GO
