USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetIssuesBySession]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[up_GetIssuesBySession]
(
	@SessionID int
)
AS
	SET NOCOUNT ON
	
	SELECT DISTINCT i.IssueID
      INTO  #IssueId
	  FROM  tbl_Issue i WITH (NOLOCK)
	  JOIN  atbl_SessionIssue iss WITH (NOLOCK) 
                ON (i.IssueID = iss.IssueID)
	 WHERE  i.IsDeleted = 0
     AND    iss.SessionID = @SessionID

    DECLARE @IssueIdList VARCHAR(max)
    SELECT	@IssueIdList = COALESCE(@IssueIdList + ',', '') + CONVERT(varchar(20), IssueID) 
    FROM	#IssueId

    DROP TABLE #IssueId

    EXEC    up_GetIssues @IssueIdList
	
    RETURN 







GO
