USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetRIBuildStatus]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetRIBuildStatus]
	(
		@LabShortName varchar(10),
		@MilestoneShortName varchar(10),
		@From datetime,
		@To datetime
	)
AS
	SET NOCOUNT ON
	
	DECLARE @LabID int
	DECLARE @MilestoneID int
	-- LabID.
	SELECT @LabID = LabID
	FROM tbl_Lab WITH (NOLOCK)
	WHERE LaShortName = @LabShortName 
	-- MilestoneID.
	SELECT @MilestoneID = MilestoneID
	FROM tbl_Milestone WITH (NOLOCK) 
	WHERE MiShortName = @MilestoneShortName
	SELECT s.SessionID, s.SeRevision As Revision, s.StatusID, s.SeComment, s.SeSetups, s.SeSetupsFinished, s.FlavorID
		   , RemainingTime = 
				(
					/* Grab all the steps NOT ALREADY run and sum the time not yet used up */
					SELECT SUM(AvgBuildTime) As RemainingTime
				      FROM tbl_SchemaGroupProcess sgp1 WITH (NOLOCK)
					  JOIN tbl_SessionGroupProcessStatus sgps1 WITH (NOLOCK) ON (sgp1.SchemaGroupProcessID = sgps1.SchemaGroupProcessID AND (sgps1.StatusID = 1 OR sgps1.StatusID = 7))
					 WHERE sgps1.SessionID = s.SessionID
 					   AND sgps1.Skip = 0
 					   AND sgp1.RawDrop = 1
				)
		   , TimeUsed = 
				(
					/* Grab all the steps ALREADY run and sum the time already used up */
					SELECT SUM(DATEDIFF(mi, sgps2.ProcessStarted, sgps2.ProcessFinished)) As TimeUsed
					  FROM tbl_SchemaGroupProcess sgp2 WITH (NOLOCK)
				      JOIN tbl_SessionGroupProcessStatus sgps2 WITH (NOLOCK) ON (sgp2.SchemaGroupProcessID = sgps2.SchemaGroupProcessID AND (sgps2.StatusID = 3 OR sgps2.StatusID = 5 OR sgps2.StatusID = 6))
				 	 WHERE s.SessionID = sgps2.SessionID
					   AND sgps2.Skip = 0
					   AND sgp2.RawDrop = 1
				)
		   , RemainingTimeForCurrent = 
				(
					/* Grab the average build time for the step that is currently running and subtract
					   from the average build time the amount of time currently consumed by the step */
				   (SELECT SUM(AvgBuildTime)
					  FROM tbl_SchemaGroupProcess sgp3 WITH (NOLOCK) 
					  JOIN tbl_SessionGroupProcessStatus sgps3 WITH (NOLOCK) ON (sgp3.SchemaGroupProcessID = sgps3.SchemaGroupProcessID AND (sgps3.StatusID = 2 OR sgps3.StatusID = 4))
					 WHERE sgps3.SessionID = s.SessionID
 					   AND sgps3.Skip = 0
 					   AND sgp3.RawDrop = 1)
					-
				   (SELECT SUM(DATEDIFF(mi, sgps4.ProcessStarted, GetDate())) As TimeUsed
					  FROM tbl_SchemaGroupProcess sgp4 WITH (NOLOCK) 	
					  JOIN tbl_SessionGroupProcessStatus sgps4 WITH (NOLOCK) ON (sgp4.SchemaGroupProcessID = sgps4.SchemaGroupProcessID AND (sgps4.StatusID = 2 OR sgps4.StatusID = 4))
					 WHERE sgps4.SessionID = s.SessionID
   					   AND sgps4.Skip = 0
   					   AND sgp4.RawDrop = 1)
				)
		   , TimeUsedForCurrent = 
				(
					/* Grab the step(s) that is currently running and figure out how long it 
					   has been running.  This is added to the previous value to determine the
					   amount of total time ALREADY used up */
					SELECT SUM(DATEDIFF(mi, sgps5.ProcessStarted, GetDate())) As TimeUsed
					  FROM tbl_SchemaGroupProcess sgp5 WITH (NOLOCK) 	
				      JOIN tbl_SessionGroupProcessStatus sgps5 WITH (NOLOCK) ON (sgp5.SchemaGroupProcessID = sgps5.SchemaGroupProcessID AND (sgps5.StatusID = 2 OR sgps5.StatusID = 4))
				 	 WHERE s.SessionID = sgps5.SessionID
					   AND sgps5.Skip = 0
					   AND sgp5.RawDrop = 1
				)
			, IssueCount =
				(
					SELECT COUNT(i.IssueID)
 					  FROM tbl_Issue i WITH (NOLOCK)
					  JOIN tbl_SessionIssue iss WITH (NOLOCK) ON (i.IssueID = iss.IssueID)
					 WHERE s.SessionID = iss.SessionID
					   AND i.IsClosed = 0
					   AND i.IsDeleted = 0
				)				
		   , AvgForCurrent = 
				(
					/* Grab the step(s) that is currently running and figure out how long it 
					   normally takes.  This is only used when a process goes WAY over it's avg. */
					SELECT SUM(sgp5.AvgBuildTime) As AvgForCurrent
					  FROM tbl_SchemaGroupProcess sgp5 WITH (NOLOCK) 	
				      JOIN tbl_SessionGroupProcessStatus sgps5 WITH (NOLOCK) ON (sgp5.SchemaGroupProcessID = sgps5.SchemaGroupProcessID AND (sgps5.StatusID = 2 OR sgps5.StatusID = 4))
				 	 WHERE s.SessionID = sgps5.SessionID
					   AND sgps5.Skip = 0
					   AND sgp5.RawDrop = 1
				)			
      INTO #Results
	  FROM tbl_Session s WITH (NOLOCK)
	  JOIN tbl_SessionGroupStatus sgs WITH (NOLOCK) ON (s.SessionID = sgs.SessionID)
	  JOIN tbl_SessionGroupProcessStatus sgps WITH (NOLOCK) ON (s.SessionID = sgps.SessionID)
	  JOIN tbl_SchemaGroup sg WITH (NOLOCK) ON (sgs.SchemaGroupID = sg.SchemaGroupID)
	  JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sg.SchemaGroupID = sgp.SchemaGroupID)
      WHERE s.LabID = @LabID
       AND s.MilestoneID = @MilestoneID
       AND s.SeStarted >= @From
       AND s.SeStarted <= @To
	   AND sgps.Skip = 0
  GROUP BY s.SessionID, s.SeRevision, s.StatusID, sgs.Skip, s.SeComment, s.SeSetups, s.SeSetupsFinished, s.FlavorID, s.StatusID
	
	SELECT tp.*, f.FlName As Flavor, st.StName As SessionStatus, st.StColor, c.CaName, c.CaColor, c.CaOrder, c.CategoryID, c.CategoryTypeID
	  FROM #Results tp
  	  JOIN tlkp_Status st WITH (NOLOCK) ON (tp.StatusID = st.StatusID)
	  JOIN tlkp_Flavor f WITH (NOLOCK) ON (tp.FlavorID = f.FlavorID)
	  JOIN tbl_Log l WITH (NOLOCK) ON (tp.SessionID = l.SessionID)
	  JOIN tlkp_Category c WITH (NOLOCK) ON (l.CategoryID = c.CategoryID)
  GROUP BY tp.SessionID, tp.RemainingTime, tp.TimeUsed, tp.RemainingTimeForCurrent, tp.TimeUsedForCurrent, tp.IssueCount, tp.AvgForCurrent, tp.Revision, tp.StatusID, tp.SeComment, tp.SeSetups, tp.SeSetupsFinished, tp.FlavorID, f.FlName, st.StName, st.StColor, c.CaName, c.CaColor, c.CaOrder, c.CategoryID, c.CategoryTypeID
  ORDER BY tp.Revision DESC, tp.SessionID, c.CaOrder ASC
	
	DROP TABLE #Results 	
	
	RETURN 
GO
