USE [LabStatus]
GO
/****** Object:  Table [dbo].[atbl_SessionIssue]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[atbl_SessionIssue](
	[SessionID] [int] NOT NULL,
	[IssueID] [int] NOT NULL,
 CONSTRAINT [PK_tbl_SessionIssue] PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC,
	[IssueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[atbl_SessionIssue]  WITH CHECK ADD  CONSTRAINT [FK_atbl_SessionIssue_tbl_Issue] FOREIGN KEY([IssueID])
REFERENCES [dbo].[tbl_Issue] ([IssueID])
GO
ALTER TABLE [dbo].[atbl_SessionIssue] CHECK CONSTRAINT [FK_atbl_SessionIssue_tbl_Issue]
GO
ALTER TABLE [dbo].[atbl_SessionIssue]  WITH CHECK ADD  CONSTRAINT [FK_atbl_SessionIssue_tbl_Session] FOREIGN KEY([SessionID])
REFERENCES [dbo].[tbl_Session] ([SessionID])
GO
ALTER TABLE [dbo].[atbl_SessionIssue] CHECK CONSTRAINT [FK_atbl_SessionIssue_tbl_Session]
GO
