USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_Log_StallDetected]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_Log_StallDetected]
	(
		@BuildID INT,
		@Group varchar(100),
		@Process varchar(100) = NULL,
		@Category varchar(50) = 'INFO',
		@Reason varchar(255),
		@LogDateTime varchar(50),
		@MachineName varchar(50)
	)
AS

	SET NOCOUNT ON
	DECLARE @Err varchar(4000)

	-- First we need to create a log footprint.  This piece is outside the transaction
	-- because we want to log EVERYTHING - even if the transaction fails.
	INSERT 
	INTO		tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
	VALUES		('up_Log_StallDetected, '
			    + CAST(@BuildID AS VARCHAR(20)) + ', ' +
				+ @Group + ', ' 
				+ @Process + ', ' 
				+ @Category + ', ' 
				+ @Reason + ', ' 
				+ @MachineName, 
				@LogDateTime, 
				GetDate()) 	

	BEGIN TRANSACTION
	
	DECLARE @SchemaID int
	SELECT	@SchemaID = SchemaID
	FROM	tbl_Session WITH (NOLOCK)
	WHERE	SessionID = @BuildID	
	
	DECLARE	@CategoryID	int
	DECLARE	@SchemaGroupID int
	DECLARE @SchemaGroupProcessID int
	DECLARE @SessionGroupProcessStatusID int
	DECLARE @SessionGroupStatusID int
	DECLARE @RunNumber int

	-- CategoryID.
	SET @CategoryID = 3
	-- Create issues for all red build stalls per TFS#: 751125
	--SELECT	@CategoryID = CategoryID 
	--FROM	tlkp_Category WITH (NOLOCK)
	--WHERE	CaShortName = @Category

	-- Grab the SchemaGroupID of this group.
	SELECT	@SchemaGroupID = sg.SchemaGroupID
	FROM	tbl_SchemaGroup sg WITH (NOLOCK)
	WHERE	sg.SchemaID = @SchemaID 
	AND		sg.GrName = @Group

	-- Grab the SchemaGroupProcessID of this process.
	SELECT	@SchemaGroupProcessID = sgp.SchemaGroupProcessID
	FROM	tbl_SchemaGroupProcess sgp WITH (NOLOCK)
	WHERE	sgp.SchemaID = @SchemaID 
	AND		sgp.SchemaGroupID = @SchemaGroupID
	AND		sgp.PrName = @Process
	AND		sgp.MachineName = @MachineName
			
	-- RunNumber.
	SELECT		@RunNumber = Max(sgps.RunNumber)
	FROM		tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
	JOIN		tbl_SchemaGroupProcess sgp WITH (NOLOCK) 
					ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID 
					AND sgps.SchemaGroupProcessID = @SchemaGroupProcessID		
					AND sgp.PrName = @Process
					AND	sgp.MachineName = @MachineName)
	JOIN		tbl_Session s WITH (NOLOCK) 
					ON (sgp.SchemaID = s.SchemaID 
					AND s.SessionID = @BuildID)
	WHERE		sgps.SessionID = @BuildID
	GROUP BY	sgps.SchemaGroupProcessID

	--SELECT @RunNumber As RunNumber

	-- SessionGroupProcessStatusID.
	SELECT		@SessionGroupProcessStatusID = sgps.SessionGroupProcessStatusID
	FROM		tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
	JOIN		tbl_SchemaGroupProcess sgp WITH (NOLOCK) 
					ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID 
					AND sgps.SchemaGroupProcessID = @SchemaGroupProcessID		-- Added.
					AND sgp.PrName = @Process
					AND	sgp.MachineName = @MachineName)
	JOIN		tbl_Session s WITH (NOLOCK) 
					ON (sgp.SchemaID = s.SchemaID
					AND s.SessionID = @BuildID)
	WHERE		sgps.SessionID = @BuildID
	AND			RunNumber = @RunNumber

	-- SessionGroupStatusID.
	SELECT		@SessionGroupStatusID = sgs.SessionGroupStatusID
	FROM		tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
	JOIN		tbl_SchemaGroupProcess sgp WITH (NOLOCK) 
					ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID 
					AND sgps.SchemaGroupProcessID = @SchemaGroupProcessID		-- Added.
					AND sgps.SessionGroupProcessStatusID = @SessionGroupProcessStatusID)
	JOIN		tbl_SessionGroupStatus sgs WITH (NOLOCK) 
					ON (sgp.SchemaGroupID = sgs.SchemaGroupID)
	JOIN		tbl_Session s WITH (NOLOCK) 
					ON (sgs.SessionID = s.SessionID
					AND s.SessionID = @BuildID)
	WHERE		sgs.SessionID = @BuildID
	
	DECLARE @StalledDate datetime
	SELECT @StalledDate = (
							SELECT	SeManuallyStalled 
							FROM	tbl_Session WITH (NOLOCK)
							WHERE	SessionID = @BuildID )
	
	IF @StalledDate IS NULL
		BEGIN						
			UPDATE	tbl_Session WITH (ROWLOCK)
			SET		SeManuallyStalled = GetDate(),
				    SeManuallyStalledStep = @Process,
					SeDelayed = 0,
					SeComment = @Reason
			WHERE	SessionID = @BuildID
		END

	-- Finally, we're going to create a new log record.  
	DECLARE @NewLogID bigint		
	IF LEN(@Reason) > 200
		BEGIN	
			SELECT	@Err = 'Inserting the new log event.'
			INSERT
			INTO	tbl_Log (
					SessionID, 
					CategoryID, 
					LoDateTimeStamp, 
					LoDateTimeLogged, 
					LoLog, 
					LoMachineName, 
					SessionGroupProcessStatusID, 
					SessionGroupStatusID
					)
			VALUES (
					@BuildID, 
					@CategoryID, 
					@LogDateTime, 
					GetDate(), 
					LEFT(@Reason,200) + '...', 
					@MachineName, 
					@SessionGroupProcessStatusID, 
					@SessionGroupStatusID
					)
			IF @@ERROR <> 0 GOTO on_err		
			
			-- Grab the new ID of this log.
			SELECT @NewLogID = @@Identity

			SELECT	@Err = 'Inserting the new extended log event.'
			INSERT
			INTO	LabStatusLog..tbl_LogData (
					LogEntryID, 
					LoExtendedLog
					)
			VALUES (
					@NewLogID, 
					@Reason)
			IF @@ERROR <> 0 GOTO on_err		
		END
	ELSE
		BEGIN
			SELECT	@Err = 'Inserting the new log event.'
			INSERT
			INTO	tbl_Log (
					SessionID, 
					CategoryID, 
					LoDateTimeStamp, 
					LoDateTimeLogged, 
					LoLog, 
					LoMachineName, 
					SessionGroupProcessStatusID, 
					SessionGroupStatusID
					)
			VALUES (
					@BuildID, 
					@CategoryID, 
					@LogDateTime, 
					GetDate(), 
					@Reason, 
					@MachineName, 
					@SessionGroupProcessStatusID, 
					@SessionGroupStatusID
					)
			IF @@ERROR <> 0 GOTO on_err		

			-- Grab the new ID of this log.
			SELECT @NewLogID = @@Identity
		
		END

		SELECT	@Err = 'Adding log error records for error/warning acknowledgement.'
		INSERT 
		INTO	tbl_LogError (
				LogEntryID, 
				SessionID, 
				CategoryID
				)
		VALUES (
				@NewLogID, 
				@BuildID, 
				@CategoryID
				)
		IF @@ERROR <> 0 GOTO on_err		
		
	-- Commit the transaction if there are no errors at the end. 
	IF @@ERROR <> 0 
		GOTO on_err

	-- Return the sessionid.
	SELECT @BuildID As SessionID

	COMMIT TRANSACTION
	RETURN 
	
	on_err:
		ROLLBACK TRANSACTION
		SELECT @Err = 'ERROR: up_Log - ' + @Err
		RAISERROR (@Err , 16, 1)	
	
	RETURN
GO
