USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionGroupDetail]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSessionGroupDetail]
	(
		@SessionGroupID int
	)
AS
	SET NOCOUNT ON
	
	SELECT sgs.SessionGroupStatusID, sg.GrName As GroupName, sgs.StatusID As GroupStatus, sgs.HasErrors, sgs.HasWarnings, sgs.GroupStarted, sgs.GroupFinished, sgs.Skip
	  FROM tbl_SessionGroupStatus sgs WITH (NOLOCK) 
	  JOIN tbl_SchemaGroup sg WITH (NOLOCK) ON (sgs.SchemaGroupID = sg.SchemaGroupID)
	 WHERE sgs.SessionGroupStatusID = @SessionGroupID
  ORDER BY sg.GrOrder
	
	RETURN 
GO
