USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetIssueSessions]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetIssueSessions]
(
	@IssueID int
)
AS
	SET NOCOUNT ON
	
	SELECT SessionID
	  FROM tbl_SessionIssue WITH (NOLOCK)
	 WHERE IssueID = @IssueID
	 
	RETURN 
GO
