USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_Log_NumberOfSetups]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_Log_NumberOfSetups]
	(
		@BuildID INT,
		@NumberOfSetups varchar(100),
		@LogDateTime varchar(50),
		@MachineName varchar(50)
	)
AS
	SET NOCOUNT ON
	DECLARE @Err varchar(4000)

	-- First we need to create a log footprint.  This piece is outside the transaction
	-- because we want to log EVERYTHING - even if the transaction fails.	
	INSERT 
	INTO		tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
	VALUES		('up_Log_NumberOfSetups, '
			    + CAST(@BuildID AS VARCHAR(20)) + ', ' +
				+ @NumberOfSetups + ', ' 
				+ @MachineName, 
				@LogDateTime, 
				GetDate()) 

	BEGIN TRANSACTION
	
	-- Reset the stalled value if necessary.	
	DECLARE @ManuallyStalledStep varchar(50)	
	SELECT	@ManuallyStalledStep = SeManuallyStalledStep	
	FROM	tbl_Session WITH (NOLOCK)
	WHERE	SessionID = @BuildID
	
	IF (@ManuallyStalledStep IS NOT NULL)
		BEGIN
			SELECT	@Err = 'Reset the manually stalled indicator.'
			UPDATE	tbl_Session WITH (ROWLOCK)
			SET		SeManuallyStalled = NULL,
					SeDelayed = 0
			WHERE	SessionID = @BuildID
			IF @@ERROR <> 0 GOTO on_err	
		END	
	
	-- Reset the stalled value and set the setup value.

	DECLARE @SeExpected int
	SELECT	@SeExpected = SeSetups
	FROM	tbl_Session
	WHERE	SessionID = @BuildID

	-- ABjork, 2/1/2007 - We only update this value if it is NULL or 0.
	IF (@SeExpected IS NULL OR @SeExpected = 0)
	BEGIN
		SELECT	@Err = 'Update the number of steps completed.'
		UPDATE	tbl_Session WITH (ROWLOCK)
		SET		SeSetups = CONVERT(int, @NumberOfSetups)
		WHERE	SessionID = @BuildID
		IF @@ERROR <> 0 GOTO on_err	
	END
		 
	-- Commit the transaction if there are no errors at the end. 
	IF @@ERROR <> 0 
		GOTO on_err

	-- Return the sessionid.
	SELECT @BuildID As SessionID

	COMMIT TRANSACTION
	RETURN 
	
	on_err:
		ROLLBACK TRANSACTION
		SELECT @Err = 'ERROR: up_Log_NumberOfSetups - ' + @Err
		RAISERROR (@Err , 16, 1)	
		RETURN
	
RETURN



GO
