USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_AddShortUrl]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_AddShortUrl]
	@QueryString nvarchar(max),
	@CreatedByAlias nvarchar(50)
AS
	insert into tbl_ShortUrl (QueryString, CreatedByAlias) values (@QueryString, @CreatedByAlias)
	select SCOPE_IDENTITY()
GO
