USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddFixForSourceCode]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE    PROCEDURE [dbo].[sp_AddFixForSourceCode]
(
	@IssueID int,
	@IsAutomated bit,
	@AffectedSessions varchar(1000),	
	@SourceCodeFixCategoryID int,
	@ResumeBuild bit,
	@UserName varchar(50)
)
AS
BEGIN
	/*********************************************
	DESCRIPTION
		Submits a source code issue  fix
	************************************************/

	DECLARE @FixDefinitionID int

	--Create the source code fix definition
	INSERT INTO tbl_FixDefSourceCode
	(SourceCodeFixCategoryID, FiResumeBuild)
	VALUES
	(@SourceCodeFixCategoryID, @ResumeBuild)

	SET @FixDefinitionID = @@IDENTITY
	
	--create the fix base
	exec sp_AddFixBase 2, @IssueID, @IsAutomated, @AffectedSessions, @UserName, @FixDefinitionID
	

	SELECT @FixDefinitionID
END

GO
