USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteIssueSourceValues]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[sp_DeleteIssueSourceValues]
(
	@IssueID int
)
AS
	SET NOCOUNT ON

	DELETE
	  FROM tbl_IssueSource
	 WHERE IssueID = @IssueID	

	DELETE
	  FROM tbl_IssueSubSource
	 WHERE IssueID = @IssueID	
	
	RETURN
GO
