USE [LabStatus]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetBVTDecision_BAK]    Script Date: 1/28/2026 12:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		arturor
-- Create date: 5/1/2006
-- Description:	Determines the BVT status for a build
-- =============================================
CREATE FUNCTION [dbo].[fn_GetBVTDecision_BAK] 
(
	-- Add the parameters for the function here
	@LabID int,
	@BuildDate datetime,
	@LocaleSetID int,
	@Revision varchar(50)	
)
RETURNS bit
AS
BEGIN
	-- Declare the return variable here
	DECLARE @BVTDecision bit

		/*first try to find it in launchpad*/
		DECLARE @Lab VARCHAR(50)
		DECLARE @Definition VARCHAR(50)

		SELECT TOP 1 @Lab = LaName, @Definition = DeName
		FROM LaunchPad..vw_LabDefinition
		WHERE LabID = @LabId 
		AND(
				(@LocaleSetID = 1 AND DeName NOT LIKE '%LOC')
				OR
				(@LocaleSetID > 1 AND DeName LIKE '%LOC')
		)


		SELECT @BVTDecision =
			CASE LaunchPad.dbo.fn_FindRequestPropertyValue(@Lab , @Definition, 'Build#' , @Revision, 'Run BVTs')
				WHEN 'true' THEN 1
				WHEN 'false' THEN 0
			ELSE NULL
		END

		--if we didnt find it in launchpad, try to find it in decision
		IF @BVTDecision IS NULL

		/* Get a bit indicating whether or not BVTs are needed (from the decision page). */
		SELECT DISTINCT TOP 1 @BVTDecision =  decision.DeBVTs 
				 FROM LabDecision..tbl_Decision decision WITH (READPAST)
				 WHERE (@LabID = decision.LabID) 
				   AND (DATEDIFF(dd,@BuildDate, decision.DeBuildDate) = 0)
				   AND @LocaleSetID = decision.DecisionTypeID
				   AND (decision.DeBuild = 1)

	-- Return the result of the function
	RETURN @BVTDecision

END





GO
