USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_UpdateSessionRunFixScheduled]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_UpdateSessionRunFixScheduled]
(
	@SessionID INT
)
AS
	SET NOCOUNT ON
	
    UPDATE tbl_Session WITH (ROWLOCK)
       SET SeRunFixScheduled = 1
     WHERE SessionID = @SessionID

    DECLARE @Log NVARCHAR(MAX)
    SET     @Log = 'Make build as runfix scheduled'
    EXEC	sp_LogSessionChange @SessionID, '', @Log
	
RETURN




GO
