USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_LogSkipProcess]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- sp_LogSkipProcess
CREATE PROCEDURE [dbo].[sp_LogSkipProcess]
	(
		@Revision varchar(50),
		@LabShortName varchar(50),
		@ProductShortName varchar(10),
		@MilestoneShortName varchar(10),
		@FlavorShortName varchar(10),
		@TargetArchitectureShortName varchar(10),
		@ProcessShortName varchar(10),
		@MachineName varchar(50)
	)
AS
	DECLARE	@SessionID int
	DECLARE @SchemaID int
	
	DECLARE @LogDateTime datetime 
	SELECT @LogDateTime = GetDate()
	
	-- SessionID and SchemaID.
	EXEC sp_GetSessionID @Revision, @LabShortName, @ProductShortName, @MilestoneShortName, @FlavorShortName, @TargetArchitectureShortName, @LogDateTime, @MachineName, @SessionID OUTPUT, @SchemaID OUTPUT
	SELECT @SessionID As SessionID
	-- Reset the stalled value.
	UPDATE tbl_Session
	   SET SeManuallyStalled = NULL,
		   SeDelayed = 0,
	       SeComment = NULL
	 WHERE SessionID = @SessionID
	DECLARE @SchemaGroupID int
	DECLARE @SessionGroupProcessStatusID int
	DECLARE @SessionGroupStatusID int
	
	-- SchemaGroupID.   
	SELECT @SchemaGroupID = SchemaGroupID
	FROM tbl_SchemaGroupProcess WITH (NOLOCK)
	WHERE PrShortName = @ProcessShortName
	AND SchemaID = @SchemaID  
	-- SessionGroupProcessStatusID and RunNumber.
	SELECT @SessionGroupProcessStatusID = sgps.SessionGroupProcessStatusID
	FROM tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
	JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sgps.SessionID = @SessionID AND sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID AND sgp.PrShortName = @ProcessShortName)
	JOIN tbl_Session s WITH (NOLOCK) ON (sgp.SchemaID = s.SchemaID)
	WHERE s.SessionID = @SessionID
GROUP BY sgps.SessionGroupProcessStatusID
	-- SessionGroupStatusID.
	SELECT @SessionGroupStatusID = sgs.SessionGroupStatusID
	FROM tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
	JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sgps.SessionID = @SessionID AND sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID AND sgps.SessionGroupProcessStatusID = @SessionGroupProcessStatusID)
	JOIN tbl_SessionGroupStatus sgs WITH (NOLOCK) ON (sgp.SchemaGroupID = sgs.SchemaGroupID)
	JOIN tbl_Session s ON (sgs.SessionID = s.SessionID)
	WHERE s.SessionID = @SessionID
	-- Mark the process as "to be skipped".
	UPDATE tbl_SessionGroupProcessStatus WITH (ROWLOCK)
	SET Skip = 1,
		IgnoreTiming = 1
	WHERE SessionGroupProcessStatusID = @SessionGroupProcessStatusID

	-- Now, check if all processes for this group are marked as "to be skipped".  If 
	-- they are, mark the group as "to be skipped" as well. 
	SELECT 1
	FROM tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
	JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID)
	WHERE SessionID = @SessionID
	AND SchemaGroupID = @SchemaGroupID
	AND Skip = 0	   

	IF @@ROWCOUNT = 0
		UPDATE tbl_SessionGroupStatus WITH (ROWLOCK)
		SET Skip = 1
		WHERE SessionGroupStatusID = @SessionGroupStatusID

	-- Now, check to see if this is the last process to be completed in this Group. 
	-- If it is, mark the Group as completed also.
	SELECT 1
	FROM tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
	JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID AND sgp.SchemaGroupID = @SchemaGroupID AND (sgps.StatusID = 1 OR sgps.StatusID = 7 OR sgps.StatusID = 2))
	WHERE sgps.SessionID = @SessionID
	AND sgps.Skip = 0
		
	IF @@ROWCOUNT = 0
		BEGIN
			EXEC sp_UpdateSessionGroupStatusAsFinished @SessionGroupStatusID, 5, @LogDateTime
			EXEC up_CompleteSessionIfAllGroupsAreComplete @SessionID, @LogDateTime
		END
		

	



GO
