USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddLabWithGit]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddLabWithGit]
(
    @LabID int,
    @ShortName varchar(50),
    @Name varchar(50),	
    @Description varchar(255),
    @Branch varchar(50),
    @BVTCode varchar(50),
    @Owner varchar(20),
    @RIFI bit,
    @BFDGroupID int,
    @Private bit,
    @Status bit,
    @AutoDropRemove bit = 1,
    @Decision bit,
    @IssueHandoffReminderInterval int,
    @IssueReminderInterval int,
    @MilestoneID int,
    @CLRTestLab int,
    @MSDN bit,
    @AutoOpenIssues bit,
    @AutoAssignToBuildLab bit = 1,
    @AutoAssignIssueExceptions varchar(500) = NULL,
    @OrgID int,
    @ParentLabID int,
    @MSDNLabID int,
    @DropManagement bit,
    @DropProjectID int,
    @PUID int = NULL,
    @CostEaseProjectID int = NULL,
    @BuildMachinesAreReleasedPartially bit = 0,
    @SourceControlID int = 2,
    @UserAlias varchar(20),
    @AutoLaunch bit = 0,
    @AutoAbandon bit = 1,
    @ConcurrentLimit int = null,
    @IntervalLimit int = null,
    @IntervalLimitWindow char(1) = null,
    @SourceControlPath varchar(2000),
    @BugDatabaseID int = null,
    @ToolsBaseline decimal(9, 5),
    @GitRepoPath varchar(2000),
    @GitRepoBranch varchar(255),
    @BootstrapVersion varchar(500),
    @DropAge int = 30,
    @MailTo varchar(500) = null,
    @LabGroupId int = 0
)
AS
/*	Modified by	Date		Change
    ***********************************************************
    a-karthp		08/22/2005	Recreated the sproc
    a-karthp		09/12/2005	Added an additional column MSDNLabID
    abjork			03/30/2006	Updates for drop management.
    a-joeyj			04/23/2009	Added support for LaBuildMachinesAreReleasedPartially column
    a-joeyj			04/23/2009	Added support for setting the SourceControlID column
    avip			03/02/2010	Added new params for launch limits
    jasward			08/13/2010  Added option to set bug database id
    jasward			02/07/2012	Added new parameter for auto abandon
    jokeech         12/05/2014  Added new parameter for tools baseline
    nango			03/17/2015	Move from sp_AddLab, Add new parameters for Git
    forco			08/28/2015	Add new BootstrapVersion parameter
    andg            10/28/2015  Add new DropAge parameter
    nango           11/27/2016  Add new LabGroup parameter
*/
    set nocount on 

    -- Temporary hack because of our crappy requirement for the lab, short and branch names to be the same except for Lopez branches.
    select @Branch = case when @Name like 'Lopez-%' then replace(@Branch, 'Lopez-', '') else @Branch end
    
    declare @Order int,
        @LabLogID int,
        @RoleID int,
        @RoleName varchar(255),
        @ErrMessage varchar(4000)
    
	if @LabGroupId = NULL set @LabGroupId=0

    SELECT @Order = (SELECT MAX(LaOrder) + 1 
                    FROM tbl_Lab 
                    WHERE MilestoneID = @MilestoneID
                    AND LaStatus = 1)

    begin transaction

    --Create security Role

    set @RoleName = 'Admins - ' + @ShortName

    set @ErrMessage = 'Creating a new role in DDSecurity'

    exec DDSecurity..sp_SaveRole -1, 17, @ShortName, @RoleName, 'Members of this role can approve/reject save requests', @RoleID output

    if(@@error <> 0) goto on_error

    set @ErrMessage = 'Inserting a new record into tbl_Lab table'

    insert  into tbl_Lab 
    (
        LaName,
        LaShortName,
        LaDescription,
        LaBranch,
        LaOrder,
        LaBVTCode,
        LaOwner,
        LaDropSlots,
        LaReservedDropSlots,
        RIFI,
        VBL,
        BFDGroupID,
        LaPrivate,
        LaStatus,
        LaAutoDropRemove,
        LaDecision,
        LaIssueHandoffReminderInterval,
        LaIssueReminderInterval,
        LaPartner,
        MilestoneID,
        LaCLRTestLab,
        LaMSDN,
        LaAutoOpenIssues,
        LaAutoAssignToBuildLab,
        LaAutoAssignIssueExceptions,
        OrgID,
        DropSecurityRoleID,
        MSDNLabID,
        LaDropManagement,
        PUID,
        CosteaseProjectID,
        LaBuildMachinesAreReleasedPartially,
        SourceControlID,
        LaAutoLaunch,
        LaAutoAbandon,
        ConcurrentLimit,
        IntervalLimit,
        IntervalLimitWindow,
        LaSourceControlPath,
        BugDatabaseID,
        LaToolsBaseline,
        LaGitRepoPath,
        LaGitRepoBranch,
        LaBootstrapVersion,
        LaDropAge,
        LaMailTo,
        LaLabGroupId
    )
    values
    (
        @Name,
        @ShortName,
        @Description,
        @Branch,
        @Order,
        @BVTCode,
        @Owner,
        0,	--Drops slots default it to 0
        0,	--Current slots default it to 0
        @RIFI,
        1,
        @BFDGroupID,
        @Private,
        @Status,
        @AutoDropRemove,
        @Decision,
        @IssueHandoffReminderInterval,
        @IssueReminderInterval,
        0,
        @MilestoneID,
        @CLRTestLab,
        @MSDN,
        @AutoOpenIssues,
        @AutoAssignToBuildLab,
        @AutoAssignIssueExceptions,
        @OrgID,
        @RoleID,
        @MSDNLabID,
        @DropManagement,
        @PUID,
        @CostEaseProjectID,
        @BuildMachinesAreReleasedPartially,
        @SourceControlID,
        @AutoLaunch,
        @AutoAbandon,
        @ConcurrentLimit,
        @IntervalLimit,
        @IntervalLimitWindow,
        @SourceControlPath,
        @BugDatabaseID,
        @ToolsBaseline,
        @GitRepoPath,
        @GitRepoBranch,
        @BootstrapVersion,
        @DropAge,
        @MailTo,
        @LabGroupId
    )

    if(@@error <> 0) goto on_error
    SELECT @LabID = @@Identity

    if (@DropManagement = 1)
    begin
        set @ErrMessage = 'Adding the drop project relationship'
        insert into DropManagement..tbl_ProjectLab
        (
            ProjectID,
            LabID,
            LaProtectedDrops
        )
        values
        (
            @DropProjectID,
            @LabID,
            16
        )
        if(@@error <> 0) goto on_error

        set @ErrMessage = 'Adding the drop project label relationship'
        insert into DropManagement..atbl_ProjectLabLabel
        (
            ProjectID,
            LabID,
            LabelID
        )
        select
            @DropProjectID,
            @LabID,
            LabelID
        from	DropManagement..tbl_label
        where	orgid = @OrgID
        AND		LabelID <> 1
    
        if(@@error <> 0) goto on_error


    end

    --Insert parent if any 
    if(@ParentLabID is not null and @ParentLabID <> 0)
    begin
        set @ErrMessage = 'Inserting a new record into tbl_LabParent table'

        insert into Integration.LabParent 
        (
            LabID, 
            ParentLabID
        )
        values 
        (
            @LabID, 
            @ParentLabID
        )

        if(@@error <> 0) goto on_error
    end

    set @ErrMessage = 'Inserting a new record into tbl_LabLog table'
    --Insert created log
    insert into tbl_LabLog (LabID, LlUserAlias)
    values (@LabID, @UserAlias)

    set @LabLogID = @@identity

    insert into tbl_LabLogText 
    values(@LabLogID,'Lab created')

    if(@@error <> 0) goto on_error

    commit transaction
    select @LabID
    return

on_error:
    rollback transaction
    set @ErrMessage = 'ERROR : sp_AddLab - ' + @ErrMessage
    raiserror(@ErrMessage, 16, 1)
GO
