USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSeverities]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSeverities]
AS
	SET NOCOUNT ON
	
	SELECT SeverityID, SeName
	  FROM tlkp_Severity WITH (NOLOCK)
  ORDER BY SeName ASC	
	RETURN 
GO
