USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMachineAccessList]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetMachineAccessList]
(
	@OrgID int = 1
)
AS
	SET NOCOUNT ON
	
	SELECT DISTINCT MachineName, DateTimeStamp, UserName
	  INTO #Granted
	  FROM tbl_MachineAccess MA WITH (NOLOCK)
INNER JOIN tbl_Issue I WITH (NOLOCK) ON MA.IssueID = I.IssueID	
	 WHERE MA.Status = 'GRANTED'
	   AND MA.OrgID = @OrgID
	   AND I.IsClosed = 0
								     
	SELECT DISTINCT MachineName, MAX(DateTimeStamp) As DateTimeStamp, UserName
	  INTO #Revoked
	  FROM tbl_MachineAccess WITH (NOLOCK)
	 WHERE Status = 'REVOKED'							     
	   AND OrgID = @OrgID
  GROUP BY MachineName, UserName 
  
	SELECT DISTINCT g.MachineName, g.UserName, g.DateTimeStamp
	  FROM #Granted g
	 WHERE g.MachineName NOT IN (SELECT MachineName
							   FROM #Revoked r
							  WHERE r.DateTimeStamp > g.DateTimeStamp)
  ORDER BY g.MachineName, g.UserName
	DROP TABLE #Granted								     
	DROP TABLE #Revoked
	
	RETURN
GO
