USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateIssueWorkAround]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateIssueWorkAround]
	(
		@IssueID int,
		@Text varchar(6000),
		@UserName varchar(50)
	)
AS
	SET NOCOUNT ON
	UPDATE tbl_IssueLog WITH (ROWLOCK)
	   SET LoText = @Text,
		   LoDateChanged = GetDate(),
		   LoChangedBy = @UserName
	 WHERE IssueID = @IssueID
	   AND IssueLogID = (SELECT IsWorkAround FROM tbl_Issue WHERE IssueID = @IssueID)
	IF @@ROWCOUNT = 0
		BEGIN
			DECLARE @IssueLogID int
			EXEC sp_AddIssueLog @IssueID, @Text, @Username, @IssueLogID OUTPUT
			EXEC sp_AddIssueWorkAround @IssueID, @IssueLogID
		END
	RETURN 
GO
