USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_DeleteSession]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_DeleteSession]
    (
        @SessionID int,
        @Comment varchar(255),
        @User varchar(20) = NULL,
        @ImpersonatingUser varchar(20) = NULL,
        @IP varchar(20) = NULL
    )
AS
    SET NOCOUNT ON
    
    BEGIN TRANSACTION
    
        -- Since the session has a foreign key constraint to SessionGroup table, we need to make sure
        -- that a sessiongroup with the same keys is available
        DECLARE @Revision varchar(255) 
        DECLARE @LabID int
        DECLARE @LocaleSetID int
        DECLARE @SessionGroupID int
        
        SELECT @Revision = SeRevision, @LabID = LabID, @LocaleSetID = LocaleSetID
        FROM tbl_Session
        WHERE	SessionID = @SessionID 
        
        SET @Revision = @Revision + '_DEL'
        
        EXEC up_EnsureSessionGroup @LabID, @Revision, @LocaleSetID, @SessionGroupID OUTPUT
        
        UPDATE	tbl_Session WITH (ROWLOCK)
        SET		SeRevision = @Revision,
                SeBuildDate = DATEADD(yy, -5, SeBuildDate),
                SeFinished = GetDate() ,
                StatusID = 8
        WHERE	SessionID = @SessionID
        
        INSERT 
        INTO	tbl_LogFootprint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
        VALUES	('Session ' + CONVERT(varchar(20), @SessionID) + ' has been deleted by ' + @User, GetDate(), GetDate())
        
        IF LEN(@Comment) > 0
            BEGIN
                DECLARE @NewComment varchar(400)
                SELECT @NewComment = 'Deleted by ' + @User + ' with the following comment: ' + @Comment
                EXEC sp_AddSessionLog @SessionID, @User, @NewComment
            END
    
    COMMIT TRANSACTION
    
    RETURN
GO
