USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetOrgs]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[up_GetOrgs]

AS
	SET NOCOUNT ON
	
	SELECT	DISTINCT o.*
	FROM	tbl_Org o WITH (NOLOCK)
	JOIN	tbl_Lab l WITH (NOLOCK)
				ON (o.OrgID = l.OrgID)
	--WHERE	l.LaDropManagement = 1 
	
	RETURN



GO
