USE [LabStatus]
GO
/****** Object:  Table [dbo].[atbl_OrgFixType]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[atbl_OrgFixType](
	[OrgID] [int] NOT NULL,
	[FixTypeID] [int] NOT NULL,
 CONSTRAINT [PK_atbl_OrgFixType] PRIMARY KEY CLUSTERED 
(
	[OrgID] ASC,
	[FixTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
