USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessionGroupProcess]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetSessionGroupProcess]
	(
		@ProcessID int
	)
AS
	SET NOCOUNT ON

	SELECT		sgps.*, sgp.SchemaGroupID, sgp.PrName, sgp.PrDocLink, sgp.MachineName
	FROM		tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
	JOIN		tbl_SchemaGroupProcess sgp WITH (NOLOCK)
					ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID)
	WHERE		sgps.SessionGroupProcessStatusID = @ProcessID
	ORDER BY	sgps.ProcessStarted ASC
GO
