USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[Throw]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE  PROCEDURE [dbo].[Throw]
(
	@Message nvarchar(max)= null,
	@Param1 nvarchar(max) = null,
	@Param2 nvarchar(max) = null,
	@Param3 nvarchar(max) = null,
	@Param4 nvarchar(max) = null,
	@Param5 nvarchar(max) = null,
	@Param6 nvarchar(max) = null,
	@Param7 nvarchar(max) = null,
	@Param8 nvarchar(max) = null,
	@Param9 nvarchar(max) = null
)
AS
Begin

	If(@Message Is Not Null)
	Begin
		Set @Message = Replace(@Message,'$','%s')
		RAISERROR (@Message,18,1,@Param1,@Param2,@Param3,@Param4,@Param5,@Param6,@Param7,@Param8,@Param9) WITH NOWAIT,SETERROR
	End
	Else
	Begin

		Declare @ErrorNumber int,
				@ErrorSeverity int,
				@ErrorState int,
				@ErrorMessage varchar(max)

		SELECT	@ErrorNumber = ERROR_NUMBER(),
				@ErrorSeverity = ERROR_SEVERITY(),
				@ErrorState = ERROR_STATE(),
				@ErrorMessage = ERROR_MESSAGE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState) WITH NOWAIT,SETERROR		
	End
End




GO
