USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_OverrideSessionGroupProcessValues]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_OverrideSessionGroupProcessValues]
	(
		@SessionGroupProcessStatusID int,
		@StatusID int,
		@DateTimeStarted datetime = null,
		@DateTimeFinished datetime = null,
		@IgnoreTiming bit,
		@Skip bit
	)
AS
	SET NOCOUNT ON
	
	DECLARE @SessionID int
	SELECT @SessionID =(SELECT SessionID
						  FROM tbl_SessionGroupProcessStatus
						 WHERE SessionGroupProcessStatusID = @SessionGroupProcessStatusID)	
	
	DECLARE @CurrentSessionStatus int
	SELECT @CurrentSessionStatus = StatusID 
	  FROM tbl_Session 
	 WHERE SessionID = @SEssionID
	
	UPDATE tbl_SessionGroupProcessStatus
	   SET StatusID = @StatusID,
		   ProcessStarted = @DateTimeStarted,
		   ProcessFinished = @DateTimeFinished,
		   IgnoreTiming = @IgnoreTiming,
		   Skip = @Skip
	 WHERE SessionGroupProcessStatusID = @SessionGroupProcessStatusID
	 
	 -- If the status is being set to IN PROGRESS, REBUILDING, NOT STARTED, or MARKED FOR REBUILD, mark
	 -- the parent group as IN PROGRESS and delete the datetime finished.
	 IF @StatusID IN (1,2,4,7)
		BEGIN
			UPDATE tbl_SessionGroupStatus
			   SET StatusID = 2,
			       GroupFinished = null
			  FROM tbl_SessionGroupProcessStatus sgps 
			  JOIN tbl_SchemaGroupProcess sgp ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID) 
			  JOIN tbl_SessionGroupStatus sgs ON (sgp.SchemaGroupID = sgs.SchemaGroupID AND sgs.SessionID = sgps.SessionID)
			 WHERE sgps.SessionGroupProcessStatusID = @SessionGroupProcessStatusID
		END
	 -- If the status is being set to REBUILDING, NOT STARTED, or MARKED FOR REBUILD, mark
	 -- the parent group as IN PROGRESS and delete the datetime finished.
	IF (@StatusID IN (1,2,4)) AND (@CurrentSessionStatus = 5)
		UPDATE tbl_Session
		   SET StatusID = 4
		 WHERE SessionID = @SessionID
	-- Now, check to see if this is the last process to be completed in this Group. 
	-- If it is, mark the Group as completed also.
	IF @StatusID = 5
		BEGIN
			-- Clear the stalled flag.
			UPDATE tbl_SessionGroupProcessStatus
			  SET Stalled = 0
			WHERE SessionGroupProcessStatusID = @SessionGroupProcessStatusID
					
			DECLARE @SchemaGroupID int
			
			SELECT @SchemaGroupID = SchemaGroupID
			  FROM tbl_SchemaGroupProcess sgp WITH (NOLOCK)
			  JOIN tbl_SessionGroupProcessStatus sgps ON (sgp.SchemaGroupProcessID = sgps.SchemaGroupProcessID AND sgps.SessionGroupProcessStatusID = @SessionGroupProcessStatusID)
			
			SELECT 1
			  FROM tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
			  JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID AND sgp.SchemaGroupID = @SchemaGroupID AND (sgps.StatusID = 1 OR sgps.StatusID = 7 OR sgps.StatusID = 2))
			 WHERE sgps.SessionID = @SessionID
			   AND sgps.Skip = 0
				
			IF @@ROWCOUNT = 0
				BEGIN
					DECLARE @SessionGroupStatusID int
					
					SELECT @SessionGroupStatusID = sgs.SessionGroupStatusID
					FROM tbl_SessionGroupProcessStatus sgps 
					JOIN tbl_SchemaGroupProcess sgp ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID) 
					JOIN tbl_SessionGroupStatus sgs ON (sgp.SchemaGroupID = sgs.SchemaGroupID AND sgs.SessionID = sgps.SessionID)
					WHERE sgps.SessionGroupProcessStatusID = @SessionGroupProcessStatusID
					EXEC sp_UpdateSessionGroupStatusAsFinished @SessionGroupStatusID, 5, @DateTimeFinished
				END
			EXEC up_CompleteSessionIfAllGroupsAreComplete @SessionID
		END
	
	RETURN 

GO
