USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_ReassignIssueToPending]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_ReassignIssueToPending]
	(
		@IssueID int,
		@AssignTo varchar(50),
		@AssignedBy varchar(50)
	)
AS
	SET NOCOUNT ON
	
	UPDATE tbl_Issue WITH (ROWLOCK)
	   SET IsPendingOwner = @AssignTo,
	       IsPendingSince = GetDate(),
	       IsAssignedBy = @AssignedBy,
	       IsCCManagerOnEmails = 0
	 WHERE IssueID = @IssueID
	
	
	
	RETURN 


GO
