USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_RptNumberOfIssuesPerUserGroupedAndRolledUp]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_RptNumberOfIssuesPerUserGroupedAndRolledUp]
	(
		@From datetime,
		@To datetime,
		@Labs varchar(1000),
		@CostCenter int,
		@SeverityIDs varchar(255) = '1,2'
	)
AS
	SET NOCOUNT ON

	IF @CostCenter = 0
		BEGIN
			SELECT COUNT(DISTINCT isrc.IssueID) As NumberOfIssues, i.IsCausedBy
		 	  FROM tlkp_Source src WITH (NOLOCK)
			  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (src.SourceID = isrc.SourceID)
			  JOIN tbl_SessionIssue si WITH (NOLOCK) ON (isrc.IssueID = si.IssueID)
			  JOIN tbl_Session s WITH (NOLOCK) ON (si.SessionID = s.SessionID)	  
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN tbl_Issue i WITH (NOLOCK) ON (si.IssueID = i.IssueID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) sv ON (i.SeverityID = sv.ItemID)
			 WHERE DATEDIFF(dd, i.IsDateClosed, @From) <= 0
			   AND DATEDIFF(dd, i.IsDateClosed, @To) >= 0
			   AND i.IsDeleted = 0
			   AND ((i.IsCausedBy IS NOT NULL) AND (i.IsCausedBy <> ''))
			   AND l.VBL = 1
			   AND isrc.SourceID <> 11 -- Information
			   AND isrc.SourceID <> 2 -- Raw Suites
			   AND s.FlavorID NOT IN (5) -- No DAT builds.
			   AND s.SeRevision NOT LIKE '%_DEL'  
		  GROUP BY i.IsCausedBy
		  ORDER BY NumberOfIssues DESC
		END
	
	ELSE IF @CostCenter <> 0
		BEGIN
			SELECT COUNT(DISTINCT isrc.IssueID) As NumberOfIssues, i.IsCausedBy
		 	  FROM tlkp_Source src WITH (NOLOCK)
			  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (src.SourceID = isrc.SourceID)
			  JOIN tbl_SessionIssue si WITH (NOLOCK) ON (isrc.IssueID = si.IssueID)
			  JOIN tbl_Session s WITH (NOLOCK) ON (si.SessionID = s.SessionID)	  
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN tbl_Issue i WITH (NOLOCK) ON (si.IssueID = i.IssueID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) sv ON (i.SeverityID = sv.ItemID)
			 WHERE DATEDIFF(dd, i.IsDateClosed, @From) <= 0
			   AND DATEDIFF(dd, i.IsDateClosed, @To) >= 0
			   AND i.IsCostCenter = @CostCenter	-- Filter by cost center
			   AND i.IsDeleted = 0
			   AND ((i.IsCausedBy IS NOT NULL) AND (i.IsCausedBy <> ''))
			   AND l.VBL = 1
			   AND isrc.SourceID <> 11 -- Information
			   AND isrc.SourceID <> 2 -- Raw Suites
			   AND s.FlavorID NOT IN (5) -- No DAT builds.
			   AND s.SeRevision NOT LIKE '%_DEL'  
		  GROUP BY i.IsCausedBy
		  ORDER BY NumberOfIssues DESC
		END

	RETURN

GO
