USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLabsAndMilestonesForStatusPageByOrg]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[sp_GetLabsAndMilestonesForStatusPageByOrg]
(
	@OrgID int
)
AS


	SET NOCOUNT ON
	
	SELECT DISTINCT m.*
	INTO		#Milestones
	FROM		tbl_Milestone m WITH (NOLOCK)
	JOIN		tbl_Lab l WITH (NOLOCK) ON (m.MilestoneID = l.MilestoneID)
	WHERE		m.MiActive = 1
	AND			l.OrgID = @OrgID
	ORDER BY	m.MiOrder

	SELECT * FROM #Milestones
	
	SELECT		l.*
	FROM		tbl_Lab l WITH (NOLOCK)	 
	INNER JOIN	#Milestones m 
					ON m.MilestoneID = l.MilestoneID
	WHERE		l.LaStatus = 1 AND  l.OrgID = @OrgID
	AND	        (m.MiName <> 'Validation Builds' OR l.LaName LIKE 'Lopez%')
	ORDER BY	LaName

    SELECT  DISTINCT l.LabID, l.LaName, ISNULL(sdtpb.ParentBranch, '[Parent]') AS ParentBranch
	FROM tbl_Session s WITH (NOLOCK)
	LEFT JOIN (SELECT s.SessionID, sg.SessionGroupID
    FROM tbl_Session s WITH (NOLOCK)
    LEFT JOIN tbl_SessionGroup sg WITH (NOLOCK) 
	ON (sg.LabId = s.LabId 
		AND sg.Revision = s.SeRevision 
		AND sg.LocaleSetID = s.LocaleSetID)) tmp
	ON tmp.SessionId = s.SessionID
	LEFT JOIN tbl_SessionGroupTopicParentBranches sdtpb WITH (NOLOCK)
	ON tmp.SessionGroupID = sdtpb.SessionGroupID
	LEFT JOIN tbl_Lab l WITH (NOLOCK)
	ON s.LabID = l.LabID
	LEFT JOIN tbl_Milestone m WITH (NOLOCK)
	ON l.MilestoneID = m.MilestoneID
	WHERE s.SeValidationBuild = 1
	AND l.OrgID = @OrgID
	AND l.LaStatus = 1
	AND l.LaName NOT LIKE 'Lopez%'
	AND m.MiName = 'Validation Builds'

	--SELECT  DISTINCT l.LabID, l.LaName, ISNULL(sdtpb.ParentBranch, '[Parent]') AS ParentBranch
	--FROM tbl_Session s WITH (NOLOCK) 
	--LEFT JOIN tbl_SessionGroupTopicParentBranches sdtpb WITH (NOLOCK)
	--ON dbo.fn_GetSessionGroupForSession(s.SessionID) = sdtpb.SessionGroupID
	--JOIN tbl_Lab l WITH (NOLOCK)
	--ON s.LabID = l.LabID
	--JOIN tbl_Milestone m WITH (NOLOCK)
	--ON l.MilestoneID = m.MilestoneID
	--WHERE s.SeValidationBuild = 1
	--AND l.OrgID = @OrgID
	--AND l.LaStatus = 1
	--AND l.LaName NOT LIKE 'Lopez%'
	--AND m.MiName = 'Validation Builds'

	RETURN


GO
