USE [LabStatus]
GO
/****** Object:  Table [dbo].[tlkp_Source]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tlkp_Source](
	[SourceID] [int] NOT NULL,
	[SoShortName] [varchar](10) NULL,
	[SoName] [varchar](50) NULL,
	[SoDescription] [varchar](255) NULL,
	[SoOrder] [int] NULL,
	[SoActive] [bit] NULL,
	[SoObsolete] [bit] NOT NULL,
 CONSTRAINT [PK_tlkp_Source] PRIMARY KEY CLUSTERED 
(
	[SourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tlkp_Source] ADD  CONSTRAINT [DF_tlkp_Source_SoObsolete]  DEFAULT ((1)) FOR [SoObsolete]
GO
