USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddIssueBug]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddIssueBug]
	(
		@IssueID int,
		@BugNumber int,
		@BugDatabaseID int
	)
AS
	SET NOCOUNT ON
	INSERT
	  INTO tbl_IssueBug (IssueID, BugNumber, BugDatabaseID)
	VALUES (@IssueID, @BugNumber, @BugDatabaseID)
	
	RETURN 
GO
