USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddIssueDependency]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddIssueDependency]
	(
		@IssueID int,
		@DependentIssueID int
	)
AS
	SET NOCOUNT ON
	
	SELECT 1
	  FROM tbl_IssueDependency
	 WHERE IssueID = @IssueID
	   AND DependentIssueID = @DependentIssueID
	   
	IF @@ROWCOUNT = 0
		INSERT
		  INTO tbl_IssueDependency (IssueID, DependentIssueID)
		VALUES (@IssueID, @DependentIssueID)
	
	RETURN 
GO
