USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessionGroupByIDs]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetSessionGroupByIDs]
    @LabID int, 
    @LocaleSetID int,
    @Revision varchar(100)
AS
    SET NOCOUNT ON
    
    SELECT *
    FROM tbl_SessionGroup 
    WHERE LabID=@LabID AND
          LocaleSetID= @LocaleSetID AND
          Revision=@Revision
    
    RETURN
GO
