USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMachineLogs]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetMachineLogs]
	(
		@MachineName varchar(100)
	)
AS
	SET NOCOUNT ON
	
	SELECT DateTimeStamp, UserName, Status
	  FROM tbl_MachineAccess WITH (NOLOCK)
	 WHERE MachineName = @MachineName 
  ORDER BY DateTimeStamp DESC
								    
	RETURN 
GO
