USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateProduct]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateProduct]
(
	@ProductID int,
	@Name varchar(50)
)
AS
	SET NOCOUNT ON
	
	UPDATE tbl_Product WITH (ROWLOCK)
	   SET PrName = @Name
	 WHERE ProductID = @ProductID
	 
	RETURN 
GO
