USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_SearchIssues]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_SearchIssues]
	(
		@IssueID int = NULL,
		@Revision varchar(50) = NULL,
		@BugNumber varchar(50) = NULL,
		@LabIDs varchar(2000) = NULL,
		@LocaleSetID int = NULL,
		@CategoryID int = NULL,
		@OpenedDateFrom datetime = NULL,
		@OpenedDateTo datetime = NULL,
		@ClosedDate datetime = NULL,
		@Keywords varchar(255) = NULL,
		@AssignedTo varchar(50) = NULL,
		@Closed bit = NULL,
		@SeverityID int = NULL,
		@MilestoneID int = NULL,
		@OrgID int
	)
AS
	SET NOCOUNT ON
	
	IF @IssueID IS NULL
		AND @Revision IS NULL
		AND @BugNumber IS NULL
		AND @LabIDs IS NULL
		AND @LocaleSetID IS NULL
		AND @CategoryID IS NULL
		AND @OpenedDateFrom IS NULL
		AND @OpenedDateTo IS NULL
		AND @ClosedDate IS NULL	
		AND @Keywords IS NULL
		AND @AssignedTo IS NULL
		AND @Closed IS NULL
		AND @SeverityID IS NULL
		AND @MilestoneID IS NULL
		RETURN

	CREATE TABLE #KeywordIssues (IssueID int)
	IF @Keywords IS NOT NULL
		BEGIN
		    INSERT 
		      INTO #KeywordIssues
			SELECT DISTINCT IssueID
			  FROM tbl_IssueLog WITH (READPAST)
			 WHERE CONTAINS(LoText, @Keywords)

		    INSERT 
		      INTO #KeywordIssues
			SELECT DISTINCT IssueID
			  FROM tbl_Issue WITH (READPAST)
			 WHERE CONTAINS(IsTitle, @Keywords)
               AND IssueID NOT IN (SELECT IssueID FROM #KeywordIssues)
		END

	-- First, get the actual issues.
	SELECT DISTINCT i.IssueID
	  INTO #IssueId
	  FROM tbl_Issue i WITH (NOLOCK)
	  JOIN atbl_SessionIssue iss WITH (NOLOCK) ON (i.IssueID = iss.IssueID)
      JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
      JOIN tbl_Lab lb WITH (NOLOCK) ON (s.LabID = lb.LabID)
 LEFT JOIN tbl_IssueBug ib WITH (NOLOCK) ON (ib.IssueID = i.IssueID)
 LEFT JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (isrc.IssueID = i.IssueID)
	 WHERE i.IsDeleted = 0 
	   AND (i.IssueID = @IssueID OR @IssueID IS NULL)
	   AND (s.SeRevision = @Revision OR @Revision IS NULL)
	   AND (s.LabID IN (SELECT ItemID FROM dbo.fn_ParseCommaDelimitedList(@LabIDs)) OR @LabIDs IS NULL)
	   AND (s.LocaleSetID = @LocaleSetID OR @LocaleSetID IS NULL)
	   AND (isrc.SourceID = @CategoryID OR @CategoryID IS NULL)
	   AND ((i.IsDateCreated >= @OpenedDateFrom OR @OpenedDateFrom is null) AND (i.IsDateCreated <= @OpenedDateTo or @OpenedDateTo is null))
	   AND (DATEDIFF(dd, i.IsDateClosed, @ClosedDate) = 0 OR @ClosedDate IS NULL)	
	   AND ((i.IsAssignedTo = @AssignedTo OR i.IsPendingOwner = @AssignedTo) OR @AssignedTo IS NULL)	
	   AND (i.IsClosed = @Closed OR @Closed IS NULL)
	   AND (i.SeverityID = @SeverityID OR @SeverityID IS NULL)
	   AND (lb.MilestoneID = @MilestoneID OR @MilestoneID IS NULL)
	   AND ((@Keywords IS NOT NULL AND i.IssueID IN (SELECT DISTINCT IssueID FROM #KeywordIssues)) OR @Keywords IS NULL)
	   AND lb.OrgID = @OrgID
	   AND (ib.BugNumber = @BugNumber OR @BugNumber IS NULL)
	   
    DECLARE @IssueIdList VARCHAR(max)
    SELECT	@IssueIdList = COALESCE(@IssueIdList + ',', '') + CONVERT(varchar(20), IssueID) 
    FROM	#IssueId

    DROP TABLE #IssueId

    EXEC up_GetIssues @IssueIdList

	RETURN
GO
