USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_IssueBug]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_IssueBug](
	[IssueBugID] [int] IDENTITY(1,1) NOT NULL,
	[IssueID] [int] NOT NULL,
	[BugDatabaseID] [int] NOT NULL,
	[BugNumber] [int] NOT NULL
) ON [PRIMARY]
GO
