USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBuildMachines]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_GetBuildMachines]
AS
BEGIN
	SELECT DISTINCT LabId, SeBuildMachine
	FROM tbl_Session  (NOLOCK)
	WHERE SeBuildMachine <> ''
	AND SeFinished IS NOT NULL
	AND SeRevision NOT LIKE '%_DEL'
	ORDER BY LabId, SeBuildMachine
END
GO
