USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProcess]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetProcess]
(
	@ProcessID int
)
AS
	SET NOCOUNT ON
	
	SELECT PrName, PrShortName
	  FROM tbl_Process WITH (NOLOCK) 
	 WHERE ProcessID = @ProcessID
	 
	RETURN 
GO
