USE [LabStatus]
GO
/****** Object:  Table [dbo].[logrecords]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logrecords](
	[Date] [datetime] NULL,
	[Week] [datetime] NULL,
	[Month] [bigint] NULL,
	[User] [nvarchar](90) NULL,
	[Target] [nvarchar](450) NULL,
	[Succeeded] [bit] NULL,
	[Version] [nvarchar](500) NULL,
	[Branch] [nvarchar](310) NULL,
	[SourceControl] [nvarchar](160) NULL,
	[Source] [nvarchar](270) NULL,
	[BranchPrefix] [nvarchar](190) NULL,
	[FirstError] [nvarchar](4000) NULL,
	[FirstWarning] [nvarchar](4000) NULL,
	[File] [nvarchar](1330) NULL,
	[TfsError] [bit] NULL
) ON [PRIMARY]
GO
