USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionGroupName]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSessionGroupName]
	(
		@SessionGroupStatusID int
	)
AS
	SET NOCOUNT ON
	
	SELECT sg.GrName
	  FROM tbl_SessionGroupStatus sgs WITH (NOLOCK) 
	  JOIN tbl_SchemaGroup sg WITH (NOLOCK) ON (sgs.SchemaGroupID = sg.SchemaGroupID)
	 WHERE sgs.SessionGroupStatusID = @SessionGroupStatusID
	
	RETURN 
GO
