USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_UpdateBuildIdUrls]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_UpdateBuildIdUrls]
(
	@BuildIds varchar(1000),
	@BuildDetailUrl varchar(256) = null,		-- The URL of the TFS IBuildDetail, if applicable
	@TPCUrl varchar(256) = null					-- The URL of the TFS TeamProjectCollection, if applicable
)
AS
BEGIN
	SET NOCOUNT ON
	
	INSERT 
	INTO		tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
	VALUES		 
	(
		Utils.String.Format('up_UpdateBuildIdUrls @BuildIds = ''{0}'', @BuildDetailUrl = ''{1}'', @TPCUrl = ''{2}''', @BuildIds,@BuildDetailUrl,@TPCUrl, Null, Null),
		GetDate(), 
		GetDate()
	) 

	-- Try to find the BugDatabaseID based on the URL passed in
	declare @BugDatabaseID INT

	select @BugDatabaseID = BugDatabaseID from tlkp_BugDatabase
	where dbo.fn_StripTrailingSlash(BdServerUrl) = dbo.fn_StripTrailingSlash(@TPCUrl)

	IF @@ROWCOUNT <= 0
	BEGIN
		Exec Throw 'Cannot find matching record in tlkp_BugDatabase for URL = "$"', @TPCUrl
		Return
	END

	update tbl_Session
	set BugDatabaseID = @BugDatabaseID,
		SeBuildDetailUrl = @BuildDetailUrl
	where SessionID IN (
		select * from fn_ParseCommaDelimitedList(@BuildIds)
	)
	
END
GO
