USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_LogUpdateBuildProperty]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- sp_LogChangeBuildProperty
CREATE PROCEDURE [dbo].[sp_LogUpdateBuildProperty]
	(
		@Revision varchar(50),
		@LabShortName varchar(10),
		@ProductShortName varchar(10),
		@MilestoneShortName varchar(10),
		@FlavorShortName varchar(10),
		@TargetArchitectureShortName varchar(10),
		@LogDateTime datetime = NULL,
		@MachineName varchar(50),
		@PropertyToChange varchar(100),
		@NewPropertyValue varchar(50)
	)
AS
	BEGIN TRANSACTION
		
		DECLARE	@SessionID int
		-- Grab the LabID, ProductID, MilestoneID, FlavorID based on 
		-- the names passed in.
		DECLARE @MilestoneID int
		DECLARE @LabID int
		DECLARE @FlavorID int
		DECLARE @TargetArchitectureID int
		DECLARE @ProductID int
		DECLARE	@SessionSchemaID int
		
		-- MilestoneID.
		SELECT @MilestoneID = MilestoneID
		FROM tbl_Milestone WITH (NOLOCK) 
		WHERE MiShortName = @MilestoneShortName
		-- LabID.
		SELECT @LabID = LabID
		FROM tbl_Lab WITH (NOLOCK)
		WHERE LaShortName = @LabShortName 
		-- FlavorID.
		SELECT @FlavorID = FlavorID
		FROM tlkp_Flavor WITH (NOLOCK)
		WHERE FlShortName = @FlavorShortName
		-- TargetArchitectureID.
		SELECT @TargetArchitectureID = TargetArchitectureID
		FROM tlkp_TargetArchitecture WITH (NOLOCK)
		WHERE TaShortName = @TargetArchitectureShortName
		-- ProductID and SchemaID.
		SELECT @ProductID = ProductID, @SessionSchemaID = SchemaID
		FROM tbl_Product WITH (NOLOCK)
		WHERE PrShortName = @ProductShortName
		 
		-- SessionID.
		SELECT @SessionID = SessionID
		FROM tbl_Session WITH (NOLOCK)
		WHERE SeRevision = @Revision
		AND MilestoneID = @MilestoneID
		AND LabID = @LabID
		AND FlavorID = @FlavorID	
		AND TargetArchitectureID = @TargetArchitectureID
		IF @PropertyToChange = 'Revision'
			BEGIN
				UPDATE tbl_Session
				   SET SeRevision = @NewPropertyValue
				 WHERE SessionID = @SessionID
			END
	
	COMMIT TRANSACTION	
	
	RETURN 
GO
