USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_AddUserSession]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_AddUserSession]
	(
		@SessionID int,
		@Comment varchar(1000),
		@User varchar(20) = NULL,
		@ImpersonatingUser varchar(20) = NULL,
		@IP varchar(20) = NULL
	)
AS
	SET NOCOUNT ON
	
	SELECT	1 
	FROM	tbl_UserSession WITH (NOLOCK)
	WHERE	UserID = @User 
	AND		SessionID = @SessionID
	AND		SeRemoved = 0
	   
	IF @@ROWCOUNT = 0
		BEGIN
			INSERT 
			INTO	tbl_UserSession (UserID, SessionID, SeComment)
			VALUES	(@User, @SessionID, @Comment)
		END
	
	RETURN 


GO
