USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_SessionBVT]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SessionBVT](
	[SessionID] [int] NOT NULL,
	[RawBVTs] [varchar](1000) NULL,
	[RawStatus] [varchar](1000) NULL,
	[RawLink] [varchar](1000) NULL,
	[LayoutBVTs] [varchar](1000) NULL,
	[LayoutStatus] [varchar](1000) NULL,
	[LayoutLink] [varchar](1000) NULL,
	[LastUpdated] [datetime] NULL,
 CONSTRAINT [PK_tbl_SessionBVT] PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
