USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateMilestone]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateMilestone]
(
	@MilestoneID int,
	@Name varchar(50)
)
AS
	SET NOCOUNT ON
	
	UPDATE tbl_Milestone WITH (ROWLOCK)
	   SET MiName = @Name
	 WHERE MilestoneID = @MilestoneID
	 
	RETURN 
GO
