USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSchemaGroups]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSchemaGroups]
(
	@SchemaID int
)
AS
	SET NOCOUNT ON
	
	SELECT sg.SchemaGroupID, sg.GrShortName, sg.GrName, sg.AvgBuildTime
	  FROM tbl_SchemaGroup sg WITH (NOLOCK) 
	 WHERE sg.SchemaID = @SchemaID
  ORDER BY sg.GrOrder	
	
	RETURN 
GO
