USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[zz_up_GetReaderBoardData2]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[zz_up_GetReaderBoardData2]
AS

/********************************************************************************************
This sproc ultimately returns a table with multiple messages. The readerboard always
just displays the first one, but that might change one day.

The sproc just keeps inserting different categories of items into a temp table.
The first item in the table is what ends up on the readerboard.
*********************************************************************************************/
DECLARE @ResultString varchar(512)

CREATE TABLE #tbl_TMP_ReaderBoard (
	TextString	varchar (256),
	Importance	INT,
	URL		varchar(128)
	)
	
/********************************************************************************************
	If you want to insert a custom override message, do it here:
*********************************************************************************************/

--	INSERT INTO #tbl_TMP_ReaderBoard VALUES ( 'Mmmm.... Turkey...', 0, NULL )


/********************************************************************************************
	Look for builds with unprocessed [new] errors.
	-- DISABLED BY AVIP, 11/22/2006. This isn't used by the lab since auto-issues are
		active everywhere.
*********************************************************************************************/
/*
	SELECT SessionID, LaBranch, SeRevision, FlName, TaShortName
	INTO #tbl_TMP_ReaderBoard_Errs
	FROM	tbl_Session s (nolock),
		tbl_Lab l (nolock),
		tlkp_Flavor fl (nolock),
		tlkp_TargetArchitecture ta (nolock)
	WHERE	l.LabID = s.LabID
	and	fl.FlavorID = s.FlavorID
	and	ta.TargetArchitectureID = s.TargetArchitectureID
		and LaName NOT like '%avalon%'		-- EXCLUDE PARTNER BUILDS
		and LaName NOT like '%ddyukon%'	-- EXCLUDE PARTNER BUILDS
		and LaName NOT like '%longhorn%'	-- EXCLUDE PARTNER BUILDS
		and LaName NOT like '%exchange%'	-- EXCLUDE PARTNER BUILDS
		and LaName NOT like '%vbl_ndt%'	-- EXCLUDE PARTNER BUILDS
	and OrgID=1
	and	l.VBL = 1
	and	DATEDIFF( hh, SeStarted, GETDATE() ) < 24

	INSERT INTO #tbl_TMP_ReaderBoard
		SELECT TOP 5 LaBranch + '/' + SeRevision + '/' + FlName + '/' + TaShortName + ': ' + CONVERT( varchar, COUNT(le.LogEntryID) ) + ' new errs' AS TextString
			, 1 As Importance
			, 'https://ddweb.corp.microsoft.com/buildstatus/SessionLogs.aspx?sid=' + CONVERT(varchar, le.SessionID) + '&cid=3' AS URL
		FROM	tbl_LogError le WITH (READPAST),
			#tbl_TMP_ReaderBoard_Errs err
		WHERE	err.SessionID = le.SessionID
		AND	le.Processed = 0
		AND	le.CategoryID = 3
		GROUP BY LaBranch, SeRevision, FlName, TaShortName, le.SessionID
		ORDER BY COUNT(le.LogEntryID) DESC

	DROP TABLE #tbl_TMP_ReaderBoard_Errs
*/




/********************************************************************************************
	Look for issues that are pending assignment to DDBuild for a while.
*********************************************************************************************/
	INSERT INTO #tbl_TMP_ReaderBoard
		SELECT TOP 10 '#' + CONVERT( varchar, i.IssueID ) + ' ' + IsPendingOwner + '  ' + dbo.fn_ConvertMinutesToReadable( DATEDIFF( mi, IsPendingSince, GETDATE() ) ) AS TextString
			, 1 AS Importance
			, 'https://buildstatus/issues/issues.aspx?iid=' + CONVERT(varchar, i.IssueID) AS URL
		FROM tbl_Issue i (nolock)
		join tbl_IssueSource isrc (nolock) ON ( isrc.IssueID = i.IssueID )
		join tbl_SessionIssue si on ( si.IssueID = i.IssueID )
		join tbl_Session s on ( s.SessionID = si.SessionID )
		join tbl_Lab lab on ( lab.LabID = s.LabID )
		WHERE IsPendingOwner <> 'ddbuild'
		--and IsAssignedBy = 'ddbuild'
		and LaName NOT like '%avalon%'		-- EXCLUDE PARTNER BUILDS
		and LaName NOT like '%ddyukon%'	-- EXCLUDE PARTNER BUILDS
		and LaName NOT like '%longhorn%'	-- EXCLUDE PARTNER BUILDS
		and LaName NOT like '%exchange%'	-- EXCLUDE PARTNER BUILDS
		and LaName NOT like '%vbl_ndt%'	-- EXCLUDE PARTNER BUILDS
		and IsClosed = 0
		and IsDeleted = 0
		and SourceID <> 11			--- EXCLUDE INFO ISSUES
		and IsMachineAccessOnly = 0
		and DATEDIFF( mi, IsPendingSince, GETDATE() ) > 5
		ORDER BY IsPendingSince ASC


/********************************************************************************************
	Look for issues that are pending assignment FROM DDBuild for a while.
*********************************************************************************************/
	INSERT INTO #tbl_TMP_ReaderBoard
		SELECT '#' + CONVERT( varchar, IssueID ) + ' ' + IsPendingOwner + '  ' + dbo.fn_ConvertMinutesToReadable( DATEDIFF( mi, IsPendingSince, GETDATE() ) ) AS TextString
			,1 AS Importance
			, 'https://buildstatus/issues/issues.aspx?iid=' + CONVERT(varchar, IssueID) AS URL
		FROM tbl_Issue
		--select top 5 IssueID, IsTitle, IsAssignedTo, IsPendingSince, DATEDIFF( mi, IsPendingSince, GETDATE() ) AS [HowLong] from tbl_Issue
		WHERE IsPendingOwner IS NOT NULL
		and IsAssignedBy = 'ddbuild'
		and IsTitle NOT like '%avalon%'		-- EXCLUDE PARTNER BUILDS
		and IsTitle NOT like '%ddyukon%'	-- EXCLUDE PARTNER BUILDS
		and IsTitle NOT like '%longhorn%'	-- EXCLUDE PARTNER BUILDS
		and IsClosed = 0
		and IsDeleted = 0
		and IsMachineAccessOnly = 0
		and DATEDIFF( mi, IsPendingSince, GETDATE() ) > 5
		ORDER BY IsPendingSince ASC






/********************************************************************************************
	If nothing else made it into the temp table, then let's just print the date.
	But set the importance to zero, so it doesn't pop-up in the systray app.
*********************************************************************************************/
IF @@ROWCOUNT < 1
BEGIN
	INSERT INTO #tbl_TMP_ReaderBoard VALUES ( CONVERT( varchar, GETDATE() ), 0, NULL )
END

	--INSERT INTO #tbl_TMP_ReaderBoard VALUES ( 'TESTING' , 1 )


/********************************************************************************************
	Finally, send whatever is in the temp table to the user.
*********************************************************************************************/
SELECT * from #tbl_TMP_ReaderBoard


DROP TABLE #tbl_TMP_ReaderBoard
GO
