USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_MntrGetSessionProcessesWithTimes]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_MntrGetSessionProcessesWithTimes]
(
	@SessionID int
)
AS
	SET NOCOUNT ON
	
	SELECT DISTINCT sgp.*
	  FROM tbl_Session s WITH (NOLOCK)
	  JOIN tbl_SessionGroupStatus sgs WITH (NOLOCK) ON (s.SessionID = sgs.SessionID)
	  JOIN tbl_SessionGroupProcessStatus sgps WITH (NOLOCK) ON (s.SessionID = sgps.SessionID)
	  JOIN tbl_SchemaGroup sg WITH (NOLOCK) ON (sgs.SchemaGroupID = sg.SchemaGroupID)
	  JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sg.SchemaGroupID = sgp.SchemaGroupID)
	 WHERE s.SessionID = @SessionID
	 
	RETURN 

GO
