USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_LogDeleteBuild2]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- sp_Log
CREATE PROCEDURE [dbo].[sp_LogDeleteBuild2]
	(
		@Revision varchar(50),
		@LabShortName varchar(10),
		@ProductShortName varchar(10),
		@MilestoneShortName varchar(10),
		@FlavorShortName varchar(10),
		@TargetArchitectureShortName varchar(10),
		@LocaleSetShortName varchar(10),
		@LogDateTime datetime = NULL,
		@MachineName varchar(50)
	)
AS
	BEGIN TRANSACTION
		
		DECLARE	@SessionID int
		DECLARE @SchemaID int
		-- SessionID and SchemaID.
		EXEC sp_GetSessionID2 @Revision, @LabShortName, @ProductShortName, @MilestoneShortName, @FlavorShortName, @TargetArchitectureShortName, @LocaleSetShortName, @LogDateTime, @MachineName, @SessionID OUTPUT, @SchemaID OUTPUT
		SELECT @SessionID As SessionID
		IF @SessionID IS NULL
			BEGIN
				RAISERROR ('A session could not be found or created.', 16, 1, @Revision)
				ROLLBACK TRANSACTION
			END

		EXEC sp_MarkBuidAsDeleted @SessionID
		
		IF @@ERROR > 0
			BEGIN
				RAISERROR ('A log entry was not created.', 16, 1, @Revision)
				ROLLBACK TRANSACTION
			END
		ELSE
			COMMIT TRANSACTION
	
	RETURN 


GO
