USE [LabStatus]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetSessionFixStatus]    Script Date: 1/28/2026 12:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_GetSessionFixStatus]
(
	@IssueID int,
	@SessionID int
)
RETURNS int
AS
BEGIN
	/*********************************
	DESCRIPTION
		Returns an integer indicating the status of a session fix submission
		0 = no fix submitted
		1 = Automated Fix Submitted	
		2 = Automated Fix Implemented
		3 = Manual Fix Submitted
		4 = Manual Fix Implemented
		
		
	*********************************/
	DECLARE @Status int

	SELECT TOP 1 @Status = 
		CASE 
			WHEN  FiIsAutomated = 1 AND  FiCompletedTime IS NULL
			THEN 1
			WHEN FiIsAutomated = 1 AND FiCompletedTime IS NOT NULL
			THEN 2
			WHEN FiIsAutomated = 0 AND FiCompletedTime IS NULL
			THEN 3
			WHEN FiIsAutomated = 0 AND FiCompletedTime IS NOT NULL
			THEN 4
		END
	FROM tbl_Fix f
	INNER JOIN atbl_SessionFix sf WITH (NOLOCK) on sf.FixID = f.FixID
	WHERE sf.SessionID = @SessionID AND f.IssueID = @IssueID
	ORDER BY FiSubmittedDate DESC

	IF @Status IS NULL
		SET @Status = 0

	RETURN @Status
	
END

GO
