USE [LabStatus]
GO
/****** Object:  Table [dbo].[tlkp_SubSource]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tlkp_SubSource](
	[SubSourceID] [int] NOT NULL,
	[SuShortName] [varchar](10) NULL,
	[SuName] [varchar](255) NULL,
	[SuDescription] [varchar](1000) NULL,
	[SuOrder] [int] NULL,
	[SuActive] [bit] NULL,
 CONSTRAINT [PK_tlkp_SubSource] PRIMARY KEY CLUSTERED 
(
	[SubSourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tlkp_SubSource] ADD  CONSTRAINT [DF_tlkp_SubSource_SuOrder]  DEFAULT (1) FOR [SuOrder]
GO
ALTER TABLE [dbo].[tlkp_SubSource] ADD  CONSTRAINT [DF_tlkp_SubSource_SuActive]  DEFAULT (1) FOR [SuActive]
GO
