USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSessionGroupProcessStatusAsFinished]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateSessionGroupProcessStatusAsFinished]
	(
		@SessionGroupProcessStatusID int,
		@StatusID int,
		@FinishDateTime datetime
	)
AS
	SET NOCOUNT ON
	
	UPDATE tbl_SessionGroupProcessStatus WITH (ROWLOCK)
	   SET StatusID = @StatusID,
		   ProcessFinished = @FinishDateTime,
		   Stalled = 0
	 WHERE SessionGroupProcessStatusID = @SessionGroupProcessStatusID
	 
	-- Mark any stall warnings for this process as processed
	UPDATE tbl_LogError WITH (ROWLOCK)
	   SET Processed = 1
	 WHERE CategoryID = 4
	   AND Processed = 0
	   AND LogEntryID IN (SELECT DISTINCT LogEntryID
	                       FROM tbl_Log WITH (NOLOCK)
	                      WHERE SessionGroupProcessStatusID = @SessionGroupProcessStatusID
	                        AND CategoryID = 4)
	          
	
	RETURN 

GO
