USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AutoIssue_GetLastErrorProcessed]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_AutoIssue_GetLastErrorProcessed]
AS
	SET NOCOUNT ON
	SELECT 924045278
	--SELECT MAX(LogEntryID) FROM atbl_IssueLogError WITH (READPAST)


GO
