USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_MntrComputeAverage]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/* 
sp_MntrGetBuildsToMonitor - 
*/
CREATE PROCEDURE [dbo].[sp_MntrComputeAverage]
(
	@ProductID int,
	@MilestoneID int,
	@LabID int,
	@FlavorID int,
	@TargetArchitectureID int,
	@LocaleSetID int,
	@Process varchar(50)
)
AS
	SET NOCOUNT ON
	
	DECLARE @Avg int
	
	-- Select the averages into a temp table.
	SELECT TOP 10 sgps.SessionID, AVG(DATEDIFF(mi, sgps.ProcessStarted, sgps.ProcessFinished)) As AverageBuildTime
	  INTO #ProcessAvgBuildTimes
	  FROM tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
	  JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID)
	  JOIN tbl_Session s WITH (NOLOCK) ON (sgps.SessionID = s.SessionID)
	 WHERE s.ProductID = @ProductID
	   AND s.MilestoneID = @MilestoneID
	   AND s.LabID = @LabID
	   AND s.FlavorID = @FlavorID
	   AND s.TargetArchitectureID = @TargetArchitectureID
	   AND s.LocaleSetID = @LocaleSetID
	   AND sgp.PrShortName = @Process
	   AND sgps.ProcessStarted IS NOT NULL
	   AND sgps.ProcessFinished IS NOT NULL
	   AND sgps.Skip = 0
	   AND sgps.IgnoreTiming = 0
  GROUP BY sgps.SessionID
  ORDER BY sgps.SessionID DESC		
		
	SELECT @Avg = AVG(AverageBuildTime)
	  FROM #ProcessAvgBuildTimes
		
	-- Drop the temp table.	
	DROP TABLE #ProcessAvgBuildTimes	
		
	IF @Avg IS NOT NULL
		BEGIN	
			IF @Avg = 0
				SELECT @Avg = 1
				
			-- Look for this data, if it exists, UPDATE it, if it doesn't, INSERT it.	
			SELECT 1
			  FROM tbl_ProcessBuildTime WITH (NOLOCK)
			 WHERE ProductID = @ProductID
			   AND MilestoneID = @MilestoneID
			   AND LabID = @LabID
			   AND FlavorID = @FlavorID
			   AND TargetArchitectureID = @TargetArchitectureID
			   AND LocaleSetID = @LocaleSetID
			   AND PrName = @Process
			   
			IF @@ROWCOUNT = 0
				BEGIN
					INSERT 
					  INTO tbl_ProcessBuildTime (ProductID, MilestoneID, LabID, FlavorID, TargetArchitectureID, LocaleSetID, PrName, AvgBuildTime, LastUpdated)
					VALUES (@ProductID, @MilestoneID, @LabID, @FlavorID, @TargetArchitectureID, @LocaleSetID, @Process, @Avg, GetDate())
				END
			ELSE
				BEGIN
					UPDATE tbl_ProcessBuildTime WITH (ROWLOCK)
					   SET AvgBuildTime = @Avg,
  						   LastUpdated = GetDate()
					 WHERE ProductID = @ProductID
					   AND MilestoneID = @MilestoneID
					   AND LabID = @LabID
					   AND FlavorID = @FlavorID
					   AND TargetArchitectureID = @TargetArchitectureID
					   AND LocaleSetID = @LocaleSetID
					   AND PrName = @Process
				END		
		END
	RETURN 



GO
