USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertRestartedProcess2]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertRestartedProcess2]
	(
		@SessionID int,
		@SessionGroupProcessStatusID int,
		@LogDateTime datetime,
		@NewSessionGroupProcessStatusID int = NULL OUTPUT
	)
AS
	SET NOCOUNT ON

	SET NOCOUNT ON

	DECLARE @NewRunNumber int
	SELECT @NewRunNumber = RunNumber + 1
	  FROM tbl_SessionGroupProcessStatus WITH (NOLOCK)
	 WHERE SessionGroupProcessStatusID = @SessionGroupProcessStatusID 
	
	INSERT 
	  INTO tbl_SessionGroupProcessStatus (SessionID, SchemaGroupProcessID, StatusID, ProcessStarted, RunNumber)
	SELECT @SessionID, SchemaGroupProcessID, 4, @LogDateTime, @NewRunNumber
	  FROM tbl_SessionGroupProcessStatus WITH (NOLOCK)
	 WHERE SessionID = @SessionID
	   AND SessionGroupProcessStatusID = @SessionGroupProcessStatusID
  GROUP BY SchemaGroupProcessID
  
    SELECT @NewSessionGroupProcessStatusID = @@IDENTITY
	
	RETURN 
GO
