USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMachineList]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetMachineList]
AS
	SET NOCOUNT ON
	
	SELECT DISTINCT m.MachineID, m.MaName As MachineName, m.MaOrder
	  FROM tlkp_Machine m WITH (NOLOCK) 
  ORDER BY m.MaName
	RETURN 
GO
