USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetActiveDependentSessions]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,TrevorS>
-- Create date: <Create Date,,3/28/2012>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[up_GetActiveDependentSessions]
    @sessionID int = 0,    -- ME
    @findDependents bit = 1
AS

SET NOCOUNT ON

DECLARE @sessionLevel int
DECLARE @mySessionGroupID int
DECLARE @myHID HIERARCHYID
DECLARE @ancestorHID HIERARCHYID
DECLARE @SessionIdList VARCHAR(max)

CREATE TABLE #directDepsTBL (SessionGroupID int, hid HIERARCHYID)
CREATE TABLE #relatedTBL (SessionGroupID int)
CREATE TABLE #resultTBL (SessionID int)
CREATE TABLE #tempTBL (hid HIERARCHYID)

-- Given the session ID, find the sessionGroupID that corresponds to it.
-- Assumption: The Given @sessionID is "active"
SELECT @mySessionGroupID = sg.SessionGroupID, @myHID = sg.hid, @sessionLevel = sg.lvl
FROM tbl_SessionGroup sg
JOIN tbl_Session s ON (sg.LabID = s.LabID
                       AND sg.LocaleSetID = s.LocaleSetID
                       AND sg.Revision = s.SeRevision)
WHERE @sessionID = s.SessionID

-- Select all of the descendents of @myHID
INSERT INTO #directDepsTBL (SessionGroupID, hid)
SELECT SessionGroupID, sg.hid
FROM tbl_SessionGroup sg
WHERE sg.hid.IsDescendantOf(@myHID) = 1

-- Find the "related" sessions
IF @findDependents = 0
    BEGIN
        -- Grab my greatest ancestor
        IF @sessionLevel = 1
            SET @ancestorHID = @myHID.GetAncestor(1)
        ELSE
            SET @ancestorHID = @myHID.GetAncestor(@sessionLevel - 1)
        
        -- "related" builds are the ones that are rooted at my greatest Ancestor and
        -- below.  Minus me and my direct dependents.  
        -- If I am the root already there are no related builds
        IF @sessionLevel > 1
        BEGIN
            INSERT INTO #relatedTBL (SessionGroupID)
            SELECT SessionGroupID
            FROM tbl_SessionGroup sg
            WHERE sg.hid.IsDescendantOf(@ancestorHID) = 1
                  AND sg.SessionGroupID NOT IN (SELECT sg2.SessionGroupID FROM #directDepsTBL sg2)
        END


        -- For the related sessions, we want to set them as false
        INSERT INTO #resultTBL (SessionID)
        SELECT DISTINCT s.SessionID
        FROM tbl_Session s
        JOIN tbl_SessionGroup sg ON (sg.LabID = s.LabID
                                       AND sg.LocaleSetID = s.LocaleSetID
                                       AND sg.Revision = s.SeRevision)
        JOIN #relatedTBL p ON (p.SessionGroupID = sg.SessionGroupID)
        JOIN tlkp_Flavor f ON (f.FlavorID = s.FlavorID)
        WHERE s.StatusID NOT IN (5, 8, 11)
              AND f.FlCanAbandon = 1
    END
ELSE -- Find the "dependent" sessions
    BEGIN
        -- Figure out the "completed" builds that are in my direct dependent list
        INSERT INTO #tempTBL (hid)
        SELECT DISTINCT d1.hid
        FROM #directDepsTBL d1
        WHERE d1.SessionGroupID NOT IN (SELECT d2.SessionGroupID
                                        FROM #directDepsTBL d2
                                        JOIN tbl_SessionGroup sg ON (sg.SessionGroupID = d2.SessionGroupID)
                                        JOIN tbl_Session s ON (sg.LabID = s.LabID
                                                               AND sg.LocaleSetID = s.LocaleSetID
                                                               AND sg.Revision = s.SeRevision)
                                        WHERE s.StatusID NOT IN (5, 8, 11)
                                        )

        DELETE FROM #directDepsTBL
        WHERE SessionGroupID IN (SELECT DISTINCT sg.SessionGroupID
                                 FROM #tempTBL t
                                 JOIN tbl_SessionGroup sg ON (sg.hid.IsDescendantOf(t.hid) = 1
                                                              OR sg.hid = t.hid)
                                )

        -- Fill the result table appropriately and send it back
        -- For the direct dependencies, we want to mark them as True
        INSERT INTO #resultTBL (SessionID)
        SELECT DISTINCT s.SessionID
        FROM tbl_Session s
        JOIN tbl_SessionGroup sg ON (sg.LabID = s.LabID
                                       AND sg.LocaleSetID = s.LocaleSetID
                                       AND sg.Revision = s.SeRevision)
        JOIN #directDepsTBL dp ON (dp.SessionGroupID = sg.SessionGroupID)
        JOIN tlkp_Flavor f ON (f.FlavorID = s.FlavorID)
        WHERE s.StatusID NOT IN (5, 8, 11)
              AND f.FlCanAbandon = 1
    END

SELECT @SessionIdList = COALESCE(@SessionIdList + ',', '') + CONVERT(varchar(20), SessionID) 
FROM #resultTBL

EXEC up_GetSessions @SessionIdList

DROP TABLE #directDepsTBL
DROP TABLE #relatedTBL
DROP TABLE #resultTBL
DROP TABLE #tempTBL

RETURN 0
GO
