USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateIssueWithFollowUpValue]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateIssueWithFollowUpValue]
	(
		@IssueID int,
		@FollowUp bit,
		@MarkedBy varchar(50)
	)
AS
	UPDATE tbl_Issue WITH (ROWLOCK)
	   SET IsFollowUp = @FollowUp
	 WHERE IssueID = @IssueID

	RETURN 


GO
