USE [LabStatus]
GO
/****** Object:  Table [dbo].[tlkp_Category]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tlkp_Category](
	[CategoryID] [int] NOT NULL,
	[CaShortName] [varchar](10) NULL,
	[CaName] [varchar](50) NULL,
	[CaColor] [varchar](6) NULL,
	[CaOrder] [int] NULL,
	[CategoryTypeID] [int] NULL,
 CONSTRAINT [PK_tlkp_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
