USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_MoveDownLabOrder]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE Procedure [dbo].[sp_MoveDownLabOrder]
(
	@LabID int,
	@UserAlias varchar(20)
)
as
/*	Modified by	Date		Change
	***********************************************************
	a-karthp		08/26/2005	Created the sproc
*/
	declare 	@OrgID int,
		@NextLabID int,
		@CurrentOrder int,
		@NextOrder int,
		@LabLogID int,
		@CurrentLabName varchar(255),
		@NextLabName varchar(255),
		@ErrMessage varchar(4000)
	
	--Get OrgID and Current Order
	select 	@OrgID = OrgID, 
		@CurrentOrder = LaOrder,
		@CurrentLabName = LaName
	from	tbl_Lab
	where	LabID = @LabID

	--Get Next Lab Details
	select 	Top 1 @NextLabID = LabID, 
		@NextOrder = LaOrder,
		@NextLabName = LaName
	from	tbl_Lab
	where	OrgID = @OrgID and LaOrder > @CurrentOrder
	order by LaOrder

	if(@NextLabID is not null)	--Ensure the current lab is not already on the bottom
	begin

		begin transaction

		set @ErrMessage = 'Updating the current lab'		
		--Update current lab
		update 	tbl_Lab
		set	LaOrder = @NextOrder
		where	LabID = @LabID
		
		if(@@error <> 0) goto on_error

		set @ErrMessage = 'Updating the next lab'		
		--Update next lab
		update 	tbl_Lab
		set	LaOrder = @CurrentOrder
		where	LabID = @NextLabID

		if(@@error <> 0) goto on_error

		set @ErrMessage = 'Adding a change log'		
		--Insert a log 
		insert into tbl_LabLog (LabID, LlUserAlias)
		values (@LabID, @UserAlias)
	
		set @LabLogID = @@identity

		insert into tbl_LabLogText 
		values(@LabLogID,'Lab moved below "' + @NextLabName + '" in display order')

		--Insert a log 
		insert into tbl_LabLog (LabID, LlUserAlias)
		values (@NextLabID, @UserAlias)
	
		set @LabLogID = @@identity

		insert into tbl_LabLogText 
		values(@LabLogID,'Lab moved above "' + @CurrentLabName + '" in display order')

		if(@@error <> 0) goto on_error

		commit transaction
	end

	return

on_error:
	rollback transaction
	set @ErrMessage = 'ERROR : sp_MoveDownLabOrder - ' + @ErrMessage
	raiserror(@ErrMessage, 16, 1)	
	return
GO
