USE [LabStatus]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SplitString]    Script Date: 1/28/2026 12:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[fn_SplitString]
(
	@String varchar(max),
	@Delim char
)
RETURNS 
 @TempTable TABLE (Part varchar(max) NOT Null)
AS
BEGIN
	DECLARE @IDListPosition int 
	DECLARE @IDList varchar(max)
	DECLARE @ArrValue varchar(4000) 
	SET @IDList = COALESCE(@String, '') 
	IF @IDList <> '' AND ISNULL(@Delim, '') <> ''
	BEGIN 
	-- Add the delimiter to end of list so user doesn't have to 
	SET @IDList = @IDList + @Delim
	-- Loop through the demlimted string list 
	WHILE PATINDEX('%'+ @Delim + '%' , @IDList ) <> 0 
		BEGIN 
			SELECT @IDListPosition = PATINDEX('%'+ @Delim + '%' , @IDList) 
			SELECT @ArrValue = LEFT(@IDList, @IDListPosition - 1) 
			INSERT INTO @TempTable (Part) VALUES (@ArrValue)
			-- Remove processed string 
			SELECT @IDList = STUFF(@IDList, 1, @IDListPosition, '') 
		END 
	END 
	RETURN 
END
GO
