USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetIssueSources]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetIssueSources]
(
	@IssueID int
)
AS
	SET NOCOUNT ON
	
	SELECT s.SourceID, s.SoName
	  FROM tbl_IssueSource iso WITH (NOLOCK)
	  JOIN tlkp_source s WITH (NOLOCK) ON (s.SourceID = iso.SourceID)
	 WHERE IssueID = @IssueID
	 
	RETURN 
GO
