USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessionsByUser]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[up_GetSessionsByUser]
	(
		@User varchar(60)
	)
AS
BEGIN
    SET NOCOUNT ON

	SELECT  us.SessionID
	INTO	#SessionID
	FROM	tbl_UserSession us WITH (NOLOCK)
	WHERE	us.SeRemoved = 0
	AND	    us.UserID = @User

    DECLARE @SessionIdList VARCHAR(max)
    SELECT	@SessionIdList = COALESCE(@SessionIdList + ',', '') + CONVERT(varchar(20), SessionID) 
    FROM	#SessionID

    DROP TABLE #SessionID

    EXEC up_GetSessions @SessionIdList

	RETURN 
END

































GO
