USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessionProcessNames]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetSessionProcessNames]
	@sessionId int
AS
	SELECT DISTINCT sgp.PrName As ProcessName
	FROM tbl_SessionGroupStatus sgs WITH (NOLOCK) 
	JOIN (
		SELECT		DISTINCT sgs.SessionGroupStatusID AS ID
		FROM		tbl_Session s WITH (NOLOCK)
		JOIN		tbl_SessionGroupStatus sgs WITH (NOLOCK) ON (s.SessionID = sgs.SessionID)
		WHERE		sgs.SessionID = @sessionID
	) AS ids ON (sgs.SessionGroupStatusID = ids.ID)
	JOIN tbl_SchemaGroup sg WITH (NOLOCK)  ON (sgs.SchemaGroupID = sg.SchemaGroupID)
	JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK)  ON (sg.SchemaGroupID = sgp.SchemaGroupID)
	ORDER BY ProcessName
RETURN 0
GO
