USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_SessionFix]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SessionFix](
	[SessionID] [int] NOT NULL,
	[FixID] [int] NOT NULL,
	[SfStartTime] [datetime] NULL,
	[SfCompletedTime] [datetime] NULL,
	[FixStatusID] [int] NOT NULL,
	[SfScheduleTime] [datetime] NULL,
	[SfTimeLastStatusChange] [datetime] NOT NULL,
	[SfSkipRelease] [bit] NULL,
 CONSTRAINT [PK_atbl_SessionFix] PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC,
	[FixID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_SessionFix] ADD  CONSTRAINT [DF_tbl_SessionFix_FixStatusID]  DEFAULT ((2)) FOR [FixStatusID]
GO
ALTER TABLE [dbo].[tbl_SessionFix] ADD  CONSTRAINT [DF_tbl_SessionFix_SfTimeLastStatusChange]  DEFAULT (getdate()) FOR [SfTimeLastStatusChange]
GO
