USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLatestSession]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLatestSession]
(
	@LabID int
)
AS
	SET NOCOUNT ON
	
	SELECT TOP 1 SeRevision
	  FROM tbl_Session WITH (READPAST)
	 WHERE LabID = @LabID 
	   AND SeRevision NOT LIKE '%_DEL%'
	   AND LocaleSetID = 1
  ORDER BY SessionID DESC
	   
	
	RETURN 

GO
