USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLabsAndMilestonesForStatusPageByOrg_TEST]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE  PROCEDURE [dbo].[sp_GetLabsAndMilestonesForStatusPageByOrg_TEST]
(
	@OrgID int
)
AS


	SET NOCOUNT ON
	
	SELECT DISTINCT m.*
	INTO		#Milestones
	FROM		tbl_Milestone m WITH (NOLOCK)
	JOIN		tbl_Lab l WITH (NOLOCK) ON (m.MilestoneID = l.MilestoneID)
	WHERE		m.MiActive = 1
	AND			l.OrgID = @OrgID
	ORDER BY	m.MiOrder

	SELECT * FROM #Milestones
	
	SELECT	
				l.LabID,	
				l.BFDGroupID,
				l.DropSecurityRoleID,
				l.LaAutoOpenIssues,				
				l.LaBranch,
				l.LaBVTCode,
				l.LaCLRTestLab,
				l.LaDecision,
				l.LaDescription,
				l.LaDropManagement,
				l.LaDropSlots,
				l.LaEmailAlias,
				l.LaEmailToList,
				l.LaIssueHandOffReminderInterval,
				l.LaIssueReminderInterval,
				l.LaMSDN,
				l.LaName,
				l.LaOrder,
				l.LaOwner,
				l.LaPartner,
				l.LaPrivate,
				l.LaReservedDropSlots,
				l.LaShortName,
				l.LaStatus,
				l.MilestoneID,
				l.MSDNLabID,
				l.OrgID,
				l.RIFI,
				l.TrainID,
				l.VBL
	INTO #Labs
	FROM		tbl_Lab l WITH (NOLOCK)	 	
	INNER JOIN	#Milestones m 
					ON m.MilestoneID = l.MilestoneID
	WHERE		l.LaStatus = 1 AND  l.OrgID = @OrgID
	ORDER BY	l.LaOrder, LaName

	DECLARE @Reps int
	SET @Reps = 1

	DECLARE @CurRep int
	SET @CurRep = 0

	WHILE @CurRep < @Reps
	BEGIN
	INSERT INTO #Labs
	SELECT l.LabID + (@CurRep * 1000),
				l.BFDGroupID,
				l.DropSecurityRoleID,
				l.LaAutoOpenIssues,				
				l.LaBranch,
				l.LaBVTCode,
				l.LaCLRTestLab,
				l.LaDecision,
				l.LaDescription,
				l.LaDropManagement,
				l.LaDropSlots,
				l.LaEmailAlias,
				l.LaEmailToList,
				l.LaIssueHandOffReminderInterval,
				l.LaIssueReminderInterval,
				l.LaMSDN,
				l.LaName,
				l.LaOrder,
				l.LaOwner,
				l.LaPartner,
				l.LaPrivate,
				l.LaReservedDropSlots,
				l.LaShortName,
				l.LaStatus,
				l.MilestoneID,
				l.MSDNLabID,
				l.OrgID,
				l.RIFI,
				l.TrainID,
				l.VBL FROM #Labs l

		SET @CurRep = @CurRep + 1
	END

	SELECT * FROM #Labs
	RETURN 


SELECT 'l.' + NAME + ','
FROM SYSCOLUMNS
WHERE ID = (SELECT ID FROM SYSOBJECTS WHERE NAME = 'tbl_Lab')
GO
