USE [LabStatus]
GO
/****** Object:  Table [dbo].[tlkp_Status]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tlkp_Status](
	[StatusID] [int] NOT NULL,
	[StName] [varchar](50) NULL,
	[StSortOrder] [int] NULL,
	[StColor] [varchar](6) NULL,
	[StRank] [int] NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tlkp_Status] ADD  CONSTRAINT [tlkp_Status_StRank_Default]  DEFAULT ((-1)) FOR [StRank]
GO
