USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBFDGroups]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[sp_GetBFDGroups]
as
/*	Modified by	Date		Change
	***********************************************************
	a-karthp		10/11/2005	Created the sproc
	abjork			3/30/2006	Added the order by.
*/
	Select 		GroupID, GrName  
	From 		BFD..tbl_Group
	WHERE		GrDeleted = 0
	ORDER BY	GrName

GO
