USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_UpdateBuildRevision]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		MiArme
-- Create date: 4/13/2012
-- Description:	Update the build revision for a session, its session group, and all related sessions
-- =============================================
CREATE PROCEDURE [dbo].[up_UpdateBuildRevision] 
    -- Add the parameters for the stored procedure here
    @SessionID int, 
    @Revision varchar(100)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    DECLARE @LabID int
    DECLARE @LocaleSetID int
    DECLARE @SeRevision varchar(100)
    DECLARE @SessionGroupID int

    BEGIN TRANSACTION
            
        SELECT @LabID = LabID, @LocaleSetID = LocaleSetID, @SeRevision = SeRevision
        FROM tbl_Session
        WHERE SessionID = @SessionID
        
        UPDATE tbl_SessionGroup
        SET Revision = @Revision
        WHERE LabID = @LabID AND
              LocaleSetID = @LocaleSetID AND
              Revision = @SeRevision

        UPDATE tbl_Session
        SET SeRevision = @Revision
        WHERE LabID = @LabID AND
              LocaleSetID = @LocaleSetID AND
              SeRevision = @SeRevision

    
    COMMIT TRANSACTION


END
GO
