USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_RptAvgTTFPerTeamPerQuarter]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RptAvgTTFPerTeamPerQuarter]
	(
		@From datetime,
		@To datetime,
		@Labs varchar(1000)
	)
AS
/*	Modified by	Date		Change
	*****************************************************
	phoeffer		03/21/2005	Created sproc
					NOTE: should refactor with sp_RptAvgTTFPerTeamPerWeek.  Same sproc, just datepart that's different.
*/


	SELECT 	cc.CoName As Team, 
		AVG(DISTINCT DATEDIFF(mi, i.IsDateCreated, i.IsDateClosed)) as AVGTimeToFix,
		DATEPART(qq, s.SeBuildDate) As [Quarter], 
		DATEPART(yy, s.SeBuildDate) As [Year]
	  FROM tbl_SessionIssue iss WITH (NOLOCK)
	  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
	  JOIN tlkp_TargetArchitecture ta WITH (NOLOCK) ON (s.TargetArchitectureID = ta.TargetArchitectureID)
	  JOIN tlkp_Flavor f WITH (NOLOCK) ON (s.FlavorID = f.FlavorID)
	  JOIN tlkp_LocaleSet ls WITH (NOLOCK) ON (s.LocaleSetID = ls.LocaleSetID)
	  JOIN tbl_Issue i WITH (NOLOCK) ON (iss.IssueID = i.IssueID)
      JOIN CostCenter..tbl_CostCenter cc ON (i.IsCostCenter = cc.CostCenterID)
	  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID) 
	  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
	  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (i.IssueID = isrc.IssueID)
      JOIN tlkp_Source src WITH (NOLOCK) ON (isrc.SourceID = src.SourceID)
	 WHERE DATEDIFF(dd, i.IsDateClosed, @From) <= 0
	   AND DATEDIFF(dd, i.IsDateClosed, @To) >= 0
	   AND i.IsDeleted = 0
	   AND s.FlavorID NOT IN (5) -- No DAT builds.
	   AND src.SourceID <> 11 -- Not information.
	   AND src.SourceID <> 2 -- Raw Suites
       AND i.SeverityID = 2 -- Blocking
	   AND l.VBL = 1
	   AND s.SeRevision NOT LIKE '%_DEL'
      GROUP BY cc.CoName, DATEPART(qq, s.SeBuildDate), DATEPART(yy, s.SeBuildDate)
      -- It is EXTREMELY improtant that this result set is returned in order by team.  The code which consumes 
      -- this depends on it being in this order.
      ORDER BY cc.CoName DESC, DATEPART(yy, s.SeBuildDate) ASC, DATEPART(qq, s.SeBuildDate) ASC 
      
      
	RETURN
GO
