USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDateRangeByBuildRange]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE       PROCEDURE [dbo].[sp_GetDateRangeByBuildRange]
	(
		@From varchar(20),
		@To varchar(20),
		@LabIDs varchar(255) 
	)
AS
SELECT  MIN(SeBuildDate) as FromDate , MAX(SeBuildDate) ToDate

	FROM tbl_Session s WITH (READPAST)
	JOIN fn_ParseCommaDelimitedList(@LabIDs) l ON (s.LabID = l.ItemID)
WHERE
	SeRevision = @From
	OR
	SeRevision = @To





GO
