USE [LabStatus]
GO
/****** Object:  View [dbo].[vw_Issues_BuildOnlyWithSession_Last12Months]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Issues_BuildOnlyWithSession_Last12Months]
AS
SELECT TOP 100 PERCENT I.[IssueID]
	  ,I.[IsTitle]
	  ,I.[IsAssignedTo]
	  ,I.[IsPendingOwner]
	  ,I.[IsPendingSince]
	  ,I.[IsAssignedBy]
	  ,I.[IsDateCreated]
	  ,I.[IsDateChanged]
	  ,I.[IsWorkAround]
	  ,I.[IsNotifyUser]
	  ,I.[IsMachineName]
	  ,I.[IsCausedBy]
	  ,I.[IsCausedByLead]
	  ,I.[IsCostCenter]
	  ,I.[TeamID]
	  ,I.[LanguageID]
	  ,S.[SeName] AS [SeverityName]
	  ,I.[IsClosed]
	  ,I.[IsDeleted]
	  ,I.[IsDateClosed]
	  ,I.[IsLockDown]
	  ,I.[IsLockDownSet]
	  ,I.[IsLockDownImmediate]
	  ,I.[IsLockDownGracePeriod]
	  ,I.[IsLockDownMailSent]
	  ,I.[IsFollowUp]
	  ,I.[IsMachineAccessOnly]
	  ,I.[IsOtherSubSource]
	  ,I.[IsLastHandOffReminderSent]
	  ,I.[IsLastReminderSent]
	  ,I.[IsAutoOpened]
	  ,I.[IsAutoOpenIssues]
	  ,I.[IsDuplicate]
	  ,I.[IsDuplicateIssue]
	  ,O.[OrName] AS [OrgName]
	  ,I.[IsTimeSpent]
	  ,I.[IsAutoClosed]
	  ,I.[IsStall]
	  ,SG.GrName AS [GroupName]
	  ,ISNULL(F.FixCount, 0) AS FixCount
	  ,ISNULL(F.AutoFixCount, 0) AS AutoFixCount
	  ,ISNULL(F.ManualFixCount, 0) AS ManualFixCount
	  ,(SELECT MIN(Src.SoName) FROM dbo.tlkp_Source (NOLOCK) Src INNER JOIN dbo.tbl_IssueSource (NOLOCK) [IS] ON Src.SourceID = [IS].SourceID WHERE [IS].IssueID = I.IssueID) AS IssueSource
	  ,(SELECT MIN(SubSrc.SuName) FROM dbo.tlkp_SubSource (NOLOCK) SubSrc INNER JOIN dbo.tbl_IssueSubSource (NOLOCK) [ISS] ON SubSrc.SubSourceID = [ISS].SubSourceID WHERE [ISS].IssueID = I.IssueID) AS IssueSubSource
	  ,Se.SessionID
	  ,La.LaName
	  ,Se.SeRevision
  FROM [dbo].[tbl_Issue] (NOLOCK) I 
  INNER JOIN [dbo].[atbl_SessionIssue] (NOLOCK) SI ON I.IssueID = SI.IssueID
  INNER JOIN [dbo].[tbl_Session] (NOLOCK) Se ON SI.SessionID = Se.SessionID
  INNER JOIN [dbo].[tbl_Lab] (NOLOCK) La ON Se.LabID = La.LabID
  INNER JOIN [dbo].[tbl_Milestone] (NOLOCK) M ON La.MilestoneID = M.MilestoneID
  INNER JOIN [dbo].[tlkp_Severity] (NOLOCK) S ON I.SeverityID = S.SeverityID
  INNER JOIN [dbo].[tbl_Org] (NOLOCK) O ON I.OrgID = O.OrgID
  LEFT OUTER JOIN (
	SELECT IssueID, COUNT(*) AS FixCount, SUM(CAST(FiIsAutomated AS int)) AS AutoFixCount, COUNT(*) - SUM(CAST(FiIsAutomated AS int)) AS ManualFixCount
	FROM dbo.tbl_Fix (NOLOCK)
	GROUP BY IssueID
  ) F ON I.IssueID = F.IssueID
  LEFT OUTER JOIN (
	SELECT ILE.IssueID, MIN(ILE.LogEntryID) AS MinLogEntryId
	FROM dbo.tbl_Issue I (NOLOCK)
	  INNER JOIN dbo.atbl_IssueLogError ILE (NOLOCK) ON I.IssueID = ILE.IssueID
	WHERE I.IsDateCreated > DATEADD(year,-1,GetDate())
	  AND I.IsTest = 0
	GROUP BY ILE.IssueID
  ) IL ON I.IssueID = IL.IssueID
  LEFT OUTER JOIN dbo.atbl_IssueLogError ILE (NOLOCK) ON I.IssueID = ILE.IssueID AND IL.MinLogEntryID = ILE.LogENtryID
  LEFT OUTER JOIN dbo.tbl_Log L (NOLOCK) ON ILE.LogEntryID = L.LogEntryID
  LEFT OUTER JOIN dbo.tbl_SessionGroupStatus SGS (NOLOCK) ON L.SessionGroupStatusID = SGS.SessionGroupStatusID
  LEFT OUTER JOIN dbo.tbl_SchemaGroup SG (NOLOCK) ON SGS.SchemaGroupID = SG.SchemaGroupID
  WHERE I.IsDateCreated > DATEADD(year,-1,GetDate())
  AND I.IsTest = 0
  AND M.MiShortName != 'VAL'
  ORDER BY I.IsDateCreated DESC
GO
