USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetLabIDBySourceControlPath]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      bradwhit
-- Create date: 8/10/2015
-- Description: Returns the LabID for the most
--              recently created lab with the
--              given source control path.
-- =============================================
CREATE PROCEDURE [dbo].[up_GetLabIDBySourceControlPath]
    @SourceControlPath VARCHAR(2000)
AS
    SELECT TOP 1 LabID
    FROM tbl_Lab
    WHERE LaSourceControlPath = @SourceControlPath
    ORDER BY ISNULL(LaOrder, 2147483647) ASC
RETURN
GO
