USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddBuild]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddBuild]
	(
		@ShortName varchar(10),
		@Name varchar(50)	
	)
AS
	SET NOCOUNT ON
	
	-- Get the next BuildID.
	DECLARE @BuildID int
	SELECT @BuildID = MAX(BuildID) + 1
	  FROM tbl_Build
	
	-- Insert the new Build.
	INSERT
	  INTO tbl_Build (BuildID, BuShortName, BuName)
	VALUES (@BuildID, @ShortName, @Name)
	
	RETURN 
GO
