USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBVTSessionsByDate]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[sp_GetBVTSessionsByDate]
(
	@BuildDate datetime
)
AS
	/******************************
	Change History
	
	5/1/2006 replaced hardcoded 'WHBY' milestone with fn_GetBVTMilestone function
		
	*******************************/
	SET NOCOUNT ON
	
	SELECT s.SessionID, s.SeRevision As Revision, l.LaBVTCode As Lab, dbo.fn_GetBVTMilestone(l.LabId) As Milestone, ta.TaBVTCode As TargetArchitecture, f.FlBVTCode As Flavor, ls.LoBVTCode As LocaleSet
	  FROM tbl_Session s WITH (NOLOCK)
INNER JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
INNER JOIN tbl_Milestone m WITH (NOLOCK) ON (s.MilestoneID = m.MilestoneID)
INNER JOIN tlkp_TargetArchitecture ta WITH (NOLOCK) ON (s.TargetArchitectureID = ta.TargetArchitectureID)
INNER JOIN tlkp_Flavor f WITH (NOLOCK) ON (s.FlavorID = f.FlavorID)
INNER JOIN tlkp_LocaleSet ls WITH (NOLOCK) ON (s.LocaleSetID = ls.LocaleSetID)
     WHERE DATEDIFF(dd, s.SeStarted, @BuildDate) < 9
	   AND l.LaBVTCode IS NOT NULL
       AND (
			(s.LocaleSetID = 1/*ENU*/ AND s.TargetArchitectureID = 1/*X86*/ AND s.FlavorID IN (2,3,4,6))
		    OR
		    (s.LocaleSetID = 1/*ENU*/ AND s.TargetArchitectureID IN (2,3)/*IA64,AMD64*/ AND s.FlavorID = 2/*RET*/)
		    OR
			(s.LocaleSetID = 2/*PLOC/JPN*/) AND (s.FlavorID = 2/*RET*/ OR s.FlavorID = 3/*FRE*/)) 
       AND l.VBL = 1
  ORDER BY s.SessionID DESC
     
	RETURN

GO
