USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddUserSession]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddUserSession]
	(
		@UserID varchar(50),
		@SessionID int,
		@Comment varchar(1000)
	)

AS
	SET NOCOUNT ON
	
	SELECT 1 
	  FROM tbl_UserSession WITH (NOLOCK)
	 WHERE UserID = @UserID 
	   AND SessionID = @SessionID
	   AND SeRemoved = 0
	   
	IF @@ROWCOUNT = 0
		BEGIN
			INSERT 
			  INTO tbl_UserSession (UserID, SessionID, SeComment)
			VALUES (@UserID, @SessionID, @Comment)
		END
	
	RETURN 
GO
