USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessionLog]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[up_GetSessionLog]
	(
		@SessionID int
	)
AS
	SET NOCOUNT ON
	
	/* ----------------------------------------------
		Change Log:
		ABjork, 1/3/2007 - Added in the LabStatusLog table which includes the full
							log entry.  This was missing previously.


	*/	

/*	SELECT		l.*, le.Processed
	FROM		tbl_Log l WITH (NOLOCK)
	LEFT JOIN	tbl_LogError le WITH (NOLOCK)
					ON (le.SessionID = @SessionID AND l.LogEntryID = le.LogEntryID)
	--LEFT JOIN	LabStatusLog..tbl_LogData lgd WITH (NOLOCK) ON (l.LogEntryID = lgd.LogEntryID)
	WHERE		l.SessionID = @SessionID	
	ORDER BY	l.LoDateTimeStamp ASC */

	SELECT		l.LogEntryID, l.SessionID, l.ProcessID, l.CategoryID, l.LoDateTimeStamp, l.LoDateTimeLogged,
				l.LoMachineName, l.SessionGroupStatusID, l.SessionGroupProcessStatusID, le.Processed,
				CASE 
					WHEN lgd.LoExtendedLog IS NULL THEN l.LoLog
					ELSE lgd.LoExtendedLog
				END As LoLog
	FROM		tbl_Log l WITH (NOLOCK)
	LEFT JOIN	tbl_LogError le WITH (NOLOCK)
					ON (le.SessionID = @SessionID AND l.LogEntryID = le.LogEntryID)
	LEFT JOIN	LabStatusLog..tbl_LogData lgd WITH (NOLOCK) 
					ON (l.LogEntryID = lgd.LogEntryID)
	WHERE		l.SessionID = @SessionID	
	ORDER BY	l.LoDateTimeStamp ASC

	RETURN 








GO
