USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_ApplyLopezBuildFix]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[up_ApplyLopezBuildFix]
(
	@UserName VARCHAR(50),
	@ChangeLists VARCHAR(1000) = NULL,
	@ResumeStepName VARCHAR(50),
	@SessionIDs VARCHAR(MAX)
)
AS
BEGIN
    SELECT  ItemID AS [SessionID]
	INTO	#SessionID
    FROM    dbo.fn_ParseCommaDelimitedList(@SessionIDs) 

	DECLARE @FixDefinitionID INT
    DECLARE @FixID INT

	INSERT INTO tbl_FixDefSourceCode (SourceCodeFixCategoryID)
	VALUES (1)

	SET @FixDefinitionID = @@IDENTITY
	
	exec up_AddFixBase 2, NULL, 1, @UserName, @FixDefinitionID
	
    SELECT  @FixID = FixID 
    FROM	dbo.tbl_Fix
	WHERE	FixDefinitionID = @FixDefinitionID

	-- Lopez builds don't release, and resume-only fixes do not need to run release either.
	-- FiSkipRelease takes precedence over SfSkipRelease if it is set, but some sprocs check
	-- SfSkipRelease directly. To be safe, we should set both of them to true.
	UPDATE	dbo.tbl_Fix
	SET		FiSkipRelease =  1
	WHERE	FixID = @FixID

	IF (@ResumeStepName IS NOT NULL)
	BEGIN
		UPDATE	dbo.tbl_Fix
		SET		FiResumeStep = @ResumeStepName
		WHERE	FixID = @FixID
		
		UPDATE	tbl_Session
		SET		ResumeStatusID = 3, -- 3 starting
				SeResumeStep = @ResumeStepName
		WHERE	SessionID IN (SELECT SessionID FROM #SessionID)
	END
	    
	IF (@ChangeLists IS NULL)
		SET @ChangeLists = ''    
	    
	INSERT INTO tbl_FixDefSourceCodeBuildStep
	    (FixDefinitionID, BsBuildDir, BsFlags, BsOrder, BsChangeLists)
	VALUES
	    (@FixDefinitionID, '', '', 1, @ChangeLists)

    INSERT INTO tbl_SessionFix
    SELECT	[SessionID] = s.SessionID, 
			[FixID] = @FixID,
			[SfStartTime] = NULL, 
			[SfCompletedTime] = NULL, 
			[FixStatusID] = 3,
			[SfScheduleTime] = NULL, 
			[SfTimeLastStatusChange] = GETDATE(),
			[SfSkipRelease] = 1 -- Lopez builds don't release, and resume-only fixes do not need to run release either
    FROM	#SessionID s
	
END
GO
