USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_UpdateLogAsProcessed]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_UpdateLogAsProcessed]
(
	@LogEntryID bigint,
	@Processed bit,
	@User varchar(20) = NULL,
	@ImpersonatingUser varchar(20) = NULL,
	@IP varchar(20) = NULL
)
AS
	SET NOCOUNT ON
	
	UPDATE	tbl_LogError WITH (ROWLOCK)
	SET		Processed = @Processed
	WHERE	LogEntryID = @LogEntryID

	INSERT 
	INTO	tbl_SessionLog (SessionID, LoUserName, LoLog, LoDateTime)
	SELECT	SessionID, @User, 'Log #' + CONVERT(varchar(20), @LogEntryID) + 'has been marked as processed = ' + CONVERT(varchar(10), @Processed) + '.', GetDate()
	FROM	tbl_LogError 
	WHERE	LogEntryID = @LogEntryID
	    
	RETURN
GO
