USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_RptNumberOfIssuesPerTeamPerCategoryRolledUpByDate]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_RptNumberOfIssuesPerTeamPerCategoryRolledUpByDate]
	(
		@From datetime,
		@To datetime,
		@Labs varchar(1000),
		@CostCenter int,
		@SeverityIDs varchar(255) = '1,2'
	)
AS
	SET NOCOUNT ON
	
	IF @CostCenter = 0
		BEGIN
			SELECT DISTINCT i.IssueID, cc.CostCenterID, cc.CoName As CostCenter
			  INTO #TempIssues1
			  FROM tbl_Issue i WITH (NOLOCK)
			  JOIN CostCenter..tbl_CostCenter cc WITH (NOLOCK) ON (i.IsCostCenter = cc.CostCenterID)
			  JOIN tbl_SessionIssue iss WITH (NOLOCK) ON (i.IssueID = iss.IssueID)
			  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID) 
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) sv ON (i.SeverityID = sv.ItemID)
			 WHERE DATEDIFF(dd, i.IsDateClosed, @From) <= 0
			   AND DATEDIFF(dd, i.IsDateClosed, @To) >= 0
			   AND i.IsDeleted = 0
			   AND l.VBL = 1
			   AND s.SeRevision NOT LIKE '%_DEL'
			   AND s.FlavorID NOT IN (5) -- No DAT builds.

			SELECT COUNT(DISTINCT isrc.IssueID) As NumberOfIssues, src.SourceID, src.SoName, src.SoOrder, i.CostCenterID, i.CostCenter
			  FROM tlkp_Source src WITH (NOLOCK)
   LEFT OUTER JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (src.SourceID = isrc.SourceID)
   LEFT OUTER JOIN #TempIssues1 i WITH (NOLOCK) ON (isrc.IssueID = i.IssueID)
          GROUP BY src.SourceID, src.SoOrder, src.SoName, i.CostCenterID, i.CostCenter
 
	  UNION
	  
		    -- Issues w/no cost center
			SELECT COUNT(DISTINCT isrc.IssueID) As NumberOfIssues, src2.SourceID, src2.SoName, src2.SoOrder, '99999', 'No specific team'
		 	  FROM tlkp_Source src2 WITH (NOLOCK)
			  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (src2.SourceID = isrc.SourceID)
			  JOIN tbl_SessionIssue si WITH (NOLOCK) ON (isrc.IssueID = si.IssueID)
			  JOIN tbl_Session s WITH (NOLOCK) ON (si.SessionID = s.SessionID)	  
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN tbl_Issue iss WITH (NOLOCK) ON (si.IssueID = iss.IssueID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) sv ON (iss.SeverityID = sv.ItemID)
			 WHERE (iss.IsCostCenter IS NULL
				OR iss.IsCostCenter = ''
				OR iss.IsCostCenter NOT IN (SELECT CostCenterID FROM CostCenter..tbl_CostCenter))
			   AND DATEDIFF(dd, iss.IsDateClosed, @From) <= 0
			   AND DATEDIFF(dd, iss.IsDateClosed, @To) >= 0
			   AND iss.IsDeleted = 0
			   AND l.VBL = 1
			   AND isrc.SourceID <> 11 -- Information
			   AND isrc.SourceID <> 2 -- Raw Suites
			   AND s.SeRevision NOT LIKE '%_DEL'  
			   AND s.FlavorID NOT IN (5) -- No DAT builds.
		  GROUP BY src2.SourceID, src2.SoName, src2.SoOrder
		  ORDER BY i.CostCenter, src.SoOrder, src.SoName

			DROP TABLE #TempIssues1
		END

	ELSE IF @CostCenter <> 0
		BEGIN
			SELECT DISTINCT i.IssueID, cc.CostCenterID, cc.CoName As CostCenter
			  INTO #TempIssues3
			  FROM tbl_Issue i WITH (NOLOCK)
			  JOIN CostCenter..tbl_CostCenter cc WITH (NOLOCK) ON (i.IsCostCenter = cc.CostCenterID)
			  JOIN tbl_SessionIssue iss WITH (NOLOCK) ON (i.IssueID = iss.IssueID)
			  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID) 
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) sv ON (i.SeverityID = sv.ItemID)
			 WHERE DATEDIFF(dd, i.IsDateClosed, @From) <= 0
			   AND DATEDIFF(dd, i.IsDateClosed, @To) >= 0
			   AND i.IsCostCenter = @CostCenter	-- Filter by cost center
			   AND i.IsDeleted = 0
			   AND l.VBL = 1
			   AND s.SeRevision NOT LIKE '%_DEL'
			   AND s.FlavorID NOT IN (5) -- No DAT builds.

				SELECT COUNT(DISTINCT isrc.IssueID) As NumberOfIssues, src.SourceID, src.SoName, src.SoOrder, i.CostCenterID, i.CostCenter
			  FROM tlkp_Source src WITH (NOLOCK)
   LEFT OUTER JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (src.SourceID = isrc.SourceID)
   LEFT OUTER JOIN #TempIssues3 i WITH (NOLOCK) ON (isrc.IssueID = i.IssueID)
          GROUP BY src.SourceID, src.SoOrder, src.SoName, i.CostCenterID, i.CostCenter
          ORDER BY i.CostCenter, src.SoOrder, src.SoName

			DROP TABLE #TempIssues3	  
		END	
	
	RETURN 









GO
