USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_FixLog]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_FixLog](
	[FixLogID] [int] IDENTITY(1,1) NOT NULL,
	[FixID] [int] NOT NULL,
	[FixComponentTypeID] [int] NULL,
	[FixComponentID] [int] NULL,
	[LoText] [varchar](1000) NOT NULL,
	[LoDateTime] [datetime] NOT NULL,
	[LoCreated] [datetime] NOT NULL,
	[FixLogTypeID] [int] NOT NULL,
	[LoUser] [varchar](50) NOT NULL,
	[LoImpersonatingUser] [varchar](50) NOT NULL,
	[LoIP] [varchar](50) NOT NULL,
	[SessionID] [int] NULL,
 CONSTRAINT [PK_tbl_FixLog] PRIMARY KEY CLUSTERED 
(
	[FixLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_FixLog] ADD  CONSTRAINT [DF_tbl_FixLog_FixLogTypeID]  DEFAULT (1) FOR [FixLogTypeID]
GO
ALTER TABLE [dbo].[tbl_FixLog] ADD  CONSTRAINT [DF_tbl_FixLog_LoUser]  DEFAULT ('-IHAF-') FOR [LoUser]
GO
ALTER TABLE [dbo].[tbl_FixLog] ADD  CONSTRAINT [DF_tbl_FixLog_LoImpersonatingUser]  DEFAULT ('-IHAF-') FOR [LoImpersonatingUser]
GO
ALTER TABLE [dbo].[tbl_FixLog] ADD  CONSTRAINT [DF_tbl_FixLog_LoIP]  DEFAULT ('127.0.01') FOR [LoIP]
GO
ALTER TABLE [dbo].[tbl_FixLog]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Session_tbl_FixLog] FOREIGN KEY([SessionID])
REFERENCES [dbo].[tbl_Session] ([SessionID])
GO
ALTER TABLE [dbo].[tbl_FixLog] CHECK CONSTRAINT [FK_tbl_Session_tbl_FixLog]
GO
