USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_IHAF_GetDefaultFixType]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		arturor
-- Create date: 3/31/2006
-- Description:	Gets the default fix type for a particular issue
-- =============================================
CREATE PROCEDURE [dbo].[up_IHAF_GetDefaultFixType] 
	-- Add the parameters for the stored procedure here
	@IssueID int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

		DECLARE @ProcessName varchar(50)
		SET @ProcessName  = dbo.fn_GetIssueCreationProcess(@IssueID)

		SELECT CASE  
			WHEN @ProcessName LIKE 'Build Sources%' OR @ProcessName IN ('Build Binaries') THEN 2 -- SourceCode
			ELSE 1 -- Default
		END


END


GO
