USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddIssueBuildType]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddIssueBuildType]
	(
		@IssueID int,
		@BuildType int
	)
AS
	SET NOCOUNT ON
	INSERT
	  INTO tbl_IssueBuildType (IssueID, BuildTypeID)
	VALUES (@IssueID, @BuildType)
	
	RETURN 
GO
