USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_IHAF_GetFixSchemaSourceCode]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_IHAF_GetFixSchemaSourceCode]
(
	@IssueID int,
	@MachineName varchar(255) = ''
)
AS
/*	Modified by	Date		Change
	***********************************************************
	karthip		04/14/2005	Select statement to create #FixInfo temp table had duplicate column name (FiResumeBuild)
					The column actually is not used anywhere in this sproc
					Fixed code to ignore the column from tbl_FixDefSourceCode table
*/
BEGIN
	/***************************
	DESCRIPTION
		Retrieves all necessary info to build out a Source Code Fix's info schema
	***************************/

	DECLARE @ProcessName varchar(255)

	SELECT TOP 1 f.*, sc.FixDefSourceCodeID, sc.SourceCodeFixCategoryID
	INTO #FixInfo
	FROM tbl_Fix f
	INNER JOIN tbl_FixDefSourceCode sc on sc.FixDefSourceCodeId = f.FixDefinitionID
	WHERE IssueID = @IssueID
	ORDER BY FiSubmittedDate DESC

	SELECT s.SessionID, s.SeRevision, s.SeBuildMachine, ta.TaName, fl.FlName, l.LaShortName
	INTO #BuildMachines
	FROM tbl_Session s WITH (NOLOCK)
	INNER JOIN tlkp_TargetArchitecture ta on ta.TargetArchitectureID = s.TargetArchitectureID
	INNER JOIN tlkp_Flavor fl on fl.FlavorID = s.FlavorID
	INNER JOIN tbl_Lab l on l.LabID = s.LabID
	INNER JOIN atbl_SessionFix sf on sf.SessionID = s.SessionID
	INNER JOIN #FixInfo f on f.FixID = sf.FixID

	-- session change lists
	DECLARE  changelist_cursor CURSOR FOR 
		SELECT FixDefsourceCodebuildStepID, BsChangeLists
		FROM tbl_FixDefSourceCodeBuildStep bs 
		INNER JOIN #FixInfo f on f.FixDefinitionID =  bs.FixDefinitionID
		
	OPEN changelist_cursor

	DECLARE @CurBuildStepID int
	DECLARE @CurChangeLists varchar(255)

	CREATE TABLE #ChangeLists
	(
		BuildStepID int,
		ChangeList int
	)

	FETCH NEXT FROM changelist_cursor INTO @CurBuildStepID, @CurChangeLists
	WHILE @@FETCH_STATUS = 0
	BEGIN
		INSERT INTO #ChangeLists
		(BuildStepID, ChangeList)
		SELECT @CurBuildStepID, ItemID
		FROM dbo.fn_ParseCommaDelimitedList(@CurChangeLists)

		FETCH NEXT FROM changelist_cursor INTO @CurBuildStepID, @CurChangeLists
	END

	CLOSE changelist_cursor
	DEALLOCATE changelist_cursor

	-- Session build steps
	DECLARE  sessions_cursor CURSOR FOR 
		SELECT FixDefsourceCodebuildStepID, SessionIDs
		FROM tbl_FixDefSourceCodeBuildStep bs 
		INNER JOIN #FixInfo f on f.FixDefinitionID =  bs.FixDefinitionID
		
	OPEN sessions_cursor
	DECLARE @CurSessionIDs varchar(255)

	CREATE TABLE #SessionIds
	(
		BuildStepID int,
		SessionID int
	)

	FETCH NEXT FROM sessions_cursor INTO @CurBuildStepID, @CurSessionIDs
	WHILE @@FETCH_STATUS = 0
	BEGIN
		INSERT INTO #SessionIds
		(BuildStepID, SessionID)
		SELECT @CurBuildStepID, ItemID
		FROM dbo.fn_ParseCommaDelimitedList(@CurSessionIDs)

		FETCH NEXT FROM sessions_cursor INTO @CurBuildStepID, @CurSessionIDs
	END

	CLOSE sessions_cursor
	DEALLOCATE sessions_cursor


	SELECT *, 
		Revision = (SELECT TOP 1 SeRevision 
						FROM tbl_Session s WITH (NOLOCK) 
						INNER JOIN tbl_SessionIssue si WITH (NOLOCK) on si.SessionID = s.SessionID 
						WHERE  si.IssueID = @ISsueID),
		ProcessName = dbo.fn_GetIssueCreationProcess(@IssueID)
	FROM #FixInfo 


	SELECT * FROM #BuildMachines

	SELECT DISTINCT cl.BuildStepID, ChangeList 	
	FROM #ChangeLists cl
	INNER JOIN #SessionIDs s on s.BuildStepID = cl.BuildStepID
	INNER JOIN #BuildMachines m on m.SessionID = s.SessionID
	

	SELECT DISTINCT  s.BuildStepID, BsBuildDir, BsFlags	
	FROM #SessionIDs s
	INNER JOIN #BuildMachines m on m.SessionID = s.SessionID
	INNER JOIN tbl_FixDefSourceCodeBuildStep st on st.FixDefSourceCodeBuildStepID = s.BuildStepID
	


	DROP TABLE #FixInfo
	DROP TABLE #BuildMachines
	DROP TABLE #ChangeLists
	DROP TABLE #SessionIDs

END



GO
