USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_UpdateFixSynchronizationMachineStatus]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_UpdateFixSynchronizationMachineStatus]
(
    @BuildSessionGroupId int,
    @FixId int,
    @SynchronizationMachineStatus int
)
AS
BEGIN
    UPDATE tbl_FixSynchronizationMachine
        SET SynchronizationMachineStatus = @SynchronizationMachineStatus
    WHERE BuildSessionGroupId = @BuildSessionGroupId AND FixId = @FixId
END
GO
