USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessionGroupSyncTime]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetSessionGroupSyncTime]
    @LabID int,
    @SessionBuildNumber VARCHAR(100)
    -- Do not index on LocaleSet. Per the build lab: in practice, the revision is incremented when a different LocaleSet is used on the same build.
AS
BEGIN
    -- Per the build lab: on a very rare occasion, builds are re-run using the exact same branch/revision. In this case, choose the most recent sync time.
    SELECT TOP 1 sgs.SyncTime
    FROM tbl_SessionGroupSyncTime sgs
        JOIN tbl_SessionGroup sg ON sg.SessionGroupID = sgs.SessionGroupID
    -- Look for this SessionBuildNumber in both the lab that was passed in, and also all active validation labs
    WHERE sg.LabID IN 
    (
        SELECT LabID
        FROM tbl_Lab
        WHERE LabID = @LabID
        -- Also check all val build labs
        OR (MilestoneID = 16 AND LaStatus = 1)
    )
    AND sg.Revision = @SessionBuildNumber
    ORDER BY sg.SessionGroupID DESC
END
GO
