USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBuildProcessList]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBuildProcessList]
AS
	SET NOCOUNT ON
	
	SELECT bp.BuildProcessID, b.BuName, b.BuildID, p.ProcessID, p.PrName, bp.WaitsOnID
	  FROM tbl_Build b WITH (NOLOCK)
	  JOIN tbl_BuildProcess bp WITH (NOLOCK) ON (b.BuildID = bp.BuildID)
	  JOIN tbl_Process p WITH (NOLOCK) ON (bp.ProcessID = p.ProcessID)
  ORDER BY b.BuName
	RETURN 
GO
