USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_LogStallDetected3]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- sp_LogStallDetected3
CREATE PROCEDURE [dbo].[sp_LogStallDetected3]
	(
		@Revision varchar(50),
		@LabShortName varchar(50),
		@ProductShortName varchar(10),
		@MilestoneShortName varchar(10),
		@FlavorShortName varchar(10),
		@TargetArchitectureShortName varchar(10),
		@LocaleSetShortName varchar(10),
		@ProcessShortName varchar(10) = NULL,
		@CategoryShortName varchar(10),
		@LogDateTime datetime = NULL,
		@Reason varchar(255),
		@MachineName varchar(50)
	)
AS

	BEGIN TRANSACTION

		DECLARE @ProcessName varchar(100), @GroupName varchar(100)

		-- SessionID and SchemaID.
		EXEC sp_Log2_GetGroupProcessNames @ProductShortName, @ProcessShortName, @ProcessName OUTPUT, @GroupName OUTPUT

		-- Build the parameter string the sp_Log3 uses.
		DECLARE @Params varchar(4000)
		SELECT @Params = 'ARCH=' + @TargetArchitectureShortName 
					+ ';FLV=' + @FlavorShortName 
					+ ';LOC=' + @LocaleSetShortName 
					+ ';'


		DECLARE @Now varchar(50)
		SET @Now = CONVERT(varchar(50), GetDate())

		-- Pass the call along to sp_Log3
		EXEC sp_Log3_StallDetected @Revision, 
						@LabShortName, 
						@ProductShortName, 
						@Params, 
						@GroupName, 
						@ProcessName,
						'INFO',
						@Reason,
						@Now, 
						@MachineName	

	COMMIT TRANSACTION
	
	RETURN 



GO
