USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMilestones]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetMilestones]
AS
	SET NOCOUNT ON
	
	SELECT MilestoneID, MiName, MiDescription
	  FROM tbl_Milestone WITH (NOLOCK)
  ORDER BY MiOrder
	RETURN 
GO
