USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetIssueDependencies]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetIssueDependencies]
(
	@IssueID int
)
AS
	SET NOCOUNT ON
	
	SELECT i.IssueID, i.IsTitle, i.IsClosed
	  FROM tbl_IssueDependency id WITH (NOLOCK)
	  JOIN tbl_Issue i WITH (NOLOCK) ON (id.DependentIssueID = i.IssueID)
	 WHERE id.IssueID = @IssueID
	
	RETURN 
GO
