USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_SessionProperty]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SessionProperty](
	[SessionPropertyID] [int] IDENTITY(1,1) NOT NULL,
	[SessionID] [int] NOT NULL,
	[PrName] [varchar](50) NULL,
	[PrValue] [varchar](500) NULL,
 CONSTRAINT [PK_tbl_SessionProperty] PRIMARY KEY CLUSTERED 
(
	[SessionPropertyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
