USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateProductAsDeleted]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateProductAsDeleted]
(
	@ProductID int
)
AS
	SET NOCOUNT ON
	
	UPDATE tbl_Product WITH (ROWLOCK)
	   SET PrDeleted = 1
	 WHERE ProductID = @ProductID
	 
	RETURN 
GO
