USE [LabStatus]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ConvertMinutesToReadable]    Script Date: 1/28/2026 12:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_ConvertMinutesToReadable]
(
	@in_Minutes INT
)
RETURNS varchar(64)
AS  
BEGIN 
/*
This converts to hours if it's longer than one hour. Otherwise, leaves as minutes
*/
DECLARE @out_String varchar(64)

DECLARE @hrs INT
DECLARE @mins INT

DECLARE @hrs_str varchar(10)
DECLARE @mins_str varchar(10)

SELECT @hrs = @in_Minutes / 60
SELECT @mins = @in_Minutes % 60

SELECT @hrs_str = CONVERT( varchar, @hrs )
--IF ( @hrs < 10 ) SELECT @hrs_str = '0' + @hrs_str

SELECT @mins_str = CONVERT( varchar, @mins )
IF ( @mins < 10 ) SELECT @mins_str = '0' + @mins_str

SELECT @out_String = @hrs_str + ':' + @mins_str

RETURN @out_String

END

GO
