USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_AreBuildsLongRunning]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_AreBuildsLongRunning]
	(
	@sessionIDs SessionIDsUDT READONLY,
	@gracePeriodMinutes int = 0
	)
AS
	SET NOCOUNT ON
	-- The current POR is to abandon any build that has not reached the 
	-- "Start Release Finalization" sub step in the "Finalize Release" step of the build.
	-- Therefore, for each of the Session ID's that we are given, find the ones
	-- that have started the "Start Release Finalization" sub step...
    SELECT DISTINCT s.SessionID
	INTO #sessionIDsWithFinalizeRelease
	FROM [dbo].tbl_Session s WITH (NOLOCK)
	JOIN @sessionIDs t 
	     ON (t.SessionID = s.SessionID)
	JOIN [dbo].tbl_SessionGroupStatus sgs WITH (NOLOCK)
	     ON sgs.SessionID = s.SessionID
	JOIN [dbo].tbl_SchemaGroup sg WITH (NOLOCK)
	     ON sg.SchemaGroupID = sgs.SchemaGroupID
	JOIN [dbo].tbl_SchemaGroupProcess sgp WITH (NOLOCK)
	     ON sgp.SchemaGroupID = sgs.SchemaGroupID
	JOIN [dbo].tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
	     ON sgp.SchemaGroupProcessID = sgps.SchemaGroupProcessID
		 And sgps.SessionID = s.SessionID
	WHERE s.SeFinished IS NULL
	      AND sg.GrName = 'Finalize Release' -- Hard-coded for now!!!
		  AND sgp.PrName = 'Start Release Finalization'
		  AND sgps.ProcessStarted Is Not Null
	

    -- The above query will give us all of the session ID's that have
	-- started the Finalize Release or Finalize Build step.  Now, we need to remove those
	-- session ID's from the original table because we actually want
	-- to return back the session ID's that we wish to abandon...
	SELECT *
	FROM @sessionIDs si
	WHERE si.SessionID NOT IN (SELECT SessionID
	                           FROM #sessionIDsWithFinalizeRelease)
	
	DROP TABLE #sessionIDsWithFinalizeRelease

	RETURN 0
GO
