USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOtherBuildsByLabBySession]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[sp_GetOtherBuildsByLabBySession]
	(
		@SessionID int
	)
AS
	SET NOCOUNT ON
	
	DECLARE @OrgID int
	DECLARE @LabID int
	SELECT @OrgID = OrgID, @LabID = s.LabID
	  FROM tbl_Session s WITH (NOLOCK)
	  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
	 WHERE SessionID = @SessionID
	
	DECLARE @SessionDate datetime
	SELECT @SessionDate = SeBuildDate
	  FROM tbl_Session WITH (NOLOCK)
	 WHERE SessionID = @SessionID	
 	   AND SeRevision NOT LIKE '%_DEL%'
	
	SELECT s.SessionID, s.SeBuildDate, s.SeStarted, s.SeRevision As Revision, l.LaName As Lab, m.MiName As Milestone, f.FlName As Flavor, f.FlOrder, ta.TaName As TargetArchitecture, s.StatusID, st.StName As SessionStatus, s.SeBuildMachine As BuildMachine, ls.LoName As [Language]
	  FROM tbl_Session s WITH (NOLOCK)
	  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
	  JOIN tbl_Milestone m WITH (NOLOCK) ON (s.MilestoneID = m.MilestoneID)
	  JOIN tlkp_Status st WITH (NOLOCK) ON (s.StatusID = st.StatusID)
	  JOIN tlkp_Flavor f WITH (NOLOCK) ON (s.FlavorID = f.FlavorID)
	  JOIN tlkp_TargetArchitecture ta WITH (NOLOCK) ON (s.TargetArchitectureID = ta.TargetArchitectureID)
	  JOIN tlkp_LocaleSet ls WITH (NOLOCK) ON (s.LocaleSetID = ls.LocaleSetID)
	 WHERE s.SeRevision NOT LIKE '%_DEL%'
       AND DATEDIFF(d, s.SeBuildDate, @SessionDate) < 1
       --AND l.VBL = 1
	   AND l.LaPrivate = 0
       AND l.OrgID = @OrgID
	   AND l.MilestoneID <> 6-- (SELECT MilestoneID FROM tbl_Lab WHERE LabID = @LabID)
  ORDER BY l.LaName, s.SeRevision DESC, ta.TaName DESC, f.FlOrder
	
	RETURN 



GO
