USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSchemaGroupProcessOrder]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateSchemaGroupProcessOrder]
	(
		@SchemaGroupProcessID int,
		@ProcessOrder int
	)
AS
	SET NOCOUNT ON
	
	UPDATE tbl_SchemaGroupProcess WITH (ROWLOCK)
	   SET PrOrder = @ProcessOrder
	 WHERE SchemaGroupProcessID = @SchemaGroupProcessID
	 
	
	RETURN 
GO
