USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_LogNumberOfSetups]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- sp_LogNumberOfSetups
CREATE PROCEDURE [dbo].[sp_LogNumberOfSetups]
	(
		@Revision varchar(50),
		@LabShortName varchar(10),
		@ProductShortName varchar(10),
		@MilestoneShortName varchar(10),
		@FlavorShortName varchar(10),
		@TargetArchitectureShortName varchar(10),
		@NumberOfSetups int,
		@LogDateTime datetime = NULL,
		@MachineName varchar(50)
	)
AS
	BEGIN TRANSACTION
		DECLARE	@SessionID int
		DECLARE @SchemaID int
		-- SessionID and SchemaID.
		EXEC sp_GetSessionID @Revision, @LabShortName, @ProductShortName, @MilestoneShortName, @FlavorShortName, @TargetArchitectureShortName, @LogDateTime, @MachineName, @SessionID OUTPUT, @SchemaID OUTPUT
		SELECT @SessionID As SessionID
		IF @SessionID IS NULL
			BEGIN
				RAISERROR ('A session could not be found or created.', 16, 1, @Revision)
				GOTO on_err
			END
		-- Reset the stalled value.
		UPDATE tbl_Session
		   SET SeManuallyStalled = NULL,
			   SeDelayed = 0,
		       SeComment = NULL
		 WHERE SessionID = @SessionID
		UPDATE tbl_Session
		   SET SeSetups = @NumberOfSetups 
		 WHERE SessionID = @SessionID
	
		IF @@ERROR <> 0
			BEGIN
				RAISERROR ('A log entry was not created.', 16, 1, @Revision)
				GOTO on_err
			END

	COMMIT TRANSACTION
	RETURN 
	
	on_err:
	ROLLBACK TRANSACTION
	RETURN 

GO
