USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetBugDatabaseDetail]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_GetBugDatabaseDetail]
(
	@BugDatabaseID int
)
AS
	
	SELECT *
	  FROM tlkp_BugDatabase WITH (NOLOCK) 
     WHERE BugDatabaseID = @BugDatabaseID
	
    RETURN 


GO
