USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_SetLabPriority]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SetLabPriority]
	(
		@LabID int,
		@Direction int
	)
AS

	--Create a table of the labs's peers (i.e same milestone)
	CREATE TABLE #Labs
	(
		LabID int,
		EffectiveOrder int IDENTITY(1,1) ,
		ActualOrder int
	)
	
	
	INSERT 
	INTO		#Labs(LabID)
	SELECT		LabID
	FROM		tbl_Lab
	WHERE		MilestoneID = (SELECT MilestoneID FROM tbl_Lab WHERE LabID = @LabID) 
	ORDER BY	LaOrder
	
	--set the actual order to the effective order for the peers
	UPDATE	#Labs
	SET		ActualOrder = EffectiveOrder
		
	--moving a lab up and down, is simply a matter of swapping the order with  the labs neighbor
	--so we have to get the right neighbor's id
	DECLARE @NeighborID int
	
	IF @Direction = 1  --MoveUp
	BEGIN
		PRINT 'Moving Up'
		-- the neighbor is the lab with the order one BEFORE our current order
		SET @NeighborID = (SELECT LabID 
					FROM #Labs 
					WHERE EffectiveOrder = (SELECT EffectiveOrder-1 
								FROM #Labs 
								WHERE LabID = @LabID))
	
		--if @neighborId ends up null, that means the selected lab is already the first one, so we'll do nothing
		IF @NeighborID IS NOT NULL
		BEGIN
			UPDATE	#Labs
			SET		ActualOrder = ActualOrder + 1
			WHERE	LabID = @NeighborID
			
			UPDATE	#Labs
			SET		ActualOrder = ActualOrder - 1
			WHERE	LabID = @LabID
		END
	END
	ELSE IF @Direction = 2 --MoveDown
	BEGIN
		-- the neighbor is the lab with the order one AFTER our current order
		SET @NeighborID = (SELECT LabID 
					FROM #Labs 
					WHERE EffectiveOrder = (SELECT EffectiveOrder+1 
								FROM #Labs 
								WHERE LabID = @LabID))
	
		--if @neighborId ends up null, that means the selected lab is already the first one, so we'll do nothing
		IF @NeighborID IS NOT NULL
		BEGIN
			UPDATE	#Labs
			SET		ActualOrder = ActualOrder - 1
			WHERE	LabID = @NeighborID
			
			UPDATE	#Labs
			SET		ActualOrder = ActualOrder + 1
			WHERE	LabID = @LabID
		END
	END
	
	--update the labs with the new ordering
	UPDATE	tbl_Lab
	SET		LaOrder = ActualOrder
	FROM	#Labs
	WHERE	#Labs.LabID = tbl_Lab.LabID
	
	DROP TABLE #Labs
GO
