USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_RptAvgBuildTimes]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RptAvgBuildTimes]
	(
		@From datetime,
		@To datetime
	)
AS
	SET NOCOUNT ON
	
	SELECT s.FlavorID, s.LabID, AVG(DateDiff(hh, s.SeStarted, s.SeFinished)) As AvgBuildTime, COUNT(s.SessionID) As NumberOfBuilds, l.LaOrder, l.LaName As Lab, f.FlOrder, f.FlName As Flavor
	  FROM tbl_Session s
	  JOIN tbl_Lab l ON (s.LabID = l.LabID)
	  JOIN tlkp_Flavor f ON (s.FlavorID = f.FlavorID)
	 WHERE s.SeBuildDate >= @From
	   AND s.SeBuildDate <= @To
	   AND s.StatusID = 5 -- Completed
	   AND s.SeFinished IS NOT NULL
	   AND l.VBL = 1
	   AND s.SeRevision NOT LIKE '%_DEL'
 GROUP BY s.FlavorID, s.LabID, l.LaOrder, l.LaName, f.FlOrder, f.FlName
 ORDER BY l.LaOrder, f.FlOrder
	
	RETURN 





GO
