USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProducts]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetProducts]
(
	@OrgID int = 1
)
AS
	SET NOCOUNT ON
	
	SELECT ProductID, PrName, PrShortName
	  FROM tbl_Product WITH (NOLOCK) 
	 WHERE PrDeleted = 0
	   AND OrgID = @OrgID
  ORDER BY PrName
	
	RETURN 
GO
