USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessionProperties]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetSessionProperties]
	@SessionID int
AS
	SELECT PrName, PrValue
	from tbl_SessionProperty
	where SessionID=@SessionID
GO
