USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_Log_SkipProcess]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[up_Log_SkipProcess]
	(
		@BuildID INT,
		@Group varchar(100),
		@Process varchar(100) = NULL,
		@LogDateTime varchar(50),
		@MachineName varchar(50)
	)
AS
	SET NOCOUNT ON
	DECLARE @Err varchar(4000)

	-- First we need to create a log footprint.  This piece is outside the transaction
	-- because we want to log EVERYTHING - even if the transaction fails.	
	INSERT 
	INTO		tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
	VALUES		('up_Log_SkipProcess, '
			    + CAST(@BuildID AS VARCHAR(20)) + ', ' +
				+ @Group + ', ' 
				+ @Process + ', ' 
				+ @MachineName, 
				@LogDateTime, 
				GetDate()) 	

	BEGIN TRANSACTION

	DECLARE @SchemaID int
	SELECT	@SchemaID = SchemaID
	FROM	tbl_Session WITH (NOLOCK)
	WHERE	SessionID = @BuildID	

	DECLARE @SchemaGroupID int
	DECLARE @SchemaGroupProcessID int
	DECLARE @SessionGroupProcessStatusID int
	DECLARE @SessionGroupStatusID int
	
	-- SchemaGroupID.   
	SELECT	@SchemaGroupID = sg.SchemaGroupID, @SchemaGroupProcessID = sgp.SchemaGroupProcessID
	FROM	tbl_SchemaGroupProcess sgp WITH (NOLOCK)
	JOIN	tbl_SchemaGroup sg WITH (NOLOCK)
				ON (sgp.SchemaGroupID = sg.SchemaGroupID)
	WHERE	sgp.SchemaID = @SchemaID 
	AND		sgp.PrName = @Process
	AND		sg.GrName = @Group
	AND		sgp.MachineName = @MachineName
	
	-- SessionGroupProcessStatusID and RunNumber.
	SELECT		@SessionGroupProcessStatusID = sgps.SessionGroupProcessStatusID
	FROM		tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
	JOIN		tbl_SchemaGroupProcess sgp WITH (NOLOCK) 
					ON (sgps.SessionID = @BuildID 
							AND sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID 
							AND sgp.PrName = @Process
							AND sgp.MachineName = @MachineName)
	JOIN		tbl_Session s WITH (NOLOCK) 
					ON (sgp.SchemaID = s.SchemaID)
	WHERE		s.SessionID = @BuildID
	AND			sgps.SchemaGroupProcessID = @SchemaGroupProcessID
	GROUP BY	sgps.SessionGroupProcessStatusID

	-- SessionGroupStatusID.
	SELECT	@SessionGroupStatusID = sgs.SessionGroupStatusID
	FROM	tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
	JOIN	tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sgps.SessionID = @BuildID AND sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID AND sgps.SessionGroupProcessStatusID = @SessionGroupProcessStatusID)
	JOIN	tbl_SessionGroupStatus sgs WITH (NOLOCK) ON (sgp.SchemaGroupID = sgs.SchemaGroupID)
	JOIN	tbl_Session s ON (sgs.SessionID = s.SessionID)
	WHERE	s.SessionID = @BuildID
	
	-- Mark the process as "to be skipped".
	SELECT	@Err = 'Marking the process as skipped.'	
	UPDATE	tbl_SessionGroupProcessStatus WITH (ROWLOCK)
	SET		Skip = 1,
			IgnoreTiming = 1
	WHERE	SessionGroupProcessStatusID = @SessionGroupProcessStatusID
	IF @@ERROR <> 0 GOTO on_err	

	-- Now, check if all processes for this group are marked as "to be skipped".  If 
	-- they are, mark the group as "to be skipped" as well. 
	DECLARE @ProcessedSkipped int
	SELECT	@ProcessedSkipped = 1
	FROM	tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
	JOIN	tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID)
	WHERE	SessionID = @BuildID
	AND		SchemaGroupID = @SchemaGroupID
	AND		Skip = 0	   

	IF @ProcessedSkipped IS NULL OR @ProcessedSkipped = 0
		BEGIN
			SELECT	@Err = 'Marking the group as skipped.'	
			UPDATE	tbl_SessionGroupStatus WITH (ROWLOCK)
			SET		Skip = 1
			WHERE	SessionGroupStatusID = @SessionGroupStatusID
			IF @@ERROR <> 0 GOTO on_err	
		END

	-- Now, check to see if this is the last process to be completed in this Group. 
	-- If it is, mark the Group as completed also.
	DECLARE @GroupSkipped int
	SELECT	@GroupSkipped = 1
	FROM	tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
	JOIN	tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID AND sgp.SchemaGroupID = @SchemaGroupID AND (sgps.StatusID = 1 OR sgps.StatusID = 7 OR sgps.StatusID = 2))
	WHERE	sgps.SessionID = @BuildID
	AND		sgps.Skip = 0
		
	IF @GroupSkipped IS NULL OR @GroupSkipped = 0
		BEGIN
			EXEC sp_UpdateSessionGroupStatusAsFinished @SessionGroupStatusID, 5, @LogDateTime
			
			EXEC up_CompleteSessionIfAllGroupsAreComplete @BuildID, @LogDateTime
		END
			
	
	-- Commit the transaction if there are no errors at the end. 
	IF @@ERROR <> 0 
		GOTO on_err

	-- Return the sessionid.
	SELECT @BuildID As SessionID

	COMMIT TRANSACTION
	RETURN 
	
	on_err:
		ROLLBACK TRANSACTION
		SELECT @Err = 'ERROR: up_Log_SkipProcess - ' + @Err
		RAISERROR (@Err , 16, 1)	
		RETURN	

RETURN


GO
