USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSessionProperties4]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_UpdateSessionProperties4]
(
	@SessionID int,
	@Machine varchar(100),
	@StatusID int,
	@RawDrop varchar(255),
	@RawAbandoned bit,
	@LayoutsAbandoned bit,
	@Comment varchar(255),
	@BuildDate datetime,
	@User varchar(50),
    @TestBuild bit
)
AS
	SET NOCOUNT ON
	IF @RawDrop = ''
		SELECT @RawDrop = NULL
	
	UPDATE tbl_Session WITH (ROWLOCK)
	   SET SeBuildMachine = @Machine,
		   StatusID = @StatusID,
		   SeDropPath = @RawDrop,
		   SeComment = @Comment,
		   SeBuildDate = @BuildDate,
		   SeRawDropAbandoned = @RawAbandoned,
		   SeLayoutsAbandoned = @LayoutsAbandoned,
           SeTestBuild = @TestBuild
	 WHERE SessionID = @SessionID

	IF @StatusID = 8 -- Abandonded
		BEGIN
			UPDATE tbl_Session WITH (ROWLOCK)
			   SET SeManuallyStalled = NULL
			 WHERE SessionID = @SessionID		
			 
			-- Check to see if ENAR layouts are available.  If they are, update the status
			-- to 11 (enar available) instead of abandoned.

			-- Chanksa: 10/7 - Checking for 'VSTS' semaphore instead of 'ENAR'
			SELECT 1
			  FROM tbl_SessionSetup
			 WHERE SessionID = @SessionID
			   AND Setup LIKE '%vsts%'	 
			 
			IF @@ROWCOUNT > 0
				BEGIN
					UPDATE tbl_Session
					   SET StatusID = 11
					 WHERE SessionID = @SessionID
				END 
		END
	
	IF LEN(@Comment) > 0
		BEGIN
			EXEC sp_AddSessionLog @SessionID, @User, @Comment
		END
	
	RETURN
GO
