USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_MntrCheckSessionForStall]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/* 
sp_MntrCheckSessionForStall
*/
CREATE PROCEDURE [dbo].[sp_MntrCheckSessionForStall]
(
	@SessionID int
)
AS
	SET NOCOUNT ON
	
	BEGIN TRAN
	
		-- Mark stalled processes where the process has been stalled for at least 10 minutes
		-- and greater than 25% of it's average.
		UPDATE tbl_SessionGroupProcessStatus WITH (ROWLOCK)
		   SET Stalled = 1
		  FROM tbl_SessionGroupProcessStatus sgps  
		  JOIN tbl_Session s ON (sgps.SessionID = s.SessionID AND s.SessionID = @SessionID)	
		  JOIN tbl_SchemaGroupProcess sgp  ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID)
  		  JOIN tbl_ProcessBuildTime pbt  ON (sgp.PrShortName = pbt.PrName 
													--AND pbt.ProductID = s.ProductID 
													--AND pbt.MilestoneID = s.MilestoneID 
													AND pbt.LabID = s.LabID 
													AND pbt.FlavorID = s.FlavorID 
		 											AND pbt.TargetArchitectureID = s.TargetArchitectureID
		 											AND pbt.LocaleSetID = s.LocaleSetID) 
		 WHERE sgps.ProcessStarted IS NOT NULL
		   AND sgps.ProcessFinished IS NULL
		   AND sgps.Stalled = 0
		   AND sgps.Skip = 0
		   AND (sgps.StatusID = 2 OR sgps.StatusID = 9) -- In Progress or Rebuilding.
		   AND (DATEDIFF(mi, sgps.ProcessStarted, GetDate()) - pbt.AvgBuildTime) >= 10
		   AND DATEDIFF(mi, sgps.ProcessStarted, GetDate()) * 1.35 > pbt.AvgBuildTime
		   		   
		IF @@ERROR <> 0
			BEGIN
				ROLLBACK TRAN
				GOTO ON_ERROR
			END		
	
	COMMIT TRAN	
	
	ON_ERROR:
	
	RETURN 





GO
