USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_DeletePreservationRequest]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_DeletePreservationRequest]
	@Revision varchar(100),
	@LabID int,
	@User varchar(50),
	@ImpersonatingUser varchar(50),
	@IP varchar(50)
AS
	update tbl_PreservationRequest
	set PrCancelledDateUtc = GETUTCDATE(), PrCancelledBy = @User
	where PrRevision = @Revision
	and LabId = @LabID
	and PrRequestedBy = @User
RETURN
GO
