USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetTriage]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetTriage]
AS
	SET NOCOUNT ON
	
	SELECT TriageID, TrName
	  FROM tlkp_Triage WITH (NOLOCK)
	RETURN 

GO
