USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_AddBU]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_AddBU]
@Name VARCHAR (255), @ID INT OUTPUT
AS
BEGIN
	INSERT INTO tbl_BU
	(BuName)
	VALUES
	(@Name)
	
	SET @ID = SCOPE_IDENTITY()
END

GO
