USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_AddPU]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_AddPU]
@Name VARCHAR (255), @BUID INT, @ID INT OUTPUT
AS
BEGIN
	INSERT INTO tbl_PU
	(BUID, PuName)
	VALUES
	(@BUID, @Name)
	
	SET @ID = SCOPE_IDENTITY()
END

GO
