USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_UpdateIssueSourceAndSubSource]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[up_UpdateIssueSourceAndSubSource]
	(
		@IssueID int,
		@Source int,
        @SubSource int,
	    @OtherSubSource varchar(1000)
	)
AS

SET NOCOUNT ON

DELETE
  FROM tbl_IssueSource
 WHERE IssueID = @IssueID	

DELETE
  FROM tbl_IssueSubSource
 WHERE IssueID = @IssueID	

IF (@Source IS NOT NULL)
    INSERT INTO tbl_IssueSource (IssueID, SourceID)
    VALUES (@IssueID, @Source)

IF (@SubSource IS NOT NULL)
    INSERT INTO tbl_IssueSubSource (IssueID, SubSourceID)
    VALUES (@IssueID, @SubSource)

UPDATE tbl_Issue WITH (ROWLOCK)
   SET IsOtherSubSource = @OtherSubSource
 WHERE IssueID = @IssueID

RETURN 
GO
