USE [LabStatus]
GO
/****** Object:  View [dbo].[vw_Issues_BuildOnly_Last12Months]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_Issues_BuildOnly_Last12Months]
AS
SELECT TOP 100 PERCENT I.[IssueID]
	  ,I.[IsTitle]
	  ,I.[IsAssignedTo]
	  ,I.[IsPendingOwner]
	  ,I.[IsPendingSince]
	  ,I.[IsAssignedBy]
	  ,I.[IsDateCreated]
	  ,I.[IsDateChanged]
	  ,I.[IsWorkAround]
	  ,I.[IsNotifyUser]
	  ,I.[IsMachineName]
	  ,I.[IsCausedBy]
	  ,I.[IsCausedByLead]
	  ,I.[IsCostCenter]
	  ,I.[TeamID]
	  ,I.[LanguageID]
	  ,S.[SeName] AS [SeverityName]
	  ,I.[IsClosed]
	  ,I.[IsDeleted]
	  ,I.[IsDateClosed]
	  ,I.[IsLockDown]
	  ,I.[IsLockDownSet]
	  ,I.[IsLockDownImmediate]
	  ,I.[IsLockDownGracePeriod]
	  ,I.[IsLockDownMailSent]
	  ,I.[IsFollowUp]
	  ,I.[IsMachineAccessOnly]
	  ,I.[IsOtherSubSource]
	  ,I.[IsLastHandOffReminderSent]
	  ,I.[IsLastReminderSent]
	  ,I.[IsAutoOpened]
	  ,I.[IsAutoOpenIssues]
	  ,I.[IsDuplicate]
	  ,I.[IsDuplicateIssue]
	  ,O.[OrName] AS [OrgName]
	  ,I.[IsTimeSpent]
	  ,I.[IsAutoClosed]
	  ,I.[IsStall]
	  ,SG.GrName AS [GroupName]
	  ,ISNULL(F.FixCount, 0) AS FixCount
	  ,ISNULL(F.AutoFixCount, 0) AS AutoFixCount
	  ,ISNULL(F.ManualFixCount, 0) AS ManualFixCount
	  ,(SELECT COUNT(*) FROM dbo.atbl_SessionIssue (NOLOCK) SI WHERE SI.IssueID = I.IssueID) AS BuildCount
	  ,(SELECT MIN(Src.SoName) FROM dbo.tlkp_Source (NOLOCK) Src INNER JOIN dbo.tbl_IssueSource (NOLOCK) [IS] ON Src.SourceID = [IS].SourceID WHERE [IS].IssueID = I.IssueID) AS IssueSource
	  ,(SELECT MIN(SubSrc.SuName) FROM dbo.tlkp_SubSource (NOLOCK) SubSrc INNER JOIN dbo.tbl_IssueSubSource (NOLOCK) [ISS] ON SubSrc.SubSourceID = [ISS].SubSourceID WHERE [ISS].IssueID = I.IssueID) AS IssueSubSource
  FROM [dbo].[tbl_Issue] (NOLOCK) I 
  INNER JOIN [dbo].[tlkp_Severity] (NOLOCK) S ON I.SeverityID = S.SeverityID
  INNER JOIN [dbo].[tbl_Org] (NOLOCK) O ON I.OrgID = O.OrgID
  LEFT OUTER JOIN (
	SELECT IssueID, COUNT(*) AS FixCount, SUM(CAST(FiIsAutomated AS int)) AS AutoFixCount, COUNT(*) - SUM(CAST(FiIsAutomated AS int)) AS ManualFixCount
	FROM dbo.tbl_Fix (NOLOCK)
	GROUP BY IssueID
  ) F ON I.IssueID = F.IssueID
  LEFT OUTER JOIN (
	SELECT ILE.IssueID, MIN(ILE.LogEntryID) AS MinLogEntryId
	FROM dbo.tbl_Issue I (NOLOCK)
	  INNER JOIN dbo.atbl_IssueLogError ILE (NOLOCK) ON I.IssueID = ILE.IssueID
	WHERE I.IsDateCreated > DATEADD(year,-1,GetDate())
	  AND I.IsTest = 0
	GROUP BY ILE.IssueID
  ) IL ON I.IssueID = IL.IssueID
  LEFT OUTER JOIN dbo.atbl_IssueLogError ILE (NOLOCK) ON I.IssueID = ILE.IssueID AND IL.MinLogEntryID = ILE.LogENtryID
  LEFT OUTER JOIN dbo.tbl_Log L (NOLOCK) ON ILE.LogEntryID = L.LogEntryID
  LEFT OUTER JOIN dbo.tbl_SessionGroupStatus SGS (NOLOCK) ON L.SessionGroupStatusID = SGS.SessionGroupStatusID
  LEFT OUTER JOIN dbo.tbl_SchemaGroup SG (NOLOCK) ON SGS.SchemaGroupID = SG.SchemaGroupID
  WHERE I.IsDateCreated > DATEADD(year,-1,GetDate())
  AND I.IsTest = 0
  AND EXISTS (SELECT * FROM dbo.atbl_SessionIssue SI
  INNER JOIN dbo.tbl_Session S ON SI.SessionID = S.SessionID
  INNER JOIN dbo.tbl_Lab L ON S.LabID = L.LabID
  INNER JOIN dbo.tbl_Milestone M ON L.MilestoneID = M.MilestoneID
  WHERE I.IssueID = SI.IssueID AND M.MiShortName != 'VAL')
  ORDER BY I.IsDateCreated DESC
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "I"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 135
               Right = 276
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "S"
            Begin Extent = 
               Top = 6
               Left = 314
               Bottom = 118
               Right = 484
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "O"
            Begin Extent = 
               Top = 6
               Left = 522
               Bottom = 135
               Right = 755
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ILE"
            Begin Extent = 
               Top = 6
               Left = 1215
               Bottom = 101
               Right = 1385
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "L"
            Begin Extent = 
               Top = 102
               Left = 1007
               Bottom = 231
               Right = 1251
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SGS"
            Begin Extent = 
               Top = 102
               Left = 1289
               Bottom = 231
               Right = 1493
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SG"
            Begin Extent = 
               Top = 120
               Left = 314
               Bottom = 249
               Right = 489
            End
            DisplayFlags = 280
            TopColumn = 0
     ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Issues_BuildOnly_Last12Months'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'    End
         Begin Table = "F"
            Begin Extent = 
               Top = 6
               Left = 793
               Bottom = 126
               Right = 959
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "IL"
            Begin Extent = 
               Top = 6
               Left = 997
               Bottom = 96
               Right = 1157
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Issues_BuildOnly_Last12Months'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Issues_BuildOnly_Last12Months'
GO
