USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionsWithPSIssues]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSessionsWithPSIssues]
AS
	SET NOCOUNT ON
	
	SELECT sip.SessionID, sip.PSBugID, s.LabID, s.MilestoneID
	  FROM tbl_SessionPSIssue sip WITH (NOLOCK)
	  JOIN tbl_Session s WITH (NOLOCK) ON (sip.SessionID = s.SessionID)
	 --WHERE DATEDIFF(dd, s.SeBuildDate, GetDate()) < 3
  ORDER BY sip.SessionID
  
	RETURN 
GO
