USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetBUs]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[up_GetBUs]
AS
	SET NOCOUNT ON
	
	SELECT	* 
	FROM	tbl_BU

	SELECT	*
	FROM	tbl_PU
	
	RETURN


GO
