USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_ParulsReport]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[sp_ParulsReport]
AS
BEGIN

DECLARE @Lab varchar(100)
DECLARE @Lang varchar(100)
DECLARE @Arch varchar(20)
DECLARE @Flavor varchar(20)
DECLARE @RevPattern varchar(20)
DECLARE @Since datetime
DECLARE @CompareBuild varchar(20)

SET @Lab = 'releases/orcas/sp'
SET @Arch = 'x86'
SET @Flavor = 'RET'
SET @Lang = 'ENU'
SET @RevPattern = '%.01'
SET @Since = '6/15/2008'
SET   @CompareBuild = '30717.01'

-- Build a table of averages
WITH SPBuilds As
(
      SELECT            s.SessionID
      FROM        tbl_Session s WITH (NOLOCK)
      WHERE       s.StatusID = 5                      -- Only completed builds.
      AND               s.LabID = (SELECT LabID FROM tbl_Lab WHERE LaName = @Lab)
      AND               s.TargetArchitectureID = (SELECT TargetArchitectureID FROM tlkp_TargetArchitecture WHERE TaName = @Arch)
      AND               s.FlavorID = (SELECT FlavorID FROM tlkp_Flavor WHERE FlName = @Flavor)
      AND               s.LocaleSetID = (SELECT LocaleSetID FROM tlkp_LocaleSet WHERE LoName = @Lang)
      AND               s.SeRevision LIKE @RevPattern
      AND               s.SeRevision NOT IN ('30630.01', '30701.01', '30623.01')
      AND               s.SeBuildDate > @Since
)
SELECT            sg.GrName, 
                  AVG(CAST(DATEDIFF(SS, sgs.GroupStarted, sgs.GroupFinished) AS DECIMAL)/60) As AvgMinutes
INTO        #Averages
FROM        SPBuilds s WITH (NOLOCK)
JOIN        tbl_SessionGroupStatus sgs WITH (NOLOCK)
                        ON (s.SessionID = sgs.SessionID)
JOIN        tbl_SchemaGroup sg
                        ON (sgs.SchemaGroupID = sg.SchemaGroupID)
GROUP BY    sg.Grname

-- Now compare each group to our comparison build.
SELECT            sg.GrName, 
                  AvgMinutes, 
                  CAST(DATEDIFF(SS, sgs.GroupStarted, sgs.GroupFinished) AS DECIMAL)/60 As ComparisonMinutes,
                  CAST(DATEDIFF(ss, sgs.GroupStarted, sgs.GroupFinished) AS DECIMAL)/60 - AvgMinutes As DifferenceMinutes,
                  sgs.GroupStarted
FROM        tbl_Session s
JOIN        tbl_SessionGroupStatus sgs WITH (NOLOCK)
                        ON (s.SessionID = sgs.SessionID)
JOIN        tbl_SchemaGroup sg WITH (NOLOCK)
                        ON (sgs.SchemaGroupID = sg.SchemaGroupID)
JOIN        #Averages av
                        ON (sg.GrName = av.GrName)
WHERE       s.LabID = (SELECT LabID FROM tbl_Lab WHERE LaName = @Lab)
AND               s.TargetArchitectureID = (SELECT TargetArchitectureID FROM tlkp_TargetArchitecture WHERE TaName = @Arch)
AND               s.FlavorID = (SELECT FlavorID FROM tlkp_Flavor WHERE FlName = @Flavor)
AND               s.LocaleSetID = (SELECT LocaleSetID FROM tlkp_LocaleSet WHERE LoName = @Lang)
AND               s.SeRevision = @CompareBuild
AND               sg.GrName NOT IN ('Build Launch', 'Build Sources', 'Build Setups', 'Release Setups')
ORDER BY    sgs.SessionGroupStatusID

DROP TABLE #Averages

END

-- drop procedure sp_parulsreport
GO
