USE [LabStatus]
GO
/****** Object:  Table [dbo].[tlkp_TargetArchitecture]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tlkp_TargetArchitecture](
	[TargetArchitectureID] [int] NOT NULL,
	[TaShortName] [varchar](10) NULL,
	[TaName] [varchar](50) NULL,
	[TaDescription] [varchar](255) NULL,
	[TaBVTCode] [varchar](10) NULL,
	[TaOrder] [int] NULL,
	[TaActive] [bit] NOT NULL,
 CONSTRAINT [PK_tlkp_TargetArchitecture] PRIMARY KEY CLUSTERED 
(
	[TargetArchitectureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tlkp_TargetArchitecture] ADD  CONSTRAINT [DF_tlkp_TargetArchitecture_TaOrder]  DEFAULT ((1000)) FOR [TaOrder]
GO
ALTER TABLE [dbo].[tlkp_TargetArchitecture] ADD  DEFAULT ((1)) FOR [TaActive]
GO
