USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_AddFixLog]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[up_AddFixLog]
(
	@FixID int,
	@SessionID int,
	@FixComponentTypeID int = null,
	@FixComponentID int = null,
	@LogText varchar(1000),
	@LogDateTime datetime,
	@FixLogTypeID int = 1,
	@User varchar(50),
	@ImpersonatingUser varchar(50),
	@IP varchar(50)
)
AS
BEGIN
	/************************
	DESCRIPTION
		Adds a log for a fix or one of its sub components
	*************************/
	INSERT INTO tbl_FixLog
	(FixID, SessionID, FixComponentTypeID, FixComponentID, LoText, LoDateTime, LoCreated, LoUser, LoImpersonatingUser, LoIP, FixLogTypeID)
	VALUES
	(@FixID, @SessionID, @FixComponentTypeID, @FixComponentID, @LogText, @LogDateTime, GETDATE(), @User, @ImpersonatingUser, @IP, @FixLogTypeID)
	

END





GO
