USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_LogRawDropLocation]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- sp_LogRawDropLocation
CREATE PROCEDURE [dbo].[sp_LogRawDropLocation]
	(
		@Revision varchar(50),
		@LabShortName varchar(50),
		@ProductShortName varchar(10),
		@MilestoneShortName varchar(10),
		@FlavorShortName varchar(10),
		@TargetArchitectureShortName varchar(10),
		@RawDropLocation varchar(255),
		@LogDateTime datetime = NULL,
		@MachineName varchar(50)
	)
AS
	BEGIN TRANSACTION
			
		DECLARE	@SessionID int
		DECLARE @SchemaID int
		-- SessionID and SchemaID.
		EXEC sp_GetSessionID @Revision, @LabShortName, @ProductShortName, @MilestoneShortName, @FlavorShortName, @TargetArchitectureShortName, @LogDateTime, @MachineName, @SessionID OUTPUT, @SchemaID OUTPUT
		SELECT @SessionID As SessionID
		IF @SessionID IS NULL
			BEGIN
				RAISERROR ('A session could not be found or created.', 16, 1, @Revision)
				ROLLBACK TRANSACTION
			END
		-- Reset the stalled value.
		UPDATE tbl_Session WITH (ROWLOCK)
		   SET SeManuallyStalled = NULL,
			   SeDelayed = 0,
		       SeComment = NULL,
			   SeDropPath = @RawDropLocation
		 WHERE SessionID = @SessionID
	
		IF @@ROWCOUNT = 0
			BEGIN
				RAISERROR ('A log entry was not created.', 16, 1, @Revision)
				ROLLBACK TRANSACTION
			END
		ELSE
			COMMIT TRANSACTION
	
	RETURN 

GO
