USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_UpdateFixSynchronizationMachine]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_UpdateFixSynchronizationMachine]
(
    @BuildSessionGroupId int,
    @FixId int,
    @SynchronizationMachineName varchar(255),
    @SynchronizationMachineStatus int
)
AS
BEGIN
    UPDATE tbl_FixSynchronizationMachine
        SET SynchronizationMachineName = @SynchronizationMachineName,
            SynchronizationMachineStatus = @SynchronizationMachineStatus
    WHERE BuildSessionGroupId = @BuildSessionGroupId AND FixId = @FixId
END
GO
