USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionID3]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetSessionID3]
	(
		@Revision varchar(50),
		@Lab varchar(50),
		@Product varchar(50),
		@Parameters varchar(4000),
		@LogDateTime datetime = NULL,
		@MachineName varchar(50),
		@SessionID int = NULL OUTPUT,
		@SchemaID int = NULL OUTPUT,
		@StatusID int = NULL OUTPUT
	)
AS
	SET NOCOUNT ON
	DECLARE @Err varchar(4000)

	BEGIN TRANSACTION	

	-- Add semicolon to end of list if it's not already there.
	IF (SUBSTRING(@Parameters, LEN(@Parameters), 1) <> ';')
		BEGIN
			SET @Parameters = @Parameters + ';' 
		END

	-- For the Private/Buddybuild labs we append the machine name to the revision.
	IF @Lab = 'Private' OR @Lab = 'BuddyBuild'
		SELECT @Revision = @MachineName + '.' + @Revision

	DECLARE @LabID int
	SELECT	@LabID = LabID
	FROM	tbl_Lab WITH (NOLOCK)
	WHERE	LaShortName = @Lab

	IF @LabID IS NULL
		BEGIN
			SELECT @Err = 'Lab "' + @Lab + '" does not exist.'
			GOTO on_err	
		END

	-- First, check to see if the session exists.
	SELECT	@SessionID = spk.SessionID
	FROM	tbl_SessionParameterKey spk WITH (NOLOCK)
	JOIN	tbl_Session s WITH (NOLOCK) 
				ON (spk.SessionID = s.SessionID)
	WHERE	spk.LabID = @LabID
	AND		spk.SeRevision = @Revision
	AND		spk.SeParameterKey = @Parameters
	AND		s.SeRevision NOT LIKE '%_DEL%'
	
	IF (@SessionID IS NOT NULL)
		BEGIN


			DECLARE @SessionStarted datetime
		
			-- If the session exists, we'll just return the output values
			-- and be done.
			SELECT	@SessionID = SessionID,
					@SchemaID = SchemaID,
					@StatusID = StatusID,
					@SessionStarted = SeStarted
			FROM	tbl_Session WITH (NOLOCK)
			WHERE	SessionID = @SessionID
	
			-- If the session exists, but is unstarted, set the start time
			-- for this existing build.
			IF @SessionStarted IS NULL
				BEGIN
					SELECT @Err = 'Set the start time of the build.'
					UPDATE	tbl_Session WITH (ROWLOCK)
					SET		SeStarted = @LogDateTime
					WHERE	SessionID = @SessionID
					IF @@ERROR <> 0 GOTO on_err	
				END 
		END
	ELSE
		BEGIN
			-- If the session does not exist, then we assume that this is a new
			-- session and we need to parse the parameter key and create the session.	
			-- Parse the parameters.
			SELECT  *
			INTO	#Params
			FROM	dbo.fn_ParseSemiColonDelimitedParameterPairs(@Parameters)
			
			-- Grab how many parameters we need to validate
			DECLARE @ParametersToValidate int
			SELECT	@ParametersToValidate = COUNT(*)
			FROM	#Params ps
			JOIN	tbl_Parameter p WITH (NOLOCK)
						ON (ps.Name = p.PaName)
			WHERE	p.PaValidate = 1			
			
			-- Now, grab how many values we have that match.
			DECLARE @AcceptibleValues int
			SELECT	@AcceptibleValues = COUNT(*)
			FROM	#Params ps
			JOIN	tbl_Parameter p WITH (NOLOCK)
						ON (ps.Name = p.PaName)
			JOIN	tbl_ParameterValue pv WITH (NOLOCK)
						ON (p.ParameterID = pv.ParameterID AND ps.Value = pv.PaValue)
			WHERE	p.PaValidate = 1

			-- If these values don't match, we've got a problem.  Error out.
			-- TODO: Need more here, tell the user exactly what was wrong.
			IF (@ParametersToValidate != @AcceptibleValues)
				BEGIN
					SELECT @Err = 'One or more parameters do not have acceptable values.'
					GOTO on_err	
				END

			-- Build the new start time.  This is used as the build date.
			DECLARE @NewStartTime varchar(50)
			
			IF SUBSTRING(@Revision, 6, 3) = '.00'
				BEGIN
					DECLARE @IndexPadding int
					SET @IndexPadding = 0

					-- We check here for an underscore after the build number.  If one exists,
					-- then we can assume it's a minilab build and we can parse the build number
					-- from the remaining string.  Ex:  11108.00_61114H or 30104.00_100114.01  This build would go on 11/14/2006.
					IF (SUBSTRING(@Revision, 9, 1) = '_')
					BEGIN
						SET @IndexPadding = 9
					END

					DECLARE @Year varchar(4)
					DECLARE @Month varchar(2)
					DECLARE @Day varchar(2)
					DECLARE @Time varchar(25)

					SELECT @Year = CONVERT(varchar(4), DATEPART(yy, GetDate()+1)) -- We add 1 to current date in case the build is launched on Dec 31st
					SELECT @Month = SUBSTRING(@Revision, 2 + @IndexPadding, 2) 
					SELECT @Day = SUBSTRING(@Revision, 4 + @IndexPadding, 2)
					SELECT @Time = '12:01 am'
					IF ((@Month >= 1) AND (@Month <= 12) AND (@Day >= 1) AND (@Day <= 31))
						SELECT @NewStartTime = @Year + '-' + @Month + '-' + @Day + ' ' + @Time
					ELSE
						SELECT @NewStartTime = CONVERT(varchar(50), @LogDateTime)
				END
			ELSE
				BEGIN
					IF @Lab <> 'Private'
						SELECT @NewStartTime = CONVERT(varchar(50), DATEADD(dd, 1, @LogDateTime))
					ELSE
						SELECT @NewStartTime = CONVERT(varchar(50), @LogDateTime)
				END

			DECLARE @ProductID int
			DECLARE	@SessionSchemaID int

			-- ProductID.
			SELECT	@ProductID = ProductID
			FROM	tbl_Product WITH (NOLOCK)
			WHERE	PrShortName = @Product				

			-- We need to get the legacy values that are needed in tbl_Session which
			-- include the TargetArchitectureID, FlavorID, and LocaleSetID.
			DECLARE @TargetArchitectureID int
			SELECT	@TargetArchitectureID = TargetArchitectureID
			FROM	#Params ps 
			JOIN	tlkp_TargetArchitecture ta ON (ps.Value = ta.TaShortName)
			WHERE	[Name] = 'ARCH'

			DECLARE @FlavorID int
			SELECT	@FlavorID = FlavorID
			FROM	#Params ps 
			JOIN	tlkp_Flavor fl ON (ps.Value = fl.FlShortName)
			WHERE	[Name] = 'FLV'

			DECLARE @LocaleSetID int
			SELECT	@LocaleSetID = LocaleSetID
			FROM	#Params ps 
			JOIN	tlkp_LocaleSet ls ON (ps.Value = ls.LoShortName)
			WHERE	[Name] = 'LOC'	

			-- Validate that these exist.
			-- TODO: We probably need more here - tell the user exactly what is missing.
			IF @TargetArchitectureID IS NULL OR @FlavorID IS NULL OR @LocaleSetID IS NULL
				BEGIN
					SELECT @Err = 'One or more required parameters was not passed.'
					GOTO on_err			
				END

			-- Now we clone the schema for this product.  Each session will now have it's own
			-- unique schema to allow for dynamic reporting.
			EXEC sp_CloneSchemaForEdit @ProductID, @SessionSchemaID OUTPUT

			-- Insert the new session into the session table.
			DECLARE @NewSessionID int
			SELECT	@Err = 'Insert the new session into the session table.'
			INSERT
			INTO	tbl_Session (MilestoneID, ProductID, LabID, FlavorID, TargetArchitectureID, LocaleSetID, SchemaID, SeRevision, SeStarted, StatusID, SeBuildMachine, SeBuildDate)
			SELECT	1, @ProductID, @LabID, @FlavorID, @TargetArchitectureID, @LocaleSetID, @SessionSchemaID, @Revision, @LogDateTime, 1, @MachineName, @NewStartTime
			SELECT	@NewSessionID = @@IDENTITY	
			IF @@ERROR <> 0 GOTO on_err	

			-- Insert the session parameter key.
			SELECT	@Err = 'Insert the new session parameter key into the session param key table.'
			INSERT
			INTO	tbl_SessionParameterKey (SessionID, LabID, SeRevision, SeParameterKey)
			SELECT	@NewSessionID, @LabID, @Revision, @Parameters
			IF @@ERROR <> 0 GOTO on_err		
			
			-- Now, copy the appropriate status rows into the SessionGroupProcessStatus table.
			SELECT	@Err = 'Creating the SessionGroupProcessStatus records.'
			INSERT
			INTO	tbl_SessionGroupProcessStatus (SessionID, SchemaGroupProcessID, StatusID)
			SELECT	@NewSessionID, sbp.SchemaGroupProcessID, 1
			FROM	tbl_SchemaGroupProcess sbp
			WHERE	sbp.SchemaID = @SessionSchemaID
			IF @@ERROR <> 0 GOTO on_err	
				
			-- Now, copy the appropriate status rows into the SessionGroupStatus table.
			SELECT	@Err = 'Creating the SessionGroupStatus records.'
			INSERT
			INTO	tbl_SessionGroupStatus (SessionID, SchemaGroupID, StatusID)
			SELECT	@NewSessionID, sg.SchemaGroupID, 1
			FROM	tbl_SchemaGroup sg
			WHERE	sg.SchemaID = @SessionSchemaID
			IF @@ERROR <> 0 GOTO on_err	

			-- Open a cursor on all the parameters and start looping.
			DECLARE CUR_Parameter CURSOR FOR
			SELECT Parameter
			FROM #Params
			OPEN CUR_Parameter

			-- DataPoint variables.
			DECLARE @Param varchar(1000)
			DECLARE @ParamName varchar(500)
			DECLARE @ParamValue varchar(500)
			DECLARE @ParamValidate bit
			
			FETCH NEXT FROM CUR_Parameter INTO @Param
			WHILE (@@FETCH_STATUS <> -1)
				BEGIN
					IF (@@FETCH_STATUS <> -2)
						BEGIN   
							SELECT	@ParamName = [Name],
									@ParamValue = [Value]
							FROM	#Params
							WHERE	Parameter = @Param
							
							SELECT	@ParamValidate = PaValidate
							FROM	tbl_Parameter WITH (NOLOCK)
							WHERE	PaName = @ParamName
							
							IF @ParamValidate = 1
								BEGIN
									-- Add each validated session parameter.
									SELECT	@Err = 'Adding a session parameter'
									INSERT
									INTO	tbl_SessionParameterValue 
									SELECT	@NewSessionID,
											p.ParameterID, 
											pv.ParameterValueID
									FROM	tbl_Parameter p WITH (NOLOCK)
									JOIN	tbl_ParameterValue pv WITH (NOLOCK)
												ON (p.ParameterID = pv.ParameterID)
									WHERE	p.PaName = @ParamName
									AND		pv.PaValue = @ParamValue
									IF @@ERROR <> 0 GOTO on_err	
								END
							ELSE							
								BEGIN
									-- This is a new parameter that we need to add.
									SELECT	@Err = 'Adding a new dynamic session parameter'
									INSERT
									INTO	tbl_SessionParameterValue 
									SELECT	@NewSessionID,
											p.ParameterID, 
											@ParamValue
									FROM	tbl_Parameter p WITH (NOLOCK)
									WHERE	p.PaName = @ParamName
									IF @@ERROR <> 0 GOTO on_err	
								END
						END
					FETCH NEXT FROM CUR_Parameter INTO @Param
				END
			CLOSE CUR_Parameter
			DEALLOCATE CUR_Parameter	

			-- Set the output variables appropriately.				
			SELECT	@SessionID = @NewSessionID, 
					@SchemaID = @SessionSchemaID,
					@StatusID = 1		

		END

	-- This statement is being removed so as to ensure that we don't return a value inadvertently here.
	-- The session ID is always returend as an output parameter which is sufficient.
	--SELECT @SessionID As SessionID

	-- Commit the transaction if there are no errors at the end. 
	IF @@ERROR <> 0 
		GOTO on_err

	COMMIT TRANSACTION
	RETURN
	
	on_err:
		ROLLBACK TRANSACTION

		-- Insert the log footprint.	
		INSERT 
		INTO		tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
		VALUES		('sp_GetSessionID3 FAILURE, ' 
					+ @Revision + ', ' 
					+ @Lab + ', '
					+ @Product + ', '
					+ @Parameters + ', '
					+ @MachineName, 
					@LogDateTime, 
					GetDate()) 

		SELECT @Err = 'ERROR: sp_GetSessionID3 - ' + @Err
		RAISERROR (@Err, 16, 1)	
		RETURN
	
RETURN



GO
