USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_SessionLookup]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SessionLookup]
	@LabBranchPath VARCHAR(2000), -- tbl_Lab.LaSourceControlPath
	@LabNamePrefix VARCHAR(255), -- tbl_Lab.LaName
	@LabTfsServerUri VARCHAR(250), -- tlkp_BugDatabase.BdServerUrl
	@SessionBuildNumber VARCHAR(100), -- tbl_Session.SeRevision
	@SessionArchitecture VARCHAR(50), -- tlkp_TargetArchitecture.TaName
	@SessionFlavor VARCHAR(50) -- tlkp_Flavor.FlName
AS

-- Lookup BugDatabase -- e.g. 28 = https://vstfdevdiv.redmond...
DECLARE @BugDatabaseID INT = 0
SELECT @BugDatabaseID = BugDatabaseID FROM dbo.tlkp_BugDatabase WHERE BdServerUrl = @LabTfsServerUri
IF @BugDatabaseID = 0
BEGIN
	RAISERROR('TFS server URI not found among bug databases: %s', 16, 1, @LabTfsServerUri)
END

-- Lookup Lab
DECLARE @LabID INT = 0
SELECT @LabID = l.LabID
FROM tbl_Lab l JOIN tlkp_BugDatabase b ON b.BugDatabaseID = l.BugDatabaseID
WHERE
l.LaSourceControlPath = @LabBranchPath
AND l.LaName LIKE @LabNamePrefix + '%'
AND b.BugDatabaseID = @BugDatabaseID
IF @LabID = 0
BEGIN
	RAISERROR('LabID not found for branch "%s", lab prefix "%s", bug db %d.', 16, 1, @LabBranchPath, @LabNamePrefix, @BugDatabaseID)
END

-- Lookup ArchitectureID -- e.g. 1 = X86, 2 = IA64, 3 = AMD64, 5 = ARM
DECLARE @ArchitectureID INT = 0
SELECT @ArchitectureID = TargetArchitectureID FROM dbo.tlkp_TargetArchitecture WHERE TaName = @SessionArchitecture
IF @ArchitectureID = 0
BEGIN
	RAISERROR('Architecture not found: %s', 16, 1, @SessionArchitecture)
END

-- Lookup FlavorID -- e.g. 1 = DBG, 2 = RET, 3 = FRE, 4 = CHK
DECLARE @FlavorID INT = 0
SELECT @FlavorID = FlavorID FROM dbo.tlkp_Flavor WHERE FlName = @SessionFlavor
IF @FlavorID = 0
BEGIN
	RAISERROR('Flavor not found: %s', 16, 1, @SessionFlavor)
END

-- Return SessionID
SELECT SessionID
FROM tbl_Session s
WHERE s.LabID = @LabID
AND s.SeRevision = @SessionBuildNumber
AND s.TargetArchitectureID = @ArchitectureID
AND s.FlavorID = @FlavorID
GO
