USE [LabStatus]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_IsTestStepGroup]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_IsTestStepGroup]
(
    @StepGroup varchar(800)
)
RETURNS bit
WITH SCHEMABINDING
AS
BEGIN
    IF @StepGroup = 'Run Tests'
            RETURN 1
    RETURN 0
END
GO
