USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_SigningBranchList]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SigningBranchList](
	[BranchName] [nvarchar](max) NULL,
	[CertNumber] [nvarchar](50) NULL,
	[AllowListID] [int] NOT NULL,
 CONSTRAINT [PK_tbl_SigningBranchList] PRIMARY KEY CLUSTERED 
(
	[AllowListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
