USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessionUnprocessedLogCount]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[up_GetSessionUnprocessedLogCount]
	(
		@SessionID int,
		@CategoryID int
	)
AS
	SET NOCOUNT ON
	
	SELECT		COUNT(*)
	FROM		tbl_LogError le WITH (NOLOCK)
	WHERE		le.SessionID = @SessionID	
	AND			le.Processed = 0
	AND			CategoryID = @CategoryID

	RETURN 






GO
