USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBugDatabases]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBugDatabases]
AS
	SET NOCOUNT ON
	
	SELECT BugDatabaseID, BdName
	  FROM tlkp_BugDatabase WITH (NOLOCK) 
	
	RETURN 
GO
