USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_LogBatch_SetupFinished]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_LogBatch_SetupFinished]
	(
		@LogBatch [dbo].[LogCommonDataUDT] READONLY
	)
AS
BEGIN
	SET NOCOUNT ON
	DECLARE @BuildID INT
	DECLARE @Data varchar(255)
	DECLARE @LogDateTime varchar(50)
	DECLARE @MachineName varchar(50)
	DECLARE @Position INT = 0
	DECLARE @MaxRetryCount INT = 100
	DECLARE @RetryCounter INT = 1

	INSERT 
	INTO		tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
	VALUES		('up_LogBatch_SetupFinished', @LogDateTime, GetDate()) 
	--@LogBatch
	
	DECLARE logLoop CURSOR
	FOR SELECT	*
		FROM	@LogBatch

	OPEN logLoop
	FETCH NEXT FROM logLoop INTO @BuildID, @Data, @LogDateTime, @MachineName
	WHILE @@FETCH_STATUS = 0
	BEGIN
		RETRY: 
		BEGIN TRY
			EXEC dbo.up_Log_SetupFinished @BuildID, @Data, @LogDateTime, @MachineName
			SET @Position += 1
		END TRY
		BEGIN CATCH
			IF (@@TRANCOUNT > 0)
				ROLLBACK
			IF ((ERROR_NUMBER() = 1205) AND  -- Deadlock Error Number
				(@RetryCounter < @MaxRetryCount)) 
			BEGIN
				SET @RetryCounter += 1
				WAITFOR DELAY '00:00:01' -- Wait for 1 sec before retry

				INSERT 
				INTO	tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
				VALUES	('up_LogBatch_SetupFinished deadlocked at position ' + CAST(@Position AS NVARCHAR(10)) + '. Trying ' + CAST(@RetryCounter AS NVARCHAR(10)) + ' of ' + CAST(@MaxRetryCount AS NVARCHAR(10)) + '.', 
						 @LogDateTime, GetDate()) 

				GOTO RETRY
			END

			DECLARE @ErrorMessageFmt NVARCHAR(MAX) = N'Batch failed at position %d due to "%s" (SEVERITY: %d).'
			DECLARE @ErrorMessage NVARCHAR(4000)
			DECLARE @ErrorSeverity INT
			DECLARE @ErrorState INT
			SELECT	@ErrorMessage = ERROR_MESSAGE(),
					@ErrorSeverity = ERROR_SEVERITY(),
					@ErrorState = ERROR_STATE()

			INSERT 
			INTO		tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
			VALUES		('up_LogBatch_SetupFinished raising error: ' + @ErrorMessage, @LogDateTime, GetDate()) 

			RAISERROR(@ErrorMessageFmt, 18, @ErrorState, @Position, @ErrorMessage, @ErrorSeverity)
		END CATCH

		FETCH NEXT FROM logLoop INTO @BuildID, @Data, @LogDateTime, @MachineName
	END
	CLOSE logLoop
	DEALLOCATE logLoop	

	INSERT 
	INTO		tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
	VALUES		('up_LogBatch_SetupFinished succeeded', @LogDateTime, GetDate()) 

END
GO
