USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateProcess]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateProcess]
(
	@ProcessID int,
	@Code varchar(10),
	@Name varchar(50),
	@SchemaID int,
	@AvgBuildTime int,
	@RawDrop bit,
	@ViewLevelID int
)
AS
	SET NOCOUNT ON
	
	UPDATE tbl_SchemaGroupProcess WITH (ROWLOCK)
	   SET PrName = @Name,
		   PrShortName = @Code,
		   AvgBuildTime = @AvgBuildTime,
	       RawDrop = @RawDrop,
	       ViewLevelID = @ViewLevelID
	 WHERE SchemaGroupProcessID = @ProcessID
	    
	RETURN 
GO
