USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_LabLogText]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LabLogText](
	[LabLogID] [int] NOT NULL,
	[LabLogText] [varchar](1000) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_LabLogText]  WITH CHECK ADD  CONSTRAINT [FK_tbl_LabLogText_tbl_LabLog] FOREIGN KEY([LabLogID])
REFERENCES [dbo].[tbl_LabLog] ([LabLogID])
GO
ALTER TABLE [dbo].[tbl_LabLogText] CHECK CONSTRAINT [FK_tbl_LabLogText_tbl_LabLog]
GO
