USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetRecentSessions]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[up_GetRecentSessions]
	(
		@LabIDs varchar(4000)
	)
AS

BEGIN
    SET NOCOUNT ON

	SELECT  s.SessionID
	  INTO  #SessionID
	  FROM  tbl_Session s WITH (READPAST)
	  JOIN  fn_ParseCommaDelimitedList(@LabIDs) l 
                ON (s.LabID = l.ItemID)
	  JOIN	tlkp_Flavor flavor WITH (NOLOCK)
				ON (s.FlavorID = flavor.FlavorID)
	 WHERE (s.SeBuildDate >= DATEADD(dd, -2, GETDATE()) 
		AND s.StatusID in (2, 5, 9, 10))
	ORDER BY s.LocaleSetID, s.TargetArchitectureID, flavor.FlOrder ASC, s.SessionID

    DECLARE @SessionIdList VARCHAR(max)
    SELECT	@SessionIdList = COALESCE(@SessionIdList + ',', '') + CONVERT(varchar(20), SessionID) 
    FROM	#SessionID


    DROP TABLE #SessionID

    EXEC    up_GetSessions @SessionIdList

	RETURN
END


































GO
