USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLabsForIssueStats]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLabsForIssueStats]
As
	Select  Distinct
			LabID,
			LaName,
			LaOrder
	From	tbl_Lab With (NoLock) 
	Where	OrgID = 1		--DevDiv
		AND LaStatus = 1	--Active
		AND LaPrivate = 0	--Not Private
		AND LaOrder < 300
	Order	By LaName Desc
GO
