USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetLastFixIdByIssueId]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetLastFixIdByIssueId]
(
    @IssueId int
)
AS
BEGIN
    SELECT top 1 FixId 
	from tbl_Fix f
	where f.IssueID = @IssueId
	order by f.FixID desc
END
GO
