USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_ReassignIssue]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_ReassignIssue]
	(
		@IssueID int,
		@AssignTo varchar(50)
	)
AS
	SET NOCOUNT ON
	DECLARE @AssignedTo varchar(50)
	DECLARE @Machine varchar(100) 
	
	-- First, grab the machine name and the current user the issue is assigned to.
	SELECT @AssignedTo = IsAssignedTo, @Machine = IsMachineName
	  FROM tbl_Issue WITH (NOLOCK)
	 WHERE IssueID = @IssueID
	
	UPDATE tbl_Issue WITH (ROWLOCK)
	   SET IsAssignedTo = @AssignTo,
	       IsPendingOwner = NULL,
	       IsPendingSince = NULL,
	       IsAssignedBy = NULL,
	       IsCCManagerOnEmails = 0
	 WHERE IssueID = @IssueID
	IF @Machine IS NOT NULL 
		BEGIN
			-- Revoke machine access to the old user.
			EXEC sp_RevokeMachineAccess @IssueID, @Machine, @AssignedTo
			-- Grant machine access to this new user.
			EXEC sp_GrantMachineAccess @IssueID, @Machine, @AssignTo
		END
	
	RETURN 


GO
