USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStatusSummary]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetStatusSummary]
	(
		@LabID int,
		@BuildDate datetime
	)
AS
	SET NOCOUNT ON
	
	SELECT s.SessionID, s.SeBuildMachine As BuildMachine, s.SeRevision As Revision, s.StatusID, s.FlavorID, s.TargetArchitectureID, s.MilestoneID, s.SeDropPath As DropPath, m.MiName As Milestone, l.LaName As Lab, s.SeStarted As SessionStarted, s.SeManuallyStalled As ManuallyStalled, s.SeDelayed As Delayed, s.SeComment As Comment
			, IssueCount =
				(
					SELECT COUNT(i.IssueID)
 					FROM tbl_Issue i WITH (NOLOCK)
					JOIN tbl_SessionIssue iss WITH (NOLOCK) ON (i.IssueID = iss.IssueID)
					WHERE s.SessionID = iss.SessionID
					AND i.IsDeleted = 0
				)				
			, OpenIssueCount =
				(
					SELECT COUNT(i.IssueID)
 					FROM tbl_Issue i WITH (NOLOCK)
					JOIN tbl_SessionIssue iss WITH (NOLOCK) ON (i.IssueID = iss.IssueID)
					WHERE s.SessionID = iss.SessionID
					AND i.IsDeleted = 0
					AND i.IsClosed = 0
				)				
			, Stalled = 
				(
					/* Select a 1 if there are steps currently running */
					SELECT DISTINCT COUNT(sgps6.SessionGroupProcessStatusID)
					FROM tbl_SchemaGroupProcess sgp6 WITH (NOLOCK) 	
					JOIN tbl_SessionGroupProcessStatus sgps6 WITH (NOLOCK) ON (sgp6.SchemaGroupProcessID = sgps6.SchemaGroupProcessID AND (sgps6.StatusID = 2 OR sgps6.StatusID = 4))
				 	WHERE s.SessionID = sgps6.SessionID
				 	AND (sgps6.StatusID = 2 OR sgps6.StatusID = 4 OR sgps6.StatusID = 9)
					AND sgps6.Skip = 0
				)	
			, LastStep = 
				(
					/* Select a 1 if there are steps currently running */
					SELECT DISTINCT MAX(sgps.ProcessFinished)
					FROM tbl_SessionGroupProcessStatus sgps7 WITH (NOLOCK)
				 	WHERE s.SessionID = sgps7.SessionID
				 	AND (sgps7.StatusID = 3 OR sgps7.StatusID = 5 OR sgps7.StatusID = 6 OR sgps7.StatusID = 8)
					AND sgps7.Skip = 0
				)
	FROM tbl_Session s WITH (NOLOCK)
	JOIN tbl_SessionGroupStatus sgs WITH (NOLOCK) ON (s.SessionID = sgs.SessionID)
	JOIN tbl_SessionGroupProcessStatus sgps WITH (NOLOCK) ON (s.SessionID = sgps.SessionID)
	JOIN tbl_SchemaGroup sg WITH (NOLOCK) ON (sgs.SchemaGroupID = sg.SchemaGroupID)
	JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sg.SchemaGroupID = sgp.SchemaGroupID)
	JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
	JOIN tbl_Milestone m WITH (NOLOCK) ON (s.MilestoneID = m.MilestoneID)
	WHERE s.LabID = @LabID
	AND DATEDIFF(dd, s.SeBuildDate, @BuildDate) = 0
	AND sgps.Skip = 0
	GROUP BY s.SessionID, s.SeBuildMachine, s.SeRevision, s.StatusID, sgs.Skip, s.FlavorID, s.TargetArchitectureID, s.MilestoneID, s.StatusID, s.SeDropPath, m.MiName, l.LaName, s.SeStarted, s.SeManuallyStalled, s.SeDelayed, s.SeComment
	RETURN 
GO
