USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddIssueSource]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddIssueSource]
	(
		@IssueID int,
		@Source int
	)
AS
	SET NOCOUNT ON
	INSERT
	  INTO tbl_IssueSource (IssueID, SourceID)
	VALUES (@IssueID, @Source)
	
	RETURN 
GO
