USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateIssueWithMachineAccessOnlyValue]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateIssueWithMachineAccessOnlyValue]
	(
		@IssueID int,
		@MachineAccess bit,
		@MarkedBy varchar(50)
	)
AS
	UPDATE tbl_Issue WITH (ROWLOCK)
	   SET IsMachineAccessOnly = @MachineAccess
	 WHERE IssueID = @IssueID

	RETURN 


GO
