USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBVTSessionsByDate_PLOCTEST]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBVTSessionsByDate_PLOCTEST]
(
	@BuildDate datetime
)
AS
	SET NOCOUNT ON
	
	SELECT s.SessionID, s.SeRevision As Revision, l.LaBVTCode As Lab, m.MiBVTCode As Milestone, ta.TaBVTCode As TargetArchitecture, f.FlBVTCode As Flavor, ls.LoBVTCode As LocaleSet
	  FROM tbl_Session s WITH (NOLOCK)
INNER JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
INNER JOIN tbl_Milestone m WITH (NOLOCK) ON (s.MilestoneID = m.MilestoneID)
INNER JOIN tlkp_TargetArchitecture ta WITH (NOLOCK) ON (s.TargetArchitectureID = ta.TargetArchitectureID)
INNER JOIN tlkp_Flavor f WITH (NOLOCK) ON (s.FlavorID = f.FlavorID)
INNER JOIN tlkp_LocaleSet ls WITH (NOLOCK) ON (s.LocaleSetID = ls.LocaleSetID)
     WHERE DATEDIFF(dd, s.SeBuildDate, @BuildDate) < 2
       AND (((s.FlavorID = 3/*FRE*/) OR (s.FlavorID = 4/*CHK*/)) OR ((s.LocaleSetID = 2/*PLOC/JPN*/) AND (s.FlavorID = 2/*RET*/)) AND s.TargetArchitectureID = 1)
       AND l.VBL = 1
       AND s.SessionID = 22215
     
	RETURN
GO
