USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetMachineAccessRights]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetMachineAccessRights]
AS
	-- All machines and current/pending owners and labs based on issues
	; with IssueAssigneesAndMachines as 
	(
		select IsAssignedTo, IsPendingOwner, IsMachineName, SeBuildMachine, LaName
		from LabStatus..tbl_Issue i
		join LabStatus..atbl_SessionIssue si on si.IssueId = i.IssueId
		join LabStatus..tbl_Session s on s.SessionId = si.SessionId
		join LabStatus..tbl_Lab l on l.LabId = s.LabId
		where IsClosed = 0 and IsDeleted = 0
	)
	, DistinctUsersAndMachines as
	(
		select IsAssignedTo as Alias, IsMachineName as Machine, LaName as Lab from IssueAssigneesAndMachines union
		select IsAssignedTo as Alias, SeBuildMachine as Machine, LaName as Lab from IssueAssigneesAndMachines union
		select IsPendingOwner as Alias, IsMachineName as Machine, LaName as Lab from IssueAssigneesAndMachines union
		select IsPendingOwner as Alias, SeBuildMachine as Machine, LaName as Lab from IssueAssigneesAndMachines
	)
	select distinct * from DistinctUsersAndMachines
	where Alias is not null
	and Machine is not null
	order by Alias, Machine
GO
