USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddIssuePlatform]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddIssuePlatform]
	(
		@IssueID int,
		@Platform int
	)
AS
	SET NOCOUNT ON
	INSERT
	  INTO tbl_IssuePlatform (IssueID, PlatformID)
	VALUES (@IssueID, @Platform)
	
	RETURN 
GO
