USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetRunFixToSchedule]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_GetRunFixToSchedule]
AS
BEGIN

    SELECT  s.SessionID, s.SeBuildMachine, s.SeRevision, l.LaSourceControlPath
    FROM    tbl_Session s WITH (NOLOCK)
	JOIN	tbl_SessionFix sf WITH (NOLOCK)
			ON sf.SessionID = s.SessionID
    JOIN	tbl_Fix f WITH (NOLOCK)
            ON f.FixID = sf.FixID
    JOIN	tbl_lab l WITH (NOLOCK)
			ON l.LabID = s.LabID
    WHERE   s.StatusID NOT IN (11, 8) -- Abandoned or Completed
	AND		sf.FixStatusID = 3 -- Starting
	AND		s.SeRunFixScheduled = 0
    AND		DATEDIFF(d, s.SeStarted, GETDATE()) <= 7  -- within a week
END








GO
