USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_DeleteUserSession]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_DeleteUserSession]
	(
		@SessionID int,
		@User varchar(20) = NULL,
		@ImpersonatingUser varchar(20) = NULL,
		@IP varchar(20) = NULL
	)
AS
	SET NOCOUNT ON
		
	UPDATE	tbl_UserSession
	SET		SeRemoved = 1
	WHERE	UserID = @User
	AND     SessionID = @SessionID
	
	RETURN 


GO
