USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLabDetailsByName]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[sp_GetLabDetailsByName]
(
	@LabShortName varchar(50)
)
AS
	DECLARE @LabID int
	SELECT @LabID = LabID
	FROM	tbl_Lab
	WHERE LaShortName = @LabShortName

	EXEC sp_GetLabDetails @LabID
GO
