USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_EVENTS_GetCompletedVBLBuildsSince]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE    PROCEDURE [dbo].[up_EVENTS_GetCompletedVBLBuildsSince]
(
	@date datetime
)
AS
BEGIN

/************************************
DESCRIPTION
	returns all builds completed since a given date
************************************/
--Set @date = dateadd(mi,-140,@date)

SELECT s.SessionID, 
	l.LaName Lab, 
	l.LaShortName LabShortName, 
	s.SeRevision As Revision, 
	l.LaShortName As Lab, 
	m.MiShortName As Milestone, 
	f.FlShortName As Flavor, 
	ta.TaShortName As TargetArchitecture, 
	st.StName As SessionStatus, SeFinished
  FROM tbl_Session s WITH (NOLOCK)
  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
  JOIN tbl_Milestone m WITH (NOLOCK) ON (s.MilestoneID = m.MilestoneID)
  JOIN tlkp_Flavor f WITH (NOLOCK) ON (s.FlavorID = f.FlavorID)
  JOIN tlkp_TargetArchitecture ta WITH (NOLOCK) ON (s.TargetArchitectureID = ta.TargetArchitectureID)
  JOIN tlkp_Status st WITH (NOLOCK) ON (s.StatusID = st.StatusID)
 WHERE s.SeFinished > @date And l.laPrivate = 0	
		And S.StatusID In (5,3, 8) --Complete, Failed, Abandoned
		AND s.FlavorID <> 8 -- CTR
		AND s.TargetArchitectureID <> 7 -- CTR
END





GO
