USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetProcessLogs]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_GetProcessLogs]
(
	@SessionID INT,
	@CategoryIDs VARCHAR(2000) = '',
	@GroupID INT,
	@ProcessID INT
)
AS
BEGIN

SET NOCOUNT ON

	-- Groups.
	SELECT		sgs.*, sg.GrName
	INTO		#Groups
	FROM		tbl_SessionGroupStatus sgs WITH (NOLOCK)
	JOIN		tbl_SchemaGroup sg WITH (NOLOCK)
					ON (sgs.SchemaGroupID = sg.SchemaGroupID)
	WHERE		sgs.SessionID = @SessionID
	AND			((sgs.SessionGroupStatusID = @GroupID) OR (@GroupID = 0))

    SELECT      DISTINCT sgps.*, g.SchemaGroupID, g.GrName, sgp.PrName, sgp.PrDocLink, sgp.MachineName
    INTO		#Processes
	FROM		tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
	JOIN		tbl_SchemaGroupProcess sgp WITH (NOLOCK)
					ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID)
    JOIN        #Groups g
                    ON (sgp.SchemaGroupID = g.SchemaGroupID)
	WHERE		sgps.SessionID = @SessionID
	AND			((sgps.SessionGroupProcessStatusID = @ProcessID) OR (@ProcessID = 0))


	;WITH LogErrorCTE AS
	( 	
		SELECT	le.SessionID, le.LogEntryID, le.CategoryID, le.Processed
		FROM	tbl_LogError le WITH (NOLOCK)
		WHERE	SessionID = @SessionID 
	)

	-- Process logs.
	SELECT		l.LogEntryID, l.SessionID, l.ProcessID, l.CategoryID, l.LoDateTimeStamp, l.LoDateTimeLogged,
				l.LoMachineName, l.SessionGroupStatusID, l.SessionGroupProcessStatusID,
				CASE 
					WHEN lgd.LoExtendedLog IS NULL THEN l.LoLog
					ELSE lgd.LoExtendedLog
				END As LoLog,
				COALESCE(err.Processed, 0) AS Processed, ierr.IssueID, p.SessionGroupProcessStatusID,
				p.GrName AS GroupName, p.PrName AS ProcessName
	FROM		(SELECT	l.* FROM tbl_Log l WITH (NOLOCK) WHERE	SessionID = @SessionID) l 
	JOIN		#Processes p
					ON (l.SessionGroupProcessStatusID = p.SessionGroupProcessStatusID)
	LEFT JOIN	LogErrorCTE err
					ON (l.LogEntryID = err.LogEntryID)
	LEFT JOIN	atbl_IssueLogError ierr WITH (NOLOCK) 
					ON (l.LogEntryID = ierr.LogEntryID)
	LEFT JOIN	LabStatusLog..tbl_LogData lgd WITH (NOLOCK) 
					ON (l.LogEntryID = lgd.LogEntryID)
	WHERE		@CategoryIDs = ''
	OR			l.CategoryID IN (SELECT ItemID FROM dbo.fn_ParseCommaDelimitedList(@CategoryIDs))
	ORDER BY	l.LoDateTimeStamp ASC
	
	DROP TABLE #Groups, #Processes
	
	RETURN 

END

GO
