USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_TestQueries]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
	This proc is added to test various time out queries of the up_GetSessionsByDateRange proc.
	FEEL FREE TO REMOVE FROM DB
	Created Date: 12/12/2008
	Ingersal - a-paring
*/
CREATE PROCEDURE [dbo].[up_TestQueries]
AS 
BEGIN
	/* Test Query 1 */
	
	EXEC up_GetSessionsByDateRange_Dynamic
	@LabIDs = '1010,654,774,696,619,694,745,657,722,766,841,820,659,629,652,695,936,987,814,', 
	@FlavorIDs = '4,3,1,2,5,6,7,', 
	@TargetArchitectureIDs = '1,2,3,4,', 
	@LanguageIDs = '1,2,29,30,23,24,25,26,27,31,32,47,33,34,35,36,37,38,39,40,41,42,43,44,45,46,28,', 
	@From = '2008-11-25 00:00:00', 
	@To = '2008-12-09 23:59:59'

	
	EXEC up_GetSessionsByDateRange_temp
	@LabIDs = '1010,654,774,696,619,694,745,657,722,766,841,820,659,629,652,695,936,987,814', 
	@FlavorIDs = '4,3,1,2,5,6,7', 
	@TargetArchitectureIDs = '1,2,3,4', 
	@LanguageIDs = '1,2,29,30,23,24,25,26,27,31,32,47,33,34,35,36,37,38,39,40,41,42,43,44,45,46,28', 
	@From = '2008-11-25 00:00:00', 
	@To = '2008-12-09 23:59:59'

--		/* Test Query 2 */
--
--	
--	EXEC up_GetSessionsByDateRange_dynamic @LabIDs = '619,722, 615', @FlavorIDs = '4,3,1,2,5,6,7', 
--	@TargetArchitectureIDs = '1,2,3,4', 
--	@LanguageIDs = '1,2,29,30,23,24,25,26,27,28,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,4,5,6,3', 
--	@From = '2008-11-30 00:00:00', @To = '2008-12-07 23:59:59'
--
--	
--
--	EXEC up_GetSessionsByDateRange_temp @LabIDs = '619,722, 615', @FlavorIDs = '4,3,1,2,5,6,7', 
--	@TargetArchitectureIDs = '1,2,3,4', 
--	@LanguageIDs = '1,2,29,30,23,24,25,26,27,28,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,4,5,6,3', 
--	@From = '2008-11-30 00:00:00', @To = '2008-12-07 23:59:59'
--
--	/* Test Query 3 */
--
--	
--	EXEC up_GetSessionsByDateRange_dynamic @LabIDs = '', @FlavorIDs = '4,3,1,2,5,6,7', 
--	@TargetArchitectureIDs = '1,2,3,4', 
--	@LanguageIDs = '1,2,29,30,23,24,25,26,27,31,32,47,48,33,34,49,35,36,37,38,39,40,41,42,43,44,45', 
--	@From = '2008-12-07 00:00:00', @To = '2008-12-07 23:59:59'
--
--	
--	EXEC up_GetSessionsByDateRange_temp @LabIDs = '', @FlavorIDs = '4,3,1,2,5,6,7', 
--	@TargetArchitectureIDs = '1,2,3,4', 
--	@LanguageIDs = '1,2,29,30,23,24,25,26,27,31,32,47,48,33,34,49,35,36,37,38,39,40,41,42,43,44,45', 
--	@From = '2008-12-07 00:00:00', @To = '2008-12-07 23:59:59'

	RETURN
END

GO
