USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_UpdateSessionTestBuild]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_UpdateSessionTestBuild]
(
	@SessionID int,
	@TestBuild bit,
    @User nvarchar(50) = NULL
)
AS
	SET NOCOUNT ON
	
    UPDATE tbl_Session WITH (ROWLOCK)
       SET SeTestBuild = @TestBuild
     WHERE SessionID = @SessionID

    DECLARE @Log NVARCHAR(MAX)
    SET     @Log = 'Make build as test build: ' + CAST(@TestBuild AS NVARCHAR(2))
    EXEC sp_LogSessionChange @SessionID, @User, @Log
	
RETURN




GO
