USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMilestone]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetMilestone]
(
	@MilestoneID int
)
AS
	SET NOCOUNT ON
	
	SELECT *
	  FROM tbl_Milestone WITH (NOLOCK)
	 WHERE MilestoneID = @MilestoneID
	
	RETURN 
GO
