USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_Log3_SetupFinished]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- sp_LogSetupFinished
CREATE PROCEDURE [dbo].[sp_Log3_SetupFinished]
	(
		@Revision varchar(50),
		@Lab varchar(50),
		@Product varchar(50),
		@Parameters varchar(4000),
		@SetupFinished varchar(255),
		@LogDateTime varchar(50),
		@MachineName varchar(50)
	)
AS
	SET NOCOUNT ON
	DECLARE @Err varchar(4000)

	-- First we need to create a log footprint.  This piece is outside the transaction
	-- because we want to log EVERYTHING - even if the transaction fails.	
	INSERT 
	INTO		tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
	VALUES		('sp_Log3_SetupFinished, ' 
				+ @Revision + ', ' 
				+ @Lab + ', '
				+ @Parameters + ', ' 
				+ @SetupFinished + ', ' 
				+ @MachineName, 
				@LogDateTime, 
				GetDate()) 	

	BEGIN TRANSACTION
	
	DECLARE	@SessionID int
	DECLARE @SchemaID int
	DECLARE @StatusID int

	-- Create/retreive the session and schema IDs.  These will be used for reporting status
	-- for this particular build.
	EXEC sp_GetSessionID3 @Revision, @Lab, @Product, @Parameters, @LogDateTime, @MachineName, @SessionID OUTPUT, @SchemaID OUTPUT, @StatusID OUTPUT
	
	-- Reset the stalled value if necessary.	
	DECLARE @ManuallyStalledStep varchar(50)	
	SELECT	@ManuallyStalledStep = SeManuallyStalledStep	
	FROM	tbl_Session WITH (NOLOCK)
	WHERE	SessionID = @SessionID
	
	IF (@ManuallyStalledStep IS NOT NULL)
		BEGIN
			SELECT	@Err = 'Reset the manually stalled indicator.'
			UPDATE	tbl_Session WITH (ROWLOCK)
			SET		SeManuallyStalled = NULL,
					SeDelayed = 0
			WHERE	SessionID = @SessionID
			IF @@ERROR <> 0 GOTO on_err	
		END
	
	-- Number of setups reported
	DECLARE @SetupsReported int
	SELECT	@SetupsReported = COUNT(SessionID)		
	FROM	tbl_SessionSetup WITH (NOLOCK)
	WHERE	SessionID = @SessionID
	AND		Setup = @SetupFinished
			
	-- Check if this setup has been reported yet.  If already reported, just update
	-- the finished time.
	IF @SetupsReported > 0 
		BEGIN
			SELECT	@Err = 'Update the setups reported.'	
			UPDATE	tbl_SessionSetup WITH (ROWLOCK)
			SET		SetupFinished = @LogDateTime
			WHERE	SessionID = @SessionID
			AND		Setup = @SetupFinished
			IF @@ERROR <> 0 GOTO on_err	
		END
	ELSE
		-- If it hasn't reported yet, add it to the table and update 
		-- the number of total setups finished.       
		BEGIN
			SELECT	@Err = 'Add the new setup reported.'
			INSERT 
			INTO	tbl_SessionSetup (SessionID, Setup, SetupFinished)
			VALUES	(@SessionID, @SetupFinished, @LogDateTime)
			IF @@ERROR <> 0 GOTO on_err	
		
			SELECT	@Err = 'Update the number of setups reported.'
			UPDATE	tbl_Session WITH (ROWLOCK)
			SET		SeSetupsFinished = SeSetupsFinished + 1
			WHERE	SessionID = @SessionID 
			IF @@ERROR <> 0 GOTO on_err	

			-- Check if all the setups are complete and the build has already finsihed. 
			DECLARE @SessionStatus int
			DECLARE @Setups int
			DECLARE @SetupsFinished int
			
			SELECT	@Setups = SeSetups, 
					@SetupsFinished = SeSetupsFinished, 
					@SessionStatus = StatusID
			FROM	tbl_Session WITH (NOLOCK)
			WHERE	SessionID = @SessionID
			
			-- Only update to complete if all the setups are complete.
			IF @SetupsFinished >= @Setups AND @SessionStatus = 12
				BEGIN
					SELECT	@Err = 'Set the finished time if all setups are complete.'
					UPDATE	tbl_Session WITH (ROWLOCK)
					SET		StatusID = 5,
		 					SeFinished = @LogDateTime,
		 					SeComment = NULL
					WHERE	SessionID = @SessionID
					IF @@ERROR <> 0 GOTO on_err	
				END
		END   

	-- Commit the transaction if there are no errors at the end. 
	IF @@ERROR <> 0 
		GOTO on_err

	-- Return the sessionid.
	SELECT @SessionID As SessionID

	COMMIT TRANSACTION
	RETURN 
	
	on_err:
		ROLLBACK TRANSACTION
		SELECT @Err = 'ERROR: sp_Log3_SetupFinished - ' + @Err
		RAISERROR (@Err , 16, 1)	
		RETURN
		
RETURN




GO
