USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionGroupDetails]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSessionGroupDetails]
	(
		@SessionID int
	)
AS
	SET NOCOUNT ON
	
	SELECT sgs.SessionGroupStatusID, sg.GrName As GroupName, sgs.StatusID As GroupStatus, sgs.HasErrors, sgs.HasWarnings, sgs.GroupStarted, sgs.GroupFinished
	  FROM tbl_SessionGroupStatus sgs WITH (NOLOCK) 
	  JOIN tbl_SchemaGroup sg WITH (NOLOCK) ON (sgs.SchemaGroupID = sg.SchemaGroupID)
	 WHERE sgs.SessionID = @SessionID
	   AND sgs.Skip = 0
  ORDER BY sg.GrOrder
	
	RETURN 
GO
