USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetDevDivParentChildLabs]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		a-darmar
-- Create date: 9/30/2009
-- Description:	Gets all the parent/child labs for DevDiv that are Modular/Servicing.
-- =============================================
CREATE PROCEDURE [dbo].[up_GetDevDivParentChildLabs]
AS
BEGIN
	SET NOCOUNT ON;

	declare @@labs table ( labid int, parentlabid int, lashortname varchar(50), 
			laname varchar(255),
			lastatus bit
			)

	insert into @@labs 
	select distinct lbs.labid,
		lp.parentlabid,
		lashortname,
		laname,
		lastatus
	from integration.labparent lp
		inner join tbl_lab lbs on 
			lbs.labid = lp.labid 
		and lbs.orgid = 1
		and lbs.milestoneid in (1, 2,9)
	order by lbs.labid 	


	select 
		labid,
		null parentlabid,
		lashortname,
		laname,
		lastatus
	from tbl_lab 
	where labid in (
		select parentlabid from @@labs
			where parentlabid not in (select labid from @@labs)
		)
	union 
	select * from @@labs

	order by parentlabid 




END
GO
