USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetIssueByID3]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE  PROCEDURE [dbo].[sp_GetIssueByID3]
(
	@IssueID int
)
AS
	SET NOCOUNT ON
	
	SELECT DISTINCT i.*, sv.SeName, s.SourceID, s.SoName As Source, ss.SubSourceID, ss.SuName As SubSource
	  INTO #Issues
	  FROM tbl_Issue i WITH (NOLOCK)
	  JOIN atbl_SessionIssue iss WITH (NOLOCK) ON (i.IssueID = iss.IssueID)
 LEFT JOIN tbl_IssueLog lg WITH (NOLOCK) ON (i.IssueID = lg.IssueID)
	  JOIN tlkp_Severity sv WITH (NOLOCK) ON (i.SeverityID = sv.SeverityID)
 LEFT JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (i.IssueID = isrc.IssueID)
 LEFT JOIN tlkp_Source s WITH (NOLOCK) ON (isrc.SourceID = s.SourceID)
 LEFT JOIN tbl_IssueSubSource isss WITH (NOLOCK) ON (i.IssueID = isss.IssueID)
 LEFT JOIN tlkp_SubSource ss WITH (NOLOCK) ON (isss.SubSourceID = ss.SubSourceID)
	 WHERE i.IssueID = @IssueID
	 
     SELECT i.issueid
    INTO #NonTestBuildIssue
    FROM #Issues i
    JOIN atbl_SessionIssue si on si.issueid = i.issueid
    JOIN tbl_Session s on s.sessionid = si.sessionid
    WHERE s.seTestBuild = 0

	--Adding DISTINCT (arturo:r 4/17/2006)
	SELECT DISTINCT i.*, CASE WHEN ntbi.issueid IS NULL THEN 1 ELSE 0 END AS TestBuild
	  FROM #Issues i
 LEFT JOIN #NonTestBuildIssue ntbi ON ntbi.issueid = i.issueid

	-- Logs
	SELECT *
	  FROM tbl_IssueLog WITH (NOLOCK)
	 WHERE IssueID IN (SELECT IssueID FROM #Issues)
  ORDER BY LoDateCreated DESC

	-- Associated sessions.
	SELECT i.IssueID, LaName, s.SessionID, SeBuildMachine, SeRevision, FlName, TaName, LoName, dbo.fn_GetSessionFixStatus(i.IssueID, s.SessionID) SessionFixStatus, s.seTestBuild
	  FROM #Issues i
	  JOIN atbl_SessionIssue iss WITH (NOLOCK) ON (i.IssueID = iss.IssueID)
	  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
	  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
	  JOIN tlkp_Flavor f WITH (NOLOCK) ON (s.FlavorID = f.FlavorID)
	  JOIN tlkp_TargetArchitecture ta WITH (NOLOCK) ON (s.TargetArchitectureID = ta.TargetArchitectureID)
	  JOIN tlkp_LocaleSet ls WITH (NOLOCK) ON (s.LocaleSetID = ls.LocaleSetID)
	 WHERE s.SeRevision NOT LIKE '%_DEL%'
  ORDER BY LaName

	-- Bugs.
	SELECT ib.*, BdName As [Database], bd.BdViewUrl
	  FROM tbl_IssueBug ib WITH (NOLOCK)
	  JOIN #Issues i ON (ib.IssueID = i.IssueID)
	  JOIN tlkp_BugDatabase bd WITH (NOLOCK) ON (ib.BugDatabaseID = bd.BugDatabaseID)
	  
	-- Dependent issues.
	SELECT i.IssueID, iss.IssueID As DependentIssueID, iss.IsTitle, iss.IsClosed
	  FROM tbl_IssueDependency id WITH (NOLOCK)
	  JOIN #Issues i ON (id.IssueID = i.IssueID)
	  JOIN tbl_Issue iss WITH (NOLOCK) ON (id.DependentIssueID = iss.IssueID)

	DROP TABLE #Issues	
	
	RETURN 









GO
