USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddProduct]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddProduct]
	(
		@ShortName varchar(10),
		@Name varchar(50)
	)
AS
	SET NOCOUNT ON
	
	-- Get the next ProductID.
	DECLARE @ProductID int
	SELECT @ProductID = MAX(ProductID) + 1
	  FROM tbl_Product
	
	-- Insert the new Product.
	INSERT
	  INTO tbl_Product (ProductID, PrShortName, PrName)
	VALUES (@ProductID, @ShortName, @Name)
	
	RETURN 
GO
