USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLabsForStatusPageByMilestone]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLabsForStatusPageByMilestone]
(
	@MilestoneID int
)
AS
	SET NOCOUNT ON
	
	SELECT *
	  FROM tbl_Lab WITH (NOLOCK)	 
	 WHERE LaStatus = 1
	   AND MilestoneID = @MilestoneID
  ORDER BY LaOrder, LaName
  
	RETURN 
GO
