USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBuildStatusByDate]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBuildStatusByDate]
(
	@LabShortName varchar(10),
	@Date datetime
)
AS
	SET NOCOUNT ON
	SELECT s.SeRevision As Revision, l.LaBVTCode As Lab, m.MiBVTCode As Milestone, f.FlBVTCode As Flavor, ta.TaBVTCode As TargetArchitecture, st.StName As SessionStatus
	  FROM tbl_Session s
	  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID AND l.LaShortName = @LabShortName)
	  JOIN tbl_Milestone m WITH (NOLOCK) ON (s.MilestoneID = m.MilestoneID)
	  JOIN tlkp_Flavor f WITH (NOLOCK) ON (s.FlavorID = f.FlavorID)
	  JOIN tlkp_TargetArchitecture ta WITH (NOLOCK) ON (s.TargetArchitectureID = ta.TargetArchitectureID)
	  JOIN tlkp_Status st WITH (NOLOCK) ON (s.StatusID = st.StatusID)
	 WHERE l.LaShortName = @LabShortName
	   AND DATEDIFF(dd, s.SeStarted, GetDate()) = 0
	 
	RETURN 
GO
