USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_UpdateSession]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_UpdateSession]
(
	@SessionID int,
	@Machine varchar(100),
	@StatusID int,
	@RawDrop varchar(255),
	@LayoutsAbandoned bit = NULL,
	@Comment varchar(255),
	@TestBuild bit = NULL,
	@BuildDate datetime,
	@User varchar(20) = NULL,
	@ImpersonatingUser varchar(20) = NULL,
	@IP varchar(20) = NULL
)
AS
	SET NOCOUNT ON
	
	IF @RawDrop = ''
		SET @RawDrop = NULL

	DECLARE @RawAbandoned bit
	DECLARE @JustLayoutsAbandoned bit

	IF @LayoutsAbandoned IS NOT NULL
		BEGIN
			SET @RawAbandoned = 1
			SET @JustLayoutsAbandoned = @LayoutsAbandoned
		END
	
	UPDATE tbl_Session WITH (ROWLOCK)
	   SET SeBuildMachine = @Machine,
		   StatusID = @StatusID,
		   SeDropPath = @RawDrop,
		   SeComment = @Comment,
		   SeBuildDate = @BuildDate,
		   SeRawDropAbandoned = @RawAbandoned,
		   SeLayoutsAbandoned = @JustLayoutsAbandoned
	 WHERE SessionID = @SessionID

    IF @TestBuild IS NOT NULL
	    UPDATE tbl_Session WITH (ROWLOCK)
	       SET SeTestBuild = @TestBuild
	     WHERE SessionID = @SessionID

	IF @StatusID = 5 -- Completed
		BEGIN
			UPDATE	tbl_Session WITH (ROWLOCK)
			SET		SeFinished = GetDate() ,
					SeStalledShort = 0,
					SeStalledLong = 0
			WHERE	SessionID = @SessionID		
		END

	IF @StatusID = 8 -- Abandonded
		BEGIN
			UPDATE tbl_Session WITH (ROWLOCK)
			   SET SeManuallyStalled = NULL,
					StatusID = 8,
					SeFinished = GetDate() 
			 WHERE SessionID = @SessionID		
			 
			-- Check to see if VSTS layouts are available.  If they are, update the status
			-- to 11 (enar available) instead of abandoned.
			SELECT 1
			  FROM tbl_SessionSetup
			 WHERE SessionID = @SessionID
			   AND ((Setup LIKE '%\vsts\%') OR (Setup LIKE '%\Ultimate\%'))
			 
			IF @@ROWCOUNT > 0
				BEGIN
					UPDATE tbl_Session
					   SET StatusID = 11
					 WHERE SessionID = @SessionID
				END 
		END
	
	IF LEN(@Comment) > 0
		BEGIN
			EXEC sp_AddSessionLog @SessionID, @User, @Comment
		END
	
	RETURN



GO
