USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetReaderBoardData_NOTUSED]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetReaderBoardData_NOTUSED]
AS

/*
This gets a string describing the old issue that's pending assignment from DDBUILD to someone else,
and tells us how long it's been pending.
*/
DECLARE @ResultString varchar(512)

CREATE TABLE #tbl_TMP_ReaderBoard (
	TextString	varchar (256),
	Importance	INT,
	URL		varchar(128)
	)
	

/********************************************************************************************
	Look for builds with unprocessed [new] errors.
*********************************************************************************************/

	SELECT SessionID, LaBranch, SeRevision, FlName, TaShortName
	INTO #tbl_TMP_ReaderBoard_Errs
	FROM	tbl_Session s (nolock),
		tbl_Lab l (nolock),
		tlkp_Flavor fl (nolock),
		tlkp_TargetArchitecture ta (nolock)
	WHERE	l.LabID = s.LabID
	and	fl.FlavorID = s.FlavorID
	and	ta.TargetArchitectureID = s.TargetArchitectureID
	and	l.VBL = 1
	and	DATEDIFF( hh, SeStarted, GETDATE() ) < 24

	INSERT INTO #tbl_TMP_ReaderBoard
		SELECT TOP 5 LaBranch + '/' + SeRevision + '/' + FlName + '/' + TaShortName + ': ' + CONVERT( varchar, COUNT(le.LogEntryID) ) + ' new errs' AS TextString
			, 1 As Importance
			, 'https://ddweb.corp.microsoft.com/buildstatus/SessionLogs.aspx?sid=' + CONVERT(varchar, le.SessionID) + '&cid=3' AS URL
		FROM	tbl_LogError le WITH (READPAST),
			#tbl_TMP_ReaderBoard_Errs err
		WHERE	err.SessionID = le.SessionID
		AND	le.Processed = 0
		AND	le.CategoryID = 3
		GROUP BY LaBranch, SeRevision, FlName, TaShortName, le.SessionID
		ORDER BY COUNT(le.LogEntryID) DESC



	DROP TABLE #tbl_TMP_ReaderBoard_Errs


/********************************************************************************************
	Look for issues that are pending assignment to DDBuild for a while.
*********************************************************************************************/
	INSERT INTO #tbl_TMP_ReaderBoard
		SELECT TOP 10 '#' + CONVERT( varchar, i.IssueID ) + ' ' + IsPendingOwner + '  ' + dbo.fn_ConvertMinutesToReadable( DATEDIFF( mi, IsPendingSince, GETDATE() ) ) AS TextString
			, 1 AS Importance
			, 'https://ddweb.corp.microsoft.com/buildstatus/issues/issues.aspx?iid=' + CONVERT(varchar, i.IssueID) AS URL
		FROM tbl_Issue i (nolock)
		join tbl_IssueSource isrc (nolock) ON ( isrc.IssueID = i.IssueID )
		join atbl_SessionIssue si on ( si.IssueID = i.IssueID )
		join tbl_Session s on ( s.SessionID = si.SessionID )
		join tbl_Lab lab on ( lab.LabID = s.LabID )
		WHERE IsPendingOwner <> 'ddbuild'
		--and IsAssignedBy = 'ddbuild'
		and LaName NOT like '%avalon%'		-- EXCLUDE PARTNER BUILDS
		and LaName NOT like '%ddyukon%'	-- EXCLUDE PARTNER BUILDS
		and LaName NOT like '%longhorn%'	-- EXCLUDE PARTNER BUILDS
		and LaName NOT like '%exchange%'	-- EXCLUDE PARTNER BUILDS
		and LaName NOT like '%vbl_ndt%'	-- EXCLUDE PARTNER BUILDS
		and IsClosed = 0
		and IsDeleted = 0
		and SourceID <> 11			--- EXCLUDE INFO ISSUES
		and IsMachineAccessOnly = 0
		and DATEDIFF( mi, IsPendingSince, GETDATE() ) > 5
		ORDER BY IsPendingSince ASC




/********************************************************************************************
	If nothing else made it into the temp table, then let's just print the date.
	But set the importance to zero, so it doesn't pop-up in the systray app.
*********************************************************************************************/

IF @@ROWCOUNT < 1
BEGIN
	--INSERT INTO #tbl_TMP_ReaderBoard VALUES ( 'HEY VLAD!!!' , 1, '' )
	INSERT INTO #tbl_TMP_ReaderBoard VALUES ( CONVERT( varchar, GETDATE() ), 0, NULL )
END


/********************************************************************************************
	Finally, send whatever is in the temp table to the user.
*********************************************************************************************/
SELECT * from #tbl_TMP_ReaderBoard


DROP TABLE #tbl_TMP_ReaderBoard
GO
