USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_StartSession2]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_StartSession2]
	(
		@Revision varchar(50),
		@LabID int,
		@ProductID int,
		@MilestoneID int,
		@SchemaID int,
		@FlavorID int,
		@TargetArchitectureID int,
		@LogDateTime datetime,
		@MachineName varchar(100),
		@SessionID int = NULL OUTPUT 
	)
AS
	DECLARE @NewSessionID int
	
	SELECT @NewSessionID = MAX(SessionID) + 1
	  FROM tbl_Session WITH (NOLOCK)
	
	IF @NewSessionID IS NULL
		SELECT @NewSessionID = 1
	
	-- Insert the new session into the session table and grab the new sessionid.
	INSERT
	  INTO tbl_Session (SessionID, ProductID, LabID, MilestoneID, FlavorID, TargetArchitectureID, SchemaID, SeRevision, SeStarted, StatusID, SeBuildMachine)
	SELECT @NewSessionID, @ProductID, @LabID, @MilestoneID, @FlavorID, @TargetArchitectureID, @SchemaID, @Revision, @LogDateTime, 2, @MachineName
	-- Create the appropriate SessionLog entries
	/*INSERT
	  INTO tbl_SessionLog (SessionID, CategoryID, NumberOf)
	SELECT @NewSessionID, CategoryID, 0
	  FROM tlkp_Category
	 WHERE (CategoryID = 2 Or CategoryID = 3)*/
	-- Now, copy the appropriate status rows into the SessionGroupProcessStatus table.
	INSERT
	  INTO tbl_SessionGroupProcessStatus (SessionID, SchemaGroupProcessID, StatusID)
	SELECT @NewSessionID, sbp.SchemaGroupProcessID, 1
	  FROM tbl_Product p WITH (NOLOCK)
	  JOIN tbl_SchemaGroupProcess sbp ON (p.SchemaID = sbp.SchemaID)
	 WHERE p.ProductID = @ProductID
	-- Now, copy the appropriate status rows into the SessionGroupStatus table.
	INSERT
	  INTO tbl_SessionGroupStatus (SessionID, SchemaGroupID, StatusID)
	SELECT @NewSessionID, sg.SchemaGroupID, 1
	  FROM tbl_Product p WITH (NOLOCK)
	  JOIN tbl_SchemaGroup sg ON (p.SchemaID = sg.SchemaID)
	 WHERE p.ProductID = @ProductID
	
	SELECT @SessionID = @NewSessionID
	
	RETURN 
GO
