USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_FixSynchronizationMachine]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_FixSynchronizationMachine](
	[FixSynchronizationMachineId] [int] IDENTITY(1,1) NOT NULL,
	[BuildSessionGroupId] [int] NOT NULL,
	[FixId] [int] NOT NULL,
	[SynchronizationMachineName] [varchar](255) NULL,
	[SynchronizationMachineStatus] [int] NULL,
 CONSTRAINT [FixSynchronizationMachineId] PRIMARY KEY CLUSTERED 
(
	[FixSynchronizationMachineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_FixSynchronizationMachine] ADD  DEFAULT ((0)) FOR [SynchronizationMachineStatus]
GO
