USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_SessionProcessLogLookup]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SessionProcessLogLookup]
	@SessionID INT, -- tbl_Session.SessionID
	@ProcessName VARCHAR(100) -- tbl_SchemaGroupProcess.PrName
AS

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SELECT s.SessionID, sgp.PrName AS ProcessName, sgps.ProcessStarted, sgps.ProcessFinished
FROM tbl_Session s
JOIN tbl_SessionGroupProcessStatus sgps ON sgps.SessionID = s.SessionID
JOIN tbl_SchemaGroupProcess sgp ON sgp.SchemaGroupProcessID = sgps.SchemaGroupProcessID
WHERE
s.SessionID = @SessionID
AND sgp.PrName = @ProcessName
GO
