USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSessionGroupStatusAsStarted]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateSessionGroupStatusAsStarted]
	(
		@SessionGroupStatusID int,
		@StatusID int,
		@StartDateTime datetime
	)
AS
	SET NOCOUNT ON
	
	
	DECLARE @Started datetime
	SELECT	@Started = GroupStarted
	FROM	tbl_SessionGroupStatus WITH (NOLOCK)
	WHERE SessionGroupStatusID = @SessionGroupStatusID

	IF @Started IS NULL
		SET @Started = @StartDateTime

	UPDATE tbl_SessionGroupStatus WITH (ROWLOCK)
	SET StatusID = @StatusID,
		GroupStarted = @Started
	WHERE SessionGroupStatusID = @SessionGroupStatusID
	
	RETURN 
GO
