USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_RptNumberOfBVTFailuresPerDayRolledUpByDate]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RptNumberOfBVTFailuresPerDayRolledUpByDate]
	(
		@From datetime,
		@To datetime,
		@Labs varchar(1000)
	)
AS
	SET NOCOUNT ON
	
	SELECT DatePart(dy, bg.BuildDate) As DayOfYear, DatePart(mm, bg.BuildDate) As [Month], DatePart(dd, bg.BuildDate) As [Day], DatePart(yy, bg.BuildDate) As [Year], COUNT(DISTINCT bg.BugID) As NumberOfBVTFailures
	  FROM tbl_Lab l WITH (NOLOCK)
   	  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
	  JOIN BVTIssue..tbl_Bug bg WITH (NOLOCK) ON (l.LabID = bg.LabID)
	 WHERE DATEDIFF(dd, bg.BuildDate, @From) <= 0
	   AND DATEDIFF(dd, bg.BuildDate, @To) >= 0
  GROUP BY DatePart(dy, bg.BuildDate), DatePart(yy, bg.BuildDate), DatePart(mm, bg.BuildDate), DatePart(dd, bg.BuildDate)
  ORDER BY DatePart(yy, bg.BuildDate) DESC, DatePart(dy, bg.BuildDate) DESC, DatePart(mm, bg.BuildDate), DatePart(dd, bg.BuildDate)

	RETURN 









GO
