USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetIssueLog]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[up_GetIssueLog]
(
	@IssueID int
)
AS
BEGIN
	SET NOCOUNT ON

	SELECT		*
	FROM		tbl_IssueLog
	WHERE		IssueID = @IssueID
	ORDER BY	IssueLogID DESC
END


set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON

GO
