USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddSessionMeasure]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddSessionMeasure]
	(
		@SessionID int,
		@MeasureName varchar(50),
		@MeasureValue decimal
	)
AS
	SET NOCOUNT ON

	INSERT 
	  INTO tbl_SessionMeasure(SessionID, MeasureName, MeasureValue)
	VALUES (@SessionID, @MeasureName, @MeasureValue)

	RETURN
GO
