USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_Log]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- sp_Log
CREATE PROCEDURE [dbo].[sp_Log]
	(
		@Revision varchar(50),
		@LabShortName varchar(50),
		@ProductShortName varchar(10),
		@MilestoneShortName varchar(10),
		@FlavorShortName varchar(10),
		@TargetArchitectureShortName varchar(10),
		@ProcessShortName varchar(10) = NULL,
		@CategoryShortName varchar(10),
		@LogDateTime datetime = NULL,
		@Log varchar(8000),
		@MachineName varchar(50)
	)
AS
	BEGIN TRANSACTION
		
		DECLARE	@SessionID int
		DECLARE @SchemaID int
		-- SessionID and SchemaID.
		EXEC sp_GetSessionID @Revision, @LabShortName, @ProductShortName, @MilestoneShortName, @FlavorShortName, @TargetArchitectureShortName, @LogDateTime, @MachineName, @SessionID OUTPUT, @SchemaID OUTPUT
		SELECT @SessionID As SessionID
		IF @SessionID IS NULL
			BEGIN
				RAISERROR ('A session could not be found or created.', 16, 1, @Revision)
				ROLLBACK TRANSACTION
			END
		-- Reset the stalled value.
		UPDATE tbl_Session WITH (ROWLOCK)
		   SET SeManuallyStalled = NULL,
			   SeDelayed = 0,
		       SeComment = NULL
		 WHERE SessionID = @SessionID
		 
		-- Now, grab the the ID fields of other named values.
		DECLARE @SchemaGroupID int
		DECLARE	@CategoryID	int
		DECLARE @SessionGroupProcessStatusID int
		DECLARE @SessionGroupStatusID int
		DECLARE @SessionGroupStarted datetime
		DECLARE @ProcessName varchar(50)
		DECLARE @RunNumber int
		-- SchemaGroupID.   
		SELECT @SchemaGroupID = SchemaGroupID
		FROM tbl_SchemaGroupProcess WITH (NOLOCK)
		WHERE PrShortName = @ProcessShortName
			AND SchemaID = @SchemaID 
		-- CategoryID.
		SELECT @CategoryID = CategoryID 
		FROM tlkp_Category WITH (NOLOCK)
		WHERE CaShortName = @CategoryShortName 
		-- RunNumber.
		SELECT @RunNumber = Max(sgps.RunNumber)
		FROM tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
		JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID AND sgp.PrShortName = @ProcessShortName)
		JOIN tbl_Session s WITH (NOLOCK) ON (sgp.SchemaID = s.SchemaID AND s.SessionID = @SessionID)
		WHERE sgps.SessionID = @SessionID
	GROUP BY sgps.SessionGroupProcessStatusID
		-- SessionGroupProcessStatusID.
		SELECT DISTINCT @SessionGroupProcessStatusID = sgps.SessionGroupProcessStatusID
		FROM tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
		JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID AND sgp.PrShortName = @ProcessShortName)
		JOIN tbl_Session s WITH (NOLOCK) ON (sgp.SchemaID = s.SchemaID)
		WHERE sgps.SessionID = @SessionID
		AND RunNumber = @RunNumber
		-- SessionGroupStatusID.
		SELECT @SessionGroupStatusID = sgs.SessionGroupStatusID, @SessionGroupStarted = sgs.GroupStarted
		FROM tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
		JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID AND sgps.SessionGroupProcessStatusID = @SessionGroupProcessStatusID)
		JOIN tbl_SessionGroupStatus sgs WITH (NOLOCK) ON (sgp.SchemaGroupID = sgs.SchemaGroupID)
		JOIN tbl_Session s WITH (NOLOCK) ON (sgs.SessionID = s.SessionID)
		WHERE sgs.SessionID = @SessionID
		-- ProcessName.
		SELECT @ProcessName = sgp.PrName
		  FROM tbl_SchemaGroupProcess sgp WITH (NOLOCK)
		 WHERE sgp.PrShortName = @ProcessShortName
		   AND sgp.SchemaID = @SchemaID
	
		DECLARE @CurrentStatusID int
		SELECT @CurrentStatusID = StatusID
		  FROM tbl_Session WITH (NOLOCK)
		 WHERE SessionID = @SessionID
		   
		-- LogDateTime
		IF @LogDateTime IS NULL
			SELECT @LogDateTime = GetDate()
		-- CategoryID = 1 "INFORMATION"
		IF @CategoryID = 1
			BEGIN
				-- 1. A new process is starting.
				IF @Log = 'STARTED'
					BEGIN 
						-- Since we know that process is starting, we mark the session
						-- as "IN PROGRESS".
						IF @CurrentStatusID <> 8 -- Abandonded
							EXEC sp_UpdateSessionStatus @SessionID, 2
					
						-- Check to see if the process is already running or started.  If a record
						-- is returned, mark the existing process appropriately.
						DECLARE @ExistingProcessStatusID int
						DECLARE @ProcessStarted datetime
						SELECT @SessionGroupProcessStatusID = SessionGroupProcessStatusID, @ExistingProcessStatusID = sgps.StatusID, @ProcessStarted = sgps.ProcessStarted
						FROM tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
						JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID AND sgp.PrShortName = @ProcessShortName)
						WHERE sgps.SessionID = @SessionID
						AND (sgps.StatusID <> 1)
						AND sgps.Skip = 0
						 
						IF @@ROWCOUNT > 0
							BEGIN
								-- 3. A process is restarting that is already running.
								-- Existing process is in progress.  Mark the existing process
								-- as "HALTED" and create a new status record for the restarted
								-- process.
								IF (@ExistingProcessStatusID = 2 OR @ExistingProcessStatusID = 4)
									BEGIN
										EXEC sp_UpdateSessionGroupProcessStatus @SessionGroupProcessStatusID, 6
										EXEC sp_InsertRestartedProcess @SessionID, @SessionGroupProcessStatusID, @LogDateTime
										SELECT @SessionGroupProcessStatusID = @@Identity
									END
								-- Existing process has already been completed, but not yet started.  Mark as started
								-- and continue
								ELSE IF ((@ExistingProcessStatusID = 5 OR @ExistingProcessStatusID = 3) AND @ProcessStarted IS NULL)
									BEGIN
										UPDATE tbl_SessionGroupProcessStatus WITH (ROWLOCK)
										   SET ProcessStarted = @LogDateTime
										 WHERE SessionGroupProcessStatusID = @SessionGroupProcessStatusID
										 
										 -- If the Group has not yet recorded a start time, record the start time now.
										 IF (@SessionGroupStarted IS NULL) OR (@LogDateTime < @SessionGroupStarted)
											BEGIN
												UPDATE tbl_SessionGroupStatus WITH (ROWLOCK)
												   SET GroupStarted = @LogDateTime
												 WHERE SessionGroupStatusID = @SessionGroupStatusID
											END 
										   
									END
								-- Existing process finished normally or failed, but has been started again.
								ELSE IF (@ExistingProcessStatusID = 5 OR @ExistingProcessStatusID = 3)
									BEGIN
										EXEC sp_InsertRestartedProcess @SessionID, @SessionGroupProcessStatusID, @LogDateTime
										SELECT @SessionGroupProcessStatusID = @@Identity
									END
							END 
						 
						ELSE
							BEGIN
								-- Since there are no existing processes of this type already running,
								-- we can simply mark the process as "IN PROGRESS".
								EXEC sp_UpdateSessionGroupProcessStatusAsStarted @SessionGroupProcessStatusID, 2, @LogDateTime
							END 
						-- Regardless, we need to mark the Group that this process belongs to as
						-- "IN PROGRESS" for reporting purposes.  If the process has already finished and
						-- is now sending the start command late, check to see if the Group is already finished
						-- in which case you do NOT mark the Group as started.
						SELECT 1
						FROM tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
						JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID AND sgp.SchemaGroupID = @SchemaGroupID AND (sgps.StatusID = 1 OR sgps.StatusID =  2 OR sgps.StatusID =  4 OR sgps.StatusID =  7))
						WHERE sgps.SessionID = @SessionID
						AND sgps.Skip = 0						
						
						IF @@ROWCOUNT > 0
							EXEC sp_UpdateSessionGroupStatusAsStarted @SessionGroupStatusID, 2, @LogDateTime
					END
				
				-- 2. An existing process is finishing.
				IF @Log = 'FINISHED'	
					BEGIN
						-- First, mark the process as finsihed.
						EXEC sp_UpdateSessionGroupProcessStatusAsFinished @SessionGroupProcessStatusID, 5, @LogDateTime
						-- Now, check to see if any processes are currently in progress.  If none are, then
						-- mark the build as "STALLED".
						SELECT 1
						FROM tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
						JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID AND sgp.SchemaGroupID = @SchemaGroupID AND (sgps.StatusID = 2 OR sgps.StatusID = 4))
						WHERE sgps.SessionID = @SessionID
						AND sgps.Skip = 0				
						
						IF @@ROWCOUNT = 0
							EXEC sp_UpdateSessionStatus @SessionID, 2  -- CHANGING TO IN PROGRESS... this used to be IN PROGRESS WAITING (9)								

						EXEC up_CompleteSessionIfAllGroupsAreComplete @SessionID, @LogDateTime

					END 

				-- 3. An existing process is being marked as failed.
				IF @Log = 'FAILED'	
					BEGIN
						-- First, mark the process as failed.
						UPDATE tbl_SessionGroupProcessStatus WITH (ROWLOCK)
						   SET StatusID = 3
						 WHERE SessionGroupProcessStatusID = @SessionGroupProcessStatusID
						-- Now, check to see if any processes are currently in progress.  If none are, then
						-- mark the build as "STALLED".
						SELECT 1
						FROM tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
						JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID AND sgp.SchemaGroupID = @SchemaGroupID AND (sgps.StatusID = 2 OR sgps.StatusID = 4))
						WHERE sgps.SessionID = @SessionID
						AND sgps.Skip = 0				
						
					END 

				-- 4. An existing process is being marked as aborted.
				IF @Log = 'ABORTED'	
					BEGIN
						-- First, mark the process as failed.
						UPDATE tbl_SessionGroupProcessStatus WITH (ROWLOCK)
						   SET StatusID = 7
						 WHERE SessionGroupProcessStatusID = @SessionGroupProcessStatusID
						-- Now, check to see if any processes are currently in progress.  If none are, then
						-- mark the build as "STALLED".
						SELECT 1
						FROM tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
						JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID AND sgp.SchemaGroupID = @SchemaGroupID AND (sgps.StatusID = 2 OR sgps.StatusID = 4))
						WHERE sgps.SessionID = @SessionID
						AND sgps.Skip = 0				
						
					END 
				
				-- 5. A session is being marked as abandoned.
				IF @Log = 'ABANDONED' AND @ProcessShortName = 'SESSION'
					BEGIN 
						UPDATE tbl_Session WITH (ROWLOCK)
						   SET StatusID = 8 
						 WHERE SessionID = @SessionID						
					END 	

				-- 6. A session is being marked as failed.
				IF @Log = 'FAILED' AND @ProcessShortName = 'SESSION'
					BEGIN 
						UPDATE tbl_Session WITH (ROWLOCK)
						   SET StatusID = 3 
						 WHERE SessionID = @SessionID						
					END 

				-- 7. A session is being marked as in progress.
				IF @Log = 'IN PROGRESS' AND @ProcessShortName = 'SESSION'
					BEGIN 
						UPDATE tbl_Session WITH (ROWLOCK)
						   SET StatusID = 2 
						 WHERE SessionID = @SessionID						
					END 

				-- 8. A session is being marked as completed.
				IF @Log = 'COMPLETED' AND @ProcessShortName = 'SESSION'
					BEGIN 
						UPDATE tbl_Session WITH (ROWLOCK)
						   SET StatusID = 5
						 WHERE SessionID = @SessionID						
					END 

			END
		
		IF @CategoryID = 2
			BEGIN
				-- Mark the session as having at least 1 warning.
				EXEC sp_UpdateSessionStatusAsWarning @SessionID
				-- Mark the Group as having at least 1 warning.
				EXEC sp_UpdateSessionGroupStatusAsWarning @SessionGroupStatusID
				-- Mark the process as having at least 1 warning.
				EXEC sp_UpdateSessionGroupProcessStatusAsWarning @SessionGroupProcessStatusID
			END	
		
		IF @CategoryID = 3
			BEGIN
				-- Mark the session as having at least 1 error.
				EXEC sp_UpdateSessionStatusAsError @SessionID
				-- Mark the Group as having at least 1 error.
				EXEC sp_UpdateSessionGroupStatusAsError @SessionGroupStatusID
				-- Mark the process as having at least 1 error.
				EXEC sp_UpdateSessionGroupProcessStatusAsError @SessionGroupProcessStatusID
			END
		
		IF @CategoryID = 5
			BEGIN
				UPDATE tbl_Session WITH (ROWLOCK)
				SET SeComment = @Log
				WHERE SessionID = @SessionID
				
				UPDATE tbl_SessionGroupProcessStatus WITH (ROWLOCK)
				SET ProcessComment = @Log
				WHERE SessionGroupProcessStatusID = @SessionGroupProcessStatusID
			END
		-- CategoryID = 6 "DELAY"
		IF @CategoryID = 6
			BEGIN
				UPDATE tbl_Session WITH (ROWLOCK)
				   SET SeDelayed = 1,
				       SeComment = 'Waiting until ' + LEFT(@Log,50) + ' to start ' + @ProcessName
				 WHERE SessionID = @SessionID
				   
			END
		
		DECLARE @NewLogID int		
		IF LEN(@Log) > 200
			BEGIN	
				INSERT
				  INTO tbl_Log (SessionID, CategoryID, LoDateTimeStamp, LoDateTimeLogged, LoLog, LoMachineName, SessionGroupProcessStatusID, SessionGroupStatusID)
				VALUES (@SessionID, @CategoryID, @LogDateTime, GetDate(), LEFT(@Log,200) + '...', @MachineName, @SessionGroupProcessStatusID, @SessionGroupStatusID)
				
				SELECT @NewLogID = @@Identity
				
				INSERT
				  INTO LabStatusLog..tbl_LogData (LogEntryID, LoExtendedLog)
				VALUES (@NewLogID, @Log)
			END
		ELSE
			BEGIN
				INSERT
				  INTO tbl_Log (SessionID, CategoryID, LoDateTimeStamp, LoDateTimeLogged, LoLog, LoMachineName, SessionGroupProcessStatusID, SessionGroupStatusID)
				VALUES (@SessionID, @CategoryID, @LogDateTime, GetDate(), @Log, @MachineName, @SessionGroupProcessStatusID, @SessionGroupStatusID)

				SELECT @NewLogID = @@Identity
			
			END

		IF @CategoryID = 3
			BEGIN
				INSERT 
				  INTO tbl_LogError (LogEntryID, SessionID)
				VALUES (@NewLogID, @SessionID)
			END
		
		SELECT @NewLogID = @@Identity
		
		IF @@ROWCOUNT = 0
			BEGIN
				RAISERROR ('A log entry was not created.', 16, 1, @Revision)
				ROLLBACK TRANSACTION
			END
		ELSE
			COMMIT TRANSACTION
	
	RETURN 


GO
