USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_LogNumberOfSetups2]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- sp_LogNumberOfSetups
CREATE PROCEDURE [dbo].[sp_LogNumberOfSetups2]
	(
		@Revision varchar(50),
		@LabShortName varchar(50),
		@ProductShortName varchar(10),
		@MilestoneShortName varchar(10),
		@FlavorShortName varchar(10),
		@TargetArchitectureShortName varchar(10),
		@LocaleSetShortName varchar(10),
		@NumberOfSetups int,
		@LogDateTime datetime = NULL,
		@MachineName varchar(50)
	)
AS
	BEGIN TRANSACTION
	
		-- Build the parameter string the sp_Log3 uses.
		DECLARE @Params varchar(4000)
		SELECT @Params = 'ARCH=' + @TargetArchitectureShortName 
					+ ';FLV=' + @FlavorShortName 
					+ ';LOC=' + @LocaleSetShortName 
					+ ';'

		-- Pass the call along to sp_Log3_NumberOfSetups
		EXEC sp_Log3_NumberOfSetups @Revision, 
						@LabShortName, 
						@ProductShortName, 
						@Params, 
						@NumberOfSetups, 
						@LogDateTime, 
						@MachineName


	COMMIT TRANSACTION
	RETURN 




GO
