USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_UpdateSessionGroup]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[up_UpdateSessionGroup]
	(
		@GroupID int,
		@StatusID int,
		@Started datetime = null,
		@Finished datetime = null,
		@Skipped bit
	)
AS

	SET NOCOUNT ON 
	BEGIN TRANSACTION
	DECLARE @Err varchar(4000)
	
	DECLARE @SessionID int
	SELECT	@SessionID = SessionID
	FROM	tbl_SessionGroupStatus
	WHERE	SessionGroupStatusID = @GroupID
					
	SET	@Err = 'Update the group status.'
	UPDATE	tbl_SessionGroupStatus
	SET		StatusID = @StatusID,
			GroupStarted = @Started,
			GroupFinished = @Finished,
			Skip = @Skipped
	WHERE	SessionGroupStatusID = @GroupID
	IF @@ERROR <> 0 GOTO on_err		
	 
	 IF @Skipped = 1
		BEGIN
			SET @Err = 'Mark all processes as skipped.'
			UPDATE	tbl_SessionGroupProcessStatus
			SET		Skip = 1
			FROM	tbl_SessionGroupStatus sgs
			JOIN	tbl_SchemaGroupProcess sgp 
						ON (sgs.SchemaGroupID = sgp.SchemaGroupID)
			JOIN	tbl_SessionGroupProcessStatus sgps 
						ON (sgp.SchemaGroupProcessID = sgps.SchemaGroupProcessID 
							AND sgs.SessionID = sgps.SessionID) 
			WHERE	sgs.SessionGroupStatusID = @GroupID	
			IF @@ERROR <> 0 GOTO on_err		
		END
	 
	 -- If the status is being set to COMPLETED, mark all processes
	 -- below this group as completed which are either running, or not started.
	 IF @StatusID = 5
		BEGIN
			SET @Err = 'Mark all processes as completed.'
			UPDATE	tbl_SessionGroupProcessStatus
			SET		StatusID = 5
			FROM	tbl_SessionGroupStatus sgs
			JOIN	tbl_SchemaGroupProcess sgp 
						ON (sgs.SchemaGroupID = sgp.SchemaGroupID)
			JOIN	tbl_SessionGroupProcessStatus sgps 
						ON (sgp.SchemaGroupProcessID = sgps.SchemaGroupProcessID 
							AND sgs.SessionID = sgps.SessionID) 
			WHERE	sgs.SessionGroupStatusID = @GroupID
			AND		sgps.StatusID IN (1,2,4,5)
			IF @@ERROR <> 0 GOTO on_err		
		END

	EXEC up_CompleteSessionIfAllGroupsAreComplete @SessionID
	 
	-- Commit the transaction if there are no errors at the end. 
	IF @@ERROR <> 0 
		GOTO on_err
	ELSE 
		GOTO on_success

	on_success:
		COMMIT TRANSACTION
		RETURN 
	
	on_err:
		ROLLBACK TRANSACTION
		SELECT @Err = 'ERROR: up_UpdateSessionGroup - ' + @Err
		RAISERROR (@Err , 16, 1)	
		RETURN	
		
	RETURN 

GO
