USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_IssueHandOffReminderByInterval]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--use LabStatus

CREATE PROCEDURE [dbo].[sp_IssueHandOffReminderByInterval]
AS
	SET NOCOUNT ON
	
	-- First, query the handoff issues.
	SELECT i.IssueID, DATEDIFF(mi, i.IsPendingSince, GetDate()) As IssuePendingAge, MIN(l.LaIssueHandOffReminderInterval) As MinInterval
	  INTO #HandOffIssues
	  FROM tbl_Issue i WITH (NOLOCK)
	  JOIN atbl_SessionIssue si WITH (NOLOCK) ON (i.IssueID = si.IssueID)
	  JOIN tbl_Session s WITH (NOLOCK) ON (si.SessionID = s.SessionID)
	  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
	 WHERE DATEDIFF(hh, i.IsPendingSince, GetDate()) < 168 -- that was opened within 7 days
	   AND i.IsClosed = 0					-- is an OPEN issue
	   AND i.IsDeleted = 0					-- is a NON-DELETED issue
	   AND i.IsPendingSince IS NOT NULL		-- is still PENDING
	   AND i.IsMachineAccessOnly = 0		-- not a machine access issue
	   AND l.LaIssueHandOffReminderInterval <> 0	-- if 0, this feature is turned off
  GROUP BY i.IssueID, i.IsPendingSince
  
	-- Now, query those issues that need a new reminder.
	; WITH IssueSessions AS	-- CTE to only consider 1st session associated for each issue
	(
		Select IssueID, Min(SessionID) SessionID
		From atbl_SessionIssue 
		Group By IssueID
	)
	SELECT	hoi.*, 
			i.IssueID,
			i.IsPendingOwner,
			i.IsTitle,
			COALESCE((select top 1 LoText from tbl_IssueLog where IssueID = i.IssueID and LoCreatedBy <> '' order by IssueLogID), i.IsTitle) as IssueDescription,
			i.IsDateCreated,
			i.IsAssignedBy,
			i.IsTest, 
			s.SessionID, 
			LaName, 
			l.BFDGroupID, 
			o.OrBuildDL, 
			o.OrBuildDLAllowMail
	  FROM #HandOffIssues hoi
	  JOIN tbl_Issue i WITH (NOLOCK) ON (hoi.IssueID = i.IssueID)
	  JOIN IssueSessions isess on isess.IssueID = i.IssueID
	  JOIN tbl_Session s WITH (NOLOCK) on s.SessionID = isess.SessionID
	  JOIN tbl_Lab l on l.LabID = s.LabID
	  JOIN tbl_Org o on o.OrgID = i.OrgID
	 WHERE DATEDIFF(mi, i.IsPendingSince, GetDate()) > hoi.MinInterval
	   AND DATEDIFF(mi, i.IsLastHandOffReminderSent, GetDate()) > hoi.MinInterval
  
	DROP TABLE #HandOffIssues

GO
