USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLockdownStatus]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetLockdownStatus]
(
	@Labs varchar(255) = ''
)
AS

BEGIN

	SELECT '' As LaName, lock.*
	  FROM SDStats..tbl_LabLockStatus lock WITH (NOLOCK) 
	WHERE	1=2
--INNER JOIN tbl_Lab lab WITH (NOLOCK) ON lab.LabId = lock.LabId
		
END

GO
