USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_OverrideSessionGroupValues]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_OverrideSessionGroupValues]
	(
		@SessionGroupStatusID int,
		@StatusID int,
		@DateTimeStarted datetime = null,
		@DateTimeFinished datetime = null,
		@Skip bit
	)
AS
	SET NOCOUNT ON
	
	DECLARE @SessionID int
	SELECT @SessionID =(SELECT SessionID
						  FROM tbl_SessionGroupStatus
						 WHERE SessionGroupStatusID = @SessionGroupStatusID)
					
	
	UPDATE tbl_SessionGroupStatus
	   SET StatusID = @StatusID,
		   GroupStarted = @DateTimeStarted,
		   GroupFinished = @DateTimeFinished,
		   Skip = @Skip
	 WHERE SessionGroupStatusID = @SessionGroupStatusID
	 
	 IF @Skip = 1
		BEGIN
			UPDATE tbl_SessionGroupProcessStatus
			   SET Skip = 1
			  FROM tbl_SessionGroupStatus sgs
			  JOIN tbl_SchemaGroupProcess sgp ON (sgs.SchemaGroupID = sgp.SchemaGroupID)
			  JOIN tbl_SessionGroupProcessStatus sgps ON (sgp.SchemaGroupProcessID = sgps.SchemaGroupProcessID AND sgs.SessionID = sgps.SessionID) 
			 WHERE sgs.SessionGroupStatusID = @SessionGroupStatusID	
		END
	 
	 -- If the status is being set to COMPLETED, mark all processes
	 -- below this group as completed which are either running, or not started.
	 IF @StatusID = 5
		BEGIN
			UPDATE tbl_SessionGroupProcessStatus
			   SET StatusID = 5
			  FROM tbl_SessionGroupStatus sgs
			  JOIN tbl_SchemaGroupProcess sgp ON (sgs.SchemaGroupID = sgp.SchemaGroupID)
			  JOIN tbl_SessionGroupProcessStatus sgps ON (sgp.SchemaGroupProcessID = sgps.SchemaGroupProcessID AND sgs.SessionID = sgps.SessionID) 
			 WHERE sgs.SessionGroupStatusID = @SessionGroupStatusID
			   AND sgps.StatusID IN (1,2,4,5)
		END

	EXEC up_CompleteSessionIfAllGroupsAreComplete @SessionID

	 
	
	RETURN 

GO
