USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[xls_BuildComparison]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[xls_BuildComparison]
(
	@SessionID1 int,
	@SessionID2 int
)
AS
BEGIN

--SET @SessionID1 = 254003
--SET @SessionID2 = 258271

-- Base this off of 'first SKU'


-- This statement gets us the time that the last SKU built in SessionID2 actually finished
-- in the build of @SessionID1.  We can then use this to compare how far we've come in @SessionID2.
DECLARE @LastSetup datetime
SELECT @LastSetup = 
(
	SELECT	ss.SetupFinished
	FROM	tbl_SessionSetup ss WITH (NOLOCK)
	JOIN	tbl_Session s WITH (NOLOCK)
				ON (ss.SessionID = s.SessionID)
	WHERE	REPLACE(ss.Setup, s.SeRevision, '') =
		(
			-- Get the last setup finished
			SELECT	REPLACE(ss2.Setup, s2.SeRevision, '')
			FROM	tbl_SessionSetup ss2 WITH (NOLOCK)
			JOIN	tbl_Session s2 WITH (NOLOCK)
						ON (ss2.SessionID = s2.SessionID)
			WHERE	s2.SessionID = @SessionID2
			AND		ss2.SetupFinished = (	
											-- Max setup finished for the current build.
											SELECT	MAX(SetupFinished) 
											FROM	tbl_SessionSetup WITH (NOLOCK) 
											WHERE	SessionID = @SessionID2
										)
		)
	AND		s.SessionID = @SessionID1
)

-- This gives us the time to this point in Session1
SELECT	s.SessionID, s.SeRevision As Build,
		DATEDIFF(mi, s.SeStarted, @LastSetup) As MinutesProgress1,
		DATEDIFF(mi, s.SeStarted, s.SeFinished) As TotalMinutes1,
		MinutesProgress2 = (
							SELECT	DATEDIFF(mi, s.SeStarted, GetDate()) As MinutesProgress
							FROM	tbl_Session s WITH (NOLOCK)
							WHERE	s.SessionID = @SessionID2
							)
FROM	tbl_Session s WITH (NOLOCK)
WHERE	s.SessionID = @SessionID1
END
GO
