USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionIssueBVTDecisions]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[sp_GetSessionIssueBVTDecisions]
(
	@IssueID int
)
AS
BEGIN
	SELECT s.SessionID, 
		(
			/* Get a bit indicating whether or not BVTs are needed (from the decision page). */
			SELECT DISTINCT decision.DeBVTs
			 FROM LabDecision..tbl_Decision decision WITH (READPAST)
			 WHERE (s.LabID = decision.LabID) 
			   AND (DATEDIFF(dd,s.SeBuildDate, decision.DeBuildDate) = 0)
			   AND (decision.DeBuild = 1)
		)AS BVTDecision,
		
		(
		/* Get a bit indicating the default decision for BVTs (from the decision page). */
			SELECT DISTINCT defaultDecision.BVTs
			  FROM LabDecision..tbl_LabDefault defaultDecision WITH (READPAST)
			 WHERE (s.LabID = defaultDecision.LabID) 
			   AND (defaultDecision.Build = 1)
		)AS BVTDefaultDecision 
	INTO #IssueSessionDecisionInfo
	FROM atbl_SessionIssue i
	INNER JOIN tbl_Session s on s.SessionID = i.SessionID
	WHERE IssueID = @IssueID
	
	SELECT SessionID, CONVERT(bit, COALESCE(BVTDecision, BVTDefaultDecision, 0)) NeedsBVTs
	FROM #IssueSessionDecisionInfo

	DROP TABLE #IssueSessionDecisionInfo
END
	

	
	



GO
