USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_CloneDropmanagementSettings]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_CloneDropmanagementSettings]
(
	@SourceLabId int,
	@TargetLabId int
)
AS
BEGIN
	SET NOCOUNT ON 
	Declare @UseDropmanagement bit
	Begin Try
		Begin Tran
			Update	tbl_Lab
			Set		@UseDropmanagement = LaDropManagement = (Select LaDropManagement From tbl_Lab Where LabID = @SourceLabId)
			Where	LabID = @TargetLabId

			If (IsNull(@UseDropmanagement,0) = 1)
			Begin
		
				--Clear any existing data
				Delete From DropManagement..tbl_ProjectLab Where LabID = @TargetLabID

				Insert into DropManagement..tbl_ProjectLab
				(
					ProjectID,
					LabID,
					LaProtectedDrops,
					LaDropSizeIncreasedThreshold
				)
				Select	ProjectID,
						@TargetLabID,
						LaProtectedDrops,
						LaDropSizeIncreasedThreshold
				From	DropManagement..tbl_ProjectLab
				Where	LabID = @SourceLabID

				Insert into DropManagement..atbl_ProjectLabLabel
				(
					ProjectID,
					LabID,
					LabelID
				)
				Select	ProjectID,
						@TargetLabID,
						LabelID
				From	DropManagement..atbl_ProjectLabLabel
				Where	LabID = @SourceLabID
			End
		Commit Tran
	End Try
	Begin Catch
		If @@TranCount > 0
			Rollback Tran

		Exec Throw
	End Catch
END
GO
