USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_UpdateIssueTimeSpent]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_UpdateIssueTimeSpent]
(
	@IssueID int,
	@TimeSpent decimal(16,2) = 0
)
AS
	SET NOCOUNT ON

	UPDATE tbl_Issue WITH (ROWLOCK)
	   SET IsDateChanged = GetDate(),
	       IsTimeSpent = IsTimeSpent + @TimeSpent
	 WHERE IssueID = @IssueID
	
	RETURN
GO
