USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetCostEaseProjects]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_GetCostEaseProjects]
AS
BEGIN
	SELECT	* 
	FROM	CostEase..tbl_Project
	WHERE	PrIsDeleted = 0
	AND		PrIsTemplate = 0
	ORDER BY PrName
END
GO
