USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_LogUpdateBuildProperty2]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- sp_LogChangeBuildProperty
CREATE PROCEDURE [dbo].[sp_LogUpdateBuildProperty2]
	(
		@Revision varchar(50),
		@LabShortName varchar(10),
		@ProductShortName varchar(10),
		@MilestoneShortName varchar(10),
		@FlavorShortName varchar(10),
		@TargetArchitectureShortName varchar(10),
		@LocaleSetShortName varchar(10),
		@LogDateTime datetime = NULL,
		@MachineName varchar(50),
		@PropertyToChange varchar(100),
		@NewPropertyValue varchar(50)
	)
AS
	BEGIN TRANSACTION

		DECLARE	@SessionID int
		DECLARE @SchemaID int
		
		-- SessionID and SchemaID.
		EXEC sp_GetSessionID2 @Revision, @LabShortName, @ProductShortName, @MilestoneShortName, @FlavorShortName, @TargetArchitectureShortName, @LocaleSetShortName, @LogDateTime, @MachineName, @SessionID OUTPUT, @SchemaID OUTPUT
		SELECT @SessionID As SessionID

		-- SessionID.
		IF @PropertyToChange = 'Revision'
			BEGIN
				UPDATE tbl_Session
				   SET SeRevision = @NewPropertyValue
				 WHERE SessionID = @SessionID
			END
	
	COMMIT TRANSACTION	
	
	RETURN 


GO
