USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddBuildStepForSourceCodeFix]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  PROCEDURE [dbo].[sp_AddBuildStepForSourceCodeFix]
(
	@FixDefinitionID int,
	@BuildDirectory varchar(255),
	@BuildFlags varchar(50),
	@SessionIDs varchar(1000),
	@ChangeLists varchar(1000)
)
AS
BEGIN
	/******************************
	DESCRIPTION
		Creates additional build steps for a source code fix
	*******************************/

	DECLARE @Order int

	SELECT @Order = MAX(BsOrder)
	FROM tbl_FixDefSourceCodeBuildStep 
	WHERE FixDefinitionID = @FixDefinitionID

	INSERT INTO tbl_FixDefSourceCodeBuildStep
	(FixDefinitionID, BsBuildDir, BsFlags, BsOrder, BsChangeLists, SessionIDs)
	VALUES
	( @FixDefinitionID, @BuildDirectory, @BuildFlags, COALESCE(@Order, 1), @ChangeLists, @SessionIDs)
		
	
END


GO
