USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_RptNumberOfIssuesPerLabPerCategoryRolledUpByDate]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_RptNumberOfIssuesPerLabPerCategoryRolledUpByDate]
	(
		@From datetime,
		@To datetime,
		@Labs varchar(255),
		@CostCenter int,
		@SeverityIDs varchar(255) = '1,2'
	)
AS
	SET NOCOUNT ON
	
	IF @CostCenter = 0
		BEGIN
			SELECT DISTINCT i.IssueID, l.LabID, l.LaName, l.LaOrder
			  INTO #TempIssues1
			  FROM tbl_Issue i WITH (NOLOCK)
			  JOIN tbl_SessionIssue iss WITH (NOLOCK) ON (i.IssueID = iss.IssueID)
			  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID) 
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) sv ON (i.SeverityID = sv.ItemID)
			 WHERE DATEDIFF(dd, i.IsDateClosed, @From) <= 0
			   AND DATEDIFF(dd, i.IsDateClosed, @To) >= 0
			   AND i.IsDeleted = 0
			   AND l.VBL = 1
			   AND s.SeRevision NOT LIKE '%_DEL'
			   AND s.FlavorID NOT IN (5) -- No DAT builds.

			SELECT COUNT(DISTINCT isrc.IssueID) As NumberOfIssues, src.SourceID, src.SoName, src.SoOrder, i.LabID, i.LaName
			  FROM tlkp_Source src WITH (NOLOCK)
   LEFT OUTER JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (src.SourceID = isrc.SourceID)
   LEFT OUTER JOIN #TempIssues1 i WITH (NOLOCK) ON (isrc.IssueID = i.IssueID)
          GROUP BY src.SourceID, src.SoOrder, src.SoName, i.LabID, i.LaName, i.LaOrder
          ORDER BY i.LaOrder, src.SoOrder, src.SoName

			DROP TABLE #TempIssues1
		END

	ELSE IF @CostCenter <> 0
		BEGIN
			SELECT DISTINCT i.IssueID, l.LabID, l.LaName, l.LaOrder
			  INTO #TempIssues3
			  FROM tbl_Issue i WITH (NOLOCK)
			  JOIN tbl_SessionIssue iss WITH (NOLOCK) ON (i.IssueID = iss.IssueID)
			  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID) 
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) sv ON (i.SeverityID = sv.ItemID)
			 WHERE DATEDIFF(dd, i.IsDateClosed, @From) <= 0
			   AND DATEDIFF(dd, i.IsDateClosed, @To) >= 0
			   AND i.IsCostCenter = @CostCenter	-- Filter by cost center
			   AND i.IsDeleted = 0
			   AND l.VBL = 1
			   AND s.SeRevision NOT LIKE '%_DEL'
			   AND s.FlavorID NOT IN (5) -- No DAT builds.

			SELECT COUNT(DISTINCT isrc.IssueID) As NumberOfIssues, src.SourceID, src.SoName, src.SoOrder, i.LabID, i.LaName
			  FROM tlkp_Source src WITH (NOLOCK)
   LEFT OUTER JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (src.SourceID = isrc.SourceID)
   LEFT OUTER JOIN #TempIssues3 i WITH (NOLOCK) ON (isrc.IssueID = i.IssueID)
          GROUP BY src.SourceID, src.SoOrder, src.SoName, i.LabID, i.LaName, i.LaOrder
          ORDER BY i.LaOrder, src.SoOrder, src.SoName

			DROP TABLE #TempIssues3	  
		END	
		
	RETURN 









GO
