USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_IssueReminderByInterval]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE    PROCEDURE [dbo].[sp_IssueReminderByInterval]
AS
	SET NOCOUNT ON
	
	SELECT i.IssueID, DATEDIFF(mi, i.IsDateChanged, GetDate()) As IssueAge, MIN(l.LaIssueReminderInterval) As MinInterval
 	  INTO #ReminderIssues
	  FROM tbl_Issue i WITH (NOLOCK)
	  JOIN atbl_SessionIssue si WITH (NOLOCK) ON (i.IssueID = si.IssueID)
	  JOIN tbl_Session s WITH (NOLOCK) ON (si.SessionID = s.SessionID)
	  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
	 WHERE  i.IsClosed = 0 -- 0 is an OPEN issue
	   AND i.IsDeleted = 0 -- 0 is a NON-DELETED issue
	   AND i.IsTitle NOT LIKE '%BFD21%'
	   AND i.IsTitle NOT LIKE '%BFD22%'
	   AND i.IsTitle NOT LIKE '%BFD23%'
	   AND i.IsTitle NOT LIKE '%BFD24%'
   	   AND i.IsMachineAccessOnly = 0
   	   AND l.LaIssueReminderInterval <> 0	-- if 0, this feature is turned off
  GROUP BY i.IssueID, i.IsDateChanged

	-- Now, query those issues that need a new reminder.
	SELECT ri.*, i.*
	  FROM #ReminderIssues ri
	  JOIN tbl_Issue i WITH (NOLOCK) ON (ri.IssueID = i.IssueID)
	 WHERE DATEDIFF(mi, IsDateChanged, GetDate()) > ri.MinInterval
	   AND DATEDIFF(mi, i.IsLastReminderSent, GetDate()) > ri.MinInterval
  
	DROP TABLE #ReminderIssues
   	   
	RETURN 




GO
