USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteIssueTicket]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteIssueTicket] 
(	
	@IssueTicketID int
)

AS
	SET NOCOUNT ON
	
	SELECT TicketNumber 
	  FROM tbl_IssueTicket 
	 WHERE IssueTicketId = @IssueTicketID
	
	DELETE 
	  FROM tbl_IssueTicket
	 WHERE IssueTicketId = @IssueTicketID
	
	RETURN
GO
