USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessionsByDateRange]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetSessionsByDateRange]
(  
	@LabIDs VARCHAR(4000),  
	@FlavorIDs VARCHAR(255) = NULL,  
	@TargetArchitectureIDs VARCHAR(255) = NULL,  
	@LanguageIDs VARCHAR(4000) = NULL,  
	@FROM DATETIME,  
	@To DATETIME,
	@RequestOwnerAlias VARCHAR(50) = NULL,
	@LabIDParentBranchNames VARCHAR(4000) = NULL   -- in the form of "ValLabId1-parentbranchName1,ValLabId2-parentbranchName2"
)  
AS  
BEGIN  
	SET NOCOUNT ON  

	DECLARE @SessionIDs Table(SessionID INT PRIMARY KEY)
	DECLARE @SQL NVARCHAR(MAX),	
			@WhereClause NVARCHAR(MAX),
			@CrLf VARCHAR(10),
			@ParmDefinition NVARCHAR(500),
			@SessionIDList VARCHAR(MAX),
			@ValSessionIDList VARCHAR(MAX),
			@NonValSessionIDList VARCHAR(MAX),
			@DayBeforeFROM DATETIME, 
			@ThreeDayBeforeFROM DATETIME,  
			@DayBeforeTo DATETIME,  
			@DayAfterTo DATETIME,
			@ValLabIDs VARCHAR(4000),
			@MergedLabIDs VARCHAR(4000),
			@MergedSessionIDList VARCHAR(Max)

	SET @CrLf = CHAR(13) + CHAR(10)	
	SET @WhereClause = ' WHERE 1 = 1'
	SET @SQL = 'SELECT @SessionIDList = COALESCE(@SessionIDList + '','','''') + CAST(S.SessionID AS VARCHAR(15)) FROM tbl_Session S WITH (NOLOCK) ' + @CrLf

	CREATE TABLE #LabParentBranch(LabID INT, ParentBranchName VARCHAR(255))
	IF(Len(@LabIDParentBranchNames) > 0)
	BEGIN	
		INSERT INTO #LabParentBranch
		SELECT LEFT(Part, CHARINDEX('-',Part)-1) AS LabID, SUBSTRING(Part, CHARINDEX('-',Part)+1,LEN(Part)) AS ParentBranchName
		FROM dbo.fn_SplitString(@LabIDParentBranchNames,',')

		SELECT @ValLabIDs = COALESCE(@ValLabIDs + ',','') + CAST(LabID AS VARCHAR(15))
		FROM (SELECT DISTINCT LabID FROM #LabParentBranch) AS l1
	END

	IF(Len(@LabIDs) > 0 OR Len(@ValLabIDs)>0)
	BEGIN
	    SET @MergedLabIDs =
			CASE 
				WHEN Len(@LabIDs) > 0 and Len(@ValLabIDs)>0 
				THEN @LabIDs+','+@ValLabIDs

				WHEN Len(@LabIDs) > 0
				THEN @LabIDs

				WHEN Len(@ValLabIDs)>0 
				THEN @ValLabIDs
			END

		SET @WhereClause = @WhereClause + ' AND S.LabID IN (' + @MergedLabIDs + ') '+ @CrLf
	END

	IF (Len(@FlavorIDs) > 0) 
	BEGIN
		SET @WhereClause = @WhereClause + ' AND S.FlavorID IN (' +  @FlavorIDs +')' + @CrLf
	END  

	IF (Len(@TargetArchitectureIDs) > 0)  
	BEGIN
		SET @WhereClause = @WhereClause + ' AND S.TargetArchitectureID IN (' + @TargetArchitectureIDs +') '+ @CrLf
	END

	IF (Len(@LanguageIDs) > 0)   
	BEGIN
		SET @WhereClause = @WhereClause + ' AND S.LocaleSetID IN (' + @LanguageIDs +') '+ @CrLf
	END  
	
	IF (@RequestOwnerAlias IS NOT NULL)
	BEGIN
		SET @WhereClause += ' AND S.SessionID in (SELECT SessionID FROM LaunchPad.dbo.vw_LopezRequestSessions WITH (NOLOCK) WHERE OwnerAlias = ''' + @RequestOwnerAlias + ''') '+ @CrLf
	END

	SET @DayBeforeFROM = DATEADD(day, 0, DATEDIFF(day, 0, @From))  
	SET @ThreeDayBeforeFROM = DATEADD(day, 0, DATEDIFF(day, 0, @From) - 3)  
	SET @DayBeforeTo = DATEADD(day, 0, DATEDIFF(day, 0, @To))  
	SET @DayAfterTo = DATEADD(day, 0, DATEDIFF(day, 0, @To) + 1)  

	SET @WhereClause = @WhereClause + ' AND s.SeBuildDate >= @FromDate ' + @CrLf
	SET @WhereClause = @WhereClause + ' AND s.SeBuildDate <= @ToDate OR ' + @CrLf
	SET @WhereClause = @WhereClause + ' (DATEDIFF(dd,@FromDate,@ToDate) = 0 AND s.SeBuildDate BETWEEN @ThreeDayBeforeFROM AND @DayBeforeFROM)' + @CrLf
	SET @WhereClause = @WhereClause + ' AND (s.StatusID IN (2, 9, 10) '
	SET @WhereClause = @WhereClause + ' OR (s.StatusID = ''5'' AND s.SeFinished BETWEEN @DayBeforeTO AND @DayAfterTO))' + @CrLf

	SET @SQL = @SQL + @WhereClause + 'ORDER BY s.LocaleSetID, s.TargetArchitectureID, s.SessionID '

	SET @ParmDefinition = N'@LabIDs VARCHAR(4000), @FromDate DateTime, @ToDate DateTime,
							@DayBeforeTO DateTime, @DayAfterTO DateTime, @DayBeforeFROM DATETIME, 
							@ThreeDayBeforeFROM DATETIME, @SessionIDList VARCHAR(MAX) OUT';

    --PRINT @SQL
    EXEC sp_executesql  @SQL,@ParmDefinition,@LabIDs = @LabIDs,@FromDate= @From,@ToDate = @To,
							@DayBeforeTo = @DayBeforeTo, @DayAfterTo=@DayAfterTo,@DayBeforeFROM=@DayBeforeFROM,
							@ThreeDayBeforeFROM = @ThreeDayBeforeFROM,
							@SessionIDList = @SessionIDList OUTPUT    

    IF(Len(@LabIDParentBranchNames) > 0)
	BEGIN
	-- git validation build session IDs
        SELECT @ValSessionIDList = COALESCE(@ValSessionIDList + ',','') + CAST(s.ItemID AS VARCHAR(15)) 
		FROM dbo.fn_ParseCommaDelimitedList(@SessionIDList) s
		JOIN tbl_Session se WITH (NOLOCK)
		ON s.ItemID = se.SessionID
		AND se.SeValidationBuild = 1 -- This flag include both Lopez builds and git validation builds
		LEFT JOIN tbl_SessionGroupTopicParentBranches b WITH (NOLOCK)
		ON dbo.fn_GetSessionGroupForSession(s.ItemID) = b.SessionGroupID
		JOIN tbl_Lab l WITH (NOLOCK)
		ON se.LabID = l.LabID
		AND l.LaName NOT LIKE 'Lopez%'
		AND l.LaStatus = 1
		JOIN tbl_Milestone m WITH (NOLOCK)
		on l.MilestoneID = m.MilestoneID
		AND m.MiName = 'Validation Builds'
		JOIN #LabParentBranch lb
		ON se.LabID = lb.LabID
		AND lb.ParentBranchName = ISNULL(b.ParentBranch,'[Parent]')

		-- the non-git-validation build session IDs
		SELECT @NonValSessionIDList = COALESCE(@NonValSessionIDList + ',','') + CAST(s.ItemID AS VARCHAR(15)) 
		FROM dbo.fn_ParseCommaDelimitedList(@SessionIDList) s
		JOIN tbl_Session se WITH (NOLOCK)
		ON s.ItemID = se.SessionID
		JOIN tbl_Lab l WITH (NOLOCK)
		ON se.LabID = l.LabID
		AND l.LaStatus = 1
		WHERE (se.SeValidationBuild = 0 OR l.LaName LIKE 'Lopez%')
    END

	SET @MergedSessionIDList =
		CASE 
			WHEN Len(@LabIDParentBranchNames) <= 0
			THEN @SessionIDList

			WHEN Len(@NonValSessionIDList) > 0 and Len(@ValSessionIDList)>0 
			THEN @NonValSessionIDList+','+@ValSessionIDList

			WHEN Len(@NonValSessionIDList) > 0
			THEN @NonValSessionIDList

			WHEN Len(@ValSessionIDList)>0 
			THEN @ValSessionIDList
		END

	EXEC up_GetSessions  @MergedSessionIDList

    CREATE TABLE #SessionID (SessionID INT PRIMARY KEY)
    INSERT INTO #SessionID
    SELECT  ItemID AS [SessionID]
    FROM    dbo.fn_ParseCommaDelimitedList(@MergedSessionIDList) 

	-- Request
	SELECT  DISTINCT LRS.*
	FROM    LaunchPad.dbo.vw_LopezRequestSessions LRS WITH (NOLOCK)
	INNER JOIN #SessionID S
			ON LRS.SessionID = S.SessionID
	UNION
    SELECT  DISTINCT LRS.RequestID
			, LRS.RequestType
			, LRS.Revision
			, LRS.LabID
			, LRS.RequestTime
			, NULL AS SessionID
			, LRS.TargetArchitectureID
			, LRS.FlavorID
			, LRS.LocaleSetID
			, LRS.BuildLabelOrSyncTime
			, LRS.OwnerAlias
	FROM    LaunchPad.dbo.vw_LopezRequestSessions LRS WITH (NOLOCK)
	JOIN	fn_ParseCommaDelimitedList(@LabIDs) l 
			ON (LRS.LabID = l.ItemID)
	JOIN	fn_ParseCommaDelimitedList(@FlavorIDs) f 
			ON (LRS.FlavorID = f.ItemID)
	JOIN	fn_ParseCommaDelimitedList(@TargetArchitectureIDs) ta 
			ON (LRS.TargetArchitectureID = ta.ItemID) 
	JOIN	fn_ParseCommaDelimitedList(@LanguageIDs) ls 
			ON (LRS.LocaleSetID = ls.ItemID)
	JOIN	tlkp_Flavor flavor WITH (NOLOCK)
			ON (LRS.FlavorID = flavor.FlavorID)
	WHERE   LRS.RequestID IS NULL
	AND		LRS.RequestTime BETWEEN @From AND @To
	AND		((LRS.OwnerAlias = @RequestOwnerAlias) OR (@RequestOwnerAlias IS NULL))

	DROP TABLE   #SessionID
	DROP TABLE #LabParentBranch

	RETURN  
END
GO
