USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_LabRuleLab]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LabRuleLab](
	[LabRuleID] [int] NOT NULL,
	[LabID] [int] NOT NULL,
 CONSTRAINT [PK_tbl_LabRuleLabs] PRIMARY KEY CLUSTERED 
(
	[LabRuleID] ASC,
	[LabID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_LabRuleLab]  WITH CHECK ADD  CONSTRAINT [FK_tbl_LabRuleLabs_tbl_Lab] FOREIGN KEY([LabID])
REFERENCES [dbo].[tbl_Lab] ([LabID])
GO
ALTER TABLE [dbo].[tbl_LabRuleLab] CHECK CONSTRAINT [FK_tbl_LabRuleLabs_tbl_Lab]
GO
ALTER TABLE [dbo].[tbl_LabRuleLab]  WITH CHECK ADD  CONSTRAINT [FK_tbl_LabRuleLabs_tbl_LabRuleLabs] FOREIGN KEY([LabRuleID])
REFERENCES [dbo].[tbl_LabRule] ([LabRuleID])
GO
ALTER TABLE [dbo].[tbl_LabRuleLab] CHECK CONSTRAINT [FK_tbl_LabRuleLabs_tbl_LabRuleLabs]
GO
