USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_SchemaGroupProcess]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SchemaGroupProcess](
	[SchemaGroupProcessID] [int] IDENTITY(1,1) NOT NULL,
	[SchemaID] [int] NOT NULL,
	[SchemaGroupID] [int] NULL,
	[ProcessID] [int] NULL,
	[ViewLevelID] [int] NULL,
	[WaitsOnID] [int] NULL,
	[PrOrder] [int] NULL,
	[PrShortName] [varchar](10) NULL,
	[PrName] [varchar](3000) NULL,
	[AvgBuildTime] [int] NULL,
	[RawDrop] [bit] NULL,
	[PrDocLink] [varchar](255) NULL,
	[MachineName] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_SchemaGroupProcess] PRIMARY KEY CLUSTERED 
(
	[SchemaGroupProcessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_SchemaGroupProcess] ADD  CONSTRAINT [DF_tbl_SchemaGroupProcess_ViewLevelID]  DEFAULT (1) FOR [ViewLevelID]
GO
ALTER TABLE [dbo].[tbl_SchemaGroupProcess] ADD  CONSTRAINT [DF_tbl_SchemaGroupProcess_AvgBuildTime]  DEFAULT (30) FOR [AvgBuildTime]
GO
ALTER TABLE [dbo].[tbl_SchemaGroupProcess] ADD  CONSTRAINT [DF_tbl_SchemaGroupProcess_RawDrop]  DEFAULT (1) FOR [RawDrop]
GO
