USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLanguages]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLanguages]
AS
	SET NOCOUNT ON
	
	SELECT LanguageID, LaName + ' ' + LaDescription As LaName
	  FROM tlkp_Language WITH (NOLOCK)
  ORDER BY LaName
	
	RETURN 
GO
