USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionGroupProcessName]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSessionGroupProcessName]
	(
		@SessionGroupProcessStatusID int
	)
AS
	SET NOCOUNT ON
	
	SELECT sgp.PrName
	  FROM tbl_SessionGroupProcessStatus sgps WITH (NOLOCK) 
	  JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID)
	 WHERE sgps.SessionGroupProcessStatusID = @SessionGroupProcessStatusID
	
	RETURN 
GO
