USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_Log3Internal_AddGroupToSchema]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Log3Internal_AddGroupToSchema]
	(
		@SchemaID int,
		@SessionID int,
		@GroupName varchar(100),
		@SchemaGroupID int OUTPUT,
		@SessionGroupStatusID int OUTPUT
	)
AS
	SET NOCOUNT ON
	DECLARE @Err varchar(4000)
	
	BEGIN TRANSACTION	

	-- Determine the group order.
	DECLARE	@GroupOrder int 
	SELECT @GroupOrder = (SELECT MAX(GrOrder) + 1 
								FROM tbl_SchemaGroup
							WHERE SchemaID = @SchemaID)
	IF @GroupOrder IS NULL
		SELECT @GroupOrder = 1						
		
	BEGIN TRY
		-- Insert the new Group.
		SELECT @Err = 'Inserting the new Group.'
		INSERT
		INTO	tbl_SchemaGroup (
				SchemaID, 
				GrOrder, 
				GrName
				)
		VALUES (
				@SchemaID, 
				@GroupOrder, 
				@GroupName
			)
		IF @@ERROR <> 0 GOTO on_err				
		SELECT @SchemaGroupID = @@IDENTITY
	END TRY
	BEGIN CATCH
		-- Exception will occur when inserted row violates the filtered unique index on tbl_SchemaGroup
		-- (SchemaID and GroupName must be a unique combination)
		-- Return from this procedure with the out parameters as NULL
		goto on_duplicate
	END CATCH


	-- Now, create the new status row into the SessionGroupStatus table.
	SELECT @Err = 'Creating the SessionGroupStatus record.'
	INSERT
	INTO	tbl_SessionGroupStatus (
			SessionID, 
			SchemaGroupID, 
			StatusID
			)
	SELECT	@SessionID, 
			@SchemaGroupID, 
			1	
	IF @@ERROR <> 0 GOTO on_err		
	SELECT @SessionGroupStatusID = @@IDENTITY	
	

	-- Commit the transaction if there are no errors at the end. 
	IF @@ERROR <> 0 
		GOTO on_err
	ELSE 
		GOTO on_success

	on_duplicate:
		goto on_success
		
	on_success:
		COMMIT TRANSACTION
		RETURN 
	
	on_err:
		ROLLBACK TRANSACTION
		SELECT @Err = 'ERROR: sp_Log3_AddGroupToSchema - ' + @Err
		RAISERROR (@Err , 16, 1)	
		
	
	RETURN 
GO
