USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_Log2_NEW]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- sp_Log
CREATE PROCEDURE [dbo].[sp_Log2_NEW]
	(
		@Revision varchar(50),
		@LabShortName varchar(50),
		@ProductShortName varchar(10),
		@MilestoneShortName varchar(10),
		@FlavorShortName varchar(10),
		@TargetArchitectureShortName varchar(10),
		@LocaleSetShortName varchar(10),
		@ProcessShortName varchar(10) = NULL,
		@CategoryShortName varchar(10),
		@LogDateTime datetime = NULL,
		@Log varchar(7200),
		@MachineName varchar(50)
	)
AS
	-- Create the log footprint.
	DECLARE @FootPrintLog varchar(255)
	IF LEN(@Log) > 50
		SELECT @FootPrintLog = LEFT(@Log, 50) + '...'
	ELSE
		SELECT @FootPrintLog = @Log
	-- Insert the log footprint.	
	INSERT 
	INTO	tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
	VALUES	('sp_Log2, '
			+ @Revision + ', ' 
			+ @LabShortName + ', ' 
			+ @ProductShortName + ', ' 
			+ @MilestoneShortName + ', ' 
			+ @FlavorShortName + ', ' 
			+ @TargetArchitectureShortName + ', ' 
			+ @LocaleSetShortName + ', ' 
			+ @ProcessShortName + ', ' 
			+ @CategoryShortName + ', ' 
			+ @FootPrintLog + ', ' 
			+ @MachineName, 
			@LogDateTime, 
			GetDate()) 

	BEGIN TRANSACTION
		
		DECLARE @ProcessName varchar(100), @GroupName varchar(100)

		-- SessionID and SchemaID.
		EXEC sp_Log2_GetGroupProcessNames @ProductShortName, @ProcessShortName, @ProcessName OUTPUT, @GroupName OUTPUT

		-- Build the parameter string the sp_Log3 uses.
		DECLARE @Params varchar(4000)
		SELECT @Params = 'ARCH=' + @TargetArchitectureShortName 
					+ ';FLV=' + @FlavorShortName 
					+ ';LOC=' + @LocaleSetShortName 
					+ ';'

		-- Pass the call along to sp_Log3
		EXEC sp_Log3 @Revision, 
						@LabShortName, 
						@ProductShortName, 
						@Params, 
						@GroupName, 
						@ProcessName,
						@CategoryShortName,
						@Log,
						@LogDateTime, 
						@MachineName
		
	COMMIT TRANSACTION
	
	RETURN



GO
