USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLastBuildStep]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetLastBuildStep]
	(
		@Lab varchar(50),
		@Architecture varchar(50),
		@Flavor varchar(50),
		@Language varchar(50)
	)
AS
	SET NOCOUNT ON	
	
	SELECT
	TOP 20		s.SessionID, s.SeRevision, l.*, f.*, ls.*, ta.*
	INTO		#Sessions
	FROM		tbl_Session s WITH (NOLOCK)
	JOIN		tbl_Lab l WITH (NOLOCK)
					ON (s.LabID = l.LabID)
	JOIN		tlkp_Flavor f WITH (NOLOCK) 
					ON (s.FlavorID = f.FlavorID)
	JOIN		tlkp_TargetArchitecture ta WITH (NOLOCK) 
					ON (s.TargetArchitectureID = ta.TargetArchitectureID)
	JOIN		tlkp_LocaleSet ls WITH (NOLOCK) 
					ON (s.LocaleSetID = ls.LocaleSetID)
	WHERE		l.LaShortName = @Lab
	AND			f.FlShortName = @Flavor
	AND			ta.TaShortName = @Architecture
	AND			ls.LoShortName = @Language
	ORDER BY	s.SessionID DESC

	SELECT	
	TOP 1		s.SessionID, s.SeRevision, s.TaName, s.FlName, s.LoName, sgp.PrName, MAX(sgps.ProcessStarted) As PrStartTime, st.StName As PrStatus
	FROM		#Sessions s WITH (NOLOCK)
	JOIN		tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)  
					ON (s.SessionID = sgps.SessionID)
	JOIN		tbl_SchemaGroupProcess sgp WITH (NOLOCK)  
					ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID)
	JOIN		tbl_SchemaGroup sg WITH (NOLOCK)
					ON (sgp.SchemaGroupID = sg.SchemaGroupID)
	JOIN		tbl_SessionGroupStatus sgs WITH (NOLOCK) 
					ON (sg.SchemaGroupID = sgs.SchemaGroupID AND sgs.SessionID = s.SessionID)
	JOIN		tlkp_Status st WITH (NOLOCK) 
					ON (sgps.StatusID = st.StatusID)
	WHERE		sgps.ProcessStarted IS NOT NULL
	AND			sgps.ProcessFinished IS NULL
	GROUP BY	s.SessionID, s.SeRevision, s.TaName, s.FlName, s.LoName, sgp.PrName, st.StName
	ORDER BY	MAX(sgps.ProcessStarted) DESC

	DROP 
	TABLE		#Sessions

	RETURN 

GO
