USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_Milestone]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Milestone](
	[MilestoneID] [int] NOT NULL,
	[MiShortName] [varchar](10) NOT NULL,
	[MiName] [varchar](50) NULL,
	[MiDescription] [varchar](255) NULL,
	[MiOrder] [int] NULL,
	[MiBVTCode] [varchar](10) NULL,
	[MiActive] [bit] NULL,
 CONSTRAINT [PK_tbl_Milestone] PRIMARY KEY CLUSTERED 
(
	[MilestoneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Milestone] ADD  CONSTRAINT [DF_tbl_Milestone_MiActive]  DEFAULT (1) FOR [MiActive]
GO
