USE [LabStatus]
GO
/****** Object:  Table [dbo].[tmptbl_rpt_BuildStatistics]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmptbl_rpt_BuildStatistics](
	[ReportMonth] [datetime] NULL,
	[PU] [varchar](255) NULL,
	[BU] [varchar](255) NULL,
	[Branch] [varchar](255) NULL,
	[NumberOfSKUs] [int] NULL,
	[NumberofBuilds] [int] NULL,
	[NumberOfInfoIssues] [int] NULL,
	[MinutesSpentOnInfoIssues] [int] NULL,
	[NumberOfSCIssues] [int] NULL,
	[MinutesSpentOnSCIssues] [int] NULL,
	[NumberOfPRSIssues] [int] NULL,
	[MinutesSpentOnPRSIssues] [int] NULL,
	[NumberOfDDITIssues] [int] NULL,
	[MinutesSpentOnDDITIssues] [int] NULL,
	[AverageBuildTime] [int] NULL,
	[NumberofDrops] [int] NULL
) ON [PRIMARY]
GO
