USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_Log3_NumberOfSetups]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- sp_LogNumberOfSetups
CREATE PROCEDURE [dbo].[sp_Log3_NumberOfSetups]
	(
		@Revision varchar(50),
		@Lab varchar(50),
		@Product varchar(50),
		@Parameters varchar(4000),
		@NumberOfSetups varchar(100),
		@LogDateTime varchar(50),
		@MachineName varchar(50)
	)
AS
	SET NOCOUNT ON
	DECLARE @Err varchar(4000)

	-- First we need to create a log footprint.  This piece is outside the transaction
	-- because we want to log EVERYTHING - even if the transaction fails.	
	INSERT 
	INTO		tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
	VALUES		('sp_Log3_NumberOfSetups, '
				+ @Revision + ', ' 
				+ @Lab + ', '
				+ @Product + ', '
				+ @Parameters + ', '
				+ @NumberOfSetups + ', ' 
				+ @MachineName, 
				@LogDateTime, 
				GetDate()) 

	BEGIN TRANSACTION
	
	DECLARE	@SessionID int
	DECLARE @SchemaID int
	DECLARE @StatusID int

	-- Create/retreive the session and schema IDs.  These will be used for reporting status
	-- for this particular build.
	EXEC sp_GetSessionID3 @Revision, @Lab, @Product, @Parameters, @LogDateTime, @MachineName, @SessionID OUTPUT, @SchemaID OUTPUT, @StatusID OUTPUT

	-- Reset the stalled value if necessary.	
	DECLARE @ManuallyStalledStep varchar(50)	
	SELECT	@ManuallyStalledStep = SeManuallyStalledStep	
	FROM	tbl_Session WITH (NOLOCK)
	WHERE	SessionID = @SessionID
	
	IF (@ManuallyStalledStep IS NOT NULL)
		BEGIN
			SELECT	@Err = 'Reset the manually stalled indicator.'
			UPDATE	tbl_Session WITH (ROWLOCK)
			SET		SeManuallyStalled = NULL,
					SeDelayed = 0
			WHERE	SessionID = @SessionID
			IF @@ERROR <> 0 GOTO on_err	
		END	
	
	-- Reset the stalled value and set the setup value.

	DECLARE @SeExpected int
	SELECT	@SeExpected = SeSetups
	FROM	tbl_Session
	WHERE	SessionID = @SessionID

	-- ABjork, 2/1/2007 - We only update this value if it is NULL or 0.
	IF (@SeExpected IS NULL OR @SeExpected = 0)
	BEGIN
		SELECT	@Err = 'Update the number of steps completed.'
		UPDATE	tbl_Session WITH (ROWLOCK)
		SET		SeSetups = CONVERT(int, @NumberOfSetups)
		WHERE	SessionID = @SessionID
		IF @@ERROR <> 0 GOTO on_err	
	END
		 
	-- Commit the transaction if there are no errors at the end. 
	IF @@ERROR <> 0 
		GOTO on_err

	-- Return the sessionid.
	SELECT @SessionID As SessionID

	COMMIT TRANSACTION
	RETURN 
	
	on_err:
		ROLLBACK TRANSACTION
		SELECT @Err = 'ERROR: sp_Log3_NumberOfSetups - ' + @Err
		RAISERROR (@Err , 16, 1)	
		RETURN
	
RETURN



GO
