USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_RptAvgBuildTimes_RET]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RptAvgBuildTimes_RET]
AS
	SET NOCOUNT ON
	
	SELECT s.LabID, AVG(DateDiff(mi, s.SeStarted, s.SeFinished)) As AvgBuildTime, COUNT(s.SessionID) As NumberOfBuilds, l.LaOrder, l.LaName As Lab, DatePart(wk, s.SeBuildDate) As WeekOfYear, DatePart(yy, s.SeBuildDate) As [Year]
	  FROM tbl_Session s WITH (READPAST)
	  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
	 WHERE s.StatusID = 5 -- Completed
	   AND s.SeFinished IS NOT NULL
	   AND DATEPART(dw, s.SeStarted) <> 6
	   AND l.VBL = 1
	   AND s.SeRevision NOT LIKE '%_DEL'
 GROUP BY DatePart(wk, s.SeBuildDate), DatePart(yy, s.SeBuildDate), s.LabID, l.LaOrder, l.LaName--, DatePart(mm, s.SeBuildDate), DatePart(dd, s.SeBuildDate)
 ORDER BY DatePart(yy, s.SeBuildDate) DESC, DatePart(wk, s.SeBuildDate) DESC, l.LaOrder
	
	RETURN 





GO
