USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSchemaGroupProcesses]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[sp_GetSchemaGroupProcesses]
(
	@SchemaGroupID int
)
AS
	SET NOCOUNT ON
	
	SELECT 	sgp.SchemaGroupProcessID, 
		sgp.ProcessID, 
		sgp.PrOrder, 
		sgp.ViewLevelID, 
		sgp.PrShortName, 
		sgp.PrName,
		sgp.PrDocLink
	  FROM tbl_SchemaGroupProcess sgp WITH (NOLOCK) 
	 WHERE sgp.SchemaGroupID = @SchemaGroupID
  ORDER BY sgp.PrOrder
	
	RETURN 

GO
