USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_Fix]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Fix](
	[FixID] [int] IDENTITY(1,1) NOT NULL,
	[IssueID] [int] NULL,
	[FixTypeID] [int] NOT NULL,
	[FiSubmittedDate] [datetime] NOT NULL,
	[FiSubmittedBy] [varchar](50) NOT NULL,
	[FixDefinitionID] [int] NULL,
	[FiIsAutomated] [bit] NOT NULL,
	[FiResumeStep] [varchar](50) NULL,
	[FiSkipRelease] [bit] NOT NULL,
	[FiLaunchedAutomatically] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_Fix] PRIMARY KEY CLUSTERED 
(
	[FixID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Fix] ADD  CONSTRAINT [DF_tbl_Fix_FixIsAutomated]  DEFAULT (0) FOR [FiIsAutomated]
GO
ALTER TABLE [dbo].[tbl_Fix] ADD  CONSTRAINT [DF_tbl_Fix_FiSkipRelease]  DEFAULT ((0)) FOR [FiSkipRelease]
GO
ALTER TABLE [dbo].[tbl_Fix] ADD  DEFAULT ((0)) FOR [FiLaunchedAutomatically]
GO
