USE [LabStatus]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetBVTMilestone]    Script Date: 1/28/2026 12:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		arturor
-- Create date: 5/1/2006
-- Description:	Determines the correct BVT Milestone to return for a lab
-- =============================================
CREATE FUNCTION [dbo].[fn_GetBVTMilestone] 
(
	-- Add the parameters for the function here
	@LabID varchar(255)
)
RETURNS varchar(50)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @BVTMilestone varchar(50)

	-- If the lab is associated with the Orcas launchpad def
	IF @LabID IN (
			SELECT	l.LabID
			FROM	tbl_Lab l
			JOIN	LaunchPad..tbl_LAbDefinition dl				
						ON (dl.LabID = l.LabId)
			WHERE	dl.DefinitionId IN (1,12,14)
			UNION
			SELECT	l.LabID
			FROM	tbl_Lab l
			WHERE	l.LaName = 'orcas/pu/tsadt'
			)
				
		SET @BVTMilestone = 'Orcas'
	ELSE
		SET @BVTMilestone = 'WHBY'
				

	-- Return the result of the function
	RETURN @BVTMilestone

END
GO
