USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLabByShortName]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_GetLabByShortName]
(
	@LabShortName varchar(10)
)

AS
	SET NOCOUNT ON
	
	SELECT *
	  FROM tbl_Lab
	  WITH (NOLOCK)
	 WHERE LaShortName = @LabShortName
	
	RETURN
GO
