USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionGroupProcessDetailsByGroups]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetSessionGroupProcessDetailsByGroups]
	(
		@SessionID int,
		@SessionGroupStatusIDs varchar(4000)
	)
AS
	SET NOCOUNT ON
	
	CREATE TABLE #Rows (
		SessionGroupProcessStatusID int,
		SessionGroupStatusID int,
		GroupName varchar(100),
		ProcessName varchar(100),
		StatusID int,
		ProcessStatus varchar(50),
		StatusColor varchar(12),
		ProcessStarted datetime,
		ProcessFinished datetime,
		HasErrors bit,
		HasWarnings bit,
		CategoryID int,
		CaName varchar(50),
		CategoryTypeID int, 
		CaColor varchar(12), 
		ViewLevelID int, 
		ProcessComment varchar(1000), 
		GrOrder int, 
		PrOrder int, 
		RunNumber int, 
		Skip bit, 
		Stalled bit, 
		CaOrder int,
		ProcessDocLink varchar(500)
		)
	
	-- Grab the log records.
	SELECT	*
	INTO	#Logs
	FROM	tbl_Log 
	WHERE	SessionID = @SessionID
	
	-- First the NOT NULL rows.	
	INSERT INTO #Rows
	SELECT DISTINCT sgps.SessionGroupProcessStatusID, 
		ids.ItemID As SessionGroupStatusID, 
		sg.GrName As GroupName, 
		sgp.PrName As ProcessName, 
		sgps.StatusID, 
		st.StName As ProcessStatus, 
		st.StColor As StatusColor, 
		sgps.ProcessStarted, 
		sgps.ProcessFinished, 
		sgps.HasErrors, 
		sgps.HasWarnings, 
		l.CategoryID, 
		c.CaName, 
		c.CategoryTypeID, 
		c.CaColor, 
		sgp.ViewLevelID, 
		sgps.ProcessComment, 
		sg.GrOrder, 
		sgp.PrOrder, 
		sgps.RunNumber, 
		sgps.Skip, 
		sgps.Stalled, 
		c.CaOrder,
		sgp.PrDocLink ProcessDocLink
	  FROM tbl_SessionGroupStatus sgs WITH (NOLOCK) 
	  JOIN tbl_SchemaGroup sg WITH (NOLOCK)  ON (sgs.SchemaGroupID = sg.SchemaGroupID)
	  JOIN dbo.fn_ParseCommaDelimitedList(@SessionGroupStatusIDs) ids ON (sgs.SessionGroupStatusID = ids.ItemID)
	  JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK)  ON (sg.SchemaGroupID = sgp.SchemaGroupID)
	  JOIN tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)  ON (sgp.SchemaGroupProcessID = sgps.SchemaGroupProcessID AND sgps.SessionID = @SessionID)
 LEFT JOIN #Logs l WITH (NOLOCK)  ON (sgps.SessionGroupProcessStatusID = l.SessionGroupProcessStatusID)
 LEFT JOIN tlkp_Category c WITH (NOLOCK)  ON (l.CategoryID = c.CategoryID)
	  JOIN tlkp_Status st WITH (NOLOCK)  ON (sgps.StatusID = st.StatusID)
	   AND sgps.ProcessStarted IS NOT NULL
  ORDER BY sg.GrOrder, sgp.PrOrder, sgps.ProcessStarted, c.CaOrder ASC, sgps.RunNumber, sgp.ViewLevelID
	
	-- Now, the NULL rows.
	INSERT INTO #Rows
	SELECT DISTINCT sgps.SessionGroupProcessStatusID, 
		ids.ItemID As SessionGroupStatusID, 
		sg.GrName As GroupName, 
		sgp.PrName As ProcessName, 
		sgps.StatusID, 
		st.StName As ProcessStatus, 
		st.StColor As StatusColor, 
		sgps.ProcessStarted, 
		sgps.ProcessFinished, 
		sgps.HasErrors, 
		sgps.HasWarnings, 
		l.CategoryID, 
		c.CaName, 
		c.CategoryTypeID, 
		c.CaColor, 
		sgp.ViewLevelID, 
		sgps.ProcessComment, 
		sg.GrOrder, 
		sgp.PrOrder, 
		sgps.RunNumber, 
		sgps.Skip, 
		sgps.Stalled, 
		c.CaOrder,
		sgp.PrDocLink ProcessDocLink
	  FROM tbl_SessionGroupStatus sgs WITH (NOLOCK) 
	  JOIN tbl_SchemaGroup sg WITH (NOLOCK)  ON (sgs.SchemaGroupID = sg.SchemaGroupID)
 	  JOIN dbo.fn_ParseCommaDelimitedList(@SessionGroupStatusIDs) ids ON (sgs.SessionGroupStatusID = ids.ItemID)
	  JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK)  ON (sg.SchemaGroupID = sgp.SchemaGroupID)
	  JOIN tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)  ON (sgp.SchemaGroupProcessID = sgps.SchemaGroupProcessID AND sgps.SessionID = @SessionID)
 LEFT JOIN #Logs l WITH (NOLOCK)  ON (sgps.SessionGroupProcessStatusID = l.SessionGroupProcessStatusID)
 LEFT JOIN tlkp_Category c WITH (NOLOCK)  ON (l.CategoryID = c.CategoryID)
	  JOIN tlkp_Status st WITH (NOLOCK)  ON (sgps.StatusID = st.StatusID)
	   AND sgps.ProcessStarted IS NULL
  ORDER BY sg.GrOrder, sgp.PrOrder, sgps.ProcessStarted, c.CaOrder ASC, sgps.RunNumber, sgp.ViewLevelID	
	
	SELECT * FROM #Rows
	
	DROP TABLE #Rows
	DROP TABLE #Logs
	
	RETURN 


GO
