USE [LabStatus]
GO
/****** Object:  Table [dbo].[tlkp_LocaleSet]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tlkp_LocaleSet](
	[LocaleSetID] [int] NOT NULL,
	[LoShortName] [varchar](20) NULL,
	[LoName] [varchar](50) NULL,
	[LoDescription] [varchar](255) NULL,
	[LoBVTCode] [varchar](10) NULL,
	[LoOrder] [int] NULL,
	[LoLanguage] [varchar](50) NOT NULL,
	[CompletionOffsetDays] [int] NOT NULL,
 CONSTRAINT [PK_tlkp_LocaleSet] PRIMARY KEY CLUSTERED 
(
	[LocaleSetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tlkp_LocaleSet] ADD  CONSTRAINT [DF_tlkp_LocaleSet_CompletionOffset]  DEFAULT ((0)) FOR [CompletionOffsetDays]
GO
