USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_ShortUrl]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ShortUrl](
	[ShortUrlID] [int] IDENTITY(1,1) NOT NULL,
	[QueryString] [nvarchar](max) NOT NULL,
	[CreationDate] [smalldatetime] NOT NULL,
	[CreatedByAlias] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShortUrlID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_ShortUrl] ADD  DEFAULT (getdate()) FOR [CreationDate]
GO
