USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_CreateBuildIDs]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_CreateBuildIDs]
    (
        @Revision VARCHAR(100),
        @LabID INT,
        @FlavorID INT,
        @TargetArchitectureID INT,
        @Workflow VARCHAR(50),
        @MachineName VARCHAR(100),
        @TargetDateOverride DATETIME = NULL,
        @JobName VARCHAR(100) = NULL,
        @BuildDetailUrl varchar(1000) = NULL,
        @BugDatabaseID int = NULL,
        @RealSigned BIT = 0,
        @ValidationBuild BIT = 0,
		@TeamProjectUrl varchar(1000) = NULL
    )
AS
    SET NOCOUNT ON

    INSERT 
    INTO		tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
    VALUES		('up_CreateBuildIDs, '
                + @Revision + ', ' 
                + CAST(@LabID AS VARCHAR(20)) + ', '
                + CAST(@FlavorID AS VARCHAR(20)) + ', '
                + CAST(@TargetArchitectureID AS VARCHAR(20)) + ', '
                + @Workflow + ', ' 
                + @MachineName + ', '
                + (CASE @RealSigned WHEN 1 THEN 'Real' ELSE 'Test' END) + '-Signed, '
                + (CASE @ValidationBuild WHEN 1 THEN 'Is' ELSE 'Not' END) + 'ValidationBuild, '
                + ISNULL(CAST(@TargetDateOverride as VARCHAR(30)), 'null') + ', '
                + ISNULL(@JobName, 'null')
                + ISNULL(@BuildDetailUrl, 'null')
                + IsNull(CAST(ISNULL(@BugDatabaseID, null) as varchar(20)), 'null')
                + ISNULL(@TeamProjectUrl, 'null')
                , 
                GetDate(), 
                GetDate()) 

    BEGIN TRANSACTION	

    DECLARE @Err varchar(4000)
    DECLARE @SessionID INT

    -- Build the new start time.  This is used as the build date.
    DECLARE @NewStartTime varchar(50)
    DECLARE @LocaleSetID int

    SELECT	@LocaleSetID = LocaleSetID
    FROM 	dbo.tlkp_LocaleSet
    WHERE	LoShortName = @Workflow

    -- If the user supplied an explicit target date, then just used that. Otherwise, attempt to determine what it should be.
    IF (@TargetDateOverride IS NOT NULL)
        BEGIN
            SELECT @NewStartTime = CONVERT(varchar(50), @TargetDateOverride)
        END
    -- If there are more than 4 dots in the revision, it's a Lopez build. We need to use current log timestamp as the build date since it's being launched right away.
    ELSE IF (LEN(@Revision) - LEN(REPLACE(@Revision, '.', '')) >= 4)
        BEGIN
            SELECT @NewStartTime =CONVERT(varchar(50), GETDATE())
        END
    ELSE
        BEGIN
            IF SUBSTRING(@Revision, 6, 3) = '.00'
                BEGIN
                    DECLARE @IndexPadding int
                    SET @IndexPadding = 0

                    -- We check here for an underscore after the build number.  If one exists,
                    -- then we can assume it's a minilab build and we can parse the build number
                    -- from the remaining string.  Ex:  11108.00_61114H.  This build would go on 11/14/2006.
                    IF (SUBSTRING(@Revision, 9, 1) = '_')
                    BEGIN
                        SET @IndexPadding = 9
                    END

                    DECLARE @Year varchar(4)
                    DECLARE @Month varchar(2)
                    DECLARE @Day varchar(2)
                    DECLARE @Time varchar(25)

                    SELECT @Year = CONVERT(varchar(4), DATEPART(yy, GetDate()+1)) -- We add 1 to current date in case the build is launched on Dec 31st
                    SELECT @Month = SUBSTRING(@Revision, 2 + @IndexPadding, 2) 
                    SELECT @Day = SUBSTRING(@Revision, 4 + @IndexPadding, 2)
                    SELECT @Time = '12:01 am'

                    SELECT @NewStartTime = @Year + '-' + @Month + '-' + @Day + ' ' + @Time
                END
            ELSE
                BEGIN
                    SELECT @NewStartTime = CONVERT(varchar(50), DATEADD(dd, 1, GETDATE()))
                END
        END

    DECLARE	@SchemaID INT
    INSERT INTO dbo.tbl_Schema 
        (ProductID)
    VALUES 
        (0)
    IF @@ERROR <> 0 GOTO on_err	
    SET @SchemaID = @@IDENTITY
        
    -- Make sure we have a session group 
    DECLARE @SessionGroupID int = 0
    Exec up_EnsureSessionGroup @LabID, @Revision, @LocaleSetID, @SessionGroupID OUTPUT


    -- Insert the new session into the session table.
    SELECT	@Err = 'Insert the new session into the session table.'
    INSERT
    INTO	dbo.tbl_Session (MilestoneID, ProductID, LabID, FlavorID, TargetArchitectureID, LocaleSetID, SchemaID, SeRevision, SeStarted, StatusID, SeBuildMachine, SeBuildDate, SeJobName, SeBuildDetailUrl, BugDatabaseID, SeRealSigned, SeValidationBuild, SeTeamProjectUrl)
    SELECT	1, 177, @LabID, @FlavorID, @TargetArchitectureID, @LocaleSetID, @SchemaID, @Revision, GETDATE(), 1, @MachineName, @NewStartTime, @JobName, @BuildDetailUrl, @BugDatabaseID, @RealSigned, @ValidationBuild, @TeamProjectUrl

    SELECT	@SessionID = @@IDENTITY	
    IF @@ERROR <> 0 GOTO on_err

    -- Insert the session parameter key.
    SELECT	@Err = 'Insert the new session parameter key into the session param key table.'
    DECLARE @Parameters VARCHAR(4000)
    SELECT  @Parameters = 'arch=' + TaShortName + ';'
    FROM	dbo.tlkp_TargetArchitecture
    WHERE	TargetArchitectureID = @TargetArchitectureID

    SELECT  @Parameters = @Parameters + 'flv=' + FlShortName + ';'
    FROM	dbo.tlkp_Flavor
    WHERE	FlavorID = @FlavorID

    SET  @Parameters = @Parameters + 'loc=' + @Workflow + ';'

    INSERT
    INTO	tbl_SessionParameterKey (SessionID, LabID, SeRevision, SeParameterKey)
    SELECT	@SessionID, @LabID, @Revision, @Parameters
    IF @@ERROR <> 0 GOTO on_err		

    COMMIT TRANSACTION
    SELECT	@SessionID as SessionID, @SessionGroupID as SessionGroupID

    RETURN
    
    on_err:
        ROLLBACK TRANSACTION

        -- Insert the log footprint.	
        INSERT 
        INTO		tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
        VALUES		('up_CreateBuildIDs FAILURE', 
                    GetDate(), 
                    GetDate()) 

        SELECT @Err = 'ERROR: up_CreateBuildIDs - ' + @Err
        RAISERROR (@Err, 16, 1)	
        RETURN
    
RETURN
GO
