USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionInformationByPSIssue]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_GetSessionInformationByPSIssue]
	(
		@BugID int
	)
AS
	SET NOCOUNT ON
	
	SELECT s.SessionID, s.SeRevision As Revision, l.LaName As Lab, m.MiName As Milestone, f.FlName As Flavor, ta.TaName As TargetArchitecture, s.StatusID, st.StName As SessionStatus
	  FROM tbl_SessionPSIssue iss WITH (NOLOCK)
	  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
	  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
	  JOIN tbl_Milestone m WITH (NOLOCK) ON (s.MilestoneID = m.MilestoneID)
	  JOIN tlkp_Status st WITH (NOLOCK) ON (s.StatusID = st.StatusID)
	  JOIN tlkp_Flavor f WITH (NOLOCK) ON (s.FlavorID = f.FlavorID)
	  JOIN tlkp_TargetArchitecture ta WITH (NOLOCK) ON (s.TargetArchitectureID = ta.TargetArchitectureID)
     WHERE iss.PSBugID = @BugID	
  ORDER BY l.LaOrder, ta.TargetArchitectureID, f.FlOrder ASC
	RETURN 
GO
