USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLab]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLab]
(
	@LabID int
)
AS
	SET NOCOUNT ON
	
	SELECT *
	  FROM tbl_Lab
	  WITH (NOLOCK)
	 WHERE LabID = @LabID
	
	RETURN 
GO
