USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_MntrGetProcessesByProduct]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* 
sp_MntrGetProcessesByProduct - 
*/
CREATE PROCEDURE [dbo].[sp_MntrGetProcessesByProduct]
(
	@ProductID int
)
AS
	SET NOCOUNT ON
	
	SELECT DISTINCT s.ProductID, s.MilestoneID, s.LabID, s.FlavorID, s.TargetArchitectureID, s.LocaleSetID, sgp.PrShortName, sgp.PrName, sg.GrOrder, sgp.PrOrder
	  FROM tbl_Session s WITH (NOLOCK)
	  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID AND l.LaStatus = 1 AND l.LaPrivate = 0)  -- Must be a VBL lab
	  JOIN tbl_SessionGroupStatus sgs WITH (NOLOCK) ON (s.SessionID = sgs.SessionID)
	  JOIN tbl_SessionGroupProcessStatus sgps WITH (NOLOCK) ON (s.SessionID = sgps.SessionID)
	  JOIN tbl_SchemaGroup sg WITH (NOLOCK) ON (sgs.SchemaGroupID = sg.SchemaGroupID)
	  JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sg.SchemaGroupID = sgp.SchemaGroupID)
	 WHERE s.ProductID = @ProductID
       AND DATEDIFF(dd, s.SeBuildDate, GetDate()) <= 1 -- Today's builds
  ORDER BY s.ProductID, s.MilestoneID, s.LabID, s.FlavorID, s.TargetArchitectureID, s.LocaleSetID, sg.GrOrder, sgp.PrOrder

	 
	RETURN 


GO
