USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_IsIssueAssignedToSession]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_IsIssueAssignedToSession]
	(
		@SessionID int,
		@IssueId int
	)
AS
	SET NOCOUNT ON
	
	SELECT *
	  FROM atbl_SessionIssue WITH (NOLOCK)
	 WHERE IssueID = @IssueID
	   AND SessionID = @SessionID
	
	RETURN 

GO
