USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetIssueLockDownCount]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetIssueLockDownCount]
	(
		@IssueID int,
		@LabID int
	)

AS
	SET NOCOUNT ON
	
	SELECT COUNT(i.IssueID)
      FROM tbl_Issue i WITH (NOLOCK)
	  JOIN tbl_SessionIssue iss WITH (NOLOCK) ON (i.IssueID = iss.IssueID)
	  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
	  JOIN tbl_Lab lab WITH (NOLOCK) ON (s.LabID = lab.LabID)
	 WHERE i.IsLockDown = 1
	   AND ((i.IsLockDownImmediate = 1) OR (DATEADD(mi, IsLockDownGracePeriod, i.IsLockDownSet) < GetDate()))
	   AND i.IsClosed = 0
	   AND i.IsDeleted = 0
	   AND i.IssueID <> @IssueID
	   AND lab.LabID = @LabID
	
	RETURN 
GO
