USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_RptRollupReportByCostCenter]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RptRollupReportByCostCenter]
	@CostCenterCode INT = NULL,
	@Years INT = NULL,
	@SourceExceptions INT = 11
AS
BEGIN
	SET NOCOUNT ON

	IF object_id('tempdb..#IssueTracking') IS NOT NULL
	BEGIN
	   DROP TABLE #IssueTracking
	END

	DECLARE @CostCenterCodeReplacement INT
	DECLARE @CostCenterDescReplacement VARCHAR(100)

	SELECT @CostCenterCodeReplacement = '000000'
		  ,@CostCenterDescReplacement = 'All Other Cost Centers'
		  ,@Years = (
						CASE 
							WHEN @Years IS NULL THEN -1
							WHEN @Years > 0 THEN @Years * -1
						END)
	
	SELECT
		Iss.IssueID,
		pu.PrCostCenterCode AS CostCenterCode, 
		pu.PrCostCenterDesc AS CostCenterDesc, 
		soName AS SourceName,
		cal.CaDateValue AS DateValue,
		cal.CaDay,
		cal.CaMonth,
		cal.CaYear,
		cal.CaQuarter
	INTO #IssueTracking
	FROM tbl_Issue Iss (NOLOCK)
	INNER JOIN tbl_ProductUnit pu (NOLOCK) ON Iss.IsCostCenter = PrCostCenterCode
	INNER JOIN tbl_IssueSource s (NOLOCK) ON iss.IssueId = s.IssueId
	INNER JOIN tlkp_Source sou (NOLOCK) ON sou.SourceId = s.SourceId
	INNER JOIN tbl_Calendar cal (NOLOCK) ON cal.CaDateValue = CONVERT(DATETIME, CONVERT(VARCHAR, IsDateChanged, 101), 120)
	WHERE s.SourceId NOT IN (@SourceExceptions) -- INFO
	AND IsDateChanged >= DATEADD(yy, @Years, GETDATE())
	ORDER BY soname, cal.CaDateValue, pu.PrCostCenterCode, pu.PrCostCenterDesc DESC

	IF @CostCenterCode IS NOT NULL
		UPDATE #IssueTracking
		SET CostCenterDesc = @CostCenterDescReplacement
		   ,CostCenterCode = @CostCenterCodeReplacement
		WHERE CostCenterCode NOT IN (@CostCenterCode)

	SELECT
		IssueID,
		CostCenterCode, 
		CostCenterDesc, 
		SourceName,
		DateValue,
		CaDay,
		CaMonth,
		CaYear,
		CaQuarter
	FROM #IssueTracking

END
GO
