USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddSessionLog]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddSessionLog]
	(
		@SessionID int,
		@Username varchar(20),
		@Log varchar(8000)
	)
AS

	DECLARE @NewLogID bigint

	IF LEN(@Log) > 200
		BEGIN	
			INSERT
				INTO tbl_Log (SessionID, CategoryID, LoDateTimeStamp, LoDateTimeLogged, LoLog, LoMachineName, SessionGroupProcessStatusID, SessionGroupStatusID)
			VALUES (@SessionID, 5, GetDate(), GetDate(), LEFT(@Log,200) + '...', 'dd-blds', NULL, NULL)
			
			SELECT @NewLogID = @@Identity
			
			INSERT
				INTO LabStatusLog..tbl_LogData (LogEntryID, LoExtendedLog)
			VALUES (@NewLogID, @Log)
		END
	ELSE
		BEGIN
			INSERT
				INTO tbl_Log (SessionID, CategoryID, LoDateTimeStamp, LoDateTimeLogged, LoLog, LoMachineName, SessionGroupProcessStatusID, SessionGroupStatusID)
			VALUES (@SessionID, 5, GetDate(), GetDate(), @Log, 'dd-blds', NULL, NULL)

			SELECT @NewLogID = @@Identity
		END
	
	RETURN
GO
