USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_AddFixBase]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_AddFixBase]
(
	@FixTypeID int,
	@IssueID int,
	@IsAutomated bit,
	@UserName varchar(50),
	@FixDefinitionID int
)
AS
BEGIN
	/*********************************
	DESCRIPTION
		Creates the base information for all fixes regardless of type
	**************************************/

	DECLARE @FixID int

	--create the fix
	INSERT INTO tbl_Fix
	(IssueID, FixTypeID, FiIsAutomated, FiSubmittedDate, FiSubmittedBy, FixDefinitionID)
	VALUES
	(@IssueID, @FixTypeID, @IsAutomated, GETDATE(), @UserName, @FixDefinitionID)

	SET @FixID = @@IDENTITY

END

GO
