USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AutoIssue_AddIssue]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[sp_AutoIssue_AddIssue]
	(
		@SchemaGroupProcessID int,
		@SessionIDs varchar(2000),
		@ErrorIDs varchar(4000),
		@Title varchar(128),
		@Blocking bit,
		@AssignedTo varchar(50),
		@FirstLogEntry varchar(8000),
		@OrgID int
	)
AS
	SET NOCOUNT ON

	DECLARE @Err varchar(4000)
	
	BEGIN TRANSACTION
		
		DECLARE @SeverityID int
		SET @SeverityID = 1
		IF @Blocking = 1
			SET @SeverityID = 2
		
		-- Grab the build machine.
		DECLARE @BuildMachine varchar(50)
		SELECT @BuildMachine = (SELECT Top 1 SeBuildMachine 
		  FROM tbl_Session s WITH (NOLOCK)
		  JOIN fn_ParseCommaDelimitedList(@SessionIDs) ids ON (s.SessionID = ids.ItemID))
		
		DECLARE @ProcessName varchar(255)
		DECLARE @IsTest bit
		SELECT @ProcessName = SGP.PrName,
			   @IsTest = SG.IsTest
		  FROM tbl_SchemaGroupProcess SGP WITH (NOLOCK)
				JOIN tbl_SchemaGroup SG ON SG.SchemaGroupID = SGP.SchemaGroupID
		 WHERE SchemaGroupProcessID = @SchemaGroupProcessID
		 
		IF @IsTest = 1
			SET @BuildMachine = NULL

		DECLARE @IsStall BIT
		SELECT @IsStall = CAST(MAX(CAST(le.IsStall AS INT)) AS BIT)
		  FROM tbl_LogError le WITH (READPAST)
		  JOIN fn_ParseCommaDelimitedList(@ErrorIDs) e ON (le.LogEntryID = e.ItemID)
		
		-- Add the new issue.
		SELECT @Err = 'Adding new issue'
		INSERT
		  INTO tbl_Issue (IsTitle, IsAssignedTo, IsPendingOwner, IsPendingSince, IsAssignedBy, IsDateCreated, IsDateChanged, IsAutoOpened, SeverityID, LanguageID, IsMachineName, IsLastHandOffReminderSent, IsLastReminderSent, OrgID, IsTest, IsStall)
		VALUES (@ProcessName + ': ' + @Title, @AssignedTo, @AssignedTo, GetDate(), @AssignedTo, GetDate(), GetDate(), 1, @SeverityID, 9999, @BuildMachine, GetDate(), GetDate(), @OrgID, @IsTest, @IsStall)
		IF @@ERROR <> 0 GOTO on_err

		DECLARE @IssueID int
		SELECT @IssueID = @@IDENTITY

		-- Add an entry for each build being associated.
		SELECT @Err = 'Adding a log for each session being associated'
		INSERT 
		  INTO tbl_IssueLog (IssueID, LoText, LoDateCreated, LoCreatedBy)
		SELECT @IssueID, CONVERT(varchar(5),COUNT(le.LogEntryID)) + ' new error(s) found on <a target="_blank" href="../BuildLog.aspx?sid=' + CONVERT(varchar(10), le.SessionID) + '&cid=3&iid=' + CONVERT(varchar(10), @IssueID) + '" title="Click to view">' + LOWER(s.SeBuildMachine) + '</a>.', DATEADD(ss, 1, GetDate()), ''
		  FROM tbl_LogError le WITH (READPAST)
		  JOIN fn_ParseCommaDelimitedList(@ErrorIDs) e ON (le.LogEntryID = e.ItemID)
		  JOIN tbl_Session s WITH (READPAST) ON (le.SessionID = s.SessionID)
  	  GROUP BY le.SessionID, s.SeBuildMachine
		IF @@ERROR <> 0 GOTO on_err

		-- Add the first log entry.
		SELECT @Err = 'Adding first log entry'
		INSERT 
		  INTO tbl_IssueLog (IssueID, LoText, LoCreatedBy, LoDateCreated)
		VALUES (@IssueID, @FirstLogEntry, @AssignedTo, GetDate())
		IF @@ERROR <> 0 GOTO on_err

		-- Associate it with each build.
		SELECT @Err = 'Associate this issue with sessions'
		INSERT 
		  INTO atbl_SessionIssue (SessionID, IssueID)
		SELECT ItemID, @IssueID
		  FROM fn_ParseCommaDelimitedList(@SessionIDs)
		IF @@ERROR <> 0 GOTO on_err

		-- Associate it with each error.
		SELECT @Err = 'Associate this issue with errors'
		INSERT 
		  INTO atbl_IssueLogError (IssueID, LogEntryID)
		SELECT @IssueID, ItemID
		  FROM fn_ParseCommaDelimitedList(@ErrorIDs)
		IF @@ERROR <> 0 GOTO on_err

		-- Update all the new errors as processed.
		SELECT @Err = 'Mark all these errors as processed'
		UPDATE tbl_LogError WITH (ROWLOCK)
		   SET Processed = 1
		 WHERE LogEntryID IN (SELECT ItemID FROM fn_ParseCommaDelimitedList(@ErrorIDs))
		IF @@ERROR <> 0 GOTO on_err	

		SELECT @IssueID As NewIssueID		
	
	-- Commit the transaction if there are no errors at the end. 
	IF @@ERROR <> 0 
		GOTO on_err
	ELSE 
		GOTO on_success

	on_success:
	COMMIT TRANSACTION
	RETURN 
	
	on_err:
	ROLLBACK TRANSACTION
	SELECT @Err = 'ERROR: sp_AutoIssue_AddIssue - ' + @Err
	RAISERROR (@Err , 16, 1)	
	
	RETURN 


GO
