USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetIssuesByLabAndTeam]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[up_GetIssuesByLabAndTeam]
	(
		@From datetime,
		@To datetime,
		@SourceIDs varchar(2000),
		@Labs varchar(2000),
		@CostCenter int,
		@SeverityIDs varchar(255) = '1,2',
		@OrgID int
	)
AS
	SET NOCOUNT ON

	IF @SeverityIDs = '0'
		SET @SeverityIDs = '1,2'
	
	IF @SourceIDs = '0'
		BEGIN
			SELECT @SourceIDs = COALESCE(@SourceIDs + ', ','') + CONVERT(varchar(4),SourceID)
			  FROM tlkp_Source WITH (NOLOCK)
			 WHERE SourceID NOT IN (11,2)
		END	

	CREATE TABLE #IssueId ([IssueID] [int] NULL)

	IF @CostCenter = 99999
		BEGIN
            INSERT INTO #IssueId
	        SELECT DISTINCT i.IssueID
			  FROM  tbl_Issue i WITH (NOLOCK)
			  JOIN  atbl_SessionIssue iss WITH (NOLOCK) 
                        ON (i.IssueID = iss.IssueID)
		 LEFT JOIN  tbl_IssueSource isrc WITH (NOLOCK) 
                        ON (i.IssueID = isrc.IssueID)
			  JOIN  tbl_Session s WITH (NOLOCK) 
                        ON (iss.SessionID = s.SessionID)
			  JOIN  tbl_Lab lab WITH (NOLOCK) 
                        ON (s.LabID = lab.LabID)
			  JOIN  fn_ParseCommaDelimitedList(@Labs) labs 
                        ON (lab.LabID = labs.ItemID)
			  JOIN  fn_ParseCommaDelimitedList(@SeverityIDs) svr 
                        ON (i.SeverityID = svr.ItemID)
			  JOIN  fn_ParseCommaDelimitedList(@SourceIDs) srcs 
                        ON (isrc.SourceID = srcs.ItemID)
			 WHERE  DATEDIFF(dd, i.IsDateClosed, @From) <= 0
			   AND  DATEDIFF(dd, i.IsDateClosed, @To) >= 0
			   AND  (i.IsCostCenter IS NULL
			    OR  i.IsCostCenter = ''
			    OR  i.IsCostCenter NOT IN (SELECT CostCenterID FROM CostCenter..tbl_CostCenter))
   			   AND  i.IsDeleted = 0
			   AND  lab.VBL = 1
			   AND  s.SeRevision NOT LIKE '%_DEL'
			   AND  s.FlavorID NOT IN (5) -- No DAT builds.
			   AND  lab.OrgID = @OrgID
		END 
	
	ELSE IF @CostCenter = 0
		BEGIN
            INSERT INTO #IssueId
	        SELECT DISTINCT i.IssueID
			  FROM  tbl_Issue i WITH (NOLOCK)
			  JOIN  atbl_SessionIssue iss WITH (NOLOCK) 
                        ON (i.IssueID = iss.IssueID)
		 LEFT JOIN  tbl_IssueSource isrc WITH (NOLOCK) 
                        ON (i.IssueID = isrc.IssueID)
			  JOIN  tbl_Session s WITH (NOLOCK) 
                        ON (iss.SessionID = s.SessionID)
			  JOIN  tbl_Lab lab WITH (NOLOCK) 
                        ON (s.LabID = lab.LabID)
			  JOIN  fn_ParseCommaDelimitedList(@Labs) labs 
                        ON (lab.LabID = labs.ItemID)
			  JOIN  fn_ParseCommaDelimitedList(@SeverityIDs) svr 
                        ON (i.SeverityID = svr.ItemID)
			  JOIN  fn_ParseCommaDelimitedList(@SourceIDs) srcs 
                        ON (isrc.SourceID = srcs.ItemID)
			 WHERE  DATEDIFF(dd, i.IsDateClosed, @From) <= 0
			   AND  DATEDIFF(dd, i.IsDateClosed, @To) >= 0
   			   AND  i.IsDeleted = 0
			   AND  lab.VBL = 1
			   AND  s.SeRevision NOT LIKE '%_DEL'
			   AND  s.FlavorID NOT IN (5) -- No DAT builds.
			   AND  lab.OrgID = @OrgID
		END
		
	ELSE IF @CostCenter <> 0
		BEGIN
            INSERT INTO #IssueId
	        SELECT DISTINCT i.IssueID
			  FROM  tbl_Issue i WITH (NOLOCK)
			  JOIN  atbl_SessionIssue iss WITH (NOLOCK) 
                        ON (i.IssueID = iss.IssueID)
		 LEFT JOIN  tbl_IssueSource isrc WITH (NOLOCK) 
                        ON (i.IssueID = isrc.IssueID)
			  JOIN  tbl_Session s WITH (NOLOCK) 
                        ON (iss.SessionID = s.SessionID)
			  JOIN  tbl_Lab lab WITH (NOLOCK) 
                        ON (s.LabID = lab.LabID)
			  JOIN  fn_ParseCommaDelimitedList(@Labs) labs 
                        ON (lab.LabID = labs.ItemID)
			  JOIN  fn_ParseCommaDelimitedList(@SeverityIDs) svr 
                        ON (i.SeverityID = svr.ItemID)
			  JOIN  fn_ParseCommaDelimitedList(@SourceIDs) srcs 
                        ON (isrc.SourceID = srcs.ItemID)
			 WHERE  DATEDIFF(dd, i.IsDateClosed, @From) <= 0
			   AND  DATEDIFF(dd, i.IsDateClosed, @To) >= 0
   			   AND  i.IsCostCenter = @CostCenter
   			   AND  i.IsDeleted = 0
			   AND  lab.VBL = 1
			   AND  s.SeRevision NOT LIKE '%_DEL'
			   AND  s.FlavorID NOT IN (5) -- No DAT builds.
			   AND  lab.OrgID = @OrgID
		END

    DECLARE @IssueIdList VARCHAR(max)
    SELECT	@IssueIdList = COALESCE(@IssueIdList + ',', '') + CONVERT(varchar(20), IssueID) 
    FROM	#IssueId

    DROP TABLE #IssueId

    EXEC up_GetIssues @IssueIdList

	RETURN 















GO
