USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionsByLabAndDate]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetSessionsByLabAndDate]
	(
		@From datetime,
		@To datetime,
		@Lab varchar(50) = NULL,
		@LabID int = NULL
	)
AS
	SET NOCOUNT ON	
	
	IF @LabID IS NULL
		BEGIN
			SELECT	@LabID = LabID
			FROM	tbl_Lab 
			WHERE	LaShortName = @Lab
		END
	
    EXEC up_GetSessionsByLabAndDate @From, @To, @LabID



GO
