USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_MntrGetProdutsBuildingToday]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 
sp_MntrGetProdutsBuildingToday - Retreives all products that are
building today for the purposes of computing average build times
per build process.
*/
CREATE PROCEDURE [dbo].[sp_MntrGetProdutsBuildingToday]
AS
	SET NOCOUNT ON
	
	SELECT DISTINCT p.ProductID
	  FROM tbl_Product p WITH (NOLOCK)
	  JOIN tbl_Session s WITH (NOLOCK) ON (p.ProductID = s.ProductID)
	  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
	 WHERE DATEDIFF(dd, s.SeBuildDate, GetDate()) = 0
	   AND l.LaPrivate = 0
	 
	RETURN 

GO
