USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetFixLog]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_GetFixLog]
(
	@FixID int,
	@SessionID int
)
AS
BEGIN

	SELECT  fl.* 
    INTO    #FixLog
    FROM    tbl_FixLog fl
	WHERE   fl.FixID = @FixID
    AND     fl.SessionID = @SessionID

    SELECT  *
    FROM    #FixLog

    SELECT  DISTINCT flt.*
    FROM    tlkp_FixLogType flt
    JOIN    #FixLog fl
                ON flt.FixLogTypeID = fl.FixLogTypeID

END



GO
