USE [LabStatus]
GO
/****** Object:  Table [dbo].[tmptbl_rpt_SystemParameter]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmptbl_rpt_SystemParameter](
	[DomainName] [varchar](255) NULL,
	[DomainValue] [varchar](255) NULL,
	[UpdatedDate] [datetime] NULL
) ON [PRIMARY]
GO
