USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_IHAF_GetFixSummary2]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[up_IHAF_GetFixSummary2]
(
	@OrgId int,
	@LabIDs varchar(1000) = NULL,
	@FlavorIDs varchar(255) = NULL,
	@TargetArchitectureIDs varchar(255) = NULL,
	@LanguageIDs varchar(4000) = NULL,
	@From datetime = NULL,
	@To datetime = NULL,
	@ShowClosedIssues bit = 1
)

AS
BEGIN
	/**************************
	DESCRIPTION
		Retrieves the fix summary
	***************************/
	DECLARE @RC int	
	

	-- TODO: Set parameter values here.
	
	IF @LabIDs IS NULL
		SELECT @LabIDs =  COALESCE(@LabIDs + ',' + CONVERT(VARCHAR(10), LabID) , CONVERT(VARCHAR(10),LabID))
		FROM tbl_Lab
		WHERE OrgID = @OrgID AND LaStatus = 1
	
	IF @FlavorIDs IS NULL
		SELECT @FlavorIDs =  COALESCE(@FlavorIDs + ',' + CONVERT(VARCHAR(10), FlavorID) , CONVERT(VARCHAR(10),FlavorID))
		FROM tlkp_Flavor

	IF @TargetArchitectureIDs IS NULL
		SELECT @TargetArchitectureIDs =  COALESCE(@TargetArchitectureIDs + ',' + CONVERT(VARCHAR(10), TargetArchitectureID) , CONVERT(VARCHAR(10),TargetArchitectureID))
		FROM tlkp_TargetArchitecture

	IF @LanguageIDs IS NULL
		SELECT @LanguageIDs =  COALESCE(@LanguageIDs + ',' + CONVERT(VARCHAR(10), LocalesetID) , CONVERT(VARCHAR(10),LocalesetID))
		FROM tlkp_LocaleSet

	IF @From IS NULL
		SET @From = CONVERT(VARCHAR(10), GETDATE(), 101)	

	IF @To IS NULL
		SET @To =    DATEADD(dd,1,@From)

	--go back some more days to get some data
	--SET @From = DATEADD(dd, -10, @From)
	
	CREATE TABLE #CurrentSessions (SessionID int,
	LabID int,
	BuildMachine varchar(50),
	Revision varchar(255),
	StatusID int,
	SeComment varchar(1000),
	SeSetups int,
	SeSetupsFinished int,
	FlavorID int,
	TargetArchitectureID int,
	MilestoneID int,
	LocaleSetID int,
	DropPath varchar(1000),
	SessionStarted datetime,
	BuildDate datetime,
	ManuallyStalled datetime,
	Delayed bit,
	SeRawDropAbandoned bit,
	SeLayoutsAbandoned bit,
	LastStep datetime,
	IssueCount int,
	BlockingIssueCount int,
	NonBlockingIssueCount int,
	Stalled int,
	LastError datetime,
	NewErrors int,
	NewStalls int,
	StalledProcesses int,
	BVTDecision bit,
	BVTDecisionDefault bit,
	UserName varchar(50),
	Lab varchar(255),
	BVTLab varchar(255),
	LaOrder int,
	Milestone varchar(50),
	BVTMilestone varchar(50),
	Flavor varchar(50),
	BVTFlavor varchar(50),
	FlOrder int,
	TargetArchitecture varchar(50),
	BVTTargetArchitecture varchar(50),
	Language varchar(50),
	SessionStatus varchar(50),
	StColor varchar(10),
	CaName varchar(50),
	CaColor varchar(50),
	CaOrder int,
	CategoryID int,
	CategoryTypeID int,
	RawBVTs varchar(255),
	RawStatus varchar(50),
	RawLink varchar(255),
	LayoutBVTs varchar(255),
	LayoutStatus varchar(50),
	LayoutLink varchar(255),
	BVTsLastUpdated datetime)

	INSERT INTO #CurrentSessions
	EXEC @RC = [sp_GetStatusOverviewWithTiming_PROD12] 
	   @LabIDs
	  ,@FlavorIDs
	  ,@TargetArchitectureIDs
	  ,@LanguageIDs
	  ,@From
	  ,@To	

	
	SELECT DISTINCT  SessionID, 
								LabID, 
								Lab,
								LaOrder,
								Revision, 
								Flavor, 
								TargetArchitecture, 
								Language, 
								SessionStatus, 
								StColor, 
								BuildMachine, 
								dbo.fn_GetCurrentSessionProcess(cs.SessionID) [CurrentProcess],
								0 IssueCount,
								0 OpenIssueCount,
								0 OpenBlockingIssueCount,
								0 OpenNonBlockingIssueCount,
								0 ClosedIssueCount,
								0 BlockingFixSubmittedCount,
								0 NonBlockingFixSubmittedCount,
								CONVERT(DATETIME, NULL) LastBlockingFixSubmitTime,
								CONVERT(DATETIME, NULL) LastNonBlockingFixSubmitTime,
								CONVERT(BIT, NULL) IsSessionReadyForFixLaunch
	INTO #DistinctSessions
	FROM #CurrentSessions cs
	INNER JOIN dbo.fn_ParseCommaDelimitedList(@LabIDs ) l on l.ItemID = cs.LabID


	--ISSUES
	SELECT s.SessionID,
		i.IssueID,
		dbo.fn_GetIssueCreationProcess(i.IssueID) [IssueCreationProcess], 		
		IsTitle,
		IsAssignedTo, 
		IsPendingOwner, 
		ISPendingSince, 
		IsAssignedBy, 		
		IsDateCreated, 
		IsDateChanged, 
		IsDateClosed,
		IsClosed,
		IsDeleted,
		i.SeverityID,
		SeName
	INTO #CurrentIssues
	FROM #DistinctSessions s 
	INNER JOIN tbl_SessionIssue si on si.SessionID = s.SessionID
	INNER JOIN tbl_Issue i WITH (NOLOCK) on i.IssueID = si.IssueID
	INNER JOIN tlkp_Severity sev on sev.SeverityID = i.SeverityID
	WHERE (@ShowClosedIssues = 1 OR (@ShowClosedIssues = 0 AND IsClosed = 0) AND IsDeleted = 0)

	UPDATE #DistinctSessions
	SET	IssueCount = (SELECT COUNT(1) FROM #CurrentIssues i WHERE i.SessionID = #DistinctSessions.SessionID),
			OpenIssueCount = (SELECT COUNT(1) FROM #CurrentIssues i WHERE i.SessionID = #DistinctSessions.SessionID AND i.IsClosed = 0),
			OpenBlockingIssueCount = (SELECT COUNT(1) FROM #CurrentIssues i WHERE i.SessionID  = #DistinctSessions.SessionID AND i.IsClosed = 0 AND i.SeverityID = 2),
			OpenNonBlockingIssueCount = (SELECT COUNT(1) FROM #CurrentIssues i WHERE i.SessionID  = #DistinctSessions.SessionID AND i.IsClosed = 0 AND i.SeverityID = 1),
			ClosedIssueCount = (SELECT COUNT(1) FROM #CurrentIssues i WHERE i.SessionID  = #DistinctSessions.SessionID AND i.IsClosed = 1)
	

	-- FIXES
	SELECT i.SessionId, f.*, i.SeverityID, i.IsClosed, StName
	INTO #Fixes
	FROM #CurrentIssues i
	INNER JOIN tbl_Fix f WITH (NOLOCK) on f.ISsueID = i.ISsueID
	INNER JOIN tlkp_FixStatus fs WITH (NOLOCK)  on fs.FixStatusID = f.FixStatusID
	INNER JOIN atbl_SessionFix sf WITH (NOLOCK) on sf.SessionID = i.SessionID

	UPDATE #DistinctSessions
	SET BlockingFixSubmittedCount = (SELECT COUNT(1) FROM #Fixes f WHERE f.IsClosed = 0 AND f.SessionID = #DistinctSessions.SessionID AND f.SeverityID = 2 AND f.FixStatusID = 2 ),
		NonBlockingFixSubmittedCount = (SELECT COUNT(1) FROM #Fixes f WHERE f.IsClosed = 0 AND f.SessionID = #DistinctSessions.SessionID AND f.SeverityID = 1 AND f.FixStatusID = 2 ),
		LastBlockingFixSubmitTime = (SELECT MIN(FiSubmittedDate) FROM #Fixes f WHERE f.IsClosed = 0 AND f.SessionID = #DistinctSessions.SessionID AND f.SeverityID = 2 AND f.FixStatusID = 2),
		LastNonBlockingFixSubmitTime = (SELECT MIN(FiSubmittedDate) FROM #Fixes f WHERE f.IsClosed = 0 AND f.SessionID = #DistinctSessions.SessionID AND f.SeverityID = 1 AND f.FixStatusID = 2)
		

	UPDATE #DistinctSessions
		SET IsSessionReadyForFixLaunch = CASE 
															WHEN OpenBlockingIssueCount > 0 AND BlockingFixSubmittedCount >= OpenBlockingIssueCount THEN 1
															WHEN OpenNonBlockingIssueCount > 0 AND NonBlockingFixSubmittedCount >= OpenNonBlockingIssueCount THEN 1
															ELSE 0
														END

	
	

	/* Return Data */
	-- labs
	SELECT DISTINCT 
			LabId, 
			Lab, 
			LaOrder,
			Sessions = (SELECT COUNT(1) FROM #DistinctSessions cs WHERE cs.LabID = s.LabID AND SessionID IN (SELECT SessionID FROM #CurrentIssues )),
			SessionsReadyForFixCount = (SELECT COUNT(1) FROM #DistinctSessions cs WHERE cs.LabID = s.LabID  AND SessionID IN (SELECT SessionID FROM #CurrentIssues ) AND  cs.IsSessionReadyForFixLaunch = 1),
			BlockingFixSubmittedCount = (SELECT SUM(BlockingFixSubmittedCount) FROM #DistinctSessions cs WHERE cs.LabID = s.LabID  AND SessionID IN (SELECT SessionID FROM #CurrentIssues ) ),
			NonBlockingFixSubmittedCount = (SELECT SUM(NonBlockingFixSubmittedCount) FROM #DistinctSessions cs WHERE cs.LabID = s.LabID  AND SessionID IN (SELECT SessionID FROM #CurrentIssues ) ),
			OpenBlockingIssueCount = (SELECT SUM(OpenBlockingIssueCount) FROM #DistinctSessions cs WHERE cs.LabID = s.LabID  AND SessionID IN (SELECT SessionID FROM #CurrentIssues ) ),
			OpenNonBlockingIssueCount = (SELECT SUM(OpenNonBlockingIssueCount) FROM #DistinctSessions cs WHERE cs.LabID = s.LabID  AND SessionID IN (SELECT SessionID FROM #CurrentIssues ) ),
			IssueCount = (SELECT SUM(IssueCount) FROM #DistinctSessions cs WHERE cs.LabID = s.LabID  AND SessionID IN (SELECT SessionID FROM #CurrentIssues ) )

	FROM #DistinctSessions s
	WHERE SessionID IN (SELECT SessionID FROM #CurrentIssues )
	ORDER BY LaOrder		

	--sessions
	SELECT s.* 
	FROM #DistinctSessions s
	WHERE SessionID IN (SELECT SessionID FROM #CurrentIssues )
	

	--issues
	SELECT * FROM #CurrentIssues

	--fixes
	SELECT DISTINCT * FROM #Fixes

	DROP TABLE #CurrentIssues
	DROP TABLE #CurrentSessions
	DROP TABLE #DistinctSessions
	DROP TABLE #Fixes	



END
GO
