USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_MachineAccess]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MachineAccess](
	[MachineAccessID] [int] IDENTITY(1,1) NOT NULL,
	[IssueID] [int] NOT NULL,
	[MachineName] [varchar](100) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[DateTimeStamp] [datetime] NOT NULL,
	[OrgID] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_MachineAccess] ADD  CONSTRAINT [DF_tbl_MachineAccess_DateTimeStamp]  DEFAULT (getdate()) FOR [DateTimeStamp]
GO
ALTER TABLE [dbo].[tbl_MachineAccess] ADD  CONSTRAINT [DF_tbl_MachineAccess_OrgID]  DEFAULT (1) FOR [OrgID]
GO
