USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserMachineList]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[sp_GetUserMachineList]
	(
		@UserName varchar(50)
	)
AS
	SET NOCOUNT ON
	
	SELECT DISTINCT ma.MachineName,  ma.DateTimeStamp, ma.IssueID, i.IsTitle As IssueTitle
	  INTO #Granted
	  FROM tbl_MachineAccess ma WITH (NOLOCK) 
	  JOIN tbl_Issue i ON (ma.IssueID = i.IssueID)
	 WHERE UserName = @UserName
	   AND Status = 'GRANTED'
								     
	SELECT DISTINCT MachineName, MAX(DateTimeStamp) As DateTimeStamp
	  INTO #Revoked
	  FROM tbl_MachineAccess WITH (NOLOCK)
	 WHERE UserName = @UserName
	   AND Status = 'REVOKED'							     
  	GROUP BY MachineName 

	SELECT DISTINCT g.MachineName, g.IssueID, g.IssueTitle
	INTO #StillGranted
	  FROM #Granted g
	 WHERE g.MachineName NOT IN (SELECT MachineName
							   FROM #Revoked r
							  WHERE r.DateTimeStamp > g.DateTimeStamp)
	DROP TABLE #Granted								     
	DROP TABLE #Revoked
	
	SELECT g.MachineName, g.IssueID, g.IssueTitle
	FROM #StillGranted g
	Union All
	SELECT	ServerName, 0, RequestTitle 
	FROM	Launchpad..vw_ActiveLopezResources
	WHERE	UserName = @UserName

	SELECT 
		g.IssueID,
		s.SeRevision BuildNumber,
		l.LaName Branch,
		l.LaShortName BranchShortName,
		t.TaName Architecture,
		f.FlName Flavor
	FROM atbl_SessionIssue si
	INNER JOIN #StillGranted g ON si.IssueID = g.IssueID
	INNER JOIN tbl_Session s ON si.SessionID = s.SessionID
	INNER JOIN tbl_Lab l on s.LabID = l.LabID
	INNER JOIN tlkp_TargetArchitecture t ON s.TargetArchitectureID = t.TargetArchitectureID
	INNER JOIN tlkp_Flavor f ON s.FlavorID = f.FlavorID	

	DROP TABLE #StillGranted
	
	RETURN
GO
