USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_RptNumberOfIssuesPerTeamRolledUpByDate]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_RptNumberOfIssuesPerTeamRolledUpByDate]
	(
		@From datetime,
		@To datetime,
		@Labs varchar(1000),
		@CostCenter int,
		@SeverityIDs varchar(255) = '1,2'
	)
AS
	SET NOCOUNT ON
	
	IF @CostCenter = 0
		BEGIN
			SELECT cc.CostCenterID, cc.CoName As CostCenter, COUNT(DISTINCT i.IssueID) As NumberOfIssues
			  FROM tbl_SessionIssue iss WITH (NOLOCK)
			  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
			  JOIN tbl_Issue i WITH (NOLOCK) ON (iss.IssueID = i.IssueID)
			  JOIN CostCenter..tbl_CostCenter cc WITH (NOLOCK) ON (i.IsCostCenter = cc.CostCenterID)
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID) 
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (i.IssueID = isrc.IssueID)
			  JOIN tlkp_Source src WITH (NOLOCK) ON (isrc.SourceID = src.SourceID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) sv ON (i.SeverityID = sv.ItemID)
			 WHERE DATEDIFF(dd, i.IsDateClosed, @From) <= 0
			   AND DATEDIFF(dd, i.IsDateClosed, @To) >= 0
			   AND i.IsDeleted = 0
			   AND src.SourceID <> 11 -- Not information.
			   AND src.SourceID <> 2 -- Raw Suites
			   AND s.FlavorID NOT IN (5) -- No DAT builds.
			   AND l.VBL = 1
			   AND s.SeRevision NOT LIKE '%_DEL'
		  GROUP BY cc.CostCenterID, cc.CoName

		  UNION
		  
		    -- Issues w/no cost center
			SELECT '99999' As CostCenterID, 'No specific team', COUNT(DISTINCT i.IssueID) As NumberOfIssues
		 	  FROM tlkp_Source src WITH (NOLOCK)
			  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (src.SourceID = isrc.SourceID)
			  JOIN tbl_SessionIssue si WITH (NOLOCK) ON (isrc.IssueID = si.IssueID)
			  JOIN tbl_Session s WITH (NOLOCK) ON (si.SessionID = s.SessionID)	  
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN tbl_Issue i WITH (NOLOCK) ON (si.IssueID = i.IssueID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) sv ON (i.SeverityID = sv.ItemID)
			 WHERE (i.IsCostCenter IS NULL
				OR i.IsCostCenter = ''
				OR i.IsCostCenter NOT IN (SELECT CostCenterID FROM CostCenter..tbl_CostCenter))
			   AND DATEDIFF(dd, i.IsDateClosed, @From) <= 0
			   AND DATEDIFF(dd, i.IsDateClosed, @To) >= 0
			   AND i.IsDeleted = 0
			   AND l.VBL = 1
			   AND isrc.SourceID <> 11 -- Information
			   AND isrc.SourceID <> 2 -- Raw Suites
			   AND s.FlavorID NOT IN (5) -- No DAT builds.
			   AND s.SeRevision NOT LIKE '%_DEL'  
		  ORDER BY cc.CoName

		END
	
	ELSE IF @CostCenter <> 0 AND @CostCenter <> 1
		BEGIN
			SELECT cc.CostCenterID, cc.CoName As CostCenter, COUNT(DISTINCT i.IssueID) As NumberOfIssues
			  FROM tbl_SessionIssue iss WITH (NOLOCK)
			  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
			  JOIN tbl_Issue i WITH (NOLOCK) ON (iss.IssueID = i.IssueID)
			  JOIN CostCenter..tbl_CostCenter cc WITH (NOLOCK) ON (i.IsCostCenter = cc.CostCenterID)
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID) 
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (i.IssueID = isrc.IssueID)
			  JOIN tlkp_Source src WITH (NOLOCK) ON (isrc.SourceID = src.SourceID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) sv ON (i.SeverityID = sv.ItemID)
			 WHERE DATEDIFF(dd, i.IsDateClosed, @From) <= 0
			   AND DATEDIFF(dd, i.IsDateClosed, @To) >= 0
			   AND i.IsCostCenter = @CostCenter		-- Filter by cost center
			   AND i.IsDeleted = 0
			   AND src.SourceID <> 11 -- Not information.
			   AND src.SourceID <> 2 -- Raw Suites
			   AND s.FlavorID NOT IN (5) -- No DAT builds.
			   AND l.VBL = 1
			   AND s.SeRevision NOT LIKE '%_DEL'
		  GROUP BY cc.CostCenterID, cc.CoName

		END	
	
	ELSE IF @CostCenter = 1
		BEGIN
			SELECT '99999' As CostCenterID, 'No specific team' As CostCenter, COUNT(DISTINCT i.IssueID) As NumberOfIssues
		 	  FROM tlkp_Source src WITH (NOLOCK)
			  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (src.SourceID = isrc.SourceID)
			  JOIN tbl_SessionIssue si WITH (NOLOCK) ON (isrc.IssueID = si.IssueID)
			  JOIN tbl_Session s WITH (NOLOCK) ON (si.SessionID = s.SessionID)	  
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN tbl_Issue i WITH (NOLOCK) ON (si.IssueID = i.IssueID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) sv ON (i.SeverityID = sv.ItemID)
			 WHERE (i.IsCostCenter IS NULL
				OR i.IsCostCenter = ''
				OR i.IsCostCenter NOT IN (SELECT CostCenterID FROM CostCenter..tbl_CostCenter))
			   AND DATEDIFF(dd, i.IsDateClosed, @From) <= 0
			   AND DATEDIFF(dd, i.IsDateClosed, @To) >= 0
			   AND i.IsDeleted = 0
			   AND l.VBL = 1
			   AND isrc.SourceID <> 11 -- Information
			   AND isrc.SourceID <> 2 -- Raw Suites
			   AND s.FlavorID NOT IN (5) -- No DAT builds.
			   AND s.SeRevision NOT LIKE '%_DEL'  
		END	

	RETURN 









GO
