USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_MoveUpLabOrder]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE Procedure [dbo].[sp_MoveUpLabOrder]
(
	@LabID int,
	@UserAlias varchar(20)
)
as
/*	Modified by	Date		Change
	***********************************************************
	a-karthp		08/26/2005	Created the sproc
*/
	declare 	@OrgID int,
		@PreviousLabID int,
		@CurrentOrder int,
		@PreviousOrder int,
		@LabLogID int,
		@PreviousLabName varchar(255),
		@CurrentLabName varchar(255),
		@ErrMessage varchar(4000)
	
	--Get OrgID and Current Order
	select 	@OrgID = OrgID, 
		@CurrentOrder = LaOrder,
		@CurrentLabName = LaName
	from	tbl_Lab
	where	LabID = @LabID

	--Get Previous Lab Details
	select 	Top 1 @PreviousLabID = LabID, 
		@PreviousOrder = LaOrder,
		@PreviousLabName = LaName
	from	tbl_Lab
	where	OrgID = @OrgID and LaOrder < @CurrentOrder
	order by LaOrder Desc

	if(@PreviousLabID is not null)	--Ensure the current lab is not already on top
	begin
		
		begin transaction

		set @ErrMessage = 'Updating the previous lab'		
		--Update previous lab
		update 	tbl_Lab
		set	LaOrder = @CurrentOrder
		where	LabID = @PreviousLabID

		if(@@error <> 0) goto on_error

		set @ErrMessage = 'Updating the current lab'		
		--Update current lab
		update 	tbl_Lab
		set	LaOrder = @PreviousOrder
		where	LabID = @LabID

		if(@@error <> 0) goto on_error

		set @ErrMessage = 'Adding a change log'		
		--Insert a log 
		insert into tbl_LabLog (LabID, LlUserAlias)
		values (@LabID, @UserAlias)
	
		set @LabLogID = @@identity

		insert into tbl_LabLogText 
		values(@LabLogID,'Lab moved above "' + @PreviousLabName + '" in display order')

		--Insert a log 
		insert into tbl_LabLog (LabID, LlUserAlias)
		values (@PreviousLabID, @UserAlias)
	
		set @LabLogID = @@identity

		insert into tbl_LabLogText 
		values(@LabLogID,'Lab moved below "' + @CurrentLabName + '" in display order')

		if(@@error <> 0) goto on_error

		commit transaction
	end

	return

on_error:
	rollback transaction
	set @ErrMessage = 'ERROR : sp_MoveUpLabOrder - ' + @ErrMessage
	raiserror(@ErrMessage, 16, 1)	
	return
GO
