USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_CloneProduct]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_CloneProduct]
(
	@ProductID int,
	@ShortName varchar(10),
	@Name varchar(50)
)
AS
	SET NOCOUNT ON
	DECLARE @NewSchemaID int
	DECLARE @NewProductID int

	SELECT @NewProductID = MAX(ProductID) + 1
	  FROM tbl_Product

	EXEC sp_CloneSchemaForNewProduct @ProductID, @NewProductID, @NewSchemaID OUTPUT


	INSERT
	  INTO tbl_Product (ProductID, PrShortName, PrName, SchemaID, OrgID)
	SELECT @NewProductID, @ShortName, @Name, @NewSchemaID, OrgID
	  FROM tbl_Product 
	 WHERE ProductID = @ProductID


	SELECT @NewProductID As NewProductID, @NewSchemaID As NewSchemaID
	RETURN 


GO
