USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSessionGroupProcessStatusAsStarted]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateSessionGroupProcessStatusAsStarted]
	(
		@SessionGroupProcessStatusID int,
		@StatusID int,
		@StartDateTime datetime
	)
AS
	SET NOCOUNT ON
	
	UPDATE tbl_SessionGroupProcessStatus WITH (ROWLOCK)
	   SET StatusID = @StatusID,
		   ProcessStarted = @StartDateTime
	 WHERE SessionGroupProcessStatusID = @SessionGroupProcessStatusID
	
	RETURN 
GO
