USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_LogSetupFinished]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- sp_LogSetupFinished
CREATE PROCEDURE [dbo].[sp_LogSetupFinished]
	(
		@Revision varchar(50),
		@LabShortName varchar(50),
		@ProductShortName varchar(10),
		@MilestoneShortName varchar(10),
		@FlavorShortName varchar(10),
		@TargetArchitectureShortName varchar(10),
		@SetupFinished varchar(255),
		@LogDateTime datetime = NULL,
		@MachineName varchar(50)
	)
AS
	BEGIN TRANSACTION
		DECLARE	@SessionID int
		DECLARE @SchemaID int
		-- SessionID and SchemaID.
		EXEC sp_GetSessionID @Revision, @LabShortName, @ProductShortName, @MilestoneShortName, @FlavorShortName, @TargetArchitectureShortName, @LogDateTime, @MachineName, @SessionID OUTPUT, @SchemaID OUTPUT
		SELECT @SessionID As SessionID
		IF @SessionID IS NULL
			BEGIN
				RAISERROR ('A session could not be found or created.', 16, 1, @Revision)
				GOTO on_err
			END
		-- Reset the stalled value.
		UPDATE tbl_Session
		   SET SeManuallyStalled = NULL,
			   SeDelayed = 0,
		       SeComment = NULL
		 WHERE SessionID = @SessionID
		
		SELECT 1
		  FROM tbl_SessionSetup
		 WHERE SessionID = @SessionID
		   AND Setup = @SetupFinished
			
		IF @@ROWCOUNT <> 0
			UPDATE tbl_SessionSetup
			   SET SetupFinished = @LogDateTime
			 WHERE SessionID = @SessionID
			   AND Setup = @SetupFinished
				
		-- If it hasn't reported yet, add it to the table and update 
		-- the number of total setups finished.       
		ELSE
			BEGIN
				INSERT 
				  INTO tbl_SessionSetup (SessionID, Setup, SetupFinished)
				VALUES (@SessionID, @SetupFinished, @LogDateTime)
			
				UPDATE tbl_Session
				   SET SeSetupsFinished = SeSetupsFinished + 1
				 WHERE SessionID = @SessionID 
				 
			END   
	
		IF @@ERROR <> 0
			BEGIN
				RAISERROR ('A log entry was not created.', 16, 1, @Revision)
				GOTO on_err
			END

	COMMIT TRANSACTION
	RETURN 
	
	on_err:
	ROLLBACK TRANSACTION
	RETURN 
		


GO
