USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_CompleteFix]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[up_CompleteFix]
(
	@FixID int,
	@SessionID int,
	@CompletedTime datetime,
	@Success bit,
	@User varchar(50),
	@ImpersonatingUser varchar(50),
	@IP varchar(50)
)
AS
BEGIN
	/*********************
	DESCRIPTION
		Marks a fix as starting
	*********************/

	DECLARE @FixStatusID INT
	IF @Success = 1
		SET @FixStatusID = 5 --Completed 
	ELSE
		SET @FixStatusID = 6 --Failed
		
	UPDATE  tbl_SessionFix
	SET     SfCompletedTime = @CompletedTime,
		    FixStatusID = @FixStatusID
	WHERE   FixID = @FixID
    AND     SessionID = @SessionID
	
	DECLARE @Log AS VARCHAR(255)
    SELECT  @Log = 'COMPLETED: ' + StName
    FROM    tlkp_FixStatus
    WHERE   FixStatusID = @FixStatusID
	exec up_AddFixLog  @FixID = @FixID, 
                            @SessionID = @SessionID, 
							@LogText = @Log , 
							@LogDateTime = @CompletedTime,
							@User = @User,
							@ImpersonatingUser = @ImpersonatingUser,
							@IP = @IP

	SELECT  DATEDIFF(mi, SfStartTime, SfCompletedTime) ElapsedMinutes
	FROM    tbl_SessionFix
	WHERE   FixID = @FixId
    AND     SessionID = @SessionID
END






GO
