USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLabIDByBranchCode]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLabIDByBranchCode]
(
	@Branch varchar(500)
)
AS
	SET NOCOUNT ON
	
	SELECT LabID
	  FROM tbl_Lab
	  WITH (NOLOCK)
	 WHERE LaBranch = @Branch
	
	RETURN 
GO
