USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_UpdateSessionCanRecycle]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_UpdateSessionCanRecycle]
(
	@SessionID int,
	@CanRecycle bit,
    @User nvarchar(50) = NULL
)
AS
	SET NOCOUNT ON
	
    UPDATE tbl_Session
       SET SeCanRecycle = @CanRecycle
     WHERE SessionID = @SessionID

    DECLARE @Log NVARCHAR(MAX)
    SET     @Log = 'Make build CanRecylce: ' + CAST(@CanRecycle AS NVARCHAR(2))
    EXEC sp_LogSessionChange @SessionID, @User, @Log
	
RETURN





GO
