USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_UpdateIssueTriage]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_UpdateIssueTriage]
(
	@IssueID int,
	@TriageID int
)
AS
	SET NOCOUNT ON

	UPDATE tbl_Issue WITH (ROWLOCK)
	   SET TriageID = @TriageID
	 WHERE IssueID = @IssueID
	
	RETURN
GO
