USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_MntrStallDetect]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MntrStallDetect]
AS

BEGIN
	SET NOCOUNT ON;

	DECLARE @Err varchar(4000)
	DECLARE @CategoryID INT
	DECLARE @WarningCategoryID INT
	DECLARE @ErrorCategoryID INT
	DECLARE @IssueID INT
	DECLARE @MoreLog varchar(4000)
	DECLARE @DefaultMinutesStallThreshold INT
	DECLARE	@CreateStallIssue BIT
	DECLARE	@DefaultStdDevThresholdMultiple FLOAT

	SET		@DefaultStdDevThresholdMultiple = 2.0
	SET		@DefaultMinutesStallThreshold = 10
	SET		@WarningCategoryID = 4 
	SET		@ErrorCategoryID = 3

	-- Get all the sessions.
	SELECT	s.SessionID, s.LabID, s.FlavorID, s.TargetArchitectureID, s.LocaleSetID, s.SeBuildMachine
	INTO	#Session
	FROM	tbl_Session s WITH (NOLOCK)
	JOIN	tbl_Lab l WITH (NOLOCK)
			ON (s.LabID = l.LabID)
	WHERE	(DATEDIFF(dd, s.SeBuildDate, GetDate()) <= 0 -- Today and future's build
	OR		(s.StatusID = 2 -- In Progress
	AND		DATEDIFF(dd, s.SeBuildDate, GetDate()) <= 5))
	AND		l.LaStatus = 1
	AND		s.StatusID <> 8
	AND		s.StatusID <> 11

	-- Now, we get all the sessiongroupprocessids involved. 
	SELECT	DISTINCT s.SessionID, sgp.PrName, sg.GrName, sgps.ProcessStarted, sgps.SessionGroupProcessStatusID, sgs.SessionGroupStatusID, s.SeBuildMachine, 
			COALESCE(sr.StdDevThresholdMultiple, @DefaultStdDevThresholdMultiple) AS ThresholdMultiple, 
			COALESCE(sr.MinimumStallInMinutes, @DefaultMinutesStallThreshold) AS MinimumStallInMinutes,
			COALESCE(sr.CreateStallIssue, 0) AS CreateStallIssue
	INTO	#Processes
	FROM	#Session s
	JOIN	tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
				ON (s.SessionID = sgps.SessionID)
	JOIN	tbl_SchemaGroupProcess sgp WITH (NOLOCK)
				ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID)
	JOIN	tbl_SchemaGroup sg WITH (NOLOCK)
				ON (sgp.SchemaGroupID = sg.SchemaGroupID)
	JOIN	tbl_SessionGroupStatus sgs WITH (NOLOCK)
				ON (sg.SchemaGroupID = sgs.SchemaGroupID AND sgs.SessionID = s.SessionID)
	OUTER APPLY (SELECT TOP 1 * 
				 FROM dbo.tbl_StallRule WITH (NOLOCK) 
				 WHERE sg.GrName = GroupName AND sgp.PrName LIKE ProcessNameMatchString
				 ORDER BY SortOrder) sr
	WHERE	sgps.ProcessStarted IS NOT NULL
	AND		sgps.ProcessFinished IS NULL
	AND		sgps.Stalled = 0
	AND		sgps.Skip = 0
	AND		(sgps.StatusID = 2 OR sgps.StatusID = 9) -- In Progress or Rebuilding.
	AND		sgps.SessionGroupProcessStatusID NOT IN (SELECT	lg.SessionGroupProcessStatusID
													 FROM	tbl_Log lg WITH (NOLOCK)
													 JOIN	#Session sessions
																ON (lg.SessionID = sessions.SessionID)													 
													WHERE	lg.CategoryID IN (@WarningCategoryID, @ErrorCategoryID)
													 AND	lg.LoLog = 'Stalled')
	SELECT	p.*, pbt.AvgBuildTime
	INTO	#StalledProcesses
	FROM	#Processes p
	JOIN	#Session s 
				ON (p.SessionID = s.SessionID)
	JOIN	tbl_ProcessBuildTime pbt WITH (NOLOCK) 
				ON (pbt.PrName = p.PrName 
					AND pbt.GrName = p.GrName
					AND pbt.LabID = s.LabID 
					AND pbt.FlavorID = s.FlavorID 
					AND pbt.TargetArchitectureID = s.TargetArchitectureID
					AND pbt.LocaleSetID = s.LocaleSetID) 	
	WHERE	(DATEDIFF(mi, p.ProcessStarted, GetDate()) - pbt.AvgBuildTime) >= p.MinimumStallInMinutes
	AND		(DATEDIFF(mi, p.ProcessStarted, GetDate())) > (pbt.AvgBuildTime + (pbt.StdDevBuildTime * p.ThresholdMultiple) ) -- Been running for more than 10 minutes, and overdue.
	AND		p.ThresholdMultiple > 0 -- Disable stall rule if ThresholdPercentage is 0

	-- Mark stalled processes where the process has been stalled for at least 10 minutes
	-- and greater than 35% of it's average.
	SELECT @Err = 'Marking the stalled proccesses as such.'

    -- Finally, let's create the proper log records for this stall warning.
	DECLARE Cursor_SGPSID CURSOR FOR
	SELECT SessionGroupProcessStatusID, CreateStallIssue
	  FROM #StalledProcesses
	
	OPEN Cursor_SGPSID
	DECLARE @ThisSGPSID int
	DECLARE @NewLogID bigint	

	FETCH NEXT FROM Cursor_SGPSID INTO @ThisSGPSID, @CreateStallIssue
	WHILE (@@FETCH_STATUS <> -1)
		BEGIN
			IF (@@FETCH_STATUS <> -2)
				BEGIN
					BEGIN TRANSACTION	

					UPDATE	tbl_SessionGroupProcessStatus WITH(ROWLOCK)
					SET		Stalled = 1
					WHERE	SessionGroupProcessStatusID = @ThisSGPSID

					IF @@ERROR <> 0 GOTO on_err	
					
					IF (@CreateStallIssue = 1)
						SET	@CategoryID = @ErrorCategoryID
					ELSE
						SET	@CategoryID = @WarningCategoryID
				
					SET		@MoreLog = ''
					SET		@IssueID = NULL
					
					SELECT  TOP 1 @IssueID = ile.IssueID
					FROM	dbo.tbl_Log l WITH(NOLOCK)
					JOIN	dbo.atbl_IssueLogError ile WITH(NOLOCK)
							ON	l.LogEntryID = ile.LogEntryID
					WHERE l.SessionGroupProcessStatusID = @ThisSGPSID
					IF (@IssueID IS NOT NULL)
					BEGIN
						-- Use warning instead of error if there is an existing blocking issue according to bug# 829250
						SET @CategoryID = 4 -- Stall Warning
						SET @MoreLog = ' Setting this to warning rather than error is because there is an existing issue# ' + CAST(@IssueID AS VARCHAR(20)) + ' already created.'
					END

					-- Create the log entry.
					SELECT @Err = 'Adding the log entry.'
					INSERT
					INTO	tbl_Log (SessionID, CategoryID, LoDateTimeStamp, LoDateTimeLogged, LoLog, LoMachineName, SessionGroupStatusID, SessionGroupProcessStatusID)
					SELECT	p.SessionID, @CategoryID, GetDate(), GetDate(), SubString('Stall warning - ' + sg.GrName + ':' + sgp.PrName  + ' average build time is ' + CONVERT(varchar(20), p.AvgBuildTime) + ' minute(s).' + @MoreLog, 1, 255), sgp.MachineName, p.SessionGroupStatusID, p.SessionGroupProcessStatusID
					FROM	#StalledProcesses p
					JOIN	tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
							ON (p.SessionGroupProcessStatusID = sgps.SessionGroupProcessStatusID)
					JOIN	tbl_SchemaGroupProcess sgp WITH (NOLOCK)
							ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID)
					JOIN	tbl_SchemaGroup sg WITH (NOLOCK)
							ON (sgp.SchemaGroupID = sg.SchemaGroupID)

					WHERE	p.SessionGroupProcessStatusID = @ThisSGPSID			
					IF @@ERROR <> 0 GOTO on_err		

					SELECT @NewLogID = @@IDENTITY

					-- Create the log error entry.
					SELECT @Err = 'Adding the log error entry.'
					INSERT 
  					INTO	tbl_LogError (LogEntryID, SessionID, CategoryID, IsStall)
					SELECT	@NewLogID, p.SessionID, @CategoryID, 1
					FROM	#StalledProcesses p
					WHERE	p.SessionGroupProcessStatusID = @ThisSGPSID		
					IF @@ERROR <> 0 GOTO on_err		
			
					COMMIT TRANSACTION

				END
			FETCH NEXT FROM Cursor_SGPSID INTO @ThisSGPSID, @CreateStallIssue
		END
	CLOSE Cursor_SGPSID
	DEALLOCATE Cursor_SGPSID	
   

	DROP TABLE #Session
	DROP TABLE #Processes
	DROP TABLE #StalledProcesses
	RETURN 
	
	on_err:
		IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		SELECT @Err = 'ERROR: sp_MntrStallDetect - ' + @Err
		RAISERROR (@Err , 16, 1)

END
GO
