USE [LabStatus]
GO
/****** Object:  Table [dbo].[branchtoolsdata.logrecords]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[branchtoolsdata.logrecords](
	[Date] [datetime] NULL,
	[Week] [datetime] NULL,
	[Month] [int] NULL,
	[User] [varchar](16) NULL,
	[Target] [varchar](76) NULL,
	[Succeeded] [bit] NULL,
	[Version] [real] NULL,
	[Branch] [varchar](52) NULL,
	[SourceControl] [varchar](28) NULL,
	[Source] [varchar](46) NULL,
	[BranchPrefix] [varchar](32) NULL,
	[FirstError] [text] NULL,
	[FirstWarning] [text] NULL,
	[File] [varchar](2000) NULL,
	[TfsError] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
