USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_Session]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Session](
	[SessionID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[MilestoneID] [int] NOT NULL,
	[LabID] [int] NOT NULL,
	[SchemaID] [int] NOT NULL,
	[FlavorID] [int] NOT NULL,
	[TargetArchitectureID] [int] NOT NULL,
	[LocaleSetID] [int] NULL,
	[SeRevision] [varchar](100) NULL,
	[StatusID] [int] NULL,
	[SeStarted] [datetime] NULL,
	[SeFinished] [datetime] NULL,
	[SeLockDown] [bit] NULL,
	[SeOverrideETA] [datetime] NULL,
	[SeOverridePercentComplete] [int] NULL,
	[SeComment] [varchar](1000) NULL,
	[SeSetups] [int] NULL,
	[SeSetupsFinished] [int] NULL,
	[SeDropPath] [varchar](1000) NULL,
	[SeBuildMachine] [varchar](100) NULL,
	[SeBuildDate] [datetime] NULL,
	[SeManuallyStalled] [datetime] NULL,
	[SeManuallyStalledStep] [varchar](50) NULL,
	[SeDelayed] [bit] NULL,
	[SeRawDropAbandoned] [bit] NULL,
	[SeLayoutsAbandoned] [bit] NULL,
	[SeTestBuild] [bit] NOT NULL,
	[ResumeStatusID] [int] NULL,
	[SeCanRecycle] [bit] NOT NULL,
	[SeRunFixScheduled] [bit] NOT NULL,
	[SeResumeStep] [varchar](50) NULL,
	[SeLastStalledSessionGroupProcessStatusID] [int] NULL,
	[SeStalledShort] [bit] NOT NULL,
	[SeStalledLong] [bit] NOT NULL,
	[SeBuildDetailUrl] [varchar](256) NULL,
	[BugDatabaseID] [int] NULL,
	[SeJobName] [varchar](256) NULL,
	[SeRealSigned] [bit] NOT NULL,
	[SeValidationBuild] [bit] NOT NULL,
	[SeTeamProjectUrl] [varchar](500) NULL,
 CONSTRAINT [PK_tbl_Session] PRIMARY KEY NONCLUSTERED 
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Session] ADD  CONSTRAINT [DF_tbl_Session_TargetArchitectureID]  DEFAULT (1) FOR [TargetArchitectureID]
GO
ALTER TABLE [dbo].[tbl_Session] ADD  CONSTRAINT [DF_tbl_Session_SeSetups]  DEFAULT (0) FOR [SeSetups]
GO
ALTER TABLE [dbo].[tbl_Session] ADD  CONSTRAINT [DF_tbl_Session_SeSetupsFinished]  DEFAULT (0) FOR [SeSetupsFinished]
GO
ALTER TABLE [dbo].[tbl_Session] ADD  CONSTRAINT [DF_tbl_Session_SeDelayed]  DEFAULT (0) FOR [SeDelayed]
GO
ALTER TABLE [dbo].[tbl_Session] ADD  CONSTRAINT [DF_tbl_Session_SeRawDropAbandoned_1]  DEFAULT (0) FOR [SeRawDropAbandoned]
GO
ALTER TABLE [dbo].[tbl_Session] ADD  CONSTRAINT [DF_tbl_Session_SeLayoutsAbandoned_1]  DEFAULT (0) FOR [SeLayoutsAbandoned]
GO
ALTER TABLE [dbo].[tbl_Session] ADD  CONSTRAINT [DF_tbl_Session_SeTestBuild]  DEFAULT ((0)) FOR [SeTestBuild]
GO
ALTER TABLE [dbo].[tbl_Session] ADD  CONSTRAINT [DF_tbl_Session_SeCanRecycle]  DEFAULT ((1)) FOR [SeCanRecycle]
GO
ALTER TABLE [dbo].[tbl_Session] ADD  CONSTRAINT [DF_tbl_Session_SeRunFixScheduled]  DEFAULT ((0)) FOR [SeRunFixScheduled]
GO
ALTER TABLE [dbo].[tbl_Session] ADD  CONSTRAINT [DF_tbl_Session_SeStalledShort]  DEFAULT ((0)) FOR [SeStalledShort]
GO
ALTER TABLE [dbo].[tbl_Session] ADD  CONSTRAINT [DF_tbl_Session_SeStalledLong]  DEFAULT ((0)) FOR [SeStalledLong]
GO
ALTER TABLE [dbo].[tbl_Session] ADD  CONSTRAINT [DF_tbl_Session_SeRealSigned]  DEFAULT ((0)) FOR [SeRealSigned]
GO
ALTER TABLE [dbo].[tbl_Session] ADD  DEFAULT ((0)) FOR [SeValidationBuild]
GO
ALTER TABLE [dbo].[tbl_Session] ADD  DEFAULT (NULL) FOR [SeTeamProjectUrl]
GO
ALTER TABLE [dbo].[tbl_Session]  WITH NOCHECK ADD  CONSTRAINT [FK_tbl_Session_tbl_Lab] FOREIGN KEY([LabID])
REFERENCES [dbo].[tbl_Lab] ([LabID])
GO
ALTER TABLE [dbo].[tbl_Session] CHECK CONSTRAINT [FK_tbl_Session_tbl_Lab]
GO
ALTER TABLE [dbo].[tbl_Session]  WITH NOCHECK ADD  CONSTRAINT [FK_tbl_Session_tbl_Milestone] FOREIGN KEY([MilestoneID])
REFERENCES [dbo].[tbl_Milestone] ([MilestoneID])
GO
ALTER TABLE [dbo].[tbl_Session] CHECK CONSTRAINT [FK_tbl_Session_tbl_Milestone]
GO
ALTER TABLE [dbo].[tbl_Session]  WITH NOCHECK ADD  CONSTRAINT [FK_tbl_Session_tbl_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[tbl_Product] ([ProductID])
GO
ALTER TABLE [dbo].[tbl_Session] CHECK CONSTRAINT [FK_tbl_Session_tbl_Product]
GO
ALTER TABLE [dbo].[tbl_Session]  WITH NOCHECK ADD  CONSTRAINT [FK_tbl_Session_tbl_Schema] FOREIGN KEY([SchemaID])
REFERENCES [dbo].[tbl_Schema] ([SchemaID])
GO
ALTER TABLE [dbo].[tbl_Session] CHECK CONSTRAINT [FK_tbl_Session_tbl_Schema]
GO
ALTER TABLE [dbo].[tbl_Session]  WITH NOCHECK ADD  CONSTRAINT [FK_tbl_Session_tbl_SessionGroup] FOREIGN KEY([LabID], [LocaleSetID], [SeRevision])
REFERENCES [dbo].[tbl_SessionGroup] ([LabID], [LocaleSetID], [Revision])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[tbl_Session] NOCHECK CONSTRAINT [FK_tbl_Session_tbl_SessionGroup]
GO
ALTER TABLE [dbo].[tbl_Session]  WITH NOCHECK ADD  CONSTRAINT [FK_tbl_Session_tlkp_Flavor] FOREIGN KEY([FlavorID])
REFERENCES [dbo].[tlkp_Flavor] ([FlavorID])
GO
ALTER TABLE [dbo].[tbl_Session] CHECK CONSTRAINT [FK_tbl_Session_tlkp_Flavor]
GO
ALTER TABLE [dbo].[tbl_Session]  WITH NOCHECK ADD  CONSTRAINT [FK_tbl_Session_tlkp_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[tlkp_Status] ([StatusID])
GO
ALTER TABLE [dbo].[tbl_Session] CHECK CONSTRAINT [FK_tbl_Session_tlkp_Status]
GO
ALTER TABLE [dbo].[tbl_Session]  WITH CHECK ADD  CONSTRAINT [FK_tlkp_FixStatus_tbl_Session] FOREIGN KEY([ResumeStatusID])
REFERENCES [dbo].[tlkp_FixStatus] ([FixStatusID])
GO
ALTER TABLE [dbo].[tbl_Session] CHECK CONSTRAINT [FK_tlkp_FixStatus_tbl_Session]
GO
