USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLatestBuild]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLatestBuild]
(
	@LabID int,
	@Revision varchar(50)
)
AS
	SET NOCOUNT ON
	
	SELECT TOP 1 SeBuildDate
	  FROM tbl_Session WITH (NOLOCK)
	 WHERE LabID = @LabID 
	   AND SeRevision = @Revision
	   AND LocaleSetID = 1
  ORDER BY SessionID DESC
  
	   
	
	RETURN 

GO
