USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddNewCostCenter]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddNewCostCenter]
(
	@CostCenterID int
)
AS
	SET NOCOUNT ON
	
	INSERT 
	  INTO Feedstore..tbl_CostCenter (CostCenterCode, CostCenterIntCode)
	VALUES (CONVERT(varchar(10), @CostCenterID), @CostCenterID)
	
	RETURN 

GO
