USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_CloseIssue]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CloseIssue]
(
	@IssueID int,
	@IsAutoClosed bit = 0,
	@ClosedIssueID int = NULL OUTPUT
)
AS
	SET NOCOUNT ON
	BEGIN TRY
	    DECLARE @IsClosed int
	    SELECT @IsClosed = IsClosed
			FROM tbl_Issue WITH (NOLOCK)
			WHERE IssueId = @IssueID
		
		-- Return if the issue is already closed.
		IF @IsClosed = 1
			BEGIN
				SELECT @ClosedIssueID = @IssueID
				RETURN
			END
			
		BEGIN TRANSACTION
		UPDATE tbl_Issue WITH (ROWLOCK)
			SET IsClosed = 1,
				IsPendingOwner = NULL,
				IsPendingSince = NULL,
				IsAssignedBy = NULL,
				IsAutoOpenIssues = 1,
				IsAutoClosed = @IsAutoClosed
			WHERE IssueID = @IssueID
			IF (@@ROWCOUNT = 0) GOTO on_error

		-- Check if the date/time closed should be updated.
		DECLARE @DateTimeClosed datetime
		SELECT @DateTimeClosed = (SELECT IsDateClosed
								   FROM tbl_Issue
								  WHERE IssueID = @IssueID)
		IF @DateTimeClosed IS NULL
			BEGIN
				UPDATE tbl_Issue WITH (ROWLOCK)
				   SET IsDateClosed = GetDate()
				 WHERE IssueID = @IssueID
				 IF (@@ROWCOUNT  = 0) GOTO on_error
			END
	
		-- Revoke access to the build machine if necessary.
		DECLARE @Machine varchar(50)
		SELECT @Machine = IsMachineName 
		  FROM tbl_Issue WITH (NOLOCK)
		 WHERE IssueID = @IssueID
		DECLARE @AssignedTo varchar(30)
		SELECT @AssignedTo = IsAssignedTo
		  FROM tbl_Issue WITH (NOLOCK)
		 WHERE IssueID = @IssueID
	 
		IF @Machine IS NOT NULL AND @AssignedTo IS NOT NULL
			BEGIN
				EXEC sp_RevokeMachineAccess @IssueID, @Machine, @AssignedTo
				IF @@ERROR <> 0 GOTO on_error
			END
	
		-- Return the issueid.
		SELECT @ClosedIssueID = @IssueID
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
		SELECT  
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_SEVERITY() AS ErrorSeverity  
        ,ERROR_STATE() AS ErrorState  
        ,ERROR_PROCEDURE() AS ErrorProcedure  
        ,ERROR_LINE() AS ErrorLine  
        ,ERROR_MESSAGE() AS ErrorMessage;
	END CATCH
	RETURN

	on_error:
		ROLLBACK TRANSACTION
		SELECT @ClosedIssueID = NULL
	RETURN
GO
