USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOpenIssueStatistics]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetOpenIssueStatistics]
AS

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

declare @BuildDl varchar(50)
select @BuildDl = OrBuildDL from tbl_Org where OrgID = 1

declare @BaRsDl varchar(50)
set @BaRsDl = 'barsd'

declare @DDBuildMembers table (Account_Name varchar(100) PRIMARY KEY)
insert into @DDBuildMembers
select distinct ca.account_name
from IdentityStore.dbo.tbl_security_identity_cache c
join IdentityStore.dbo.tbl_security_membership_cache m on c.tf_id = m.container_id
join IdentityStore.dbo.tbl_security_identity_cache ca on m.member_id = ca.tf_id
where (c.account_name = @BuildDl OR c.account_name = @BaRsDl) and m.active = 1

SELECT *
FROM 
(
SELECT 
    L.LabID,
    L.LaOrder,
    L.LaShortName, 
    S.SessionID,
    S.SeRevision, 
    S.SeStarted,
    S.SeFinished,
    A.TaName,
    F.FlName,
    '' AS LoName, 
    
    SUM(CASE    
            --Stalls are treated separately
            WHEN I.IsStall = 1 THEN 0 
                
            --If it's pending to the lab show it immediately
            WHEN ISNULL(I.IsPendingOwner, '') = @BuildDl THEN 1 
             
            --If it's assigned to the lab and isn't in the process of being re-assigned show it
            WHEN I.IsAssignedTo = @BuildDl AND NULLIF(NULLIF(I.IsPendingOwner, ''), @BuildDl) IS NULL THEN 1 

            --If an issue is assigned to or pending to a builder and hasn't been touched in 1 hour (or 7 days for machine access issues) show it
            WHEN BM.account_name IS NOT NULL AND (I.IsPendingOwner IS NULL OR BMP.Account_Name IS NOT NULL)
                AND IL.LastLogEntryCreated < DATEADD(hh, -1 * CASE WHEN I.IsMachineAccessOnly = 0 THEN 1 ELSE 24 * 7 END, GetDate()) THEN 1 

            ELSE 0 END) AS LabIssueCount, 

    SUM(CASE    
            --Stalls are treated separately
            WHEN I.IsStall = 1 THEN 0 
                
            --If it's pending to the lab show it immediately
            WHEN ISNULL(I.IsPendingOwner, '') = @BaRsDl THEN 1 
             
            --If it's assigned to the lab and isn't in the process of being re-assigned show it
            WHEN I.IsAssignedTo = @BaRsDl AND NULLIF(NULLIF(I.IsPendingOwner, ''), @BaRsDl) IS NULL THEN 1 

            ELSE 0 END) AS VSBFDIssueCount, 
             
    SUM(CASE 
            --Stalls are treated separately
            WHEN I.IsStall = 1 THEN 0
            
            --If it's assigned or pending to the build lab or assigned to a builder don't show it
            WHEN I.IsAssignedTo = @BuildDl OR ISNULL(I.IsPendingOwner, '') = @BuildDl OR BM.account_name IS NOT NULL OR BMP.Account_Name IS NOT NULL THEN 0
            
            --If it's assigned or pending to the vsbfd.
            WHEN I.IsAssignedTo = @BaRsDl OR ISNULL(I.IsPendingOwner, '') = @BaRsDl OR BM.account_name IS NOT NULL OR BMP.Account_Name IS NOT NULL THEN 0

            --If the issue has been touched in the last 12 hours (or 7 days for machine access issues) don't show it
            WHEN IL.LastLogEntryCreated > DATEADD(hh, -1 * CASE WHEN I.IsMachineAccessOnly = 0 THEN 12 ELSE 24 * 7 END, GetDate()) THEN 0
            
            --Otherwise show it
            ELSE 1 END) AS OtherIssueCount,
    
    SUM(CASE
            --Not a stall? Don't show it.
            WHEN I.IsStall = 0 THEN 0
            
            --If it's pending to the lab show it immediately
            WHEN ISNULL(I.IsPendingOwner, '') = @BuildDl THEN 1 
             
            --If it's assigned to the lab and isn't in the process of being re-assigned show it
            WHEN I.IsAssignedTo = @BuildDl AND NULLIF(NULLIF(I.IsPendingOwner, ''), @BuildDl) IS NULL THEN 1 
             
            --If an issue is assigned to or pending to a builder and hasn't been touched in 1 hour (or 7 days for machine access issues) show it
            WHEN BM.account_name IS NOT NULL AND (I.IsPendingOwner IS NULL OR BMP.Account_Name IS NOT NULL)
                AND IL.LastLogEntryCreated < DATEADD(hh, -1 * CASE WHEN I.IsMachineAccessOnly = 0 THEN 1 ELSE 24 * 7 END, GetDate()) THEN 1 

            ELSE 0 END) AS StallIssueCount
FROM 
    tbl_Issue I
    INNER JOIN atbl_SessionIssue SI ON I.IssueID = SI.IssueID
    INNER JOIN tbl_Session S ON SI.SessionID = S.SessionID
    INNER JOIN tbl_Lab L ON S.LabID = L.LabID
    INNER JOIN tlkp_Flavor F ON S.FlavorID = F.FlavorID
    INNER JOIN tlkp_TargetArchitecture A ON S.TargetArchitectureID = A.TargetArchitectureID
    INNER JOIN tbl_Milestone M ON L.MilestoneID = M.MilestoneID
    LEFT OUTER JOIN @DDBuildMembers BM ON I.IsAssignedTo = BM.account_name
    LEFT OUTER JOIN @DDBuildMembers BMP ON I.IsPendingOwner = BMP.account_name
    LEFT OUTER LOOP JOIN (
        SELECT IL.IssueID, MAX(IL.LoDateCreated) AS LastLogEntryCreated
        FROM tbl_IssueLog IL
        WHERE LoCreatedBy != ''
        GROUP BY IL.IssueID
    ) IL ON I.IssueID = IL.IssueID
WHERE 
    I.IsClosed = 0
    AND I.IsDeleted = 0
    AND I.IsTest = 0
    AND I.OrgID = 1
    AND L.LaStatus = 1
    AND (S.SeJobName NOT LIKE '%static analysis%' OR S.SeJobName IS NULL)
    AND M.MiShortName != 'VAL'
GROUP BY 
    L.LabId,
    L.LaShortName, 
    L.LaOrder,
    S.SessionID,
    S.SeStarted,
    S.SeFinished,
    S.SeRevision,
    A.TaName,
    F.FlName
) I
WHERE LabIssueCount > 0 OR OtherIssueCount > 0 OR StallIssueCount > 0 OR VSBFDIssueCount > 0
ORDER BY 
    LaOrder,
    SeRevision DESC,
    TaName,
    FlName,
    LoName
GO
