USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_TeamStats_GetLabCount]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[up_TeamStats_GetLabCount]
AS
/* Previously, I was just selecting * from tbl_Lab. However, this includes labs that don't have
builds actually going on for them (and possibly never did). Turns out there are alot of these.
So instead, we use this more expensive query that looks at the session table and finds out
the distinct number of labs built for until the current time */

select COUNT (distinct LabID)
from tbl_Session s (nolock)
where SeStarted <= getdate()



-- OLD VERSION:
--select count(*) from tbl_Lab
GO
