USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLatestBuildWithLocale]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLatestBuildWithLocale]
(
	@LabID int,
	@Revision varchar(50),
	@LocaleSetID int
)
AS
	SET NOCOUNT ON
	
	SELECT TOP 1 SeBuildDate
	  FROM tbl_Session
	 WHERE LabID = @LabID 
	   AND SeRevision = @Revision
	   AND LocaleSetID = @LocaleSetID
  ORDER BY SessionID DESC
  
	   
	
	RETURN 

GO
