USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionLogs]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSessionLogs]
(
	@SessionID int,
	@CategoryIDs varchar(255)
)
AS
	SET NOCOUNT ON
	
	SELECT l.*, lgd.LoExtendedLog, p.PrName, c.CaName, c.CaShortName, c.CategoryTypeID, c.CaColor, le.Processed, err.IssueID
	  FROM tbl_Log l WITH (NOLOCK)
      JOIN fn_ParseCommaDelimitedList(@CategoryIDs) cg ON (l.CategoryID = cg.ItemID)
 LEFT JOIN tbl_LogError le WITH (NOLOCK) ON (l.LogEntryID = le.LogEntryID)
 LEFT JOIN LabStatusLog..tbl_LogData lgd WITH (NOLOCK) ON (l.LogEntryID = lgd.LogEntryID)
 LEFT JOIN tbl_SessionGroupProcessStatus sgps WITH (NOLOCK) ON (l.SessionGroupProcessStatusID = sgps.SessionGroupProcessStatusID)
 LEFT JOIN tbl_SchemaGroupProcess p WITH (NOLOCK) ON (sgps.SchemaGroupProcessID = p.SchemaGroupProcessID)
 LEFT JOIN tbl_IssueLogError err WITH (READPAST) ON (l.LogEntryID = err.LogEntryID)
	  JOIN tlkp_Category c WITH (NOLOCK) ON (l.CategoryID = c.CategoryID)
	 WHERE l.SessionID = @SessionID
  ORDER BY l.LoDateTimeStamp ASC
    OPTION (ROBUST PLAN)

	RETURN 

GO
