USE [LabStatus]
GO
/****** Object:  View [dbo].[vwTouchedIssues]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwTouchedIssues]
AS
SELECT     TOP 100 PERCENT i.IssueID, l.LoCreatedBy AS IsTouchedBy, l.LoDateCreated AS IsTouchDate, i.IsDateCreated, i.IsTitle, 
                      'http://ddlabweb/VBLStatus/Issues/Issues.aspx?iid=' + CAST(i.IssueID AS VARCHAR(10)) AS Link
FROM         LabStatus.dbo.tbl_Issue i WITH (NOLOCK) INNER JOIN
                      LabStatus.dbo.tbl_IssueLog l WITH (NOLOCK) ON l.IssueID = i.IssueID
ORDER BY i.IssueID DESC


GO
