USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetStatsData]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Procedure [dbo].[up_GetStatsData]
(
	@OrgID int,
	@FromDate datetime,
	@ToDate datetime,
	@LabIDList varchar(2000) = '',
	@CostCenterIDList varchar(4000) = '',
	@SeverityIDList varchar(4000) = '',
	@SourceIDList varchar(1000) = '',
	@IncludeTestIssues bit = 1,
	@IncludeBuildIssues bit = 1
)
As

-- Grab the labs first.
SELECT	l.*
INTO	#Labs
FROM	tbl_Lab l
WHERE	l.OrgID = @OrgID
AND		(@LabIDList = '' Or l.LabID in (Select ItemID From dbo.fn_ParseCommaDelimitedList(@LabIDList)))
AND		l.VBL = 1

-- Then all the issues.
SELECT	i.*, s.SeRevision, s.LabID, l.LaName
INTO	#Issues 
FROM	tbl_Issue i
JOIN	atbl_SessionIssue si WITH (NOLOCK)
			ON (i.IssueID = si.IssueID)
JOIN	tbl_Session s 
			ON (si.SessionID = s.SessionID)
JOIN	#Labs l
			ON (s.LabID = l.LabID)
WHERE  Cast(Convert(varchar(10), IsDateClosed, 101) As DateTime) Between @FromDate And @ToDate
And i.IsClosed = 1 --Closed Issues
And i.IsDeleted = 0 --Exclude Deleted Issues
AND	s.SeRevision Not Like '%_DEL' -- Exclude Deleted Builds
And S.FlavorID <> 5 -- No DAT builds.

--Now we can join it all up.
SELECT	Distinct i.SeRevision,
	i.LabID, 
	i.LaName Lab, 
	i.IssueID,
	i.IsTitle,
	i.IsDateCreated,
	i.IsTimeSpent,
	Case When i.IsCausedBy Is Null Or Rtrim(LTrim(i.IsCausedBy)) = '' Then 'Unknown' Else lower(i.IsCausedBy) End [User],
	SV.SeverityID,
	SV.SeName,
	SC.SourceID,
	SC.SoName Category,
	SS.SuName SubCategory,
	Case When i.IsCostCenter Is Null Or Rtrim(LTrim(i.IsCostCenter)) = '' Then 0 Else IsCostCenter End IsCostCenter,
	Case When CC.CostCenterCode Is Null Then 'No Specific Team' Else CostCenterCode + ' - ' + CostCenterDesc End Team,
	Cast(Convert(varchar(10), i.IsDateClosed, 101) As datetime) Date,
	DateName(dw,i.IsDateClosed) DayName,
	Convert(varchar(10), DateAdd(day, (DatePart(ww,i.IsDateClosed)-1) * 7, '01/01/' + RTRIM(STR(DatePart(yyyy,i.IsDateClosed)))),1) + ' - ' + Convert(varchar(10), DateAdd(day, (DatePart(ww,i.IsDateClosed) * 7)-1, '01/01/' + RTRIM(STR(DatePart(yyyy,i.IsDateClosed)))),1) Week,
	DateName(mm,i.IsDateClosed) + ' ' + LTRIM(STR(DatePart(yyyy,i.IsDateClosed))) Month,
	'Qtr ' + LTRIM(STR(DatePart(qq,i.IsDateClosed))) + ' ' + LTRIM(STR(DatePart(yyyy,i.IsDateClosed))) Quarter,
	DatePart(yyyy,i.IsDateClosed) Year,
	i.IsClosed,
	Case 	When IsClosed = 1 Then DATEDIFF(mi, i.IsDateCreated, i.IsDateClosed)
		Else 0
	End TimeToFix
FROM	#Issues i
	JOIN tbl_IssueSource ISC WITH (NOLOCK) On ISC.IssueID = i.IssueID
	JOIN tlkp_Source SC WITH (NOLOCK) On SC.SourceID = ISC.SourceID
	LEFT JOIN tbl_IssueSubSource ISS WITH (NOLOCK) ON ISS.IssueID = I.IssueID
	LEFT JOIN tlkp_SubSource SS WITH (NOLOCK) ON SS.SubSourceID = ISS.SubSourceID
	JOIN tlkp_Severity SV WITH (NOLOCK) On SV.SeverityID = i.SeverityID
	LEFT JOIN Feedstore..tbl_CostCenter CC WITH (NOLOCK) On CC.CostCenterCode = i.IsCostCenter
Where	Cast(Convert(varchar(10), i.IsDateClosed, 101) As DateTime) Between @FromDate And @ToDate
	And (@CostCenterIDList = '' Or i.IsCostCenter in (Select ItemID From dbo.fn_ParseCommaDelimitedList(@CostCenterIDList)))
	And (@SeverityIDList = '' Or i.SeverityID in (Select ItemID From dbo.fn_ParseCommaDelimitedList(@SeverityIDList)))
	And (@SourceIDList = '' Or ISC.SourceID in (Select ItemID From dbo.fn_ParseCommaDelimitedList(@SourceIDList)))
	And ((i.IsTest = 1 AND @IncludeTestIssues = 1)
		OR (i.IsTest = 0 AND @IncludeBuildIssues = 1))
	And ISC.SourceID Not In (2,4,5,22) --Exclude Raw, Layout Suites, Fix Not Implemented And Other
Order By Cast(Convert(varchar(10), i.IsDateClosed, 101) As datetime)

GO
