USE [LabStatus]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetUserWhoAbandonedBuild]    Script Date: 1/28/2026 12:46:50 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE  FUNCTION [dbo].[fn_GetUserWhoAbandonedBuild](@SessionId int)  
RETURNS varchar(100)
AS  
BEGIN 

declare @userName varchar(100)
set @userName = (SELECT TOP 1 LoUserName AS UserName 
			FROM tbl_SessionLog WITH (NOLOCK)
			WHERE
				SessionID = @SessionId
				AND
				LoLog like '%Status: 8%'
			ORDER BY SessionLogID DESC)
return @userName

END


GO
