USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCostCenter]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCostCenter]
(
	@CostCenterID int
)
AS
	SET NOCOUNT ON
	
	SELECT CostCenterID = CAST(CostCenterCode AS INT) , CoName = CostCenterDesc
	  FROM Feedstore..tbl_CostCenter
	 WHERE CostCenterCode = CAST(@CostCenterID AS VARCHAR(10))
	
	RETURN 

GO
