USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCostCentersWithIssues]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetCostCentersWithIssues]
AS
	SET NOCOUNT ON
	
	Select	CC.CostCenterCode CostCenterID, CostCenterCode + ' - ' + CostCenterDesc As CostCenter
	From	Feedstore..tbl_CostCenter CC With(Nolock)
	Where	CC.CostCenterCode IN (Select Distinct Convert(int, IsCostCenter) From tbl_Issue With (Nolock) Where IsDeleted <> 1 And IsCostCenter Is Not Null)
	Order By CC.CostCenterCode
	
	RETURN 


GO
