USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_LoadDropSpaceProjects]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- sp_Log
CREATE PROCEDURE [dbo].[sp_LoadDropSpaceProjects]
	(
		@OrgID int
	)
AS
	EXEC DropManagement..up_GetProjectsByOrg @OrgID, 0

	

	RETURN 





GO
