USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSubSourcesBySource]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSubSourcesBySource]
(
	@SourceID int
)
AS
	SET NOCOUNT ON
	
	SELECT ss.*, s.SoName
	  FROM tlkp_SubSource ss WITH (NOLOCK)
      JOIN tbl_SourceSubSource sss WITH (NOLOCK) ON (ss.SubSourceID = sss.SubSourceID)	  
	  JOIN tlkp_Source s WITH (NOLOCK) ON (sss.SourceID = s.SourceID)
	 WHERE SuActive = 1
	   AND S.SourceID = @SourceID
  ORDER BY ss.SuOrder ASC, ss.SuName	
	
	RETURN 
GO
