USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLabIDForName]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE procedure [dbo].[sp_GetLabIDForName]
(
	@Name varchar(50)
)
as
/*	Modified by	Date		Change
	***********************************************************
	a-karthp		08/25/2005	Created the sproc
*/
	declare @LabID int 

	select	@LabID = LabID
	from	tbl_Lab
	where 	LaName =  @Name
	
	select isnull(@LabID,0)
GO
