USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteIssueFromSession]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteIssueFromSession]
(
	@IssueID int,
	@SessionID int
)
AS
	SET NOCOUNT ON
	
	SELECT SessionID
	FROM atbl_SessionIssue WITH (NOLOCK)
	WHERE IssueID = @IssueID
	
    -- Always leave at least one session attached to the issue
	IF @@ROWCOUNT > 1
		DELETE FROM atbl_SessionIssue
		WHERE IssueID = @IssueID AND SessionID = @SessionID
        
	RETURN
GO
