USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AutoGenerateIssue]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_AutoGenerateIssue]
	(
		@SessionID int,
		@Title varchar(128),
		@Description varchar(6000),
		@AssignedTo varchar(50),
		@PendingOwner varchar(50),
		@NotifyTo varchar(50) = NULL,
		@Severity int,
		@Language int,
		@WorkAround varchar(4000) = NULL,
		@Machine varchar(100),
		@LockDown bit,
		@Immediate bit,
		@GracePeriod int,
		@IssueID int = NULL OUTPUT 
	)
AS
	SET NOCOUNT ON

	DECLARE @LockDownSet datetime
	IF @LockDown = 1
		SELECT @LockDownSet = GetDate()
	ELSE
		SELECT @LockDownSet = NULL
	
	-- Add the new issue.
	INSERT
	  INTO tbl_Issue (IsTitle, IsAssignedTo, IsPendingOwner, IsPendingSince, IsAssignedBy, IsDateCreated, IsDateChanged, SeverityID, IsNotifyUser, LanguageID, IsWorkAround, IsMachineName, IsLockDown, IsLockDownSet, IsLockDownImmediate, IsLockDownGracePeriod)
	VALUES (@Title, @AssignedTo, @PendingOwner, GetDate(), @AssignedTo, GetDate(), GetDate(), @Severity, @NotifyTo, @Language, @WorkAround, @Machine, @LockDown, @LockDownSet, @Immediate, @GracePeriod)
	IF @@ROWCOUNT > 0
		SELECT @IssueID = @@Identity
	
	-- Add the log.
	INSERT
	  INTO tbl_IssueLog (IssueID, LoText, LoDateCreated, LoCreatedBy)
	VALUES (@IssueID, @Description, GetDate(), @AssignedTo)
	
	-- Associate the issue with a build.	
	INSERT 
	  INTO tbl_SessionIssue (SessionID, IssueID)
	VALUES (@SessionID, @IssueID)

	
	-- Give access to the build machine if needed.
	IF @Machine IS NOT NULL
		EXEC sp_GrantMachineAccess @IssueID, @Machine, @AssignedTo
	
	
	RETURN 


GO
