USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateBVTResultsPRC]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateBVTResultsPRC]
(
	@SessionID int,
	@RawBVTs varchar(1000) = NULL,
	@RawStatus varchar(1000),
	@RawLink varchar(1000)= NULL,
	@LayoutBVTs varchar(1000)= NULL,
	@LayoutStatus varchar(1000),
	@LayoutLink varchar(1000)= NULL
)
AS
	SET NOCOUNT ON
	
	SELECT 1
	  FROM tbl_SessionBVT WITH (NOLOCK)
	 WHERE SessionID = @SessionID
	 
	 IF (@@ROWCOUNT = 0)
		BEGIN
			INSERT
			  INTO tbl_SessionBVT (SessionID) VALUES (@SessionID)
		END
	
	UPDATE tbl_SessionBVT WITH (ROWLOCK)
	   SET LastUpdated = GetDate(),
	       RawBVTs = @RawBVTs,
	       RawStatus = @RawStatus,
	       RawLink = @RawLink,
	       LayoutBVTs = @LayoutBVTs,
	       LayoutStatus = @LayoutStatus,
	       LayoutLink = @LayoutLink
	 WHERE SessionID = @SessionID
	
	RETURN
GO
