USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_RptBVTFailures]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RptBVTFailures]
	(
		@From datetime,
		@To datetime,
		@Labs varchar(1000)
	)
AS
	SET NOCOUNT ON
	
	SELECT bg.BugID
	  FROM tbl_Lab l WITH (NOLOCK)
   	  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
	  JOIN BVTIssue..tbl_Bug bg WITH (NOLOCK) ON (l.LabID = bg.LabID)
	 WHERE DATEDIFF(dd, bg.BuildDate, @From) <= 0
	   AND DATEDIFF(dd, bg.BuildDate, @To) >= 0

	RETURN 









GO
