USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_Log3_AbandonBuild]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- sp_LogScheduleBuild
CREATE PROCEDURE [dbo].[sp_Log3_AbandonBuild]
	(
		@Revision varchar(50),
		@Lab varchar(50),
		@Product varchar(50),
		@Parameters varchar(4000),
		@Issue varchar(10),
		@LogDateTime varchar(50),
		@MachineName varchar(50)
	)
AS
	SET NOCOUNT ON
	DECLARE @Err varchar(4000)

	-- First we need to create a log footprint.  This piece is outside the transaction
	-- because we want to log EVERYTHING - even if the transaction fails.	
	INSERT 
	INTO		tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
	VALUES		('sp_Log3_AbandonBuild, '
				+ @Revision + ', ' 
				+ @Lab + ', '
				+ @Parameters + ', '
				+ @Issue + ', '
				+ @MachineName, 
				GetDate(), 
				GetDate()) 	

	BEGIN TRANSACTION

	DECLARE	@SessionID int
	DECLARE @SchemaID int
	DECLARE @StatusID int

	-- Create/retreive the session and schema IDs.  These will be used for reporting status
	-- for this particular build.
	EXEC sp_GetSessionID3 @Revision, @Lab, @Product, @Parameters, @LogDateTime, @MachineName, @SessionID OUTPUT, @SchemaID OUTPUT, @StatusID OUTPUT
	
	SELECT	@Err = 'Add the build comment and set started = null.'	
	UPDATE	tbl_Session WITH (ROWLOCK)
	SET		SeComment = 'Build abandoned.  Details can be found in Issue #' + @Issue,
			SeFinished = @LogDateTime,
		    StatusID = 8  -- Abandoned
	WHERE	SessionID = @SessionID
	IF @@ERROR <> 0 GOTO on_err	

	-- Check to see if ENAR layouts are available.  If they are, update the status
	-- to 11 (enar available) instead of abandoned.

	IF EXISTS(SELECT *
	          FROM tbl_SessionSetup
	          WHERE SessionID = @SessionID
	            AND Setup LIKE '%\vsts\%')
	BEGIN
		UPDATE tbl_Session
		   SET StatusID = 11
		 WHERE SessionID = @SessionID
	END 

	-- Commit the transaction if there are no errors at the end. 
	IF @@ERROR <> 0 
		GOTO on_err

	-- Return the sessionid.
	SELECT @SessionID As SessionID

	COMMIT TRANSACTION
	RETURN 
	
	on_err:
		ROLLBACK TRANSACTION
		SELECT @Err = 'ERROR: sp_Log3_AbandonBuild - ' + @Err
		RAISERROR (@Err , 16, 1)	
		RETURN
		
RETURN




GO
