USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionGroupLogs]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSessionGroupLogs]
(
	@SessionGroupStatusID int
)
AS
	SET NOCOUNT ON
	
	SELECT l.*, lgd.LoExtendedLog, p.PrName, c.CaName, c.CaShortName, c.CategoryTypeID, c.CaColor, le.Processed
	  FROM tbl_Log l WITH (READPAST)
 LEFT JOIN tbl_LogError le WITH (READPAST) ON (l.LogEntryID = le.LogEntryID)	  
 LEFT JOIN LabStatusLog..tbl_LogData lgd WITH (READPAST) ON (l.LogEntryID = lgd.LogEntryID)
	  JOIN tbl_SessionGroupProcessStatus sgps WITH (READPAST) ON (l.SessionGroupProcessStatusID = sgps.SessionGroupProcessStatusID)
	  JOIN tbl_SchemaGroupProcess p WITH (READPAST) ON (sgps.SchemaGroupProcessID = p.SchemaGroupProcessID)
	  JOIN tlkp_Category c WITH (READPAST) ON (l.CategoryID = c.CategoryID)
	 WHERE l.SessionGroupStatusID = @SessionGroupStatusID
  ORDER BY l.LoDateTimeStamp ASC
	RETURN 
GO
