USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSessionGroupStatusAsWarning]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateSessionGroupStatusAsWarning]
	(
		@SessionGroupStatusID int
	)
AS
	SET NOCOUNT ON
	
	UPDATE tbl_SessionGroupStatus WITH (ROWLOCK)
	   SET HasWarnings = 1
	 WHERE SessionGroupStatusID = @SessionGroupStatusID
	
	RETURN 
GO
