USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSessionStatusAsFinished2]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateSessionStatusAsFinished2]
	(
		@SessionID int,
		@StatusID int,
		@FinishDateTime datetime
	)
AS
	SET NOCOUNT ON
	
	DECLARE @Setups int
	DECLARE @SetupsFinished int
	
	SELECT @Setups = SeSetups, @SetupsFinished = SeSetupsFinished
	  FROM tbl_Session WITH (NOLOCK)
	 WHERE SessionID = @SessionID
	
	-- Only update to complete if all the setups are complete.
	IF @SetupsFinished >= @Setups 
		BEGIN
			UPDATE tbl_Session WITH (ROWLOCK)
		       SET StatusID = @StatusID,
		 	       SeFinished = @FinishDateTime,
		 	       SeComment = NULL
		     WHERE SessionID = @SessionID
		END
	ELSE
		BEGIN
			-- Since not all the layouts are completed, we default to "waiting for layouts"
			UPDATE tbl_Session WITH (ROWLOCK)
		       SET StatusID = 12,
		 	       SeFinished = @FinishDateTime,
		 	       SeComment = NULL
		     WHERE SessionID = @SessionID
		END	
	
	RETURN 
GO
