USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_Lab]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Lab](
	[LabID] [int] IDENTITY(1,1) NOT NULL,
	[LaShortName] [varchar](50) NOT NULL,
	[LaName] [varchar](255) NOT NULL,
	[LaDescription] [varchar](255) NULL,
	[LaEmailAlias] [varchar](50) NULL,
	[LaEmailToList] [varchar](300) NULL,
	[LaBranch] [varchar](500) NULL,
	[LaOrder] [int] NULL,
	[LaBVTCode] [varchar](50) NULL,
	[LaOwner] [varchar](20) NULL,
	[LaDropSlots] [int] NULL,
	[LaReservedDropSlots] [int] NULL,
	[RIFI] [bit] NULL,
	[VBL] [bit] NOT NULL,
	[BFDGroupID] [int] NULL,
	[LaPrivate] [bit] NOT NULL,
	[LaStatus] [bit] NOT NULL,
	[LaDecision] [bit] NOT NULL,
	[LaDropManagement] [bit] NOT NULL,
	[LaIssueHandOffReminderInterval] [int] NULL,
	[LaIssueReminderInterval] [int] NULL,
	[LaPartner] [bit] NOT NULL,
	[MilestoneID] [int] NOT NULL,
	[LaCLRTestLab] [int] NULL,
	[LaMSDN] [bit] NULL,
	[LaAutoOpenIssues] [bit] NOT NULL,
	[OrgID] [int] NULL,
	[DropSecurityRoleID] [int] NULL,
	[MSDNLabID] [int] NULL,
	[CustomerID] [int] NULL,
	[LaAutoAssignToBuildLab] [bit] NOT NULL,
	[LaAutoAssignIssueExceptions] [varchar](500) NULL,
	[LaAutoDropRemove] [bit] NOT NULL,
	[PUID] [int] NULL,
	[CosteaseProjectID] [int] NULL,
	[SourceControlID] [int] NOT NULL,
	[LaBuildMachinesAreReleasedPartially] [bit] NOT NULL,
	[LaLopezPromotable] [bit] NULL,
	[LaSourceControlPath] [varchar](2000) NULL,
	[LaAutoLaunch] [bit] NOT NULL,
	[LaAutoAbandon] [bit] NOT NULL,
	[ConcurrentLimit] [int] NULL,
	[IntervalLimit] [int] NULL,
	[IntervalLimitWindow] [char](1) NULL,
	[BugDatabaseID] [int] NULL,
	[UseNewShadowSystem] [bit] NOT NULL,
	[LaToolsBaseline] [decimal](9, 5) NOT NULL,
	[LaGitRepoBranch] [varchar](255) NULL,
	[LaGitRepoPath] [varchar](2000) NULL,
	[LaBootstrapVersion] [varchar](500) NULL,
	[LaDropAge] [int] NULL,
	[LaMailTo] [varchar](500) NULL,
	[LaLabGroupId] [int] NULL,
 CONSTRAINT [PK_tbl_Lab] PRIMARY KEY CLUSTERED 
(
	[LabID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UniqueLaShortName] UNIQUE NONCLUSTERED 
(
	[LaShortName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Lab] ADD  CONSTRAINT [DF_tbl_Lab_RIFI]  DEFAULT ((0)) FOR [RIFI]
GO
ALTER TABLE [dbo].[tbl_Lab] ADD  CONSTRAINT [DF_tbl_Lab_VBL]  DEFAULT ((0)) FOR [VBL]
GO
ALTER TABLE [dbo].[tbl_Lab] ADD  CONSTRAINT [DF_tbl_Lab_LaPrivate]  DEFAULT ((0)) FOR [LaPrivate]
GO
ALTER TABLE [dbo].[tbl_Lab] ADD  CONSTRAINT [DF_tbl_Lab_LaStatus]  DEFAULT ((1)) FOR [LaStatus]
GO
ALTER TABLE [dbo].[tbl_Lab] ADD  CONSTRAINT [DF_tbl_Lab_LaDecision]  DEFAULT ((0)) FOR [LaDecision]
GO
ALTER TABLE [dbo].[tbl_Lab] ADD  CONSTRAINT [DF_tbl_Lab_LaDropManagement]  DEFAULT ((0)) FOR [LaDropManagement]
GO
ALTER TABLE [dbo].[tbl_Lab] ADD  CONSTRAINT [DF_tbl_Lab_LaIssueHandOffReminderInterval]  DEFAULT ((10)) FOR [LaIssueHandOffReminderInterval]
GO
ALTER TABLE [dbo].[tbl_Lab] ADD  CONSTRAINT [DF_tbl_Lab_LaIssueReminderInterval]  DEFAULT ((60)) FOR [LaIssueReminderInterval]
GO
ALTER TABLE [dbo].[tbl_Lab] ADD  CONSTRAINT [DF_tbl_Lab_LaPartner]  DEFAULT ((0)) FOR [LaPartner]
GO
ALTER TABLE [dbo].[tbl_Lab] ADD  CONSTRAINT [DF_tbl_Lab_MilestoneID]  DEFAULT ((12)) FOR [MilestoneID]
GO
ALTER TABLE [dbo].[tbl_Lab] ADD  CONSTRAINT [DF_tbl_Lab_LaMSDN]  DEFAULT ((0)) FOR [LaMSDN]
GO
ALTER TABLE [dbo].[tbl_Lab] ADD  CONSTRAINT [DF_tbl_Lab_LaAutoOpenIssues]  DEFAULT ((0)) FOR [LaAutoOpenIssues]
GO
ALTER TABLE [dbo].[tbl_Lab] ADD  CONSTRAINT [DF_tbl_Lab_OrgID]  DEFAULT ((1)) FOR [OrgID]
GO
ALTER TABLE [dbo].[tbl_Lab] ADD  CONSTRAINT [DF_tbl_Lab_LaAutoAssignToBuildLab]  DEFAULT ((1)) FOR [LaAutoAssignToBuildLab]
GO
ALTER TABLE [dbo].[tbl_Lab] ADD  CONSTRAINT [DF_tbl_Lab_LaAutoDropRemove]  DEFAULT ((0)) FOR [LaAutoDropRemove]
GO
ALTER TABLE [dbo].[tbl_Lab] ADD  CONSTRAINT [DF_tbl_Lab_SourceControlID]  DEFAULT ((2)) FOR [SourceControlID]
GO
ALTER TABLE [dbo].[tbl_Lab] ADD  CONSTRAINT [DF_tbl_Lab_LaBuildMachinesAreReleasedPartially]  DEFAULT ((0)) FOR [LaBuildMachinesAreReleasedPartially]
GO
ALTER TABLE [dbo].[tbl_Lab] ADD  CONSTRAINT [DF__tbl_Lab__LaAutoL__36B83FF4]  DEFAULT ((0)) FOR [LaAutoLaunch]
GO
ALTER TABLE [dbo].[tbl_Lab] ADD  CONSTRAINT [DF_tbl_Lab_LaAutoAbandon]  DEFAULT ((0)) FOR [LaAutoAbandon]
GO
ALTER TABLE [dbo].[tbl_Lab] ADD  CONSTRAINT [DF_tbl_Lab_BugDatabaseID]  DEFAULT ((15)) FOR [BugDatabaseID]
GO
ALTER TABLE [dbo].[tbl_Lab] ADD  CONSTRAINT [UseNewShadowSystem_Default]  DEFAULT ((1)) FOR [UseNewShadowSystem]
GO
ALTER TABLE [dbo].[tbl_Lab] ADD  CONSTRAINT [DF_tbl_Lab_LaToolsBaseline]  DEFAULT ((0)) FOR [LaToolsBaseline]
GO
ALTER TABLE [dbo].[tbl_Lab]  WITH NOCHECK ADD  CONSTRAINT [FK_tbl_Lab_tlkp_BugDatabase] FOREIGN KEY([BugDatabaseID])
REFERENCES [dbo].[tlkp_BugDatabase] ([BugDatabaseID])
GO
ALTER TABLE [dbo].[tbl_Lab] CHECK CONSTRAINT [FK_tbl_Lab_tlkp_BugDatabase]
GO
ALTER TABLE [dbo].[tbl_Lab]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Lab_tlkp_LabGroup] FOREIGN KEY([LaLabGroupId])
REFERENCES [dbo].[tlkp_LabGroup] ([LabGroupId])
GO
ALTER TABLE [dbo].[tbl_Lab] CHECK CONSTRAINT [FK_tbl_Lab_tlkp_LabGroup]
GO
ALTER TABLE [dbo].[tbl_Lab]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Lab_tlkp_SourceControl] FOREIGN KEY([SourceControlID])
REFERENCES [dbo].[tlkp_SourceControl] ([SourceControlID])
GO
ALTER TABLE [dbo].[tbl_Lab] CHECK CONSTRAINT [FK_tbl_Lab_tlkp_SourceControl]
GO
