USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[zz__sp_RptNumberOfIssuesPerTeamGroupedAndRolledUp_BRANDNEW2]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[zz__sp_RptNumberOfIssuesPerTeamGroupedAndRolledUp_BRANDNEW2]
	(
		@From datetime,
		@To datetime,
		@Labs varchar(255),
		@CostCenter int,
		@SeverityIDs varchar(255) = '1,2'
	)
AS
	SET NOCOUNT ON

	IF @CostCenter = 0
		BEGIN
			SELECT COUNT(DISTINCT isrc.IssueID) As NumberOfIssues, cc.CostCenterID, cc.CoName As CostCenter
				,COUNT(DISTINCT si.SessionID) As NumberOfSessions
		 	  FROM tlkp_Source src WITH (NOLOCK)
			  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (src.SourceID = isrc.SourceID)
			  JOIN tbl_SessionIssue si WITH (NOLOCK) ON (isrc.IssueID = si.IssueID)
			  JOIN tbl_Session s WITH (NOLOCK) ON (si.SessionID = s.SessionID)	  
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN tbl_Issue i WITH (NOLOCK) ON (si.IssueID = i.IssueID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) sv ON (i.SeverityID = sv.ItemID)
			  JOIN CostCenter..tbl_CostCenter cc WITH (NOLOCK) ON (i.IsCostCenter = cc.CostCenterID)
			 WHERE DATEDIFF(dd, s.SeBuildDate, @From) <= 0
			   AND DATEDIFF(dd, s.SeBuildDate, @To) >= 0
			   AND i.IsDeleted = 0
			   AND l.VBL = 1
			   AND isrc.SourceID <> 11 -- Information
			   AND isrc.SourceID <> 2 -- Raw Suites
			   AND s.FlavorID NOT IN (5) -- No DAT builds.
			   AND s.SeRevision NOT LIKE '%_DEL'  
		  GROUP BY cc.CostCenterID, cc.CoName

	  UNION  
		    -- Issues w/no cost center
			SELECT COUNT(DISTINCT isrc.IssueID) As NumberOfIssues, '99999', 'No specific team'
				,COUNT(DISTINCT si.SessionID) As NumberOfSessions
		 	  FROM tlkp_Source src WITH (NOLOCK)
			  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (src.SourceID = isrc.SourceID)
			  JOIN tbl_SessionIssue si WITH (NOLOCK) ON (isrc.IssueID = si.IssueID)
			  JOIN tbl_Session s WITH (NOLOCK) ON (si.SessionID = s.SessionID)	  
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN tbl_Issue i WITH (NOLOCK) ON (si.IssueID = i.IssueID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) sv ON (i.SeverityID = sv.ItemID)
			 WHERE DATEDIFF(dd, s.SeBuildDate, @From) <= 0
			   AND DATEDIFF(dd, s.SeBuildDate, @To) >= 0
			   AND (i.IsCostCenter IS NULL
				OR i.IsCostCenter = ''
				OR i.IsCostCenter NOT IN (SELECT CostCenterID FROM CostCenter..tbl_CostCenter))
			   AND i.IsDeleted = 0
			   AND l.VBL = 1
			   AND isrc.SourceID <> 11 -- Information
			   AND isrc.SourceID <> 2 -- Raw Suites
			   AND s.FlavorID NOT IN (5) -- No DAT builds.
			   AND s.SeRevision NOT LIKE '%_DEL'  
		  ORDER BY NumberOfIssues DESC

		END
	
	ELSE IF @CostCenter <> 0
		BEGIN
			SELECT COUNT(DISTINCT isrc.IssueID) As NumberOfIssues, cc.CostCenterID, cc.CoName As CostCenter
				,COUNT(DISTINCT si.SessionID) As NumberOfSessions
		 	  FROM tlkp_Source src WITH (NOLOCK)
			  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (src.SourceID = isrc.SourceID)
			  JOIN tbl_SessionIssue si WITH (NOLOCK) ON (isrc.IssueID = si.IssueID)
			  JOIN tbl_Session s WITH (NOLOCK) ON (si.SessionID = s.SessionID)	  
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN tbl_Issue i WITH (NOLOCK) ON (si.IssueID = i.IssueID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) sv ON (i.SeverityID = sv.ItemID)
		RIGHT JOIN CostCenter..tbl_CostCenter cc WITH (NOLOCK) ON (i.IsCostCenter = cc.CostCenterID)
			 WHERE DATEDIFF(dd, s.SeBuildDate, @From) <= 0
			   AND DATEDIFF(dd, s.SeBuildDate, @To) >= 0
			   AND i.IsCostCenter = @CostCenter	-- Filter by cost center
			   AND i.IsDeleted = 0
			   AND l.VBL = 1
			   AND isrc.SourceID <> 11 -- Information
			   AND isrc.SourceID <> 2 -- Raw Suites
			   AND s.FlavorID NOT IN (5) -- No DAT builds.
			   AND s.SeRevision NOT LIKE '%_DEL'  
		  GROUP BY cc.CostCenterID, cc.CoName	
  		  ORDER BY NumberOfIssues DESC
		END

	RETURN 









GO
