USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateIssueWithAutoIssueCreationValue]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateIssueWithAutoIssueCreationValue]
	(
		@IssueID int,
		@AutoIssue bit,
		@MarkedBy varchar(50)
	)
AS
	UPDATE tbl_Issue WITH (ROWLOCK)
	   SET IsAutoOpenIssues = @AutoIssue
	 WHERE IssueID = @IssueID

	RETURN 


GO
