USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetNextProductID]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetNextProductID]
(
	@NextProductID int = NULL OUTPUT 
)
AS
	SET NOCOUNT ON
	SELECT @NextProductID = MAX(ProductID) + 1 
	  FROM tbl_Product
GO
