USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_UpdateSessionStatus2]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_UpdateSessionStatus2]
(
	@SessionID int,
	@StatusID int,
	@Comment varchar(255),
	@User varchar(20) = NULL,
	@ImpersonatingUser varchar(20) = NULL,
	@IP varchar(20) = NULL
)
AS
BEGIN
   SET NOCOUNT ON

   DECLARE @SessionsUpdated int
   
   UPDATE tbl_Session WITH (ROWLOCK)
   SET           StatusID = @StatusID,
                 SeComment = @Comment
   WHERE  SessionID = @SessionID

   SET @SessionsUpdated = @@ROWCOUNT
   SELECT @SessionsUpdated

   IF @StatusID = 5 -- Completed
          BEGIN
                 UPDATE tbl_Session WITH (ROWLOCK)
                 SET           SeFinished = GetDate() 
                 WHERE  SessionID = @SessionID
          END

   IF @StatusID = 8 -- Abandonded
          BEGIN
                 UPDATE tbl_Session WITH (ROWLOCK)
                    SET SeManuallyStalled = NULL,
                              StatusID = 8,
                              SeFinished = GetDate() 
                  WHERE SessionID = @SessionID
                 
                 -- Check to see if VSTS layouts are available.  If they are, update the status
                 -- to 11 (enar available) instead of abandoned.
                 SELECT 1
                   FROM tbl_SessionSetup
                 WHERE SessionID = @SessionID
                    AND ((Setup LIKE '%\vsts\%') OR (Setup LIKE '%\vs\Ultimate\dvd%'))
                 IF @@ROWCOUNT > 0
                       BEGIN
                              UPDATE tbl_Session WITH (ROWLOCK)
                                 SET StatusID = 11
                              WHERE SessionID = @SessionID
                       END 
          END
   
   IF LEN(@Comment) > 0 AND @SessionsUpdated > 0
          BEGIN
                 EXEC sp_AddSessionLog @SessionID, @User, @Comment
          END
	
	RETURN
END
GO
