USE [LabStatus]
GO
/****** Object:  View [dbo].[vw_Builds_Last12Months]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Builds_Last12Months]
AS
SELECT     TOP (100) PERCENT Mi.MiName AS Milestone, La.LabID, La.LaName AS LabName, Se.SessionID, Se.SeRevision AS BuildNumber, Lo.LoName AS Workflow, Ta.TaName AS Architecture, Fl.FlName AS Flavor, Se.SeBuildMachine AS BuildMachine, Se.SeStarted AS Started, Se.SeFinished AS Finished, St.StName AS Status
FROM         dbo.tbl_Session AS Se INNER JOIN
                      dbo.tbl_Lab AS La ON Se.LabID = La.LabID INNER JOIN
                      dbo.tbl_Milestone AS Mi ON La.MilestoneID = Mi.MilestoneID INNER JOIN
                      dbo.tlkp_Flavor AS Fl ON Se.FlavorID = Fl.FlavorID INNER JOIN
                      dbo.tlkp_TargetArchitecture AS Ta ON Se.TargetArchitectureID = Ta.TargetArchitectureID INNER JOIN
                      dbo.tlkp_LocaleSet AS Lo ON Se.LocaleSetID = Lo.LocaleSetID INNER JOIN
                      dbo.tlkp_Status AS St ON Se.StatusID = St.StatusID
WHERE     (Se.SeStarted >= DATEADD(yy, - 1, GETDATE()))
ORDER BY Milestone, LabName, BuildNumber, Workflow, Architecture, Flavor
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Se"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 126
               Right = 335
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "La"
            Begin Extent = 
               Top = 6
               Left = 373
               Bottom = 126
               Right = 638
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Mi"
            Begin Extent = 
               Top = 6
               Left = 676
               Bottom = 126
               Right = 836
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Fl"
            Begin Extent = 
               Top = 6
               Left = 874
               Bottom = 126
               Right = 1034
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Ta"
            Begin Extent = 
               Top = 6
               Left = 1072
               Bottom = 126
               Right = 1263
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Lo"
            Begin Extent = 
               Top = 126
               Left = 38
               Bottom = 246
               Right = 198
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "St"
            Begin Extent = 
               Top = 126
               Left = 236
               Bottom = 246
               Right = 396
            End
            DisplayFlags = 280
            TopColumn = 0
         ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Builds_Last12Months'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Builds_Last12Months'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Builds_Last12Months'
GO
