USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetFixSynchronizationMachine]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetFixSynchronizationMachine]
(
    @BuildSessionGroupId int,
    @FixId int
)
AS
BEGIN
    SELECT BuildSessionGroupId, FixId, SynchronizationMachineName, SynchronizationMachineStatus
    FROM tbl_FixSynchronizationMachine fs
    WHERE fs.BuildSessionGroupId = @BuildSessionGroupId and fs.FixId = @FixId
END
GO
