USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSessionProperties2]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateSessionProperties2]
(
	@SessionID int,
	@Machine varchar(100),
	@StatusID int,
	@RawDrop varchar(255),
	@RawAbandoned bit,
	@LayoutsAbandoned bit,
	@Comment varchar(255),
	@BuildDate datetime
)
AS
	SET NOCOUNT ON
	IF @RawDrop = ''
		SELECT @RawDrop = NULL
	
	UPDATE tbl_Session WITH (ROWLOCK)
	   SET SeBuildMachine = @Machine,
		   StatusID = @StatusID,
		   SeDropPath = @RawDrop,
		   SeComment = @Comment,
		   SeBuildDate = @BuildDate,
		   SeRawDropAbandoned = @RawAbandoned,
		   SeLayoutsAbandoned = @LayoutsAbandoned
	 WHERE SessionID = @SessionID

	IF @StatusID = 8 -- Abandonded
		BEGIN
			UPDATE tbl_Session WITH (ROWLOCK)
			   SET SeManuallyStalled = NULL
			 WHERE SessionID = @SessionID		
		END
	
	RETURN 

GO
