USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateLabWithGit]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateLabWithGit]
(
    @LabID int,
    @ShortName varchar(50),
    @Name varchar(50),	
    @Description varchar(255),
    @Branch varchar(50),
    @BVTCode varchar(50),
    @Owner varchar(20),
    @RIFI bit,
    @BFDGroupID int,
    @Private bit,
    @Status bit,
    @AutoDropRemove bit = 0,
    @Decision bit,
    @IssueHandoffReminderInterval int,
    @IssueReminderInterval int,
    @MilestoneID int,
    @CLRTestLab int,
    @MSDN bit,
    @AutoOpenIssues bit,
    @AutoAssignToBuildLab bit = 1,
    @AutoAssignIssueExceptions varchar(500) = NULL,
    @OrgID int,
    @ParentLabID int,
    @MSDNLabID int,
    @DropManagement bit,
    @DropProjectID int,	
    @PUID int = NULL,
    @CostEaseProjectID int = NULL,
    @BuildMachinesAreReleasedPartially bit = 0,
    @SourceControlID int = 2,
    @UserAlias varchar(20),
    @AutoLaunch bit = 0,
    @AutoAbandon bit = 1,
    @ConcurrentLimit int = null,
    @IntervalLimit int = null,
    @IntervalLimitWindow char(1) = null,
    @SourceControlPath varchar(2000),
    @BugDatabaseID int = null,
    @ToolsBaseline decimal(9, 5),
    @GitRepoPath varchar(2000),
    @GitRepoBranch varchar(255),
    @BootstrapVersion varchar(500),
    @DropAge int = null,
    @MailTo varchar(500) = null,
    @LabGroupId int = null
)
AS
/*	Modified by	Date		Change
    ***********************************************************
    a-karthp		08/22/2005	Recreated the sproc
    a-karthp		09/12/2005	Added an additional column MSDNLabID
    a-karthp		10/11/2005	Modified the code to store changes in BFDGroup instead of BFDGroupID
    abjork			03/30/2006	Updates for drop management.
    a-paring		04/14/2009  Product and Costeast project changes are logged in the log table.
    a-joeyj			04/23/2009	Added support for LaBuildMachinesAreReleasedPartially column
    a-joeyj			04/23/2009	Added support for setting SourceControlID column
    jasward			04/02/2010	Added support for SourceControlPath column
    jasward			08/13/2010	Added support for BugDatabaseID column
    jokeech			12/05/2014  Added support for LaToolsBaseline column
    nango			03/17/2015	Move from sp_UpdateLab, Added new parameters for Git
    forco			08/28/2015	Add new BootstrapVersion parameter
    andg            10/28/2015  Add new DropAge parameter
    nango           11/27/2016  Add LabGroup and MailTo parameter
	andg            01/12/2017  convert nullable int fields to 0 if they are null
*/
    set nocount on 

    -- Temporary hack because of our crappy requirement for the lab, short and branch names to be the same except for Lopez branches.
    select @Branch = case when @Name like 'Lopez-%' then replace(@Branch, 'Lopez-', '') else @Branch end

    Declare 
        @OldShortName varchar(50),
        @OldName varchar(50),	
        @OldDescription varchar(255),
        @OldBranch varchar(50),
        @OldBVTCode varchar(50),
        @OldOwner varchar(20),
        @OldRIFI bit,
        @OldBFDGroupID int,
        @OldPrivate bit,
        @OldStatus bit,
        @OldDecision bit,
        @OldIssueHandoffReminderInterval int,
        @OldIssueReminderInterval int,
        @OldMilestoneID int,
        @OldCLRTestLab int,
        @OldMSDN bit,
        @OldAutoOpenIssues bit,
        @OldAutoAssignToBuildLab bit,
        @OldOrgID int,
        @LabLogID int,
        @OldParentLabID int,
        @OldMSDNLabID int,
        @OldDropManagement bit,
        @OldPUID int,
        @ErrMessage varchar(4000),
        @OldAutoDropRemove bit,
        @AutoDropRemoveSetting varchar(5),
        @oldPuName varchar(2500),
        @newPuName varchar(2500),
        @oldCostEasePrName varchar(100),
        @newCostEasePrName varchar(100),
        @OldCostEaseProjectID int,
        @OldBuildMachinesAreReleasedPartially bit,
        @OldSourceControlID int,
        @OldAutoLaunch bit,
        @OldAutoAbandon bit,
        @OldConcurrentLimit int,
        @OldIntervalLimit int,
        @OldIntervalLimitWindow char(1),
        @OldSourceControlPath varchar(1000),
        @OldBugDatabaseID int,
        @OldToolsBaseline decimal(9, 5),
        @OldGitRepoPath varchar(2000),
        @OldGitRepoBranch varchar(255),
        @OldBootstrapVersion varchar(500),
        @OldDropAge int,
        @OldMailTo varchar(500),
        @OldLabGroupId int

    select 	@OldName = LaName,
        @OldShortName = LaShortName,
        @OldDescription = isnull(LaDescription,''),
        @OldBranch = isnull(LaBranch,''),
        @OldBVTCode = isnull(LaBVTCode,''),
        @OldOwner = isnull(LaOwner,''),
        @OldRIFI = isnull(RIFI,0),
        @OldBFDGroupID = isnull(BFDGroupID,0),
        @OldPrivate = LaPrivate,
        @OldStatus = LaStatus,
        @OldDecision = LaDecision,
        @OldIssueHandoffReminderInterval = isnull(LaIssueHandoffReminderInterval,0),
        @OldIssueReminderInterval = isnull(LaIssueReminderInterval,0),
        @OldMilestoneID = MilestoneID,
        @OldCLRTestLab = isnull(LaCLRTestLab,0),
        @OldMSDN = isnull(LaMSDN,0),
        @OldAutoOpenIssues = LaAutoOpenIssues,
        @OldAutoAssignToBuildLab = LaAutoAssignToBuildLab,
        @OldOrgID = isnull(OrgID,0),
        @OldDropManagement = isnull(LaDropManagement,0),
        @OldMSDNLabID = isnull(MSDNLabID, 0),
        @OldAutoDropRemove = LaAutoDropRemove,
        @OldPUID = PUID,
        @OldCostEaseProjectID = CosteaseProjectID,
        @OldBuildMachinesAreReleasedPartially = LaBuildMachinesAreReleasedPartially,
        @OldSourceControlID = SourceControlID,
        @OldAutoLaunch = LaAutoLaunch,
        @OldAutoAbandon = LaAutoAbandon,
        @OldConcurrentLimit = ConcurrentLimit,
        @OldIntervalLimit = IntervalLimit,
        @OldIntervalLimitWindow = IntervalLimitWindow,
        @OldSourceControlPath = LaSourceControlPath,
        @OldBugDatabaseID = BugDatabaseID,
        @OldToolsBaseline = LaToolsBaseline,
        @OldGitRepoPath = LaGitRepoPath,
        @OldGitRepoBranch = LaGitRepoBranch,
        @OldBootstrapVersion = LaBootstrapVersion,
        @OldDropAge = LaDropAge,
        @OldMailTo = LaMailTo,
        @OldLabGroupId = LaLabGroupId
    from 	tbl_Lab
    where 	LabID = @LabID

    select 	@OldParentLabID = ParentLabID
    from	Integration.LabParent
    where	LabID = @LabID

    begin transaction

    set @ErrMessage = 'Updating tbl_Lab table with supplied values'
    update tbl_Lab with (rowlock)
    set LaName = @Name,
        LaShortName = @ShortName,
        LaDescription = @Description,
        LaBranch = @Branch,
        LaBVTCode = @BVTCode,
        LaOwner = @Owner,
        RIFI = @RIFI,
        BFDGroupID = @BFDGroupID,
        LaPrivate = @Private,
        LaStatus = @Status,
        LaAutoDropRemove = @AutoDropRemove,
        LaDecision = @Decision,
        LaIssueHandoffReminderInterval = @IssueHandoffReminderInterval,
        LaIssueReminderInterval = @IssueReminderInterval,
        MilestoneID = @MilestoneID,
        LaCLRTestLab = @CLRTestLab,
        LaMSDN = @MSDN,
        LaAutoOpenIssues = @AutoOpenIssues,
        LaAutoAssignToBuildLab = @AutoAssignToBuildLab,
        LaAutoAssignIssueExceptions = @AutoAssignIssueExceptions,
        OrgID = @OrgID,
        MSDNLabID = @MSDNLabID,
        LaDropManagement = @DropManagement,
        PUID = @PUID,
        CosteaseProjectID = @CostEaseProjectID,
        LaBuildMachinesAreReleasedPartially = @BuildMachinesAreReleasedPartially,
        SourceControlID = @SourceControlID,
        LaAutoLaunch = @AutoLaunch,
        LaAutoAbandon = @AutoAbandon,
        ConcurrentLimit = @ConcurrentLimit,
        IntervalLimit = @IntervalLimit,
        IntervalLimitWindow = @IntervalLimitWindow,
        LaSourceControlPath = @SourceControlPath,
        BugDatabaseID = @BugDatabaseID,
        LaToolsBaseline = @ToolsBaseline,
        LaGitRepoPath = @GitRepoPath,
        LaGitRepoBranch = @GitRepoBranch,
        LaBootstrapVersion = @BootstrapVersion,
        LaDropAge = @DropAge,
        LaMailTo = @MailTo,
        LaLabGroupId = @LabGroupId
    where 	LabID = @LabID
    if(@@error <> 0) goto on_error

    if(isnull(@ParentLabID,0) <> 0)
    begin
        if(isnull(@OldParentLabID,0) = 0)
        begin
            set @ErrMessage = 'Inserting a new record in tbl_LabParent table'

            insert into Integration.LabParent (LabID, ParentLabID)
            values (@LabID, @ParentLabID)

            if(@@error <> 0) goto on_error
        end
        else
        begin
            set @ErrMessage = 'Updating tbl_LabParent table'

            update 	Integration.LabParent
            set	ParentLabID = @ParentLabID
            where	LabID = @LabID

            if(@@error <> 0) goto on_error
        end
    end	 
    else
    begin
        set @ErrMessage = 'Deleting a record from tbl_LabParent table'

        delete from Integration.LabParent
        where	LabID = @LabID

        if(@@error <> 0) goto on_error
    end	

    set @ErrMessage = 'Inserting a new record into tbl_LabLog table'

    insert into tbl_LabLog (LabID, LlUserAlias)
    values (@LabID, @UserAlias)

    if(@@error <> 0) goto on_error

    set @LabLogID = @@identity

    if(@OldShortName <> @ShortName)
        insert into tbl_LabLogText 
        values(@LabLogID,'Shortname changed from "' + @OldShortName + '" to "' + @ShortName + '"')

    if(@OldName <> @Name)
        insert into tbl_LabLogText 
        values(@LabLogID,'Name changed from "' + @OldName + '" to "' + @Name + '"')

    if(@OldDescription <> @Description)
        insert into tbl_LabLogText 
        values(@LabLogID,'Description changed from "' + @OldDescription + '" to "' + @Description + '"')
        
    if(@OldBranch <> @Branch)
        insert into tbl_LabLogText 
        values(@LabLogID,'Branch changed from "' + @OldBranch + '" to "' + @Branch + '"')

    if(@OldBVTCode <> @BVTCode)
        insert into tbl_LabLogText 
        values(@LabLogID,'BVT Code changed from "' + @OldBVTCode + '" to "' + @BVTCode + '"')

    if(@OldOwner <> @Owner)
        insert into tbl_LabLogText 
        values(@LabLogID,'Owner changed from "' + @OldOwner + '" to "' + @Owner + '"')

    if(@OldAutoDropRemove <> @AutoDropRemove)
        begin
            select @AutoDropRemoveSetting = case when @AutoDropRemove = 0 then 'false' else 'true' end
            insert into tbl_LabLogText
            values(@LabLogID, 'Auto Drop Remove setting changed to "' + @AutoDropRemoveSetting + '"')
        end

    if (@OldGitRepoPath <> @GitRepoPath)
        begin
            insert into tbl_LabLogText
            values(@LabLogID, 'GitRepoPath changed from :"' + @OldGitRepoPath + '" to "' + @GitRepoPath + '"')
        end

    if (@OldGitRepoBranch <> @GitRepoBranch)
        begin
            insert into tbl_LabLogText
            values(@LabLogID, 'GitRepoBranch changed from :"' + @OldGitRepoBranch + '" to "' + @GitRepoBranch + '"')
        end
        
    if (@OldBootstrapVersion <> @BootstrapVersion)
        begin
            insert into tbl_LabLogText
            values(@LabLogID, 'BootstrapVersion changed from :"' + @OldBootstrapVersion + '" to "' + @BootstrapVersion + '"')
        end

    if(@OldRIFI <> @RIFI)
    begin
        if(@OldRIFI = 0)
            insert into tbl_LabLogText 
            values(@LabLogID,'This lab does RI/FI with other labs')
        else
            insert into tbl_LabLogText 
            values(@LabLogID,'This lab does not do RI/FI with other labs')
    end

    if(IsNull(@OldBFDGroupID,0) <> IsNull(@BFDGroupID,0))
    begin
        
        declare @BFDGroupName varchar(50),
            @OldBFDGroupName varchar(50)
        
        select 	@BFDGroupName = GrName 
        from 	BFD..tbl_Group 
        where	GroupID = @BFDGroupID

        select 	@OldBFDGroupName = GrName 
        from 	BFD..tbl_Group 
        where	GroupID = @OldBFDGroupID

        insert into tbl_LabLogText 
        values(@LabLogID,'BFD Group changed from "' + IsNull(@OldBFDGroupName,'') + '" to "' + IsNull(@BFDGroupName,'') + '"')

    end

    if(@OldPrivate <> @Private)
    begin
        if(@OldPrivate = 0)
            insert into tbl_LabLogText 
            values(@LabLogID,'This lab is changed to a private lab')
        else
            insert into tbl_LabLogText 
            values(@LabLogID,'This lab is not a private lab')
    end

    if(@OldStatus <> @Status)
    begin
        if(@OldStatus = 0)
            insert into tbl_LabLogText 
            values(@LabLogID,'This lab will be shown in VBLStatus web page')
        else
            insert into tbl_LabLogText 
            values(@LabLogID,'This lab will be not be shown in VBLStatus web page')
    end

    if(@OldDecision <> @Decision)
    begin
        if(@OldDecision = 0)
            insert into tbl_LabLogText 
            values(@LabLogID,'This lab will be shown in VBLDecision web page')
        else
            insert into tbl_LabLogText 
            values(@LabLogID,'This lab will be not be shown in VBLDecision web page')
    end

    if(@OldMSDN <> @MSDN)
    begin
        if(@OldMSDN = 0)
            insert into tbl_LabLogText 
            values(@LabLogID,'This lab is changed to a MSDN lab')
        else
            insert into tbl_LabLogText 
            values(@LabLogID,'This lab is not a MSDN lab')
    end

    if(@OldDropManagement <> @DropManagement)
    begin
        if(@OldDropManagement = 0)
            insert into tbl_LabLogText 
            values(@LabLogID,'Drop Management turned on.')
        else
            insert into tbl_LabLogText 
            values(@LabLogID,'Drop Management turned off.')
    end

    IF(ISNULL(@OldPUID,0) <> ISNULL(@PUID,0))
    BEGIN
        SELECT	@oldPuName = PuName FROM tbl_PU where PUID = @OldPUID
        SELECT	@newPuName = PuName FROM tbl_PU where PUID = @PUID
                
        INSERT INTO tbl_LabLogText 
        VALUES(@LabLogID,'Product Unit Changed from "' + isnull(@oldPuName,'') + '" to "' + isnull(@newPuName,'') + '"')
    END
    
    IF(ISNULL(@OldCostEaseProjectID,0) <> ISNULL(@CostEaseProjectID,0))
    BEGIN
        SELECT	@oldCostEasePrName = PrName FROM CostEase..tbl_Project where ProjectID = @OldCostEaseProjectID
        SELECT	@newCostEasePrName = PrName FROM CostEase..tbl_Project where ProjectID = @CostEaseProjectID
        
        INSERT INTO tbl_LabLogText 
        VALUES(@LabLogID,'CostEase project Changed from "' + ISNULL(@oldCostEasePrName,'') + '" to "' + ISNULL(@newCostEasePrName,'') + '"')
    END
    
    if(@OldAutoOpenIssues <> @AutoOpenIssues)
    begin
        if(@OldAutoOpenIssues = 0)
            insert into tbl_LabLogText 
            values(@LabLogID,'Issues will be auto opened with hand off mails sent every '+ ltrim(rtrim(str(@IssueHandoffReminderInterval)))  + ' minutes and reminder mails sent every ' + ltrim(rtrim(str(@IssueHandoffReminderInterval))) + ' minutes')
        else
            insert into tbl_LabLogText 
            values(@LabLogID,'Issues will not be auto opened')
    end
    else if(@AutoOpenIssues = 1)
    begin
        if(@OldIssueHandoffReminderInterval <> @IssueHandoffReminderInterval)
            insert into tbl_LabLogText 
            values(@LabLogID,'Issues Hand off reminder interval changed from "' + ltrim(rtrim(str(@OldIssueHandoffReminderInterval))) + '" to "' + ltrim(rtrim(str(@IssueHandoffReminderInterval))) + '"')

        if(@OldIssueReminderInterval <> @IssueReminderInterval)
            insert into tbl_LabLogText 
            values(@LabLogID,'Issues reminder interval changed from "' + ltrim(rtrim(str(@OldIssueReminderInterval))) + '" to "' + ltrim(rtrim(str(@IssueReminderInterval))) + '"')
    
    end

    if(@OldAutoAssignToBuildLab <> @AutoAssignToBuildLab)
    begin
        if(@OldAutoAssignToBuildLab = 0)
            insert into tbl_LabLogText 
            values(@LabLogID,'Issues will be auto assigned to Build Lab except ' + isnull(@AutoAssignIssueExceptions, ''))
        else
            insert into tbl_LabLogText 
            values(@LabLogID,'Issues will be auto assigned to BFD except ' + isnull(@AutoAssignIssueExceptions, ''))
    end

    if(@OldBuildMachinesAreReleasedPartially <> @BuildMachinesAreReleasedPartially)
    begin
        IF(@OldBuildMachinesAreReleasedPartially = 0)
            INSERT INTO tbl_LabLogText 
            VALUES(@LabLogID,'Build machines will be partially released')
        ELSE
            INSERT INTO tbl_LabLogText 
            VALUES(@LabLogID,'Build machines will not be released until all build machines are done')
    end

    if(@OldMilestoneID <> @MilestoneID)
    begin
        declare @MilestoneName varchar(50),
            @OldMilestoneName varchar(50)
        
        select 	@MilestoneName = MiName 
        from 	tbl_Milestone 
        where	MilestoneID = @MilestoneID

        select 	@OldMilestoneName = MiName 
        from 	tbl_Milestone 
        where	MilestoneID = @OldMilestoneID

        insert into tbl_LabLogText 
        values(@LabLogID,'Group changed from "' + @OldMilestoneName + '" to "' + @MilestoneName + '"')
    end

    if(@OldOrgID <> @OrgID)
    begin
        declare @OrgName varchar(50),
            @OldOrgName varchar(50)
        
        select 	@OrgName = OrName 
        from 	tbl_Org 
        where	OrgID = @OrgID

        select 	@OldOrgName = OrName 
        from 	tbl_Org 
        where	OrgID = @OldOrgID

        insert into tbl_LabLogText 
        values(@LabLogID,'Org changed from "' + @OldOrgName + '" to "' + @OrgName + '"')
    end

    if(isnull(@OldCLRTestLab,0) <> isnull(@CLRTestLab,0))
    begin
        declare @CLRTestLabName varchar(50),
            @OldCLRTestLabName varchar(50)
        
        select 	@CLRTestLabName = LaName 
        from 	tbl_Lab 
        where	LabID = @CLRTestLab

        select 	@OldCLRTestLabName = LaName 
        from 	tbl_Lab 
        where	LabID = @OldCLRTestLab

        insert into tbl_LabLogText 
        values(@LabLogID,'CLR Test lab changed from "' + isnull(@OldCLRTestLabName,'') + '" to "' + isnull(@CLRTestLabName,'') + '"')
    end

    if(isnull(@OldParentLabID,0) <> isnull(@ParentLabID,0))
    begin
        declare @ParentLabName varchar(50),
            @OldParentLabName varchar(50)

        select 	@ParentLabName = LaName 
        from 	tbl_Lab 
        where	LabID = @ParentLabID

        select 	@OldParentLabName = LaName 
        from 	tbl_Lab 
        where	LabID = @OldParentLabID

        insert into tbl_LabLogText 
        values(@LabLogID,'Parent lab changed from "' + isnull(@OldParentLabName,'') + '" to "' + isnull(@ParentLabName,'') + '"')
    end	
    
    if(isnull(@OldMSDNLabID,0) <> isnull(@MSDNLabID,0))
    begin
        declare @MSDNLabName varchar(50),
            @OldMSDNLabName varchar(50)

        select 	@MSDNLabName = LaName 
        from 	tbl_Lab 
        where	LabID = @MSDNLabID

        select 	@OldMSDNLabName = LaName 
        from 	tbl_Lab 
        where	LabID = @OldMSDNLabID

        insert into tbl_LabLogText 
        values(@LabLogID,'MSDN lab changed from "' + isnull(@OldMSDNLabName,'') + '" to "' + isnull(@MSDNLabName,'') + '"')
    end	

    IF(ISNULL(@OldSourceControlID,0) <> ISNULL(@SourceControlID,0))
    BEGIN
        DECLARE @OldSourceControlName varchar(50),
                @SourceControlName varchar(50)
                
        SELECT @OldSourceControlName = Name 
        FROM tlkp_SourceControl 
        WHERE SourceControlID = @OldSourceControlID
        
        SELECT @SourceControlName = Name 
        FROM tlkp_SourceControl 
        WHERE SourceControlID = @SourceControlID
                
        INSERT INTO tbl_LabLogText 
        VALUES(@LabLogID, 'Source Control changed from "' + ISNULL(@OldSourceControlName,'') + '" to "' + ISNULL(@SourceControlName,'') + '"')
    END

    IF (@OldAutoLaunch <> @AutoLaunch)
    BEGIN
        INSERT INTO tbl_LabLogText 
        VALUES(@LabLogID, 'Auto Launch changed from "' + CONVERT(VARCHAR(10), @OldAutoLaunch) + '" to "' + CONVERT(VARCHAR(10), @AutoLaunch) + '"')
    END
    
    IF (@OldAutoAbandon <> @AutoAbandon)
    BEGIN
        INSERT INTO tbl_LabLogText 
        VALUES(@LabLogID, 'Auto Abandon changed from "' + CONVERT(VARCHAR(10), @OldAutoAbandon) + '" to "' + CONVERT(VARCHAR(10), @AutoAbandon) + '"')
    END	

    IF (ISNULL(@OldConcurrentLimit,0) <> ISNULL(@ConcurrentLimit,0))
    BEGIN
        INSERT INTO tbl_LabLogText 
        VALUES(@LabLogID, 'Concurrent limit changed from "' + ISNULL(CONVERT(VARCHAR(10), @OldConcurrentLimit),'NULL') + '" to "' + ISNULL(CONVERT(VARCHAR(10), @ConcurrentLimit),'NULL') + '"')
    END

    IF (ISNULL(@OldIntervalLimit,0) <> ISNULL(@IntervalLimit,0))
    BEGIN
        INSERT INTO tbl_LabLogText 
        VALUES(@LabLogID, 'Interval limit changed from "' + ISNULL(CONVERT(VARCHAR(10), @OldIntervalLimit),'NULL') + '" to "' + ISNULL(CONVERT(VARCHAR(10), @IntervalLimit),'NULL') + '"')
    END

    IF (ISNULL(@OldIntervalLimitWindow,0) <> ISNULL(@IntervalLimitWindow,0))
    BEGIN
        INSERT INTO tbl_LabLogText 
        VALUES(@LabLogID, 'Interval limit Window changed from "' + ISNULL(CONVERT(VARCHAR(10), @OldIntervalLimitWindow),'NULL') + '" to "' + ISNULL(CONVERT(VARCHAR(10), @IntervalLimitWindow),'NULL') + '"')
    END
    IF (@OldSourceControlPath <> @SourceControlPath)
    BEGIN
        INSERT INTO tbl_LabLogText 
        VALUES(@LabLogID, 'SourceControlPath changed from "' + CONVERT(VARCHAR(1000), @OldSourceControlPath) + '" to "' + CONVERT(VARCHAR(1000), @SourceControlPath) + '"')
    END
    IF (ISNULL(@OldBugDatabaseID,0) <> ISNULL(@BugDatabaseID,0))
    BEGIN
        INSERT INTO tbl_LabLogText 
        VALUES(@LabLogID, 'BugDatabaseID changed from "' + ISNULL(CONVERT(VARCHAR(10), @OldBugDatabaseID),'NULL') + '" to "' + ISNULL(CONVERT(VARCHAR(10), @BugDatabaseID),'NULL') + '"')
    END
    IF (@OldToolsBaseline <> @ToolsBaseline)
    BEGIN
        INSERT INTO tbl_LabLogText 
        VALUES(@LabLogID, 'Tools baseline changed from "' + CONVERT(VARCHAR(10), @OldToolsBaseline) + '" to "' + CONVERT(VARCHAR(10), @ToolsBaseline) + '"')
    END
    IF (ISNULL(@OldDropAge,0) <> ISNULL(@DropAge,0))
    BEGIN
        INSERT INTO tbl_LabLogText 
        VALUES(@LabLogID, 'DropAge changed from "' + ISNULL(CONVERT(NVARCHAR(100), @OldDropAge),'NULL') + '" to "' + ISNULL(CONVERT(NVARCHAR(100), @DropAge),'NULL') + '"')
    END
    IF (@OldMailTo <> @MailTo)
    BEGIN
        INSERT INTO tbl_LabLogText 
        VALUES(@LabLogID, 'MailTo changed from "' + CONVERT(VARCHAR(600), @OldMailTo) + '" to "' + CONVERT(VARCHAR(600), @MailTo) + '"')
    END
    IF (ISNULL(@OldLabGroupId,0) <> ISNULL(@LabGroupId,0))
    BEGIN
        INSERT INTO tbl_LabLogText 
        VALUES(@LabLogID, 'LabGroupId changed from "' + ISNULL(CONVERT(VARCHAR(10), @OldLabGroupId),'NULL') + '" to "' + ISNULL(CONVERT(VARCHAR(10), @LabGroupId),'NULL') + '"')
    END
    commit transaction
    return

on_error:
    rollback transaction
    set @ErrMessage = 'ERROR : sp_UpdateLab - ' + @ErrMessage
    raiserror(@ErrMessage, 16, 1)
    return
GO
