USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_stats_GetSessionBuildTimes_Test]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE     PROCEDURE [dbo].[sp_stats_GetSessionBuildTimes_Test]
(
	@startdate datetime,
	@enddate datetime,
	@labid int,
	@flavorid int,
	@taid int,
	@localesetid int = 1,
	@milestoneid int = 1,
	@buildmachine varchar(100) = '',
	@clean bit = 0
)
AS
BEGIN
	--Get Build Times
	CREATE TABLE #tmpBuildTimes (SeFinished DATETIME, SeRevision VARCHAR(50), SeSessionID INT, BuildMachine varchar(100), ErrorCount INT, BuildMinutes INT)
	INSERT INTO #tmpBuildTimes
		SELECT s.SeFinished, s.SeRevision, s.SessionId, s.SeBuildMachine,  SUM(CONVERT(int, HasErrors)), DATEDIFF(minute,SeStarted,SeFinished) BuildMinutes
		FROM tbl_SessionGroupStatus sgs
		INNER join tbl_session s ON s.SessionID = sgs.SessionID	
		WHERE s.SeStarted >= @startdate AND s.SeStarted < @enddate
		AND s.sefinished IS NOT NULL
		AND s.LabId = @labid
		AND s.FlavorId = @flavorid
		AND s.TargetArchitectureId = @taid
		AND s.LocaleSetID = @localesetid
		AND SeRevision NOT LIKE '%_DEL'
		AND (@buildmachine = '' OR SeBuildMachine = @buildmachine)
		GROUP BY s.SeFinished, s.SeStarted, s.SeRevision, s.SessionId, s.SeBuildMachine
		ORDER BY s.SeRevision

	IF @clean = 1
	DELETE FROM #tmpBuildTimes WHERE ErrorCount > 0

	SELECT * FROM #tmpBuildTimes
	
	--Get Group Times
	CREATE TABLE #tmpGroupTimes (SeRevision VARCHAR(50), SchemaGroupId INT, GrName VARCHAR(255), GrOrder INT, GroupMinutes INT)
	INSERT INTO #tmpGroupTimes
		SELECT SeRevision, sg.SchemaGroupId, GrName, GrOrder, SUM(DATEDIFF(minute, GroupStarted, GroupFinished)) GroupMinutes
		FROM tbl_SessionGroupStatus sgs (NOLOCK)
		INNER JOIN tbl_SchemaGroup sg (NOLOCK) on sgs.SchemaGroupId = sg.SchemaGroupId
		INNER JOIN #tmpBuildTimes tmp on tmp.SeSessionId = sgs.SessionId
		WHERE sgs.SessionID in (SELECT DISTINCT SeSessionId FROM #tmpBuildTimes)
		GROUP BY SeRevision, sg.SchemaGroupId, GrName, GrOrder
	
	SELECT * FROM #tmpGroupTimes

	-- Session Process Times
	SELECT SeRevision, PrName PrName, PrOrder, SUM(DATEDIFF(second, ProcessStarted, ProcessFinished)) ProcessSeconds
	FROM tbl_SessionGroupProcessStatus sgps (NOLOCK)
	INNER JOIN tbl_SchemaGroupProcess sgp (NOLOCK) on sgp.SchemaGroupProcessID = sgps.SchemaGroupProcessID
	INNER JOIN #tmpBuildTimes tmp on tmp.SeSessionId = sgps.SessionID
	WHERE sgp.SchemaGroupID IN (SELECT DISTINCT(SchemaGroupID) FROM #tmpGroupTimes)
	AND [Skip] != 1
	GROUP BY SeRevision, PrName, PrOrder

	-- get Distinct Schemas
	SELECT DISTINCT(SchemaId) 
	FROM tbl_Session 
	WHERE SessionID in (SELECT DISTINCT(SeSessionID) FROM #tmpBuildTimes)

	-- Get average build time
	SELECT AVG(BuildMinutes) [Average Build Time]
	FROM #tmpBuildTimes

	DROP TABLE #tmpBuildTimes
	DROP TABLE #tmpGroupTimes
END
GO
