USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_ReOrderLabPriority]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_ReOrderLabPriority]
	(
		@LabID1 int,
		@LabID2 int
	)
AS

	CREATE TABLE #Labs (RelativeOrder int IDENTITY (1, 1) NOT NULL, LabID int)

	DECLARE @MilestoneID INT
	DECLARE @OrgID INT
	
	SELECT	@MilestoneID = MilestoneID,
			@orgID = OrgID
	FROM	tbl_Lab 
	WHERE	LabID = @LabID1
	
	INSERT 
	INTO		#Labs(LabID)
	SELECT		LabID
	FROM		tbl_Lab
	WHERE		MilestoneID = @MilestoneID
	AND			OrgID = @orgID
	ORDER BY	LaOrder

	DECLARE @SortOrder1 INT
	DECLARE @SortOrder2 INT

	/*Implement our true order*/
	UPDATE tbl_Lab WITH (ROWLOCK)
	   SET LaOrder = l.RelativeOrder
	  FROM #Labs l
	 WHERE tbl_Lab.LabID = l.LabID 
	
	SELECT @SortOrder1 = LaOrder
	FROM   tbl_Lab
	 WHERE LabID = @LabID1

	SELECT @SortOrder2 = LaOrder
	FROM   tbl_Lab
	 WHERE LabID = @LabID2
	
	DECLARE @SortOrderStart INT
	DECLARE @SortOrderStop INT
	DECLARE @Adjustment INT

	IF (@SortOrder1 > @SortOrder2)
	BEGIN 
		SET @SortOrderStart = @SortOrder2
		SET @SortOrderStop = @SortOrder1
		SET @Adjustment = 1
	END
	ELSE
	BEGIN 
		SET @SortOrderStart = @SortOrder1
		SET @SortOrderStop = @SortOrder2
		SET @Adjustment = -1
	END

	UPDATE tbl_Lab
	   SET LaOrder = LaOrder + @Adjustment
	WHERE  MilestoneID = @MilestoneID
	   AND OrgID = @orgID
	   AND @SortOrderStart <= LaOrder
	   AND LaOrder <= @SortOrderStop

	UPDATE tbl_Lab
	   SET LaOrder = @SortOrder2
	 WHERE LabID = @LabID1

	--clean up
	DROP TABLE #Labs
		
GO
