USE [LabStatus]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ParseSemiColonDelimitedParameterPairs]    Script Date: 1/28/2026 12:46:50 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_ParseSemiColonDelimitedParameterPairs]
(
	@SemiColonDelimitedList varchar(8000)
)
RETURNS @TableVar TABLE (Parameter varchar(1000) NOT NULL, [Name] varchar(500), [Value] varchar(500) ) 
AS

BEGIN
	DECLARE @IDListPosition int 
	DECLARE @IDList varchar(8000)
	
	DECLARE @ArrParameter varchar(1000) 
	DECLARE @ArrEqual int
	DECLARE @ArrName varchar(500)
	DECLARE @ArrValue varchar(500)
	
	SET @IDList = COALESCE(@SemiColonDelimitedList, '') 
	IF @IDList <> '' 
	BEGIN 

	-- Add comma to end of list so user doesn't have to 
	IF (SUBSTRING(@IDList, LEN(@IDList), 1) <> ';')
		BEGIN
			SET @IDList = @IDList + ';' 
		END
	
	-- Loop through the comma demlimted string list 
	WHILE PATINDEX('%;%' , @IDList ) <> 0 
		BEGIN 
			SELECT @IDListPosition = PATINDEX('%;%' , @IDList) 
			
			SELECT @ArrParameter = LEFT(@IDList, @IDListPosition - 1) 
			SELECT @ArrEqual = CHARINDEX('=', @ArrParameter)
			SELECT @ArrName = LEFT(@ArrParameter, @ArrEqual - 1)
			SELECT @ArrValue = SUBSTRING(@ArrParameter, @ArrEqual + 1, LEN(@ArrParameter) - @ArrEqual)
			
			-- Insert parsed ID into TableVar for "where in select"
			INSERT INTO @TableVar (Parameter, [Name], [Value]) VALUES (@ArrParameter, @ArrName, @ArrValue)
			-- Remove processed string 
			SELECT @IDList = STUFF(@IDList, 1, @IDListPosition, '') 
		END 
	END 
	RETURN 
END
GO
