USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessions3]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[up_GetSessions3]  
(
	@SessionIDs varchar(max)
)

AS
BEGIN
    SET NOCOUNT ON

	DECLARE @X int

	-- Create a temp table with all the session ids in it.
    CREATE TABLE #SessionID (SessionID INT PRIMARY KEY, RowNumber INT IDENTITY (1, 1))

    INSERT INTO #SessionID
    SELECT  ItemID AS [SessionID]
    FROM    dbo.fn_ParseCommaDelimitedList(@SessionIDs) 

	SELECT	ss.SessionID, COUNT(DISTINCT sgp.SchemaGroupID) AS Setups
	INTO	#Setups
	FROM	tbl_Session s WITH (NOLOCK)
	JOIN	dbo.tbl_SchemaGroupProcess sgp WITH (NOLOCK)
			ON sgp.SchemaID = s.SchemaID AND sgp.PrName = 'Schedule Release'
	JOIN	#SessionId ss
			ON (ss.SessionID = s.SessionID)
	GROUP BY ss.SessionID
	
	;WITH LogSummary AS
	(
		--Summary of Warning/Error/Stall counts for each session
		SELECT	L.SessionID, 
				L.CategoryID, 
				COUNT(LogEntryID) As LogCount, 
				Max(LoDateTimeLogged) LastDateTimeLogged
		FROM	tbl_Log L WITH (NOLOCK)
				JOIN #SessionID s
					ON L.SessionID = S.SessionID
		WHERE	L.CategoryID In (2,3,4) --Warning, Error, Stall Warnings
		GROUP BY L.SessionID, L.CategoryID
	)
	,ErrorSummary AS
	(
		--Summary of *new* Error/Stall counts for each session
		SELECT	L.SessionID, 
				L.CategoryID, 
				COUNT(LogEntryID) As LogCount
		FROM	tbl_LogError L WITH (NOLOCK)
				JOIN #SessionID S
					ON L.SessionID = S.SessionID
		WHERE	L.CategoryID In (3,4) --Error, Stall Warnings
				AND	L.Processed = 0
		GROUP BY L.SessionID, L.CategoryID
	)
	,Processes AS
	(
		SELECT	SGPS.SessionID, 
				COUNT(SGPS.SessionGroupProcessStatusID) NumberOfProcessesInProgress, 
				SUM(CAST(SGPS.Stalled as int)) NumberOfStalledProcesses
		FROM	tbl_SessionGroupProcessStatus SGPS WITH (NOLOCK)
				JOIN	#SessionId S ON (SGPS.SessionID = S.SessionID)
		WHERE	SGPS.StatusID In (2,4,9)
				AND	SGPS.Skip = 0
		GROUP BY SGPS.SessionID
	)
	,ProcessesFinished AS
	(
		/* Last process to finish for each running session */
		SELECT		SGPS.SessionID, 
					MAX(DISTINCT SGPS.ProcessFinished) As LastProcessFinished
		FROM		tbl_SessionGroupProcessStatus SGPS WITH (NOLOCK) 
					JOIN tbl_Session S WITH (NOLOCK)
						ON SGPS.SessionID = s.SessionID
					JOIN #SessionID SS
						ON S.SessionID = SS.SessionID
		WHERE		S.StatusID IN (2,11,12)
					AND SGPS.StatusID In (3,5,6,8) 
					AND	SGPS.Skip = 0
		GROUP BY	SGPS.SessionID
	)
	,InProgressProcess AS
	(
		SELECT	SGPS.SessionID, MAX(SGPS.SessionGroupProcessStatusID) AS SessionGroupProcessStatusID
		FROM	tbl_SessionGroupProcessStatus SGPS WITH (NOLOCK)
		JOIN	#SessionId S 
				ON (SGPS.SessionID = S.SessionID)
		WHERE	SGPS.StatusID In (2,4,9)
				AND	SGPS.Skip = 0
		GROUP BY SGPS.SessionID
	)
	,LastLogEntry AS
	(
		SELECT	S.SessionID, MAX(L.LoDateTimeStamp) AS LastLogTimeStamp
		FROM	tbl_Log L WITH (NOLOCK)
		JOIN	#SessionId S 
				ON (L.SessionID = S.SessionID)
		GROUP BY S.SessionID
	)
	
	-- Sessions.
	SELECT		s.SessionID, s.LabID, s.FlavorID, s.TargetArchitectureID, s.LocaleSetID, s.SeRevision,
				s.StatusID, s.SeStarted, s.SeFinished, s.SeComment,
				CASE WHEN (setup.Setups IS NULL) OR (s.SeSetups > 1) THEN s.SeSetups ELSE setup.Setups END AS SeSetups, 
				s.SeSetupsFinished,
				s.SeDropPath,
				s.SeBuildMachine, s.SeBuildDate, s.SeTestBuild, s.SeCanRecycle, s.SeManuallyStalled, s.SeManuallyStalledStep, s.SeDelayed, s.ResumeStatusID,
				s.SeStalledShort, s.SeStalledLong,
				W.LogCount WarningCount, 
				E.LogCount ErrorCount, 
				SW.LogCount StallWarningCount,	
				NE.LogCount NewErrorCount, 
				NSW.LogCount NewStallWarningCount, 
				s.SeLayoutsAbandoned,
				BVT.RawBVTs, 
				BVT.RawStatus, 
				BVT.RawLink, 
				BVT.LayoutBVTs, 
				BVT.LayoutStatus, 
				BVT.LayoutLink, 
				BVT.LastUpdated As BVTsLastUpdated,
				E.LastDateTimeLogged LastError,
				ISNULL(P.NumberOfStalledProcesses,0) AS  NumberOfStalledProcesses,
				ISNULL(P.NumberOfProcessesInProgress,0) AS NumberOfProcessesInProgress,
				PF.LastProcessFinished,
				BVTDecision = dbo.fn_GetBVTDecision(s.LabID, s.SeBuildDate, s.LocaleSetID, s.SeRevision),
				SG.GrName AS InProgressGrName,
				SGP.PrName AS InProgressPrName,
				LLE.LastLogTimeStamp,
				CAST(CASE WHEN prc.LabID IS NULL THEN 0 ELSE 1 END AS BIT) AS IsPRC
	INTO		#Sessions
	FROM		#SessionID SID
	INNER JOIN	tbl_Session s WITH (NOLOCK)
					ON (S.SessionID = SID.SessionId)
	INNER JOIN	tlkp_Flavor F WITH (NOLOCK)
					ON S.FlavorID = F.FlavorID
	LEFT JOIN	LogSummary W
					ON SID.SessionID = W.SessionID AND W.CategoryID = 2
	LEFT JOIN	LogSummary E
					ON SID.SessionID = E.SessionID AND E.CategoryID = 3
	LEFT JOIN	LogSummary SW
					ON SID.SessionID = SW.SessionID AND SW.CategoryID = 4
	LEFT JOIN	ErrorSummary NE
					ON SID.SessionID = NE.SessionID AND NE.CategoryID = 3
	LEFT JOIN	ErrorSummary NSW
					ON SID.SessionID = NSW.SessionID AND NSW.CategoryID = 4
	LEFT JOIN	tbl_SessionBVT BVT WITH (NOLOCK)
					ON S.SessionID = BVT.SessionID
	LEFT JOIN	Processes P WITH (NOLOCK)
					ON S.SessionID = P.SessionID
	LEFT JOIN	ProcessesFinished PF WITH (NOLOCK)
					ON S.SessionID = PF.SessionID
	LEFT JOIN	InProgressProcess IPP
				ON S.SessionID = IPP.SessionID
	LEFT JOIN	#Setups setup
				ON S.SessionID = setup.SessionID
	LEFT JOIN	tbl_SessionGroupProcessStatus SGPS
				ON IPP.SessionGroupProcessStatusID = SGPS.SessionGroupProcessStatusID
	LEFT JOIN	dbo.tbl_SchemaGroupProcess SGP
				ON SGP.SchemaGroupProcessID = SGPS.SchemaGroupProcessID
	LEFT JOIN   dbo.tbl_SchemaGroup SG
				ON SG.SchemaGroupID = SGP.SchemaGroupID
	LEFT JOIN	LastLogEntry LLE
				ON LLE.SessionID = S.SessionID
	LEFT JOIN	dbo.vw_PRCMapping prc
				ON prc.LabID = s.LabID AND prc.LocaleSetID = s.LocaleSetID
	WHERE		s.LocaleSetID IS NOT NULL
	ORDER BY    SID.RowNumber

	SELECT	*
	FROM	#Sessions
	
	-- Flavor.
	SELECT	DISTINCT F.*
	FROM	tlkp_Flavor F WITH (NOLOCK)
			INNER JOIN #Sessions S
				ON F.FlavorID = S.FlavorID	
		
	-- TargetArchitecture.
	SELECT	DISTINCT TA.*
	FROM	tlkp_TargetArchitecture TA WITH (NOLOCK)
			INNER JOIN #Sessions S
				ON TA.TargetArchitectureID = S.TargetArchitectureID

	-- LocaleSet.
	SELECT	DISTINCT LS.*
	FROM	tlkp_LocaleSet LS WITH (NOLOCK)
			INNER JOIN #Sessions S
				ON LS.LocaleSetID = S.LocaleSetID		

	-- Lab.
	SELECT	DISTINCT L.*
	FROM	tbl_Lab L WITH (NOLOCK)
	JOIN	#Sessions S
				ON L.LabID = S.LabID		

	-- Resume Status.
	SELECT	DISTINCT FS.*
    FROM    tlkp_FixStatus FS
	JOIN	#Sessions S
                ON S.ResumeStatusID = FS.FixStatusID

	-- Machines
	SELECT	DISTINCT SS.SessionID, ISNULL(SGP.MachineName, S.SeBuildMachine) AS MachineName
	FROM	tbl_SchemaGroupProcess SGP WITH (NOLOCK)
	JOIN	tbl_Session S WITH (NOLOCK)
			ON S.SchemaID = SGP.SchemaID
	JOIN	#Sessions SS 
			ON (SS.SessionID = S.SessionID)

	-- Issues.
	SELECT	DISTINCT SI.SessionID, SI.IssueID
    INTO    #Issues
	FROM	atbl_SessionIssue SI WITH (NOLOCK)
	JOIN	#SessionID S
				ON SI.SessionID = S.SessionID	

	SELECT	DISTINCT I.SessionID, ISS.*,
			TestBuild = CASE WHEN EXISTS(
                                    SELECT  SI.SessionID
				                    FROM	atbl_SessionIssue SI WITH (NOLOCK)
				                    JOIN	tbl_Session S WITH (NOLOCK)
							                    ON SI.SessionID = S.SessionID
				                    WHERE	S.SeTestBuild = 0			
				                    AND		SI.IssueID = ISS.IssueID) THEN 0
                             ELSE 1
                        END
	FROM	tbl_Issue ISS WITH (NOLOCK)
	JOIN	#Issues I WITH (NOLOCK)
				ON (ISS.IssueID = I.IssueID)
	WHERE	ISS.IsDeleted = 0

	-- Severity
	SELECT	DISTINCT SE.*
	FROM	tlkp_Severity SE WITH (NOLOCK)
	JOIN	tbl_Issue ISS WITH (NOLOCK)
				ON SE.SeverityID = ISS.SeverityID
	JOIN	#Issues I WITH (NOLOCK)
				ON ISS.IssueID = I.IssueID

    -- Fix
	SELECT	MAX(F.FixId) AS FixId
    INTO    #Fixes
	FROM	tbl_Fix F WITH (NOLOCK)
	JOIN	#Issues I
                ON I.IssueID = F.IssueID
    GROUP BY I.IssueID

    SELECT  F.*
    FROM    tbl_Fix F WITH (NOLOCK)
    JOIN    #Fixes Fixes
                ON (F.FixId = Fixes.FixId)

    -- FixType
	SELECT	DISTINCT FT.*
	FROM	tlkp_FixType FT WITH (NOLOCK)
	JOIN 	tbl_Fix F WITH (NOLOCK)
                ON F.FixTypeID = FT.FixTypeID
    JOIN    #Fixes Fixes
                ON F.FixId = Fixes.FixId

	-- Session Fixes.
	SELECT	F.IssueID, SF.*, S.LabID
    FROM    tbl_SessionFix SF WITH (NOLOCK)
	JOIN 	tbl_Fix F WITH (NOLOCK)
                ON F.FixID = SF.FixID
    JOIN    #Fixes Fixes
                ON F.FixId = Fixes.FixId
    JOIN    tbl_Session S WITH (NOLOCK)
                ON S.SessionID = SF.SessionID

	-- Fix Status.
	SELECT	DISTINCT FS.*
    FROM    tlkp_FixStatus FS
    JOIN    tbl_SessionFix SF WITH (NOLOCK)
                ON SF.FixStatusID = FS.FixStatusID
	JOIN 	tbl_Fix F WITH (NOLOCK)
                ON F.FixID = SF.FixID
    JOIN    #Fixes Fixes
                ON F.FixId = Fixes.FixId

	-- Cleanup.
	DROP TABLE	#Fixes
    DROP TABLE  #Issues
	DROP TABLE	#Sessions
	DROP TABLE	#SessionID
	DROP TABLE	#Setups

END
GO
