USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPlatforms]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPlatforms]
AS
	SET NOCOUNT ON
	
	SELECT PlatformID, PlName
	  FROM tlkp_Platform WITH (NOLOCK) 
  ORDER BY PlName DESC
	
	RETURN 
GO
