USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessionsByBuildUrl]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		iurde
-- Create date: 4/29/2016
-- Description:	Given a build url, select all sessionIds of that build
-- =============================================
CREATE PROCEDURE [dbo].[up_GetSessionsByBuildUrl]
	(
		@BuildUrl varchar(512),
		@TeamProjectUrl varchar(512)
	)
AS
BEGIN
	SET NOCOUNT ON	

	-- Sessions
    DECLARE @SessionIdList VARCHAR(max)
    SELECT	@SessionIdList = COALESCE(@SessionIdList + ',', '') + CONVERT(varchar(20), SessionID) 
    FROM	tbl_Session
    WHERE	SeBuildDetailUrl = @BuildUrl
    AND		SeTeamProjectUrl = @TeamProjectUrl

    EXEC up_GetSessions @SessionIdList

	RETURN 
END
GO
