USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_Log3Internal_AddProcessToSchema]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Log3Internal_AddProcessToSchema]
	(
		@SchemaID int,
		@SessionID int,
		@SchemaGroupID int,
		@Process varchar(100),
		@SchemaGroupProcessID int OUTPUT,
		@SessionGroupProcessStatusID int OUTPUT,
		@MachineName varchar(50) = NULL
	)
AS
	SET NOCOUNT ON
	DECLARE @Err varchar(4000)
	
	BEGIN TRANSACTION	
	
	-- Get the process order.
	DECLARE	@ProcessOrder int
	--SELECT @ProcessOrder = (SELECT MAX(PrOrder) + 1 FROM tbl_SchemaGroupProcess WITH (NOLOCK) WHERE SchemaGroupID = @SchemaGroupID)
	--IF @ProcessOrder IS NULL
	SELECT @ProcessOrder = 1						

	-- Update all the processes for this group whose order is higher.
--	UPDATE tbl_SchemaGroupProcess
--	   SET PrOrder = PrOrder + 1
--	 WHERE SchemaGroupID = @SchemaGroupID
--	   AND PrOrder >= @ProcessOrder

	BEGIN TRY
		-- Insert the new Process.
		SELECT @Err = 'Inserting the new Process'
		INSERT
		INTO tbl_SchemaGroupProcess (
				SchemaID, 
				SchemaGroupID, 
				PrOrder, 
				PrName, 
				PrShortName, 
				AvgBuildTime, 
				RawDrop,
				ViewLevelID,
				MachineName
				)
		VALUES (
				@SchemaID, 
				@SchemaGroupID, 
				@ProcessOrder, 
				@Process, 
				NULL, 
				0, 
				0, 
				1,
				UPPER(@MachineName)
				)
		IF @@ERROR <> 0 GOTO on_err		
		SELECT @SchemaGroupProcessID = @@IDENTITY		
	END TRY	
	BEGIN CATCH
        IF ERROR_NUMBER() <> 2601 -- If the error is not 2601 (Cannot insert duplicate key row in object error), error out.
			goto on_err
		-- Exception will occur when inserted row violates the filtered unique index on tbl_SchemaGroupProcess
		-- (SchemaGroupID and PrName must be a unique combination)
		goto on_duplicate
	END CATCH			

	-- Now, create the appropriate status rows into the SessionGroupProcessStatus table.
	SELECT @Err = 'Creating the SessionGroupProcessStatus records.'
	INSERT
	INTO	tbl_SessionGroupProcessStatus (
			SessionID, 
			SchemaGroupProcessID, 
			StatusID
			)
	VALUES	(
			@SessionID, 
			@SchemaGroupProcessID, 
			1
			)
	IF @@ERROR <> 0 GOTO on_err	
	SELECT @SessionGroupProcessStatusID = @@IDENTITY	
	
	-- Commit the transaction if there are no errors at the end. 
	IF @@ERROR <> 0 
		GOTO on_err
	ELSE 
		GOTO on_success

	on_duplicate:
		goto on_success

	on_success:
		COMMIT TRANSACTION
		RETURN 
	
	on_err:
		ROLLBACK TRANSACTION
		SELECT @Err = 'ERROR: sp_Log3_AddProcessToSchema - ' + @Err
		RAISERROR (@Err , 16, 1)		
	
	RETURN
GO
