USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMyBuilds3]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetMyBuilds3]
	(
		@UserID varchar(50)
	)
AS
	SET NOCOUNT ON	
	
SET NOCOUNT ON	
	
	/* First, grab all the sessions for this user */
	SELECT us.UserSessionID, us.SeComment As MyBuildComment, s.SessionID, s.LabID, s.SeBuildMachine As BuildMachine, s.SeRevision As Revision, s.StatusID, s.SeComment, s.SeSetups, s.SeSetupsFinished, s.FlavorID, s.TargetArchitectureID, s.MilestoneID, s.LocaleSetID, s.SeDropPath As DropPath, s.SeStarted As SessionStarted, s.SeBuildDate As BuildDate, s.SeManuallyStalled As ManuallyStalled, s.SeDelayed As Delayed, s.SeRawDropAbandoned, s.SeLayoutsAbandoned
	  INTO #Sessions
	  FROM tbl_Session s WITH (READPAST)
	  JOIN tbl_UserSession us WITH (READPAST) ON (s.SessionID = us.SessionID)
	 WHERE us.UserID = @UserID
	   AND us.SeRemoved = 0
	   
	/* Now, grab the last process finished (date/time) for each session 
	This is the most expensive query on this page so we do it on it's own
	and with a limited result set. */
	SELECT ss.*, MAX(DISTINCT sgps.ProcessFinished) As LastStep
  	  INTO #SessionsExt
	  FROM #Sessions ss
 LEFT JOIN tbl_SessionGroupProcessStatus sgps WITH (READPAST) ON (ss.SessionID = sgps.SessionID)
 	-- WHERE (sgps.StatusID = 3 OR sgps.StatusID = 5 OR sgps.StatusID = 6 OR sgps.StatusID = 8)
	--   AND sgps.Skip = 0
  GROUP BY ss.UserSessionID, ss.MyBuildComment, ss.SessionID, ss.LabID, ss.BuildMachine, ss.Revision, ss.StatusID, ss.SeComment, ss.SeSetups, ss.SeSetupsFinished, ss.FlavorID, ss.TargetArchitectureID, ss.MilestoneID, ss.LocaleSetID, ss.DropPath, ss.SessionStarted, ss.BuildDate, ss.ManuallyStalled, ss.Delayed, ss.SeRawDropAbandoned, ss.SeLayoutsAbandoned

	/* Here we need to query every process that is actually running for the sessions
	we're going to return.  We'll use this table to count them up later and ensure
	that we have at least one process running for the build. */
	SELECT sgps.SessionID, sgps.SessionGroupProcessStatusID
	  INTO #Processes
	  FROM tbl_SessionGroupProcessStatus sgps WITH (READPAST)
	  JOIN #Sessions s ON (sgps.SessionID = s.SessionID)
	 WHERE (sgps.StatusID = 2 OR sgps.StatusID = 4 OR sgps.StatusID = 9)
	   AND sgps.Skip = 0


	/* Now, grab all the session/build data.  These subqueries are all pretty
	fast since they query very specific things. */
	SELECT ss.*
			, IssueCount = 
				(
					SELECT COUNT(i.IssueID)
 					  FROM tbl_Issue i WITH (READPAST)
					  JOIN tbl_SessionIssue iss WITH (READPAST) ON (i.IssueID = iss.IssueID)
					 WHERE ss.SessionID = iss.SessionID
					   AND i.IsDeleted = 0
					   AND i.IsClosed = 1
				)				
			, BlockingIssueCount = 
				(
					SELECT COUNT(i.IssueID)
 					  FROM tbl_Issue i WITH (READPAST)
					  JOIN tbl_SessionIssue iss WITH (READPAST) ON (i.IssueID = iss.IssueID)
					 WHERE ss.SessionID = iss.SessionID
					   AND i.IsDeleted = 0
					   AND i.IsClosed = 0
					   AND i.SeverityID = 2
				)		
			, NonBlockingIssueCount = 
				(
					SELECT COUNT(i.IssueID)
 					  FROM tbl_Issue i WITH (READPAST)
					  JOIN tbl_SessionIssue iss WITH (READPAST) ON (i.IssueID = iss.IssueID)
					 WHERE ss.SessionID = iss.SessionID
					   AND i.IsDeleted = 0
					   AND i.IsClosed = 0
					   AND i.SeverityID = 1
				)				
			, Stalled = 
				(
					/* Select the number of steps currently running */
					SELECT DISTINCT COUNT(SessionGroupProcessStatusID)
					  FROM #Processes 
					 WHERE SessionID = ss.SessionID
				)	

			, LastError = 
				(
					/* Select the latest error */
					SELECT DISTINCT MAX(lg.LoDateTimeLogged)
					  FROM tbl_Log lg WITH (READPAST)
					 WHERE ss.SessionID = lg.SessionID
				 	   AND (lg.CategoryID = 3)
				)
			, NewErrors = 
				(
					/* Count the number of new errors */
					SELECT COUNT(le.LogEntryID)
					  FROM tbl_LogError le WITH (READPAST)
					 WHERE ss.SessionID = le.SessionID
					 AND le.Processed = 0
					   AND le.CategoryID = 3
				)
			, NewStalls = 
				(
					/* Count the number of new stalls */
					SELECT COUNT(le.LogEntryID)
					  FROM tbl_LogError le WITH (READPAST)
					 WHERE ss.SessionID = le.SessionID
					   AND le.Processed = 0
					   AND le.CategoryID = 4
				)
			, StalledProcesses = 
				(
					/* Select the number of stalled processes */
					SELECT DISTINCT COUNT(sgps8.SessionGroupProcessStatusID)
					  FROM tbl_SessionGroupProcessStatus sgps8 WITH (READPAST)
					 WHERE ss.SessionID = sgps8.SessionID
					   AND sgps8.Stalled = 1
				)	
			, BVTDecision = 
				(
					/* Get a bit indicating whether or not BVTs are needed (from the decision page). */
					SELECT DISTINCT TOP 1 decision.DeBVTs 
					 FROM LabDecision..tbl_Decision decision WITH (READPAST)
					 WHERE (ss.LabID = decision.LabID) 
					   AND (DATEDIFF(dd,ss.BuildDate, decision.DeBuildDate) = 0)
					   AND (decision.DeBuild = 1)
				)	

			, BVTDecisionDefault = 
				(
					/* Get a bit indicating the default decision for BVTs (from the decision page). */
					SELECT DISTINCT TOP 1 defaultDecision.BVTs 
					  FROM LabDecision..tbl_LabDefault defaultDecision WITH (READPAST)
					 WHERE (ss.LabID = defaultDecision.LabID) 
					   AND (defaultDecision.Build = 1)
				)	
	  INTO #SessionResults 
	  FROM #SessionsExt ss
 	
  	/* Finally, join in all the other data and push it out */
	SELECT DISTINCT tp.*, la.LaName As Lab, la.LaBVTCode As BVTLab, la.LaOrder, m.MiName As Milestone, m.MiBVTCode As BVTMilestone, f.FlName As Flavor, f.FlBVTCode As BVTFlavor, f.FlOrder, ta.TaName As TargetArchitecture, ta.TaBVTCode As BVTTargetArchitecture, ls.LoName As [Language], st.StName As SessionStatus, st.StColor, c.CaName, c.CaColor, c.CaOrder, c.CategoryID, c.CategoryTypeID, sbvt.RawBVTs, sbvt.RawStatus, sbvt.RawLink, sbvt.LayoutBVTs, sbvt.LayoutStatus, sbvt.LayoutLink, sbvt.LastUpdated As BVTsLastUpdated
	  FROM #SessionResults tp
	  JOIN tbl_Lab la WITH (READPAST) ON (tp.LabID = la.LabID)
	  JOIN tbl_Milestone m WITH (READPAST) ON (tp.MilestoneID = m.MilestoneID)
  	  JOIN tlkp_Status st WITH (READPAST) ON (tp.StatusID = st.StatusID)
	  JOIN tlkp_Flavor f WITH (READPAST) ON (tp.FlavorID = f.FlavorID)
	  JOIN tlkp_TargetArchitecture ta WITH (READPAST) ON (tp.TargetArchitectureID = ta.TargetArchitectureID)
	  JOIN tlkp_LocaleSet ls WITH (READPAST) ON (tp.LocaleSetID = ls.LocaleSetID)
 LEFT JOIN tbl_SessionBVT sbvt WITH (READPAST) ON (tp.SessionID = sbvt.SessionID)
 LEFT JOIN tbl_Log l WITH (READPAST) ON (tp.SessionID = l.SessionID)
 LEFT JOIN tlkp_Category c WITH (READPAST) ON (l.CategoryID = c.CategoryID)
  ORDER BY la.LaOrder, tp.Revision DESC, tp.LocaleSetID, tp.TargetArchitectureID, f.FlOrder ASC, tp.SessionID, c.CaOrder ASC
  
	DROP TABLE #Processes
	DROP TABLE #Sessions
	DROP TABLE #SessionsExt
	DROP TABLE #SessionResults

	RETURN 


GO
