USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSourceControl]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[up_GetSourceControl] 
	@SourceControlID int
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * 
	FROM tlkp_SourceControl
	WHERE SourceControlID = @SourceControlID
END


GO
