USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_LabRulePipeline]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LabRulePipeline](
	[LabRuleID] [int] NOT NULL,
	[LocaleSetID] [int] NOT NULL,
 CONSTRAINT [PK_tbl_LabRulePipeline] PRIMARY KEY CLUSTERED 
(
	[LabRuleID] ASC,
	[LocaleSetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_LabRulePipeline]  WITH CHECK ADD  CONSTRAINT [FK_tbl_LabRulePipeline_tbl_LabRule] FOREIGN KEY([LabRuleID])
REFERENCES [dbo].[tbl_LabRule] ([LabRuleID])
GO
ALTER TABLE [dbo].[tbl_LabRulePipeline] CHECK CONSTRAINT [FK_tbl_LabRulePipeline_tbl_LabRule]
GO
ALTER TABLE [dbo].[tbl_LabRulePipeline]  WITH CHECK ADD  CONSTRAINT [FK_tbl_LabRulePipeline_tlkp_LocaleSet] FOREIGN KEY([LocaleSetID])
REFERENCES [dbo].[tlkp_LocaleSet] ([LocaleSetID])
GO
ALTER TABLE [dbo].[tbl_LabRulePipeline] CHECK CONSTRAINT [FK_tbl_LabRulePipeline_tlkp_LocaleSet]
GO
