USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLockDownIssues]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLockDownIssues]

AS
	SET NOCOUNT ON
	
	SELECT DISTINCT i.IssueID, i.IsTitle, i.IsAssignedTo, lab.LabID, lab.LaName, lab.LaBranch
      FROM tbl_Issue i WITH (NOLOCK)
	  JOIN tbl_SessionIssue iss WITH (NOLOCK) ON (i.IssueID = iss.IssueID)
	  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
	  JOIN tbl_Lab lab WITH (NOLOCK) ON (s.LabID = lab.LabID)
	 WHERE IsClosed = 0
	   AND IsDeleted = 0
	   AND IsLockDown = 1
	   AND IsLockDownMailSent = 0
	   AND ((IsLockDownImmediate = 1)
	    OR (DATEADD(mi, IsLockDownGracePeriod, IsLockDownSet) < GetDate()))
  ORDER BY i.IssueID
	   	
	RETURN 
GO
