USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_SessionParameterKey]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SessionParameterKey](
	[SessionID] [int] NOT NULL,
	[LabID] [int] NOT NULL,
	[SeRevision] [varchar](100) NOT NULL,
	[SeParameterKey] [varchar](4000) NOT NULL,
 CONSTRAINT [PK_tbl_SessionParameterKey] PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
