USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetIssues]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetIssues]
(
	@IssueIDs varchar(max)
)
AS
BEGIN
	SET NOCOUNT ON

	-- Issues.
	SELECT	iss.*,
			TestBuild = CASE WHEN EXISTS(
                                    SELECT  si.SessionID
				                    FROM	atbl_SessionIssue si WITH (NOLOCK)
				                    JOIN	tbl_Session s WITH (NOLOCK)
							                    ON (si.SessionID = s.SessionID)
				                    WHERE	s.SeTestBuild = 0			
				                    AND		si.IssueID = iss.IssueID) THEN 0
                             ELSE 1
                        END
	INTO	#Issues	
	FROM	tbl_Issue iss WITH (NOLOCK)
    JOIN    dbo.fn_ParseCommaDelimitedList(@IssueIDs) i
				ON (iss.IssueID = i.ItemID)
	SELECT	*
	FROM	#Issues

    SET NOCOUNT OFF

	-- Severity
	SELECT	DISTINCT s.*
	FROM	tlkp_Severity s WITH (NOLOCK)
	JOIN	#Issues i
				ON (s.SeverityID = i.SeverityID)		

	-- Logs.
	SELECT		*
	FROM		tbl_IssueLog il WITH (NOLOCK)
	JOIN		#Issues iss
					ON (il.IssueID = iss.IssueID)
	ORDER BY	IssueLogID DESC

	-- Orgs
	SELECT	i.IssueID, o.*
	FROM	tbl_Org o WITH (NOLOCK)
	JOIN	#Issues i
				ON (o.OrgID = i.OrgID)		

	-- IssueSource
	SELECT	i.IssueID, src.*
	FROM	tlkp_Source src WITH (NOLOCK)
    JOIN    tbl_IssueSource isrc WITH (NOLOCK) 
                ON (src.SourceID = isrc.SourceID)
	JOIN	#Issues i
                ON (isrc.IssueID = i.IssueID)

	-- IssueSubSource
	SELECT	i.IssueID, ss.*
	FROM	tlkp_SubSource ss WITH (NOLOCK)
    JOIN    tbl_IssueSubSource isss WITH (NOLOCK) 
                ON (ss.SubSourceID = isss.SubSourceID)
	JOIN	#Issues i
                ON (i.IssueID = isss.IssueID)

    -- Fix
	SELECT	MAX(f.FixId) AS FixId
    INTO    #Fixes
	FROM	tbl_Fix f WITH (NOLOCK)
	JOIN	#Issues i
                ON (i.IssueID = f.IssueID)
    GROUP BY i.IssueID

    SELECT  f.*
    FROM    tbl_Fix f WITH (NOLOCK)
    JOIN    #Fixes fixes
                ON (f.FixId = fixes.FixId)

    -- FixType
	SELECT	DISTINCT ft.*
	FROM	tlkp_FixType ft WITH (NOLOCK)
	JOIN 	tbl_Fix f WITH (NOLOCK)
                ON (f.FixTypeID = ft.FixTypeID)
    JOIN    #Fixes fixes
                ON (f.FixId = fixes.FixId)

	-- Session Fixes.
	SELECT	f.IssueID, sf.*, s.LabID
    FROM    tbl_SessionFix sf WITH (NOLOCK)
	JOIN 	tbl_Fix f WITH (NOLOCK)
                ON f.FixID = sf.FixID
    JOIN    #Fixes fixes
                ON (f.FixId = fixes.FixId)
    JOIN    tbl_Session s WITH (NOLOCK)
                ON s.SessionID = sf.SessionID

	-- Fix Status.
	SELECT	DISTINCT fs.*
    FROM    tlkp_FixStatus fs
    JOIN    tbl_SessionFix sf WITH (NOLOCK)
                ON sf.FixStatusID = fs.FixStatusID
	JOIN 	tbl_Fix f WITH (NOLOCK)
                ON f.FixID = sf.FixID
    JOIN    #Fixes fixes
                ON (f.FixId = fixes.FixId)

    -- Bugs.
	SELECT  ib.*
	FROM    tbl_IssueBug ib WITH (NOLOCK)
	JOIN	#Issues i
                ON (i.IssueID = ib.IssueID)

    -- BugDB.
	SELECT  DISTINCT bd.*
	FROM    tlkp_BugDatabase bd WITH (NOLOCK) 
	JOIN    tbl_IssueBug ib WITH (NOLOCK)
                ON (ib.BugDatabaseID = bd.BugDatabaseID)
	JOIN	#Issues i
                ON (i.IssueID = ib.IssueID)

    -- Dependencies.
	SELECT  id.IssueID, dep.IssueID AS DupIssueID, dep.IsTitle, dep.IsClosed
    FROM    tbl_IssueDependency id WITH (NOLOCK)
    JOIN    tbl_Issue dep WITH (NOLOCK) 
                ON (id.DependentIssueID = dep.IssueID)
	JOIN	#Issues i
                ON (i.IssueID = id.IssueID)

	-- Sessions. 
	SELECT		si.IssueID, s.SessionID, s.LabID, s.FlavorID, s.TargetArchitectureID, s.LocaleSetID, s.SeRevision,
				s.StatusID, s.SeStarted, s.SeFinished, s.SeComment, s.SeSetups, s.SeSetupsFinished, s.SeDropPath,
				s.SeBuildMachine, s.SeBuildDate, s.SeTestBuild, s.SeCanRecycle, s.SeManuallyStalled, s.SeManuallyStalledStep, s.SeDelayed, s.ResumeStatusID,
				s.SeStalledShort, s.SeStalledLong,
				s.SeRealSigned, s.SeValidationBuild,
				WarningCount = NULL, ErrorCount=NULL, StallWarningCount= NULL, NewErrorCount=NULL, NewStallWarningCount=NULL, s.SeLayoutsAbandoned,
				bvt.RawBVTs, bvt.RawStatus, bvt.RawLink, bvt.LayoutBVTs, bvt.LayoutStatus, bvt.LayoutLink, bvt.LastUpdated As BVTsLastUpdated,
				LastError = NULL,
				NumberOfStalledProcesses = NULL,
				NumberOfProcessesInProgress = NULL,
                LastProcessFinished = NULL,
				BVTDecision = NULL,
				InProgressGrName = NULL,
				InProgressPrName = NULL,
				CAST(CASE WHEN prc.LabID IS NULL THEN 0 ELSE 1 END AS BIT) AS IsPRC,
				s.BugDatabaseID,
				s.SeBuildDetailUrl,
				s.SeTeamProjectUrl,
				s.SeJobName,
				(SELECT ISNULL(MIN(sgs.StatusID), 0)
					FROM tbl_SessionGroupStatus sgs WITH (NOLOCK)
						JOIN tbl_SchemaGroup sg WITH (NOLOCK)
							ON sg.SchemaGroupID = sgs.SchemaGroupID
								AND SG.IsTest = 1
					Where (sgs.SessionID = s.SessionId)
				) TestStatusId,
				sgtpb.TopicBranch,
				sgtpb.ParentBranch,
				sg.SessionGroupID
	INTO		#Sessions	
	FROM		#Issues i
	JOIN	    atbl_SessionIssue si WITH (NOLOCK)
                    ON (i.IssueID = si.IssueID)
	INNER LOOP JOIN tbl_Session s WITH (NOLOCK)
					ON (s.SessionID = si.SessionId)
	LEFT JOIN	tbl_SessionBVT bvt WITH (NOLOCK)
					ON (s.SessionID = bvt.SessionID)
	JOIN		tlkp_Flavor f WITH (NOLOCK)
					ON (s.FlavorID = f.FlavorID)
	LEFT JOIN	dbo.vw_PRCMapping prc WITH (NOLOCK)
				ON prc.LabID = s.LabID AND prc.LocaleSetID = s.LocaleSetID
    LEFT JOIN   tbl_SessionGroup sg WITH (NOLOCK)
				ON sg.LabId = s.LabId 
				AND sg.Revision = s.SeRevision 
				AND sg.LocaleSetID = s.LocaleSetID
	LEFT JOIN   tbl_SessionGroupTopicParentBranches sgtpb WITH (NOLOCK)
				ON sgtpb.SessionGroupID = sg.SessionGroupID
	ORDER BY s.LocaleSetID, s.TargetArchitectureID, f.FlOrder ASC, s.SessionID

	SELECT	DISTINCT *
	FROM	#Sessions
	
	-- Flavor.
	SELECT	DISTINCT f.*
	FROM	tlkp_Flavor f WITH (NOLOCK)
	JOIN	#Sessions s
				ON (f.FlavorID = s.FlavorID)	

	-- TargetArchitecture.
	SELECT	DISTINCT ta.*
	FROM	tlkp_TargetArchitecture ta WITH (NOLOCK)
	JOIN	#Sessions s
				ON (ta.TargetArchitectureID = s.TargetArchitectureID)	

	-- LocaleSet.
	SELECT	DISTINCT ls.*
	FROM	tlkp_LocaleSet ls WITH (NOLOCK)
	JOIN	#Sessions s
				ON (ls.LocaleSetID = s.LocaleSetID)		

	-- Lab.
	SELECT	DISTINCT l.*
	FROM	tbl_Lab l WITH (NOLOCK)
	JOIN	#Sessions s
				ON (l.LabID = s.LabID)		

	-- Resume Status.
	SELECT	DISTINCT fs.*
    FROM    tlkp_FixStatus fs
	JOIN	#Sessions s
                ON s.ResumeStatusID = fs.FixStatusID

	SELECT	SS.SessionID, SchemaGroupID, SG.SchemaID, S.SeBuildMachine
	INTO	#SchemaGroups	
	FROM	dbo.tbl_SchemaGroup SG WITH (NOLOCK)
	JOIN	tbl_Session S WITH (NOLOCK)
			ON S.SchemaID = SG.SchemaID
	JOIN	#Sessions SS 
			ON (SS.SessionID = S.SessionID)
	WHERE	SG.IsTest = 0

	-- Machines
	SELECT	DISTINCT SG.SessionID, ISNULL(SGP.MachineName, SG.SeBuildMachine) AS MachineName
	FROM	tbl_SchemaGroupProcess SGP WITH (NOLOCK)
	JOIN	#SchemaGroups SG
			ON SG.SchemaID = SGP.SchemaID AND SG.SchemaGroupID = SGP.SchemaGroupID
			
	-- Techease Tickets
	SELECT  ticket.*, IIF(ticket.TicketSystemId = 1, o.OrName, NULL)  AS OrgName
	FROM    tbl_IssueTicket ticket WITH (NOLOCK)
	JOIN	#Issues i
            ON (i.IssueID = ticket.IssueID)
	LEFT OUTER JOIN [Techease].[dbo].[tbl_Ticket] AS t
			ON t.TicketID = ticket.TicketNumber
	LEFT OUTER JOIN [Techease].[dbo].[tbl_Org] AS o
			ON o.OrgID = t.OrgID
	
	 -- Service Incidents
	SELECT  si.*
	FROM    tbl_IssueServiceIncident si WITH (NOLOCK)
	JOIN	#Issues i
                ON (i.IssueID = si.IssueID)

	 -- Triage
	SELECT	DISTINCT tr.*
	FROM	tlkp_Triage tr WITH (NOLOCK)
	JOIN	#Issues i
				ON (tr.TriageID = i.TriageID)		

    SET NOCOUNT ON
	-- Cleanup.
	DROP TABLE	#Fixes
	DROP TABLE	#Issues
	DROP TABLE  #SchemaGroups
END
GO
