USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLanguagesSearchable]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetLanguagesSearchable]
AS
	SET NOCOUNT ON
	
	SELECT LanguageID, LaName, LaDescription
	  FROM tlkp_Language WITH (NOLOCK)
	 WHERE LaSearchable = 1
  ORDER BY LaName
	
	RETURN 

GO
