USE [LabStatus]
GO
/****** Object:  Table [dbo].[tlkp_BuildType]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tlkp_BuildType](
	[BuildTypeID] [int] NOT NULL,
	[BuShortName] [varchar](10) NULL,
	[BuName] [varchar](50) NULL,
	[BuOrder] [int] NULL,
 CONSTRAINT [PK_tlkp_BuildType] PRIMARY KEY CLUSTERED 
(
	[BuildTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
