USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_RptIssuesPerSourcePerWeek_NEW]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RptIssuesPerSourcePerWeek_NEW]
	(
		@From datetime,
		@To datetime,
		@Labs varchar(1000)
	)
AS
	SET NOCOUNT ON

	SELECT DISTINCT DATEPART(wk, s.SeBuildDate) As [Week], DATEPART(yy, s.SeBuildDate) As [Year]
	  INTO #Weeks
	  FROM tbl_Session s WITH (NOLOCK) 
	 WHERE DATEDIFF(dd, s.SeBuildDate, @From) <= 0
	   AND DATEDIFF(dd, s.SeBuildDate, @To) >= 0

	SELECT * FROM #Weeks

	SELECT src.SoName As Source, COUNT(DISTINCT i.IssueID) As NumberOfIssues, DATEPART(wk, s.SeBuildDate) As [Week], DATEPART(yy, s.SeBuildDate) As [Year]
	  FROM tbl_SessionIssue iss WITH (NOLOCK)
	  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
	  JOIN tlkp_TargetArchitecture ta WITH (NOLOCK) ON (s.TargetArchitectureID = ta.TargetArchitectureID)
	  JOIN tlkp_Flavor f WITH (NOLOCK) ON (s.FlavorID = f.FlavorID)
	  JOIN tlkp_LocaleSet ls WITH (NOLOCK) ON (s.LocaleSetID = ls.LocaleSetID)
	  JOIN tbl_Issue i WITH (NOLOCK) ON (iss.IssueID = i.IssueID)
      JOIN CostCenter..tbl_CostCenter cc ON (i.IsCostCenter = cc.CostCenterID)
	  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID) 
	  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
	  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (i.IssueID = isrc.IssueID)
      JOIN tlkp_Source src WITH (NOLOCK) ON (isrc.SourceID = src.SourceID)
      JOIN #Weeks wk WITH (NOLOCK) ON (wk.[Week] = DATEPART(wk, s.SeBuildDate) AND wk.[Year] = DATEPART(yy, s.SeBuildDate))
	   AND DATEDIFF(dd, s.SeBuildDate, @To) >= 0
	   AND i.IsDeleted = 0
	   AND src.SourceID <> 11 -- Not information.
	   AND src.SourceID <> 2 -- Raw Suites
       AND i.SeverityID = 2 -- Blocking
	   AND l.VBL = 1
	   AND s.SeRevision NOT LIKE '%_DEL'
      GROUP BY src.SoName, DATEPART(wk, s.SeBuildDate), DATEPART(yy, s.SeBuildDate), src.SoOrder
      -- It is EXTREMELY improtant that this result set is returned in order by source.  The code which consumes 
      -- this depends on it being in this order.
      ORDER BY src.SoOrder DESC, src.SoName DESC, DATEPART(yy, s.SeBuildDate) ASC, DATEPART(wk, s.SeBuildDate) ASC 
      
      DROP TABLE #Weeks
      
	RETURN 







GO
