USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_CompleteSessionIfAllGroupsAreComplete]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_CompleteSessionIfAllGroupsAreComplete]
	@SessionID int,
	@Timestamp datetime = NULL
AS
BEGIN
	-- Finally, check to see if this is the last Group to be completed in this session.
	-- If it is, mark the session as completed also.
	SELECT	TOP 1 sgs.SessionGroupStatusID
	FROM	tbl_SessionGroupStatus sgs WITH (NOLOCK)
				JOIN tbl_SchemaGroup SG WITH (NOLOCK) ON SG.SchemaGroupID = sgs.SchemaGroupID
	WHERE	sgs.SessionID = @SessionID
	AND		(sgs.StatusID = 1 OR sgs.StatusID = 7 OR sgs.StatusID = 2)
	AND		sgs.Skip = 0 AND dbo.fn_IsStepGroupConsideredForBuildCompletion(SG.GrName) = 1
	
	IF @@ROWCOUNT = 0
	BEGIN
		SET @Timestamp = (SELECT MAX(sgs.GroupFinished)
							FROM	tbl_SessionGroupStatus sgs WITH (NOLOCK)
										JOIN tbl_SchemaGroup SG WITH (NOLOCK) ON SG.SchemaGroupID = sgs.SchemaGroupID
							WHERE	sgs.SessionID = @SessionID
							AND		sgs.Skip = 0 AND dbo.fn_IsStepGroupConsideredForBuildCompletion(SG.GrName) = 1)
			
		EXEC sp_UpdateSessionStatusAsFinished @SessionID, 5, @Timestamp
	END
END
GO
