USE [LabStatus]
GO
/****** Object:  UserDefinedTableType [dbo].[LogStallDetectedUDT]    Script Date: 1/28/2026 12:46:50 PM ******/
CREATE TYPE [dbo].[LogStallDetectedUDT] AS TABLE(
	[BuildID] [int] NULL,
	[Group] [varchar](100) NULL,
	[Process] [varchar](100) NULL,
	[Category] [varchar](50) NULL,
	[Reason] [varchar](255) NULL,
	[LogDateTime] [varchar](50) NULL,
	[MachineName] [varchar](50) NULL
)
GO
