USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetLaunchPadRequestsForSessions]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Avip
-- Create date: 10/15/2009
-- Description:	For pulling extra info about Sessions, to determine Lopez owners
-- =============================================
CREATE PROCEDURE [dbo].[up_GetLaunchPadRequestsForSessions]
	@SessionIDs varchar(max)
AS
BEGIN
	SET NOCOUNT ON;

	select *
	from LaunchPad.dbo.vw_LopezRequestSessions LRS WITH (NOLOCK)
	join fn_ParseCommaDelimitedList(@SessionIDs) s ON (s.ItemID = LRS.SessionID)

END
GO
