USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBlockingIssuesByLabs]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetBlockingIssuesByLabs]
	(
		@LabIDs varchar(1000)
	)
AS
	SET NOCOUNT ON
	
	SELECT s.LabID, COUNT(DISTINCT i.IssueID) As NumberOfIssues
	  FROM tbl_Session s WITH (NOLOCK) 
	  JOIN tbl_SessionIssue iss WITH (NOLOCK) ON (s.SessionID = iss.SessionID)
	  JOIN tbl_Issue i WITH (NOLOCK) ON (iss.IssueID = i.IssueID) 
	  JOIN fn_ParseCommaDelimitedList(@LabIDs) l ON (s.LabID = l.ItemID)
	 WHERE i.IsClosed = 0
	   AND i.SeverityID = 2
	   AND i.IsDeleted = 0
	   AND i.IsMachineAccessOnly = 0
  GROUP BY s.LabID
	
	RETURN 

GO
