USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_SessionGroupStatus]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SessionGroupStatus](
	[SessionGroupStatusID] [int] IDENTITY(1,1) NOT NULL,
	[SessionID] [int] NULL,
	[SchemaGroupID] [int] NOT NULL,
	[StatusID] [int] NULL,
	[GroupStarted] [datetime] NULL,
	[GroupFinished] [datetime] NULL,
	[HasErrors] [bit] NULL,
	[HasWarnings] [bit] NULL,
	[Skip] [bit] NULL,
 CONSTRAINT [PK_tbl_SessionGroupStatus] PRIMARY KEY CLUSTERED 
(
	[SessionGroupStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_SessionGroupStatus] ADD  CONSTRAINT [DF_tbl_SessionBuildStatus_HasErrors]  DEFAULT (0) FOR [HasErrors]
GO
ALTER TABLE [dbo].[tbl_SessionGroupStatus] ADD  CONSTRAINT [DF_tbl_SessionBuildStatus_HasWarnings]  DEFAULT (0) FOR [HasWarnings]
GO
ALTER TABLE [dbo].[tbl_SessionGroupStatus] ADD  CONSTRAINT [DF_tbl_SessionGroupStatus_Skip]  DEFAULT (0) FOR [Skip]
GO
ALTER TABLE [dbo].[tbl_SessionGroupStatus]  WITH NOCHECK ADD  CONSTRAINT [FK_tbl_SessionBuildStatus_tbl_Session] FOREIGN KEY([SessionID])
REFERENCES [dbo].[tbl_Session] ([SessionID])
GO
ALTER TABLE [dbo].[tbl_SessionGroupStatus] CHECK CONSTRAINT [FK_tbl_SessionBuildStatus_tbl_Session]
GO
ALTER TABLE [dbo].[tbl_SessionGroupStatus]  WITH CHECK ADD  CONSTRAINT [FK_tbl_SessionBuildStatus_tlkp_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[tlkp_Status] ([StatusID])
GO
ALTER TABLE [dbo].[tbl_SessionGroupStatus] CHECK CONSTRAINT [FK_tbl_SessionBuildStatus_tlkp_Status]
GO
ALTER TABLE [dbo].[tbl_SessionGroupStatus]  WITH CHECK ADD  CONSTRAINT [FK_tbl_SessionGroupStatus_tbl_SchemaGroup] FOREIGN KEY([SchemaGroupID])
REFERENCES [dbo].[tbl_SchemaGroup] ([SchemaGroupID])
GO
ALTER TABLE [dbo].[tbl_SessionGroupStatus] CHECK CONSTRAINT [FK_tbl_SessionGroupStatus_tbl_SchemaGroup]
GO
