USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOrgSecurityRoleCode]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[sp_GetOrgSecurityRoleCode]
(
	@OrgID int
)
as
/*	Modified by	Date		Change
	***********************************************************
	a-karthp		08/29/2005	Created the sproc
*/
	
	select 	r.RoCodeName
	from 	tbl_Org o
	  	join DDSecurity..tbl_Role r on (o.SecurityRoleID = r.RoleID)
	where 	o.OrgID = @OrgID
GO
