USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_UpdateSessionStallWarningsAsProcessed]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_UpdateSessionStallWarningsAsProcessed]
(
	@SessionID int,
	@User varchar(20) = NULL,
	@ImpersonatingUser varchar(20) = NULL,
	@IP varchar(20) = NULL
)
AS
	SET NOCOUNT ON
	
	UPDATE	tbl_LogError WITH (ROWLOCK)
	SET		Processed = 1
	WHERE	SessionID = @SessionID
	AND		Processed = 0
	AND		CategoryID = 4

	INSERT 
	INTO	tbl_SessionLog (SessionID, LoUserName, LoLog, LoDateTime)
	VALUES	(@SessionID, @User, 'All stall warnings marked as processed', GetDate());
	    
	RETURN 


GO
