USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_CreateBuildID]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_CreateBuildID]
(
	@LabName VARCHAR(100),
	@BuildNumber VARCHAR(100),
	@Flavor VARCHAR(10),
	@Architecture VARCHAR(10),
	@Workflow VARCHAR(50),
	@MachineName VARCHAR(100),
	@TargetDateOverride DATETIME = NULL,
	@JobName VARCHAR(100) = NULL,
	@BuildDetailUrl varchar(1000) = NULL,
	@TPCUrl varchar(1000) = NULL,
	@RealSigned BIT = 0,
	@ValidationBuild BIT = 0
)
AS
BEGIN
	SET NOCOUNT ON

	Declare @Arguments VARCHAR(1000)
	
	SET @Arguments = Utils.String.FormatEx('@LabName = ''{0}'', @BuildNumber = ''{1}'', @Flavor = ''{2}'', @Architecture = ''{3}'', @Workflow = ''{4}'', @MachineName = ''{5}'', @TargetDateOverride = ''{6}'', @ValidationBuild = ''{7}''', @LabName, @BuildNumber, @Flavor, @Architecture, @Workflow, @MachineName, @TargetDateOverride, @ValidationBuild, '', '')
	SET @Arguments = Utils.String.Format('{0}, @JobName = ''{1}'', @BuildDetailUrl = ''{2}'', @TPCUrl = ''{3}'', @RealSigned = ''{4}''', @Arguments, @JobName, @BuildDetailUrl, @TPCUrl, @RealSigned)

	INSERT 
	INTO		tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
	VALUES		 
	(
		'up_CreateBuildID ' + @Arguments,
		GetDate(), 
		GetDate()
	) 
	
	Declare @LabID int,
			@FlavorID int,
			@TargetArchitectureID int,
			@BugDatabaseID int
	
	If @TPCUrl Is Not Null
	Begin
		
		Select	@BugDatabaseID = BugDatabaseID
		From	tlkp_BugDatabase
		Where	BdServerUrl = @TPCUrl
		
		If @BugDatabaseID Is Null
		Begin
			Exec Throw 'Specified TPC url ''$'' does not exists', @TPCUrl
			Return
		End
		
	End
	
	Select	@LabID = LabID
	From	tbl_Lab
	Where	LaName = @LabName
	
	If @LabID Is Null
	Begin
		Exec Throw 'Specified lab ''$'' does not exists', @LabName
		Return
	End
	
	Select	@FlavorID = FlavorID
	From	tlkp_Flavor
	Where	FlName = @Flavor
	
	If @FlavorID Is Null
	Begin
		Exec Throw 'Specified flavor ''$'' does not exists', @Flavor
		Return
	End
	
	Select	@TargetArchitectureID = TargetArchitectureID
	From	tlkp_TargetArchitecture
	Where	TaName = @Architecture
	
	If @TargetArchitectureID Is Null
	Begin
		Exec Throw 'Specified architecture ''$'' does not exists', @Architecture
		Return
	End
	
	If Not Exists (Select 1 From tlkp_LocaleSet Where LoShortName = @Workflow)
	Begin
		Exec Throw 'Specified workflow ''$'' does not exists', @Workflow
		Return
	End
	
	
	Exec up_CreateBuildIDs @Revision = @BuildNumber,
		@LabID = @LabID,
		@FlavorID = @FlavorID,
		@TargetArchitectureID = @TargetArchitectureID,
		@Workflow = @Workflow,
		@MachineName = @MachineName,
		@TargetDateOverride = @TargetDateOverride,
		@JobName = @JobName,
		@BuildDetailUrl = @BuildDetailUrl,
		@BugDatabaseID = @BugDatabaseID,
		@RealSigned = @RealSigned,
		@ValidationBuild = @ValidationBuild,
        @TeamProjectUrl = @TPCUrl
	
END
GO
