USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[z_sp_GetSessionID3]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[z_sp_GetSessionID3]
	(
		@Revision varchar(50),
		@LabShortName varchar(10),
		@ProductShortName varchar(10),
		@MilestoneShortName varchar(10),
		@FlavorShortName varchar(10),
		@TargetArchitectureShortName varchar(10),
		@LocaleSetShortName varchar(10),
		@LogDateTime datetime,
		@MachineName varchar(50),
		@SessionID int = NULL OUTPUT,
		@SchemaID int = NULL OUTPUT
	)
AS
	SET NOCOUNT ON
	
    -- Grab the LabID, ProductID, MilestoneID, FlavorID based on 
    -- the names passed in.
	DECLARE @MilestoneID int
	DECLARE @LabID int
	DECLARE @FlavorID int
	DECLARE @TargetArchitectureID int
	DECLARE @LocaleSetID int
	DECLARE @ProductID int
	DECLARE	@SessionSchemaID int
	-- Build the new start time.  This is used as the build date.
	DECLARE @NewStartTime varchar(50)
	
	IF SUBSTRING(@Revision, 6, 3) = '.00'
		BEGIN
			DECLARE @Year varchar(4)
			DECLARE @Month varchar(2)
			DECLARE @Day varchar(2)
			DECLARE @Time varchar(25)
			SELECT @Year = '200' + LEFT(@Revision, 1) 
			SELECT @Month = SUBSTRING(@Revision, 2, 2) 
			SELECT @Day = SUBSTRING(@Revision, 4, 2)
			SELECT @Time = '12:01 am'
			SELECT @NewStartTime = @Year + '-' + @Month + '-' + @Day + ' ' + @Time
		END
	ELSE
		BEGIN
			IF @LabShortName <> 'PRIVATE'	
				SELECT @NewStartTime = CONVERT(varchar(50), DATEADD(dd, 1, @LogDateTime))
			ELSE
				SELECT @NewStartTime = CONVERT(varchar(50), @LogDateTime)
		END

	IF @LabShortName = 'Private'
		SELECT @Revision = @MachineName + '.' + @Revision
	-- MilestoneID.
	SELECT @MilestoneID = MilestoneID
	  FROM tbl_Milestone WITH (NOLOCK) 
	 WHERE MiShortName = @MilestoneShortName
	-- LabID.
	SELECT @LabID = LabID
	  FROM tbl_Lab WITH (NOLOCK)
	 WHERE LaShortName = @LabShortName 
	 
	 IF @LabID IS NULL
		BEGIN
			SELECT @LabID = MAX(LabID) + 1
			  FROM tbl_Lab WITH (NOLOCK)
			INSERT 
			  INTO tbl_Lab (LabID, LaShortName, LaName, LaOrder)
			VALUES (@LabID, @LabShortName, @LabShortName, 100)
		END
	 
	-- FlavorID.
	SELECT @FlavorID = FlavorID
	  FROM tlkp_Flavor WITH (NOLOCK)
	 WHERE FlShortName = @FlavorShortName
	-- TargetArchitectureID.
	SELECT @TargetArchitectureID = TargetArchitectureID
	  FROM tlkp_TargetArchitecture WITH (NOLOCK)
	 WHERE TaShortName = @TargetArchitectureShortName
	-- LocaleSetID.
	SELECT @LocaleSetID = LocaleSetID
	  FROM tlkp_LocaleSet WITH (NOLOCK)
	 WHERE LoShortName = @LocaleSetShortName
	-- ProductID and SchemaID.
	SELECT @ProductID = ProductID, @SessionSchemaID = SchemaID
	  FROM tbl_Product WITH (NOLOCK)
	 WHERE PrShortName = @ProductShortName
		
	-- SessionID.
	DECLARE	@ExistingSessionID int
	SELECT @ExistingSessionID = SessionID
	  FROM tbl_Session WITH (NOLOCK)
	 WHERE SeRevision = @Revision
	   AND MilestoneID = @MilestoneID
	   AND LabID = @LabID
	   AND FlavorID = @FlavorID	
	   AND TargetArchitectureID = @TargetArchitectureID
	   AND LocaleSetID = @LocaleSetID
	   AND ProductID = @ProductID
	   
		
	BEGIN TRANSACTION
		-- Check to see if the session has been created yet.  If it hasn't, go ahead and 
		-- create the new session. 
		IF @ExistingSessionID IS NULL
			BEGIN
				DECLARE @NewSessionID int
				-- Insert the new session into the session table.
				INSERT
				  INTO tbl_Session (ProductID, LabID, MilestoneID, FlavorID, TargetArchitectureID, LocaleSetID, SchemaID, SeRevision, SeStarted, StatusID, SeBuildMachine, SeBuildDate)
				SELECT @ProductID, @LabID, @MilestoneID, @FlavorID, @TargetArchitectureID, @LocaleSetID, @SessionSchemaID, @Revision, @LogDateTime, 1, @MachineName, @NewStartTime
				SELECT @NewSessionID = @@IDENTITY	
				-- Now, copy the appropriate status rows into the SessionGroupProcessStatus table.
				INSERT
				  INTO tbl_SessionGroupProcessStatus (SessionID, SchemaGroupProcessID, StatusID)
				SELECT @NewSessionID, sbp.SchemaGroupProcessID, 1
				  FROM tbl_Product p WITH (NOLOCK)
				  JOIN tbl_SchemaGroupProcess sbp ON (p.SchemaID = sbp.SchemaID)
				 WHERE p.ProductID = @ProductID
				-- Now, copy the appropriate status rows into the SessionGroupStatus table.
				INSERT
				  INTO tbl_SessionGroupStatus (SessionID, SchemaGroupID, StatusID)
				SELECT @NewSessionID, sg.SchemaGroupID, 1
				  FROM tbl_Product p WITH (NOLOCK)
				  JOIN tbl_SchemaGroup sg ON (p.SchemaID = sg.SchemaID)
				 WHERE p.ProductID = @ProductID
				
				SELECT @SessionID = @NewSessionID, @SchemaID = @SessionSchemaID						
			END	
		ELSE
			BEGIN
				DECLARE @SessionStarted datetime
				SELECT @SessionStarted = SeStarted 
				  FROM tbl_Session WITH (NOLOCK)
				 WHERE SessionID = @ExistingSessionID
				IF @SessionStarted IS NULL
					BEGIN
						UPDATE tbl_Session WITH (ROWLOCK)
						   SET SeStarted = @LogDateTime
						 WHERE SessionID = @ExistingSessionID
					END 
				SELECT @SessionID = @ExistingSessionID, @SchemaID = @SessionSchemaID	
			END	
	
	COMMIT TRANSACTION
	
	RETURN 

GO
