USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSchemaGroupsByProduct]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSchemaGroupsByProduct]
(
	@ProductID int
)
AS
	SET NOCOUNT ON
	
	SELECT sg.SchemaGroupID, sg.GrShortName, sg.GrName, sg.AvgBuildTime
	  FROM tbl_SchemaGroup sg WITH (NOLOCK) 
	  JOIN tbl_Product p WITH (NOLOCK)  ON (sg.SchemaID = p.SchemaID)
	 WHERE p.ProductID = @ProductID
  ORDER BY sg.GrOrder
	
	RETURN 
GO
