USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_StallRule]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_StallRule](
	[StallRuleId] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [varchar](250) NULL,
	[ProcessNameMatchString] [varchar](250) NULL,
	[ThresholdPercentage] [decimal](18, 2) NOT NULL,
	[MinimumStallInMinutes] [int] NOT NULL,
	[CreateStallIssue] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[StdDevThresholdMultiple] [float] NULL,
 CONSTRAINT [PK_tbl_StallRule] PRIMARY KEY CLUSTERED 
(
	[StallRuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_StallRule] ADD  CONSTRAINT [DF_tbl_StallRule_MinimumStallInMinutes]  DEFAULT ((10)) FOR [MinimumStallInMinutes]
GO
ALTER TABLE [dbo].[tbl_StallRule] ADD  CONSTRAINT [DF_tbl_StallRule_CreateStallIssue]  DEFAULT ((0)) FOR [CreateStallIssue]
GO
ALTER TABLE [dbo].[tbl_StallRule] ADD  CONSTRAINT [DF_tbl_StallRule_StdDevThresholdMultiple]  DEFAULT ((1.5)) FOR [StdDevThresholdMultiple]
GO
