USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetIssuePlatforms]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetIssuePlatforms]
(
	@IssueID int
)
AS
	SET NOCOUNT ON
	
	SELECT p.PlatformID, p.PlName
	  FROM tbl_IssuePlatform ip WITH (NOLOCK)
	  JOIN tlkp_Platform p WITH (NOLOCK) ON (ip.PlatformID = p.PlatformID)
	 WHERE IssueID = @IssueID
	 
	RETURN 
GO
