USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLabVBLValue]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLabVBLValue]
(
	@LabID int
)
AS
	SET NOCOUNT ON
	
	SELECT VBL
	  FROM tbl_Lab WITH (NOLOCK)	 
	 WHERE LabID = @LabID
  
	RETURN 
GO
