USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_LogSetupFinished2_Test]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- sp_LogSetupFinished
CREATE PROCEDURE [dbo].[sp_LogSetupFinished2_Test]
	(
		@Revision varchar(50),
		@LabShortName varchar(10),
		@ProductShortName varchar(10),
		@MilestoneShortName varchar(10),
		@FlavorShortName varchar(10),
		@TargetArchitectureShortName varchar(10),
		@LocaleSetShortName varchar(10),
		@SetupFinished varchar(255),
		@LogDateTime datetime = NULL,
		@MachineName varchar(50)
	)
AS
	BEGIN TRANSACTION
		DECLARE	@SessionID int
		DECLARE @SchemaID int
		-- SessionID and SchemaID.
		EXEC sp_GetSessionID2 @Revision, @LabShortName, @ProductShortName, @MilestoneShortName, @FlavorShortName, @TargetArchitectureShortName, @LocaleSetShortName, @LogDateTime, @MachineName, @SessionID OUTPUT, @SchemaID OUTPUT
		SELECT @SessionID As SessionID
		IF @SessionID IS NULL
			BEGIN
				RAISERROR ('A session could not be found or created.', 16, 1, @Revision)
				GOTO on_err
			END
		-- Reset the stalled value.
		UPDATE tbl_Session
		   SET SeManuallyStalled = NULL,
			   SeDelayed = 0,
		       SeComment = NULL
		 WHERE SessionID = @SessionID
		
		SELECT 1
		  FROM tbl_SessionSetup
		 WHERE SessionID = @SessionID
		   AND Setup = @SetupFinished
			
		IF @@ROWCOUNT <> 0
			UPDATE tbl_SessionSetup
			   SET SetupFinished = @LogDateTime
			 WHERE SessionID = @SessionID
			   AND Setup = @SetupFinished
				
		-- If it hasn't reported yet, add it to the table and update 
		-- the number of total setups finished.       
		ELSE
			BEGIN
				INSERT 
				  INTO tbl_SessionSetup (SessionID, Setup, SetupFinished)
				VALUES (@SessionID, @SetupFinished, @LogDateTime)
			
				UPDATE tbl_Session
				   SET SeSetupsFinished = SeSetupsFinished + 1
				 WHERE SessionID = @SessionID 

				-- Check if all the setups are complete and the build has already finsihed. 
				DECLARE @SessionStatus int
				DECLARE @Setups int
				DECLARE @SetupsFinished int
				
				SELECT @Setups = SeSetups, @SetupsFinished = SeSetupsFinished, @SessionStatus = StatusID
				  FROM tbl_Session WITH (NOLOCK)
				 WHERE SessionID = @SessionID
				
				-- Only update to complete if all the setups are complete.
				IF @SetupsFinished >= @Setups AND @SessionStatus = 12
					BEGIN
						UPDATE tbl_Session WITH (ROWLOCK)
						   SET StatusID = 5,
		 					   SeFinished = @LogDateTime,
		 					   SeComment = NULL
						 WHERE SessionID = @SessionID
					END
			END   
	
		IF @@ERROR <> 0
			BEGIN
				RAISERROR ('A log entry was not created.', 16, 1, @Revision)
				GOTO on_err
			END

	COMMIT TRANSACTION
	RETURN 
	
	on_err:
	ROLLBACK TRANSACTION
	RETURN
	
		



GO
