USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLabDetailsByFullBranchPath]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetLabDetailsByFullBranchPath]
(
	@FullBranchPath VARCHAR(2000)
)
AS
	DECLARE @LabID INT
	SELECT	TOP 1 @LabID = l.LabID
	FROM	dbo.tbl_Lab l
	JOIN	dbo.tbl_Milestone m
			ON m.MilestoneID = l.MilestoneID
	WHERE	l.LaSourceControlPath = @FullBranchPath
	ORDER BY m.MiOrder

	EXEC sp_GetLabDetails @LabID
GO
