USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetTargetArchitectures]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetTargetArchitectures]
AS
	SET NOCOUNT ON
	
	SELECT TargetArchitectureID, TaName, TaDescription, TaOrder
	  FROM tlkp_TargetArchitecture WITH (NOLOCK) 
	  WHERE TaActive = 1
      ORDER BY TaOrder
	
	RETURN
GO
