USE [LabStatus]
GO
/****** Object:  Table [dbo].[IPSCheck]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IPSCheck](
	[IPSCheckNumber] [int] NOT NULL
) ON [PRIMARY]
GO
