USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_ScheduleSourceCodeFix]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_ScheduleSourceCodeFix]
(
    @IssueID int,
    @SessionID int,
	@SkipRelease bit,
	@LaunchedAutomatically bit
)
AS
BEGIN
    DECLARE @FixID int
    SELECT  TOP 1 @FixID = FixID 
    FROM    tbl_Fix
    WHERE   IssueID = @IssueID
    ORDER BY FiSubmittedDate desc

	-- Update the fix with the flag that says whether it was launched automatically or manually
	UPDATE tbl_Fix SET FiLaunchedAutomatically = @LaunchedAutomatically WHERE FixID = @FixID

	-- Insert or Update the fix details for this session
    IF NOT EXISTS (SELECT * FROM tbl_SessionFix WHERE SessionID = @SessionID AND FixID = @FixID)
    BEGIN
        INSERT INTO tbl_SessionFix
            (SessionID, FixID, FixStatusID, SfScheduleTime, SfSkipRelease)
        VALUES 
            (@SessionID, @FixID, 3, GETDATE(), @SkipRelease) -- 3 starting
    END
    ELSE
    BEGIN
        UPDATE  tbl_SessionFix
        SET     FixStatusID = 3,
                SfScheduleTime = GETDATE()
        WHERE   SessionID = @SessionID 
        AND     FixID = @FixID
    END
    
END
GO
