USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLabBFDs]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLabBFDs]
AS
	SET NOCOUNT ON
	
	SELECT GroupID, GrName
	  FROM BFD..tbl_Group
	  WITH (NOLOCK)
  ORDER BY GrName
	
	RETURN 
GO
