USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateIssue6]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateIssue6]
	(
		@IssueID int,
		@Title varchar(128),
		@Severity int,
		@Language int,
		@Closed bit,
		@WorkAround varchar(4000),
		@Machine varchar(100),
		@User varchar(50),
		@CausedBy varchar(50),
		@CostCenter varchar(20),
		@DateOpened datetime,
		@DateClosed datetime,
		@LockDown bit,
		@Immediate bit,
		@GracePeriod int,
		@CausedByLead varchar(50),
		@OtherSubSource varchar(1000)
	)
AS
	SET NOCOUNT ON
	DECLARE @OldAssignedTo varchar(50)
	DECLARE @OldMachine varchar(100) 

	-- First, grab the machine name and the current user the issue is assigned to.
	SELECT @OldAssignedTo = IsAssignedTo, @OldMachine = IsMachineName
 	  FROM tbl_Issue WITH (NOLOCK)
	 WHERE IssueID = @IssueID

	-- If the machine name changed, revoke access.
	IF @OldMachine <> @Machine
		BEGIN
			EXEC sp_RevokeMachineAccess @IssueID, @OldMachine, @OldAssignedTo
		END
	
	-- If the issue is being closed, revoke machine access.
	IF @Closed = 1
		BEGIN
			IF @OldMachine IS NOT NULL
				BEGIN
					EXEC sp_RevokeMachineAccess @IssueID, @OldMachine, @OldAssignedTo
				END
		END

	DECLARE @Log varchar(6000)
	DECLARE @OldIsClosed bit
	DECLARE @OldLockDown bit
	DECLARE @OldLockDownSet datetime
	 SELECT @OldAssignedTo = IsAssignedTo, @OldMachine = IsMachineName, @OldIsClosed = IsClosed, @OldLockDown = IsLockDown, @OldLockDownSet = IsLockDownSet
	   FROM tbl_Issue WITH (NOLOCK) 
	  WHERE IssueID = @IssueID
	
	-- Machine access.
	IF @Closed = 0 AND @Machine <> ''
		BEGIN
			EXEC sp_GrantMachineAccess @IssueID, @Machine, @OldAssignedTo
		END 
	ELSE
		BEGIN
			EXEC sp_RevokeMachineAccess @IssueID, @OldMachine, @OldAssignedTo
		END 

	-- Closed time.
	IF (@OldIsClosed = 1 AND @Closed = 0)
		BEGIN
			SELECT @Log = 'Re-opened by ' + @User
			EXEC sp_AddIssueLog @IssueID, @Log, @User, NULL
		END	
	ELSE IF (@OldIsClosed = 0 AND @Closed = 1)
		BEGIN
			SELECT @Log = 'Closed by ' + @User
			EXEC sp_AddIssueLog @IssueID, @Log, @User, NULL
		END		

	-- Is lockdown being set for the first time.
	DECLARE @LockDownSet datetime
	IF @LockDown = 1 AND @OldLockDown = 0  -- First time.
		SELECT @LockDownSet = GetDate()
	ELSE IF @LockDown = 1 AND @OldLockDown = 1  -- Still in lockdown.
		SELECT @LockDownSet = @OldLockDownSet
	ELSE
		SELECT @LockDownSet = NULL  -- Not in lockdown.

	IF @LockDownSet IS NULL
		BEGIN
			UPDATE tbl_Issue WITH (ROWLOCK)
			   SET IsLockDownMailSent = 0
			 WHERE IssueID = @IssueID
		END

	-- Finally, update the issue.
	UPDATE tbl_Issue WITH (ROWLOCK)
	   SET IsTitle = @Title, 
		   SeverityID = @Severity, 
		   LanguageID = @Language,
   		   IsDateChanged = GetDate(), 
		   IsClosed = @Closed,
		   IsWorkAround = @WorkAround,
		   IsMachineName = @Machine,
		   IsCausedBy = @CausedBy,
		   IsCausedByLead = @CausedByLead,
		   IsCostCenter = @CostCenter,
		   IsDateCreated = @DateOpened,
		   IsLockDown = @LockDown,
		   IsLockDownImmediate = @Immediate,
		   IsLockDownGracePeriod = @GracePeriod, 
		   IsLockDownSet = @LockDownSet,
		   IsOtherSubSource = @OtherSubSource
	 WHERE IssueID = @IssueID
	 
	 IF @DateClosed IS NOT NULL
		UPDATE tbl_Issue WITH (ROWLOCK)
		   SET IsDateClosed = @DateClosed
		 WHERE IssueID = @IssueID	
	 
	RETURN 


GO
