USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_IssueServiceIncident]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_IssueServiceIncident](
	[IssueServiceIncidentID] [int] IDENTITY(1,1) NOT NULL,
	[IssueID] [int] NOT NULL,
	[ServiceIncidentNumber] [int] NOT NULL,
 CONSTRAINT [PK_tbl_IssueServiceIncident] PRIMARY KEY CLUSTERED 
(
	[IssueServiceIncidentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
