USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_IHAF_StartFix]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[up_IHAF_StartFix]
(
	@FixID int,
	@StartTime datetime,
	@User varchar(50),
	@ImpersonatingUser varchar(50),
	@IP varchar(50)
)
AS
BEGIN
	/*********************
	DESCRIPTION
		Marks a fix as starting
	*********************/

	UPDATE tbl_Fix
	SET FiStartTime = @StartTime,
		FixStatusID = 4  --Started
	WHERE FixID = @FixID

	exec up_IHAF_AddFixLog @FixID = @FixID, 
										@LogText = 'STARTED' , 
										@LogDateTime = @StartTime,
										@User = @User,
										@ImpersonatingUser = @ImpersonatingUser,
										@IP = @IP
END

GO
