USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_TFSGatingSummary]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_TFSGatingSummary]
(
	@StartDate datetime,
	@EndDate datetime
)
AS
BEGIN

If (DATEDIFF(dd,@StartDate, @EndDate) > 30)
Begin
	Print 'You can only request data for 30 day interval'
	Return 
End

;With AllSessions As
(
	select Sess.SessionID,
	DATEDIFF(mi, MIN(l.LoDateTimeStamp), MAX(l.LoDateTimeStamp)) Duration,
	sgp.PrName ProcessName,
	MIN(l.LoDateTimeStamp) GateStarted, 
	MAX(l.LoDateTimeStamp) GateFinished
	from tbl_Session sess WITH (NOLOCK)
	join tbl_Schema sc WITH (NOLOCK) on sc.SchemaID = sess.SchemaID
	Inner Join tbl_SchemaGroup sg WITH (NOLOCK) on sg.SchemaID = sess.SchemaID
	Inner Join tbl_SchemaGroupProcess sgp WITH (NOLOCK) on sgp.SchemaGroupID = sg.SchemaGroupID
	Inner Join tbl_SessionGroupProcessStatus sgps WITH (NOLOCK) on sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID --And Sess.SessionID = sgps.SessionID
	Inner Join tbl_Log l WITH (NOLOCK) on l.SessionGroupProcessStatusID = sgps.SessionGroupProcessStatusID --and sgps.SessionID = l.SessionID
	Where	
			-- sgp.PrName IN (SELECT 'Sync Source Tree') AND
			sess.MilestoneID = 1 AND
			sess.LabID != 819 AND
			sess.SeBuildDate between @StartDate AND @EndDate AND
			L.LoLog Like 'TFSGating Exitcode%'
	Group By sgp.PrName, sess.SessionID, sgps.SessionGroupProcessStatusID
	Having DATEDIFF(mi, MIN(l.LoDateTimeStamp), MAX(l.LoDateTimeStamp)) < 360
)
Select	Cast(Convert(varchar(10), S.SeBuildDate, 101) as datetime) BuildDate, 
		L.LaName Branch,
		L.LabId,
		SS.ProcessName,
		S.SeRevision BuildNumber,
		a.TaShortName Architecture,
		f.FlShortName Flavor,
		S.SeBuildMachine BuildMachine,
		SS.Duration, 
		SS.GateStarted, 
		SS.GateFinished
Into	#BuildGateSummary
From	AllSessions SS
		Inner Join tbl_Session S WITH (NOLOCK) On S.SessionID = SS.SessionID
		Inner Join tlkp_Flavor f WITH (NOLOCK) on f.FlavorID = S.FlavorID
		Inner Join tlkp_TargetArchitecture a WITH (NOLOCK) on a.TargetArchitectureID = S.TargetArchitectureID
		Inner Join tbl_Lab L WITH (NOLOCK) on L.LabID = S.LabID
Order By SS.Duration Desc

Select * From #BuildGateSummary

--Get the averages; display by Build Date
select	Convert(varchar(12),BuildDate, 107) AS [Build Date], 
		COUNT(*) AS [Number of Builds], 
		AVG(Duration) AS [Average Gate Time], 
		SUM(Duration) AS [Aggregate Gate Time],
		MAX(Duration) AS [Maximum Instance]
from	#BuildGateSummary
group by BuildDate
order by BuildDate

Drop Table #BuildGateSummary

END
GO
