USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_RemoveSavedSlot]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE procedure [dbo].[sp_RemoveSavedSlot]
(
	@LabID int,
	@UserAlias varchar(20)
)
as
/*	Modified by	Date		Change
	***********************************************************
	a-karthp		08/24/2005	Created the sproc
	a-karthp		09/13/2005	Added an extra check to see if the slot is not loaned out
*/
	set nocount on 

	declare 	@Rows int,
		@LabLogID int,
		@ErrMessage varchar(4000),
		@ErrNum int

	begin transaction

	set @ErrMessage = 'Deleting a record from tbl_LabSlot table'
	delete from LabDropManagement..atbl_LabSlot
	where LabID = @LabID and SlotID =
	(
		select 	max(SlotID)
		from	LabDropManagement..atbl_LabSlot ls
		where   LabID = @LabID and CurrentLabID = @LabID and SlotID >= 100 and  not exists(select 1 from LabDropManagement..tbl_Drop where LabSlotID = ls.LabSlotID)
	)
	
	select @ErrNum = @@error, @Rows =  @@rowcount

	if(@ErrNum <> 0) goto on_error

	if(@Rows >= 1)
	begin

		set @ErrMessage = 'Updating tbl_Lab table'
		-- Update the lab table
		update 	tbl_Lab
		set	LaDropSlots = LaDropSlots - 1
		where	LabID = @LabID
		
		if(@@error <> 0) goto on_error

		set @ErrMessage = 'Inserting a new record into tbl_LabLog table'

		-- Insert a log
		insert into tbl_LabLog (LabID, LlUserAlias)
		values (@LabID, @UserAlias)
		
		set @LabLogID = @@identity
	
		insert into tbl_LabLogText 
		values(@LabLogID,'A saved slot was removed')

		if(@@error <> 0) goto on_error

	end

	commit transaction
	select @Rows
	return

on_error:
	rollback transaction
	set @ErrMessage = 'ERROR : sp_RemoveSavedSlot - ' + @ErrMessage
	raiserror(@ErrMessage, 16, 1)
GO
