USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessions_Dynamic]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[up_GetSessions_Dynamic]  
(
	@SessionIDs varchar(max)
)

AS
BEGIN
    SET NOCOUNT ON

	DECLARE @X int
	DECLARE @SessionID Table(SessionID INT PRIMARY KEY, RowNumber INT IDENTITY (1, 1))

	DECLARE @LogSessionIDs Table(SessionID INT PRIMARY KEY, WarningCount INT, ErrorCount INT, StallWarningCount INT)
	DECLARE @LogSessionErrorIDs Table(SessionID INT, NewErrorCount INT, NewStallWarningCount INT)
	DECLARE @Process Table(SessionID int, SessionGroupProcessStatusID INT, Stalled bit)
	DECLARE @ProcessesFinished Table(SessionID int, ProcessFinished DATETIME)
	    
	CREATE TABLE #SessionID (SessionID INT PRIMARY KEY, RowNumber INT IDENTITY (1, 1))

  INSERT INTO #SessionID
    SELECT  ItemID AS [SessionID]
    FROM    dbo.fn_ParseCommaDelimitedList(@SessionIDs) 

--	INSERT INTO @LogSessionIDs 
--	SELECT L.SessionID,
--		SUM(CASE WHEN L.CategoryID = 2 THEN 1 ELSE 0 END) As WarningCount,
--		SUM(CASE WHEN L.CategoryID = 3 THEN 1 ELSE 0 END) As ErrorCount,
--		SUM(CASE WHEN L.CategoryID = 4 THEN 1 ELSE 0 END) As StallWarningCount
--	FROM tbl_Log L WITH (NOLOCK) WHERE L.SessionID IN (@SessionIDs)
--	GROUP BY L.SessionID
--
--	INSERT INTO @LogSessionErrorIDs 
--	SELECT LE.SessionID,
--	SUM(CASE WHEN LE.CategoryID = 3 THEN 1 ELSE 0 END) As NewErrorCount,
--	SUM(CASE WHEN LE.CategoryID = 4 THEN 1 ELSE 0 END) As NewStallWarningCount
--	FROM tbl_LogError LE WITH (NOLOCK) WHERE LE.CategoryID = 3 AND LE.Processed = 0 AND LE.SessionID IN (@SessionIDs)
--	GROUP BY LE.SessionID

	--Dynamically create a table
	DECLARE @SQL nvarchar(max),	
			@WhereClause nvarchar(max),
			@CrLf varchar(10),
			@ParmDefinition nvarchar(500),
			@SessionIDList varchar(max),
			@DayBeforeFROM DATETIME, 
			@ThreeDayBeforeFROM DATETIME,  
			@DayBeforeTo DATETIME,  
			@DayAfterTo DATETIME 
			SET @CrLf = CHAR(13) + CHAR(10)
--	SET @ParmDefinition = N'@LogSessionIDs Table(SessionID INT PRIMARY KEY, WarningCount INT, ErrorCount INT, StallWarningCount INT) out';
--	
--	SET @SQL =  'DECLARE @Process Table(SessionID int, SessionGroupProcessStatusID INT, Stalled bit)' + @CrLf
--	SET @SQL = @SQL + 'DECLARE @ProcessesFinished Table(SessionID int, ProcessFinished DATETIME)' + @CrLf
----	SET @SQL = @SQL + 'DECLARE @LogSessionIDs Table(SessionID INT PRIMARY KEY, WarningCount INT, ErrorCount INT, StallWarningCount INT)' + @CrLf
----	SET @SQL = @SQL + 'DECLARE @LogSessionErrorIDs Table(SessionID INT, NewErrorCount INT, NewStallWarningCount INT)' + @CrLf


--	SET @SQL = @SQL + 'INSERT INTO @LogSessionIDs' + @CrLf
	SET @SQL = 'SELECT L.SessionID, SUM(CASE WHEN L.CategoryID = 2 THEN 1 ELSE 0 END) As WarningCount,' + @CrLf
	SET @SQL = @SQL + 'SUM(CASE WHEN L.CategoryID = 3 THEN 1 ELSE 0 END) As ErrorCount,' + @CrLf
	SET @SQL = @SQL + 'SUM(CASE WHEN L.CategoryID = 4 THEN 1 ELSE 0 END) As StallWarningCount' + @CrLf
	SET @SQL = @SQL + 'FROM tbl_Log L WHERE L.SessionID IN (' + @SessionIDs + ')' + @CrLf
	SET @SQL = @SQL + 'GROUP BY    L.SessionID' + @CrLf

	INSERT INTO @LogSessionIDs EXEC sp_executesql  @SQL
	--select * from  @LogSessionIDs
--	SET @SQL = @SQL + 'INSERT INTO @LogSessionErrorIDs' + @CrLf
	SET @SQL = 'SELECT LE.SessionID,SUM(CASE WHEN LE.CategoryID = 3 THEN 1 ELSE 0 END) As NewErrorCount,' + @CrLf
	SET @SQL = @SQL + 'SUM(CASE WHEN LE.CategoryID = 4 THEN 1 ELSE 0 END) As NewStallWarningCount' + @CrLf
	SET @SQL = @SQL + 'FROM tbl_LogError LE WHERE LE.CategoryID = 3 AND LE.Processed = 0 AND LE.SessionID IN (' + @SessionIDs + ')' + @CrLf
	SET @SQL = @SQL + 'GROUP BY    LE.SessionID' + @CrLf

	INSERT INTO @LogSessionErrorIDs EXEC sp_executesql  @SQL
	
--	select * from  @LogSessionErrorIDs

DECLARE @Sessions Table(
					SessionID INT, 
					LabID INT, FlavorID  INT, 
					TargetArchitectureID  INT, 
					LocaleSetID  INT, 
					Revision varchar(100),
					StatusID INT, 
					Started DATETIME, 
					Finished DATETIME, 
					Comment varchar(1000),
					Setups INT, 
					SetupsFinished INT, 
					DropPath VARCHAR(1000),
					BuildMachine varchar(100), 
					BuildDate datetime, 
					TestBuild bit, 
					CanRecycle bit,
					ManuallyStalled datetime, 
					ManuallyStalledStep varchar(50), 
					Delayed bit, 
					ResumeStatusID int,
					WarningCount int,
					ErrorCount int, 
					StallWarningCount int,
					NewErrorCount int, 
					NewStallWarningCount int, 
					LayoutsAbandoned bit,
					RawBVTs varchar(1000),
					RawStatus varchar(1000), 
					RawLink varchar(1000), 
					LayoutBVTs varchar(1000), 
					LayoutStatus varchar(1000), 
					LayoutLink varchar(1000), 
					BVTsLastUpdated datetime,
					LastError datetime,
					NumberOfStalledProcesses int,
					NumberOfProcessesInProgress int,
					LastProcessFinished datetime,
					BVTDecision bit
				)

	/* Here we need to query every process that is actually running for the sessions
	we're going to return.  We'll use this table to count them up later and ensure
	that we have at least one process running for the build. */
			
--		SET @SQL =  'INSERT INTO @Process' + @CrLf
		SET @SQL =  'SELECT	sgps.SessionID, sgps.SessionGroupProcessStatusID, sgps.Stalled' + @CrLf
		SET @SQL = @SQL + 'FROM	tbl_SessionGroupProcessStatus sgps WITH (READPAST)' + @CrLf
		SET @SQL = @SQL + 'WHERE	(sgps.StatusID = 2 OR sgps.StatusID = 4 OR sgps.StatusID = 9) AND sgps.Skip = 0 ' + @CrLf
		SET @SQL = @SQL + 'AND sgps.SessionID IN (' + @SessionIDs + ')' + @CrLf

		INSERT INTO @Process EXEC sp_executesql  @SQL
--	select * from @Process
		
--		SET @SQL =  'INSERT INTO @ProcessesFinished' + @CrLf
		SET @SQL =  'SELECT sgps.SessionID, MAX(DISTINCT sgps.ProcessFinished) As ProcessFinished' + @CrLf
		SET @SQL = @SQL + 'FROM	tbl_SessionGroupProcessStatus sgps ' + @CrLf
		SET @SQL = @SQL + 'JOIN	tbl_Session s WITH (NOLOCK) ON (sgps.SessionID = s.SessionID) ' + @CrLf
		SET @SQL = @SQL + 'AND sgps.SessionID IN (' + @SessionIDs + ')' + @CrLf
		SET @SQL = @SQL + 'WHERE s.StatusID IN (2,11,12)' + @CrLf
		SET @SQL = @SQL + 'AND (sgps.StatusID = 3 OR sgps.StatusID = 5 OR sgps.StatusID = 6 OR sgps.StatusID = 8)' + @CrLf
		SET @SQL = @SQL + 'AND (sgps.Skip = 0)' + @CrLf
		SET @SQL = @SQL + 'GROUP BY	sgps.SessionID' + @CrLf
print @sql
		INSERT INTO @ProcessesFinished EXEC sp_executesql  @SQL
	--select * from @ProcessesFinished

--	SET @SQL = @SQL + 'SELECT s.SessionID, s.LabID, s.FlavorID, s.TargetArchitectureID, s.LocaleSetID,' + @CrLf
--	SET @SQL = @SQL + 's.SeRevision, s.StatusID, s.SeStarted, s.SeFinished, s.SeComment,' + @CrLf
--	SET @SQL = @SQL + 's.SeSetups, s.SeSetupsFinished, s.SeDropPath, s.SeBuildMachine, s.SeBuildDate,' + @CrLf
--	SET @SQL = @SQL + 's.SeTestBuild, s.SeCanRecycle,  s.SeManuallyStalled,  s.SeManuallyStalledStep,' + @CrLf
--	SET @SQL = @SQL + 's.SeDelayed, s.ResumeStatusID, LS.WarningCount, LS.ErrorCount, LS.StallWarningCount,' + @CrLf
--	SET @SQL = @SQL + 'LES.NewErrorCount, LES.NewStallWarningCount, s.SeLayoutsAbandoned, bvt.RawBVTs,' + @CrLf
--	SET @SQL = @SQL + 'bvt.RawStatus, bvt.RawLink, bvt.LayoutBVTs, bvt.LayoutStatus, bvt.LayoutLink, bvt.LastUpdated As BVTsLastUpdated,' + @CrLf
--	SET @SQL = @SQL + 'LastError = ( /* Select the date/time of the latest error */' + @CrLf
--	SET @SQL = @SQL + 'SELECT	MAX(lg.LoDateTimeLogged) FROM	tbl_Log lg WITH (READPAST) WHERE s.SessionID = lg.SessionID' + @CrLf
--	SET @SQL = @SQL + 'AND	lg.CategoryID = 3 ),' + @CrLf
--	SET @SQL = @SQL + 'NumberOfStalledProcesses = ( /* Select the number of stalled processes */' + @CrLf
--	SET @SQL = @SQL + 'SELECT	COUNT(p.SessionGroupProcessStatusID) FROM	@Process p' + @CrLf
--	SET @SQL = @SQL + 'WHERE	p.SessionID = s.SessionID AND p.Stalled = 1 ),' + @CrLf
--	SET @SQL = @SQL + 'NumberOfProcessesInProgress = ( /* Select the number of steps currently running */' + @CrLf
--	SET @SQL = @SQL + 'SELECT	COUNT(SessionGroupProcessStatusID) FROM	@Process p' + @CrLf
--	SET @SQL = @SQL + 'WHERE	p.SessionID = s.SessionID ),' + @CrLf
--	SET @SQL = @SQL + 'CASE WHEN StatusID IN (2,11,12) THEN (' + @CrLf
--	SET @SQL = @SQL + 'SELECT	ProcessFinished FROM	@ProcessesFinished pf' + @CrLf
--	SET @SQL = @SQL + 'WHERE	pf.SessionID = s.SessionID) END As LastProcessFinished,' + @CrLf
--	SET @SQL = @SQL + 'BVTDecision = dbo.fn_GetBVTDecision(s.LabID, s.SeBuildDate, s.LocaleSetID, s.SeRevision)' + @CrLf
--	SET @SQL = @SQL + 'FROM tbl_Session s ' + @CrLf
--	SET @SQL = @SQL + 'LEFT JOIN	@LogSessionIDs LS ON (s.SessionID = LS.SessionID)' + @CrLf
--	SET @SQL = @SQL + 'LEFT JOIN	@LogSessionErrorIDs LES ON (s.SessionID = LES.SessionID)' + @CrLf
--	SET @SQL = @SQL + 'LEFT JOIN	tbl_SessionBVT bvt ON (s.SessionID = bvt.SessionID)' + @CrLf
--	SET @SQL = @SQL + 'JOIN		tlkp_Flavor f ON (s.FlavorID = f.FlavorID) ' + @CrLf
--	SET @SQL = @SQL + 'WHERE s.SessionID IN (' + @SessionIDs + ')'
--	SET @SQL = @SQL + 'ORDER BY sid.RowNumber' + @CrLf

	-- print @SQL

--	INSERT INTO @Sessions EXEC sp_executesql  @SQL	
--	select * from @Sessions

	SELECT		s.SessionID, s.LabID, s.FlavorID, s.TargetArchitectureID, s.LocaleSetID, s.SeRevision,
				s.StatusID, s.SeStarted, s.SeFinished, s.SeComment, s.SeSetups, s.SeSetupsFinished, s.SeDropPath,
				s.SeBuildMachine, s.SeBuildDate, s.SeTestBuild, s.SeCanRecycle, s.SeManuallyStalled, s.SeManuallyStalledStep, s.SeDelayed, s.ResumeStatusID,
				LE.WarningCount, LE.ErrorCount, LE.StallWarningCount,	LES.NewErrorCount, LES.NewStallWarningCount, s.SeLayoutsAbandoned,
				bvt.RawBVTs, bvt.RawStatus, bvt.RawLink, bvt.LayoutBVTs, bvt.LayoutStatus, bvt.LayoutLink, bvt.LastUpdated As BVTsLastUpdated,
				LastError = 
					(
						/* Select the date/time of the latest error */
						SELECT	MAX(lg.LoDateTimeLogged)
						FROM	tbl_Log lg WITH (READPAST)
						WHERE	s.SessionID = lg.SessionID
						AND		lg.CategoryID = 3
					),
				NumberOfStalledProcesses =
					(
						/* Select the number of stalled processes */
						
						SELECT	COUNT(p.SessionGroupProcessStatusID)
						FROM	@Process p
						WHERE	p.SessionID = s.SessionID
						AND		p.Stalled = 1 
					),
				NumberOfProcessesInProgress = 
					(
						/* Select the number of steps currently running */
						SELECT	COUNT(SessionGroupProcessStatusID)
						FROM	@Process p
						WHERE	p.SessionID = s.SessionID
					),
				CASE 			
					WHEN StatusID IN (2,11,12) THEN
					(
						/* Now, grab the last process finished (date/time) for each session 
						This is the most expensive query on this page so we do it on it's own
						and with a limited result set. */
						SELECT	ProcessFinished
						FROM	@ProcessesFinished pf
						WHERE	pf.SessionID = s.SessionID
					)
				END As LastProcessFinished,
				BVTDecision = dbo.fn_GetBVTDecision(s.LabID, s.SeBuildDate, s.LocaleSetID, s.SeRevision)
	INTO		#Sessions	
	FROM		#SessionID sid
	JOIN		tbl_Session s WITH (NOLOCK)
					ON (s.SessionID = sid.SessionId)
	LEFT JOIN	@LogSessionIDs LE
					ON (sid.SessionID = LE.SessionID)
	LEFT JOIN	@LogSessionErrorIDs LES
					ON (sid.SessionID = LES.SessionID)
	LEFT JOIN	tbl_SessionBVT bvt WITH (NOLOCK)
					ON (s.SessionID = bvt.SessionID)
	JOIN		tlkp_Flavor f WITH (NOLOCK)
					ON (s.FlavorID = f.FlavorID)
    ORDER BY    sid.RowNumber

SELECT	*
	FROM	#Sessions
	order by SessionID DESC

	-- Flavor.
	SELECT	DISTINCT f.*
	FROM	tlkp_Flavor f WITH (NOLOCK)
	JOIN	#Sessions s
				ON (f.FlavorID = s.FlavorID)	

	-- TargetArchitecture.
	SELECT	DISTINCT ta.*
	FROM	tlkp_TargetArchitecture ta WITH (NOLOCK)
	JOIN	#Sessions s
				ON (ta.TargetArchitectureID = s.TargetArchitectureID)	

	-- LocaleSet.
	SELECT	DISTINCT ls.*
	FROM	tlkp_LocaleSet ls WITH (NOLOCK)
	JOIN	#Sessions s
				ON (ls.LocaleSetID = s.LocaleSetID)		

	-- Lab.
	SELECT	DISTINCT l.*
	FROM	tbl_Lab l WITH (NOLOCK)
	JOIN	#Sessions s
				ON (l.LabID = s.LabID)		

	-- Resume Status.
	SELECT	DISTINCT fs.*
    FROM    tlkp_FixStatus fs
	JOIN	#Sessions s
                ON s.ResumeStatusID = fs.FixStatusID

	-- Issues.

	SELECT	DISTINCT si.SessionID, si.IssueID
    INTO    #Issues
	FROM	atbl_SessionIssue si WITH (NOLOCK)
	JOIN	#SessionID s
				ON (si.SessionID = s.SessionID)	

	SELECT	DISTINCT i.SessionID, iss.*,
			TestBuild = CASE WHEN EXISTS(
                                    SELECT  si.SessionID
				                    FROM	atbl_SessionIssue si WITH (NOLOCK)
				                    JOIN	tbl_Session s WITH (NOLOCK)
							                    ON (si.SessionID = s.SessionID)
				                    WHERE	s.SeTestBuild = 0			
				                    AND		si.IssueID = iss.IssueID) THEN 0
                             ELSE 1
                        END
	FROM	tbl_Issue iss WITH (NOLOCK)
	JOIN	#Issues i WITH (NOLOCK)
				ON (iss.IssueID = i.IssueID)
	WHERE	iss.IsDeleted = 0

	-- Severity
	SELECT	DISTINCT se.*
	FROM	tlkp_Severity se WITH (NOLOCK)
	JOIN	tbl_Issue iss WITH (NOLOCK)
				ON (se.SeverityID = iss.SeverityID)		
	JOIN	#Issues i WITH (NOLOCK)
				ON (iss.IssueID = i.IssueID)

    -- Fix
	SELECT	MAX(f.FixId) AS FixId
    INTO    #Fixes
	FROM	tbl_Fix f WITH (NOLOCK)
	JOIN	#Issues i
                ON (i.IssueID = f.IssueID)
    GROUP BY i.IssueID

    SELECT  f.*
    FROM    tbl_Fix f WITH (NOLOCK)
    JOIN    #Fixes fixes
                ON (f.FixId = fixes.FixId)

    -- FixType
	SELECT	DISTINCT ft.*
	FROM	tlkp_FixType ft WITH (NOLOCK)
	JOIN 	tbl_Fix f WITH (NOLOCK)
                ON (f.FixTypeID = ft.FixTypeID)
    JOIN    #Fixes fixes
                ON (f.FixId = fixes.FixId)

	-- Session Fixes.
	SELECT	f.IssueID, sf.*, s.LabID
    FROM    tbl_SessionFix sf WITH (NOLOCK)
	JOIN 	tbl_Fix f WITH (NOLOCK)
                ON f.FixID = sf.FixID
    JOIN    #Fixes fixes
                ON (f.FixId = fixes.FixId)
    JOIN    tbl_Session s WITH (NOLOCK)
                ON s.SessionID = sf.SessionID

	-- Fix Status.
	SELECT	DISTINCT fs.*
    FROM    tlkp_FixStatus fs
    JOIN    tbl_SessionFix sf WITH (NOLOCK)
                ON sf.FixStatusID = fs.FixStatusID
	JOIN 	tbl_Fix f WITH (NOLOCK)
                ON f.FixID = sf.FixID
    JOIN    #Fixes fixes
                ON (f.FixId = fixes.FixId)


	/*
	-- Logs.
	SELECT		l.*, le.Processed
	FROM		tbl_Log l WITH (NOLOCK)
	JOIN		#SessionID s
					ON (l.SessionID = s.SessionID)
	LEFT JOIN	tbl_LogError le WITH (NOLOCK)
					ON (le.SessionID = s.SessionID AND l.LogEntryID = le.LogEntryID)
	--ORDER BY	l.LoDateTimeStamp ASC
	*/

	-- Cleanup.
	DROP TABLE	#Fixes
    DROP TABLE  #Issues
	DROP TABLE	#Sessions
	DROP TABLE	#SessionID


END
GO
