USE [LabStatus]
GO
/****** Object:  View [dbo].[vw_SessionOverallStatus]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Overall status (In Progress, Failed and Completed) for sessions with the same Lab and Revision*/
CREATE VIEW [dbo].[vw_SessionOverallStatus]
AS
WITH SessionsStatus AS 
(
	SELECT
		 SessionID
		,LabID
		,SeRevision
		,CASE S.StatusID 
			WHEN 3 THEN 3 
			WHEN 5 THEN 5 
			ELSE 2 
		 END AS StatusID
	FROM
		dbo.tbl_Session AS S WITH (NOLOCK)
)
,SessionsWithStatus AS
(
	SELECT
		 S.SessionID
		,S.LabID
		,S.SeRevision
		,S.StatusID
		,ST.StRank
	FROM
		SessionsStatus AS S 
			INNER JOIN dbo.tlkp_Status AS ST WITH (NOLOCK) 
				ON S.StatusID = ST.StatusID
)
,LabRevisionOverallStatus AS
(
	SELECT
		 S.LabID
		,S.SeRevision AS Revision
		,MIN(S.StatusID) AS StatusID
    FROM
		(
			SELECT
				 LabID
				,SeRevision
				,MAX(StRank) AS StRank
            FROM
				SessionsWithStatus AS S
            GROUP BY LabID, SeRevision
        ) AS SimilarSessions
			INNER JOIN SessionsWithStatus AS S 
				ON SimilarSessions.LabID = S.LabID 
					AND SimilarSessions.SeRevision = S.SeRevision 
					AND SimilarSessions.StRank = S.StRank
    GROUP BY S.LabID, S.SeRevision
)

SELECT
	 S.SessionID
	,LabRevisionOverallStatus_1.StatusID AS OverallStatusID
FROM
	dbo.tbl_Session AS S WITH (NOLOCK)
		INNER JOIN LabRevisionOverallStatus AS LabRevisionOverallStatus_1 
			ON LabRevisionOverallStatus_1.LabID = S.LabID 
				AND LabRevisionOverallStatus_1.Revision = S.SeRevision

GO
