USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_LogSessionChange]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LogSessionChange]
	(
		@SessionID int,
		@User varchar(50),
		@Log varchar(2000)
	)

AS
	SET NOCOUNT ON
	
	INSERT 
	  INTO tbl_SessionLog (SessionID, LoUsername, LoLog, LoDateTime)
	VALUES (@SessionID, @User, @Log, GetDate())
	
	RETURN 
GO
