USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSessionStatus]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateSessionStatus]
	(
		@SessionID int,
		@StatusID int
	)
AS
	SET NOCOUNT ON
	
	UPDATE tbl_Session WITH (ROWLOCK)
	   SET StatusID = @StatusID
	 WHERE SessionID = @SessionID

	-- If the build is being set to be in progres, then make sure that we clear
	-- out a finished time (if one exists).
	IF @StatusID = 2 -- In Progress
		BEGIN
			UPDATE tbl_Session WITH (ROWLOCK)
			   SET SeFinished = NULL
			 WHERE SessionID = @SessionID
		END
	
	RETURN 
GO
