USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddIssue3]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddIssue3]
	(
		@SessionID int,
		@Title varchar(128),
		@AssignedTo varchar(50),
		@PendingOwner varchar(50),
		@NotifyTo varchar(50) = NULL,
		@Severity int,
		@Source int,
		@SubSource int,
		@OtherSubSource varchar(1000) = NULL,
		@WorkAround varchar(4000) = NULL,
		@Machine varchar(100),
		@LockDown bit,
		@Immediate bit,
		@GracePeriod int,
		@IssueID int = NULL OUTPUT 
	)
AS
	SET NOCOUNT ON

	BEGIN TRANSACTION

		DECLARE @LockDownSet datetime
		IF @LockDown = 1
			SELECT @LockDownSet = GetDate()
		ELSE
			SELECT @LockDownSet = NULL
		
		DECLARE @OrgID int
		SELECT @OrgID = OrgID 
		  FROM tbl_Session s WITH (NOLOCK)
		  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
		 WHERE SessionID = @SessionID
		
		-- Add the issue.	
		INSERT
		  INTO tbl_Issue (IsTitle, IsAssignedTo, IsPendingOwner, IsPendingSince, IsAssignedBy, IsDateCreated, IsDateChanged, SeverityID, LanguageID, IsNotifyUser, IsWorkAround, IsMachineName, IsLockDown, IsLockDownSet, IsLockDownImmediate, IsLockDownGracePeriod, IsOtherSubSource, IsLastHandOffReminderSent, IsLastReminderSent, OrgID)
		VALUES (@Title, @AssignedTo, @PendingOwner, GetDate(), @AssignedTo, GetDate(), GetDate(), @Severity, 9999, @NotifyTo, @WorkAround, @Machine, @LockDown, @LockDownSet, @Immediate, @GracePeriod, @OtherSubSource, GetDate(), GetDate(), @OrgID)
		IF @@ROWCOUNT > 0
			SELECT @IssueID = @@Identity
		
		-- Add the issue source.
		IF @Source <> 0
			EXEC sp_AddIssueSource @IssueID, @Source

		-- Add the issue sub source.
		IF @SubSource <> 0
			EXEC sp_AddIssueSubSource @IssueID, @SubSource
			
		-- Associate the issue with the session.	
		INSERT 
		  INTO tbl_SessionIssue (SessionID, IssueID)
		VALUES (@SessionID, @IssueID)
		
		-- Give access to the build machine if needed.
		IF @Machine IS NOT NULL
			EXEC sp_GrantMachineAccess @IssueID, @Machine, @AssignedTo
	
	IF @@ERROR <> 0
		BEGIN
			RAISERROR ('Test', 16, 1, '')
			ROLLBACK TRANSACTION
		END
	ELSE
		COMMIT TRANSACTION
	
	RETURN 


GO
