USE [LabStatus]
GO
/****** Object:  Table [dbo].[tlkp_Flavor]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tlkp_Flavor](
	[FlavorID] [int] NOT NULL,
	[FlShortName] [varchar](10) NULL,
	[FlName] [varchar](50) NULL,
	[FlDescription] [varchar](255) NULL,
	[FlBVTCode] [varchar](10) NULL,
	[FlOrder] [int] NULL,
	[FlActive] [bit] NULL,
	[FlCanAbandon] [bit] NULL,
 CONSTRAINT [PK_tlkp_Flavor] PRIMARY KEY CLUSTERED 
(
	[FlavorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tlkp_Flavor] ADD  CONSTRAINT [DF_tlkp_Flavor_FlActive]  DEFAULT (1) FOR [FlActive]
GO
ALTER TABLE [dbo].[tlkp_Flavor] ADD  CONSTRAINT [DF_tlkp_Flavor_FlCanAbandon]  DEFAULT ((1)) FOR [FlCanAbandon]
GO
