USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GrantMachineAccess]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GrantMachineAccess]
	(
		@IssueID int,
		@Machine varchar(100),
		@UserName varchar(50)
	)
AS
	IF @UserName IS NOT NULL
		BEGIN
			INSERT
			INTO tbl_MachineAccess (IssueID, MachineName, UserName, Status)
			VALUES (@IssueID, @Machine, @UserName, 'GRANTED')
		END
	RETURN 
GO
