USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_FixDefDefault]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_FixDefDefault](
	[FixDefDefault] [int] IDENTITY(1,1) NOT NULL,
	[DeChangeList] [varchar](50) NULL,
	[DeInstructions] [varchar](1000) NULL,
	[DeRebuild] [varchar](255) NULL,
	[DeCauseForBreak] [varchar](1000) NULL,
 CONSTRAINT [PK_tbl_FixDefDefault] PRIMARY KEY CLUSTERED 
(
	[FixDefDefault] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
