USE [LabStatus]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetSessionsFromRequests]    Script Date: 1/28/2026 12:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetSessionsFromRequests]
(
	@RequestIds VARCHAR(MAX)
)
RETURNS @Sessions TABLE (SessionID INT NOT NULL ) 
AS

BEGIN
	IF (CHARINDEX(':', @RequestIds) = 0)
		INSERT INTO @Sessions
		SELECT	s.SessionID
		FROM	tbl_Session s
		JOIN	LaunchPad.dbo.tbl_RequestBuild rb
				ON s.SessionID = rb.SessionID
		JOIN	dbo.fn_ParseCommaDelimitedList(@RequestIds) r
				ON r.ItemID = rb.RequestID
	ELSE
		INSERT INTO @Sessions
		SELECT	s.SessionID
		FROM	tbl_Session s
		JOIN	dbo.fn_SplitString(@RequestIds, ',') r
				ON r.Part = s.SeBuildDetailUrl

	RETURN 
END
GO
