USE [LabStatus]
GO
/****** Object:  View [dbo].[vw_VBLIssues]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_VBLIssues]
AS
Select 	I.IssueID,
		S.SeRevision BuildNumber,
		Count(S.SeRevision) BuildCount,
		I.IsDateCreated CreatedDate,
		I.IsDateCreated ClosedDate,
		I.IsClosed,
		Case 	When IsClosed = 1 Then DATEDIFF(mi, i.IsDateCreated, i.IsDateClosed)
			Else 0
		End TimeToFix,
		L.OrgID, 
		L.LabID, 
		L.LaName Lab, 
		M.MiName [Group],
		L.LaBranch [Branch],
		Case When I.IsCausedBy Is Null Or Rtrim(LTrim(I.IsCausedBy)) = '' Then 'Unknown' Else lower(I.IsCausedBy) End [User],
		SV.SeverityID,
		SV.SeName SeverityName,
		SC.SourceID,
		SC.SoName SourceName,
		Case When I.IsCostCenter Is Null Or Rtrim(LTrim(I.IsCostCenter)) = '' Then 0 Else IsCostCenter End CostCenter,
		IsNull(CC.CoName,'No Specific Cost Center') CostCenterName
From 	tbl_Session S With (NoLock)
		Inner Join tbl_Lab L With (NoLock) On L.LabID = S.LabID
		Inner Join atbl_SessionIssue SI With (NoLock) On SI.SessionID = S.SessionID
		Inner Join tbl_Issue I With (NoLock) On I.IssueID = SI.IssueID
		Inner Join tbl_IssueSource ISC With (NoLock) On ISC.IssueID = I.IssueID
		Left Join CostCenter..tbl_CostCenter CC With (NoLock) On CC.CostCenterID = I.IsCostCenter
		Inner Join tlkp_Source SC With (NoLock) On SC.SourceID = ISC.SourceID
		Inner Join tlkp_Severity SV With (NoLock) On SV.SeverityID = I.SeverityID
		INNER JOIN tbl_Milestone m WITH (NOLOCK) on m.MilestoneID = l.MilestoneID
Where	I.IsDeleted = 0		--Exclude Deleted Issues
		And L.VBL = 1		-- Only Build Labs
		And S.SeRevision Not Like '%_DEL' -- Exclude Deleted Builds
Group	By	I.IssueID,
		S.SeRevision,
		I.IsDateCreated,
		I.IsDateClosed,
		I.IsClosed,
		L.OrgID, 
		L.LabID, 
		L.LaName, 
		M.MiName,
		L.LaBranch,
		I.IsCausedBy,
		SV.SeverityID,
		SV.SeName,
		SC.SourceID,
		SC.SoName,
		IsCostCenter,
		CC.CoName
GO
