USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_IsBuildCompleted]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_IsBuildCompleted]
	(
		@RequestIds VARCHAR(MAX)
	)
AS
BEGIN
	
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	DECLARE @Completed BIT
	SET		@Completed = 0

	DECLARE @Total INT
	SELECT	@Total = COUNT(*)
	FROM	tbl_Session s
	JOIN	dbo.fn_GetSessionsFromRequests(@RequestIds) r
			ON r.SessionID = s.SessionID

	DECLARE @NumberOfIncompleted INT
	SELECT  @NumberOfIncompleted = COUNT(*)
	FROM	tbl_Session s
	JOIN	dbo.fn_GetSessionsFromRequests(@RequestIds) r
			ON r.SessionID = s.SessionID
	WHERE	s.StatusID <> 5 -- not completed

	IF ((@Total >0) AND (@NumberOfIncompleted = 0))
		SET @Completed = 1
	
	SELECT @Completed
END

GO
