USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_MntrCrossStepStallDetect]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MntrCrossStepStallDetect]
AS

BEGIN
	SET NOCOUNT ON;

	DECLARE @Err varchar(MAX)
	DECLARE @CategoryID INT
	DECLARE @NewLogID BIGINT
	DECLARE @SessionID INT
	DECLARE @StalledShort BIT
	DECLARE @StalledLong BIT
	DECLARE @LastProcessFinished DATETIME
	DECLARE @LastStalledSessionGroupProcessStatusID INT
	DECLARE @CurrentStalledSessionGroupProcessStatusID INT
	DECLARE @ShortStall BIT
	DECLARE @MinutesShortStallThreshold INT
	DECLARE @MinutesLongStallThreshold INT
	DECLARE @IssueID INT
	DECLARE @MoreLog VARCHAR(4000)
	SET		@MinutesShortStallThreshold = 10
	SET		@MinutesLongStallThreshold = 60
	
	;WITH SessionCTE AS
	(
		SELECT	s.SessionID, MAX(sgps.ProcessStarted) LastProcessStarted, MAX(sgps.ProcessFinished) AS LastProcessFinished
		FROM	tbl_Session s WITH (NOLOCK)
		JOIN	tbl_Lab l WITH (NOLOCK)
				ON (s.LabID = l.LabID)
		JOIN	tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
					ON (s.SessionID = sgps.SessionID) AND (sgps.ProcessStarted IS NOT NULL) AND (sgps.ProcessFinished IS NOT NULL)
		WHERE	s.SeBuildDate > DATEADD(dd, -5 , GetDate())
		AND		l.LaStatus = 1
		AND		s.StatusID NOT IN (5, 8, 11) -- Completed or Abandoned
		GROUP BY s.SessionID
	), ProcessFinishedStatus AS
	(
		SELECT	s.SessionID, MAX(sgps.SessionGroupProcessStatusID) AS SessionGroupProcessStatusID
		FROM	SessionCTE s
		JOIN	tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
					ON (s.SessionID = sgps.SessionID) AND (s.LastProcessFinished = sgps.ProcessFinished)
		GROUP BY s.SessionID

	), ProcessInProgress AS
	(
		SELECT	SGPS.SessionID, COUNT(SGPS.SessionGroupProcessStatusID) AS NumberOfProcessesInProgress
		FROM	tbl_SessionGroupProcessStatus SGPS WITH (NOLOCK)
		JOIN	SessionCTE S 
				ON (SGPS.SessionID = S.SessionID)
		WHERE	SGPS.StatusID In (2,4,9)
				AND	SGPS.Skip = 0
		GROUP BY SGPS.SessionID
	)

	SELECT	allSessions.*, p.SessionGroupProcessStatusID AS CurrentLastStalledSessionGroupProcessStatusID, s.SeLastStalledSessionGroupProcessStatusID, s.SeStalledShort, s.SeStalledLong
	INTO	#Session
	FROM	SessionCTE allSessions
	JOIN	ProcessFinishedStatus p
				ON (allSessions.SessionID = p.SessionID)
	LEFT JOIN ProcessInProgress inpro
				ON (allSessions.SessionID = inpro.SessionID)
	JOIN	tbl_Session s WITH (NOLOCK)
				ON (allSessions.SessionID = s.SessionID)
	WHERE	allSessions.LastProcessStarted < allSessions.LastProcessFinished
	AND		allSessions.LastProcessFinished < DATEADD(mi, -@MinutesShortStallThreshold, GETDATE())
	AND		((inpro.NumberOfProcessesInProgress IS NULL) OR (inpro.NumberOfProcessesInProgress = 0))
	
	DECLARE Cursor_Session CURSOR FOR
	SELECT	SessionID, CurrentLastStalledSessionGroupProcessStatusID, SeLastStalledSessionGroupProcessStatusID, SeStalledShort, SeStalledLong, LastProcessFinished
	  FROM	#Session
	
	OPEN	Cursor_Session
	FETCH NEXT FROM Cursor_Session 
	INTO 	@SessionID, @CurrentStalledSessionGroupProcessStatusID, @LastStalledSessionGroupProcessStatusID, @StalledShort, @StalledLong, @LastProcessFinished

	
	WHILE (@@FETCH_STATUS = 0)
	BEGIN
		BEGIN TRANSACTION	
		SET @ShortStall = NULL
		IF ((@LastStalledSessionGroupProcessStatusID IS NULL) OR 
			(@LastStalledSessionGroupProcessStatusID <> @CurrentStalledSessionGroupProcessStatusID))
		BEGIN
			-- new stall detected
			UPDATE	tbl_Session WITH(ROWLOCK)
			SET		SeLastStalledSessionGroupProcessStatusID = @CurrentStalledSessionGroupProcessStatusID,
					SeStalledShort = 1,
					SeStalledLong = 0
			WHERE	SessionID = @SessionID
			SET @ShortStall = 1
		END
		ELSE IF ((@LastProcessFinished < DATEADD(mi, -@MinutesLongStallThreshold, GETDATE())) AND
				 (@StalledLong = 0))
		BEGIN
			UPDATE	tbl_Session WITH(ROWLOCK)
			SET		SeStalledLong = 1
			WHERE	SessionID = @SessionID
			SET @ShortStall = 0
		END
		
		IF @@ERROR <> 0 GOTO on_err	

		IF (@ShortStall IS NOT NULL)
		BEGIN
			DECLARE @MinutesStalled VARCHAR(10)
			IF (@ShortStall = 1)
				SET @MinutesStalled = CAST(@MinutesShortStallThreshold AS VARCHAR(10))
			ELSE
				SET @MinutesStalled = CAST(@MinutesLongStallThreshold AS VARCHAR(10))

			SET		@CategoryID = 4 -- Turn off issue creation per [jasward]
			--SET		@CategoryID = 3 -- Error
			SET		@MoreLog = ''
			SELECT  TOP 1 @IssueID = ile.IssueID
			FROM	dbo.tbl_Log l WITH(NOLOCK)
			JOIN	dbo.atbl_IssueLogError ile WITH(NOLOCK)
					ON	l.LogEntryID = ile.LogEntryID
			WHERE l.SessionGroupProcessStatusID = @CurrentStalledSessionGroupProcessStatusID
			IF (@IssueID IS NOT NULL)
			BEGIN
				-- Use warning instead of error if there is an existing blocking issue according to bug# 829250
				SET @CategoryID = 4 -- Stall Warning
				SET @MoreLog = ' Setting this to warning rather than error is because there is an existing issue# ' + CAST(@IssueID AS VARCHAR(20)) + ' already created.'
			END

			-- Create the log entry.
			SELECT	@Err = 'Adding the log entry.'
			INSERT
			INTO	tbl_Log (SessionID, CategoryID, LoDateTimeStamp, LoDateTimeLogged, LoLog, LoMachineName, SessionGroupStatusID, SessionGroupProcessStatusID)
			SELECT	@SessionID, @CategoryID, GetDate(), GetDate(), 
					LEFT('Stall warning - there is no process starting in ' + @MinutesStalled + ' minutes after last step (' + sg.GrName + ':' + sgp.PrName + ') is finished.' + @MoreLog, 255), 
					sgp.MachineName, sgs.SessionGroupStatusID, @CurrentStalledSessionGroupProcessStatusID
			FROM	tbl_Session s WITH (NOLOCK)
			JOIN	tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
						ON sgps.SessionGroupProcessStatusID = @CurrentStalledSessionGroupProcessStatusID
			JOIN	tbl_SchemaGroupProcess sgp WITH (NOLOCK)
						ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID)
			JOIN	tbl_SchemaGroup sg WITH (NOLOCK)
						ON (sgp.SchemaGroupID = sg.SchemaGroupID)
			JOIN	tbl_SessionGroupStatus sgs WITH (NOLOCK)
						ON (sg.SchemaGroupID = sgs.SchemaGroupID AND sgs.SessionID = @SessionID)
			WHERE	s.SessionID = @SessionID
			
			IF @@ERROR <> 0 GOTO on_err		
			SELECT @NewLogID = @@IDENTITY

			-- Create the log error entry.
			SELECT @Err = 'Adding the log error entry.'
			INSERT 
			INTO	tbl_LogError (LogEntryID, SessionID, CategoryID, IsStall)
			SELECT	@NewLogID, @SessionID, @CategoryID, 1

			IF @@ERROR <> 0 GOTO on_err		
		END
		
		COMMIT

		FETCH NEXT FROM Cursor_Session 
		INTO 	@SessionID, @CurrentStalledSessionGroupProcessStatusID, @LastStalledSessionGroupProcessStatusID, @StalledShort, @StalledLong, @LastProcessFinished
	END
	CLOSE Cursor_Session
	DEALLOCATE Cursor_Session	
   
	DROP TABLE #Session

    RETURN 
	
	on_err:
		ROLLBACK TRANSACTION
		SELECT @Err = 'ERROR: sp_MntrCrossStepStallDetect - ' + @Err
		RAISERROR (@Err , 16, 1)

END
GO
