USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBuildNumbers]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBuildNumbers]
AS
	SET NOCOUNT ON
	
	SELECT DISTINCT s.SeRevision
	  FROM tbl_Session s WITH (NOLOCK)
	  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
	 WHERE l.VBL = 1
	   AND s.SeRevision NOT LIKE '%_DEL'
  ORDER BY s.SeRevision DESC 
  
  
	RETURN 
GO
