USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMyBuilds2]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetMyBuilds2]
	(
		@UserID varchar(50)
	)
AS
	SET NOCOUNT ON	
	
	SELECT s.SessionID, s.SeBuildMachine As BuildMachine, s.SeRevision As Revision, s.StatusID, s.SeComment, s.SeSetups, s.SeSetupsFinished, s.LabID, s.FlavorID, s.TargetArchitectureID, s.MilestoneID, s.LocaleSetID, s.SeDropPath As DropPath, s.SeStarted As SessionStarted, s.SeBuildDate As BuildDate, s.SeManuallyStalled As ManuallyStalled, s.SeDelayed As Delayed, s.SeRawDropAbandoned, s.SeLayoutsAbandoned, us.SeComment As MyBuildComment, us.UserSessionID 
			, IssueCount = 
				(
					SELECT COUNT(i.IssueID)
 					  FROM tbl_Issue i WITH (NOLOCK)
					  JOIN tbl_SessionIssue iss WITH (NOLOCK) ON (i.IssueID = iss.IssueID)
					 WHERE s.SessionID = iss.SessionID
					   AND i.IsDeleted = 0
					   AND i.IsClosed = 1
				)				
			, BlockingIssueCount = 
				(
					SELECT COUNT(i.IssueID)
 					  FROM tbl_Issue i WITH (NOLOCK)
					  JOIN tbl_SessionIssue iss WITH (NOLOCK) ON (i.IssueID = iss.IssueID)
					 WHERE s.SessionID = iss.SessionID
					   AND i.IsDeleted = 0
					   AND i.IsClosed = 0
					   AND i.SeverityID = 2
				)		
			, NonBlockingIssueCount = 
				(
					SELECT COUNT(i.IssueID)
 					  FROM tbl_Issue i WITH (NOLOCK)
					  JOIN tbl_SessionIssue iss WITH (NOLOCK) ON (i.IssueID = iss.IssueID)
					 WHERE s.SessionID = iss.SessionID
					   AND i.IsDeleted = 0
					   AND i.IsClosed = 0
					   AND i.SeverityID = 1
				)				
			, Stalled = 
				(
					/* Select a 1 if there are steps currently running */
					SELECT DISTINCT COUNT(sgps6.SessionGroupProcessStatusID)
					  FROM tbl_SchemaGroupProcess sgp6 WITH (NOLOCK) 	
					  JOIN tbl_SessionGroupProcessStatus sgps6 WITH (NOLOCK) ON (sgp6.SchemaGroupProcessID = sgps6.SchemaGroupProcessID AND (sgps6.StatusID = 2 OR sgps6.StatusID = 4))
					 WHERE s.SessionID = sgps6.SessionID
					   AND (sgps6.StatusID = 2 OR sgps6.StatusID = 4 OR sgps6.StatusID = 9)
					   AND sgps6.Skip = 0
				)	
			, LastStep = 
				(
					/* Select a 1 if there are steps currently running */
					SELECT DISTINCT MAX(sgps.ProcessFinished)
					  FROM tbl_SessionGroupProcessStatus sgps7 WITH (NOLOCK)
				 	 WHERE s.SessionID = sgps7.SessionID
				 	   AND (sgps7.StatusID = 3 OR sgps7.StatusID = 5 OR sgps7.StatusID = 6 OR sgps7.StatusID = 8)
					   AND sgps7.Skip = 0
				)
			, LastError = 
				(
					/* Select the latest error */
					SELECT DISTINCT MAX(lg.LoDateTimeLogged)
					  FROM tbl_Log lg WITH (NOLOCK)
					 WHERE s.SessionID = lg.SessionID
				 	   AND (lg.CategoryID = 3)
				)
			, NewErrors = 
				(
					/* Count the number of new errors */
					SELECT COUNT(le.LogEntryID)
					  FROM tbl_LogError le WITH (NOLOCK)
					 WHERE le.SessionID = s.SessionID
					   AND le.Processed = 0
					   AND le.CategoryID = 3
				)
			, NewStalls = 
				(
					/* Count the number of new stalls */
					SELECT COUNT(le.LogEntryID)
					  FROM tbl_LogError le WITH (NOLOCK)
					 WHERE le.SessionID = s.SessionID
					   AND le.Processed = 0
					   AND le.CategoryID = 4
				)
			, StalledProcesses = 
				(
					/* Select the number of stalled processes */
					SELECT DISTINCT COUNT(sgps8.SessionGroupProcessStatusID)
					  FROM tbl_SessionGroupProcessStatus sgps8 WITH (NOLOCK)
					 WHERE s.SessionID = sgps8.SessionID
				 	   AND sgps8.Stalled = 1
				)	
			, BVTDecision = 
				(
					/* Get a bit indicating whether or not BVTs are needed (from the decision page). */
					SELECT decision.DeBVTs 
					  FROM LabDecision..tbl_Decision decision WITH (NOLOCK)
					 WHERE (s.LabID = decision.LabID) 
					   AND (DATEDIFF(dd,s.SeBuildDate,decision.DeBuildDate) = 0)
					   AND (decision.DeBuild = 1)
				)	

			, BVTDecisionDefault = 
				(
					/* Get a bit indicating the default decision for BVTs (from the decision page). */
					SELECT defaultDecision.BVTs 
					  FROM LabDecision..tbl_LabDefault defaultDecision WITH (NOLOCK)
					 WHERE (s.LabID = defaultDecision.LabID) 
					   AND (defaultDecision.Build = 1)
				)	
	  INTO #ResultsMyBuilds
	  FROM tbl_Session s WITH (NOLOCK)
	  JOIN tbl_SessionGroupStatus sgs WITH (NOLOCK) ON (s.SessionID = sgs.SessionID)
	  JOIN tbl_SessionGroupProcessStatus sgps WITH (NOLOCK) ON (s.SessionID = sgps.SessionID)
	  JOIN tbl_SchemaGroup sg WITH (NOLOCK) ON (sgs.SchemaGroupID = sg.SchemaGroupID)
	  JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sg.SchemaGroupID = sgp.SchemaGroupID)
	  JOIN tbl_UserSession us WITH (NOLOCK) ON (s.SessionID = us.SessionID)
	 WHERE us.UserID = @UserID
	   AND us.SeRemoved = 0
	   AND sgps.Skip = 0
  GROUP BY s.SessionID, s.SeBuildMachine, s.SeRevision, s.StatusID, sgs.Skip, s.SeComment, s.SeSetups, s.SeSetupsFinished, s.LabID, s.FlavorID, s.TargetArchitectureID, s.MilestoneID, s.LocaleSetID, s.StatusID, s.SeDropPath, s.SeStarted, s.SeBuildDate, s.SeManuallyStalled, s.SeDelayed, s.SeRawDropAbandoned, s.SeLayoutsAbandoned, us.SeComment, us.UserSessionID  
  
	SELECT tp.*, la.LaName As Lab, la.LaBVTCode As BVTLab, la.LaOrder, m.MiName As Milestone, m.MiBVTCode As BVTMilestone, f.FlName As Flavor, f.FlBVTCode As BVTFlavor, f.FlOrder, ta.TaName As TargetArchitecture, ta.TaBVTCode As BVTTargetArchitecture, ls.LoName As [Language], st.StName As SessionStatus, st.StColor, c.CaName, c.CaColor, c.CaOrder, c.CategoryID, c.CategoryTypeID, sbvt.RawBVTs, sbvt.RawStatus, sbvt.RawLink, sbvt.LayoutBVTs, sbvt.LayoutStatus, sbvt.LayoutLink, sbvt.LastUpdated As BVTsLastUpdated
	  FROM #ResultsMyBuilds tp WITH (NOLOCK)
	  JOIN tbl_Lab la WITH (NOLOCK) ON (tp.LabID = la.LabID)
	  JOIN tbl_Milestone m WITH (NOLOCK) ON (tp.MilestoneID = m.MilestoneID)
  	  JOIN tlkp_Status st WITH (NOLOCK) ON (tp.StatusID = st.StatusID)
	  JOIN tlkp_Flavor f WITH (NOLOCK) ON (tp.FlavorID = f.FlavorID)
	  JOIN tlkp_TargetArchitecture ta WITH (NOLOCK) ON (tp.TargetArchitectureID = ta.TargetArchitectureID)
	  JOIN tlkp_LocaleSet ls WITH (NOLOCK) ON (tp.LocaleSetID = ls.LocaleSetID)
 LEFT JOIN tbl_SessionBVT sbvt WITH (NOLOCK) ON (tp.SessionID = sbvt.SessionID)
 LEFT JOIN tbl_Log l WITH (NOLOCK) ON (tp.SessionID = l.SessionID)
 LEFT JOIN tlkp_Category c WITH (NOLOCK) ON (l.CategoryID = c.CategoryID)
  GROUP BY tp.SessionID, tp.BuildMachine, tp.BlockingIssueCount, tp.NonBlockingIssueCount, tp.IssueCount, tp.Stalled, tp.LastStep,tp.LastError, tp.NewErrors,  tp.NewStalls, tp.StalledProcesses, tp.BVTDecision, tp.BVTDecisionDefault, tp.Revision, tp.StatusID, tp.SeComment, tp.SeSetups, tp.SeSetupsFinished, tp.LabID, tp.MilestoneID, tp.FlavorID, f.FlName, f.FlBVTCode, f.FlOrder, tp.TargetArchitectureID, tp.LocaleSetID, ta.TaName, ta.TaBVTCode, ls.LoName, st.StName, st.StColor, c.CaName, c.CaColor, c.CaOrder, c.CategoryID, c.CategoryTypeID, tp.DropPath, la.LaName, la.LaBVTCode, LaOrder, m.MiName, m.MiBVTCode, tp.SessionStarted, tp.BuildDate, tp.ManuallyStalled, tp.Delayed, tp.SeRawDropAbandoned, tp.SeLayoutsAbandoned, tp.MyBuildComment, tp.UserSessionID, sbvt.RawBVTs, sbvt.RawStatus, sbvt.RawLink, sbvt.LayoutBVTs, sbvt.LayoutStatus, sbvt.LayoutLink, sbvt.LastUpdated
  ORDER BY la.LaOrder, tp.Revision DESC, tp.LocaleSetID, tp.TargetArchitectureID, f.FlOrder ASC, tp.SessionID, c.CaOrder ASC
  
	DROP TABLE #ResultsMyBuilds

	RETURN 


GO
