USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProcessBySchemaGroupProcessID]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetProcessBySchemaGroupProcessID]
(
	@SchemaGroupProcessID int
)
AS
	SET NOCOUNT ON
	
	SELECT PrName, PrShortName, sgp.AvgBuildTime, sgp.RawDrop, sgp.ViewLevelID
	  FROM tbl_SchemaGroupProcess sgp WITH (NOLOCK)
	 WHERE sgp.SchemaGroupProcessID = @SchemaGroupProcessID
	 
	RETURN 
GO
