USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetWorkItemsForPatchStarted]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_GetWorkItemsForPatchStarted]
	(
		@StartTime DATETIME,
		@EndTime DATETIME
	)
AS

SET NOCOUNT ON

SELECT  DISTINCT rb.RequestID
FROM	dbo.tbl_SessionGroupStatus sgs WITH (READPAST)
JOIN	dbo.tbl_SchemaGroup sg
		ON sg.SchemaGroupID = sgs.SchemaGroupID
JOIN	LaunchPad.dbo.tbl_RequestBuild rb
		ON sgs.SessionID = rb.SessionID
WHERE	sg.GrName like 'Build Patch%'
AND		sgs.GroupStarted BETWEEN @StartTime AND @EndTime


GO
