USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessionGroup]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetSessionGroup]
    (
        @GroupID int
    )
AS
    SET NOCOUNT ON
    

    -- Groups.
    SELECT		sgs.*, sg.GrName, sg.IsTest
    INTO		#Groups
    FROM		tbl_SessionGroupStatus sgs WITH (NOLOCK)
    JOIN		tbl_SchemaGroup sg WITH (NOLOCK)
                    ON (sgs.SchemaGroupID = sg.SchemaGroupID)
    WHERE		sgs.SessionGroupStatusID = @GroupID
    ORDER BY	sgs.GroupStarted ASC
    SELECT		*
    FROM		#Groups

    -- Processes.
    SELECT		sgps.*, g.SchemaGroupID, sgp.PrName, sgp.PrDocLink, COALESCE(sgp.MachineName, s.SeBuildMachine) AS MachineName
    INTO		#Processes
    FROM		tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
    JOIN		tbl_SchemaGroupProcess sgp WITH (NOLOCK)
                    ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID)
    JOIN		#Groups g
                    ON (sgp.SchemaGroupID = g.SchemaGroupID)
    JOIN		tbl_Session s WITH (NOLOCK)
                    ON (s.SessionID = sgps.SessionID)
    WHERE		sgps.SessionID = g.SessionID
    ORDER BY	sgps.ProcessStarted ASC
    SELECT		*
    FROM		#Processes

    -- Get the subset of logs from tbl_Log.
    SELECT DISTINCT	p.SessionGroupProcessStatusID, l.CategoryID, l.LoMachineName
    FROM		tbl_Log l WITH (NOLOCK)
    JOIN		#Processes p
                    ON (l.SessionGroupProcessStatusID = p.SessionGroupProcessStatusID)
    WHERE		l.SessionID = (SELECT DISTINCT SessionID FROM #Groups)

    DROP TABLE #Groups, #Processes
    
    RETURN
GO
