USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_SessionLanguage]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SessionLanguage](
	[SessionID] [int] NOT NULL,
	[LanguageID] [int] NOT NULL,
 CONSTRAINT [PK_tbl_SessionLanguage] PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC,
	[LanguageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_SessionLanguage] ADD  CONSTRAINT [DF_tbl_SessionLanguage_LanguageID]  DEFAULT (1033) FOR [LanguageID]
GO
