USE [LabStatus]
GO
/****** Object:  UserDefinedTableType [dbo].[LogUDT]    Script Date: 1/28/2026 12:46:50 PM ******/
CREATE TYPE [dbo].[LogUDT] AS TABLE(
	[BuildID] [int] NULL,
	[Group] [varchar](800) NULL,
	[Process] [varchar](3000) NULL,
	[Category] [varchar](50) NULL,
	[Log] [varchar](7200) NULL,
	[LogDateTime] [varchar](50) NULL,
	[MachineName] [varchar](50) NULL
)
GO
