USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLocaleSets]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetLocaleSets]
AS
	SET NOCOUNT ON
	
	SELECT *
	  FROM tlkp_LocaleSet WITH (NOLOCK)
  ORDER BY LoOrder
	
	RETURN 


GO
