USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[rpt_BuildStatistics]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[rpt_BuildStatistics]
		@StartDate	DATETIME	= NULL
AS
/*----------------------------------------------------------------------------
Description: Procedure created to show rough statistics from our systems
			 on how much volume of effort is created by build related 
			 activities.

------------------------------------------------------------------------------
Author				Description								Date
------------------------------------------------------------------------------
Aaron Bjork			Initial Creation						3/1/2008
Parul Bhargava		Updated for procedural runs with		3/5/2008
					ability to pull historical data
Parul Bhargava		Updated to pull only the month previous	6/2/2008

----------------------------------------------------------------------------*/
BEGIN
	SET NOCOUNT ON
	DECLARE @Start datetime 
	DECLARE @Stop datetime
	DECLARE @StopStored VARCHAR(255)
	DECLARE @Data Table
	(
		ReportMonth						DATETIME,
		PU								VARCHAR(255),
		BU								VARCHAR(255),
		Branch							VARCHAR(255),
		NumberOfSKUs					INT,
		NumberofBuilds					INT,
		NumberOfInfoIssues				INT,
		MinutesSpentOnInfoIssues		INT,
		NumberOfSCIssues				INT,
		MinutesSpentOnSCIssues			INT,
		NumberOfPRSIssues				INT,
		MinutesSpentOnPRSIssues			INT,
		NumberOfDDITIssues				INT,
		MinutesSpentOnDDITIssues		INT,
		AverageBuildTime				INT, -- In minutes
		NumberofDrops					INT
	)
	
	IF @StartDate IS NULL
		SELECT @Start = DATEADD(mm, -1, CAST(CAST(MONTH(GETDATE()) AS VARCHAR) + '/1/' + CAST(YEAR(GETDATE()) AS VARCHAR) + ' 12:00 am' AS DATETIME))
	ELSE
		SELECT @Start = @StartDate

	SELECT @Stop = DATEADD(s, -1, DATEADD(m, 1, @Start))
	
	SELECT @StopStored = DomainValue FROM tmptbl_rpt_SystemParameter WHERE DomainName='@Stop'
	
	IF (@StopStored IS NULL) OR (@StopStored <> CAST(@Stop AS VARCHAR))
	BEGIN
		
		DELETE tmptbl_rpt_SystemParameter
		
		INSERT INTO tmptbl_rpt_SystemParameter
		SELECT '@Stop', @Stop, GETDATE()
		
		DELETE FROM tmptbl_rpt_BuildStatistics
		WHERE ReportMonth = @StopStored
		
	--	WHILE (SELECT @Start) < GETDATE() 
	--		BEGIN 

			INSERT INTO tmptbl_rpt_BuildStatistics
			SELECT            
							  @Stop AS MonthReport,
							  pu.PuName As PU, 
							  bu.BuName As BU, 
							  l.LaName As Branch
							  , NumberOfSKUs =
										  (		SELECT		COUNT(ss.SessionId)
												FROM  tbl_Session s
												JOIN  tbl_SessionSetup ss
																 ON (s.SessionId = ss.SessionId)
												WHERE s.LabID = l.LabID
												AND         s.SeBuildDate > @Start
												AND         s.SeBuildDate < @Stop
												HAVING COUNT(ss.SessionID) > 0
										  )										
							  , NumberOfBuilds =
										  (     SELECT      COUNT(s.SessionID)
												FROM  tbl_Session s
												WHERE s.LabID = l.LabID 
												AND         s.SeBuildDate > @Start
												AND         s.SeBuildDate < @Stop
												HAVING COUNT(s.SessionID) > 0
										  )

							  , NumberOfInfoIssues =
										  (     SELECT      COUNT(DISTINCT si.IssueID)
												FROM  tbl_Session s
												JOIN  atbl_SessionIssue si
																  ON (s.SessionID = si.SessionID)
												JOIN  tbl_Issue i
																  ON (si.IssueID = i.IssueID)
												JOIN  tbl_IssueSource isrc
																  ON (i.IssueID = isrc.IssueID)
												WHERE s.LabID = l.LabID 
												AND         s.SeBuildDate > @Start
												AND         s.SeBuildDate < @Stop 
												AND         isrc.SourceID = 11
										  )
							  , MinutesSpentOnInfoIssues =
										  (     SELECT      SUM(DATEDIFF(mi, i.IsDateCreated, i.IsDateClosed))
												FROM  tbl_Session s
												JOIN  atbl_SessionIssue si
																  ON (s.SessionID = si.SessionID)
												JOIN  tbl_Issue i
																  ON (si.IssueID = i.IssueID)
												JOIN  tbl_IssueSource isrc
																  ON (i.IssueID = isrc.IssueID)
												WHERE s.LabID = l.LabID 
												AND         s.SeBuildDate > @Start
												AND         s.SeBuildDate < @Stop
												AND         isrc.SourceID = 11
										  )
							  , NumberOfSCIssues =
										  (     SELECT      COUNT(DISTINCT si.IssueID)
												FROM  tbl_Session s
												JOIN  atbl_SessionIssue si
																  ON (s.SessionID = si.SessionID)
												JOIN  tbl_Issue i
																  ON (si.IssueID = i.IssueID)
												JOIN  tbl_IssueSource isrc
																  ON (i.IssueID = isrc.IssueID)
												WHERE s.LabID = l.LabID 
												AND         s.SeBuildDate > @Start
												AND         s.SeBuildDate < @Stop 
												AND         isrc.SourceID = 3
										  )
							  , MinutesSpentOnSCIssues =
										  (     SELECT      SUM(DATEDIFF(mi, i.IsDateCreated, i.IsDateClosed))
												FROM  tbl_Session s
												JOIN  atbl_SessionIssue si
																  ON (s.SessionID = si.SessionID)
												JOIN  tbl_Issue i
																  ON (si.IssueID = i.IssueID)
												JOIN  tbl_IssueSource isrc
																  ON (i.IssueID = isrc.IssueID)
												WHERE s.LabID = l.LabID 
												AND         s.SeBuildDate > @Start
												AND         s.SeBuildDate < @Stop
												AND         isrc.SourceID = 3
										  )
							  , NumberOfPRSIssues =
										  (     SELECT      COUNT(DISTINCT si.IssueID)
												FROM  tbl_Session s
												JOIN  atbl_SessionIssue si
																  ON (s.SessionID = si.SessionID)
												JOIN  tbl_Issue i
																  ON (si.IssueID = i.IssueID)
												JOIN  tbl_IssueSource isrc
																  ON (i.IssueID = isrc.IssueID)
												WHERE s.LabID = l.LabID 
												AND         s.SeBuildDate > @Start
												AND         s.SeBuildDate < @Stop 
												AND         isrc.SourceID = 7
										  )
							  , MinutesSpentOnPRSIssues =
										  (     SELECT      SUM(DATEDIFF(mi, i.IsDateCreated, i.IsDateClosed))
												FROM  tbl_Session s
												JOIN  atbl_SessionIssue si
																  ON (s.SessionID = si.SessionID)
												JOIN  tbl_Issue i
																  ON (si.IssueID = i.IssueID)
												JOIN  tbl_IssueSource isrc
																  ON (i.IssueID = isrc.IssueID)
												WHERE s.LabID = l.LabID 
												AND         s.SeBuildDate > @Start
												AND         s.SeBuildDate < @Stop
												AND         isrc.SourceID = 7
										  )
							  , NumberOfDDITIssues =
										  (     SELECT      COUNT(DISTINCT si.IssueID)
												FROM  tbl_Session s
												JOIN  atbl_SessionIssue si
																  ON (s.SessionID = si.SessionID)
												JOIN  tbl_Issue i
																  ON (si.IssueID = i.IssueID)
												JOIN  tbl_IssueSource isrc
																  ON (i.IssueID = isrc.IssueID)
												WHERE s.LabID = l.LabID 
												AND         s.SeBuildDate > @Start
												AND         s.SeBuildDate < @Stop 
												AND         isrc.SourceID IN (12, 16, 17, 18, 19, 23)
										  )
							  , MinutesSpentOnDDITIssues =
										  (     SELECT      SUM(DATEDIFF(mi, i.IsDateCreated, i.IsDateClosed))
												FROM  tbl_Session s
												JOIN  atbl_SessionIssue si
																  ON (s.SessionID = si.SessionID)
												JOIN  tbl_Issue i
																  ON (si.IssueID = i.IssueID)
												JOIN  tbl_IssueSource isrc
																  ON (i.IssueID = isrc.IssueID)
												WHERE s.LabID = l.LabID 
												AND         s.SeBuildDate > @Start
												AND         s.SeBuildDate < @Stop
												AND         isrc.SourceID IN (12, 16, 17, 18, 19, 23)
										  )
							  , AverageBuildTime = 
										  (     SELECT      AVG(DATEDIFF(mi, s.SeStarted, s.SeFinished))
												FROM  tbl_Session s
												WHERE s.LabID = l.LabID 
												AND         s.SeBuildDate > @Start
												AND         s.SeBuildDate < @Stop 
										  )
							  , NumberOfDrops =
										  (     SELECT      COUNT(d.DropID)
												FROM  DropManagement..tbl_Drop d
												WHERE d.LabID = l.LabID 
												AND         d.DrCreated > @Start
												AND         d.DrCreated < @Stop 
										  )
			FROM        tbl_Lab l
			LEFT JOIN   tbl_PU pu
									ON (l.PUID = pu.PUID)
			LEFT JOIN   tbl_BU bu
									ON (pu.BUID = bu.BUID)
			WHERE       l.MilestoneID IN (1, 3, 9, 10, 2)  -- DevDiv, Servicing, CLRTest, BabyBuilds
			ORDER BY BU, PU


	--		IF @Start > GETDATE()
	--			BREAK
	--		ELSE
	--		BEGIN
	--			SELECT @Start = DATEADD(m, 1, @Start)
	--			SELECT @Stop = DATEADD(s, -1, DATEADD(m, 1, @Start))
	--			CONTINUE
	--		END
	--	END
		END
		
		SELECT *
		FROM tmptbl_rpt_BuildStatistics
		WHERE NumberofBuilds IS NOT NULL

END

GO
