USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_Log3_AddProperty]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- sp_AddProperty
CREATE PROCEDURE [dbo].[sp_Log3_AddProperty]
	(
		@Revision varchar(50),
		@Lab varchar(50),
		@Product varchar(50),
		@Parameters varchar(4000),
		@PropertyName varchar(50),
		@PropertyValue varchar(500),
		@LogDateTime varchar(50),
		@MachineName varchar(50)
	)
AS
	/*	Modified by		Date		Change
		*****************************************************
		abjork			08/19/2005	Created sproc
		
	*/
	SET NOCOUNT ON
	DECLARE @Err varchar(4000)

	-- First we need to create a log footprint.  This piece is outside the transaction
	-- because we want to log EVERYTHING - even if the transaction fails.	
	INSERT 
	INTO		tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
	VALUES		('sp_Log3_AddProperty, '
				+ @Revision + ', ' 
				+ @Lab + ', '
				+ @Product + ', '
				+ @Parameters + ', '
				+ @PropertyName + ', ' 
				+ @PropertyValue + ', ' 
				+ @MachineName, 
				@LogDateTime, 
				GetDate()) 

	BEGIN TRANSACTION

	DECLARE	@SessionID int
	DECLARE @SchemaID int
	DECLARE @StatusID int

	-- Create/retreive the session and schema IDs.  These will be used for reporting status
	-- for this particular build.
	EXEC sp_GetSessionID3 @Revision, @Lab, @Product, @Parameters, @LogDateTime, @MachineName, @SessionID OUTPUT, @SchemaID OUTPUT, @StatusID OUTPUT

	SELECT	@Err = 'Adding the new custom property.'
	INSERT
	INTO	tbl_SessionProperty (SessionID, PrName, PrValue)
	VALUES	(@SessionID, @PropertyName, @PropertyValue)
	IF @@ERROR <> 0 GOTO on_err		

	-- Commit the transaction if there are no errors at the end. 
	IF @@ERROR <> 0 
		GOTO on_err

	-- Return the sessionid.
	SELECT @SessionID As SessionID

	COMMIT TRANSACTION
	RETURN 

	on_err:
		ROLLBACK TRANSACTION
		SELECT @Err = 'ERROR: sp_Log3_AddProperty - ' + @Err
		RAISERROR (@Err , 16, 1)	
		RETURN	

RETURN	
GO
