USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_MntrGetSessionsBuildingToday]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 
sp_MntrGetProdutsBuildingToday - Retreives all products that are
building today for the purposes of computing average build times
per build process.
*/
CREATE PROCEDURE [dbo].[sp_MntrGetSessionsBuildingToday]
AS
	SET NOCOUNT ON
	
	SELECT DISTINCT s.SessionID
	  FROM tbl_Session s WITH (NOLOCK)
	  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
	 WHERE (DATEDIFF(dd, s.SeBuildDate, GetDate()) = 0 -- Today's build
		OR (s.StatusID = 2 -- In Progress
	   AND DATEDIFF(dd, s.SeBuildDate, GetDate()) <= 5))
	   AND l.VBL = 1
	   AND s.StatusID <> 8
	   AND s.StatusID <> 11
	   
	RETURN 


GO
