USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetIssueBugs]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetIssueBugs]
(
	@IssueID int
)
AS
	SET NOCOUNT ON
	
	SELECT ib.*, bd.BdName As [Database]
	  FROM tbl_IssueBug ib WITH (NOLOCK)
	  JOIN tlkp_BugDatabase bd WITH (NOLOCK) ON (ib.BugDatabaseID = bd.BugDatabaseID)
	 WHERE ib.IssueID = @IssueID
	
	RETURN 
GO
