USE [LabStatus]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_StripTime]    Script Date: 1/28/2026 12:46:50 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[fn_StripTime] (@in_DateTime datetime)  
RETURNS datetime
AS  
BEGIN 

declare @dt datetime
select @dt = CONVERT( datetime,
	CONVERT(varchar(2), DATEPART(mm, @in_DateTime)) + '/'
+	CONVERT(varchar(2), DATEPART(dd, @in_DateTime)) + '/'
+	CONVERT(varchar(4), DATEPART(yy, @in_DateTime))
		)
return @dt

END
GO
