USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLabsAndMilestonesByOrg]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetLabsAndMilestonesByOrg]
(
	@OrgID int
)	
As
	select  distinct
		m.MilestoneID, 
		MiName, 
		MiOrder
	from	tbl_Milestone m with (nolock) 
		inner join tbl_Lab l with (nolock) on l.MilestoneID = m.MilestoneID
	where	l.OrgID = @OrgID
	order by  MiOrder
	
	select  distinct
		l.MilestoneID, 
		l.LabID,
		l.LaName,
		1.LaOrder
	from	tbl_Lab l with (nolock) 
	where	l.OrgID = @OrgID
	Order	By LaName 

GO
