USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOpenIssuesByLabs]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetOpenIssuesByLabs]
	(
		@LabIDs varchar(1000)
	)
AS
	SET NOCOUNT ON
	
	SELECT DISTINCT s.LabID, i.IssueID, i.IsAssignedTo, i.IsTitle
	  FROM tbl_Session s WITH (NOLOCK) 
	  JOIN tbl_SessionIssue iss WITH (NOLOCK) ON (s.SessionID = iss.SessionID)
	  JOIN tbl_Issue i WITH (NOLOCK) ON (iss.IssueID = i.IssueID) 
      JOIN fn_ParseCommaDelimitedList(@LabIDs) l ON (s.LabID = l.ItemID)
	 WHERE i.IsClosed = 0
	   AND i.IsDeleted = 0
	   AND i.IsMachineAccessOnly = 0
  GROUP BY s.LabID, i.IssueID, i.IsAssignedTo, i.IsTitle
	
	RETURN 

GO
