USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchIssues5_TEST]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE        PROCEDURE [dbo].[sp_SearchIssues5_TEST]
	(
		@IssueID int = NULL,
		@Revision varchar(50) = NULL,
		@BugNumber varchar(50) = NULL,
		@LabIDs varchar(2000) = NULL,
		@LocaleSetID int = NULL,
		@OpenedDateFrom datetime = NULL,
		@OpenedDateTo datetime = NULL,
		@ClosedDate datetime = NULL,
		@Keywords varchar(255) = NULL,
		@AssignedTo varchar(50) = NULL,
		@Closed bit = NULL,
		@SeverityID int = NULL,
		@MilestoneID int = NULL,
		@OrgID int
	)
AS
	SET NOCOUNT ON
	
	IF @IssueID IS NULL
		AND @Revision IS NULL
		AND @BugNumber IS NULL
		AND @LabIDs IS NULL
		AND @LocaleSetID IS NULL
		AND @OpenedDateFrom IS NULL
		AND @OpenedDateTo IS NULL
		AND @ClosedDate IS NULL	
		AND @Keywords IS NULL
		AND @AssignedTo IS NULL
		AND @Closed IS NULL
		AND @SeverityID IS NULL
		AND @MilestoneID IS NULL
		RETURN

	CREATE TABLE #KeywordIssues (IssueID int)
	IF @Keywords IS NOT NULL
		BEGIN
		    INSERT 
		      INTO #KeywordIssues
			SELECT DISTINCT IssueID
			  FROM tbl_IssueLog WITH (READPAST)
			 WHERE CONTAINS(LoText, @Keywords)
		END

	-- First, get the actual issues.
	SELECT DISTINCT i.*, l.LaName As [Language], sv.SeName, src.SourceID, src.SoName As Source, ss.SubSourceID, ss.SuName As SubSource, dbo.fn_GetCauseForBreak(i.IssueID) As CauseForBreak
	  INTO #Issues
	  FROM tbl_Issue i WITH (NOLOCK)
 LEFT JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (i.IssueID = isrc.IssueID)
 LEFT JOIN tlkp_Source src WITH (NOLOCK) ON (isrc.SourceID = src.SourceID)
 LEFT JOIN tbl_IssueSubSource isss WITH (NOLOCK) ON (i.IssueID = isss.IssueID)
 LEFT JOIN tlkp_SubSource ss WITH (NOLOCK) ON (isss.SubSourceID = ss.SubSourceID)
	  JOIN tbl_SessionIssue iss WITH (NOLOCK) ON (i.IssueID = iss.IssueID)
      JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
      JOIN tbl_Lab lb WITH (NOLOCK) ON (s.LabID = lb.LabID)
      JOIN tlkp_Severity sv WITH (NOLOCK) ON (i.SeverityID = sv.SeverityID)
	  JOIN tlkp_Language l WITH (NOLOCK) ON (i.LanguageID = l.LanguageID)
 LEFT JOIN tbl_IssueBug ib WITH (NOLOCK) ON (ib.IssueID = i.IssueID)
	 WHERE i.IsDeleted = 0 
	   AND (i.IssueID = @IssueID OR @IssueID IS NULL)
	   AND (s.SeRevision = @Revision OR @Revision IS NULL)
	   AND (s.LabID IN (SELECT ItemID FROM dbo.fn_ParseCommaDelimitedList(@LabIDs)) OR @LabIDs IS NULL)
	   AND (s.LocaleSetID = @LocaleSetID OR @LocaleSetID IS NULL)
	   AND ((i.IsDateCreated >= @OpenedDateFrom OR @OpenedDateFrom is null) AND (i.IsDateCreated <= @OpenedDateTo or @OpenedDateTo is null))
	   AND (DATEDIFF(dd, i.IsDateClosed, @ClosedDate) = 0 OR @ClosedDate IS NULL)	
	   AND ((i.IsAssignedTo = @AssignedTo OR i.IsPendingOwner = @AssignedTo) OR @AssignedTo IS NULL)	
	   AND (i.IsClosed = @Closed 
			OR @Closed IS NULL 
			OR (@Closed = 0 AND i.IsFollowUp = 1))
	   AND (i.SeverityID = @SeverityID OR @SeverityID IS NULL)
	   AND (lb.MilestoneID = @MilestoneID OR @MilestoneID IS NULL)
	   AND ((@Keywords IS NOT NULL AND i.IssueID IN (SELECT DISTINCT IssueID FROM #KeywordIssues)) OR @Keywords IS NULL)
	   AND lb.OrgID = @OrgID
	   AND (ib.BugNumber = @BugNumber OR @BugNumber IS NULL)
	   
    SELECT i.issueid
    INTO #NonTestBuildIssue
    FROM #Issues i
    JOIN tbl_SessionIssue si on si.issueid = i.issueid
    JOIN tbl_Session s on s.sessionid = si.sessionid
    WHERE s.seTestBuild = 0

	SELECT DISTINCT i.*, CASE WHEN ntbi.issueid IS NULL THEN 1 ELSE 0 END AS TestBuild
	  FROM #Issues i
 LEFT JOIN #NonTestBuildIssue ntbi ON ntbi.issueid = i.issueid

	-- Logs
	SELECT *
	  FROM tbl_IssueLog WITH (NOLOCK)
	 WHERE IssueID IN (SELECT IssueID FROM #Issues)
  ORDER BY LoDateCreated DESC

	-- Associated sessions.
	SELECT i.IssueID, LaName, s.SessionID, SeBuildMachine, SeRevision, FlName, TaName, LoName, dbo.fn_GetSessionFixStatus(i.IssueID, s.SessionID) SessionFixStatus, s.seTestBuild
	  FROM #Issues i
	  JOIN tbl_SessionIssue iss WITH (NOLOCK) ON (i.IssueID = iss.IssueID)
	  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
	  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
	  JOIN tlkp_Flavor f WITH (NOLOCK) ON (s.FlavorID = f.FlavorID)
	  JOIN tlkp_TargetArchitecture ta WITH (NOLOCK) ON (s.TargetArchitectureID = ta.TargetArchitectureID)
	  JOIN tlkp_LocaleSet ls WITH (NOLOCK) ON (s.LocaleSetID = ls.LocaleSetID)
	 WHERE s.SeRevision NOT LIKE '%_DEL%'
  ORDER BY LaName

	-- Bugs.
	SELECT ib.*, BdName As [Database], bd.BdViewUrl
	  FROM tbl_IssueBug ib WITH (NOLOCK)
	  JOIN #Issues i ON (ib.IssueID = i.IssueID)
	  JOIN tlkp_BugDatabase bd WITH (NOLOCK) ON (ib.BugDatabaseID = bd.BugDatabaseID)
	  
	-- Dependent issues.
	SELECT i.IssueID, iss.IssueID As DependentIssueID, iss.IsTitle, iss.IsClosed
	  FROM tbl_IssueDependency id WITH (NOLOCK)
	  JOIN #Issues i ON (id.IssueID = i.IssueID)
	  JOIN tbl_Issue iss WITH (NOLOCK) ON (id.DependentIssueID = iss.IssueID)

	-- Orgs
	SELECT *
	  FROM tbl_Org WITH (NOLOCK)
	 WHERE OrgID = @OrgID
	  
	DROP TABLE #Issues

	RETURN





GO
