USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_PreservationRequest]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PreservationRequest](
	[PreservationRequestID] [int] IDENTITY(1,1) NOT NULL,
	[PrRevision] [varchar](100) NOT NULL,
	[LabID] [int] NOT NULL,
	[PrRequestedBy] [nvarchar](50) NOT NULL,
	[PrRequestedDateUtc] [smalldatetime] NOT NULL,
	[PrExpiryDateUtc] [smalldatetime] NOT NULL,
	[PrJustification] [nvarchar](512) NOT NULL,
	[PrCancelledBy] [nvarchar](50) NULL,
	[PrCancelledDateUtc] [smalldatetime] NULL,
 CONSTRAINT [PK_tbl_PreservationRequest] PRIMARY KEY CLUSTERED 
(
	[PreservationRequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
