USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionPSIssues]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSessionPSIssues]
(
	@SessionID int
)
AS
	SET NOCOUNT ON
	
	SELECT spi.*, s.LabID
	  FROM tbl_SessionPSIssue spi WITH (NOLOCK)
	  JOIN tbl_Session s WITH (NOLOCK) ON (spi.SessionID = s.SessionID)
	 WHERE spi.SessionID = @SessionID
	
	RETURN 
GO
