USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_StartFix]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[up_StartFix]
(
	@FixID int,
	@SessionID int,
	@StartTime datetime,
	@User varchar(50),
	@ImpersonatingUser varchar(50),
	@IP varchar(50)
)
AS
BEGIN
	/*********************
	DESCRIPTION
		Marks a fix as starting
	*********************/

	UPDATE  tbl_SessionFix
	SET     SFStartTime = @StartTime,
		    FixStatusID = 4  --InProgress
	WHERE   FixID = @FixID
    AND     SessionID = @SessionID

	exec up_AddFixLog  @FixID = @FixID, 
                            @SessionID = @SessionID, 
   						    @LogText = 'STARTED' , 
							@LogDateTime = @StartTime,
							@User = @User,
							@ImpersonatingUser = @ImpersonatingUser,
							@IP = @IP
END




GO
