USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_UpdateIssueCausedBy]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_UpdateIssueCausedBy]
(
	@IssueID int,
	@CausedBy varchar(50),
	@CostCenter varchar(20),
	@CausedByLead varchar(50)
)
AS
	SET NOCOUNT ON
	
	UPDATE tbl_Issue WITH (ROWLOCK)
	   SET IsCausedBy = @CausedBy,
		   IsCausedByLead = @CausedByLead,
		   IsCostCenter = @CostCenter
	 WHERE IssueID = @IssueID
	 
	RETURN
GO
