USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStatusOverviewByShortNames]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetStatusOverviewByShortNames]
	(
		@LabShortName varchar(10),
		@ArchitectureShortName varchar(10),
		@FlavorShortName varchar(10),
		@LocaleSetShortName varchar(10),
		@Revision varchar(50)
	)
AS
	SET NOCOUNT ON

	DECLARE @LabID int
	SELECT @LabID = LabID 
	  FROM tbl_Lab
	 WHERE LaShortName = @LabShortName

	DECLARE @TargetArchitectureID int
	SELECT @TargetArchitectureID = TargetArchitectureID 
	  FROM tlkp_TargetArchitecture
	 WHERE TaShortName = @ArchitectureShortName

	DECLARE @FlavorID int
	SELECT @FlavorID = FlavorID 
	  FROM tlkp_Flavor
	 WHERE FlShortName = @FlavorShortName

	DECLARE @LocaleSetID int
	SELECT @LocaleSetID = LocaleSetID 
	  FROM tlkp_LocaleSet
	 WHERE LoShortName = @LocaleSetShortName

	SELECT s.SessionID, s.SeBuildMachine As BuildMachine, s.SeRevision As Revision, s.StatusID, s.SeComment, s.SeSetups, s.SeSetupsFinished, s.FlavorID, s.TargetArchitectureID, s.MilestoneID, s.LocaleSetID, s.SeDropPath As DropPath, m.MiName As Milestone, l.LaName As Lab, l.LaBVTCode As BVTLab, m.MiBVTCode As BVTMilestone, s.SeStarted As SessionStarted, s.SeBuildDate As BuildDate, s.SeManuallyStalled As ManuallyStalled, s.SeDelayed As Delayed, s.SeRawDropAbandoned, s.SeLayoutsAbandoned 
	  INTO #ResultsTemp
	  FROM tbl_Session s WITH (NOLOCK)
	  JOIN tbl_SessionGroupStatus sgs WITH (NOLOCK) ON (s.SessionID = sgs.SessionID)
	  JOIN tbl_SessionGroupProcessStatus sgps WITH (NOLOCK) ON (s.SessionID = sgps.SessionID)
	  JOIN tbl_SchemaGroup sg WITH (NOLOCK) ON (sgs.SchemaGroupID = sg.SchemaGroupID)
	  JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sg.SchemaGroupID = sgp.SchemaGroupID)
	  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
	  JOIN tbl_Milestone m WITH (NOLOCK) ON (s.MilestoneID = m.MilestoneID)
	 WHERE s.LabID = @LabID
	   AND s.TargetArchitectureID = @TargetArchitectureID
	   AND s.FlavorID = @FlavorID
	   AND s.LocaleSetID = @LocaleSetID
	   AND s.SeRevision = @Revision
	   AND sgps.Skip = 0
  GROUP BY s.SessionID, s.SeBuildMachine, s.SeRevision, s.StatusID, sgs.Skip, s.SeComment, s.SeSetups, s.SeSetupsFinished, s.FlavorID, s.TargetArchitectureID, s.MilestoneID, s.LocaleSetID, s.StatusID, s.SeDropPath, l.LaName, l.LaBVTCode, m.MiName, m.MiBVTCode, s.SeStarted, s.SeBuildDate, s.SeManuallyStalled, s.SeDelayed, s.SeRawDropAbandoned, s.SeLayoutsAbandoned 
  
	SELECT tp.*, f.FlName As Flavor, f.FlBVTCode As BVTFlavor, f.FlOrder, ta.TaName As TargetArchitecture, ta.TaBVTCode As BVTTargetArchitecture, ls.LoName As [Language], st.StName As SessionStatus, st.StColor, sbvt.RawBVTs, sbvt.RawStatus, sbvt.RawLink, sbvt.LayoutBVTs, sbvt.LayoutStatus, sbvt.LayoutLink, sbvt.LastUpdated As BVTsLastUpdated, dbo.fn_GetOpenIssuesBySession(tp.SessionID, 1) As NonBlockingIssues, dbo.fn_GetOpenIssuesBySession(tp.SessionID, 2) As BlockingIssues 
	  FROM #ResultsTemp tp WITH (NOLOCK)
  	  JOIN tlkp_Status st WITH (NOLOCK) ON (tp.StatusID = st.StatusID)
	  JOIN tlkp_Flavor f WITH (NOLOCK) ON (tp.FlavorID = f.FlavorID)
	  JOIN tlkp_TargetArchitecture ta WITH (NOLOCK) ON (tp.TargetArchitectureID = ta.TargetArchitectureID)
	  JOIN tlkp_LocaleSet ls WITH (NOLOCK) ON (tp.LocaleSetID = ls.LocaleSetID)
 LEFT JOIN tbl_SessionBVT sbvt WITH (NOLOCK) ON (tp.SessionID = sbvt.SessionID)
  GROUP BY tp.SessionID, tp.BuildMachine, tp.Revision, tp.StatusID, tp.SeComment, tp.SeSetups, tp.SeSetupsFinished, tp.MilestoneID, tp.FlavorID, f.FlName, f.FlBVTCode, f.FlOrder, tp.TargetArchitectureID, tp.LocaleSetID, ta.TaName, ta.TaBVTCode, ls.LoName, st.StName, st.StColor, tp.DropPath, tp.Lab, tp.Milestone, tp.BVTLab, tp.BVTMilestone, tp.SessionStarted, tp.BuildDate, tp.ManuallyStalled, tp.Delayed, tp.SeRawDropAbandoned, tp.SeLayoutsAbandoned , sbvt.RawBVTs, sbvt.RawStatus, sbvt.RawLink, sbvt.LayoutBVTs, sbvt.LayoutStatus, sbvt.LayoutLink, sbvt.LastUpdated
  ORDER BY tp.Revision DESC, tp.LocaleSetID, tp.TargetArchitectureID, f.FlOrder ASC, tp.SessionID  
	DROP TABLE #ResultsTemp
	
	RETURN 

GO
