USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSessionGroupStatus]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateSessionGroupStatus]
	(
		@SessionGroupStatusID int,
		@StatusID int
	)
AS
	SET NOCOUNT ON
	
	UPDATE tbl_SessionGroupStatus WITH (ROWLOCK)
	   SET StatusID = @StatusID
	 WHERE SessionGroupStatusID = @SessionGroupStatusID
	
	RETURN 

GO
