USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetReaderBoardData]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[up_GetReaderBoardData]
AS

/*
This gets a string describing the old issue that's pending assignment from DDBUILD to someone else,
and tells us how long it's been pending.
*/
DECLARE @ResultString varchar(512)

SELECT TOP 1 @ResultString = '#' + CONVERT( varchar, IssueID ) + ' ' + IsPendingOwner + '  ' + dbo.fn_ConvertMinutesToReadable( DATEDIFF( mi, IsPendingSince, GETDATE() ) ) 
FROM tbl_Issue
WHERE IsPendingOwner IS NOT NULL
and IsAssignedBy = 'ddbuild'
and IsTitle NOT like '%avalon%'		-- EXCLUDE PARTNER BUILDS
and IsTitle NOT like '%ddyukon%'	-- EXCLUDE PARTNER BUILDS
and IsTitle NOT like '%longhorn%'	-- EXCLUDE PARTNER BUILDS
and IsClosed = 0
and IsDeleted = 0
and IsMachineAccessOnly = 0
and DATEDIFF( mi, IsPendingSince, GETDATE() ) > 5
ORDER BY IsPendingSince ASC

IF @@ROWCOUNT < 1
BEGIN
	SELECT @ResultString = CONVERT( varchar, GETDATE() )
END

SELECT @ResultString

-- Uncomment the following to test
--SELECT 'This is a test'

/*
	select 'Number of open issues: ' + CONVERT( varchar, COUNT(*) ) from tbl_Issue with (nolock)
	where IsClosed=0 AND IsDeleted=0
*/

GO
