USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessionSetups]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_GetSessionSetups]
(
	@SessionID int
)
AS
	SET NOCOUNT ON
	
	SELECT		*
	FROM		tbl_SessionSetup WITH (NOLOCK)
	WHERE		SessionID = @SessionID
	ORDER BY	SetupFinished ASC

	RETURN 

GO
