USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_LabRule]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LabRule](
	[LabRuleID] [int] IDENTITY(1,1) NOT NULL,
	[FromDate] [datetime] NOT NULL,
	[ToDate] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Notes] [nvarchar](255) NULL,
	[RequestLimit] [int] NOT NULL,
 CONSTRAINT [PK_tbl_LabRule] PRIMARY KEY CLUSTERED 
(
	[LabRuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_LabRule] ADD  CONSTRAINT [DF_tbl_LabRule_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
