USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetGroupBySchemaGroupID]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetGroupBySchemaGroupID]
(
	@SchemaGroupID int
)
AS
	SET NOCOUNT ON
	
	SELECT GrName
	  FROM tbl_SchemaGroup WITH (NOLOCK)
	 WHERE SchemaGroupID = @SchemaGroupID
	 
	RETURN 
GO
