USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_LogStallDetected2]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- sp_Log
CREATE PROCEDURE [dbo].[sp_LogStallDetected2]
	(
		@Revision varchar(50),
		@LabShortName varchar(50),
		@ProductShortName varchar(10),
		@MilestoneShortName varchar(10),
		@FlavorShortName varchar(10),
		@TargetArchitectureShortName varchar(10),
		@LocaleSetShortName varchar(10),
		@Reason varchar(255),
		@LogDateTime datetime = NULL,
		@MachineName varchar(50)
	)
AS
	BEGIN TRANSACTION
		
	-- This sproc is no longer valid.

	COMMIT TRANSACTION
	
	RETURN 



GO
