USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetIssueBuildTypes]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetIssueBuildTypes]
(
	@IssueID int
)
AS
	SET NOCOUNT ON
	
	SELECT bt.BuildTypeID, bt.BuName
	  FROM tbl_IssueBuildType ibt WITH (NOLOCK)
	  JOIN tlkp_BuildType bt WITH (NOLOCK) ON (ibt.BuildTypeID = bt.BuildTypeID)
	 WHERE IssueID = @IssueID
	 
	RETURN 
GO
