USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddMilestone]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddMilestone]
	(
		@ShortName varchar(10),
		@Name varchar(50)
	)
AS
	SET NOCOUNT ON
	
	-- Get the next MilestoneID.
	DECLARE @MilestoneID int
	SELECT @MilestoneID = MAX(MilestoneID) + 1
	  FROM tbl_Milestone
	
	-- Insert the new Milestone.
	INSERT
	  INTO tbl_Milestone (MilestoneID, MiShortName, MiName)
	VALUES (@MilestoneID, @ShortName, @Name)
	
	RETURN 
GO
