USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionProperties]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSessionProperties]
(
	@SessionID int
)
AS
	SET NOCOUNT ON
	
	SELECT PrName, PrValue
	  FROM tbl_SessionProperty WITH (NOLOCK)
	 WHERE SessionID = @SessionID
	
	RETURN 
GO
