USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_AddFixSynchronizationMachine]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_AddFixSynchronizationMachine]
(
    @BuildSessionGroupId int,
    @FixId int,
    @SynchronizationMachineName varchar(255),
    @SynchronizationMachineStatus int
)
AS
BEGIN
    INSERT INTO tbl_FixSynchronizationMachine
        ([BuildSessionGroupId], [FixId], [SynchronizationMachineName], [SynchronizationMachineStatus])
    VALUES 
        (@BuildSessionGroupId, @FixId, @SynchronizationMachineName, @SynchronizationMachineStatus)
END
GO
