USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[xls_BranchData]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[xls_BranchData] --[xls_BranchData] '09/01/2008', '09/30/2008'
(
	@Start datetime = NULL,
	@End datetime = NULL
)
AS
BEGIN

IF @Start IS NULL
	SET @Start = '5/1/2008'

IF @End IS NULL
	SET @End = '5/31/2008'

-- Issue rollups.
;WITH Issues As
(
	SELECT	l.LabID, i.IssueID, issc.SourceID, sc.SoName As Source, IsCostCenter As CostCenter
	FROM	tbl_Issue i WITH (NOLOCK)
	JOIN	atbl_SessionIssue si WITH (NOLOCK)
				ON (i.IssueID = si.IssueID)
	JOIN	tbl_Session s WITH (NOLOCK)
				ON (si.SessionID = s.SessionID)
	JOIN	tbl_IssueSource issc WITH (NOLOCK)
				ON (i.IssueID = issc.IssueID)
	JOIN	tlkp_Source sc WITH (NOLOCK)
				ON (issc.SourceID = sc.SourceID)
	JOIN	tbl_Lab l WITH (NOLOCK)
				ON (s.LabID = l.LabID)
	WHERE	Cast(Convert(varchar(10), IsDateClosed, 101) As DateTime) Between @Start And @End
		And i.IsClosed = 1 --Closed Issues
		And i.IsDeleted = 0 --Exclude Deleted Issues
		AND	s.SeRevision Not Like '%_DEL' -- Exclude Deleted Builds
		And S.FlavorID <> 5 -- No DAT builds.
		And i.IsDuplicate = 0	-- Not duplicate
	AND		i.SeverityID = 2	-- Blocking
	AND		s.SeBuildDate BETWEEN @Start AND @End
	AND		l.MilestoneID IN (1,9,2,10)
	AND		l.LaStatus = 1
)
SELECT		bu.BuName, pu.PuName, l.LaName
		, Launches =	(	
					SELECT	COUNT(*)
					FROM	LaunchPad..tbl_Request r WITH (NOLOCK)
					JOIN	LaunchPad..tbl_Definition d WITH (NOLOCK)
								ON (r.DefinitionID = d.DefinitionID)
					WHERE	r.LabID = l.LabID
					AND		r.RequestStatusID = 9	-- Launched builds.
					AND		r.ReTargeTDate BETWEEN @Start AND @End
					AND		d.DeName NOT LIKE '%LOC%'
						)
		, Machines =	(	
					SELECT	COUNT(*)
					FROM	LaunchPad..tbl_Request r WITH (NOLOCK)
					JOIN	LaunchPad..tbl_Definition d WITH (NOLOCK)
								ON (r.DefinitionID = d.DefinitionID)
					JOIN	LaunchPad..tbl_RequestBuild rb
								ON (r.RequestID = rb.RequestID)
					WHERE	r.LabID = l.LabID
					AND		r.RequestStatusID = 9	-- Launched builds.
					AND		r.ReTargeTDate BETWEEN @Start AND @End
					AND		d.DeName NOT LIKE '%LOC%'
						)
		, Builds =	(	
					SELECT	COUNT(*)
					FROM	LabStatus..tbl_Session s
					WHERE	s.LabID = l.LabID
					AND		s.SeRevision NOT LIKE '%DELETED%'
					AND		s.SeBuildDate BETWEEN @Start AND @End
						)
		, LOCLaunches =	(	
					SELECT	COUNT(*)
					FROM	LaunchPad..tbl_Request r WITH (NOLOCK)
					JOIN	LaunchPad..tbl_Definition d WITH (NOLOCK)
								ON (r.DefinitionID = d.DefinitionID)
					WHERE	r.LabID = l.LabID
					AND		r.RequestStatusID = 9	-- Launched builds.
					AND		r.ReTargeTDate BETWEEN @Start AND @End
					AND		d.DeName LIKE '%LOC%'
						)
		, LOCMachines =	(	
					SELECT	COUNT(*)
					FROM	LaunchPad..tbl_Request r WITH (NOLOCK)
					JOIN	LaunchPad..tbl_Definition d WITH (NOLOCK)
								ON (r.DefinitionID = d.DefinitionID)
					JOIN	LaunchPad..tbl_RequestBuild rb
								ON (r.RequestID = rb.RequestID)
					WHERE	r.LabID = l.LabID
					AND		r.RequestStatusID = 9	-- Launched builds.
					AND		r.ReTargeTDate BETWEEN @Start AND @End
					AND		d.DeName LIKE '%LOC%'
						)
		, [Source Code] = (
					SELECT	COUNT(DISTINCT i.IssueID)
					FROM	Issues i
					WHERE	i.LabID = l.LabID
					AND		i.Source = 'Source Code'
					AND		i.CostCenter <> '92035'
						)
		, [PRS Signing] = (
					SELECT	COUNT(DISTINCT i.IssueID)
					FROM	Issues i
					WHERE	i.LabID = l.LabID
					AND		i.Source = 'PRS Signing'
					AND		i.CostCenter <> '92035'
						)
		, [Setup Authoring] = (
					SELECT	COUNT(DISTINCT i.IssueID)
					FROM	Issues i
					WHERE	i.LabID = l.LabID
					AND		i.Source = 'Setup Authoring'
					AND		i.CostCenter <> '92035'
						)
		, [Localization] = (
					SELECT	COUNT(DISTINCT i.IssueID)
					FROM	Issues i
					WHERE	i.LabID = l.LabID
					AND		i.Source = 'Localization'
					AND		i.CostCenter <> '92035'
						)
		, [External] = (
					SELECT	COUNT(DISTINCT i.IssueID)
					FROM	Issues i
					WHERE	i.LabID = l.LabID
					AND		i.Source = 'External Dependency'
					AND		i.CostCenter <> '92035'
						)
		, [Process] = (
					SELECT	COUNT(DISTINCT i.IssueID)
					FROM	Issues i
					WHERE	i.LabID = l.LabID
					AND		i.Source = 'Process'
					AND		i.CostCenter <> '92035'
						)
		, [Build Lab Tools] = (
					SELECT	COUNT(DISTINCT i.IssueID)
					FROM	Issues i
					WHERE	i.LabID = l.LabID
					AND		i.Source = 'Build Lab Tools'
					AND		i.CostCenter <> '92035'
						)
		, [Network] = (
					SELECT	COUNT(DISTINCT i.IssueID)
					FROM	Issues i
					WHERE	i.LabID = l.LabID
					AND		i.Source = 'Network'
					AND		i.CostCenter <> '92035'
						)
		, [Integration] = (
					SELECT	COUNT(DISTINCT i.IssueID)
					FROM	Issues i
					WHERE	i.LabID = l.LabID
					AND		i.Source = 'Integration'
					AND		i.CostCenter <> '92035'
						)
		, [Informational] = (
					SELECT	COUNT(DISTINCT i.IssueID)
					FROM	Issues i
					WHERE	i.LabID = l.LabID
					AND		i.Source = 'Information'
					AND		i.CostCenter <> '92035'
						)
		, [DDIT Source Code] = (
					SELECT	COUNT(DISTINCT i.IssueID)
					FROM	Issues i
					WHERE	i.LabID = l.LabID
					AND		i.Source = 'Source Code'
					AND		i.CostCenter = '92035'
						)
		, [DDIT PRS Signing] = (
					SELECT	COUNT(DISTINCT i.IssueID)
					FROM	Issues i
					WHERE	i.LabID = l.LabID
					AND		i.Source = 'PRS Signing'
					AND		i.CostCenter = '92035'
						)
		, [DDIT Setup Authoring] = (
					SELECT	COUNT(DISTINCT i.IssueID)
					FROM	Issues i
					WHERE	i.LabID = l.LabID
					AND		i.Source = 'Setup Authoring'
					AND		i.CostCenter = '92035'
						)
		, [DDIT Localization] = (
					SELECT	COUNT(DISTINCT i.IssueID)
					FROM	Issues i
					WHERE	i.LabID = l.LabID
					AND		i.Source = 'Localization'
					AND		i.CostCenter = '92035'
						)
		, [DDIT External] = (
					SELECT	COUNT(DISTINCT i.IssueID)
					FROM	Issues i
					WHERE	i.LabID = l.LabID
					AND		i.Source = 'External Dependency'
					AND		i.CostCenter = '92035'
						)
		, [DDIT Process] = (
					SELECT	COUNT(DISTINCT i.IssueID)
					FROM	Issues i
					WHERE	i.LabID = l.LabID
					AND		i.Source = 'Process'
					AND		i.CostCenter = '92035'
						)
		, [DDIT Build Lab Tools] = (
					SELECT	COUNT(DISTINCT i.IssueID)
					FROM	Issues i
					WHERE	i.LabID = l.LabID
					AND		i.Source = 'Build Lab Tools'
					AND		i.CostCenter = '92035'
						)
		, [DDIT Network] = (
					SELECT	COUNT(DISTINCT i.IssueID)
					FROM	Issues i
					WHERE	i.LabID = l.LabID
					AND		i.Source = 'Network'
					AND		i.CostCenter = '92035'
						)
		, [DDIT Integration] = (
					SELECT	COUNT(DISTINCT i.IssueID)
					FROM	Issues i
					WHERE	i.LabID = l.LabID
					AND		i.Source = 'Integration'
					AND		i.CostCenter = '92035'
						)
		, [DDIT Informational] = (
					SELECT	COUNT(DISTINCT i.IssueID)
					FROM	Issues i
					WHERE	i.LabID = l.LabID
					AND		i.Source = 'Information'
					AND		i.CostCenter = '92035'
						)
FROM		tbl_Lab l WITH (NOLOCK)
LEFT JOIN	tbl_PU pu WITH (NOLOCK)
				ON (l.PUID = pu.PUID)
LEFT JOIN	tbl_BU bu WITH (NOLOCK)
				ON (pu.BUID = bu.BUID)
WHERE		l.MilestoneID IN (1,9,2,10)
AND			l.LaStatus = 1
ORDER BY	BuName, PuName, LaName


END
GO
