USE [LabStatus]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetIssueCreationProcess]    Script Date: 1/28/2026 12:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		arturor
-- Create date: 3/31/2006
-- Description:	Gets the process for which an issue was created
-- =============================================
CREATE FUNCTION [dbo].[fn_GetIssueCreationProcess] 
(
	-- Add the parameters for the function here
	@IssueID int
)
RETURNS varchar(50)
AS
BEGIN
	-- Declare the return variable here
		DECLARE  @ProcessName varchar(50)	
		
		SELECT @ProcessName =
			CASE
				WHEN  IsAutoOpened = 1 AND (CHARINDEX(':', IsTitle) > 0 ) THEN LEFT(IsTitle, CHARINDEX(':', IsTitle)-1) 
				ELSE 'n/a'
		END										
		FROM tbl_Issue WITH (NOLOCK)
		WHERE IssueID = @IssueID

	-- Return the result of the function
	RETURN @ProcessName

END


GO
