USE [LabStatus]
GO
/****** Object:  UserDefinedTableType [dbo].[LogCommonDataUDT]    Script Date: 1/28/2026 12:46:50 PM ******/
CREATE TYPE [dbo].[LogCommonDataUDT] AS TABLE(
	[BuildID] [int] NULL,
	[Data] [varchar](255) NULL,
	[LogDateTime] [varchar](50) NULL,
	[MachineName] [varchar](50) NULL
)
GO
