USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLocaleSetsByOrg]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_GetLocaleSetsByOrg]
(
	@OrgID int
)
AS
/*	Modified by	Date		Change
	***********************************************************
	a-karthp		11/08/2005	Created the sproc
*/
	SET NOCOUNT ON
	
	Select	LS.*
	From 	tlkp_LocaleSet LS WITH (NOLOCK)
		Inner Join atbl_OrgLocaleSet OLS On OLS.LocaleSetID = LS.LocaleSetID
	Where	OLS.OrgID = @OrgID
	Order By  LoOrder
	
	RETURN
GO
