USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_SetResumeFlag]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_SetResumeFlag]
(
    @SessionID int,
	@Flag bit,  -- use 1 for completed or 0 for reset
	@User varchar(50),
	@ImpersonatingUser varchar(50),
	@IP varchar(50))
AS
BEGIN

	DECLARE @ResumeStatusID INT
	IF @Flag = 1
		SET @ResumeStatusID = 5 --Completed 
	ELSE
		SET @ResumeStatusID = 1 --Cancelled

    UPDATE tbl_Session
    SET ResumeStatusID = @ResumeStatusID
    WHERE SessionID = @SessionID

    DECLARE @FixID INT  
    SELECT  Top 1 @FixID = sf.FixID
    FROM    tbl_SessionFix sf
    WHERE   sf.SessionID = @SessionID
    ORDER BY sf.SfScheduleTime


	DECLARE @Log AS VARCHAR(255)
    SELECT  @Log = 'SET RESUME FLAG TO: ' + StName
    FROM    tlkp_FixStatus
    WHERE   FixStatusID = @ResumeStatusID

    DECLARE @NOW DateTime
    SET @NOW = GETDATE()
    
	EXEC up_AddFixLog  @FixID = @FixID, 
                            @SessionID = @SessionID, 
							@LogText = @Log , 
							@LogDateTime = @NOW,
							@User = @User,
							@ImpersonatingUser = @ImpersonatingUser,
							@IP = @IP
END




GO
