USE [LabStatus]
GO
/****** Object:  UserDefinedTableType [dbo].[LogSkipProcessUDT]    Script Date: 1/28/2026 12:46:50 PM ******/
CREATE TYPE [dbo].[LogSkipProcessUDT] AS TABLE(
	[BuildID] [int] NULL,
	[Group] [varchar](100) NULL,
	[Process] [varchar](100) NULL,
	[LogDateTime] [varchar](50) NULL,
	[MachineName] [varchar](50) NULL
)
GO
