USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOpenIssuesByLab2]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetOpenIssuesByLab2]
	(
		@LabID int
	)
AS
	SET NOCOUNT ON
	
	SELECT DISTINCT i.IssueID, i.IsAssignedTo, i.IsTitle
	  FROM tbl_Session s WITH (NOLOCK) 
	  JOIN tbl_SessionIssue iss WITH (NOLOCK) ON (s.SessionID = iss.SessionID)
	  JOIN tbl_Issue i WITH (NOLOCK) ON (iss.IssueID = i.IssueID) 
	 WHERE s.LabID = @LabID
	   AND i.IsClosed = 0
	   AND i.IsDeleted = 0
	   AND i.IsMachineAccessOnly = 0
	ORDER BY IsAssignedTo

	
	RETURN 

GO
