USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateLogErrorsAsProcessed]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateLogErrorsAsProcessed]
(
	@SessionID int,
	@Username varchar(50)
)
AS
	SET NOCOUNT ON
	
	UPDATE tbl_LogError WITH (ROWLOCK)
	   SET Processed = 1
	 WHERE SessionID = @SessionID
	   AND Processed = 0
	   AND CategoryID = 3

	INSERT 
	  INTO tbl_SessionLog (SessionID, LoUserName, LoLog, LoDateTime)
	VALUES (@SessionID, @Username, 'All errors marked as processed', GetDate());
	    
	RETURN 

GO
