USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetPreservationRequests]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetPreservationRequests]

	@Revision varchar(100) = NULL,
	@LabID int = NULL

AS
	SELECT *
	FROM tbl_PreservationRequest
	WHERE
		(PrRevision = @Revision OR @Revision is NULL)
	AND	(LabID = @LabID OR @LabID is NULL)
	AND PrExpiryDateUtc > GETUTCDATE()
	AND PrCancelledDateUtc is NULL
RETURN
GO
