USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBlockingIssuesByMilestone]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBlockingIssuesByMilestone]
	(
		@MilestoneID int
	)
AS
	SET NOCOUNT ON
	
	SELECT COUNT(DISTINCT i.IssueID) As NumberOfIssues
	  FROM tbl_Session s WITH (NOLOCK) 
	  JOIN tbl_SessionIssue iss WITH (NOLOCK) ON (s.SessionID = iss.SessionID)
	  JOIN tbl_Issue i WITH (NOLOCK) ON (iss.IssueID = i.IssueID) 
	 WHERE s.MilestoneID = @MilestoneID
	   AND i.IsClosed = 0
	   AND i.SeverityID = 2
	   AND i.IsDeleted = 0
	
	RETURN 
GO
