USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLabSummary]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLabSummary]
(
	@OrgID int = 0,
	@MilestoneID int = 0
)
AS
/*	Modified by	Date		Change
	***********************************************************
	a-karthp	08/10/2005	Created
	a-karthp	09/12/2005	Added an additional column LaMSDN
	karthip		04/25/2005	Added an additional column LaOwner
	a-joeyj		05/04/2009	Altered default search condition to include
							values less than 0 for OrgID and MilestoneID
*/
	set nocount on
	
	select	l.LabID, 
			pl.LabID ParentLabID, 
			l.LaName,  
			pl.LaName ParentName, 
			(Select Count(distinct LabSlotID)  From LabDropManagement..atbl_LabSlot ls Where ls.LabID = l.LabID and ls.SlotID <= 20)  CurrentSlots,
			(Select Count(distinct LabSlotID)  From LabDropManagement..atbl_LabSlot ls Where ls.LabID = l.LabID and ls.SlotID >= 100)   SavedSlots,
			l.LaStatus, 
			l.LaOrder,
			l.LaMSDN,
			l.LaOwner,
			pu.PuName,
			bu.BuName,
			'N/A' As CosteaseProjectName,
			l.LaAutoAbandon,
			l.LaShortName,
			l.LaSourceControlPath,
			DropAge = Case When l.LaAutoDropRemove = 0 Then Null Else l.LaDropAge End,
			0 As CosteaseProjectID
	from 		tbl_Lab l with (nolock)
			left join Integration.LabParent lp with (nolock) on (lp.LabID = l.LabID)
			left join tbl_Lab pl with (nolock) on(pl.LabID = lp.ParentLabID)
			left join tbl_PU pu
				on (l.PUID = pu.PUID)
			left join tbl_BU bu
				on (pu.BUID = bu.BUID)
	where		(l.OrgID = @OrgID or @OrgID <= 0) 
			and (l.MilestoneID = @MilestoneID or @MilestoneID <= 0) 
		--	and l.trainid is null
	order by		l.LaStatus DESC, l.LaName
GO
