USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateIssueWithReminderSent]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateIssueWithReminderSent]
	(
		@IssueID int
	)
AS
	UPDATE tbl_Issue WITH (ROWLOCK)
	   SET IsLastReminderSent = GetDate(),
	       IsCCManagerOnEmails = 1
	 WHERE IssueID = @IssueID

	RETURN 


GO
