USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[ext_GetLatestRIFIForTeamstats]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ext_GetLatestRIFIForTeamstats] as
select l.labid, l.laname as Branch,
	   p.puname as PU,
	   (select max(CheckinDateTime) from Integration.IntegrationHistory where (destlabid = l.labid or sourcelabid = l.labid) and actionid = 1) as [Latest RI],
	   (select max(CheckinDateTime) from Integration.IntegrationHistory where (destlabid = l.labid or sourcelabid = l.labid) and actionid = 2) as [Latest FI]
from tbl_lab l
left outer join tbl_PU p on l.puid = p.puid
where	l.LaName IN 
		(
		'dev10/pu/BizApp',
		'dev10/pu/vs_langs',
		'dev10/pu/VC',
		'orcas/lab26vsts',
		'dev10/pu/cider',
		'dev10/pu/fxserver',
		'dev10/pu/vsidc',
		'dev10/pu/loc',
		'dev10/pu/msdnue',
		'dev10/pu/Alexandria',
		'dev10/pu/clr',
		'dev10/pu/dtg',
		'dev10/pu/wpf',
		'dev10/CDFDev10',
		'dev10/pu/netfx',
		'dev10/pu/dpruntime2',
		'dev10/pu/dptools',
		'dev10/pu/sqlce'
		)
and lastatus = 1
order by l.laname
GO
