USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteMachine]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteMachine]
	(
		@MachineID int
	)
AS
	SET NOCOUNT ON
	
	DELETE
	  FROM tlkp_Machine 
	 WHERE MachineID = @MachineID
	
	RETURN 
GO
