USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_DeleteBuildStepForSourceCodeFix]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[up_DeleteBuildStepForSourceCodeFix]
(
	@IssueID int
)
AS
BEGIN
    DECLARE @FixDefinitionID INT
    SELECT  @FixDefinitionID = FixDefinitionID
    FROM    tbl_Fix
    WHERE   IssueID = @IssueID

    DELETE 
    FROM    tbl_FixDefSourceCodeBuildStep
    WHERE   FixDefinitionID = @FixDefinitionID
		
END





GO
