USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AutoIssue_GetLabs]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AutoIssue_GetLabs]
(
	@OrgID int = 1
)
AS
	SET NOCOUNT ON
	
	SELECT  l.*, o.OrBuildDL
	FROM    tbl_Lab l WITH (NOLOCK)
    JOIN    tbl_Org o WITH (NOLOCK) ON o.OrgID = @OrgID
	WHERE   l.OrgID = @OrgID
    AND     l.LaAutoOpenIssues = 1
	RETURN 




GO
