USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_MarkBuidAsDeleted]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MarkBuidAsDeleted]
	(
		@SessionID int
	)
AS
	SET NOCOUNT ON
	
	UPDATE tbl_Session
	   SET SeRevision = SeRevision + '_DEL',
		   SeBuildDate = DATEADD(yy, -5, SeBuildDate),
		   StatusID = 8
     WHERE SessionID = @SessionID
	
	INSERT 
	  INTO tbl_LogFootprint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
	VALUES ('Session ' + CONVERT(varchar(20), @SessionID) + ' has been deleted', GetDate(), GetDate())
	
	RETURN 
GO
