USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessionsByRevisionRange2]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_GetSessionsByRevisionRange2]
	(
		@LabIDs varchar(4000),
		@FlavorIDs varchar(255),
		@TargetArchitectureIDs varchar(255),
		@LanguageIDs varchar(4000),
		@From varchar(100),
		@To varchar(100) = '', -- Adding a default in case it's not specified, ABjork, 1/3/2007
		@RequestOwnerAlias VARCHAR(50) = NULL
	)
AS
BEGIN
    SET NOCOUNT ON

	SELECT  s.SessionID
	  INTO  #SessionID
	  FROM  tbl_Session s WITH (READPAST)
	  JOIN  fn_ParseCommaDelimitedList(@LabIDs) l 
                ON (s.LabID = l.ItemID)
	  JOIN  fn_ParseCommaDelimitedList(@FlavorIDs) f 
                ON (s.FlavorID = f.ItemID)
	  JOIN  fn_ParseCommaDelimitedList(@TargetArchitectureIDs) ta 
                ON (s.TargetArchitectureID = ta.ItemID) 
	  JOIN  fn_ParseCommaDelimitedList(@LanguageIDs) ls 
                ON (s.LocaleSetID = ls.ItemID)
	  JOIN	tlkp_Flavor flavor WITH (NOLOCK)
				ON (s.FlavorID = flavor.FlavorID)
	 WHERE  s.SeRevision >= @From AND s.SeRevision <= @To
	 AND	((s.SessionID in 
			 (SELECT SessionID 
			  FROM LaunchPad.dbo.vw_LopezRequestSessions WITH (NOLOCK)
			  WHERE OwnerAlias = @RequestOwnerAlias)) OR @RequestOwnerAlias IS NULL)
	ORDER BY s.LocaleSetID, s.TargetArchitectureID, flavor.FlOrder ASC, s.SessionID

    DECLARE @SessionIdList VARCHAR(max)
    SELECT	@SessionIdList = COALESCE(@SessionIdList + ',', '') + CONVERT(varchar(20), SessionID) 
    FROM	#SessionID

    EXEC    up_GetSessions @SessionIdList

	-- Request
	SELECT  DISTINCT LRS.*
	FROM    LaunchPad.dbo.vw_LopezRequestSessions LRS WITH (NOLOCK)
	INNER JOIN #SessionID S
			ON LRS.SessionID = S.SessionID
	UNION
    SELECT  DISTINCT LRS.*
	FROM    LaunchPad.dbo.vw_LopezRequestSessions LRS WITH (NOLOCK)
	JOIN	fn_ParseCommaDelimitedList(@LabIDs) l 
			ON (LRS.LabID = l.ItemID)
	JOIN	fn_ParseCommaDelimitedList(@FlavorIDs) f 
			ON (LRS.FlavorID = f.ItemID)
	JOIN	fn_ParseCommaDelimitedList(@TargetArchitectureIDs) ta 
			ON (LRS.TargetArchitectureID = ta.ItemID) 
	JOIN	fn_ParseCommaDelimitedList(@LanguageIDs) ls 
			ON (LRS.LocaleSetID = ls.ItemID)
	JOIN	tlkp_Flavor flavor WITH (NOLOCK)
			ON (LRS.FlavorID = flavor.FlavorID)
	WHERE   LRS.SessionID IS NULL
	AND		LRS.Revision BETWEEN @From AND @To
	AND		((LRS.OwnerAlias = @RequestOwnerAlias) OR (@RequestOwnerAlias IS NULL))

	DROP TABLE   #SessionID  
	RETURN 
END
GO
