USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_LogScheduleBuild2]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- sp_LogScheduleBuild
CREATE PROCEDURE [dbo].[sp_LogScheduleBuild2]
	(
		@Revision varchar(50),
		@LabShortName varchar(50),
		@ProductShortName varchar(10),
		@MilestoneShortName varchar(10),
		@FlavorShortName varchar(10),
		@TargetArchitectureShortName varchar(10),
		@LocaleSetShortName varchar(10),
		@LogDateTime datetime = NULL,
		@Comment varchar(255),
		@MachineName varchar(50)
	)
AS

	-- Insert the log footprint.	
	INSERT 
	  INTO tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
	VALUES (@Revision + ', ' + @LabShortName + ', ' + @ProductShortName + ', ' + @MilestoneShortName + ', ' + @FlavorShortName + ', ' + @TargetArchitectureShortName + ', ' + @LocaleSetShortName + ', Build scheduled..., ' + @MachineName, @LogDateTime, GetDate()) 

	BEGIN TRANSACTION
	
		-- Build the parameter string the sp_Log3 uses.
		DECLARE @Params varchar(4000)
		SELECT @Params = 'ARCH=' + @TargetArchitectureShortName 
					+ ';FLV=' + @FlavorShortName 
					+ ';LOC=' + @LocaleSetShortName 
					+ ';'

		-- Pass the call along to sp_Log3
		EXEC sp_Log3_ScheduleBuild @Revision, 
						@LabShortName, 
						@ProductShortName, 
						@Params, 
						@Comment, 
						@LogDateTime, 
						@MachineName


		
	COMMIT TRANSACTION	
	
	RETURN



GO
