USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_LogError]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LogError](
	[LogEntryID] [bigint] NOT NULL,
	[SessionID] [int] NULL,
	[Processed] [bit] NULL,
	[CategoryID] [int] NULL,
	[IsStall] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_LogErrorBIGINT] PRIMARY KEY CLUSTERED 
(
	[LogEntryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_LogError] ADD  CONSTRAINT [DF_tbl_LogError_ProcessedBIGINT]  DEFAULT ((0)) FOR [Processed]
GO
ALTER TABLE [dbo].[tbl_LogError] ADD  DEFAULT ((0)) FOR [IsStall]
GO
