USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_LogBatch]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_LogBatch]
	(
		@LogBatch [dbo].[LogUDT] READONLY
	)
AS
BEGIN
    SET NOCOUNT ON
    DECLARE @BuildID INT
    DECLARE @Group varchar(100)
    DECLARE @Process varchar(100)
    DECLARE @Category varchar(50)
    DECLARE @Log varchar(7200)
    DECLARE @LogDateTime varchar(50)
    DECLARE @MachineName varchar(50)
    DECLARE @FootPrintLog varchar(255)
    DECLARE @LogFootPrintID INT
    DECLARE @Position INT = 0
    DECLARE @MaxRetryCount INT = 100
    DECLARE @RetryCounter INT = 1
    DECLARE @TotalRowCount INT = 0
    DECLARE @CurrentRowCount INT = 0

    INSERT 
    INTO		tbl_LogFootPrint (LoLog, LoDateTimeLogged)
    VALUES	('up_LogBatch started', GetDate()) 
    SELECT	@LogFootPrintID = @@IDENTITY

    DECLARE logLoop CURSOR FAST_FORWARD
    FOR SELECT	*
        FROM	@LogBatch
    
    SELECT @TotalRowCount = count(*) from @LogBatch

    OPEN logLoop
    FETCH NEXT FROM logLoop INTO @BuildID, @Group, @Process, @Category, @Log, @LogDateTime, @MachineName
    WHILE @@FETCH_STATUS = 0
    BEGIN
        SET @CurrentRowCount = @CurrentRowCount + 1
        IF LEN(@Log) > 50
            SELECT @FootPrintLog = LEFT(@Log, 50) + '...'
        ELSE
            SELECT @FootPrintLog = @Log

        RETRY: 
        BEGIN TRY
            INSERT
            INTO tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
            VALUES ('up_LogBatch iteration, ' + CAST(@BuildID AS VARCHAR(20)) + ', ' + @Group + ', ' + @Process + ', ' + @Category + ', ' + @MachineName + ', ' + CAST(@CurrentRowCount AS NVARCHAR(10)) + ', ' + CAST(@TotalRowCount AS NVARCHAR(10)),
                          @LogDateTime, GetDate())
            IF  ((@CurrentRowCount = @TotalRowCount) OR (@CurrentRowCount = 1))
                EXEC dbo.up_Log @BuildID, @Group, @Process, @Category, @Log, @LogDateTime, @MachineName
            ELSE
                EXEC dbo.up_LogWithNoSessionProgressUpdate @BuildID, @Group, @Process, @Category, @Log, @LogDateTime, @MachineName
            SET @Position += 1
        END TRY
        BEGIN CATCH
            IF (@@TRANCOUNT > 0)
                ROLLBACK
            IF ((ERROR_NUMBER() = 1205) AND  -- Deadlock Error Number
                (@RetryCounter < @MaxRetryCount)) 
            BEGIN
                SET @RetryCounter += 1
                WAITFOR DELAY '00:00:01' -- Wait for 1 sec before retry

                INSERT
                INTO tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
                VALUES ('up_LogBatch deadlocked at position ' + CAST(@Position AS NVARCHAR(10)) + '. Trying ' + CAST(@RetryCounter AS NVARCHAR(10)) + ' of ' + CAST(@MaxRetryCount AS NVARCHAR(10)) + '.', 
                         @LogDateTime, GetDate())

                INSERT
                INTO tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
                VALUES  ('up_LogBatch deadlocked, ' + CAST(@BuildID AS VARCHAR(20)) + ', ' + @Group + ', ' + @Process + ', ' + @Category + ', ' + @MachineName + ', ' +   CAST(@CurrentRowCount AS NVARCHAR(10)) + ', ' + CAST(@TotalRowCount AS NVARCHAR(10)),
                          @LogDateTime, GetDate())

                GOTO RETRY
            END

            DECLARE @ErrorMessageFmt NVARCHAR(MAX) = N'Batch failed at position %d due to "%s" (SEVERITY: %d).'
            DECLARE @ErrorMessage NVARCHAR(4000)
            DECLARE @ErrorSeverity INT
            DECLARE @ErrorState INT
            SELECT	@ErrorMessage = ERROR_MESSAGE(),
                    @ErrorSeverity = ERROR_SEVERITY(),
                    @ErrorState = ERROR_STATE()

            INSERT 
            INTO		tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
            VALUES		('up_LogBatch raising error: ' + @ErrorMessage, @LogDateTime, GetDate()) 

            RAISERROR(@ErrorMessageFmt, 18, @ErrorState, @Position, @ErrorMessage, @ErrorSeverity)
        END CATCH

        FETCH NEXT FROM logLoop INTO @BuildID, @Group, @Process, @Category, @Log, @LogDateTime, @MachineName
    END
    CLOSE logLoop
    DEALLOCATE logLoop	

    INSERT 
    INTO		tbl_LogFootPrint (LoLog, LoDateTimeLogged)
    VALUES		('up_LogBatch succeeded (LogFootPrintID: ' + CAST(@LogFootPrintID AS VARCHAR(20)) + ')', GetDate()) 

END
GO
