USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_Issue]    Script Date: 1/28/2026 12:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Issue](
	[IssueID] [int] IDENTITY(1,1) NOT NULL,
	[IsTitle] [varchar](255) NOT NULL,
	[IsAssignedTo] [varchar](50) NULL,
	[IsPendingOwner] [varchar](50) NULL,
	[IsPendingSince] [datetime] NULL,
	[IsAssignedBy] [varchar](50) NULL,
	[IsDateCreated] [datetime] NULL,
	[IsDateChanged] [datetime] NULL,
	[IsWorkAround] [varchar](4000) NULL,
	[IsNotifyUser] [varchar](50) NULL,
	[IsMachineName] [varchar](100) NULL,
	[IsCausedBy] [varchar](50) NULL,
	[IsCausedByLead] [varchar](50) NULL,
	[IsCostCenter] [varchar](20) NULL,
	[TeamID] [int] NULL,
	[LanguageID] [int] NULL,
	[SeverityID] [int] NULL,
	[IsClosed] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[IsDateClosed] [datetime] NULL,
	[IsLockDown] [bit] NULL,
	[IsLockDownSet] [datetime] NULL,
	[IsLockDownImmediate] [bit] NULL,
	[IsLockDownGracePeriod] [int] NULL,
	[IsLockDownMailSent] [bit] NULL,
	[IsFollowUp] [bit] NULL,
	[IsMachineAccessOnly] [bit] NULL,
	[IsOtherSubSource] [varchar](1000) NULL,
	[IsLastHandOffReminderSent] [datetime] NULL,
	[IsLastReminderSent] [datetime] NULL,
	[IsAutoOpened] [bit] NOT NULL,
	[IsAutoOpenIssues] [bit] NOT NULL,
	[IsDuplicate] [bit] NOT NULL,
	[IsDuplicateIssue] [int] NULL,
	[OrgID] [int] NULL,
	[IsTimeSpent] [decimal](16, 2) NOT NULL,
	[IsAutoClosed] [bit] NOT NULL,
	[IsTest] [bit] NOT NULL,
	[IsStall] [bit] NOT NULL,
	[IsCCManagerOnEmails] [bit] NOT NULL,
	[IsCustomerImpact] [varchar](1000) NULL,
	[IsIssueSummary] [varchar](4000) NULL,
	[TriageID] [int] NOT NULL,
 CONSTRAINT [PK_tbl_Issue] PRIMARY KEY CLUSTERED 
(
	[IssueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Issue] ADD  CONSTRAINT [DF_tbl_Issue_IsClosed]  DEFAULT ((0)) FOR [IsClosed]
GO
ALTER TABLE [dbo].[tbl_Issue] ADD  CONSTRAINT [DF_tbl_Issue_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[tbl_Issue] ADD  CONSTRAINT [DF_tbl_Issue_IsLockDown]  DEFAULT ((0)) FOR [IsLockDown]
GO
ALTER TABLE [dbo].[tbl_Issue] ADD  CONSTRAINT [DF_tbl_Issue_IsLockDownImmediate]  DEFAULT ((0)) FOR [IsLockDownImmediate]
GO
ALTER TABLE [dbo].[tbl_Issue] ADD  CONSTRAINT [DF_tbl_Issue_IsLockDownGracePeriod]  DEFAULT ((0)) FOR [IsLockDownGracePeriod]
GO
ALTER TABLE [dbo].[tbl_Issue] ADD  CONSTRAINT [DF_tbl_Issue_IsLockDownMailSent]  DEFAULT ((0)) FOR [IsLockDownMailSent]
GO
ALTER TABLE [dbo].[tbl_Issue] ADD  CONSTRAINT [DF_tbl_Issue_IsFollowUp]  DEFAULT ((0)) FOR [IsFollowUp]
GO
ALTER TABLE [dbo].[tbl_Issue] ADD  CONSTRAINT [DF_tbl_Issue_IsMachineAccessOnly]  DEFAULT ((0)) FOR [IsMachineAccessOnly]
GO
ALTER TABLE [dbo].[tbl_Issue] ADD  CONSTRAINT [DF_tbl_Issue_IsAutoOpened]  DEFAULT ((0)) FOR [IsAutoOpened]
GO
ALTER TABLE [dbo].[tbl_Issue] ADD  CONSTRAINT [DF_tbl_Issue_IsAutoOpenIssues]  DEFAULT ((1)) FOR [IsAutoOpenIssues]
GO
ALTER TABLE [dbo].[tbl_Issue] ADD  CONSTRAINT [DF_tbl_Issue_IsDuplicate]  DEFAULT ((0)) FOR [IsDuplicate]
GO
ALTER TABLE [dbo].[tbl_Issue] ADD  CONSTRAINT [DF_tbl_Issue_OrgID]  DEFAULT ((1)) FOR [OrgID]
GO
ALTER TABLE [dbo].[tbl_Issue] ADD  CONSTRAINT [DF_tbl_Issue_IsTimeSpent]  DEFAULT ((0)) FOR [IsTimeSpent]
GO
ALTER TABLE [dbo].[tbl_Issue] ADD  CONSTRAINT [DF_tbl_Issue_IsAutoClosed]  DEFAULT ((0)) FOR [IsAutoClosed]
GO
ALTER TABLE [dbo].[tbl_Issue] ADD  CONSTRAINT [DF_tbl_Issue_IsTest]  DEFAULT ((0)) FOR [IsTest]
GO
ALTER TABLE [dbo].[tbl_Issue] ADD  DEFAULT ((0)) FOR [IsStall]
GO
ALTER TABLE [dbo].[tbl_Issue] ADD  CONSTRAINT [DF_tbl_Issue_IsCCManagerOnEmails]  DEFAULT ((0)) FOR [IsCCManagerOnEmails]
GO
ALTER TABLE [dbo].[tbl_Issue] ADD  DEFAULT ((1)) FOR [TriageID]
GO
ALTER TABLE [dbo].[tbl_Issue]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Issue_tbl_Org] FOREIGN KEY([OrgID])
REFERENCES [dbo].[tbl_Org] ([OrgID])
GO
ALTER TABLE [dbo].[tbl_Issue] CHECK CONSTRAINT [FK_tbl_Issue_tbl_Org]
GO
