USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_PublishSchema]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_PublishSchema]
(
	@SchemaID int,
	@Username varchar(50)
)
AS
	SET NOCOUNT ON
	
	UPDATE tbl_Product
	   SET SchemaID = @SchemaID,
		   SchemaPublished = GetDate(),
		   SchemaPublishedBy = @Username
	 WHERE ProductID = (SELECT ProductID FROM tbl_Schema WHERE SchemaID = @SchemaID)
	 
	RETURN 
GO
