USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSources]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSources]
AS
	SET NOCOUNT ON
	
	SELECT s.SourceID, s.SoName, s.SoDescription, s.SoActive, COUNT(ss.SubSourceID) As SubSources
	  FROM tlkp_Source s WITH (NOLOCK)
 LEFT JOIN tbl_SourceSubSource sss WITH (NOLOCK) ON (s.SourceID = sss.SourceID)	  	  
 LEFT JOIN tlkp_SubSource ss WITH (NOLOCK) ON (sss.SubSourceID = ss.SubSourceID)	  
	 WHERE s.SoActive = 1
  GROUP BY s.SourceID, s.SoName, s.SoDescription, s.SoActive, s.SoOrder
  ORDER BY s.SoOrder ASC, s.SoName ASC	
	
	RETURN 
GO
