USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessionsByStartedDate]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetSessionsByStartedDate]
(
	@From datetime,
	@To datetime
)
AS
BEGIN
	SET NOCOUNT ON	

	-- Sessions
    DECLARE @SessionIdList VARCHAR(max)
    SELECT	@SessionIdList = COALESCE(@SessionIdList + ',', '') + CONVERT(varchar(20), SessionID) 
    FROM	tbl_Session
    WHERE	SeStarted > @FROM AND SeStarted <= @To

    EXEC up_GetSessions @SessionIdList
END
GO
