USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessionGroupParent]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetSessionGroupParent]
    (
        @SessionGroupID int
    )
AS
    SET NOCOUNT ON

    DECLARE @hid HIERARCHYID
    
    SELECT @hid = sg.hid
    FROM tbl_SessionGroup sg
    WHERE sg.SessionGroupID = @SessionGroupID
    
    SELECT sg.SessionGroupID
    FROM tbl_SessionGroup sg 
    WHERE sg.hid = @hid.GetAncestor(1)
    
    RETURN
GO
