USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_IHAF_IsFixOfType]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_IHAF_IsFixOfType]
(
	@FixID int,
	@FixTypeID int
	
)
AS
BEGIN
	/*********************
	DESCRIPTION
		Determines if a fix is of a particular type
	*********************/
	DECLARE @IsOfType BIT
	SET @IsOfType = 0
	
	IF EXISTS(SELECT FixID FROM tbl_Fix WHERE FixID = @FixID AND FixTypeID = @FixTypeID)
		SET @IsOfType = 1

	SELECT @IsOfType
		
END
GO
