USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_Log2_GetGroupProcessNames]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[sp_Log2_GetGroupProcessNames]
	(
		@ProductShortName varchar(10),
		@ProcessShortName varchar(10),
		@ProcessName varchar(100) OUTPUT,
		@GroupName varchar(100) OUTPUT
	)
AS
	SET NOCOUNT ON
	
		-- Lookup the current schemaId for this product.
		DECLARE @SchemaID int
		SELECT	@SchemaID = SchemaID
		FROM	tbl_Product WITH (NOLOCK)
		WHERE	PrShortName = @ProductShortName

		-- We look up the process name and group name based on the short names that 
		-- have been passed in.
		SELECT	@ProcessName = sgp.PrName,
				@GroupName = sg.GrName
		FROM	tbl_SchemaGroupProcess sgp WITH (NOLOCK)
		JOIN	tbl_SchemaGroup sg WITH (NOLOCK)
					ON (sgp.SchemaGroupID = sg.SchemaGroupID)
		WHERE	sgp.SchemaID = @SchemaID 
		AND		sgp.PrShortName = @ProcessShortName

		IF @GroupName IS NULL
			SET @GroupName = 'Undefined'

		IF @ProcessName IS NULL
			SET @ProcessName = @ProcessShortName		
	
	RETURN 




GO
