USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_MntrComputeProcessAverages]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MntrComputeProcessAverages]
AS

BEGIN
	SET NOCOUNT ON;

	DECLARE	@StartDate DATETIME
	DECLARE	@EndDate DATETIME
	SET @StartDate = DATEADD(dd, -368, GETDATE()) --Last one year
	SET @EndDate = DATEADD(dd, -3, GETDATE()) --Ignore builds that are in-flight

	BEGIN TRY
		BEGIN TRANSACTION	

			TRUNCATE TABLE tbl_ProcessBuildTime

			;With AllProcesses As
			(
				Select	S.LabID, s.TargetArchitectureID, s.FlavorID, s.LocaleSetID, SG.GrName, SGP.PrName, SGPS.ProcessStarted, SGPS.ProcessFinished,
						RANK() Over (Partition By s.LabID, s.TargetArchitectureID, s.FlavorID, s.LocaleSetID Order By SeBuildDate Desc) [Rnk]
				From	tbl_Session S (Nolock) 
						Inner Join tbl_Lab L (Nolock) 
							On L.LabID = S.LabID And L.LaStatus = 1 --Reports to build status
						Inner Join tbl_SessionGroupProcessStatus SGPS (Nolock)
								On SGPS.SessionID = S.SessionID
						Inner Join tbl_SchemaGroupProcess sgp (Nolock)
								On (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID)
						Inner Join tbl_SchemaGroup sg (Nolock)
								On (sgp.SchemaGroupID = sg.SchemaGroupID)
				Where	S.SeBuildDate Between  @StartDate And @EndDate
						And SGPS.ProcessStarted Is Not Null
						And SGPS.ProcessFinished Is Not Null
						And SGPS.Skip = 0
						And	SGPS.IgnoreTiming = 0
			)
			INSERT INTO	tbl_ProcessBuildTime (LabID, TargetArchitectureID, FlavorID, LocaleSetID, GrName, PrName, AvgBuildTime, StdDevBuildTime, LastUpdated)
			Select	LabID, TargetArchitectureID, FlavorID, LocaleSetID, GrName, PrName,
					MAX(DATEDIFF(mi, ProcessStarted, ProcessFinished)) AS AvgBuildTime,
					STDEVP(DATEDIFF(mi, ProcessStarted, ProcessFinished)) AS StdDevBuildTime,
					GetDate()
			From	AllProcesses
			Where	Rnk <= 14 --Last 14 builds
			Group By LabID, TargetArchitectureID, FlavorID, LocaleSetID, GrName, PrName

		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		If @@TRANCOUNT > 0
			ROLLBACK TRAN

		EXEC THROW
	END CATCH
END
GO
