USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_SessionGroupProcessStatus]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SessionGroupProcessStatus](
	[SessionGroupProcessStatusID] [int] IDENTITY(1,1) NOT NULL,
	[SessionID] [int] NOT NULL,
	[SchemaGroupProcessID] [int] NULL,
	[RunNumber] [int] NULL,
	[StatusID] [int] NULL,
	[ProcessStarted] [datetime] NULL,
	[ProcessFinished] [datetime] NULL,
	[HasErrors] [bit] NULL,
	[HasWarnings] [bit] NULL,
	[Skip] [bit] NULL,
	[IgnoreTiming] [bit] NULL,
	[ProcessComment] [varchar](1000) NULL,
	[Stalled] [bit] NULL,
 CONSTRAINT [PK_tbl_SessionGroupProcessStatus] PRIMARY KEY CLUSTERED 
(
	[SessionGroupProcessStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_SessionGroupProcessStatus] ADD  CONSTRAINT [DF_tbl_SessionBuildProcessStatus_SchemaBuildProcessRun]  DEFAULT (1) FOR [RunNumber]
GO
ALTER TABLE [dbo].[tbl_SessionGroupProcessStatus] ADD  CONSTRAINT [DF_tbl_SessionBuildProcessStatus_HasErrors]  DEFAULT (0) FOR [HasErrors]
GO
ALTER TABLE [dbo].[tbl_SessionGroupProcessStatus] ADD  CONSTRAINT [DF_tbl_SessionBuildProcessStatus_HasWarnings]  DEFAULT (0) FOR [HasWarnings]
GO
ALTER TABLE [dbo].[tbl_SessionGroupProcessStatus] ADD  CONSTRAINT [DF_tbl_SessionGroupProcessStatus_Skip]  DEFAULT (0) FOR [Skip]
GO
ALTER TABLE [dbo].[tbl_SessionGroupProcessStatus] ADD  CONSTRAINT [DF_tbl_SessionGroupProcessStatus_IgnoreTiming]  DEFAULT (0) FOR [IgnoreTiming]
GO
ALTER TABLE [dbo].[tbl_SessionGroupProcessStatus] ADD  CONSTRAINT [DF_tbl_SessionGroupProcessStatus_Stalled]  DEFAULT (0) FOR [Stalled]
GO
ALTER TABLE [dbo].[tbl_SessionGroupProcessStatus]  WITH NOCHECK ADD  CONSTRAINT [FK_tbl_SessionBuildProcessStatus_tbl_Session] FOREIGN KEY([SessionID])
REFERENCES [dbo].[tbl_Session] ([SessionID])
GO
ALTER TABLE [dbo].[tbl_SessionGroupProcessStatus] CHECK CONSTRAINT [FK_tbl_SessionBuildProcessStatus_tbl_Session]
GO
ALTER TABLE [dbo].[tbl_SessionGroupProcessStatus]  WITH NOCHECK ADD  CONSTRAINT [FK_tbl_SessionBuildProcessStatus_tlkp_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[tlkp_Status] ([StatusID])
GO
ALTER TABLE [dbo].[tbl_SessionGroupProcessStatus] CHECK CONSTRAINT [FK_tbl_SessionBuildProcessStatus_tlkp_Status]
GO
ALTER TABLE [dbo].[tbl_SessionGroupProcessStatus]  WITH NOCHECK ADD  CONSTRAINT [FK_tbl_SessionGroupProcessStatus_tbl_SchemaGroupProcess] FOREIGN KEY([SchemaGroupProcessID])
REFERENCES [dbo].[tbl_SchemaGroupProcess] ([SchemaGroupProcessID])
GO
ALTER TABLE [dbo].[tbl_SessionGroupProcessStatus] CHECK CONSTRAINT [FK_tbl_SessionGroupProcessStatus_tbl_SchemaGroupProcess]
GO
