USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_MarkSessionsWithStatus]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_MarkSessionsWithStatus]
    (
        @SessionGroupID INT,
        @StatusID INT
    )
AS
    SET NOCOUNT ON

    UPDATE tbl_Session
    SET StatusID = @StatusID
    FROM tbl_SessionGroup sg
    JOIN tbl_Session s ON (sg.LabID = s.LabID 
                           AND sg.LocaleSetID = s.LocaleSetID
                           AND sg.Revision = s.SeRevision)
    WHERE sg.SessionGroupID = @SessionGroupID
    
    RETURN
GO
