USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetLabGroups]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[up_GetLabGroups] 
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM tlkp_LabGroup
END
GO
