USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSessionGroupProcessStatus]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateSessionGroupProcessStatus]
	(
		@SessionGroupProcessStatusID int,
		@StatusID int
	)
AS
	SET NOCOUNT ON
	
	UPDATE tbl_SessionGroupProcessStatus WITH (ROWLOCK)
	   SET StatusID = @StatusID
	 WHERE SessionGroupProcessStatusID = @SessionGroupProcessStatusID
	
	 IF (@StatusID = 6) OR (@StatusID = 3)
		BEGIN
			UPDATE tbl_SessionGroupProcessStatus WITH (ROWLOCK)
			   SET IgnoreTiming = 1,
				   Stalled = 0 -- Reset the stalled value.
			 WHERE SessionGroupProcessStatusID = @SessionGroupProcessStatusID	
		END
	RETURN 
GO
