USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_FixDefSourceCodeBuildStep]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_FixDefSourceCodeBuildStep](
	[FixDefSourceCodeBuildStepID] [int] IDENTITY(1,1) NOT NULL,
	[FixDefinitionID] [int] NOT NULL,
	[BsBuildDir] [varchar](255) NOT NULL,
	[BsFlags] [varchar](3000) NULL,
	[BsOrder] [int] NOT NULL,
	[BsChangeLists] [varchar](1000) NOT NULL,
	[BsCommitIds] [varchar](1000) NULL,
 CONSTRAINT [PK_tbl_FixDefSourceCodeBuildStep] PRIMARY KEY CLUSTERED 
(
	[FixDefSourceCodeBuildStepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
