USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddProperty2]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- sp_AddProperty
CREATE PROCEDURE [dbo].[sp_AddProperty2]
	(
		@Revision varchar(50),
		@LabShortName varchar(10),
		@ProductShortName varchar(10),
		@MilestoneShortName varchar(10),
		@FlavorShortName varchar(10),
		@TargetArchitectureShortName varchar(10),
		@LocaleSetShortName varchar(10),
		@PropertyName varchar(50),
		@PropertyValue varchar(500),
		@MachineName varchar(50)
	)
AS

	BEGIN TRANSACTION

		DECLARE	@SessionID int
		DECLARE @SchemaID int

		EXEC sp_GetSessionID2 @Revision, @LabShortName, @ProductShortName, @MilestoneShortName, @FlavorShortName, @TargetArchitectureShortName, @LocaleSetShortName, GetDate, @MachineName, @SessionID OUTPUT, @SchemaID OUTPUT
		IF @SessionID IS NULL
			BEGIN
				RAISERROR ('A session could not be found or created.', 16, 1, @Revision)
				ROLLBACK TRANSACTION
			END

		INSERT
		  INTO tbl_SessionProperty (SessionID, PrName, PrValue)
		VALUES (@SessionID, @PropertyName, @PropertyValue)
	
		IF @@ERROR > 0
			BEGIN
				RAISERROR ('Property not able to be added.', 16, 1, @Revision)
				ROLLBACK TRANSACTION
			END
		ELSE
			COMMIT TRANSACTION

RETURN
GO
