USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddLabAdmin]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[sp_AddLabAdmin]
(
	@LabID int,
	@UserAlias varchar(20),
	@CurrentUser varchar(20)
)
as
/*	Modified by	Date		Change
	***********************************************************
	a-karthp		08/25/2005	Created the sproc
*/
	declare @ErrorNum int,
		@UserRoleId int,
		@RoleId int,
		@LabLogID int,
		@ErrMessage varchar(4000)

	select 	@RoleId = DropSecurityRoleID 
	from	tbl_Lab
	where	LabID = @LabID

	begin transaction

	set @ErrMessage = 'Adding a new user to the admin in DDSecurity'
	exec DDSecurity..sp_SaveUserRole -1, @RoleId, @UserAlias, 1, @CurrentUser, @ErrorNum output, @UserRoleId output
	
	if(@@error <> 0 or @ErrorNum  <> 0) goto on_error

	set @ErrMessage = 'Adding a change log'	
	insert into tbl_LabLog (LabID, LlUserAlias)
	values (@LabID, @CurrentUser)
	
	set @LabLogID = @@identity

	insert into tbl_LabLogText 
	values(@LabLogID,'Alias "' + @UserAlias + '" was added as an admin')
	
	if(@@error <> 0) goto on_error

	commit transaction
	select @ErrorNum
	return

on_error:
	rollback transaction
	set @ErrMessage = 'ERROR : sp_AddLabAdmin - ' + @ErrMessage
	raiserror(@ErrMessage, 16, 1)	
	return
GO
