USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_IHAF_CompleteFix]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[up_IHAF_CompleteFix]
(
	@FixID int,
	@CompletedTime datetime,
	@Success bit,
	@ResumeBuild bit,
	@User varchar(50),
	@ImpersonatingUser varchar(50),
	@IP varchar(50)
)
AS
BEGIN
	/*********************
	DESCRIPTION
		Marks a fix as starting
	*********************/

	DECLARE @FixStatus varchar(50)
	IF @Success = 1
		SET @FixStatus = 'Completed' 
	ELSE
		SET @FixStatus = 'Failed'
		
	UPDATE tbl_Fix
	SET FiCompletedTime = @CompletedTime,
		FixStatusID = (SELECT FixStatusID FROM tlkp_FixStatus WHERE STName = @FixStatus),
		FiResumeBuild = @ResumeBuild
	WHERE FixID = @FixID

	
	DECLARE @Log AS VARCHAR(255)
	SET @Log = 'COMPLETED: ' + @FixStatus
	exec up_IHAF_AddFixLog @FixID = @FixID, 
										@LogText = @Log , 
										@LogDateTime = @CompletedTime,
										@User = @User,
										@ImpersonatingUser = @ImpersonatingUser,
										@IP = @IP

	SELECT DATEDIFF(mi, FiStartTime, FiCompletedTime) ElapsedMinutes
	FROM tbl_Fix
	WHERE FixID = @FixId
END



GO
