USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AutoIssue_GetNewErrors]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AutoIssue_GetNewErrors]
	(
		@LastErrorProcessed bigint,
		@OrgID int
	)

AS
    SET NOCOUNT ON
    
    SELECT LogEntryID, SessionID, 0 As LabID
      INTO #UnprocessedErrors
      FROM tbl_LogError WITH (READPAST)
     WHERE Processed = 0
       AND SessionID IS NOT NULL
       AND CategoryID = 3	
       AND LogEntryID > @LastErrorProcessed

    ---	Disable auto issue creation if they are having more than 250 errors.
    SELECT SessionID
      INTO #AbnormalSession
      FROM #UnprocessedErrors e
     GROUP BY SessionID
    HAVING COUNT(*) > 250
         
    UPDATE tbl_LogError
    SET	Processed = 1
    WHERE SessionID IN 
        (SELECT SessionID
         FROM #AbnormalSession)	

    -- Create one build error to notify that there are "too many" errors
    DECLARE Cursor_CreateAbnormalError CURSOR FOR
    SELECT SessionID
      FROM #AbnormalSession
    
    OPEN Cursor_CreateAbnormalError
    DECLARE @SessionIDToCreateError int
    DECLARE @LatestErrorLogID bigint	
    DECLARE @NewLogID bigint	

    FETCH NEXT FROM Cursor_CreateAbnormalError INTO @SessionIDToCreateError
    WHILE @@FETCH_STATUS = 0
    BEGIN
        SELECT  @LatestErrorLogID = MAX(LogEntryID)
        FROM    dbo.tbl_LogError WITH (NOLOCK)
        WHERE   SessionID = @SessionIDToCreateError

        INSERT INTO	dbo.tbl_Log (SessionID, CategoryID, LoDateTimeStamp, LoDateTimeLogged, LoLog, LoMachineName, SessionGroupStatusID, SessionGroupProcessStatusID)
        SELECT	@SessionIDToCreateError, 3, GetDate(), GetDate(), 'There were more than 250 errors during a short period of time and, as a result, auto issue creation skipped these errors. Please investigate.', 
                l.LoMachineName, l.SessionGroupStatusID, l.SessionGroupProcessStatusID
        FROM	dbo.tbl_Log l WITH (NOLOCK)
        WHERE   l.LogEntryID = @LatestErrorLogID

        SELECT @NewLogID = @@IDENTITY

        INSERT INTO	dbo.tbl_LogError (LogEntryID, SessionID, CategoryID)
        SELECT	@NewLogID, @SessionIDToCreateError, 3

        FETCH NEXT FROM Cursor_CreateAbnormalError INTO @SessionIDToCreateError
    END
    CLOSE Cursor_CreateAbnormalError
    DEALLOCATE Cursor_CreateAbnormalError

    UPDATE #UnprocessedErrors    
        SET LabID = #Labs.LabID
        FROM (SELECT s.SessionID, l.LabID 
                FROM tbl_Lab l WITH (READPAST)
                JOIN tbl_Session s WITH (READPAST) ON ((s.LabID = l.LabID) AND s.SessionID >= (SELECT MIN(SessionID) FROM #UnprocessedErrors))
                WHERE s.SessionID NOT IN (SELECT SessionID FROM #AbnormalSession)
                AND l.OrgID = @OrgID) As #Labs
        WHERE #UnprocessedErrors.SessionID = #Labs.SessionID       

    SELECT l.*, lgd.LoExtendedLog
      INTO #Errors
      FROM tbl_Log l WITH (NOLOCK)
 LEFT JOIN LabStatusLog..tbl_LogData lgd WITH (READPAST) ON (l.LogEntryID = lgd.LogEntryID)
     WHERE l.LogEntryID IN (SELECT LogEntryID FROM #UnprocessedErrors WHERE LabID <> 0)
        
   SELECT l.*, s.LabID, s.SeBuildDate, sgs.SchemaGroupID, sg.GrName, sgps.SchemaGroupProcessID, sgp.PrName, s.SeRevision, sg.IsTest
     FROM #Errors l 
     JOIN tbl_Session s WITH (READPAST) ON (l.SessionID = s.SessionID)
     JOIN tbl_Lab la WITH (READPAST) ON (s.LabID = la.LabID AND la.LaAutoOpenIssues = 1 AND la.OrgID = @OrgID)
     JOIN tbl_SessionGroupStatus sgs WITH (READPAST) ON (l.SessionGroupStatusID = sgs.SessionGroupStatusID)
     JOIN tbl_SchemaGroup sg WITH(READPAST) ON (sg.SchemaGroupID = sgs.SchemaGroupID)
     JOIN tbl_SessionGroupProcessStatus sgps WITH (READPAST) ON (l.SessionGroupProcessStatusID = sgps.SessionGroupProcessStatusID)
     JOIN tbl_SchemaGroupProcess sgp WITH (READPAST) ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID)
LEFT JOIN LaunchPad.dbo.tbl_RequestBuild rb WITH(NOLOCK) ON (rb.SessionID = s.SessionID)
LEFT JOIN LaunchPad.dbo.tbl_Request r WITH(NOLOCK) ON (rb.RequestID = r.RequestID)
LEFT JOIN LaunchPad.dbo.vw_LopezRequestProperty lrp WITH(NOLOCK) ON (lrp.RequestID = rb.RequestID)
    WHERE l.CategoryID = 3
      AND l.LogEntryID > @LastErrorProcessed
      AND s.SeRevision NOT LIKE '%_DEL'
      AND (sg.IsTest = 1
		OR (la.LaAutoOpenIssues = 1
			AND s.StatusID NOT IN (8, 11)  -- Abandoned, VSTS Available
			AND s.SessionID NOT IN (SELECT DISTINCT SessionID	-- Sessions with auto-opened turned off.
									FROM atbl_SessionIssue si WITH (NOLOCK)
									JOIN tbl_Issue i WITH (NOLOCK) ON si.IssueID = i.IssueID AND i.IsAutoOpenIssues = 0 AND i.IsClosed = 0 AND i.IsDeleted = 0)))
		-- TODO: Uncomment for production as records are being returned for DEV11 Builds due to SessionID mismatching between environments
		--	AND ((lrp.AutoIssueDisabled IS NULL) OR (lrp.AutoIssueDisabled = 0))
		--	AND ((r.RequestStatusID IS NULL) OR (r.RequestStatusID <> 19))) -- request Released

    DROP TABLE #AbnormalSession
    DROP TABLE #UnprocessedErrors
    DROP TABLE #Errors
GO
