USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_SearchSessions]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_SearchSessions]
	@SourceControlPath varchar(2000),
	@Revision varchar(100)
AS
SET NOCOUNT ON

DECLARE @SessionIdList varchar(max)

SELECT	@SessionIdList = COALESCE(@SessionIdList + ',', '') + CONVERT(varchar(100), SessionID) 
FROM dbo.tbl_Session S
INNER JOIN dbo.tbl_Lab L ON S.LabID = L.LabID
WHERE L.LaSourceControlPath = @SourceControlPath
AND S.SeRevision = @Revision

EXEC up_GetSessions @SessionIdList
GO
