USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[z_sp_LogNew]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- sp_LogNew
CREATE PROCEDURE [dbo].[z_sp_LogNew]
	(
		@Revision varchar(50),
		@LabShortName varchar(10),
		@ProductShortName varchar(10),
		@MilestoneShortName varchar(10),
		@FlavorShortName varchar(10),
		@ProcessShortName varchar(10),
		@CategoryShortName varchar(10),
		@LogDateTime datetime = NULL,
		@Log varchar(2048),
		@MachineName varchar(50)
	)
AS
	BEGIN TRANSACTION
		DECLARE	@SessionID int
		DECLARE @SchemaID int
		-- SessionID and SchemaID.
		EXEC sp_GetSessionID @Revision, @LabShortName, @ProductShortName, @MilestoneShortName, @FlavorShortName, @SessionID OUTPUT, @SchemaID OUTPUT
		IF @SessionID IS NULL
			BEGIN
				RAISERROR ('A session could not be found or created.', 16, 1, @Revision)
				ROLLBACK TRANSACTION
			END
		-- Now, grab the the ID fields of other named values.
		DECLARE	@ProcessID int
		DECLARE @SchemaGroupID int
		DECLARE	@CategoryID	int
		DECLARE @SessionGroupProcessStatusID int
		DECLARE @SessionGroupStatusID int
		DECLARE @RunNumber int
		-- ProcessID.   
		SELECT @ProcessID = ProcessID 
		FROM tbl_Process
		WHERE PrShortName = @ProcessShortName
		-- SchemaGroupID.   
		SELECT @SchemaGroupID = SchemaGroupID
		FROM tbl_SchemaGroupProcess
		WHERE ProcessID = @ProcessID
			AND SchemaID = @SchemaID 
		-- CategoryID.
		SELECT @CategoryID = CategoryID 
		FROM tlkp_Category
		WHERE CaShortName = @CategoryShortName 
		-- SessionGroupProcessStatusID and RunNumber.
		SELECT @SessionGroupProcessStatusID = sgps.SessionGroupProcessStatusID, @RunNumber = Max(sgps.RunNumber)
		FROM tbl_SessionGroupProcessStatus sgps
		JOIN tbl_SchemaGroupProcess sgp ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID AND sgp.ProcessID = @ProcessID)
		JOIN tbl_Session s ON (sgp.SchemaID = s.SchemaID)
		WHERE s.SessionID = @SessionID
	GROUP BY sgps.SessionGroupProcessStatusID
		-- SessionGroupStatusID.
		SELECT @SessionGroupStatusID = sgs.SessionGroupStatusID
		FROM tbl_SessionGroupProcessStatus sgps
		JOIN tbl_SchemaGroupProcess sgp ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID AND sgps.SessionGroupProcessStatusID = @SessionGroupProcessStatusID)
		JOIN tbl_SessionGroupStatus sgs ON (sgp.SchemaGroupID = sgs.SchemaGroupID)
		JOIN tbl_Session s ON (sgs.SessionID = s.SessionID)
		WHERE s.SessionID = @SessionID
		-- LogDateTime
		IF @LogDateTime IS NULL
			SELECT @LogDateTime = GetDate()
		-- CategoryID = 1 "INFORMATION"
		-- In this scenario, we need to check for a couple of different things before moving
		-- any further:
		--		1. Is a new process starting?
		--		2. Is an existing process finishing?
		--		3. Is a process restarting that is already running?
		--		4. Is a process restarting that has already run
		IF @CategoryID = 1
			BEGIN
				-- 1. A new process is starting.
				IF @Log = 'STARTED'
					BEGIN 
						-- Check to see if the process is already running or started.  If a record
						-- is returned, mark the existing process appropriately.
						DECLARE @ExistingProcessStatusID int
						SELECT @SessionGroupProcessStatusID = SessionGroupProcessStatusID, @ExistingProcessStatusID = sgps.StatusID
						FROM tbl_SessionGroupProcessStatus sgps
						JOIN tbl_SchemaGroupProcess sgp ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID AND sgp.ProcessID = @ProcessID)
						WHERE sgps.SessionID = @SessionID
						AND (sgps.StatusID <> 1)
						AND sgps.Skip = 0
						 
						IF @@ROWCOUNT > 0
							BEGIN
								-- 3. A process is restarting that is already running.
								-- Existing process is in progress.  Mark the existing process
								-- as "HALTED" and create a new status record for the restarted
								-- process.
								IF (@ExistingProcessStatusID = 2 Or @ExistingProcessStatusID = 4)
									BEGIN
										EXEC sp_UpdateSessionGroupProcessStatus @SessionGroupProcessStatusID, 6
										EXEC sp_InsertRestartedProcess @SessionID, @SessionGroupProcessStatusID, @LogDateTime
										SELECT @SessionGroupProcessStatusID = @@Identity
									END
								-- Existing process finished normally or failed, but has been started again.
								ELSE IF (@ExistingProcessStatusID = 5  Or @ExistingProcessStatusID = 3)
									BEGIN
										EXEC sp_InsertRestartedProcess @SessionID, @SessionGroupProcessStatusID, @LogDateTime
										SELECT @SessionGroupProcessStatusID = @@Identity
									END
							END 
						
						ELSE
							BEGIN
								-- Since there are no existing processes of this type already running,
								-- we can simply mark the process as "IN PROGRESS".
								EXEC sp_UpdateSessionGroupProcessStatusAsStarted @SessionGroupProcessStatusID, 2, @LogDateTime
							END 
						-- Regardless, we need to mark the Group that this process belongs to as
						-- "IN PROGRESS" for reporting purposes.	
						EXEC sp_UpdateSessionGroupStatusAsStarted @SessionGroupStatusID, 2, @LogDateTime
					END
				
				-- 2. An existing process is finishing.
				IF @Log = 'FINISHED'	
					BEGIN
						-- First, mark the process as finsihed.
						EXEC sp_UpdateSessionGroupProcessStatusAsFinished @SessionGroupProcessStatusID, 5, @LogDateTime
						
						-- Now, check to see if this is the last process to be completed in this Group. 
						-- If it is, mark the Group as completed also.
						SELECT 1
						FROM tbl_SessionGroupProcessStatus sgps
						JOIN tbl_SchemaGroupProcess sgp ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID AND sgp.SchemaGroupID = @SchemaGroupID AND (sgps.StatusID = 1 OR sgps.StatusID = 7 OR sgps.StatusID = 2))
						WHERE sgps.SessionID = @SessionID
						AND sgps.Skip = 0
						 
						IF @@ROWCOUNT = 0
							BEGIN
								EXEC sp_UpdateSessionGroupStatusAsFinished @SessionGroupStatusID, 5, @LogDateTime
								
								-- Finally, check to see if this is the last Group to be completed in this session.
								-- If it is, mark the session as completed also.
								SELECT 1
								FROM tbl_SessionGroupStatus sgs
								WHERE sgs.SessionID = @SessionID
								AND (sgs.StatusID = 1 OR sgs.StatusID = 7 OR sgs.StatusID = 2)
								AND sgs.Skip = 0
								
								IF @@ROWCOUNT = 0
									EXEC sp_UpdateSessionStatusAsFinished @SessionID, 5, @LogDateTime
							END
					END 
			END
		
		IF @CategoryID = 2
			BEGIN
				-- Mark the session as having at least 1 warning.
				EXEC sp_UpdateSessionStatusAsWarning @SessionID
				-- Mark the Group as having at least 1 warning.
				EXEC sp_UpdateSessionGroupStatusAsWarning @SessionGroupStatusID
				-- Mark the process as having at least 1 warning.
				EXEC sp_UpdateSessionGroupProcessStatusAsWarning @SessionGroupProcessStatusID
			END	
		
		IF @CategoryID = 3
			BEGIN
				-- Mark the session as having at least 1 error.
				EXEC sp_UpdateSessionStatusAsError @SessionID
				-- Mark the Group as having at least 1 error.
				EXEC sp_UpdateSessionGroupStatusAsError @SessionGroupStatusID
				-- Mark the process as having at least 1 error.
				EXEC sp_UpdateSessionGroupProcessStatusAsError @SessionGroupProcessStatusID
			END
		
		IF @CategoryID = 5
			BEGIN
				UPDATE tbl_Session
				SET SeComment = @Log
				WHERE SessionID = @SessionID
			END
		
		INSERT
		INTO tbl_Log (SessionID, ProcessID, CategoryID, LoDateTimeStamp, LoDateTimeLogged, LoLog, LoMachineName, SessionGroupProcessStatusID, SessionGroupStatusID)
		VALUES (@SessionID, @ProcessID, @CategoryID, @LogDateTime, GetDate(), @Log, @MachineName, @SessionGroupProcessStatusID, @SessionGroupStatusID)
		
		IF @@ROWCOUNT = 0
			BEGIN
				RAISERROR ('A log entry was not created.', 16, 1, @Revision)
				ROLLBACK TRANSACTION
			END
	COMMIT TRANSACTION
	
	RETURN 
GO
