USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_SessionGroupTopicParentBranches]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SessionGroupTopicParentBranches](
	[SessionGroupTopicParentBranchesID] [int] IDENTITY(1,1) NOT NULL,
	[SessionGroupID] [int] NOT NULL,
	[TopicBranch] [varchar](255) NULL,
	[ParentBranch] [varchar](255) NULL,
 CONSTRAINT [PK_SessionGroupTopicParentBranchesID] PRIMARY KEY CLUSTERED 
(
	[SessionGroupTopicParentBranchesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
