USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetLocaleSets]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[up_GetLocaleSets]
AS
	SET NOCOUNT ON
	
	SELECT *
	  FROM tlkp_LocaleSet WITH (NOLOCK)
  ORDER BY LoOrder
	
	RETURN 



GO
