USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteUser]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteUser]
(
	@UserID varchar(50)
)
AS
	SET NOCOUNT ON
	
	DELETE
	  FROM tbl_UserRole
	 WHERE UserID = @UserID
	 
	DELETE 
	  FROM tbl_User
	 WHERE UserID = @UserID	 
	RETURN 
GO
