USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetRealSignedBuilds]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetRealSignedBuilds]
	@CommaSeparatedPathList varchar(8000) = Null,
	@StartRevision varchar(100),
	@EndRevision varchar(100)
AS
BEGIN
	SET NOCOUNT ON;

WITH LabIDs AS
(
	SELECT labs.LabID as LabID, labs.LaSourceControlPath as [Path]
	FROM Utils.String.CsvToStr(@CommaSeparatedPathList) paths
	JOIN tbl_Lab labs WITH (NOLOCK)
		ON labs.LaSourceControlPath = paths.Item
)
	SELECT s.SeRevision as BuildRevision, s.LabID LabID, labids.[Path]
	FROM tbl_Session s WITH (NOLOCK)
	JOIN LabIDs labids
		ON s.LabID = labids.LabID
	WHERE s.SeRevision >= @StartRevision
		AND s.SeRevision <= @EndRevision
		AND s.SeRealSigned = 1
	GROUP BY s.LabID, LabIDs.[Path], s.SeRevision
END
GO
