USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSources]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetSources]
(
	@IncludeObsoleteData bit = 1
)
AS
	SET NOCOUNT ON
	
	SELECT  s.*
    FROM    tlkp_Source s WITH (NOLOCK)
	WHERE   SoActive = 1
	AND		(SoObsolete = 0 OR SoObsolete = @IncludeObsoleteData)
    ORDER BY SoOrder ASC, SoName ASC	

	SELECT  s.SourceID, ss.*
    FROM    tlkp_Source s WITH (NOLOCK)
    JOIN    tbl_SourceSubSource sss WITH (NOLOCK) 
            ON (s.SourceID = sss.SourceID)	  	  
    JOIN    tlkp_SubSource ss WITH (NOLOCK) 
            ON (sss.SubSourceID = ss.SubSourceID)	  
	WHERE   s.SoActive = 1
	AND		(s.SoObsolete = 0 OR s.SoObsolete = @IncludeObsoleteData)
    AND     ss.SuActive = 1
    ORDER BY s.SourceID, ss.SuOrder ASC, ss.SuName	
	
	RETURN 
GO
