USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_IHAF_GetFixMachines]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_IHAF_GetFixMachines]
(
	@FixID int
)
AS
BEGIN
	/*********************
	DESCRIPTION
		Gets all build machines associated w/a fix
	*********************/

	SELECT SeBuildMachine
	FROM tbl_Session s WITH (NOLOCK)
	INNER JOIN atbl_SessionFix sf on sf.SessionID = s.SessionID	
	WHERE sf.FixID = @FixID

END
GO
