USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_PRCMapping]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PRCMapping](
	[LabID] [int] NOT NULL,
	[LocaleSetID] [int] NOT NULL,
 CONSTRAINT [PK_tbl_PRCMapping] PRIMARY KEY CLUSTERED 
(
	[LabID] ASC,
	[LocaleSetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_PRCMapping]  WITH CHECK ADD  CONSTRAINT [FK_tbl_PRCMapping_tbl_Lab] FOREIGN KEY([LabID])
REFERENCES [dbo].[tbl_Lab] ([LabID])
GO
ALTER TABLE [dbo].[tbl_PRCMapping] CHECK CONSTRAINT [FK_tbl_PRCMapping_tbl_Lab]
GO
ALTER TABLE [dbo].[tbl_PRCMapping]  WITH CHECK ADD  CONSTRAINT [FK_tbl_PRCMapping_tlkp_LocaleSet] FOREIGN KEY([LocaleSetID])
REFERENCES [dbo].[tlkp_LocaleSet] ([LocaleSetID])
GO
ALTER TABLE [dbo].[tbl_PRCMapping] CHECK CONSTRAINT [FK_tbl_PRCMapping_tlkp_LocaleSet]
GO
