USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBugDatabaseDetail]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[sp_GetBugDatabaseDetail]
(
	@BugDatabaseID int
)
AS
	
	SELECT BdName, BdQueryType
	  FROM tlkp_BugDatabase WITH (NOLOCK) 
     WHERE BugDatabaseID = @BugDatabaseID
	
    RETURN 

GO
