USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_ReportBuildTelemetry]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      bradwhit
-- Create date: Dec 10, 2014
-- Description: Stored procedure for extracting
--              build step runtimes from the
--              LabStatus database.
-- =============================================

CREATE PROCEDURE [dbo].[up_ReportBuildTelemetry]
    @StartDate DATETIME
AS
    DECLARE @Phase VARCHAR(50) =  'Build';
    DECLARE @Dev15ProcessName NVARCHAR(256) = 'Release vs_enterprise,enu,x86,ret,dvd';
    DECLARE @Dev14VsuProcessName NVARCHAR(256) = 'Release vsupdate_kb3022398,enu,x86,ret,dvd';

    DECLARE @Builds TABLE 
    (
        SessionID INT NOT NULL,
        Architecture VARCHAR(50) NOT NULL,
        BuildNumber VARCHAR(100) NOT NULL,
        Branch VARCHAR(2000) NOT NULL,
        Flavor VARCHAR(50) NOT NULL
    );

    INSERT INTO @Builds 
    SELECT ses.SessionID AS SessionID
    , arc.TaName AS Architecture
    , ses.SeRevision AS BuildNumber
    , lab.LaSourceControlPath AS Branch
    , fla.FlName AS Flavor
    FROM tbl_Session AS ses WITH (NOLOCK)
        INNER JOIN tbl_Lab AS lab WITH (NOLOCK) ON ses.LabID = lab.LabID
        INNER JOIN tlkp_TargetArchitecture AS arc WITH (NOLOCK) ON ses.TargetArchitectureID = arc.TargetArchitectureID
        INNER JOIN tlkp_Flavor AS fla WITH (NOLOCK) ON ses.FlavorID = fla.FlavorID
    WHERE ses.SeFinished IS NOT NULL
        AND ses.SeBuildDate >= @StartDate
        AND ses.LocaleSetID = 1 -- Filter on 'ENU'
        AND ses.StatusID = 5 -- Filter on successful builds;

    DECLARE @ProcessSteps TABLE (
        SessionID INT NOT NULL,
        ProcessName VARCHAR(100) NOT NULL,
        GroupName VARCHAR(100) NULL,
        ProcessStarted DATETIME NOT NULL,
        ProcessComplete DATETIME NOT NULL,
        BuildNumber VARCHAR(100) NOT NULL,
        Branch VARCHAR(2000) NOT NULL
    );

    INSERT INTO @ProcessSteps
    SELECT b.SessionID AS SessionID
    , sgp.PrName AS ProcessName
    , sg.GrName AS GroupName
    , MIN(sgps.ProcessStarted) AS ProcessStarted
    , MAX(sgps.ProcessFinished) AS ProcessComplete
    , b.BuildNumber AS BuildNumber
    , b.Branch AS Branch
    FROM @Builds AS b
        INNER JOIN tbl_SessionGroupProcessStatus AS sgps WITH (NOLOCK) ON sgps.SessionID = b.SessionID
        INNER JOIN tbl_SchemaGroupProcess AS sgp WITH (NOLOCK) ON sgp.SchemaGroupProcessID = sgps.SchemaGroupProcessID
        INNER JOIN tbl_SchemaGroup AS sg WITH (NOLOCK) ON sg.SchemaGroupID = sgp.SchemaGroupID
    WHERE
        sgps.ProcessFinished IS NOT NULL
        AND sgps.ProcessStarted IS NOT NULL
    GROUP BY b.SessionID, sgp.PrName, sg.GrName, b.BuildNumber, b.Branch;

    --Create an 'uber' step for the build
    INSERT INTO @ProcessSteps
    SELECT SessionID
    , @Phase AS ProcessName
    , @Phase AS GroupName
    , ProcessStarted
    , (SELECT ProcessComplete FROM @ProcessSteps p1 
       WHERE p1.BuildNumber=p.BuildNumber AND p1.SessionID=p.SessionID AND p1.Branch=p.Branch
       AND p1.ProcessName IN (@Dev15ProcessName, @Dev14VsuProcessName))
    , BuildNumber
    , Branch
    FROM @ProcessSteps p WHERE ProcessName = 'Sync Source Tree'
     AND EXISTS (SELECT ProcessComplete FROM @ProcessSteps p1 
       WHERE p1.BuildNumber=p.BuildNumber AND p1.SessionID=p.SessionID AND p1.Branch=p.Branch
       AND p1.ProcessName IN (@Dev15ProcessName, @Dev14VsuProcessName))

    SELECT @Phase AS Phase
    , steps.ProcessName AS Step
    , steps.GroupName AS EventType
    , b.Architecture AS Architecture
    , b.Branch AS BranchName
    , b.BuildNumber AS BuildNumber
    , b.Flavor AS Flavor
    , MIN(steps.ProcessStarted) AS StartTime
    , MAX(steps.ProcessComplete) AS EndTime
    FROM @Builds AS b
        INNER JOIN @ProcessSteps AS steps ON steps.SessionID = b.SessionID
    GROUP BY steps.ProcessName, steps.GroupName, b.Architecture, b.Branch, b.BuildNumber, b.Flavor;
RETURN 0
GO
