USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddIssueTicket]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddIssueTicket] 
(
	@IssueID int, 
	@TicketNumber int,
	@TicketSystemId int,
	@RetValue int output
)
AS
	SET NOCOUNT ON
	SET @RetValue = 1
	IF (@TicketSystemId = 1 AND EXISTS (SELECT [TicketID] FROM [Techease].[dbo].[tbl_Ticket] WHERE [TicketID] = @TicketNumber)) OR (@TicketSystemId = 2)
	BEGIN
		INSERT
			INTO tbl_IssueTicket (IssueID, TicketNumber, TicketSystemId)
		VALUES (@IssueID, @TicketNumber, @TicketSystemId)
	END
	ELSE
	BEGIN
		SET @RetValue = 0
	END
GO
