USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_SessionSKUData]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SessionSKUData](
	[SessionSKUDataID] [int] IDENTITY(1,1) NOT NULL,
	[SessionID] [int] NOT NULL,
	[SKUDataXML] [text] NOT NULL,
	[DateAdded] [datetime] NOT NULL,
	[IsProcessed] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_SessionSKUData] PRIMARY KEY CLUSTERED 
(
	[SessionSKUDataID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_SessionSKUData] ADD  CONSTRAINT [DF_tbl_SessionSKUData_DateAdded]  DEFAULT (getdate()) FOR [DateAdded]
GO
ALTER TABLE [dbo].[tbl_SessionSKUData] ADD  CONSTRAINT [DF_tbl_SessionSKUData_IsProcessed]  DEFAULT ((0)) FOR [IsProcessed]
GO
ALTER TABLE [dbo].[tbl_SessionSKUData]  WITH CHECK ADD  CONSTRAINT [FK_tbl_SessionSKUData_tbl_Session] FOREIGN KEY([SessionID])
REFERENCES [dbo].[tbl_Session] ([SessionID])
GO
ALTER TABLE [dbo].[tbl_SessionSKUData] CHECK CONSTRAINT [FK_tbl_SessionSKUData_tbl_Session]
GO
