USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_CloseIssueAsDuplicate]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CloseIssueAsDuplicate]
(
	@IssueID int,
	@DupeIssueID int
)
AS
	SET NOCOUNT ON
	
	BEGIN TRANSACTION	
	
		-- Close the issue.
		UPDATE tbl_Issue WITH (ROWLOCK)
		   SET IsClosed = 1,
			   IsCausedBy = NULL,
			   IsCausedByLead = NULL,
		       IsPendingOwner = NULL,
			   IsPendingSince = NULL,
			   IsAssignedBy = NULL,
			   SeverityID = 1,
		       IsAutoOpenIssues = 1,
		       IsDuplicate = 1,
		       IsDuplicateIssue = @DupeIssueID
		 WHERE IssueID = @IssueID

		DECLARE @SourceExists int
		SELECT @SourceExists = 1
		  FROM tbl_IssueSource
		 WHERE IssueID = @IssueID

		IF @SourceExists IS NOT NULL
			-- Update the issue source.
			UPDATE tbl_IssueSource
			   SET SourceID = 11 -- Information
			 WHERE IssueID = @IssueID
		ELSE
			-- Insert the issue source value.
			INSERT 
			  INTO tbl_IssueSource (IssueID, SourceID)
		    VALUES (@IssueID, 11)
		 
		-- Delete any sub source value.
		DELETE 
		  FROM tbl_IssueSubSource
		 WHERE IssueID = @IssueID
		 
		-- Check if the date/time closed should be updated.
		DECLARE @DateTimeClosed datetime
		SELECT @DateTimeClosed = (SELECT IsDateClosed
								    FROM tbl_Issue
								   WHERE IssueID = @IssueID)
		IF @DateTimeClosed IS NULL
		UPDATE tbl_Issue WITH (ROWLOCK)
		   SET IsDateClosed = GetDate()
		 WHERE IssueID = @IssueID
		
		-- Revoke access to the build machine if necessary.
		DECLARE @Machine varchar(50)
		SELECT @Machine = IsMachineName 
		  FROM tbl_Issue WITH (NOLOCK)
		 WHERE IssueID = @IssueID
		 
		DECLARE @AssignedTo varchar(30)
		SELECT @AssignedTo = IsAssignedTo
		  FROM tbl_Issue WITH (NOLOCK)
		 WHERE IssueID = @IssueID
		 
		IF @Machine IS NOT NULL AND @AssignedTo IS NOT NULL
			EXEC sp_RevokeMachineAccess @IssueID, @Machine, @AssignedTo

		IF @@ERROR <> 0
			BEGIN
				RAISERROR ('Error closing the issue as a dupe.', 16, 1)
				GOTO on_err
			END

		-- Move any builds associated with @IssueID to @DupeIssueID
		INSERT 
		  INTO tbl_SessionIssue
		SELECT SessionID, @DupeIssueID
		  FROM tbl_SessionIssue WITH (NOLOCK)
		 WHERE IssueID = @IssueID
		   AND SessionID NOT IN (SELECT SessionID
								   FROM tbl_SessionIssue
							      WHERE IssueID = @DupeIssueID)
		
		-- Move any errors associated with @IssueID to @DupeIssueID
		INSERT
		  INTO tbl_IssueLogError
	    SELECT @DupeIssueID, LogEntryID
	      FROM tbl_IssueLogError WITH (NOLOCK)
	     WHERE IssueID = @IssueID
	       AND LogEntryID NOT IN (SELECT LogEntryID 
									FROM tbl_IssueLogError
								   WHERE IssueID = @DupeIssueID)

	COMMIT TRANSACTION
	RETURN 
	
	on_err:
	ROLLBACK TRANSACTION
	RETURN 


GO
