USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessionChangeLog]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetSessionChangeLog]
	(
		@SessionID int
	)

AS
	SET NOCOUNT ON

    SELECT  *	
    FROM    tbl_SessionLog
    WHERE   sessionID = @SessionID
    ORDER BY LoDateTime DESC
	
RETURN 

GO
