USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_TruncateInfoLogs]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_TruncateInfoLogs]
AS
BEGIN
	Set Nocount on

	Declare @LastDate datetime = Cast(Convert(varchar(10),GetDate(),101) as datetime) - 60 -- 60 days back

	--DO NOT REMOVE THE FOLLOWING STATEMENT
	Select @LastDate
	
	While @@ROWCOUNT > 0
	BEGIN

		  Delete Top(10000) 
		  From tbl_Log
		  Where CategoryID In (1,2,3,4,5) --INFO, COMMENT
					  And LoDateTimeStamp < @LastDate

	END
END
GO
