USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionWarnings]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSessionWarnings]
(
	@SessionID int
)
AS
	SET NOCOUNT ON
	
	SELECT l.*, p.PrName, c.CaName
	  FROM tbl_Log l WITH (NOLOCK)
	  JOIN tbl_SessionGroupProcessStatus sgps WITH (NOLOCK) ON (l.SessionGroupProcessStatusID = sgps.SessionGroupProcessStatusID)
	  JOIN tbl_SchemaGroupProcess p WITH (NOLOCK) ON (sgps.SchemaGroupProcessID = p.SchemaGroupProcessID)
	  JOIN tlkp_Category c WITH (NOLOCK) ON (l.CategoryID = c.CategoryID)
	 WHERE l.SessionID = @SessionID
	   AND l.CategoryID = 2	
	RETURN 
GO
