USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLabAdmins]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE procedure [dbo].[sp_GetLabAdmins]
(
	@LabID int
)
as
/*	Modified by	Date		Change
	***********************************************************
	a-karthp		08/24/2005	Created the sproc
*/
	exec LabDropManagement..sp_GetLabAdminsByLabID2 @LabID
GO
