USE [LabStatus]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_IsRevisionNumeric]    Script Date: 1/28/2026 12:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[fn_IsRevisionNumeric] 
(
	-- Add the parameters for the function here
	@Revision varchar(30)
)
RETURNS bit
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Result bit

	-- Add the T-SQL statements to compute the return value here
	SELECT @Result = CASE WHEN ISNUMERIC(REPLACE(@Revision,'.','')) = 1 THEN 1 ELSE 0 END

	-- Return the result of the function
	RETURN @Result

END
GO
