USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSessionStatusAsFinished]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateSessionStatusAsFinished]
	(
		@SessionID int,
		@StatusID int,
		@FinishDateTime datetime
	)
AS
	SET NOCOUNT ON
	
	UPDATE tbl_Session WITH (ROWLOCK)
	   SET StatusID = @StatusID,
	       SeFinished = @FinishDateTime,
	       SeComment = NULL,
		   SeStalledShort = 0,
		   SeStalledLong = 0
	 WHERE SessionID = @SessionID
	
RETURN 
GO
