USE [LabStatus]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetSessionGroupForSession]    Script Date: 1/28/2026 12:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetSessionGroupForSession]
(
	@SessionID int
)
RETURNS int
AS
BEGIN
	/**************************
	DESCRIPTION
		Gets the session group ID of the given session ID
	***************************/

	DECLARE @SessionGroupID int

	SELECT @SessionGroupID=sg.SessionGroupID
    FROM tbl_Session s WITH (NOLOCK)
    JOIN tbl_SessionGroup sg WITH (NOLOCK) 
	ON (sg.LabId = s.LabId 
		AND sg.Revision = s.SeRevision 
		AND sg.LocaleSetID = s.LocaleSetID)
    WHERE s.SessionID = @SessionID
			
	RETURN @SessionGroupID
END
GO
