USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetTicketSystems]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetTicketSystems]
AS
	SET NOCOUNT ON
	
	SELECT TicketSystemId, TSName, TSViewUrl, TSServerUrl, TSEnabled
	  FROM tlkp_TicketSystem WITH (NOLOCK) 
	
	RETURN
GO
