USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBuildHistoryValidation]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBuildHistoryValidation]
(
    @baseSessionId int,
    @futureDepth int,
    @pastDepth int
)
AS
BEGIN
/*
    This sproc returns information on past and future builds of the given base session.
    @futureDepth determines how many future sessions to retrieve.
    @pastDepth determines how many previous sessions to retrieve.
    This is used by the BuildStatus details page to display the previous and next build for the current build.
*/
DECLARE @ProductId int
DECLARE @MilestoneId int
DECLARE @LabId int
DECLARE @FlavorId int
DECLARE @TargetArchitectureId int
DECLARE @LocaleSetID int
DECLARE @StartDate datetime
DECLARE @ValidationBuild bit
DECLARE @ParentBranch varchar(255)

DECLARE @BaseSessionGroupID int

-- Get the sessionGroupId of @baseSessionId
SELECT @BaseSessionGroupID = dbo.fn_GetSessionGroupForSession(@baseSessionId)

-- Get the session information for @baseSessionId, including the topic branch name from tbl_SessionGroupParentTopicBranches
SELECT  @StartDate = se.SeStarted, 
        @ProductId = se.ProductId, 
        @MilestoneId = se.MilestoneId, 
        @LabID = se.LabID, 
        @FlavorId = se.FlavorId, 
        @TargetArchitectureId = se.TargetArchitectureId, 
        @LocaleSetID = se.LocaleSetID,
        @ValidationBuild = se.SeValidationBuild,
        @ParentBranch = sgtpb.ParentBranch
FROM tbl_Session se WITH (NOLOCK)
LEFT JOIN tbl_SessionGroupTopicParentBranches sgtpb WITH (NOLOCK)
ON @BaseSessionGroupID = sgtpb.SessionGroupID
WHERE se.SessionID = @baseSessionID

IF @ValidationBuild = 1
BEGIN
    -- Validation build scenario.  
    -- Get the session group id of each build with the same parent branch.
    SELECT s.SessionGroupID INTO #temp
    FROM tbl_SessionGroupTopicParentBranches s
    WHERE s.ParentBranch = @ParentBranch
    
    -- Get the associated session informations for these builds.
    SELECT se.SessionId, se.SeRevision, se.SeStarted INTO #temp2
    FROM tbl_Session se WITH (NOLOCK)
    JOIN #temp sgtpb WITH (NOLOCK)
    ON dbo.fn_GetSessionGroupForSession(se.SessionID) = sgtpb.SessionGroupID
    AND @MilestoneId = se.MilestoneId 
    AND @LabID = se.LabID 
    AND @FlavorId = se.FlavorId 
    AND @TargetArchitectureId = se.TargetArchitectureId 
    AND @LocaleSetID = se.LocaleSetID 
    AND @ValidationBuild = se.SeValidationBuild 
    ORDER BY se.SeStarted ASC

    -- Find the next build (if any).
    SET ROWCOUNT @futureDepth
    SELECT se.SessionId, se.SeRevision, se.SeStarted
    FROM #temp2 se WITH (NOLOCK)
    WHERE se.SeStarted > @StartDate 
    ORDER BY se.SeStarted ASC

    --Find the previous build (if any).
    SET ROWCOUNT @pastDepth
    SELECT  se.SessionId, se.SeRevision, se.SeStarted
    FROM #temp2 se WITH (NOLOCK)
    WHERE se.SeStarted < @StartDate 
    ORDER BY se.SeStarted DESC
    
    DROP TABLE #temp
    DROP TABLE #temp2
END
ELSE
BEGIN
    -- Official build scenario.
    -- Perform two queries against tbl_Session to get the future/previous builds.
    SET ROWCOUNT @futureDepth
    SELECT se.SessionId, se.SeRevision, se.SeStarted
    FROM tbl_Session se WITH (NOLOCK)
    WHERE se.SeStarted > @StartDate 
    AND @MilestoneId = se.MilestoneId 
    AND @LabID = se.LabID 
    AND @FlavorId = se.FlavorId 
    AND @TargetArchitectureId = se.TargetArchitectureId 
    AND @LocaleSetID = se.LocaleSetID 
    AND @ValidationBuild = se.SeValidationBuild
    ORDER BY se.SeStarted ASC

    SET ROWCOUNT @pastDepth
    SELECT se.SessionId, se.SeRevision, se.SeStarted
    FROM tbl_Session se WITH (NOLOCK)
    WHERE se.SeStarted < @StartDate 
    AND @MilestoneId = se.MilestoneId 
    AND @LabID = se.LabID 
    AND @FlavorId = se.FlavorId 
    AND @TargetArchitectureId = se.TargetArchitectureId 
    AND @LocaleSetID = se.LocaleSetID 
    AND @ValidationBuild = se.SeValidationBuild 
    ORDER BY se.SeStarted DESC
END

SET ROWCOUNT 0
END
GO
