USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_FixDefSourceCode]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_FixDefSourceCode](
	[FixDefSourceCodeID] [int] IDENTITY(1,1) NOT NULL,
	[SourceCodeFixCategoryID] [int] NOT NULL,
 CONSTRAINT [PK_tbl_FixDefSourceCode] PRIMARY KEY CLUSTERED 
(
	[FixDefSourceCodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
