USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_stats_GetDataDateRange]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_stats_GetDataDateRange]
AS
BEGIN
	SELECT MIN(SeStarted) [Min], MAX(SeFinished) [Max]
	FROM tbl_Session
END
GO
