USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetIssuesByUser_v3]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[sp_GetIssuesByUser_v3]
	(
		@From datetime,
		@To datetime,
		@SourceIDs varchar(2000),
		@Labs varchar(2000),
		@CostCenter int,
		@SeverityIDs varchar(255) = '1,2',
		@CausedBy varchar(20),
		@OrgID int
	)
AS
	SET NOCOUNT ON

	IF @SeverityIDs = '0'
		SET @SeverityIDs = '1,2'
	
	IF @SourceIDs = '0'
		BEGIN
			SELECT @SourceIDs = COALESCE(@SourceIDs + ', ','') + CONVERT(varchar(4),SourceID)
			  FROM tlkp_Source WITH (NOLOCK)
			 WHERE SourceID NOT IN (11,2)
		END
	
	-- Create the temp table to hold the issue data.
	CREATE TABLE #Issues (
		[IssueID] [int] NULL,
		[IsTitle] [varchar] (255) ,
		[IsAssignedTo] [varchar] (50) ,
		[IsPendingOwner] [varchar] (50),
		[IsPendingSince] [datetime] NULL,
		[IsAssignedBy] [varchar] (50),
		[IsDateCreated] [datetime] NULL,
		[IsDateChanged] [datetime] NULL,
		[IsWorkAround] [varchar] (4000),
		[IsNotifyUser] [varchar] (50),
		[IsMachineName] [varchar] (100),
		[IsCausedBy] [varchar] (50),
		[IsCausedByLead] [varchar] (50),
		[IsCostCenter] [varchar] (20),
		[TeamID] [int] NULL,
		[LanguageID] [int] NULL,
		[SeverityID] [int] NULL,
		[IsClosed] [bit] NULL,
		[IsDeleted] [bit] NULL,
		[IsDateClosed] [datetime] NULL,
		[IsLockDown] [bit] NULL,
		[IsLockDownSet] [datetime] NULL,
		[IsLockDownImmediate] [bit] NULL,
		[IsLockDownGracePeriod] [int] NULL,
		[IsLockDownMailSent] [bit] NULL,
		[IsFollowUp] [bit] NULL,
		[IsMachineAccessOnly] [bit] NULL,
		[IsOtherSubSource] [varchar] (1000),
		[IsLastHandOffReminderSent] [datetime] NULL,
		[IsLastReminderSent] [datetime] NULL,
		[IsAutoOpened] [bit] NOT NULL,
		[IsAutoOpenIssues] [bit] NOT NULL,
		[IsDuplicate] [bit] NOT NULL,
		[IsDuplicateIssue] [int] NULL,
		[OrgID] [int] NULL,
		[Language] [varchar] (50), 
		[SeName] [varchar] (50), 
		[SourceID] [int] NULL,
		[Source] [varchar] (255),
		[SubSourceID] [int] NULL,
		[SubSource] [varchar] (255)
		)
	
			INSERT
			  INTO #Issues
			SELECT DISTINCT i.*, l.LaName As [Language], sv.SeName, src.SourceID, src.SoName As Source, ss.SubSourceID, ss.SuName As SubSource
			  FROM tbl_Issue i WITH (NOLOCK)
			  JOIN tbl_SessionIssue iss WITH (NOLOCK) ON (i.IssueID = iss.IssueID)
		 LEFT JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (i.IssueID = isrc.IssueID)
		 LEFT JOIN tlkp_Source src WITH (NOLOCK) ON (isrc.SourceID = src.SourceID)
		 LEFT JOIN tbl_IssueSubSource isss WITH (NOLOCK) ON (i.IssueID = isss.IssueID)
		 LEFT JOIN tlkp_SubSource ss WITH (NOLOCK) ON (isss.SubSourceID = ss.SubSourceID)
	  	 LEFT JOIN tbl_IssueLog lg WITH (NOLOCK) ON (i.IssueID = lg.IssueID)
		  	  JOIN tlkp_Severity sv WITH (NOLOCK) ON (i.SeverityID = sv.SeverityID)
			  JOIN tlkp_Language l WITH (NOLOCK) ON (i.LanguageID = l.LanguageID)
			  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
			  JOIN tbl_Lab lab WITH (NOLOCK) ON (s.LabID = lab.LabID)
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (lab.LabID = labs.ItemID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) svr ON (i.SeverityID = svr.ItemID)
			  JOIN fn_ParseCommaDelimitedList(@SourceIDs) srcs ON (isrc.SourceID = srcs.ItemID)
			 WHERE i.IsDateClosed >= @From
			   AND i.IsDateClosed <= @To
			   AND (i.IsCausedBy = @CausedBy OR @CausedBy = '')
			   AND (i.IsCostCenter = @CostCenter OR @CostCenter = 0)
   			   AND i.IsDeleted = 0
			   AND lab.VBL = 1
			   AND s.SeRevision NOT LIKE '%_DEL'
			   AND s.FlavorID NOT IN (5) -- No DAT builds.
			   AND lab.OrgID = @OrgID

    SELECT i.issueid
    INTO #NonTestBuildIssue
    FROM #Issues i
    JOIN tbl_SessionIssue si on si.issueid = i.issueid
    JOIN tbl_Session s on s.sessionid = si.sessionid
    WHERE s.seTestBuild = 0

	--Adding DISTINCT (arturo:r 4/17/2006)
	SELECT DISTINCT i.*, CASE WHEN ntbi.issueid IS NULL THEN 1 ELSE 0 END AS TestBuild
	  FROM #Issues i
 LEFT JOIN #NonTestBuildIssue ntbi ON ntbi.issueid = i.issueid


	-- Logs
	SELECT *
	  FROM tbl_IssueLog WITH (NOLOCK)
	 WHERE IssueID IN (SELECT IssueID FROM #Issues)
  ORDER BY LoDateCreated DESC

	-- Associated sessions.
	SELECT i.IssueID, LaName, s.SessionID, SeBuildMachine, SeRevision, FlName, TaName, LoName, dbo.fn_GetSessionFixStatus(i.IssueID, s.SessionID) SessionFixStatus, s.seTestBuild
	  FROM #Issues i
	  JOIN tbl_SessionIssue iss WITH (NOLOCK) ON (i.IssueID = iss.IssueID)
	  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
	  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
	  JOIN tlkp_Flavor f WITH (NOLOCK) ON (s.FlavorID = f.FlavorID)
	  JOIN tlkp_TargetArchitecture ta WITH (NOLOCK) ON (s.TargetArchitectureID = ta.TargetArchitectureID)
	  JOIN tlkp_LocaleSet ls WITH (NOLOCK) ON (s.LocaleSetID = ls.LocaleSetID)
	 WHERE s.SeRevision NOT LIKE '%_DEL%'
  ORDER BY LaName

	-- Bugs.
	SELECT ib.*, BdName As [Database], bd.BdViewUrl
	  FROM tbl_IssueBug ib WITH (NOLOCK)
	  JOIN #Issues i ON (ib.IssueID = i.IssueID)
	  JOIN tlkp_BugDatabase bd WITH (NOLOCK) ON (ib.BugDatabaseID = bd.BugDatabaseID)
	  
	-- Dependent issues.
	SELECT i.IssueID, iss.IssueID As DependentIssueID, iss.IsTitle, iss.IsClosed
	  FROM tbl_IssueDependency id WITH (NOLOCK)
	  JOIN #Issues i ON (id.IssueID = i.IssueID)
	  JOIN tbl_Issue iss WITH (NOLOCK) ON (id.DependentIssueID = iss.IssueID)

	-- Orgs
	SELECT *
	  FROM tbl_Org WITH (NOLOCK)
	 WHERE OrgID = @OrgID
	  
	DROP TABLE #Issues


	RETURN 












GO
