USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteGroupFromSchema]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteGroupFromSchema]
(
	@SchemaGroupID int
)
AS
	SET NOCOUNT ON
	
	DELETE
	  FROM tbl_SchemaGroupProcess
	 WHERE SchemaGroupID = @SchemaGroupID
	
	UPDATE tbl_SchemaGroup
	   SET GrOrder = GrOrder - 1
	 WHERE GrOrder > (SELECT GrOrder
						FROM tbl_SchemaGroup
					   WHERE SchemaGroupID = @SchemaGroupID)
	   AND SchemaID = (SELECT SchemaID
				         FROM tbl_SchemaGroup
					    WHERE SchemaGroupID = @SchemaGroupID)
	
	DELETE 
	  FROM tbl_SchemaGroup
	 WHERE SchemaGroupID = @SchemaGroupID
	
	RETURN 
GO
