USE [LabStatus]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ParseCommaDelimitedList_temp]    Script Date: 1/28/2026 12:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[fn_ParseCommaDelimitedList_temp]
(
	@CommaDelimitedList varchar(max)
)
RETURNS @TableVar TABLE (ItemID int  NOT NULL primary key ) 
AS

BEGIN
	DECLARE @IDListPosition int 
	DECLARE @IDList varchar(max)
	DECLARE @ArrValue varchar(4000) 
	SET @IDList = COALESCE(@CommaDelimitedList, '') 
	IF @IDList <> '' 
	BEGIN 
	-- Add comma to end of list so user doesn't have to 
	SET @IDList = @IDList + ',' 
	-- Loop through the comma demlimted string list 
	WHILE PATINDEX('%,%' , @IDList ) <> 0 
		BEGIN 
			SELECT @IDListPosition = PATINDEX('%,%' , @IDList) 
			SELECT @ArrValue = LEFT(@IDList, @IDListPosition - 1) 
			-- Insert parsed ID into TableVar for "where in select"
			INSERT INTO @TableVar (ItemID) VALUES (CONVERT(int, @ArrValue)) 
			-- Remove processed string 
			SELECT @IDList = STUFF(@IDList, 1, @IDListPosition, '') 
		END 
	END 
	RETURN 
END


GO
