USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_RevokeMachineAccess]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RevokeMachineAccess]
	(
		@IssueID int,
		@Machine varchar(100),
		@UserName varchar(50)
	)
AS
	SET NOCOUNT ON
	
	IF @Machine IS NOT NULL
		INSERT
		INTO tbl_MachineAccess (IssueID, MachineName, UserName, Status)
		VALUES (@IssueID, @Machine, @UserName, 'REVOKED')
	
	RETURN 
GO
