USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProcesses]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetProcesses]
AS
	SET NOCOUNT ON
	
	SELECT ProcessID, PrName, PrShortName
	  FROM tbl_Process WITH (NOLOCK) 
  ORDER BY PrName
	
	RETURN 
GO
