USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_User](
	[UserID] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
