USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_CloneSchemaForNewProduct_BAK]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE     PROCEDURE [dbo].[sp_CloneSchemaForNewProduct_BAK]
(
	@ProductID int,
	@NewProductID int,
	@NewSchemaID int = NULL OUTPUT 
)
AS
	SET NOCOUNT ON


	SELECT @NewSchemaID = MAX(SchemaID) + 1 
	  FROM tbl_Schema
	DECLARE @ActiveSchemaID int
	SELECT @ActiveSchemaID = SchemaID
	  FROM tbl_Product
	 WHERE ProductID = @ProductID
	-- First, insert the new schema.
	INSERT 
	  INTO tbl_Schema (SchemaID, ProductID, ScName)
	SELECT @NewSchemaID, @NewProductID, ScName
	  FROM tbl_Schema 
	 WHERE SchemaID = @ActiveSchemaID
	-- Now, insert the new schema groups.
	INSERT
	  INTO tbl_SchemaGroup
	SELECT @NewSchemaID, GrOrder, GrShortName, GrName, AvgBuildTime
	  FROM tbl_SchemaGroup
     WHERE SchemaID = @ActiveSchemaID
 
	-- Create a temp table of all the old schema groups.
	CREATE TABLE #Groups (OldSchemaGroupID INT PRIMARY KEY, OldSchemaGroupOrder INT, NewSchemaGroupID INT)
	INSERT 
	  INTO #Groups (OldSchemaGroupID, OldSchemaGroupOrder)
	SELECT SchemaGroupID, GrOrder
	  FROM tbl_SchemaGroup
	 WHERE SchemaID = @ActiveSchemaID
	-- Update the temp table now adding the related NEW SchemaGroupIDs.
	UPDATE #Groups
	   SET NewSchemaGroupID = sg.SchemaGroupID
	  FROM tbl_SchemaGroup sg
	  JOIN #Groups g ON (sg.SchemaID = @NewSchemaID AND sg.GrOrder = g.OldSchemaGroupOrder)
	-- Finally, insert the processes with the related new SchemaGroupIDs.
	INSERT 
	  INTO tbl_SchemaGroupProcess (SchemaID, SchemaGroupID, ViewLevelID, PrOrder, AvgBuildTime, RawDrop, PrName, PrShortName, PrDocLink)
	SELECT @NewSchemaID, g.NewSchemaGroupID, sgp.ViewLevelID, sgp.PrOrder, sgp.AvgBuildTime, sgp.RawDrop, sgp.PrName, sgp.PrShortName, sgp.PrDocLink
	  FROM #Groups g
	  JOIN tbl_SchemaGroupProcess sgp ON (g.OldSchemaGroupID = sgp.SchemaGroupID AND sgp.SchemaID = @ActiveSchemaID)
	

	-- Drop the temp table.
	DROP TABLE #Groups
	RETURN 




GO
