USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_UpdateSessionGroupProcess]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[up_UpdateSessionGroupProcess]
	(
		@ProcessID int,
		@StatusID int,
		@Started datetime = null,
		@Finished datetime = null,
		@Skipped bit,
		@IgnoreTiming bit
	)
AS

	SET NOCOUNT ON 
	BEGIN TRANSACTION
	DECLARE @Err varchar(4000)
	
	DECLARE @SessionID int
	SELECT	@SessionID = SessionID
	FROM	tbl_SessionGroupProcessStatus
	WHERE	SessionGroupProcessStatusID = @ProcessID
					
	SET	@Err = 'Update the process status.'
	UPDATE	tbl_SessionGroupProcessStatus
	SET		StatusID = @StatusID,
			ProcessStarted = @Started,
			ProcessFinished = @Finished,
			IgnoreTiming = @IgnoreTiming,
			Skip = @Skipped
	WHERE	SessionGroupProcessStatusID = @ProcessID
	IF @@ERROR <> 0 GOTO on_err		
	 
	 -- If the status is being set to IN PROGRESS, REBUILDING, NOT STARTED, or MARKED FOR REBUILD, mark
	 -- the parent group as IN PROGRESS and delete the datetime finished.
	 IF @StatusID IN (1,2,4,7)
		BEGIN
			SET	@Err = 'Set the parent status to In Progress.'
			UPDATE	tbl_SessionGroupStatus
			SET		StatusID = 2,
					GroupFinished = null
			FROM	tbl_SessionGroupProcessStatus sgps 
			JOIN	tbl_SchemaGroupProcess sgp 
						ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID) 
			JOIN	tbl_SessionGroupStatus sgs 
						ON (sgp.SchemaGroupID = sgs.SchemaGroupID 
						AND sgs.SessionID = sgps.SessionID)
			WHERE	sgps.SessionGroupProcessStatusID = @ProcessID
			IF @@ERROR <> 0 GOTO on_err	
		END

	-- Now, check to see if this is the last process to be completed in this Group. 
	-- If it is, mark the Group as completed also.
	IF @StatusID = 5
		BEGIN
			-- Clear the stalled flag.
			SET @Err = 'Clear the stalled flag.'
			UPDATE	tbl_SessionGroupProcessStatus
			SET		Stalled = 0
			WHERE	SessionGroupProcessStatusID = @ProcessID
			IF @@ERROR <> 0 GOTO on_err	
					
			DECLARE @SchemaGroupID int
			
			SELECT @SchemaGroupID = SchemaGroupID
			  FROM tbl_SchemaGroupProcess sgp WITH (NOLOCK)
			  JOIN tbl_SessionGroupProcessStatus sgps 
					ON (sgp.SchemaGroupProcessID = sgps.SchemaGroupProcessID 
						AND sgps.SessionGroupProcessStatusID = @ProcessID)
			
			SELECT 1
			  FROM tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
			  JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) 
					ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID 
					AND sgp.SchemaGroupID = @SchemaGroupID 
					AND (sgps.StatusID = 1 OR sgps.StatusID = 7 OR sgps.StatusID = 2))
			 WHERE sgps.SessionID = @SessionID
			   AND sgps.Skip = 0
				
			IF @@ROWCOUNT = 0
				BEGIN
					DECLARE @SessionGroupStatusID int
					
					SELECT	@SessionGroupStatusID = sgs.SessionGroupStatusID
					FROM	tbl_SessionGroupProcessStatus sgps 
					JOIN	tbl_SchemaGroupProcess sgp 
								ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID) 
					JOIN	tbl_SessionGroupStatus sgs 
								ON (sgp.SchemaGroupID = sgs.SchemaGroupID 
								AND sgs.SessionID = sgps.SessionID)
					WHERE	sgps.SessionGroupProcessStatusID = @ProcessID

					SET @Err = 'Mark the group as completed.'
					UPDATE	tbl_SessionGroupStatus WITH (ROWLOCK)
					SET		StatusID = 5,
							GroupFinished = @Finished
					WHERE	SessionGroupStatusID = @SessionGroupStatusID
					IF @@ERROR <> 0 GOTO on_err	
				END

			EXEC up_CompleteSessionIfAllGroupsAreComplete @SessionID
		END

	 
	-- Commit the transaction if there are no errors at the end. 
	IF @@ERROR <> 0 
		GOTO on_err
	ELSE 
		GOTO on_success

	on_success:
		COMMIT TRANSACTION
		RETURN 
	
	on_err:
		ROLLBACK TRANSACTION
		SELECT @Err = 'ERROR: up_UpdateSessionGroup - ' + @Err
		RAISERROR (@Err , 16, 1)	
		RETURN	
		
	RETURN 



GO
