USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddIssueToSession]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddIssueToSession]
	(
		@SessionID int,
		@IssueID int
	)
AS
	SET NOCOUNT ON
	SELECT 1
	  FROM atbl_SessionIssue WITH (NOLOCK)
	 WHERE IssueID = @IssueID
	   AND SessionID = @SessionID
	   
	IF @@ROWCOUNT = 0
		INSERT 
		  INTO atbl_SessionIssue (SessionID, IssueID)
		VALUES (@SessionID, @IssueID)
	
	RETURN 

GO
