USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSchemaFullByProduct]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_GetSchemaFullByProduct]
(
	@ProductId int
)
AS
BEGIN
	/************
	DESCRIPTION:
		Returns a 3 table dataset of all information for a given schema
	**************/		

	DECLARE @SchemaId int
	SELECT @SchemaId = SchemaId
	FROM tbl_Product
	WHERE ProductId = @productId
	
	SELECT p.PrShortName, p.PrName, s.*
	FROM tbl_Product p
	INNER JOIN tbl_Schema s on s.SchemaId = p.SchemaId
	WHERE p.ProductId = @productId
	
	SELECT *
	FROM tbl_SchemaGroup
	WHERE SchemaID = @SchemaId
	ORDER BY GrOrder
	
	SELECT * 
	FROM tbl_SchemaGroupProcess
	WHERE SchemaGroupId IN (SELECT SchemaGroupID
				FROM tbl_SchemaGroup
				WHERE SchemaID = @SchemaId)
	ORDER BY PrORder
END


GO
