USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_IssueLog]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_IssueLog](
	[IssueLogID] [int] IDENTITY(1,1) NOT NULL,
	[IssueID] [int] NOT NULL,
	[LoText] [varchar](8000) NOT NULL,
	[LoDateCreated] [datetime] NOT NULL,
	[LoDateChanged] [datetime] NULL,
	[LoCreatedBy] [varchar](32) NOT NULL,
	[LoChangedBy] [varchar](32) NULL,
 CONSTRAINT [PK_tbl_IssueLog] PRIMARY KEY CLUSTERED 
(
	[IssueLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_IssueLog]  WITH CHECK ADD  CONSTRAINT [FK_tbl_IssueLog_tbl_Issue] FOREIGN KEY([IssueID])
REFERENCES [dbo].[tbl_Issue] ([IssueID])
GO
ALTER TABLE [dbo].[tbl_IssueLog] CHECK CONSTRAINT [FK_tbl_IssueLog_tbl_Issue]
GO
