USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddCurrentSlot]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[sp_AddCurrentSlot]
(
	@LabID int,
	@UserAlias varchar(20)
)
as
/*	Modified by	Date		Change
	***********************************************************
	a-karthp		08/24/2005	Created the sproc
	a-karthp		09/19/2005	Existing labs have dropslots as null instead of 0. So added a IsNull call while updating tbl_Lab
*/
	set nocount on 
	
	declare  @LabSlotID int,
		@SlotID int,
		@LabLogID int,
		@ErrMessage varchar(4000)

	select 	@SlotID = isnull(max(SlotID),0) + 1 
	from	LabDropManagement..atbl_LabSlot
	Where 	SlotID <= 20 and 
		LabID = @LabID

	set @LabSlotID = 0

	if(@SlotID <= 20)
	begin
		select	@LabSlotID = max(LabSlotID) + 1
		from	LabDropManagement..atbl_LabSlot

		begin transaction

		set @ErrMessage = 'Inserting a new record into tbl_LabSlot table'
		--Insert a current slot
		insert into LabDropManagement..atbl_LabSlot
		(
			LabSlotID,
			LabID,
			SlotID,
			CurrentLabID
		)
		values
		(
			@LabSlotID,
			@LabID,
			@SlotID,
			@LabID
		)

		if(@@error <> 0) goto on_error

		set @ErrMessage = 'Updating tbl_Lab table'
		-- Update the lab table
		update 	tbl_Lab
		set	LaDropSlots = IsNull(LaDropSlots,0) + 1,
			LaReservedDropSlots = IsNull(LaReservedDropSlots,0) + 1
		where 	LabID = @LabID

		if(@@error <> 0) goto on_error

		set @ErrMessage = 'Inserting a new record into tbl_LabLog table'
		--Insert a log 
		insert into tbl_LabLog (LabID, LlUserAlias)
		values (@LabID, @UserAlias)
	
		set @LabLogID = @@identity

		insert into tbl_LabLogText 
		values(@LabLogID,'A current slot was added')
		
		if(@@error <> 0) goto on_error

		commit transaction
		
	end

	select @LabSlotID	
	return

on_error:
	rollback transaction
	set @ErrMessage = 'ERROR : sp_AddCurrentSlot - ' + @ErrMessage
	raiserror(@ErrMessage, 16, 1)
GO
