USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_SchemaGroup]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SchemaGroup](
	[SchemaGroupID] [int] IDENTITY(1,1) NOT NULL,
	[SchemaID] [int] NOT NULL,
	[GrOrder] [int] NOT NULL,
	[GrShortName] [varchar](10) NULL,
	[GrName] [varchar](800) NULL,
	[AvgBuildTime] [int] NULL,
	[IsTest]  AS ([dbo].[fn_IsTestStepGroup]([GrName])) PERSISTED,
 CONSTRAINT [PK_tbl_SchemaGroup] PRIMARY KEY CLUSTERED 
(
	[SchemaGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_SchemaGroup]  WITH NOCHECK ADD  CONSTRAINT [FK_tbl_SchemaBuild_tbl_Schema] FOREIGN KEY([SchemaID])
REFERENCES [dbo].[tbl_Schema] ([SchemaID])
GO
ALTER TABLE [dbo].[tbl_SchemaGroup] CHECK CONSTRAINT [FK_tbl_SchemaBuild_tbl_Schema]
GO
