USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionGroupDetailsWithTimingAndErrors]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetSessionGroupDetailsWithTimingAndErrors]
	(
		@SessionID int,
		@ViewLevel int
	)
AS
	SET NOCOUNT ON
	
	SELECT DISTINCT sgs.SessionGroupStatusID, sg.SchemaGroupID, sg.GrName As GroupName, sgs.StatusID, st.StName As GroupStatus, st.StColor As StatusColor, sgs.HasErrors, sgs.HasWarnings, l.CategoryID, c.CaName, c.CategoryTypeID, c.CaColor, sgs.GroupStarted, sgs.GroupFinished, sg.GrOrder, sgs.Skip, c.CaOrder
	  FROM tbl_Session s WITH (NOLOCK)
	  JOIN tbl_SessionGroupStatus sgs WITH (NOLOCK) ON (s.SessionID = sgs.SessionID)
	  JOIN tbl_SchemaGroup sg WITH (NOLOCK) ON (sgs.SchemaGroupID = sg.SchemaGroupID)
	  JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sg.SchemaGroupID = sgp.SchemaGroupID)
  LEFT JOIN tbl_Log l WITH (NOLOCK) ON (sgs.SessionGroupStatusID = l.SessionGroupStatusID)
 LEFT JOIN tlkp_Category c WITH (NOLOCK) ON (l.CategoryID = c.CategoryID)
	  JOIN tlkp_Status st WITH (NOLOCK) ON (sgs.StatusID = st.StatusID)
	 WHERE sgs.SessionID = @SessionID
  GROUP BY sgs.SessionGroupStatusID, sg.GrName, sgs.StatusID, st.StName, st.StColor, sgs.HasErrors, sgs.HasWarnings, l.CategoryID, l.LoLog, c.CaName, c.CategoryTypeID, c.CaColor, sgs.GroupStarted, sgs.GroupFinished, sgs.SchemaGroupID, sgs.Skip, sg.SchemaGroupID, sg.GrOrder, l.LogEntryID, c.CaOrder
  ORDER BY sg.GrOrder, c.CaOrder ASC
  
	
	RETURN 

GO
