USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetOrg]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[up_GetOrg]
(
	@OrgID int
)
AS
	SET NOCOUNT ON
	
	SELECT	*
	FROM	LabStatus..tbl_Org
	WHERE	OrgID = @OrgID
	
	RETURN


GO
