USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOrg]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetOrg]
(
	@OrgID int
)
AS
	SET NOCOUNT ON
	
	SELECT *
	  FROM tbl_Org WITH (NOLOCK)	 
     WHERE OrgID = @OrgID
  
	RETURN 
GO
