USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetWeekOfYear]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetWeekOfYear]
	(
		@Date datetime
	)
AS
	SET NOCOUNT ON
	
	SELECT DATEPART(ww, @Date) As WeekOfYear
	
	RETURN 
GO
