USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_Log3_SKUData]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Darren Mart
-- Create date: 5/12/2008
-- Description:	Accepts the raw upload of SKU Property XML from SKUPortalFeeder. This 
--				data will be matched with a BuildStatus session ID, then the XML will 
--				be parsed into properties/property sets on a scheduled interval.
-- =============================================
CREATE PROCEDURE [dbo].[sp_Log3_SKUData] 
	@Revision		nvarchar(50),
	@Lab			nvarchar(50),
	@Parameters		nvarchar(4000),
	@MachineName	nvarchar(50),
	@SKUDataXML		text 

AS

BEGIN

	SET NOCOUNT ON;

	DECLARE		@SessionID			int,
				@ErrorSeverity		int,
				@SessionSKUDataID	int,
				@ErrorMessage		nvarchar(max)

	BEGIN TRY 

		BEGIN TRANSACTION

			-- determine the SessionID from the passed arguments 
			BEGIN TRY
					
				DECLARE @LogDateTime datetime
				SET @LogDateTime = getdate()

				EXEC sp_GetSessionID3 @Revision, @Lab, '', @Parameters, @LogDateTime, @MachineName, @SessionID OUTPUT
				
				-- no session ID should throw an exception
				IF @SessionID IS NULL
					BEGIN 
						RAISERROR('SESSION_ID_ERROR: Session ID returned was NULL.', 16, 1)
					END 	
			END TRY 
		
			BEGIN CATCH 
				SET @ErrorMessage = 'SESSION_ID_ERROR: ' + ERROR_MESSAGE()
				RAISERROR(@ErrorMessage, 16, 1)
			END CATCH 

			INSERT INTO 
				tbl_SessionSKUData (
					SessionID,
					SKUDataXML
				) VALUES (
					@SessionID,
					@SKUDataXML 
				)
			
			SET @SessionSKUDataID = SCOPE_IDENTITY()
		
		COMMIT 
		
		SELECT @SessionSKUDataID

	END TRY

	BEGIN CATCH 

		IF @@TRANCOUNT > 0
			ROLLBACK 

		-- return the error
		SELECT	@ErrorMessage = ERROR_MESSAGE(),
				@ErrorSeverity = ERROR_SEVERITY()

		IF CHARINDEX('SESSION_ID_ERROR', @ErrorMessage) > 0
			BEGIN 
				DECLARE @Error nvarchar(max)
				SET @ErrorSeverity = ERROR_SEVERITY()
				SET @Error = @ErrorMessage + '. Parameters passed: '
				SET @Error = @Error + 'Lab: ' + @Lab + ','
				SET @Error = @Error + 'Revision: ' + @Revision + ','
				SET @Error = @Error + 'Parameters: ' + @Parameters + ','
				SET @Error = @Error + 'MachineName: ' + @MachineName
				SET @ErrorMessage = @Error 
			END 
		
		RAISERROR(@ErrorMessage, @ErrorSeverity, 1)

	END CATCH

END
GO
