USE [LabStatus]
GO
/****** Object:  Table [dbo].[atbl_OrgLocaleSet]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[atbl_OrgLocaleSet](
	[LocaleSetID] [int] NOT NULL,
	[OrgID] [int] NOT NULL,
 CONSTRAINT [PK_atbl_OrgLocaleSet] PRIMARY KEY CLUSTERED 
(
	[LocaleSetID] ASC,
	[OrgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
