USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetVBLLabs]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[sp_GetVBLLabs]
AS
	SET NOCOUNT ON
	
	SELECT LabID, LaName, LaShortName, LaBranch, LaDescription
	  FROM tbl_Lab
	  WITH (NOLOCK)	 
	 WHERE VBL = 1
  ORDER BY LaOrder
	RETURN 

GO
