USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddProcessToSchema]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddProcessToSchema]
	(
		@SchemaGroupID int,
		@PrName varchar(50),
		@PrShortName varchar(10),
		@AvgBuildTime int,
		@RawDrop bit,
		@ViewLevelID int
	)
AS
	SET NOCOUNT ON
	
	-- Get the SchemaID by refrencing the SchemaGroupID.
	DECLARE @SchemaID int
	SELECT @SchemaID = SchemaID
	  FROM tbl_SchemaGroup
	 WHERE SchemaGroupID = @SchemaGroupID	
	DECLARE	@ProcessOrder int
	SELECT @ProcessOrder = (SELECT MAX(PrOrder) + 1 
								FROM tbl_SchemaGroupProcess 
							WHERE SchemaGroupID = @SchemaGroupID)
	IF @ProcessOrder IS NULL
		SELECT @ProcessOrder = 1						
	-- Update all the processes for this group whose order is higher.
	UPDATE tbl_SchemaGroupProcess
	   SET PrOrder = PrOrder + 1
	 WHERE SchemaGroupID = @SchemaGroupID
	   AND PrOrder >= @ProcessOrder
	-- Insert the new Process.
	INSERT
	  INTO tbl_SchemaGroupProcess (SchemaID, SchemaGroupID, PrOrder, PrName, PrShortName, AvgBuildTime, RawDrop, ViewLevelID)
	VALUES (@SchemaID, @SchemaGroupID, @ProcessOrder, @PrName, @PrShortName, @AvgBuildTime, @RawDrop, @ViewLevelID)
	
	RETURN 
GO
