USE [LabStatus]
GO
/****** Object:  Table [dbo].[tlkp_BugDatabase]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tlkp_BugDatabase](
	[BugDatabaseID] [int] NOT NULL,
	[BdShortName] [varchar](30) NULL,
	[BdName] [varchar](50) NULL,
	[BdViewUrl] [nvarchar](max) NULL,
	[BdQueryType] [varchar](30) NULL,
	[BdServerUrl] [nvarchar](250) NULL,
	[BdEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_tlkp_BugDatabase] PRIMARY KEY CLUSTERED 
(
	[BugDatabaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tlkp_BugDatabase] ADD  CONSTRAINT [DF_tlkp_BugDatabase_BdQueryType]  DEFAULT ('PSQ') FOR [BdQueryType]
GO
ALTER TABLE [dbo].[tlkp_BugDatabase] ADD  CONSTRAINT [BdEnabled_Default]  DEFAULT ((0)) FOR [BdEnabled]
GO
