USE [LabStatus]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetOpenIssuesBySession]    Script Date: 1/28/2026 12:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[fn_GetOpenIssuesBySession]
(
	@SessionID int,
	@SeverityID int
) 
RETURNS varchar(2000) AS 
BEGIN 

DECLARE @StringList varchar(2000) 
SELECT	@StringList = COALESCE(@StringList + ',', '') + RTRIM(CONVERT(varchar(20),i.IssueID)) 
FROM	atbl_SessionIssue si WITH (NOLOCK)
JOIN	tbl_Issue i WITH (NOLOCK)
			ON (si.IssueID = i.IssueID)
WHERE	si.SessionID = @SessionID
AND		i.SeverityID = @SeverityID
AND		i.IsClosed = 0
AND		i.IsDeleted = 0

IF @StringList IS NULL
    SET @StringList = ''

RETURN @StringList 

END 



GO
