USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDropsForLab]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
create procedure [dbo].[sp_GetDropsForLab]
(
	@LabID int
)
as
/*	Modified by	Date		Change
	***********************************************************
	a-karthp		08/24/2005	Recreated the sproc
*/
	exec LabDropManagement..sp_GetSavedDropsWithRequests2 @LabID
GO
