USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetLabsCurrentlyBuilding]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		AviP
-- Create date: 5/16/2007
-- Description:	Get a list of all the labs building right now
--				This is used by the BFD page.
-- =============================================
CREATE PROCEDURE [dbo].[up_GetLabsCurrentlyBuilding]
(
	@OrgID int = 1
)
AS
BEGIN

	WITH Sessions As
	(
		SELECT	SessionID, LabID, StatusID
		FROM	tbl_Session WITH (NOLOCK)
		WHERE	DATEDIFF(dd, SeBuildDate, GetDate()) < 4
	)
	SELECT	DISTINCT l.LabID, l.LaName
	FROM	tbl_Lab l WITH (NOLOCK)
	JOIN	Sessions s
				ON (l.LabID = s.LabID)
	WHERE	s.StatusID NOT IN (5,8)
	AND		l.OrgID = @OrgID

END

GO
