USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddIssue]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_AddIssue]
	(
		@SessionID int,
		@Title varchar(128),
		@AssignedTo varchar(50),
		@PendingOwner varchar(50),
		@NotifyTo varchar(50) = NULL,
		@Severity int,
		@Language int,
		@WorkAround varchar(4000) = NULL,
		@Machine varchar(100),
		@IssueID int = NULL OUTPUT 
	)
AS
	SET NOCOUNT ON
	
	INSERT
	  INTO tbl_Issue (IsTitle, IsAssignedTo, IsPendingOwner, IsPendingSince, IsAssignedBy, IsDateCreated, IsDateChanged, SeverityID, IsNotifyUser, LanguageID, IsWorkAround, IsMachineName)
	VALUES (@Title, @AssignedTo, @PendingOwner, GetDate(), @AssignedTo, GetDate(), GetDate(), @Severity, @NotifyTo, @Language, @WorkAround, @Machine)
	IF @@ROWCOUNT > 0
		SELECT @IssueID = @@Identity
	INSERT 
	  INTO tbl_SessionIssue (SessionID, IssueID)
	VALUES (@SessionID, @IssueID)
	
	-- Give access to the build machine if needed.
	IF @Machine IS NOT NULL
		EXEC sp_GrantMachineAccess @IssueID, @Machine, @AssignedTo
	
	
	RETURN 


GO
