USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateIssueWithLockDownMailSent]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateIssueWithLockDownMailSent]
	(
		@IssueID int,
		@LabID int
	)
AS
	UPDATE tbl_Issue WITH (ROWLOCK)
	   SET IsLockDownMailSent = 1
	 WHERE IssueID = @IssueID
	    OR IssueID IN (SELECT i.IssueID
						 FROM tbl_Issue i WITH (NOLOCK)
						 JOIN tbl_SessionIssue iss WITH (NOLOCK) ON (i.IssueID = iss.IssueID)
						 JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
						 JOIN tbl_Lab lab WITH (NOLOCK) ON (s.LabID = lab.LabID)
						WHERE IsClosed = 0
						  AND IsDeleted = 0
						  AND IsLockDown = 1
						  AND IsLockDownMailSent = 0
						  AND lab.LabID = @LabID
						  AND ((IsLockDownImmediate = 1)
						   OR (DATEADD(mi, IsLockDownGracePeriod, IsLockDownSet) < GetDate()))
						 ) 
	 
	RETURN 


GO
