USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetLopezInfo]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetLopezInfo]
(
	@SessionID int
)
AS
	SET NOCOUNT ON

	DECLARE @Requestor varchar(50)

	Select	@Requestor = ReCreatedBy 
	From	LaunchPad..tbl_Request R (Nolock)
			Inner Join LaunchPad..tbl_RequestBuild RB (Nolock) On R.RequestID = RB.RequestID
			Inner Join LaunchPad..tbl_Definition D (Nolock) On R.DefinitionID = D.DefinitionID And D.DeIsValidationDefinition = 1 --Only Lopez
	Where	RB.SessionID = @SessionID	

	IF		(@Requestor IS NULL)
	SET		@Requestor = ''

	SELECT	@Requestor AS Requestor
	
	RETURN 
GO
