USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[zz_jpn_issues]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE   PROCEDURE [dbo].[zz_jpn_issues]
AS


select LabID, LaName 
into #labs
from tbl_Lab 
where 
LaShortName = 'Lab21' or 
LaShortName = 'Lab22dev' or
LaShortName = 'Lab23dev' or
LaName = 'Lab24' or 
LaName like 'Beta2' or
LaName = 'RTM' or
LaShortName = 'MSDNVSB2' or
LaShortName = 'MSDNVSRTM'
ORDER BY LaName

DECLARE @StartDate datetime
SET @StartDate = '8/01/2004 00:00:01'

DECLARE @EndDate datetime
SET @EndDate = '12/01/2005 23:59:59'

select distinct si.IssueID, s.SeRevision, l.LaName
into #issues
from tbl_Session s with (nolock) 
inner join #labs l with (nolock) on s.LabID = l.LabID
inner join tbl_SessionIssue si with (nolock) on s.SessionID = si.SessionID
where
s.SeStarted > @StartDate
and s.SeStarted < @EndDate
and s.LocaleSetID = 2

select 
si.LaName as 'Branch',
si.SeRevision as 'Build rev',
i.IssueID as 'Issue #',
sev.SeName as 'Blocker',
i.IsCausedBy as 'Code owner',
i.IsTitle as 'Title',
source.SoName as 'Category',
'' as 'Who caused?',
'' as 'Comment'
from #issues si with (nolock)
inner join tbl_Issue i with (nolock) on i.IssueID = si.IssueID
inner join tlkp_Severity sev with (nolock) on sev.SeverityID = i.SeverityID
inner join tbl_IssueSource isource with (nolock) on i.IssueID = isource.IssueID
inner join tlkp_Source source with (nolock) on isource.SourceID = source.SourceID
order by si.LaName




drop table #labs
drop table #issues



GO
