USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_Log_AbandonBuild]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[up_Log_AbandonBuild]
	(
		@BuildID INT,
		@Issue varchar(10),
		@LogDateTime varchar(50),
		@MachineName varchar(50)
	)
AS
	SET NOCOUNT ON
	DECLARE @Err varchar(4000)

	-- First we need to create a log footprint.  This piece is outside the transaction
	-- because we want to log EVERYTHING - even if the transaction fails.	
	INSERT 
	INTO		tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
	VALUES		('up_Log_AbandonBuild, '
			    + CAST(@BuildID AS VARCHAR(20)) + ', ' +
				+ @Issue + ', '
				+ @MachineName, 
				GetDate(), 
				GetDate()) 	

	BEGIN TRANSACTION

	SELECT	@Err = 'Add the build comment and set started = null.'	
	UPDATE	tbl_Session WITH (ROWLOCK)
	SET		SeComment = 'Build abandoned.  Details can be found in Issue #' + @Issue,
			SeFinished = @LogDateTime,
		    StatusID = 8  -- Abandoned
	WHERE	SessionID = @BuildID
	IF @@ERROR <> 0 GOTO on_err	

	-- Check to see if ENAR layouts are available.  If they are, update the status
	-- to 11 (enar available) instead of abandoned.

	IF EXISTS(SELECT *
	          FROM tbl_SessionSetup
	          WHERE SessionID = @BuildID
	            AND ((Setup LIKE '%\vsts\%') OR (Setup LIKE '%\Ultimate\%')))
	BEGIN
		UPDATE tbl_Session
		   SET StatusID = 11
		 WHERE SessionID = @BuildID
	END 

	-- Commit the transaction if there are no errors at the end. 
	IF @@ERROR <> 0 
		GOTO on_err

	-- Return the sessionid.
	SELECT @BuildID As SessionID

	COMMIT TRANSACTION
	RETURN 
	
	on_err:
		ROLLBACK TRANSACTION
		SELECT @Err = 'ERROR: up_Log_AbandonBuild - ' + @Err
		RAISERROR (@Err , 16, 1)	
		RETURN
		
RETURN





GO
