USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetFixTypes]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetFixTypes]
(
	@OrgID int
)
AS
BEGIN
	/***********************************
	DESCRIPTION
		Gets all appropriate fix type options for a given org
	***********************************/

	SELECT f.*
	FROM tlkp_FixType f
	INNER JOIN atbl_OrgFixType o on o.FixTypeID = f.FixTypeID 
	WHERE o.OrgID = @OrgID
	
END

GO
