USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteIssue]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteIssue]
(
	@IssueID int
)
AS
	SET NOCOUNT ON
	
/*	DELETE
	  FROM tbl_IssueBuildType
	 WHERE IssueID = @IssueID
	DELETE
	  FROM tbl_IssuePlatform
	 WHERE IssueID = @IssueID
	DELETE
	  FROM tbl_IssueSource
	 WHERE IssueID = @IssueID	
	DELETE
	  FROM tbl_IssueLog
	 WHERE IssueID = @IssueID	
	DELETE
	  FROM tbl_Issue
	 WHERE IssueID = @IssueID */
	 
	 UPDATE tbl_Issue
	    SET IsDeleted = 1
	  WHERE IssueID = @IssueID
	-- Revoke access to the build machine if necessary.
	DECLARE @Machine varchar(50)
	SELECT @Machine = IsMachineName 
	  FROM tbl_Issue WITH (NOLOCK)
	 WHERE IssueID = @IssueID
	DECLARE @AssignedTo varchar(30)
	SELECT @AssignedTo = IsAssignedTo
	  FROM tbl_Issue WITH (NOLOCK)
	 WHERE IssueID = @IssueID
	 
	IF @Machine IS NOT NULL
		EXEC sp_RevokeMachineAccess @IssueID, @Machine, @AssignedTo
	
	RETURN 
GO
