USE [LabStatus]
GO
/****** Object:  Table [dbo].[tlkp_LabGroup]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tlkp_LabGroup](
	[LabGroupId] [int] NOT NULL,
	[LabGroupName] [varchar](100) NULL,
	[LabGroupPriority] [int] NOT NULL,
 CONSTRAINT [PK_tlkp_LabGroup] PRIMARY KEY CLUSTERED 
(
	[LabGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tlkp_LabGroup] ADD  DEFAULT ((0)) FOR [LabGroupPriority]
GO
