USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLabsByIDs]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLabsByIDs]
(
	@Labs varchar(255)
)
AS
	SET NOCOUNT ON
	
	SELECT l.*
	  FROM tbl_Lab l WITH (NOLOCK)	 
	  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
  ORDER BY l.LaOrder
  
	RETURN
GO
