USE [LabStatus]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_IsStepGroupConsideredForBuildCompletion]    Script Date: 1/28/2026 12:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_IsStepGroupConsideredForBuildCompletion]
(
	@StepGroup varchar(100)
)
RETURNS bit
AS
BEGIN

	IF dbo.fn_IsTestStepGroup(@StepGroup) = 1
	RETURN 0
	
	RETURN 1

END

GO
