USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLabsForStatusPage]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetLabsForStatusPage]
AS
	SET NOCOUNT ON
	
	SELECT *
	  FROM tbl_Lab WITH (NOLOCK)	 
	 WHERE LaStatus = 1
  ORDER BY LaName
	RETURN 

GO
