USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_Org]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Org](
	[OrgID] [int] NOT NULL,
	[OrShortName] [varchar](50) NULL,
	[OrName] [varchar](255) NULL,
	[OrDescription] [varchar](1000) NULL,
	[OrOrder] [int] NULL,
	[OrBuildAlias] [varchar](50) NULL,
	[OrBuildDL] [varchar](50) NULL,
	[OrBuildDLAllowMail] [bit] NULL,
	[OrLayoutsRebuildDL] [varchar](50) NULL,
	[OrLayoutsRebuiltAllowMail] [bit] NULL,
	[OrLayoutsRebuiltDLMSDN] [varchar](50) NULL,
	[OrLayoutsRebuiltDLLOC] [varchar](50) NULL,
	[OrAllowMachineAccess] [bit] NULL,
	[OrMachineAccessURL] [varchar](500) NULL,
	[OrTop] [varchar](50) NULL,
	[SecurityRoleID] [int] NULL,
 CONSTRAINT [PK_tbl_Org] PRIMARY KEY CLUSTERED 
(
	[OrgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
