USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePendingOwnerAsAssignedTo]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_UpdatePendingOwnerAsAssignedTo]
	(
		@IssueID int,
        @User varchar(50) = NULL
	)
AS
	DECLARE @AssignedTo varchar(50)
	DECLARE @Machine varchar(100) 
	
	-- First, grab the machine name and the current user the issue is assigned to.
	SELECT @AssignedTo = IsAssignedTo, @Machine = IsMachineName
	  FROM tbl_Issue WITH (NOLOCK)
	 WHERE IssueID = @IssueID

	DECLARE @NewOwner varchar(50)
	SELECT @NewOwner = ISNULL(@User, IsPendingOwner) 
	  FROM tbl_Issue WITH (NOLOCK)
	 WHERE IssueID = @IssueID

	UPDATE tbl_Issue WITH (ROWLOCK)
	   SET IsAssignedTo = @NewOwner,
	       IsPendingOwner = NULL,
	       IsPendingSince = NULL,
	       IsAssignedBy = NULL
	 WHERE IssueID = @IssueID

	IF @Machine IS NOT NULL AND @AssignedTo IS NOT NULL
		BEGIN
			-- Revoke machine access to the old user.
			EXEC sp_RevokeMachineAccess @IssueID, @Machine, @AssignedTo
			-- Grant machine access to this new user.
			IF @NewOwner IS NOT NULL
				BEGIN
					EXEC sp_GrantMachineAccess @IssueID, @Machine, @NewOwner
				END
		END
	 
	RETURN 



GO
