USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserMachineCurrent]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUserMachineCurrent]
	(
		@UserName varchar(50)
	)
AS
	SET NOCOUNT ON
	
	SELECT atk.IssueID, i.*
	  FROM LabMachineAccess..tbl_AccessToken atk WITH (NOLOCK)
	  JOIN tbl_Issue i ON (atk.IssueID = i.IssueID)
	 WHERE atk.UserName = @UserName
	
	RETURN 
GO
