USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOrgByIssue]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetOrgByIssue]
(
	@IssueID int
)
AS
	SET NOCOUNT ON
	
	SELECT o.*
	  FROM tbl_Issue i WITH (NOLOCK)
	  JOIN tbl_Org o WITH (NOLOCK) ON (i.OrgID = o.OrgID)
     WHERE IssueID = @IssueID
  
	RETURN 
GO
