USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetIssue]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetIssue]
(
	@IssueID int
)
AS
	SET NOCOUNT ON
	
	SELECT i.*, sv.SeName As Severity
	  FROM tbl_Issue i WITH (NOLOCK)
	  JOIN tlkp_Severity sv WITH (NOLOCK) ON (i.SeverityID = sv.SeverityID)
	 WHERE i.IssueID = @IssueID
	 
	RETURN 
GO
