USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteIssueBug]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteIssueBug]
(
	@IssueBugID int
)
AS
	SET NOCOUNT ON
	DELETE 
	  FROM tbl_IssueBug
	 WHERE IssueBugID = @IssueBugID
	
	RETURN 
GO
