USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetFixesCompletedWithOpenIssuesByDate]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetFixesCompletedWithOpenIssuesByDate]
    @StartTime DATETIME,
    @AutomaticallyLaunched BIT
AS
BEGIN
    SET NOCOUNT ON
    
    SELECT 
        F.FixID,
        F.IssueID
    FROM tbl_Fix F (NOLOCK)
    INNER JOIN tbl_Issue I (NOLOCK) ON I.IssueID = F.IssueID
    INNER JOIN tbl_SessionFix SF (NOLOCK)  ON SF.FixID = F.FixID
    WHERE
        F.FiLaunchedAutomatically = @AutomaticallyLaunched
        AND I.IsClosed = 0
    GROUP BY F.FixID, F.IssueID
    HAVING
        Max(SfCompletedTime) >= @StartTime -- At least one of the fixes finished since @StartTime
        AND SUM(CASE WHEN FixStatusID = 5 THEN 1 ELSE 0 END) = COUNT(*) -- All sessions for this fix are marked as Completed
END
GO
