USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_ProcessBuildTime]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ProcessBuildTime](
	[AvgBuildTimeID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[MilestoneID] [int] NULL,
	[LabID] [int] NULL,
	[FlavorID] [int] NULL,
	[TargetArchitectureID] [int] NULL,
	[LocaleSetID] [int] NULL,
	[PrName] [varchar](100) NULL,
	[GrName] [varchar](100) NULL,
	[AvgBuildTime] [int] NULL,
	[LastUpdated] [datetime] NULL,
	[StdDevBuildTime] [float] NULL,
 CONSTRAINT [PK_tbl_ProcessBuildTime] PRIMARY KEY CLUSTERED 
(
	[AvgBuildTimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_ProcessBuildTime] ADD  CONSTRAINT [DF_tbl_ProcessBuildTime_StdDevBuildTime]  DEFAULT ((0)) FOR [StdDevBuildTime]
GO
