USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_IssueReminder]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_IssueReminder]
AS
	SET NOCOUNT ON
	
	SELECT *, DATEDIFF(mi, IsDateChanged, GetDate()) As IssueAge
	  FROM tbl_Issue WITH (NOLOCK)
 --LEFT JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (tbl_Issue.IssueID = isrc.IssueID)
	 WHERE DATEDIFF(mi, IsDateChanged, GetDate()) > 60 -- returns issues more than 1 hour old
  	   AND DATEDIFF(dd, IsDateChanged, GetDate()) = 0 -- that was opened today
  --	   AND isrc.SourceID NOT IN (11)
	   AND IsClosed = 0 -- 0 is an OPEN issue
	   AND IsDeleted = 0 -- 0 is a NON-DELETED issue
	   AND IsTitle NOT LIKE '%BFD21%'
	   AND IsTitle NOT LIKE '%BFD22%'
	   AND IsTitle NOT LIKE '%BFD23%'
   	   AND IsMachineAccessOnly = 0
	RETURN 
GO
