USE [LabStatus]
GO
/****** Object:  UserDefinedTableType [dbo].[SessionIDsUDT]    Script Date: 1/28/2026 12:46:50 PM ******/
CREATE TYPE [dbo].[SessionIDsUDT] AS TABLE(
	[SessionID] [int] NULL
)
GO
