USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_IsPatchStarted]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_IsPatchStarted]
	(
		@RequestIds VARCHAR(MAX)
	)
AS
BEGIN
	
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	DECLARE @Started BIT
	SET		@Started = 0

	DECLARE @Total INT
	SELECT	@Total = COUNT(*)
	FROM	tbl_Session s
	JOIN	dbo.fn_GetSessionsFromRequests(@RequestIds) r
			ON r.SessionID = s.SessionID

	DECLARE @NumberOfStarted INT
	SELECT  @NumberOfStarted = COUNT(DISTINCT r.SessionID)
	FROM	dbo.tbl_SessionGroupStatus sgs
	JOIN	dbo.tbl_SchemaGroup sg
			ON sg.SchemaGroupID = sgs.SchemaGroupID
	JOIN	dbo.fn_GetSessionsFromRequests(@RequestIds) r
			ON r.SessionID = sgs.SessionID
	WHERE	(sg.GrName like 'Build Patch%' OR sg.GrName like 'Copy Patches%')
	AND		sgs.GroupStarted IS NOT NULL


	IF ((@Total >0) AND (@NumberOfStarted > 0))
		SET @Started = 1
	
	SELECT @Started
END
GO
