USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_AddPreservationRequest]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_AddPreservationRequest]
	@Revision varchar(100),
	@LabID int,
	@Justification nvarchar(512),
	@ExpirationUtc smalldatetime,
	@User varchar(50),
	@ImpersonatingUser varchar(50),
	@IP varchar(50)
AS
	insert into tbl_PreservationRequest (PrRevision, LabID, PrRequestedBy, PrRequestedDateUtc, PrExpiryDateUtc, PrJustification)
	values (@Revision, @LabID, @User, GETUTCDATE(), @ExpirationUtc, @Justification)

RETURN
GO
