USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSourceCodeFix]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetSourceCodeFix]
(
	@IssueID int
)
AS
/*	Modified by	Date		Change
	***********************************************************
	karthip		04/14/2005	Select statement to create #FixInfo temp table had duplicate column name (FiResumeBuild)
					The column actually is not used anywhere in this sproc
					Fixed code to ignore the column from tbl_FixDefSourceCode table
*/
BEGIN
	/***************************
	DESCRIPTION
		Retrieves all necessary info to build out a Source Code Fix's info schema
	***************************/

	DECLARE @ProcessName varchar(255)

	SELECT TOP 1 f.*, sc.FixDefSourceCodeID, sc.SourceCodeFixCategoryID
	INTO #FixInfo
	FROM tbl_Fix f
	INNER JOIN tbl_FixDefSourceCode sc on sc.FixDefSourceCodeId = f.FixDefinitionID
	WHERE IssueID = @IssueID
	ORDER BY FiSubmittedDate DESC

	SELECT *, 
		Revision = (SELECT TOP 1 SeRevision 
						FROM tbl_Session s WITH (NOLOCK) 
						INNER JOIN atbl_SessionIssue si WITH (NOLOCK) on si.SessionID = s.SessionID 
						WHERE  si.IssueID = @ISsueID),
		ProcessName = dbo.fn_GetIssueCreationProcess(@IssueID)
	FROM #FixInfo 

	SELECT s.SessionID, s.SeRevision, s.SeBuildMachine, ta.TaName, fl.FlName, l.LaShortName
	FROM tbl_Session s WITH (NOLOCK)
	INNER JOIN tlkp_TargetArchitecture ta on ta.TargetArchitectureID = s.TargetArchitectureID
	INNER JOIN tlkp_Flavor fl on fl.FlavorID = s.FlavorID
	INNER JOIN tbl_Lab l on l.LabID = s.LabID
	INNER JOIN tbl_SessionFix sf on sf.SessionID = s.SessionID
	INNER JOIN #FixInfo f on f.FixID = sf.FixID

	SELECT  FixDefsourceCodebuildStepID AS BuildStepID
    INTO    #BuildSteps
	FROM    tbl_FixDefSourceCodeBuildStep bs 
	INNER   JOIN #FixInfo f 
                ON f.FixDefinitionID =  bs.FixDefinitionID

	SELECT DISTINCT bs.*
	FROM tbl_FixDefSourceCodeBuildStep bs
    INNER JOIN #FixInfo f on f.FixDefinitionID =  bs.FixDefinitionID
    ORDER BY bs.FixDefSourceCodeBuildStepID

	DROP TABLE #FixInfo

END





GO
