USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLabByBranchCode]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_GetLabByBranchCode] (
@branch varchar(500)
)
AS
/*	Modified by	Date		Change
	*****************************************************
	phoeffer		03/11/2005	Created sproc
					modeled after sp_GetLabByShortName
					QUESTION: does this obsolete sp_GetLabIDByBranchCode
*/
Begin
	select	*
	from	tbl_Lab WITH (NOLOCK)	 
	where	laBranch = @branch
End
GO
