USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLabChangeLog]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE Procedure [dbo].[sp_GetLabChangeLog]
(
	@LabID int
)
As
/*	Modified by	Date		Change
	***********************************************************
	a-karthp		08/16/2005	Created
*/
	set nocount on

	select 	ll.LabLogID, 
		LlDateCreated, 
		LlUserAlias, 
		LabLogText  
	from 	tbl_LabLog ll 
		inner join tbl_LabLogText llt on ll.LabLogID = llt.LabLogID
	where 	LabID = @LabID 
	order by LlDateCreated Desc
GO
