USE [LabStatus]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_StripTrailingSlash]    Script Date: 1/28/2026 12:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_StripTrailingSlash]
(
	@DirtyString varchar(max)
)
RETURNS varchar(max)
AS
BEGIN
	If RIGHT(@DirtyString, 1) = '/' return LEFT(@DirtyString, LEN(@DirtyString) - 1)
	return @DirtyString
END
GO
