USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessionsByDateRange1]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_GetSessionsByDateRange1]
	(
		@LabIDs varchar(4000),
		@FlavorIDs varchar(255) = NULL,
		@TargetArchitectureIDs varchar(255) = NULL,
		@LanguageIDs varchar(4000) = NULL,
		@From datetime,
		@To datetime
	)
AS
BEGIN
    SET NOCOUNT ON

	IF @FlavorIDs IS NULL
	BEGIN
		select @FlavorIDs = Coalesce(@FlavorIDs + ',','') + LTRIM(STR(FlavorID)) from tlkp_Flavor
	END

	IF @TargetArchitectureIDs IS NULL
	BEGIN
		select @TargetArchitectureIDs = Coalesce(@TargetArchitectureIDs + ',','') + LTRIM(STR(TargetArchitectureID)) from tlkp_TargetArchitecture
	END

	IF @LanguageIDs IS NULL
	BEGIN
		select @LanguageIDs = Coalesce(@LanguageIDs + ',','') + LTRIM(STR(LocaleSetID)) from tlkp_LocaleSet
	END

	DECLARE @DayBeforeFROM DATETIME
	DECLARE @ThreeDayBeforeFROM DATETIME
	SET @DayBeforeFROM = DATEADD(day, 0, DATEDIFF(day, 0, @From))
	SET @ThreeDayBeforeFROM = DATEADD(day, 0, DATEDIFF(day, 0, @From) - 3)

	DECLARE @DayBeforeTO DATETIME
	DECLARE @DayAfterTO DATETIME
	SET @DayBeforeTO = DATEADD(day, 0, DATEDIFF(day, 0, @To))
	SET @DayAfterTO = DATEADD(day, 0, DATEDIFF(day, 0, @To) + 1)

	DECLARE @SessionIdList VARCHAR(max)

	;WITH TempSessions AS
	(
		SELECT  s.SessionID,
				s.LabID,
				s.FlavorID,
				s.TargetArchitectureID,
				s.LocaleSetID,
				flavor.FlOrder
		FROM  tbl_Session s WITH (READPAST)
		JOIN	tlkp_Flavor flavor WITH (NOLOCK) ON (s.FlavorID = flavor.FlavorID)
		WHERE	(s.SeBuildDate >= @From AND s.SeBuildDate <= @To)
				OR ((DATEDIFF(dd, @From, @To) = 0 AND s.SeBuildDate BETWEEN @ThreeDayBeforeFROM AND @DayBeforeFROM) 
			   AND (s.StatusID IN (2, 9, 10) -- In Progress, In Progress (waiting), Stalled
				OR (s.StatusID = 5 AND s.SeFinished BETWEEN @DayBeforeTO AND @DayAfterTO)))
	),
	FilteredSessions AS
	(
		SELECT  s.SessionID,
				s.LocaleSetID, 
				s.TargetArchitectureID, 
				s.FlOrder
		FROM	TempSessions s
		JOIN  fn_ParseCommaDelimitedList(@LabIDs) l 
					ON (s.LabID = l.ItemID)
		  JOIN  fn_ParseCommaDelimitedList(@FlavorIDs) f 
					ON (s.FlavorID = f.ItemID)
		  JOIN  fn_ParseCommaDelimitedList(@TargetArchitectureIDs) ta 
					ON (s.TargetArchitectureID = ta.ItemID) 
		  JOIN  fn_ParseCommaDelimitedList(@LanguageIDs) ls 
					ON (s.LocaleSetID = ls.ItemID)
	)
	
	SELECT	@SessionIdList = COALESCE(@SessionIdList + ',', '') + CONVERT(varchar(20), SessionID) 
    FROM	FilteredSessions
	ORDER BY LocaleSetID, TargetArchitectureID, FlOrder ASC, SessionID

	--print @SessionIdList
    EXEC    up_GetSessions1 @SessionIdList

	RETURN 
END
GO
