USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddIssueSubSource]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddIssueSubSource]
	(
		@IssueID int,
		@SubSource int
	)
AS
	SET NOCOUNT ON
	INSERT
	  INTO tbl_IssueSubSource (IssueID, SubSourceID)
	VALUES (@IssueID, @SubSource)
	
	RETURN 
GO
