USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_MntrCreateStalledProcessError]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MntrCreateStalledProcessError]
(
	@SessionID int,
	@SessionGroupStatusID int,
	@SessionGroupProcessStatusID int,
	@BuildMachine varchar(50)
)
AS
	SET NOCOUNT ON
	
	BEGIN TRAN
	
		INSERT
		  INTO tbl_Log (SessionID, CategoryID, LoDateTimeStamp, LoDateTimeLogged, LoLog, LoMachineName, SessionGroupStatusID, SessionGroupProcessStatusID)
		VALUES (@SessionID, 4, GetDate(), GetDate(), 'Stall warning', @BuildMachine, @SessionGroupStatusID, @SessionGroupProcessStatusID)

		DECLARE @NewLogID bigint	
		SELECT @NewLogID = @@IDENTITY
		
		INSERT 
  		  INTO tbl_LogError (LogEntryID, SessionID, CategoryID)
		VALUES (@NewLogID, @SessionID, 4)

		IF @@ERROR <> 0
			BEGIN
				ROLLBACK TRAN
				GOTO ON_ERROR
			END		
	
	COMMIT TRAN	
	
	ON_ERROR:
	
	RETURN
GO
