USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_IsUserAdmin]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_IsUserAdmin]
	(
		@UserID varchar(50),
		@IsAdmin bit = 0 OUTPUT 
	)
AS
	SELECT 1
	  FROM tbl_UserRole WITH (NOLOCK)
	 WHERE UserID = @UserID 
	   AND RoleID = 1
	   
	IF @@ROWCOUNT > 0
		SELECT @IsAdmin = 1
	ELSE
		SELECT @IsAdmin = 0
	   
	RETURN 
GO
