USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateIssueOtherSubSource]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateIssueOtherSubSource]
(
	@IssueID int,
	@OtherSubSource varchar(1000)
)
AS
	SET NOCOUNT ON
	
	UPDATE tbl_Issue WITH (ROWLOCK)
	   SET IsOtherSubSource = @OtherSubSource
	 WHERE IssueID = @IssueID
	 
	RETURN
GO
