USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionProcessDetails]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetSessionProcessDetails]
	(
		@SessionID int
	)
AS
	SET NOCOUNT ON
	
	SELECT		DISTINCT sgs.SessionGroupStatusID, sg.SchemaGroupID, sg.GrName As GroupName, sgs.StatusID, st.StName As GroupStatus, st.StColor As StatusColor, sgs.HasErrors, sgs.HasWarnings, sgs.GroupStarted, sgs.GroupFinished, sg.GrOrder, sgs.Skip
	INTO		#Groups
	FROM		tbl_Session s WITH (NOLOCK)
	JOIN		tbl_SessionGroupStatus sgs WITH (NOLOCK) ON (s.SessionID = sgs.SessionID)
	JOIN		tbl_SchemaGroup sg WITH (NOLOCK) ON (sgs.SchemaGroupID = sg.SchemaGroupID)
	JOIN		tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sg.SchemaGroupID = sgp.SchemaGroupID)
	JOIN		tlkp_Status st WITH (NOLOCK) ON (sgs.StatusID = st.StatusID)
	WHERE		sgs.SessionID = @SessionID
	ORDER BY	sg.GrOrder

	-- Get just the log info for this session.
	SELECT	*
	INTO	#Logs
	FROM	tbl_Log WITH (NOLOCK)
	WHERE	SessionID = @SessionID

	-- Result set 1.  
	SELECT * FROM #Groups

	-- Build a comma delimited list of all the groupids.
	DECLARE @GroupIDs varchar(4000) 
	SELECT	@GroupIDs = COALESCE(@GroupIDs + ',', '') + CONVERT(varchar(20), SessionGroupStatusID)
	FROM	#Groups
	
	-- Result set 2 - Machine names for the groups.
	SELECT 
	DISTINCT	LoMachineName, SessionGroupStatusID 
	FROM		#Logs l WITH (NOLOCK)
	JOIN		dbo.fn_ParseCommaDelimitedList(@GroupIDs) ids 
					ON	(l.SessionGroupStatusID = ids.ItemID)
	
	-- Now, the rows.  We do this in a temp table so we can order by started first, and then null started.
	CREATE TABLE #Rows (
		SessionGroupProcessStatusID int,
		SessionGroupStatusID int,
		GroupName varchar(100),
		ProcessName varchar(100),
		StatusID int,
		ProcessStatus varchar(50),
		StatusColor varchar(12),
		ProcessStarted datetime,
		ProcessFinished datetime,
		HasErrors bit,
		HasWarnings bit,
		ProcessComment varchar(1000), 
		GrOrder int, 
		PrOrder int, 
		RunNumber int, 
		Skip bit, 
		Stalled bit, 
		ProcessDocLink varchar(500)
		)

	-- First the NOT NULL rows.	
	INSERT INTO #Rows
	SELECT DISTINCT sgps.SessionGroupProcessStatusID, 
		ids.ItemID As SessionGroupStatusID, 
		sg.GrName As GroupName, 
		sgp.PrName As ProcessName, 
		sgps.StatusID, 
		st.StName As ProcessStatus, 
		st.StColor As StatusColor, 
		sgps.ProcessStarted, 
		sgps.ProcessFinished, 
		sgps.HasErrors, 
		sgps.HasWarnings, 
		sgps.ProcessComment, 
		sg.GrOrder, 
		sgp.PrOrder, 
		sgps.RunNumber, 
		sgps.Skip, 
		sgps.Stalled, 
		sgp.PrDocLink ProcessDocLink
	  FROM tbl_SessionGroupStatus sgs WITH (NOLOCK) 
	  JOIN tbl_SchemaGroup sg WITH (NOLOCK)  ON (sgs.SchemaGroupID = sg.SchemaGroupID)
	  JOIN dbo.fn_ParseCommaDelimitedList(@GroupIDs) ids ON (sgs.SessionGroupStatusID = ids.ItemID)
	  JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK)  ON (sg.SchemaGroupID = sgp.SchemaGroupID)
	  JOIN tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)  ON (sgp.SchemaGroupProcessID = sgps.SchemaGroupProcessID AND sgps.SessionID = @SessionID)
	  JOIN tlkp_Status st WITH (NOLOCK)  ON (sgps.StatusID = st.StatusID)
	   AND sgps.ProcessStarted IS NOT NULL
  ORDER BY sg.GrOrder, sgps.ProcessStarted, sgps.RunNumber
	
	-- Now, the NULL rows.
	INSERT INTO #Rows
	SELECT DISTINCT sgps.SessionGroupProcessStatusID, 
		ids.ItemID As SessionGroupStatusID, 
		sg.GrName As GroupName, 
		sgp.PrName As ProcessName, 
		sgps.StatusID, 
		st.StName As ProcessStatus, 
		st.StColor As StatusColor, 
		sgps.ProcessStarted, 
		sgps.ProcessFinished, 
		sgps.HasErrors, 
		sgps.HasWarnings, 
		sgps.ProcessComment, 
		sg.GrOrder, 
		sgp.PrOrder, 
		sgps.RunNumber, 
		sgps.Skip, 
		sgps.Stalled, 
		sgp.PrDocLink ProcessDocLink
	  FROM tbl_SessionGroupStatus sgs WITH (NOLOCK) 
	  JOIN tbl_SchemaGroup sg WITH (NOLOCK)  ON (sgs.SchemaGroupID = sg.SchemaGroupID)
 	  JOIN dbo.fn_ParseCommaDelimitedList(@GroupIDs) ids ON (sgs.SessionGroupStatusID = ids.ItemID)
	  JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK)  ON (sg.SchemaGroupID = sgp.SchemaGroupID)
	  JOIN tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)  ON (sgp.SchemaGroupProcessID = sgps.SchemaGroupProcessID AND sgps.SessionID = @SessionID)
	  JOIN tlkp_Status st WITH (NOLOCK)  ON (sgps.StatusID = st.StatusID)
	   AND sgps.ProcessStarted IS NULL
  ORDER BY sg.GrOrder, sgps.ProcessStarted, sgps.RunNumber
	
	-- Result set 3 - Process info.
	SELECT * FROM #Rows
	
	-- Result set 4 - All the session logs.
	SELECT		*, c.CaName, c.CaColor 
	FROM		#Logs l
	JOIN		tlkp_Category c WITH (NOLOCK)
					ON (l.CategoryID = c.CategoryID)
	ORDER BY	c.CaOrder		
	
	DROP TABLE #Rows
	DROP TABLE #Groups
	DROP TABLE #Logs
	
	RETURN 

GO
