USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteIssueDependency]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteIssueDependency]
	(
		@IssueID int,
		@DependentIssueID int
	)
AS
	SET NOCOUNT ON
	
	DELETE
	  FROM tbl_IssueDependency 
     WHERE IssueID = @IssueID
 	   AND DependentIssueID =  @DependentIssueID
	
	RETURN 

GO
