USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUsers]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUsers]
AS
	SET NOCOUNT ON
	
	SELECT UserID, 
		   IsAdmin = (SELECT 1
						FROM tbl_UserRole u2
					   WHERE u2.UserID = u.UserID AND u2.RoleID = 1)
	  FROM tbl_User u
  ORDER BY u.UserID
	
	RETURN 
GO
