USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessionsByLabAndDate]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[up_GetSessionsByLabAndDate]
	(
		@From datetime,
		@To datetime,
		@LabID int
	)
AS
	SET NOCOUNT ON	

	-- Sessions
    DECLARE @SessionIdList VARCHAR(max)
    SELECT	@SessionIdList = COALESCE(@SessionIdList + ',', '') + CONVERT(varchar(20), SessionID) 
    FROM	tbl_Session
    WHERE	LabID = @LabID
	AND		SeBuildDate >= @From
	AND		SeBuildDate <= @To

    EXEC up_GetSessions @SessionIdList

	RETURN 


GO
