USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetIssuesByLabAndTeam]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetIssuesByLabAndTeam]
	(
		@From datetime,
		@To datetime,
		@SourceID int,
		@Labs varchar(255),
		@CostCenter int,
		@SeverityIDs varchar(255) = '1,2'
	)
AS
	SET NOCOUNT ON
	
	IF @CostCenter = 99999
		BEGIN
			SELECT DISTINCT i.*, lg.*, l.LaName As [Language], sv.SeName, src.SourceID, src.SoName As Source, ss.SubSourceID, ss.SuName As SubSource
			  FROM tbl_Issue i WITH (NOLOCK)
			  JOIN tbl_SessionIssue iss WITH (NOLOCK) ON (i.IssueID = iss.IssueID)
		 LEFT JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (i.IssueID = isrc.IssueID)
		 LEFT JOIN tlkp_Source src WITH (NOLOCK) ON (isrc.SourceID = src.SourceID)
		 LEFT JOIN tbl_IssueSubSource isss WITH (NOLOCK) ON (i.IssueID = isss.IssueID)
		 LEFT JOIN tlkp_SubSource ss WITH (NOLOCK) ON (isss.SubSourceID = ss.SubSourceID)
	  	 LEFT JOIN tbl_IssueLog lg WITH (NOLOCK) ON (i.IssueID = lg.IssueID)
		  	  JOIN tlkp_Severity sv WITH (NOLOCK) ON (i.SeverityID = sv.SeverityID)
			  JOIN tlkp_Language l WITH (NOLOCK) ON (i.LanguageID = l.LanguageID)
			  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
			  JOIN tbl_Lab lab WITH (NOLOCK) ON (s.LabID = lab.LabID)
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (lab.LabID = labs.ItemID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) svr ON (i.SeverityID = svr.ItemID)
			 WHERE DATEDIFF(dd, i.IsDateClosed, @From) <= 0
			   AND DATEDIFF(dd, i.IsDateClosed, @To) >= 0
			   AND (i.IsCostCenter IS NULL
			    OR i.IsCostCenter = ''
			    OR i.IsCostCenter NOT IN (SELECT CostCenterID FROM CostCenter..tbl_CostCenter))
			   AND i.IssueID IN (SELECT DISTINCT IssueID FROM tbl_IssueSource WITH (NOLOCK) WHERE SourceID = @SourceID)
   			   AND i.IsDeleted = 0
			   AND lab.VBL = 1
			   AND s.SeRevision NOT LIKE '%_DEL'
			   AND s.FlavorID NOT IN (5) -- No DAT builds.
		  ORDER BY i.IsClosed, i.IsDateCreated DESC, i.IssueID, lg.LoDateCreated DESC			
		END 
	
	ELSE IF @CostCenter = 0
		BEGIN
			SELECT DISTINCT i.*, lg.*, l.LaName As [Language], sv.SeName, src.SourceID, src.SoName As Source, ss.SubSourceID, ss.SuName As SubSource
			  FROM tbl_Issue i WITH (NOLOCK)
			  JOIN tbl_SessionIssue iss WITH (NOLOCK) ON (i.IssueID = iss.IssueID)
		 LEFT JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (i.IssueID = isrc.IssueID)
		 LEFT JOIN tlkp_Source src WITH (NOLOCK) ON (isrc.SourceID = src.SourceID)
		 LEFT JOIN tbl_IssueSubSource isss WITH (NOLOCK) ON (i.IssueID = isss.IssueID)
		 LEFT JOIN tlkp_SubSource ss WITH (NOLOCK) ON (isss.SubSourceID = ss.SubSourceID)
	  	 LEFT JOIN tbl_IssueLog lg WITH (NOLOCK) ON (i.IssueID = lg.IssueID)
		  	  JOIN tlkp_Severity sv WITH (NOLOCK) ON (i.SeverityID = sv.SeverityID)
			  JOIN tlkp_Language l WITH (NOLOCK) ON (i.LanguageID = l.LanguageID)
			  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
			  JOIN tbl_Lab lab WITH (NOLOCK) ON (s.LabID = lab.LabID)
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (lab.LabID = labs.ItemID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) svr ON (i.SeverityID = svr.ItemID)
			 WHERE DATEDIFF(dd, i.IsDateClosed, @From) <= 0
			   AND DATEDIFF(dd, i.IsDateClosed, @To) >= 0
			   AND i.IssueID IN (SELECT DISTINCT IssueID FROM tbl_IssueSource WITH (NOLOCK) WHERE SourceID = @SourceID)
   			   AND i.IsDeleted = 0
			   AND lab.VBL = 1
			   AND s.SeRevision NOT LIKE '%_DEL'
			   AND s.FlavorID NOT IN (5) -- No DAT builds.
		  ORDER BY i.IsClosed, i.IsDateCreated DESC, i.IssueID, lg.LoDateCreated DESC	
		END
		
	ELSE IF @CostCenter <> 0
		BEGIN
			SELECT DISTINCT i.*, lg.*, l.LaName As [Language], sv.SeName, src.SourceID, src.SoName As Source, ss.SubSourceID, ss.SuName As SubSource
			  FROM tbl_Issue i WITH (NOLOCK)
			  JOIN tbl_SessionIssue iss WITH (NOLOCK) ON (i.IssueID = iss.IssueID)
		 LEFT JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (i.IssueID = isrc.IssueID)
		 LEFT JOIN tlkp_Source src WITH (NOLOCK) ON (isrc.SourceID = src.SourceID)
		 LEFT JOIN tbl_IssueSubSource isss WITH (NOLOCK) ON (i.IssueID = isss.IssueID)
		 LEFT JOIN tlkp_SubSource ss WITH (NOLOCK) ON (isss.SubSourceID = ss.SubSourceID)
	  	 LEFT JOIN tbl_IssueLog lg WITH (NOLOCK) ON (i.IssueID = lg.IssueID)
		  	  JOIN tlkp_Severity sv WITH (NOLOCK) ON (i.SeverityID = sv.SeverityID)
			  JOIN tlkp_Language l WITH (NOLOCK) ON (i.LanguageID = l.LanguageID)
			  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
			  JOIN tbl_Lab lab WITH (NOLOCK) ON (s.LabID = lab.LabID)
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (lab.LabID = labs.ItemID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) svr ON (i.SeverityID = svr.ItemID)
			 WHERE DATEDIFF(dd, i.IsDateClosed, @From) <= 0
			   AND DATEDIFF(dd, i.IsDateClosed, @To) >= 0
   			   AND i.IsCostCenter = @CostCenter
			   AND i.IssueID IN (SELECT DISTINCT IssueID FROM tbl_IssueSource WITH (NOLOCK) WHERE SourceID = @SourceID)
   			   AND i.IsDeleted = 0
			   AND lab.VBL = 1
			   AND s.SeRevision NOT LIKE '%_DEL'
			   AND s.FlavorID NOT IN (5) -- No DAT builds.
		  ORDER BY i.IsClosed, i.IsDateCreated DESC, i.IssueID, lg.LoDateCreated DESC
		END

	RETURN 







GO
