USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[xls_BuildProcessTimings]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		JasWard
-- Create date: 08/22/08
-- Description:	This query gives us the group + process for every build for a given lab across a date range.
--				For each group + process we get the minutes it took to complete the process.
-- =============================================
CREATE PROCEDURE [dbo].[xls_BuildProcessTimings] 

	@LabID int,
	@StartDate datetime,
	@EndDate datetime
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    
		/*
		This query gives us the group + process for every build for a given lab across a date range.
		For each group + process we get the minutes it took to complete the process.

		*/

		--SET @Lab = 'Dev10/Feature/BuildLab'
		--SET @Start = '8/15/2008'
		--SET @End = '8/31/2008'

		-- Build a table of the builds to include.

		SELECT		s.SessionID, s.SeRevision As Revision, ta.TaName As Arch, fl.FlName As Flavor, ls.LoName As WF, s.SeStarted As Started, s.SeFinished As Finished
		INTO		#Builds
		FROM		tbl_Session s WITH (NOLOCK)
		JOIN		tlkp_TargetArchitecture ta
						ON (s.TargetArchitectureID = ta.TargetArchitectureID)
		JOIN		tlkp_Flavor fl
						ON (s.FlavorID = fl.FlavorID)
		JOIN		tlkp_LocaleSet ls
						ON (s.LocaleSetID = ls.LocaleSetID)
		WHERE		s.LabID = @LabID
		AND			s.SeBuildDate BETWEEN @StartDate AND @EndDate

		/* ---------------------------------
		1.  Process timing
		------------------------------------ */
		SELECT		s.SessionID, s.Revision, s.Arch, s.Flavor, s.WF, sg.GrName,sgp.PrName, DATEDIFF(mi, sgps.ProcessStarted, sgps.ProcessFinished) As Minutes
		FROM		#Builds s WITH (NOLOCK)
		JOIN		tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
						ON sgps.SessionID = s.SessionID
		JOIN		tbl_SchemaGroupProcess sgp WITH (NOLOCK)
						ON sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID
		JOIN		tbl_SchemaGroup sg WITH (NOLOCK)
						ON sgp.SchemaGroupID = sg.SchemaGroupID
		WHERE		sgps.ProcessStarted IS NOT NULL
		AND			sgps.ProcessFinished IS NOT NULL

		/* ---------------------------------
		2.  Process averages
		------------------------------------ */
		SELECT		s.Arch, s.Flavor, s.WF, sg.GrName, sgp.PrName, AVG(DATEDIFF(mi, sgps.ProcessStarted, sgps.ProcessFinished)) As [Average Minutes]
		FROM		#Builds s WITH (NOLOCK)
		JOIN		tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
						ON sgps.SessionID = s.SessionID
		JOIN		tbl_SchemaGroupProcess sgp WITH (NOLOCK)
						ON sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID
		JOIN		tbl_SchemaGroup sg WITH (NOLOCK)
						ON sgp.SchemaGroupID = sg.SchemaGroupID
		WHERE		sgps.ProcessStarted IS NOT NULL
		AND			sgps.ProcessFinished IS NOT NULL
		GROUP BY	s.Arch, s.Flavor, s.WF, sg.GrName, sgp.PrName

		/* ---------------------------------
		3.  Process averages
		------------------------------------ */
		SELECT		s.Arch, s.Flavor, s.WF, COUNT(s.SessionID) As [Number of Builds]
		FROM		#Builds s WITH (NOLOCK)
		GROUP BY	s.Arch, s.Flavor, s.WF

		/* ---------------------------------
		4.  Total time
		------------------------------------ */
		SELECT		s.SessionID, s.Revision, s.Arch, s.Flavor, s.WF, DATEDIFF(mi, s.Started, s.Finished) As [Total Minutes]
		FROM		#Builds s WITH (NOLOCK)

		DROP TABLE #Builds

END
GO
