USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateIssueThatReminderHasBeenSent]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_UpdateIssueThatReminderHasBeenSent]
	(
		@IssueID int,
		@Text varchar(8000),
		@UserName varchar(50)
	)
AS
	SET NOCOUNT ON
	
	EXEC sp_AddIssueLog @IssueID, @Text, @UserName, null, 0, 0
	
	UPDATE tbl_Issue WITH (ROWLOCK)
	   SET IsCCManagerOnEmails = 1
	 WHERE IssueID = @IssueID
	
	RETURN 


GO
