USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_UserSession]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserSession](
	[UserSessionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [varchar](50) NULL,
	[SessionID] [int] NULL,
	[SeComment] [varchar](1000) NULL,
	[SeRemoved] [bit] NULL,
 CONSTRAINT [PK_tbl_UserSession] PRIMARY KEY NONCLUSTERED 
(
	[UserSessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_UserSession] ADD  CONSTRAINT [DF_tbl_UserSession_SeRemoved]  DEFAULT (0) FOR [SeRemoved]
GO
