USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMilestonesByOrgOrOrphaned]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetMilestonesByOrgOrOrphaned]
(
	@OrgID int
)
AS
/*	Modified by	Date		Change
	***********************************************************
	willbar		11/4/2009	Created
*/
	set nocount on
	
	 select distinct
		m.MilestoneID, 
		MiName, 
		MiDescription,
		MiOrder
	 from	tbl_Milestone m with (nolock) 
		left outer join tbl_Lab l with (nolock) on l.MilestoneID = m.MilestoneID
		left outer join tbl_Org o with (nolock) on l.OrgID = o.OrgID
	 where	o.OrgID = @OrgId or o.OrgID is null
	 order by  MiOrder
	 
	RETURN


GO
