USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddProcess]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddProcess]
	(
		@ShortName varchar(10),
		@Name varchar(50)
	)
AS
	SET NOCOUNT ON
	
	-- Get the next ProcessID.
	DECLARE @ProcessID int
	SELECT @ProcessID = MAX(ProcessID) + 1
	  FROM tbl_Process 
	
	IF @ProcessID IS NULL
		SELECT @ProcessID = 1
	
	-- Insert the new Process.
	INSERT
	  INTO tbl_Process (ProcessID, PrShortName, PrName)
	VALUES (@ProcessID, @ShortName, @Name)
	
	SELECT @ProcessID As NewProcessID
	
	RETURN 
GO
