USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_ChtAvgTTFPerCategory_old]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_ChtAvgTTFPerCategory_old]
	(
		@From datetime,
		@To datetime,
		@Labs varchar(255),
		@Sources varchar(255),
		@CostCenters varchar(2000),
		@IncludeNoTeam bit,
		@SeverityIDs varchar(255) = '1,2'
	)
AS
	SET NOCOUNT ON
	
	-- Only issues w/o a team specified.
	IF @CostCenters = '0'
		BEGIN
			SELECT src.SoName, src.SourceID, COUNT(DISTINCT i.IssueID) As NumberOfIssues, AVG(DISTINCT DATEDIFF(mi, i.IsDateCreated, i.IsDateClosed)) as AVGTimeToFix, src.SoOrder
			  FROM tbl_SessionIssue iss WITH (NOLOCK)
			  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
			  JOIN tlkp_TargetArchitecture ta WITH (NOLOCK) ON (s.TargetArchitectureID = ta.TargetArchitectureID)
			  JOIN tlkp_Flavor f WITH (NOLOCK) ON (s.FlavorID = f.FlavorID)
			  JOIN tlkp_LocaleSet ls WITH (NOLOCK) ON (s.LocaleSetID = ls.LocaleSetID)
			  JOIN tbl_Issue i WITH (NOLOCK) ON (iss.IssueID = i.IssueID)
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID) 
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (i.IssueID = isrc.IssueID)
			  JOIN tlkp_Source src WITH (NOLOCK) ON (isrc.SourceID = src.SourceID)
			  JOIN fn_ParseCommaDelimitedList(@Sources) sources ON (isrc.SourceID = sources.ItemID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) svr ON (i.SeverityID = svr.ItemID)
			 WHERE DATEDIFF(dd, i.IsDateClosed, @From) <= 0
			   AND DATEDIFF(dd, i.IsDateClosed, @To) >= 0
			   AND (i.IsCostCenter IS NULL
					OR i.IsCostCenter = ''
					OR i.IsCostCenter NOT IN (SELECT CostCenterID FROM CostCenter..tbl_CostCenter))
			   AND i.IsDeleted = 0
			   AND i.IsClosed = 1
			   AND src.SourceID <> 11 -- Not information.
			   AND src.SourceID <> 2 -- Raw Suites
			   AND s.FlavorID NOT IN (5) -- No DAT builds.
			   AND l.VBL = 1
			   AND s.SeRevision NOT LIKE '%_DEL'
		  GROUP BY src.SoName, src.SoOrder, src.SourceID
		  ORDER BY src.SoOrder	
		END	
		
	-- Include issue w/o a team specified.
	ELSE IF @IncludeNoTeam = 1
		BEGIN
			SELECT src.SoName, src.SourceID, COUNT(DISTINCT i.IssueID) As NumberOfIssues, AVG(DISTINCT DATEDIFF(mi, i.IsDateCreated, i.IsDateClosed)) as AVGTimeToFix, src.SoOrder
			  FROM tbl_SessionIssue iss WITH (NOLOCK)
			  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
			  JOIN tlkp_TargetArchitecture ta WITH (NOLOCK) ON (s.TargetArchitectureID = ta.TargetArchitectureID)
			  JOIN tlkp_Flavor f WITH (NOLOCK) ON (s.FlavorID = f.FlavorID)
			  JOIN tlkp_LocaleSet ls WITH (NOLOCK) ON (s.LocaleSetID = ls.LocaleSetID)
			  JOIN tbl_Issue i WITH (NOLOCK) ON (iss.IssueID = i.IssueID)
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID) 
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (i.IssueID = isrc.IssueID)
			  JOIN tlkp_Source src WITH (NOLOCK) ON (isrc.SourceID = src.SourceID)
			  JOIN fn_ParseCommaDelimitedList(@Sources) sources ON (isrc.SourceID = sources.ItemID)
			  JOIN fn_ParseCommaDelimitedList(@CostCenters) teams ON (i.IsCostCenter = teams.ItemID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) svr ON (i.SeverityID = svr.ItemID)
			 WHERE DATEDIFF(dd, i.IsDateClosed, @From) <= 0
			   AND DATEDIFF(dd, i.IsDateClosed, @To) >= 0
			   AND i.IsDeleted = 0
			   AND i.IsClosed = 1
			   AND src.SourceID <> 11 -- Not information.
			   AND src.SourceID <> 2 -- Raw Suites
			   AND s.FlavorID NOT IN (5) -- No DAT builds.
			   AND l.VBL = 1
			   AND s.SeRevision NOT LIKE '%_DEL'
		  GROUP BY src.SoName, src.SoOrder, src.SourceID
		
			UNION 

			SELECT src.SoName, src.SourceID, COUNT(DISTINCT i.IssueID) As NumberOfIssues, AVG(DISTINCT DATEDIFF(mi, i.IsDateCreated, i.IsDateClosed)) as AVGTimeToFix, src.SoOrder
			  FROM tbl_SessionIssue iss WITH (NOLOCK)
			  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
			  JOIN tlkp_TargetArchitecture ta WITH (NOLOCK) ON (s.TargetArchitectureID = ta.TargetArchitectureID)
			  JOIN tlkp_Flavor f WITH (NOLOCK) ON (s.FlavorID = f.FlavorID)
			  JOIN tlkp_LocaleSet ls WITH (NOLOCK) ON (s.LocaleSetID = ls.LocaleSetID)
			  JOIN tbl_Issue i WITH (NOLOCK) ON (iss.IssueID = i.IssueID)
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID) 
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (i.IssueID = isrc.IssueID)
			  JOIN tlkp_Source src WITH (NOLOCK) ON (isrc.SourceID = src.SourceID)
			  JOIN fn_ParseCommaDelimitedList(@Sources) sources ON (isrc.SourceID = sources.ItemID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) svr ON (i.SeverityID = svr.ItemID)
			 WHERE DATEDIFF(dd, i.IsDateClosed, @From) <= 0
			   AND DATEDIFF(dd, i.IsDateClosed, @To) >= 0
			   AND (i.IsCostCenter IS NULL
					OR i.IsCostCenter = ''
					OR i.IsCostCenter NOT IN (SELECT CostCenterID FROM CostCenter..tbl_CostCenter))
			   AND i.IsDeleted = 0
			   AND i.IsClosed = 1
			   AND src.SourceID <> 11 -- Not information.
			   AND src.SourceID <> 2 -- Raw Suites
			   AND s.FlavorID NOT IN (5) -- No DAT builds.
			   AND l.VBL = 1
			   AND s.SeRevision NOT LIKE '%_DEL'
		  GROUP BY src.SoName, src.SoOrder, src.SourceID
		  ORDER BY src.SoOrder		 

		END
		
	-- No issues w/o a team specified.
	ELSE
		BEGIN
			SELECT src.SoName, src.SourceID, COUNT(DISTINCT i.IssueID) As NumberOfIssues, AVG(DISTINCT DATEDIFF(mi, i.IsDateCreated, i.IsDateClosed)) as AVGTimeToFix, src.SoOrder
			  FROM tbl_SessionIssue iss WITH (NOLOCK)
			  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
			  JOIN tlkp_TargetArchitecture ta WITH (NOLOCK) ON (s.TargetArchitectureID = ta.TargetArchitectureID)
			  JOIN tlkp_Flavor f WITH (NOLOCK) ON (s.FlavorID = f.FlavorID)
			  JOIN tlkp_LocaleSet ls WITH (NOLOCK) ON (s.LocaleSetID = ls.LocaleSetID)
			  JOIN tbl_Issue i WITH (NOLOCK) ON (iss.IssueID = i.IssueID)
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID) 
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (i.IssueID = isrc.IssueID)
			  JOIN tlkp_Source src WITH (NOLOCK) ON (isrc.SourceID = src.SourceID)
			  JOIN fn_ParseCommaDelimitedList(@Sources) sources ON (isrc.SourceID = sources.ItemID)
			  JOIN fn_ParseCommaDelimitedList(@CostCenters) teams ON (i.IsCostCenter = teams.ItemID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) svr ON (i.SeverityID = svr.ItemID)
			 WHERE DATEDIFF(dd, i.IsDateClosed, @From) <= 0
			   AND DATEDIFF(dd, i.IsDateClosed, @To) >= 0
			   AND i.IsDeleted = 0
			   AND i.IsClosed = 1
			   AND src.SourceID <> 11 -- Not information.
			   AND src.SourceID <> 2 -- Raw Suites
			   AND s.FlavorID NOT IN (5) -- No DAT builds.
			   AND l.VBL = 1
			   AND s.SeRevision NOT LIKE '%_DEL'
		  GROUP BY src.SoName, src.SoOrder, src.SourceID
		  ORDER BY src.SoOrder	

		END
			
	

		

	RETURN 











GO
