USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_LabRuleAlias]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LabRuleAlias](
	[LabRuleID] [int] NOT NULL,
	[UserAlias] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_LabRuleAlias] PRIMARY KEY CLUSTERED 
(
	[LabRuleID] ASC,
	[UserAlias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_LabRuleAlias]  WITH CHECK ADD  CONSTRAINT [FK_tbl_LabRuleAlias_tbl_LabRule] FOREIGN KEY([LabRuleID])
REFERENCES [dbo].[tbl_LabRule] ([LabRuleID])
GO
ALTER TABLE [dbo].[tbl_LabRuleAlias] CHECK CONSTRAINT [FK_tbl_LabRuleAlias_tbl_LabRule]
GO
