USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_DeleteSessionGroup]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_DeleteSessionGroup]
    @SessionGroupID int 
    
AS
    DELETE FROM tbl_SessionGroup 
    WHERE SessionGroupID=@SessionGroupID

    RETURN
GO
