USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessionGroups_Temp]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[up_GetSessionGroups_Temp]
(
	@SessionID int,
	@CategoryIDs varchar(2000) = ''
)
AS
/*	Modified by		Date		Change
	=============================================
	abjork			01/03/2007	Added in the LabStatusLog table which includes the full
								log entry.  This was missing previously.
	karthip			07/20/2007	Increased the column width of PrName (Process name) field
*/
BEGIN

SET NOCOUNT ON

	-- Groups.
	SELECT		sgs.*, sg.GrName
	INTO		#Groups
	FROM		tbl_SessionGroupStatus sgs WITH (NOLOCK)
	JOIN		tbl_SchemaGroup sg WITH (NOLOCK)
					ON (sgs.SchemaGroupID = sg.SchemaGroupID)
	WHERE		sgs.SessionID = @SessionID

    CREATE TABLE #GroupsSort (SessionGroupStatusID INT, SessionID INT, SchemaGroupID INT, StatusID INT,
        GroupStarted DateTime, GroupFinished DateTime, HasErrors BIT, HasWarnings BIT, Skip Bit, 
        GrName VARCHAR(200), RowNumber INT IDENTITY (1, 1) PRIMARY KEY CLUSTERED)

	INSERT INTO #GroupsSort
    SELECT      *
	FROM		#Groups
    WHERE       GroupStarted IS NOT NULL
	--ORDER BY	GroupStarted ASC

	INSERT INTO #GroupsSort
    SELECT      *
	FROM		#Groups
    WHERE       GroupStarted IS NULL
	ORDER BY	SessionGroupStatusID ASC

	SELECT		*
	FROM		#GroupsSort
    ORDER BY    RowNumber
    
    DROP TABLE  #GroupsSort

	-- Processes.
    CREATE TABLE #Processes (SessionGroupProcessStatusID INT PRIMARY KEY NONCLUSTERED, SessionID INT, SchemaGroupProcessID INT, RunNumber INT,
        StatusID INT, ProcessStarted DateTime, ProcessFinished DateTime, HasErrors BIT, HasWarnings BIT, Skip Bit, 
        IgnoreTiming BIT, ProcessComment VARCHAR(1000), Stalled BIT, SchemaGroupID INT, PrName VARCHAR(200), PrDocLink VARCHAR(255)
	)
	CREATE CLUSTERED INDEX [IX_ProcessesProcessStarted] ON #Processes
	(
		ProcessStarted ASC, 
		SessionGroupProcessStatusID ASC
	)

	;WITH Session AS
	(
	SELECT		DISTINCT sgps.*, sgp.SchemaGroupID, sgp.PrName, sgp.PrDocLink
		FROM		tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
		JOIN		tbl_SchemaGroupProcess sgp WITH (NOLOCK)
						ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID)
		WHERE		sgps.SessionID = @SessionID
	)

	INSERT INTO #Processes
	Select	S.*
	FROM	Session S
	Inner Join #Groups g ON (S.SchemaGroupID = g.SchemaGroupID)

    CREATE TABLE #ProcessesSort (SessionGroupProcessStatusID INT, SessionID INT, SchemaGroupProcessID INT, RunNumber INT,
        StatusID INT, ProcessStarted DateTime, ProcessFinished DateTime, HasErrors BIT, HasWarnings BIT, Skip Bit, 
        IgnoreTiming BIT, ProcessComment VARCHAR(1000), Stalled BIT, SchemaGroupID INT, PrName VARCHAR(200), PrDocLink VARCHAR(255), 
	    RowNumber INT IDENTITY (1, 1) PRIMARY KEY CLUSTERED)

	INSERT INTO #ProcessesSort
    SELECT      *
	FROM		#Processes
    WHERE       ProcessStarted IS NOT NULL
	ORDER BY	ProcessStarted ASC

	INSERT INTO #ProcessesSort
    SELECT      *
	FROM		#Processes
    WHERE       ProcessStarted IS NULL
	ORDER BY	SessionGroupProcessStatusID ASC

	SELECT		*
	FROM		#ProcessesSort
    ORDER BY    RowNumber
    
    DROP TABLE  #ProcessesSort

	;WITH LogErrorCTE AS
	( 	
		SELECT	le.SessionID, le.LogEntryID, le.CategoryID, le.Processed
		FROM	tbl_LogError le WITH (NOLOCK)
		WHERE	SessionID = @SessionID 
	)

	-- Process logs.
	SELECT		l.LogEntryID, l.SessionID, l.ProcessID, l.CategoryID, l.LoDateTimeStamp, l.LoDateTimeLogged,
				l.LoMachineName, l.SessionGroupStatusID, l.SessionGroupProcessStatusID,
				CASE 
					WHEN lgd.LoExtendedLog IS NULL THEN l.LoLog
					ELSE lgd.LoExtendedLog
				END As LoLog,
				COALESCE(err.Processed, 0) As Processed, ierr.IssueID, p.SessionGroupProcessStatusID
	FROM		(SELECT	l.* FROM tbl_Log l WITH (NOLOCK) WHERE	SessionID = @SessionID) l 
	JOIN		#Processes p
					ON (l.SessionGroupProcessStatusID = p.SessionGroupProcessStatusID)
	LEFT JOIN	LogErrorCTE err
					ON (l.LogEntryID = err.LogEntryID)
	LEFT JOIN	atbl_IssueLogError ierr WITH (NOLOCK) 
					ON (l.LogEntryID = ierr.LogEntryID)
	LEFT JOIN	LabStatusLog..tbl_LogData lgd WITH (NOLOCK) 
					ON (l.LogEntryID = lgd.LogEntryID)
	WHERE		@CategoryIDs = ''
	OR			l.CategoryID IN (SELECT ItemID FROM dbo.fn_ParseCommaDelimitedList(@CategoryIDs))
	ORDER BY	l.LoDateTimeStamp ASC
	
	DROP TABLE #Groups, #Processes
	
	RETURN 

END	

GO
