USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBuildsByLabAndDate]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetBuildsByLabAndDate]
	(
		@LabID int,
		@From datetime,
		@To datetime
	)
AS
/*	Modified by	Date		Change
	***********************************************************
	karthip		04/18/2006	Created the sproc
*/
	SET NOCOUNT ON	
	
	--Strip time part
	Set @From = Cast(Convert(varchar(10), @From, 101) As datetime)
	Set @To = Cast(Convert(varchar(10), @To, 101) As datetime) + 1 --Add one day to include the @To date's builds

	SELECT	
	DISTINCT	Cast(Convert(varchar(10), SeBuildDate, 101) As datetime) As SeBuildDate,
			s.SeRevision
	FROM		tbl_Session s WITH (NOLOCK)
    	WHERE	LabID = @LabID
	AND		s.SeBuildDate >= @From
	AND		s.SeBuildDate <= @To
	Order By	s.SeBuildDate
GO
