USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_AddFixForSetup]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_AddFixForSetup]
(
	@IssueID int,
	@IsAutomated bit,
	@SourceCodeFixCategoryID int,
	@UserName varchar(50)
)
AS
BEGIN
	/*********************************************
	DESCRIPTION
		Submits a setup issue fix
	************************************************/

	DECLARE @FixDefinitionID int

	--Create the source code fix definition
	INSERT INTO tbl_FixDefSourceCode
	(SourceCodeFixCategoryID)
	VALUES
	(@SourceCodeFixCategoryID)

	SET @FixDefinitionID = @@IDENTITY
	
	--create the fix base
        --4 is a "Setup" fix
	exec up_AddFixBase 4, @IssueID, 'TRUE', @UserName, @FixDefinitionID
	
	SELECT @FixDefinitionID
END
GO
