USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLabIDForShortName]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

create procedure [dbo].[sp_GetLabIDForShortName]
(
	@ShortName varchar(10)
)
as
/*	Modified by	Date		Change
	***********************************************************
	a-karthp		08/25/2005	Created the sproc
*/
	declare @LabID int 

	select	@LabID = LabID
	from	tbl_Lab
	where 	LaShortName =  @ShortName
	
	select isnull(@LabID,0)
GO
