USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_ComputeAvgBuildTimes]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ComputeAvgBuildTimes]
AS
	SET NOCOUNT ON
	
	SELECT sgp.SchemaGroupProcessID, AVG(DATEDIFF(mi, sgps.ProcessStarted, sgps.ProcessFinished)) As AvgBuildTime
	  INTO #AvgBuildTimes
	  FROM tbl_SessionGroupProcessStatus sgps WITH (NOLOCK) 
	  JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID)
	  JOIN tbl_Session s WITH (NOLOCK) ON (sgps.SessionID = s.SessionID)
	  JOIN tbl_Schema sc WITH (NOLOCK) ON (s.SchemaID = sc.SchemaID)
	  JOIN tbl_Product p WITH (NOLOCK) ON (sc.SchemaID = p.SchemaID)
	 WHERE sgps.ProcessStarted IS NOT NULL
	   AND sgps.ProcessFinished IS NOT NULL
	   AND sgps.IgnoreTiming = 0
	   AND sgp.SchemaGroupProcessID IN 
	   (
		SELECT TOP 10 sgp2.SchemaGroupProcessID
		  FROM tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
	      JOIN tbl_SchemaGroupProcess sgp2 WITH (NOLOCK) ON (sgps.SchemaGroupProcessID = sgp2.SchemaGroupProcessID)
	      JOIN tbl_Session s WITH (NOLOCK) ON (sgps.SessionID = s.SessionID)
	      JOIN tbl_Schema sc WITH (NOLOCK) ON (s.SchemaID = sc.SchemaID)
	      JOIN tbl_Product p WITH (NOLOCK) ON (sc.SchemaID = p.SchemaID)
	     WHERE sgps.ProcessStarted IS NOT NULL
	       AND sgps.ProcessFinished IS NOT NULL
	       AND sgps.IgnoreTiming = 0
	       AND sgp2.SchemaGroupProcessID = sgp.SchemaGroupProcessID
	  ORDER BY sgps.ProcessStarted DESC
	   )
  GROUP BY p.ProductID, sgp.SchemaGroupProcessID
  ORDER BY p.ProductID
	
	UPDATE tbl_SchemaGroupProcess WITH (ROWLOCK)
	   SET tbl_SchemaGroupProcess.AvgBuildTime = tp.AvgBuildTime
	  FROM #AvgBuildTimes tp WITH (NOLOCK) 
	 WHERE tp.SchemaGroupProcessID = tbl_SchemaGroupProcess.SchemaGroupProcessID
	
	DROP TABLE #AvgBuildTimes
	
	-- Now, update all the build times which are equal to 0 to be 30 minutes.
	-- This is the default setting.
	--UPDATE tbl_SchemaGroupProcess
	--   SET AvgBuildTime = 0
	-- WHERE AvgBuildTime = 0
	
	RETURN 

GO
