USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_UpdateSessionGroupExpirationInfo]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_UpdateSessionGroupExpirationInfo]
    @SessionGroupID INT,
    @ExpirationDate DATETIME = null,
    @SetterAlias VARCHAR(100)
AS
BEGIN
    IF @SetterAlias IS NULL
    BEGIN
       RETURN
    END

    UPDATE tbl_SessionGroup
    SET SeLastExtendAlias = @SetterAlias, SeExpirationDate=ISNULL(@ExpirationDate, GetDate())
    WHERE SessionGroupID = @SessionGroupID

END
GO
