USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMSDNLab]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE procedure [dbo].[sp_GetMSDNLab]
(
	@LabID int
)
as
/*	Modified by	Date		Change
	***********************************************************
	a-karthp		09/13/2005	Created the sproc
*/
	select	*
	from	tbl_Lab
	where 	LabID = (select MSDNLabID from tbl_Lab where LabID = @LabID)
GO
