USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_RptNumberOfIssuesPerDayRolledUpByDate]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RptNumberOfIssuesPerDayRolledUpByDate]
	(
		@From datetime,
		@To datetime,
		@Labs varchar(1000),
		@CostCenter int,
		@SeverityIDs varchar(255) = '1,2'
	)
AS
	SET NOCOUNT ON
	
	IF @CostCenter = 0
		BEGIN
			SELECT DatePart(dy, i.IsDateClosed) As DayOfYear, DatePart(mm, i.IsDateClosed) As [Month], DatePart(dd, i.IsDateClosed) As [Day], DatePart(yy, i.IsDateClosed) As [Year], COUNT(DISTINCT i.IssueID) As NumberOfIssues
			  FROM tbl_SessionIssue iss WITH (NOLOCK)
			  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
			  JOIN tbl_Issue i WITH (NOLOCK) ON (iss.IssueID = i.IssueID)
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID) 
   			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (i.IssueID = isrc.IssueID)
			  JOIN tlkp_Source src WITH (NOLOCK) ON (isrc.SourceID = src.SourceID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) sv ON (i.SeverityID = sv.ItemID)
			 WHERE DATEDIFF(dd, i.IsDateClosed, @From) <= 0
			   AND DATEDIFF(dd, i.IsDateClosed, @To) >= 0
			   AND i.IsDeleted = 0
			   AND src.SourceID <> 11 -- Not information.
			   AND src.SourceID <> 2 -- Raw Suites
			   AND s.FlavorID NOT IN (5) -- No DAT builds.
			   AND l.VBL = 1
			   AND s.SeRevision NOT LIKE '%_DEL'
		  GROUP BY DatePart(dy, i.IsDateClosed), DatePart(yy, i.IsDateClosed), DatePart(mm, i.IsDateClosed), DatePart(dd, i.IsDateClosed)
		  ORDER BY DatePart(yy, i.IsDateClosed) DESC, DatePart(dy, i.IsDateClosed) DESC, DatePart(mm, i.IsDateClosed), DatePart(dd, i.IsDateClosed)
		END

	ELSE IF @CostCenter <> 0
		BEGIN
			SELECT DatePart(dy, i.IsDateClosed) As DayOfYear, DatePart(mm, i.IsDateClosed) As [Month], DatePart(dd, i.IsDateClosed) As [Day], DatePart(yy, i.IsDateClosed) As [Year], COUNT(DISTINCT i.IssueID) As NumberOfIssues
			  FROM tbl_SessionIssue iss WITH (NOLOCK)
			  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
			  JOIN tbl_Issue i WITH (NOLOCK) ON (iss.IssueID = i.IssueID)
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID) 
   			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (i.IssueID = isrc.IssueID)
			  JOIN tlkp_Source src WITH (NOLOCK) ON (isrc.SourceID = src.SourceID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) sv ON (i.SeverityID = sv.ItemID)
			 WHERE DATEDIFF(dd, i.IsDateClosed, @From) <= 0
			   AND DATEDIFF(dd, i.IsDateClosed, @To) >= 0
			   AND i.IsCostCenter = @CostCenter		-- Filter by cost center
			   AND i.IsDeleted = 0
			   AND src.SourceID <> 11 -- Not information.
			   AND src.SourceID <> 2 -- Raw Suites
			   AND s.FlavorID NOT IN (5) -- No DAT builds.
			   AND l.VBL = 1
			   AND s.SeRevision NOT LIKE '%_DEL'
		  GROUP BY DatePart(dy, i.IsDateClosed), DatePart(yy, i.IsDateClosed), DatePart(mm, i.IsDateClosed), DatePart(dd, i.IsDateClosed)
		  ORDER BY DatePart(yy, i.IsDateClosed) DESC, DatePart(dy, i.IsDateClosed) DESC, DatePart(mm, i.IsDateClosed), DatePart(dd, i.IsDateClosed)	
		END	

	RETURN 









GO
