USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionGroupLogs_PROD2]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSessionGroupLogs_PROD2]
(
	@SessionGroupStatusID int,
	@CategoryIDs varchar(255)
)
AS
	SET NOCOUNT ON
	
	SELECT l.*, lgd.LoExtendedLog, p.PrName, c.CaName, c.CaShortName, c.CategoryTypeID, c.CaColor, le.Processed, g.GrName
	  FROM tbl_SessionGroupProcessStatus sgps 
	  JOIN tbl_SchemaGroupProcess p WITH (READPAST) ON (sgps.SchemaGroupProcessID = p.SchemaGroupProcessID)
	  JOIN tbl_SessionGroupStatus sgs WITH (READPAST) ON (p.SchemaGroupID = sgs.SchemaGroupID AND sgs.SessionGroupStatusID = @SessionGroupStatusID)
	  JOIN tbl_SchemaGroup g WITH (NOLOCK) ON (p.SchemaGroupID = g.SchemaGroupID)
	  JOIN tbl_Log l WITH (READPAST) ON (l.SessionGroupProcessStatusID = sgps.SessionGroupProcessStatusID AND l.SessionGroupStatusID = sgs.SessionGroupStatusID) 
	  JOIN tlkp_Category c WITH (READPAST) ON (l.CategoryID = c.CategoryID)
      JOIN fn_ParseCommaDelimitedList(@CategoryIDs) cg ON (l.CategoryID = cg.ItemID)
 LEFT JOIN tbl_LogError le WITH (READPAST) ON (l.LogEntryID = le.LogEntryID)	  
 LEFT JOIN LabStatusLog..tbl_LogData lgd WITH (READPAST) ON (l.LogEntryID = lgd.LogEntryID)
	 WHERE l.SessionGroupStatusID = @SessionGroupStatusID
  ORDER BY l.LoDateTimeStamp ASC
	RETURN 
GO
