USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetIssueLogs]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetIssueLogs]
(
	@IssueID int
)
AS
	SET NOCOUNT ON
	
	SELECT *
	  FROM tbl_IssueLog WITH (NOLOCK)
	 WHERE IssueID = @IssueID
  ORDER BY LoDateCreated DESC
	
	
	RETURN 
GO
