USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionGroupProcessLogs_PROD1]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSessionGroupProcessLogs_PROD1]
(
	@SessionGroupProcessStatusID int,
	@CategoryIDs varchar(255)
)
AS
	SET NOCOUNT ON
	
	SELECT l.*, lgd.LoExtendedLog, p.PrName, c.CaName, c.CaShortName, c.CategoryTypeID, c.CaColor, le.Processed
	  FROM tbl_Log l WITH (READPAST)
      JOIN fn_ParseCommaDelimitedList(@CategoryIDs) cg ON (l.CategoryID = cg.ItemID)
 LEFT JOIN tbl_LogError le WITH (READPAST) ON (l.LogEntryID = le.LogEntryID)	  
 LEFT JOIN LabStatusLog..tbl_LogData lgd WITH (READPAST) ON (l.LogEntryID = lgd.LogEntryID)
	  JOIN tbl_SessionGroupProcessStatus sgps WITH (READPAST) ON (l.SessionGroupProcessStatusID = sgps.SessionGroupProcessStatusID)
	  JOIN tbl_SchemaGroupProcess p WITH (READPAST) ON (sgps.SchemaGroupProcessID = p.SchemaGroupProcessID)
	  JOIN tlkp_Category c WITH (READPAST) ON (l.CategoryID = c.CategoryID)
	 WHERE l.SessionGroupProcessStatusID = @SessionGroupProcessStatusID
  ORDER BY l.LoDateTimeStamp ASC
	RETURN 
GO
