USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_IssueReminderDayLate]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[sp_IssueReminderDayLate]
AS
	SET NOCOUNT ON
	
	SELECT *, DATEDIFF(dd, IsDateCreated, GetDate()) As IssueAge
	  FROM tbl_Issue WITH (NOLOCK)
	 --JOIN tbl_SessionIssue WITH (NOLOCK) ON (tbl_Issue.IssueID = tbl_SessionIssue.IssueID)
	 WHERE DATEDIFF(hh, IsDateCreated, GetDate()) > 24 -- that was opened prior to today
	   AND IsClosed = 0 -- 0 is an OPEN issue
	   AND IsDeleted = 0 -- 0 is a NON-DELETED issue
	   AND IsTitle NOT LIKE '%BFD21%'
	   AND IsTitle NOT LIKE '%BFD22%'
	   AND IsTitle NOT LIKE '%BFD23%'
   	   AND IsMachineAccessOnly = 0
   	   AND IsDeleted = 0	
	   AND DATEDIFF(dd, IsDateCreated, GetDate()) < 90
	   
	RETURN 

GO
