USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStatuses]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetStatuses]
AS
	SET NOCOUNT ON
	
	SELECT StatusID, StName, StColor
	  FROM tlkp_Status WITH (NOLOCK)
  ORDER BY StSortOrder
	
	RETURN 
GO
