USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessionsTemp]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[up_GetSessionsTemp]  
(
	@SessionIDs varchar(8000)
)
WITH RECOMPILE
AS
BEGIN
    SET NOCOUNT ON

	DECLARE @X int

	-- Create a temp table with all the session ids in it.
    CREATE TABLE #SessionID (SessionID INT, RowNumber INT IDENTITY (1, 1))
    INSERT INTO #SessionID
    SELECT  ItemID AS [SessionID]
    FROM    dbo.fn_ParseCommaDelimitedList(@SessionIDs) 

	-- Create a temp table with all the log information that we're
	-- going to need here.
	SELECT	l.SessionID, l.LogEntryID, l.CategoryID, l.LoDateTimeLogged
	INTO	#Log
	FROM	tbl_Log l WITH (NOLOCK)
	JOIN	#SessionID s
				ON (l.SessionID = s.SessionID)

	-- Create a temp table with all the new log information
	-- going to need here.
	SELECT	le.SessionID, le.LogEntryID, le.CategoryID, le.Processed
	INTO	#NewLog
	FROM	tbl_LogError le WITH (NOLOCK)
	JOIN	#SessionID s
				ON (le.SessionID = s.SessionID)
	--WHERE	le.Processed = 0

	-- Has warnings?
	SELECT		SessionID, COUNT(LogEntryID) As WarningCount
	INTO		#Warnings
	FROM		#Log
	WHERE		CategoryID = 2
	GROUP BY	SessionID

	-- Has errors?
	SELECT		SessionID, COUNT(LogEntryID) As ErrorCount
	INTO		#Errors
	FROM		#Log
	WHERE		CategoryID = 3
	GROUP BY	SessionID

	-- Has stall warnings?
	SELECT		SessionID, COUNT(LogEntryID) As StallWarningCount
	INTO		#StallWarnings
	FROM		#Log
	WHERE		CategoryID = 4
	GROUP BY	SessionID

	-- New error count?
	SELECT		SessionID, COUNT(LogEntryID) As NewErrorCount
	INTO		#NewErrors
	FROM		#NewLog
	WHERE		CategoryID = 3
	AND	        Processed = 0
	GROUP BY	SessionID

	-- New stall warning count?
	SELECT		SessionID, COUNT(LogEntryID) As NewStallWarningCount
	INTO		#NewStallWarnings
	FROM		#NewLog
	WHERE		CategoryID = 4
	AND	        Processed = 0
	GROUP BY	SessionID

	/* Here we need to query every process that is actually running for the sessions
	we're going to return.  We'll use this table to count them up later and ensure
	that we have at least one process running for the build. */
	SELECT	sgps.SessionID, sgps.SessionGroupProcessStatusID, sgps.Stalled
	INTO	#Processes
	FROM	tbl_SessionGroupProcessStatus sgps WITH (READPAST, INDEX(IDX_SessionGroupProcessStatus_SessionID))
	JOIN	#SessionId sid ON (sgps.SessionID = sid.SessionID)
	WHERE	(sgps.StatusID = 2 OR sgps.StatusID = 4 OR sgps.StatusID = 9)
	AND		sgps.Skip = 0

	/* Last process to finish for each running session */
	SELECT		sgps.SessionID, MAX(DISTINCT sgps.ProcessFinished) As ProcessFinished
	INTO		#ProcessesFinished
	FROM		tbl_SessionGroupProcessStatus sgps WITH (READPAST) 
	JOIN		tbl_Session s WITH (NOLOCK)
				ON (sgps.SessionID = s.SessionID)
	JOIN		#SessionID ss
					ON (s.SessionID = ss.SessionID)
	WHERE		s.StatusID IN (2,11,12)
	AND			(sgps.StatusID = 3 OR sgps.StatusID = 5 OR sgps.StatusID = 6 OR sgps.StatusID = 8) 
	AND			(sgps.Skip = 0)
	GROUP BY	sgps.SessionID

	-- Sessions.
	SELECT		s.SessionID, s.LabID, s.FlavorID, s.TargetArchitectureID, s.LocaleSetID, s.SeRevision,
				s.StatusID, s.SeStarted, s.SeFinished, s.SeComment, s.SeSetups, s.SeSetupsFinished, s.SeDropPath,
				s.SeBuildMachine, s.SeBuildDate, s.SeTestBuild, s.SeManuallyStalled, s.SeManuallyStalledStep, s.SeDelayed, s.ResumeStatusID,
				w.WarningCount, e.ErrorCount, sw.StallWarningCount,	ne.NewErrorCount, nsw.NewStallWarningCount, s.SeLayoutsAbandoned,
				bvt.RawBVTs, bvt.RawStatus, bvt.RawLink, bvt.LayoutBVTs, bvt.LayoutStatus, bvt.LayoutLink, bvt.LastUpdated As BVTsLastUpdated,
				LastError = 
					(
						/* Select the date/time of the latest error */
						SELECT	DISTINCT MAX(lg.LoDateTimeLogged)
						FROM	tbl_Log lg WITH (READPAST)
						WHERE	s.SessionID = lg.SessionID
						AND		lg.CategoryID = 3
					),
				NumberOfStalledProcesses =
					(
						/* Select the number of stalled processes */
						
						SELECT	DISTINCT COUNT(p.SessionGroupProcessStatusID)
						FROM	#Processes p
						WHERE	p.SessionID = s.SessionID
						AND		p.Stalled = 1 
					),
				NumberOfProcessesInProgress = 
					(
						/* Select the number of steps currently running */
						SELECT	DISTINCT COUNT(SessionGroupProcessStatusID)
						FROM	#Processes p
						WHERE	p.SessionID = s.SessionID
					),
				CASE 			
					WHEN StatusID IN (2,11,12) THEN
					(
						/* Now, grab the last process finished (date/time) for each session 
						This is the most expensive query on this page so we do it on it's own
						and with a limited result set. */
						SELECT	ProcessFinished
						FROM	#ProcessesFinished pf
						WHERE	pf.SessionID = s.SessionID
					)
				END As LastProcessFinished,
				BVTDecision = dbo.fn_GetBVTDecision(s.LabID, s.SeBuildDate, s.LocaleSetID, s.SeRevision)
	INTO		#Sessions	
	FROM		#SessionID sid
	JOIN		tbl_Session s WITH (NOLOCK)
					ON (s.SessionID = sid.SessionId)
	LEFT JOIN	#Warnings w
					ON (sid.SessionID = w.SessionID)
	LEFT JOIN	#Errors e
					ON (sid.SessionID = e.SessionID)
	LEFT JOIN	#StallWarnings sw
					ON (sid.SessionID = sw.SessionID)
	LEFT JOIN	#NewErrors ne
					ON (sid.SessionID = ne.SessionID)
	LEFT JOIN	#NewStallWarnings nsw
					ON (sid.SessionID = nsw.SessionID)
	LEFT JOIN	tbl_SessionBVT bvt WITH (NOLOCK)
					ON (s.SessionID = bvt.SessionID)
	JOIN		tlkp_Flavor f WITH (NOLOCK)
					ON (s.FlavorID = f.FlavorID)
    ORDER BY    sid.RowNumber

	SELECT	*
	FROM	#Sessions
	
	-- We can immediately drop the process table.
	DROP TABLE	#Processes, #ProcessesFinished

	-- Flavor.
	SELECT	DISTINCT f.*
	FROM	tlkp_Flavor f WITH (NOLOCK)
	JOIN	#Sessions s
				ON (f.FlavorID = s.FlavorID)	

	-- TargetArchitecture.
	SELECT	DISTINCT ta.*
	FROM	tlkp_TargetArchitecture ta WITH (NOLOCK)
	JOIN	#Sessions s
				ON (ta.TargetArchitectureID = s.TargetArchitectureID)	

	-- LocaleSet.
	SELECT	DISTINCT ls.*
	FROM	tlkp_LocaleSet ls WITH (NOLOCK)
	JOIN	#Sessions s
				ON (ls.LocaleSetID = s.LocaleSetID)		

	-- Lab.
	SELECT	DISTINCT l.*
	FROM	tbl_Lab l WITH (NOLOCK)
	JOIN	#Sessions s
				ON (l.LabID = s.LabID)		

	-- Resume Status.
	SELECT	DISTINCT fs.*
    FROM    tlkp_FixStatus fs
	JOIN	#Sessions s
                ON s.ResumeStatusID = fs.FixStatusID

	-- Issues.

	SELECT	DISTINCT si.SessionID, si.IssueID
    INTO    #Issues
	FROM	atbl_SessionIssue si WITH (NOLOCK)
	JOIN	#SessionID s
				ON (si.SessionID = s.SessionID)	

	SELECT	DISTINCT i.SessionID, iss.*,
			TestBuild = CASE WHEN EXISTS(
                                    SELECT  si.SessionID
				                    FROM	atbl_SessionIssue si WITH (NOLOCK)
				                    JOIN	tbl_Session s WITH (NOLOCK)
							                    ON (si.SessionID = s.SessionID)
				                    WHERE	s.SeTestBuild = 0			
				                    AND		si.IssueID = iss.IssueID) THEN 0
                             ELSE 1
                        END
	FROM	tbl_Issue iss WITH (NOLOCK)
	JOIN	#Issues i WITH (NOLOCK)
				ON (iss.IssueID = i.IssueID)

	-- Severity
	SELECT	DISTINCT se.*
	FROM	tlkp_Severity se WITH (NOLOCK)
	JOIN	tbl_Issue iss WITH (NOLOCK)
				ON (se.SeverityID = iss.SeverityID)		
	JOIN	#Issues i WITH (NOLOCK)
				ON (iss.IssueID = i.IssueID)

    -- Fix
	SELECT	MAX(f.FixId) AS FixId
    INTO    #Fixes
	FROM	tbl_Fix f WITH (NOLOCK)
	JOIN	#Issues i
                ON (i.IssueID = f.IssueID)
    GROUP BY i.IssueID

    SELECT  f.*
    FROM    tbl_Fix f WITH (NOLOCK)
    JOIN    #Fixes fixes
                ON (f.FixId = fixes.FixId)

    -- FixType
	SELECT	DISTINCT ft.*
	FROM	tlkp_FixType ft WITH (NOLOCK)
	JOIN 	tbl_Fix f WITH (NOLOCK)
                ON (f.FixTypeID = ft.FixTypeID)
    JOIN    #Fixes fixes
                ON (f.FixId = fixes.FixId)

	-- Session Fixes.
	SELECT	f.IssueID, sf.*, s.LabID
    FROM    tbl_SessionFix sf WITH (NOLOCK)
	JOIN 	tbl_Fix f WITH (NOLOCK)
                ON f.FixID = sf.FixID
    JOIN    #Fixes fixes
                ON (f.FixId = fixes.FixId)
    JOIN    tbl_Session s WITH (NOLOCK)
                ON s.SessionID = sf.SessionID

	-- Fix Status.
	SELECT	DISTINCT fs.*
    FROM    tlkp_FixStatus fs
    JOIN    tbl_SessionFix sf WITH (NOLOCK)
                ON sf.FixStatusID = fs.FixStatusID
	JOIN 	tbl_Fix f WITH (NOLOCK)
                ON f.FixID = sf.FixID
    JOIN    #Fixes fixes
                ON (f.FixId = fixes.FixId)


	/*
	-- Logs.
	SELECT		l.*, le.Processed
	FROM		tbl_Log l WITH (NOLOCK)
	JOIN		#SessionID s
					ON (l.SessionID = s.SessionID)
	LEFT JOIN	tbl_LogError le WITH (NOLOCK)
					ON (le.SessionID = s.SessionID AND l.LogEntryID = le.LogEntryID)
	--ORDER BY	l.LoDateTimeStamp ASC
	*/

	-- Cleanup.
	DROP TABLE	#Fixes
    DROP TABLE  #Issues
	DROP TABLE	#Warnings, #Errors, #StallWarnings, #NewErrors, #NewStallWarnings
	DROP TABLE	#Sessions
	DROP TABLE	#SessionID
	DROP TABLE	#Log, #NewLog

END


set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON





















GO
