USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionGroupProcessDetails]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSessionGroupProcessDetails]
	(
		@SessionID int
	)
AS
	SET NOCOUNT ON
	
	SELECT sgps.SessionGroupProcessStatusID, sg.GrName As GroupName, p.PrName As ProcessName, sgps.StatusID As ProcessStatus, sgps.HasErrors, sgps.HasWarnings
	  FROM tbl_SessionGroupProcessStatus sgps WITH (NOLOCK) 
	  JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID)
	  JOIN tbl_SchemaGroup sg WITH (NOLOCK) ON (sg.SchemaGroupID = sgp.SchemaGroupID)	  
	  JOIN tbl_Process p WITH (NOLOCK) ON (sgp.ProcessID = p.ProcessID)
	 WHERE sgps.SessionID = @SessionID
	   AND sgps.Skip = 0
  ORDER BY sg.GrOrder, sgp.PrOrder
	
	RETURN 
GO
