USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_FindEligibleBuildsToAbandon]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_FindEligibleBuildsToAbandon]
    @gracePeriodMinutes INT = 0
AS
    SET NOCOUNT ON

    DECLARE @Sessiontmp [dbo].[SessionIDsUDT];

    -- Gather up all of the Sessions that fall into the this criteria:
    -- 1. All active TeamBuild Sessions
    -- 2. Is configured for abandon in VBLManager  
    -- 3. Exclude if it has been marked to be rolled
    -- 4. Exclude if it is a "test" build
    -- 5. target date offset exclusion (ls.CompletionOffset stuff below)
    -- 6. There is no issue on the session that has a machine access issue
    -- I grabbed the following logic from sp_mntrstalldetect:
    -- This gets all of the current sessions for the past 
    SELECT	s.SessionID, s.SeRevision, s.LabID
    INTO	#SessionIDs
    FROM	[dbo].tbl_Session s WITH (NOLOCK)
    JOIN	[dbo].tbl_Lab l WITH (NOLOCK)
            ON (s.LabID = l.LabID)
    JOIN    [dbo].tlkp_LocaleSet ls WITH (NOLOCK)
            ON (s.LocaleSetID = ls.LocaleSetID)
    JOIN	[dbo].tlkp_Flavor f WITH (NOLOCK)
			ON (f.FlavorID = s.FlavorID)
    WHERE	((DATEDIFF(dd, DATEADD(dd, ls.CompletionOffsetDays, s.SeBuildDate), GETDATE())) = 0 -- Today's build
    OR		(s.StatusID = 2 -- In Progress
    AND		((DATEDIFF(dd, DATEADD(dd, ls.CompletionOffsetDays, s.SeBuildDate), GETDATE())) <= 10  -- 10 days???
    AND      (DATEDIFF(dd, DATEADD(dd, ls.CompletionOffsetDays, s.SeBuildDate), GETDATE())) > 0)))
    AND		l.LaStatus = 1
    AND		s.StatusID <> 5  -- not completed
    AND		s.StatusID <> 8  -- not abandoned already
    AND		s.StatusID <> 11 -- not VSTS available
    AND     l.LaAutoAbandon = 1  -- 2. Auto-abandon
    AND     s.SeTestBuild = 0    -- 4. test-build
	AND		f.FlCanAbandon = 1
    AND     s.SessionID NOT IN (SELECT si.SessionID  -- All of the session id's that have an open machine access issue with it.
                                FROM [dbo].atbl_SessionIssue si WITH (NOLOCK)
                                JOIN [dbo].tbl_Issue i WITH (NOLOCK)
                                     ON i.IssueID = si.IssueID
                                WHERE s.SessionID = si.SessionID
                                AND   i.IsMachineAccessOnly = 1
                                AND   i.IsClosed <> 1
                                )  -- 6. There is no machine access issue on the session 

    -- 3. Now, calculate whether the "build" (revision) has been marked to
    -- roll or not.
    SELECT s.SessionID
    INTO #sessionsThatRoll
    FROM #SessionIDs s
    JOIN [dbo].tbl_PreservationRequest pr
         ON (s.SeRevision = pr.PrRevision)
    WHERE pr.LabID = s.LabID
    AND   pr.PrExpiryDateUtc > GETUTCDATE()
    AND   pr.PrCancelledDateUtc IS NULL

    -- Now, remove the session id's from the original table that are rolling
    INSERT  INTO @Sessiontmp (SessionID)
    SELECT s.SessionID
    FROM #SessionIDs s
    WHERE s.SessionID NOT IN (SELECT sThatRoll.SessionID
                              FROM #sessionsThatRoll sThatRoll)

    -- In theory, up_AreBuildsLongRunning could be incorporated into the above
    -- query.  But, we decided to modularize it so that we could make
    -- make tweaks to the logic in up_AreBuildsLongRunning seperately...
    EXEC up_AreBuildsLongRunning @Sessiontmp, @gracePeriodMinutes

    DROP TABLE #SessionIDs
    DROP TABLE #sessionsThatRoll

    -- No error-handling (yet)
RETURN 0
GO
