USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_SessionMeasure]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SessionMeasure](
	[SessionID] [int] NOT NULL,
	[MeasureName] [varchar](50) NOT NULL,
	[MeasureValue] [decimal](18, 0) NOT NULL,
 CONSTRAINT [pk_MeasureID] PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC,
	[MeasureName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_SessionMeasure]  WITH CHECK ADD FOREIGN KEY([SessionID])
REFERENCES [dbo].[tbl_Session] ([SessionID])
GO
