USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_IHAF_GetFixBaseInfo]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_IHAF_GetFixBaseInfo]
(
	@FixID int
)
AS
BEGIN
	/**********************
	DESCRIPTION
		Gets base info common to all fixes
	**********************/

	SELECT * FROM tbl_Fix
	WHERE FixID = @FixID

	SELECT * FROM tbl_FixLog
	WHERE FixID = @FixID

	
	SELECT  @FixId FixId, s.SessionId, l.LaName, SeRevision, SeBuildMachine, FlName, TaName
	FROM tbl_Session s WITH (NOLOCK)
	INNER JOIN tlkp_Flavor f on f.FlavorID = s.FlavorID
	INNER JOIN tlkp_TargetArchitecture ta on ta.TargetARchitectureID = s.TargetArchitectureID
	INNER JOIN tbl_Lab l WITH (NOLOCK)  on l.LabID = s.LabID
	INNER JOIN atbl_SessionFix sf on sf.SessionID = s.SessionID
	WHERE FixID = @FixID

END


GO
