USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_AddSessionGroupSyncTime]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Author: Trevor Short
-- Create date: 1/27/2014
-- Description:	Adds the given synctime to the tbl_SessionGroupSyncTime Table
-- =============================================
CREATE PROCEDURE [dbo].[up_AddSessionGroupSyncTime]
    @SessionID INT,
	@SyncTime DateTime
AS
BEGIN

    DECLARE @SessionGroupID INT
    DECLARE @SessionGroupSyncTimeID INT

    SELECT @SessionGroupID=sg.SessionGroupID
    FROM tbl_Session s WITH (NOLOCK)
    join tbl_SessionGroup sg WITH (NOLOCK) on 
              (sg.LabId = s.LabId and sg.Revision = s.SeRevision and sg.LocaleSetID=s.LocaleSetID)
    WHERE s.SessionID = @SessionID

    SELECT @SessionGroupSyncTimeID=sgs.SessionGroupSyncTimeID
    FROM tbl_SessionGroupSyncTime sgs WITH (NOLOCK)
    WHERE sgs.SessionGroupID=@SessionGroupID

	--Assume that if we found it, the synctime is already there and it is correct.  Nothin to do.
	IF @@ROWCOUNT = 0
	  BEGIN
	      INSERT 
		  INTO tbl_SessionGroupSyncTime (SessionGroupID, SyncTime)
		  VALUES (@SessionGroupID, @SyncTime)
	  END
END

GO
