USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_AddSessionGroupDependency]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_AddSessionGroupDependency]
    (
        @ParentSessionGroupID INT,
        @ChildSessionGroupID INT
    )
    
AS
BEGIN
    DECLARE @new_parent_hid AS HIERARCHYID
    DECLARE @old_root AS HIERARCHYID
    
    -- Making sure the child and parent exist
    SELECT @new_parent_hid=hid
    FROM tbl_SessionGroup
    WHERE SessionGroupID=@ParentSessionGroupID

    IF (@new_parent_hid IS NULL)
        RAISERROR('No record exists with the session group ID=%d', 18, 0, @ParentSessionGroupID)
    
    SELECT @old_root=hid 
    FROM tbl_SessionGroup 
    WHERE SessionGroupID=@ChildSessionGroupID
    
    IF (@old_root IS NULL)
        RAISERROR('No record exists with the session group ID=%d', 18, 0, @ChildSessionGroupID)
    
    -- Moving the child's subtree under a new parent   
    SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
    BEGIN TRANSACTION
        DECLARE @new_root AS HIERARCHYID
        
        -- Find a hid for the root of the subtree under the new parent
        SELECT @new_root=@new_parent_hid.GetDescendant(MAX(hid), NULL)
        FROM tbl_SessionGroup 
        WHERE hid.GetAncestor(1)=@new_parent_hid

        UPDATE tbl_SessionGroup
        SET hid=hid.GetReparentedValue(@old_root, @new_root)
        WHERE hid.IsDescendantOf(@old_root)=1
    COMMIT TRANSACTION
END
GO
