USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AutoIssue_GetAssociatedErrorsForIssues]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[sp_AutoIssue_GetAssociatedErrorsForIssues]
	(
		@IssueIDs varchar(2000)
	)
AS
	SET NOCOUNT ON
	
	SELECT ile.IssueID, l.*, s.LabID, s.SeBuildDate, sgs.SchemaGroupID, sg.GrName, sgps.SchemaGroupProcessID, sgp.PrName, lgd.LoExtendedLog, s.SeRevision, sg.IsTest
	  FROM tbl_Log l WITH (READPAST)
 LEFT JOIN LabStatusLog..tbl_LogData lgd WITH (READPAST) ON (l.LogEntryID = lgd.LogEntryID)
	  JOIN atbl_IssueLogError ile WITH (READPAST) ON (l.LogEntryID = ile.LogEntryID)
      JOIN fn_ParseCommaDelimitedList(@IssueIDs) issues ON (ile.IssueID = issues.ItemID)
      JOIN tbl_Session s WITH (READPAST) ON (l.SessionID = s.SessionID)
      JOIN tbl_Lab la WITH (READPAST) ON (s.LabID = la.LabID AND la.LaAutoOpenIssues = 1)
      JOIN tbl_SessionGroupStatus sgs WITH (READPAST) ON (l.SessionGroupStatusID = sgs.SessionGroupStatusID)
      JOIN tbl_SchemaGroup sg WITH(READPAST) ON (sg.SchemaGroupID = sgs.SchemaGroupID)
      JOIN tbl_SessionGroupProcessStatus sgps WITH (READPAST) ON (l.SessionGroupProcessStatusID = sgps.SessionGroupProcessStatusID)
      JOIN tbl_SchemaGroupProcess sgp WITH (READPAST) ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID)
  ORDER BY ile.IssueID
  
	RETURN 



GO
