USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[zz__sp_RptNumberOfIssuesPerSubCategoryGroupedAndRolledUp2]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[zz__sp_RptNumberOfIssuesPerSubCategoryGroupedAndRolledUp2]
	(
		@From datetime,
		@To datetime,
		@Labs varchar(255),
		@CostCenter int,
		@SeverityIDs varchar(255) = '1,2',
		@SourceID int
	)
AS
	SET NOCOUNT ON

	IF @CostCenter = 0
		BEGIN
			SELECT COUNT(DISTINCT isubsrc.IssueID) As NumberOfIssues, subsrc.SubSourceID, subsrc.SuName
			  FROM tlkp_SubSource subsrc WITH (NOLOCK)
			  JOIN tbl_IssueSubSource isubsrc WITH (NOLOCK) ON (subsrc.SubSourceID = isubsrc.SubSourceID)
			  JOIN tbl_SessionIssue si WITH (NOLOCK) ON (isubsrc.IssueID = si.IssueID)
			  JOIN tbl_Session s WITH (NOLOCK) ON (si.SessionID = s.SessionID)	  
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN tbl_Issue i ON (si.IssueID = i.IssueID)
			  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (isrc.IssueID = i.IssueID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) sv ON (i.SeverityID = sv.ItemID)
			 WHERE DATEDIFF(dd, s.SeBuildDate, @From) <= 0
			   AND DATEDIFF(dd, s.SeBuildDate, @To) >= 0
			   AND i.IsDeleted = 0
			   AND l.VBL = 1
			   AND isrc.SourceID = @SourceID
			   AND s.SeRevision NOT LIKE '%_DEL'  
			   AND s.FlavorID NOT IN (5) -- No DAT builds.
		  GROUP BY subsrc.SubSourceID, subsrc.SuName, subsrc.SuOrder
		  
		     UNION

			SELECT COUNT(DISTINCT i.IssueID) As NumberOfIssues, 0, 'Uncategorized'
			  FROM tbl_SessionIssue si
			  JOIN tbl_Session s WITH (NOLOCK) ON (si.SessionID = s.SessionID)	  
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN tbl_Issue i ON (si.IssueID = i.IssueID)
			  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (isrc.IssueID = i.IssueID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) sv ON (i.SeverityID = sv.ItemID)
			 WHERE DATEDIFF(dd, s.SeBuildDate, @From) <= 0
			   AND DATEDIFF(dd, s.SeBuildDate, @To) >= 0
			   AND i.IsDeleted = 0
			   AND l.VBL = 1
			   AND isrc.SourceID = @SourceID
			   AND s.SeRevision NOT LIKE '%_DEL'  
			   AND (i.IssueID NOT IN (SELECT IssueID FROM tbl_IssueSubSource WITH (NOLOCK)))
			   AND s.FlavorID NOT IN (5) -- No DAT builds.
		  ORDER BY NumberOfIssues DESC
		  
		  
		END
	
	ELSE IF @CostCenter <> 0
		BEGIN
			SELECT COUNT(DISTINCT isubsrc.IssueID) As NumberOfIssues, subsrc.SubSourceID, subsrc.SuName
			  FROM tlkp_SubSource subsrc WITH (NOLOCK)
			  JOIN tbl_IssueSubSource isubsrc WITH (NOLOCK) ON (subsrc.SubSourceID = isubsrc.SubSourceID)
			  JOIN tbl_SessionIssue si WITH (NOLOCK) ON (isubsrc.IssueID = si.IssueID)
			  JOIN tbl_Session s WITH (NOLOCK) ON (si.SessionID = s.SessionID)	  
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
  			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN tbl_Issue i ON (si.IssueID = i.IssueID)
			  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (isrc.IssueID = i.IssueID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) sv ON (i.SeverityID = sv.ItemID)
			 WHERE DATEDIFF(dd, s.SeBuildDate, @From) <= 0
			   AND DATEDIFF(dd, s.SeBuildDate, @To) >= 0
			   AND i.IsCostCenter = @CostCenter	-- Filter by cost center
			   AND i.IsDeleted = 0
			   AND l.VBL = 1
			   AND isrc.SourceID = @SourceID
			   AND s.SeRevision NOT LIKE '%_DEL'  
			   AND s.FlavorID NOT IN (5) -- No DAT builds.
		  GROUP BY subsrc.SubSourceID, subsrc.SuName, subsrc.SuOrder

		     UNION

			SELECT COUNT(DISTINCT i.IssueID) As NumberOfIssues, 0, 'Uncategorized'
			  FROM tbl_SessionIssue si
			  JOIN tbl_Session s WITH (NOLOCK) ON (si.SessionID = s.SessionID)	  
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN tbl_Issue i ON (si.IssueID = i.IssueID)
			  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (isrc.IssueID = i.IssueID)
			  JOIN fn_ParseCommaDelimitedList(@SeverityIDs) sv ON (i.SeverityID = sv.ItemID)
			 WHERE DATEDIFF(dd, s.SeBuildDate, @From) <= 0
			   AND DATEDIFF(dd, s.SeBuildDate, @To) >= 0
			   AND i.IsCostCenter = @CostCenter	-- Filter by cost center
			   AND i.IsDeleted = 0
			   AND l.VBL = 1
			   AND isrc.SourceID = @SourceID
			   AND s.SeRevision NOT LIKE '%_DEL'  
			   AND (i.IssueID NOT IN (SELECT IssueID FROM tbl_IssueSubSource WITH (NOLOCK)))
			   AND s.FlavorID NOT IN (5) -- No DAT builds.
		  ORDER BY NumberOfIssues DESC
		END

	RETURN 









GO
