USE [LabStatus]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetCauseForBreak]    Script Date: 1/28/2026 12:46:50 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[fn_GetCauseForBreak](@IssueID int)
RETURNS varchar(8000) AS  
BEGIN 

	Declare @CauseForBreak varchar(8000)

	Set @CauseForBreak = ''

	Select 	@CauseForBreak = @CauseForBreak + IsNull(DeCauseForBreak,'') + char(13) + char(13)
	From 	tbl_Fix F 
		Inner Join tbl_FixDefDefault FDD On (F.FixDefinitionID = FDD.FixDefDefault And F.FixTypeID = 1)
	Where	IssueID = @IssueID

	Return @CauseForBreak
END

GO
