USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_ScheduleResume]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_ScheduleResume]
(
    @SessionID int,
	@ResumeStep VARCHAR(50) = NULL
)
AS
BEGIN
    DECLARE @FixID int

    UPDATE	dbo.tbl_Session
    SET		ResumeStatusID = 3, -- 3 starting
			SeResumeStep = @ResumeStep
    WHERE	SessionID = @SessionID

END



GO
