USE [LabStatus]
GO
/****** Object:  Table [dbo].[tmptbl_CurrentSessions]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmptbl_CurrentSessions](
	[SessionID] [int] NULL,
	[LabID] [int] NULL,
	[BuildMachine] [varchar](50) NULL,
	[Revision] [varchar](255) NULL,
	[StatusID] [int] NULL,
	[SeComment] [varchar](1000) NULL,
	[SeSetups] [int] NULL,
	[SeSetupsFinished] [int] NULL,
	[FlavorID] [int] NULL,
	[TargetArchitectureID] [int] NULL,
	[MilestoneID] [int] NULL,
	[LocaleSetID] [int] NULL,
	[DropPath] [varchar](1000) NULL,
	[SessionStarted] [datetime] NULL,
	[BuildDate] [datetime] NULL,
	[ManuallyStalled] [datetime] NULL,
	[Delayed] [bit] NULL,
	[SeRawDropAbandoned] [bit] NULL,
	[SeLayoutsAbandoned] [bit] NULL,
	[LastStep] [datetime] NULL,
	[IssueCount] [int] NULL,
	[BlockingIssueCount] [int] NULL,
	[NonBlockingIssueCount] [int] NULL,
	[Stalled] [int] NULL,
	[LastError] [datetime] NULL,
	[NewErrors] [int] NULL,
	[NewStalls] [int] NULL,
	[StalledProcesses] [int] NULL,
	[BVTDecision] [bit] NULL,
	[BVTDecisionDefault] [bit] NULL,
	[UserName] [varchar](50) NULL,
	[Lab] [varchar](255) NULL,
	[BVTLab] [varchar](255) NULL,
	[LaOrder] [int] NULL,
	[Milestone] [varchar](50) NULL,
	[BVTMilestone] [varchar](50) NULL,
	[Flavor] [varchar](50) NULL,
	[BVTFlavor] [varchar](50) NULL,
	[FlOrder] [int] NULL,
	[TargetArchitecture] [varchar](50) NULL,
	[BVTTargetArchitecture] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[SessionStatus] [varchar](50) NULL,
	[StColor] [varchar](10) NULL,
	[CaName] [varchar](50) NULL,
	[CaColor] [varchar](50) NULL,
	[CaOrder] [int] NULL,
	[CategoryID] [int] NULL,
	[CategoryTypeID] [int] NULL,
	[RawBVTs] [varchar](255) NULL,
	[RawStatus] [varchar](50) NULL,
	[RawLink] [varchar](255) NULL,
	[LayoutBVTs] [varchar](255) NULL,
	[LayoutStatus] [varchar](50) NULL,
	[LayoutLink] [varchar](255) NULL,
	[BVTsLastUpdated] [datetime] NULL
) ON [PRIMARY]
GO
