USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOrgs]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetOrgs]
AS
	SET NOCOUNT ON
	
	SELECT *
	  FROM tbl_Org WITH (NOLOCK)	 
  ORDER BY OrOrder
  
	RETURN 
GO
