USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddIssueLog]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddIssueLog]
	(
		@IssueID int,
		@Text varchar(8000),
		@UserName varchar(50),
		@IssueLogID int = NULL OUTPUT,
		@TimeSpent decimal(16,2) = 0,
		@MarkIssueAsChanged bit = 1
	)
AS
	INSERT
	  INTO tbl_IssueLog (IssueID, LoText, LoDateCreated, LoCreatedBy)
	VALUES (@IssueID, @Text, GetDate(), @UserName)
	
	IF @MarkIssueAsChanged = 1
	BEGIN
		UPDATE tbl_Issue WITH (ROWLOCK)
		   SET IsDateChanged = GetDate(),
		       IsTimeSpent = IsTimeSpent + @TimeSpent
		 WHERE IssueID = @IssueID

		SELECT @IssueLogID = @@IDENTITY
	END
	ELSE
	BEGIN
		SELECT @IssueLogID = 0		
	END
	RETURN

GO
