USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionInformationByIssue]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetSessionInformationByIssue]
	(
		@IssueID int
	)
AS
	SET NOCOUNT ON
	
	SELECT s.SessionID, s.SeRevision As Revision, l.LabID, l.LaName As Lab, l.LaShortName As LabShortName, m.MiName As Milestone, f.FlName As Flavor, ta.TaName As TargetArchitecture, s.StatusID, st.StName As SessionStatus, SeBuildMachine As BuildMachine, ls.LoName As [Language], l.BFDGroupID, l.LaBranch, l.LaPrivate, o.*
	  FROM tbl_Issue i WITH (NOLOCK)
	  JOIN tbl_Org o WITH (NOLOCK) ON (i.OrgID = o.OrgID)
	  JOIN atbl_SessionIssue iss WITH (NOLOCK) ON (i.IssueID = iss.IssueID)
	  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
	  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID)
	  JOIN tbl_Milestone m WITH (NOLOCK) ON (s.MilestoneID = m.MilestoneID)
	  JOIN tlkp_Status st WITH (NOLOCK) ON (s.StatusID = st.StatusID)
	  JOIN tlkp_Flavor f WITH (NOLOCK) ON (s.FlavorID = f.FlavorID)
	  JOIN tlkp_TargetArchitecture ta WITH (NOLOCK) ON (s.TargetArchitectureID = ta.TargetArchitectureID)
  	  JOIN tlkp_LocaleSet ls WITH (NOLOCK) ON (s.LocaleSetID = ls.LocaleSetID)
     WHERE i.IssueID = @IssueID	
       AND s.SeRevision NOT LIKE '%_DEL%'
  ORDER BY l.LaOrder, ta.TargetArchitectureID, f.FlOrder ASC
	RETURN 

GO
