USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_AddFixForSourceCode]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE    PROCEDURE [dbo].[up_AddFixForSourceCode]
(
	@IssueID int,
	@IsAutomated bit,
	@SourceCodeFixCategoryID int,
	@UserName varchar(50)
)
AS
BEGIN
	/*********************************************
	DESCRIPTION
		Submits a source code issue  fix
	************************************************/

	DECLARE @FixDefinitionID int

	--Create the source code fix definition
	INSERT INTO tbl_FixDefSourceCode
	(SourceCodeFixCategoryID)
	VALUES
	(@SourceCodeFixCategoryID)

	SET @FixDefinitionID = @@IDENTITY
	
	--create the fix base
	exec up_AddFixBase 2, @IssueID, @IsAutomated, @UserName, @FixDefinitionID
	

	SELECT @FixDefinitionID
END





GO
