USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_Product]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Product](
	[ProductID] [int] NOT NULL,
	[PrShortName] [varchar](10) NULL,
	[PrName] [varchar](50) NULL,
	[PrDeleted] [bit] NULL,
	[SchemaID] [int] NULL,
	[SchemaPublished] [datetime] NULL,
	[SchemaPublishedBy] [varchar](50) NULL,
	[OrgID] [int] NULL,
 CONSTRAINT [PK_tbl_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Product] ADD  CONSTRAINT [DF_tbl_Product_PrDeleted]  DEFAULT (0) FOR [PrDeleted]
GO
