USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_ChtNumberOfIssuesPerTeam]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[sp_ChtNumberOfIssuesPerTeam]
	(
		@From datetime,
		@To datetime,
		@Labs varchar(255),
		@Sources varchar(255),
		@CostCenters varchar(2000),
		@IncludeNoTeam bit
	)
AS
	SET NOCOUNT ON

	-- Only issues w/o a team specified.
	IF @CostCenters = '0'
		BEGIN
			SELECT COUNT(DISTINCT i.IssueID) As NumberOfIssues, cc.CostCenterID, cc.CoName As CostCenter
			  FROM tbl_SessionIssue iss WITH (NOLOCK)
			  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
			  JOIN tbl_Issue i WITH (NOLOCK) ON (iss.IssueID = i.IssueID)
			  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (i.IssueID = isrc.IssueID)
			  JOIN tlkp_Source src WITH (NOLOCK) ON (isrc.SourceID = src.SourceID)
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID) 
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN fn_ParseCommaDelimitedList(@Sources) sources ON (isrc.SourceID = sources.ItemID)
		 LEFT JOIN CostCenter..tbl_CostCenter cc WITH (NOLOCK) ON (i.IsCostCenter = cc.CostCenterID)
			 WHERE DATEDIFF(dd, s.SeBuildDate, @From) <= 0
			   AND DATEDIFF(dd, s.SeBuildDate, @To) >= 0
			   AND (i.IsCostCenter IS NULL
					OR i.IsCostCenter = ''
					OR i.IsCostCenter NOT IN (SELECT CostCenterID FROM CostCenter..tbl_CostCenter))
			   AND i.IsDeleted = 0
			   AND src.SourceID <> 11 -- Not information.
			   AND src.SourceID <> 2 -- Raw Suites
			   AND l.VBL = 1
			   AND s.SeRevision NOT LIKE '%_DEL'
		 GROUP BY cc.CostCenterID, cc.CoName
		 ORDER BY COUNT(DISTINCT i.IssueID) DESC, cc.CostCenterID, cc.CoName
		END	
		
	-- Include issue w/o a team specified.
	ELSE IF @IncludeNoTeam = 1
		BEGIN
			SELECT COUNT(DISTINCT i.IssueID) As NumberOfIssues, cc.CostCenterID, cc.CoName As CostCenter
			  FROM tbl_SessionIssue iss WITH (NOLOCK)
			  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
			  JOIN tbl_Issue i WITH (NOLOCK) ON (iss.IssueID = i.IssueID)
			  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (i.IssueID = isrc.IssueID)
			  JOIN tlkp_Source src WITH (NOLOCK) ON (isrc.SourceID = src.SourceID)
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID) 
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN fn_ParseCommaDelimitedList(@Sources) sources ON (isrc.SourceID = sources.ItemID)
			  JOIN fn_ParseCommaDelimitedList(@CostCenters) teams ON (i.IsCostCenter = teams.ItemID)
			  JOIN CostCenter..tbl_CostCenter cc WITH (NOLOCK) ON (i.IsCostCenter = cc.CostCenterID)
			 WHERE DATEDIFF(dd, s.SeBuildDate, @From) <= 0
			   AND DATEDIFF(dd, s.SeBuildDate, @To) >= 0
			   AND i.IsDeleted = 0
			   AND src.SourceID <> 11 -- Not information.
			   AND src.SourceID <> 2 -- Raw Suites
			   AND l.VBL = 1
			   AND s.SeRevision NOT LIKE '%_DEL'
		  GROUP BY cc.CostCenterID, cc.CoName

			UNION 

			SELECT COUNT(DISTINCT i.IssueID) As NumberOfIssues, 0 As CostCenterID, 'No team' As CostCenter
			  FROM tbl_SessionIssue iss WITH (NOLOCK)
			  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
			  JOIN tbl_Issue i WITH (NOLOCK) ON (iss.IssueID = i.IssueID)
			  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (i.IssueID = isrc.IssueID)
			  JOIN tlkp_Source src WITH (NOLOCK) ON (isrc.SourceID = src.SourceID)
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID) 
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN fn_ParseCommaDelimitedList(@Sources) sources ON (isrc.SourceID = sources.ItemID)
			 WHERE DATEDIFF(dd, s.SeBuildDate, @From) <= 0
			   AND DATEDIFF(dd, s.SeBuildDate, @To) >= 0
			   AND (i.IsCostCenter IS NULL
					OR i.IsCostCenter = ''
					OR i.IsCostCenter NOT IN (SELECT CostCenterID FROM CostCenter..tbl_CostCenter))
			   AND i.IsDeleted = 0
			   AND src.SourceID <> 11 -- Not information.
			   AND src.SourceID <> 2 -- Raw Suites
			   AND l.VBL = 1
			   AND s.SeRevision NOT LIKE '%_DEL'
		  ORDER BY COUNT(DISTINCT i.IssueID) DESC, cc.CostCenterID, cc.CoName
		END
		
	-- No issues w/o a team specified.
	ELSE
		BEGIN
			SELECT COUNT(DISTINCT i.IssueID) As NumberOfIssues, cc.CostCenterID, cc.CoName As CostCenter
			  FROM tbl_SessionIssue iss WITH (NOLOCK)
			  JOIN tbl_Session s WITH (NOLOCK) ON (iss.SessionID = s.SessionID)
			  JOIN tbl_Issue i WITH (NOLOCK) ON (iss.IssueID = i.IssueID)
			  JOIN tbl_IssueSource isrc WITH (NOLOCK) ON (i.IssueID = isrc.IssueID)
			  JOIN tlkp_Source src WITH (NOLOCK) ON (isrc.SourceID = src.SourceID)
			  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID) 
			  JOIN fn_ParseCommaDelimitedList(@Labs) labs ON (l.LabID = labs.ItemID)
			  JOIN fn_ParseCommaDelimitedList(@Sources) sources ON (isrc.SourceID = sources.ItemID)
			  JOIN fn_ParseCommaDelimitedList(@CostCenters) teams ON (i.IsCostCenter = teams.ItemID)
  			  JOIN CostCenter..tbl_CostCenter cc WITH (NOLOCK) ON (i.IsCostCenter = cc.CostCenterID)
			 WHERE DATEDIFF(dd, s.SeBuildDate, @From) <= 0
			   AND DATEDIFF(dd, s.SeBuildDate, @To) >= 0
			   AND i.IsDeleted = 0
			   AND src.SourceID <> 11 -- Not information.
			   AND src.SourceID <> 2 -- Raw Suites
			   AND l.VBL = 1
			   AND s.SeRevision NOT LIKE '%_DEL'
		 GROUP BY cc.CostCenterID, cc.CoName
		 ORDER BY COUNT(DISTINCT i.IssueID) DESC, cc.CostCenterID, cc.CoName
		END
		

	RETURN 










GO
