USE [LabStatus]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetCurrentSessionProcess]    Script Date: 1/28/2026 12:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_GetCurrentSessionProcess]
(
	@SessionID int
)
RETURNS VARCHAR(1000)
AS
BEGIN
	/**************************
	DESCRIPTION
		Gets the current build process(es)
	***************************/

	DECLARE @Process varchar(1000)

	SELECT @Process =  COALESCE(@Process + ',', '') + ( sgp.PrName +  COALESCE('('+sgp.PrShortName+')', '') )				
				FROM LabStatus..tbl_SchemaGroupProcess sgp WITH (NOLOCK)
				INNER JOIN LabStatus..tbl_SessionGroupProcessStatus sgps WITH (NOLOCK) on sgps.SchemaGroupProcessID  = sgp.SchemaGroupProcessID AND sgps.SessionID = @SessionID
				WHERE sgps.ProcessStarted IS NOT NULL AND sgps.PRocessFinished IS NULL
		
	
	
	RETURN @Process
END


GO
