USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AutoIssue_AssociateNewErrors]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AutoIssue_AssociateNewErrors]
	(
		@IssueID int,
		@SessionIDs varchar(max),
		@ErrorIDs varchar(max)
	)
AS
	SET NOCOUNT ON

	DECLARE @Err varchar(4000)

	-- Insert the log footprint.	
--	INSERT 
--	INTO		tbl_LogFootPrint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
--	VALUES		('sp_AutoIssue_AssociateNewErrors, IssueID='
--				+ CONVERT(varchar(10), @IssueID) + ', SessionIDs=' 
--				+ @SessionIDs + ', ErrorIDs='
--				+ @ErrorIDs, 
--				GetDate(), 
--				GetDate()) 

	
	BEGIN TRANSACTION

		-- Reopen the issue if it's already closed.
		DECLARE @IsClosed bit
		   SET @IsClosed = 0
		SELECT @IsClosed = IsClosed
		  FROM tbl_Issue
		 WHERE IssueID = @IssueID
		 
		-- Let's reopen.
		IF @IsClosed = 1
			BEGIN
				SELECT @Err = 'Re-open the issue'
				UPDATE tbl_Issue WITH (ROWLOCK)
  				   SET IsClosed = 0,
  				       IsDateClosed = NULL
				 WHERE IssueID = @IssueID
				IF @@ERROR <> 0 GOTO on_err
				 
				 SELECT @Err = 'Add a log of what happened'
				 INSERT 
				   INTO tbl_IssueLog (IssueID, LoText, LoDateCreated, LoCreatedBy)
		 		 SELECT @IssueID, 'Issue re-opened due to ' + CONVERT(varchar(5),COUNT(le.LogEntryID)) + ' new error(s) found on <a target="_blank" href="../BuildLog.aspx?sid=' + CONVERT(varchar(10), le.SessionID) + '&cid=3&iid=' + CONVERT(varchar(10), @IssueID) + '" title="Click to view">' + LOWER(s.SeBuildMachine) + '</a>.', GetDate(), ''
				   FROM tbl_LogError le WITH (READPAST)
				   JOIN fn_ParseCommaDelimitedList(@ErrorIDs) e ON (le.LogEntryID = e.ItemID)
				   JOIN tbl_Session s WITH (READPAST) ON (le.SessionID = s.SessionID)
			   GROUP BY le.SessionID, s.SeBuildMachine
				 IF @@ERROR <> 0 GOTO on_err
			END
		ELSE
			BEGIN
				-- Add an entry for each build being associated.
				SELECT @Err = 'Adding a log for each session being associated'
				INSERT 
				  INTO tbl_IssueLog (IssueID, LoText, LoDateCreated, LoCreatedBy)
				SELECT @IssueID, CONVERT(varchar(5),COUNT(le.LogEntryID)) + ' new error(s) found on <a target="_blank" href="../BuildLog.aspx?sid=' + CONVERT(varchar(10), le.SessionID) + '&cid=3&iid=' + CONVERT(varchar(10), @IssueID) + '" title="Click to view">' + LOWER(s.SeBuildMachine) + '</a>.', GetDate(), ''
				  FROM tbl_LogError le WITH (READPAST)
				  JOIN fn_ParseCommaDelimitedList(@ErrorIDs) e ON (le.LogEntryID = e.ItemID)
				  JOIN tbl_Session s WITH (READPAST) ON (le.SessionID = s.SessionID)
  			  GROUP BY le.SessionID, s.SeBuildMachine
				IF @@ERROR <> 0 GOTO on_err			
			END
			
		-- Associate it with each build.
		SELECT @Err = 'Associate this issue with sessions'
		INSERT 
		  INTO atbl_SessionIssue (SessionID, IssueID)
		SELECT ItemID, @IssueID
		  FROM fn_ParseCommaDelimitedList(@SessionIDs)
		 WHERE ItemID NOT IN (SELECT DISTINCT SessionID
								FROM atbl_SessionIssue
							   WHERE IssueID = @IssueID)
		IF @@ERROR <> 0 GOTO on_err
		
		-- Associate the errors.
		SELECT @Err = 'Associate this issue with errors'
		INSERT 
		  INTO atbl_IssueLogError (IssueID, LogEntryID)
		SELECT @IssueID, ItemID
		  FROM fn_ParseCommaDelimitedList(@ErrorIDs)
		 WHERE ItemID NOT IN (SELECT DISTINCT LogEntryID 
									FROM atbl_IssueLogError 
								   WHERE IssueID = @IssueID)
		IF @@ERROR <> 0 GOTO on_err

		-- Update all the new errors as processed.
		SELECT @Err = 'Mark all these errors as processed'
		UPDATE tbl_LogError WITH (ROWLOCK)
		   SET Processed = 1
		 WHERE LogEntryID IN (SELECT ItemID FROM fn_ParseCommaDelimitedList(@ErrorIDs))
		IF @@ERROR <> 0 GOTO on_err	
	
	-- Commit the transaction if there are no errors at the end. 
	IF @@ERROR <> 0 
		GOTO on_err
	ELSE 
		GOTO on_success

	on_success:
	COMMIT TRANSACTION
	RETURN 
	
	on_err:
	ROLLBACK TRANSACTION
	SELECT @Err = 'ERROR: sp_AutoIssue_AssociateNewErrors - ' + @Err
	RAISERROR (@Err , 16, 1)	
	
	RETURN 







GO
