USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProduct]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetProduct]
(
	@ProductID int
)
AS
	SET NOCOUNT ON
	
	SELECT ProductID, PrShortName, PrName, SchemaPublished, SchemaPublishedBy
	  FROM tbl_Product WITH (NOLOCK) 
	 WHERE ProductID = @ProductID
	 
	RETURN 
GO
