USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessionsByDateRange2]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_GetSessionsByDateRange2]
(  
	@LabIDs VARCHAR(4000),  
	@FlavorIDs VARCHAR(255) = NULL,  
	@TargetArchitectureIDs VARCHAR(255) = NULL,  
	@LanguageIDs VARCHAR(4000) = NULL,  
	@From DATETIME,  
	@To DATETIME,
	@RequestOwnerAlias VARCHAR(50) = NULL
)  
AS  
BEGIN  
	SET NOCOUNT ON  

	DECLARE @SessionIDs Table(SessionID INT PRIMARY KEY)
	DECLARE @SQL NVARCHAR(MAX),	
			@WhereClause NVARCHAR(MAX),
			@CrLf VARCHAR(10),
			@ParmDefinition NVARCHAR(500),
			@SessionIDList VARCHAR(MAX),
			@DayBeforeFROM DATETIME, 
			@ThreeDayBeforeFROM DATETIME,  
			@DayBeforeTo DATETIME,  
			@DayAfterTo DATETIME  

	SET @CrLf = CHAR(13) + CHAR(10)	
	SET @WhereClause = ' WHERE 1 = 1'
	SET @SQL = 'SELECT @SessionIDList = COALESCE(@SessionIDList + '','','''') + CAST(S.SessionID AS VARCHAR(15)) FROM tbl_Session S WITH (READPAST) ' + @CrLf

	IF(Len(@LabIDs) > 0)
	BEGIN
		SET @WhereClause = @WhereClause + ' AND S.LabID IN (' + @LabIDs +') '+ @CrLf
	END

	IF (Len(@FlavorIDs) > 0) 
	BEGIN
		SET @WhereClause = @WhereClause + ' AND S.FlavorID IN (' +  @FlavorIDs +')' + @CrLf
	END  

	IF (Len(@TargetArchitectureIDs) > 0)  
	BEGIN
		SET @WhereClause = @WhereClause + ' AND S.TargetArchitectureID IN (' + @TargetArchitectureIDs +') '+ @CrLf
	END

	IF (Len(@LanguageIDs) > 0)   
	BEGIN
		SET @WhereClause = @WhereClause + ' AND S.LocaleSetID IN (' + @LanguageIDs +') '+ @CrLf
	END  
	
	IF (@RequestOwnerAlias IS NOT NULL)
	BEGIN
		SET @WhereClause += ' AND S.SessionID in (SELECT SessionID FROM LaunchPad.dbo.vw_LopezRequestSessions WITH (NOLOCK) WHERE OwnerAlias = ''' + @RequestOwnerAlias + ''') '+ @CrLf
	END

	SET @DayBeforeFROM = DATEADD(day, 0, DATEDIFF(day, 0, @From))  
	SET @ThreeDayBeforeFROM = DATEADD(day, 0, DATEDIFF(day, 0, @From) - 3)  
	SET @DayBeforeTo = DATEADD(day, 0, DATEDIFF(day, 0, @To))  
	SET @DayAfterTo = DATEADD(day, 0, DATEDIFF(day, 0, @To) + 1)  

	SET @WhereClause = @WhereClause + ' AND s.SeBuildDate >= @FromDate ' + @CrLf
	SET @WhereClause = @WhereClause + ' AND s.SeBuildDate <= @ToDate OR ' + @CrLf
	SET @WhereClause = @WhereClause + ' (DATEDIFF(dd,@FromDate,@ToDate) = 0 AND s.SeBuildDate BETWEEN @ThreeDayBeforeFROM AND @DayBeforeFROM)' + @CrLf
	SET @WhereClause = @WhereClause + ' AND (s.StatusID IN (2, 9, 10) '
	SET @WhereClause = @WhereClause + ' OR (s.StatusID = ''5'' AND s.SeFinished BETWEEN @DayBeforeTO AND @DayAfterTO))' + @CrLf

	SET @SQL = @SQL + @WhereClause + 'ORDER BY s.LocaleSetID, s.TargetArchitectureID, s.SessionID '

	SET @ParmDefinition = N'@LabIDs VARCHAR(4000), @FromDate DateTime, @ToDate DateTime, 
							@DayBeforeTO DateTime, @DayAfterTO DateTime, @DayBeforeFROM DATETIME, 
							@ThreeDayBeforeFROM DATETIME, @SessionIDList VARCHAR(MAX) OUT';

	--PRINT @SQL
	EXEC sp_executesql  @SQL,@ParmDefinition,@LabIDs = @LabIDs,@FromDate= @From,@ToDate = @To,
						@DayBeforeTo = @DayBeforeTo, @DayAfterTo=@DayAfterTo,@DayBeforeFROM=@DayBeforeFROM,
						@ThreeDayBeforeFROM = @ThreeDayBeforeFROM,
						@SessionIDList = @SessionIDList OUTPUT

	EXEC up_GetSessions @SessionIDList  

    CREATE TABLE #SessionID (SessionID INT PRIMARY KEY)
    INSERT INTO #SessionID
    SELECT  ItemID AS [SessionID]
    FROM    dbo.fn_ParseCommaDelimitedList(@SessionIDList) 

	-- Request
	SELECT  DISTINCT LRS.*
	FROM    LaunchPad.dbo.vw_LopezRequestSessions LRS WITH (NOLOCK)
	INNER JOIN #SessionID S
			ON LRS.SessionID = S.SessionID
	WHERE	LRS.RequestID <> 32703
	UNION
    SELECT  DISTINCT LRS.RequestID, LRS.RequestType
, LRS.Revision
, LRS.LabID
, LRS.RequestTime
, NULL AS SessionID
, LRS.TargetArchitectureID
, LRS.FlavorID
, LRS.LocaleSetID
, LRS.BuildLabelOrSyncTime
, LRS.OwnerAlias
	FROM    LaunchPad.dbo.vw_LopezRequestSessions LRS WITH (NOLOCK)
	JOIN	fn_ParseCommaDelimitedList(@LabIDs) l 
			ON (LRS.LabID = l.ItemID)
	JOIN	fn_ParseCommaDelimitedList(@FlavorIDs) f 
			ON (LRS.FlavorID = f.ItemID)
	JOIN	fn_ParseCommaDelimitedList(@TargetArchitectureIDs) ta 
			ON (LRS.TargetArchitectureID = ta.ItemID) 
	JOIN	fn_ParseCommaDelimitedList(@LanguageIDs) ls 
			ON (LRS.LocaleSetID = ls.ItemID)
	JOIN	tlkp_Flavor flavor WITH (NOLOCK)
			ON (LRS.FlavorID = flavor.FlavorID)
	WHERE   LRS.RequestID = 32703
	AND		LRS.RequestTime BETWEEN @From AND @To
	AND		((LRS.OwnerAlias = @RequestOwnerAlias) OR (@RequestOwnerAlias IS NULL))

	DROP TABLE   #SessionID  
	RETURN  
END
GO
