USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_Test]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Test]
AS
BEGIN

	CREATE TABLE #Test (TestID int)

	SELECT Test FROM #Test

END
GO
