USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionOverviewWithTimingByShortNames]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSessionOverviewWithTimingByShortNames]
	(
		@LabShortName varchar(10),
		@MilestoneShortName varchar(10),
		@FlavorShortName varchar(10),
		@Revision varchar(50)
	)
AS
	SET NOCOUNT ON
	DECLARE @LabID int
	SELECT @LabID = LabID 
	  FROM tbl_Lab
	 WHERE LaShortName = @LabShortName
	DECLARE @MilestoneID int
	SELECT @MilestoneID = MilestoneID 
	  FROM tbl_Milestone
	 WHERE MiShortName = @MilestoneShortName	 
	DECLARE @FlavorID int
	SELECT @FlavorID = FlavorID 
	  FROM tlkp_Flavor
	 WHERE FlShortName = @FlavorShortName
	DECLARE @SessionID int
	SELECT @SessionID = SessionID
	  FROM tbl_Session
	 WHERE LabID = @LabID
	   AND MilestoneID = @MilestoneID
	   AND FlavorID = @FlavorID
	
	/* This stored proc is complicated - tread carefully.  The proc goes out and 
	   grags the remaining time for each session based on the average build times and
	   also grags the time used so far and returns all this data with the proper status
	   info.
	*/
	
	SELECT s.SessionID, s.SeRevision As Revision, l.LaName As Lab, m.MiName As Milestone, f.FlName As Flavor, s.StatusID, st.StName As SessionStatus, st.StColor, s.SeHasWarnings As HasWarnings, s.SeHasErrors As HasErrors
		   , SUM(sgp.AvgBuildTime) As RemainingTime
		   , TimeUsed = 
				(
					/* Grab all the steps ALREADY run and sum the time already used up */
					SELECT SUM(DATEDIFF(mi, gsp.ProcessStarted, gsp.ProcessFinished)) As TimeUsed
				      FROM tbl_SessionGroupProcessStatus gsp
				 	 WHERE (StatusID = 3 
				  	    OR StatusID = 5 
					    OR StatusID = 6)
					   AND s.SessionID = gsp.SessionID
					   AND gsp.Skip = 0
				)
		   , RemainingTimeForCurrent = 
				(
					/* Grab the average build time for the step that is currently running and subtract
					   from the average build time the amount of time currently consumed by the step */
				   (SELECT SUM(sgp2.AvgBuildTime)
					  FROM tbl_SchemaGroup sgp2 
					  JOIN tbl_SessionGroupStatus sgps2 ON (sgp2.SchemaGroupID = sgps2.SchemaGroupID AND (sgps2.StatusID = 2 OR sgps2.StatusID = 4))
					 WHERE sgps2.SessionID = s.SessionID
 					   AND sgps2.Skip = 0)
					-
				   (SELECT SUM(DATEDIFF(mi, sgps3.ProcessStarted, GetDate())) As TimeUsed
					  FROM tbl_SessionGroupProcessStatus sgps3
					 WHERE (sgps3.StatusID = 2 
						OR sgps3.StatusID = 4)
					   AND sgps3.SessionID = s.SessionID
   					   AND sgps3.Skip = 0)
				)
		   , TimeUsedForCurrent = 
				(
					/* Grab the step(s) that is currently running and figure out how long it 
					   has been running.  This is added to the previous value to determine the
					   amount of total time ALREADY used up */
					SELECT SUM(DATEDIFF(mi, sgps4.ProcessStarted, GetDate())) As TimeUsed
				      FROM tbl_SessionGroupProcessStatus sgps4
				 	 WHERE (StatusID = 2 
				  	    OR StatusID = 4)
					   AND s.SessionID = sgps4.SessionID
					   AND sgps4.Skip = 0
				)
	  FROM tbl_Session s
	  JOIN tbl_Lab l ON (s.LabID = l.LabID)
	  JOIN tbl_Milestone m ON (s.MilestoneID = m.MilestoneID)
	  JOIN tbl_SessionGroupStatus sgs ON (s.SessionID = sgs.SessionID)
	  JOIN tbl_SchemaGroup sg ON (sgs.SchemaGroupID = sg.SchemaGroupID)
	  JOIN tbl_SchemaGroupProcess sgp ON (sg.SchemaGroupID = sgp.SchemaGroupID)
	  JOIN tlkp_Status st ON (s.StatusID = st.StatusID)
	  JOIN tlkp_Flavor f ON (s.FlavorID = f.FlavorID)
     WHERE s.SessionID = @SessionID
	   AND sgs.Skip = 0
  GROUP BY s.SessionID, s.SeRevision, l.LaName, m.MiName, f.FlName, s.StatusID, st.StName, st.StColor, s.SeHasWarnings, s.SeHasErrors, sgs.Skip
  ORDER BY s.SeRevision DESC	
	
	RETURN 
GO
