USE [LabStatus]
GO
/****** Object:  Table [dbo].[tlkp_TicketSystem]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tlkp_TicketSystem](
	[TicketSystemId] [int] IDENTITY(1,1) NOT NULL,
	[TSName] [varchar](50) NULL,
	[TSViewUrl] [nvarchar](max) NULL,
	[TSServerUrl] [nvarchar](100) NULL,
	[TSEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_tlkp_TicketSystem] PRIMARY KEY CLUSTERED 
(
	[TicketSystemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tlkp_TicketSystem] ADD  CONSTRAINT [TSEnabled_Default]  DEFAULT ((1)) FOR [TSEnabled]
GO
