USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLabGroupPriority]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetLabGroupPriority]
    (
        @LabGroupId int
    )
AS
    SET NOCOUNT ON
    SELECT t.LabGroupPriority
    FROM tlkp_LabGroup t
    WHERE t.LabGroupId = @LabGroupId
GO
