USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBuildNumbersByDate]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBuildNumbersByDate]
(
	@LabID int,
	@LocaleSetID int
)
AS
	SET NOCOUNT ON
	
	SELECT DISTINCT 
		(CONVERT(varchar(2), DATEPART(mm, SeBuildDate)) +'/'+ CONVERT(varchar(2), DATEPART(dd, SeBuildDate)) +'/'+ CONVERT(varchar(4), DATEPART(yy, SeBuildDate))) As SeBuildDate,
		SeRevision, DATEPART(yy, SeBuildDate), DATEPART(mm, SeBuildDate), DATEPART(dd, SeBuildDate)
	FROM tbl_Session WITH (NOLOCK)
	WHERE LabID = @LabID
	AND LocaleSetID = @LocaleSetID
	AND StatusID <> 8
	AND StatusID <> 11
	AND SeRevision NOT LIKE '%_DEL%'
	ORDER BY DATEPART(yy, SeBuildDate) DESC, DATEPART(mm, SeBuildDate) DESC, DATEPART(dd, SeBuildDate) DESC
  
	
	RETURN 

GO
