USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_MntrGetStalledProcesses]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 
sp_MntrGetStalledProcesses
*/
CREATE PROCEDURE [dbo].[sp_MntrGetStalledProcesses]
(
	@SessionID int
)
AS
	SET NOCOUNT ON
	
	-- Mark all STALLED processes.
	SELECT sgps.SessionGroupProcessStatusID, sgs.SessionGroupStatusID, s.SeBuildMachine
	  FROM tbl_SessionGroupStatus sgs WITH (NOLOCK) 
	  JOIN tbl_SchemaGroup sg WITH (NOLOCK) ON (sgs.SchemaGroupID = sg.SchemaGroupID AND sgs.SessionID = @SessionID)
	  JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK)  ON (sg.SchemaGroupID = sgp.SchemaGroupID)
	  JOIN tbl_SessionGroupProcessStatus sgps WITH (NOLOCK) ON (sgp.SchemaGroupProcessID = sgps.SchemaGroupProcessID AND sgps.SessionID = @SessionID)
	  JOIN tbl_Session s WITH (NOLOCK) ON (sgps.SessionID = s.SessionID)
	 WHERE sgps.Stalled = 1	  
	   AND sgps.SessionGroupProcessStatusID NOT IN (SELECT lg.SessionGroupProcessStatusID
													  FROM tbl_Log lg WITH (NOLOCK)
													 WHERE lg.SessionID = @SessionID
													   AND lg.CategoryID = 3
													   AND lg.LoLog = 'Stalled')


	RETURN 

GO
