USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_EnsureSessionGroup]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_EnsureSessionGroup]     
    @LabID INT,
    @Revision VARCHAR(100),
    @LocaleSetID INT,
    @SessionGroupID INT OUTPUT
    
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from interfering with SELECT statements.
    SET NOCOUNT ON

	DECLARE @AttemptCount int
	SET @AttemptCount = 0
    DECLARE @sgID INT
    DECLARE @hid HIERARCHYID

	start:
    
		BEGIN TRY
			-- See if we have an existing session group
			SELECT @sgID = SessionGroupID, @hid=hid
			FROM tbl_SessionGroup
			WHERE @LocaleSetID = LocaleSetID AND
				  @LabID = LabID AND
				  @Revision = Revision

			IF (@sgID IS NULL) 
				BEGIN
					-- Did not find an existing build for our upstream dependency in SessionGroups, so let's add it
					DECLARE @new_hid AS HIERARCHYID
					DECLARE @parent_id AS HIERARCHYID
					DECLARE @last_child AS HIERARCHYID
                        
					-- Insert the session group under the root
					SET @parent_id = HIERARCHYID::GetRoot()            
            
					-- Get the last child under the parent retrieved above
					SELECT @last_child=MAX(hid) FROM tbl_SessionGroup WHERE hid.GetAncestor(1) = @parent_id
            
					-- Get a new child, positioned after the last child
					SET @new_hid = @parent_id.GetDescendant(@last_child, NULL)

					INSERT INTO tbl_SessionGroup (hid, LabID, Revision, LocaleSetID)
					VALUES (@new_hid, @LabID, @Revision, @LocaleSetID)

					SET @sgID = @@IDENTITY  -- Get autonumber from insert statement above                
				END

			SET @SessionGroupID = @sgID
		END TRY
		BEGIN CATCH
			-- DevDiv bug #931907: multiple build launches at the same time can cause the error 
			-- "Cannot insert duplicate key row in object 'dbo.tbl_SessionGroup' with unique index 'IX_tbl_SessionGroup_Hid'"
			-- This is the only sproc in the database that inserts into tbl_SessionGroup, so add a try/catch/retry around the entire sproc. 
			-- If this does not fix the issue, further investigation will be required.

			-- If the error is not 2601 (cannot insert duplicate key error), throw the unexpected exception.
			IF ERROR_NUMBER() <> 2601				
				THROW

			SET @AttemptCount = @AttemptCount + 1	
			IF @AttemptCount = 3
				THROW

			-- Wait a small amount of time for contention to reside just to be safe, then retry.
			WAITFOR DELAY '00:00:01'
			goto start
		END CATCH
END
GO
