USE [LabStatus]
GO
/****** Object:  View [dbo].[vw_Builds_NeedingAttention]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Builds_NeedingAttention]
AS
SELECT TOP 100 PERCENT *
FROM
(
SELECT L.LaName AS Lab, S.SeRevision AS Revision, TA.TaName AS Architecture, F.FlName AS Flavor, LS.LoName AS Workflow, L.LaOrder, DATEDIFF(mi, S.SeStarted, GetDate()) / 60.0 AS HoursRunning, 'https://ddweb.corp.microsoft.com/buildstatus/Detail.aspx?sid=' + CAST(S.SessionID AS varchar(max)) AS URL
FROM tbl_Session S
INNER JOIN tbl_Lab L ON S.LabID = L.LabID
INNER JOIN tbl_Milestone M ON L.MilestoneID = M.MilestoneID
INNER JOIN tlkp_Flavor F ON S.FlavorID = F.FlavorID
INNER JOIN tlkp_TargetArchitecture TA ON S.TargetArchitectureID = TA.TargetArchitectureID
INNER JOIN tlkp_LocaleSet LS ON S.LocaleSetID = LS.LocaleSetID
WHERE S.SeStarted >= DATEADD(hh, -24, GetDate())
AND S.SeStarted < DATEADD(mi, -20, GetDate())
AND M.MiShortName NOT IN ('VAL', 'OTG')
AND Ta.TaShortName = 'CTR'
AND NOT EXISTS (SELECT * FROM tbl_SessionGroupProcessStatus SGPS INNER JOIN tbl_SchemaGroupProcess SGP ON SGPS.SchemaGroupProcessID = SGP.SchemaGroupProcessID WHERE SGPS.SessionID = S.SessionID AND SGP.PrName = 'Pre-Kickoff')

UNION ALL 

SELECT L.LaName AS Lab, S.SeRevision AS Revision, TA.TaName AS Architecture, F.FlName AS Flavor, LS.LoName AS Workflow, L.LaOrder, DATEDIFF(mi, S.SeStarted, GetDate()) / 60.0 AS HoursRunning, 'https://ddweb.corp.microsoft.com/buildstatus/Detail.aspx?sid=' + CAST(S.SessionID AS varchar(max)) AS URL
FROM tbl_Session S
INNER JOIN tbl_Lab L ON S.LabID = L.LabID
INNER JOIN tbl_Milestone M ON L.MilestoneID = M.MilestoneID
INNER JOIN tlkp_Flavor F ON S.FlavorID = F.FlavorID
INNER JOIN tlkp_TargetArchitecture TA ON S.TargetArchitectureID = TA.TargetArchitectureID
INNER JOIN tlkp_LocaleSet LS ON S.LocaleSetID = LS.LocaleSetID
WHERE S.SeStarted >= DATEADD(hh, -24, GetDate())
AND S.SeStarted < DATEADD(mi, -90, GetDate())
AND S.SeTestBuild = 0
AND S.StatusID != 8
AND M.MiShortName NOT IN ('VAL', 'OTG')
AND Ta.TaShortName != 'CTR'
AND NOT EXISTS (SELECT * FROM tbl_SessionGroupProcessStatus SGPS INNER JOIN tbl_SchemaGroupProcess SGP ON SGPS.SchemaGroupProcessID = SGP.SchemaGroupProcessID WHERE SGPS.SessionID = S.SessionID AND SGP.PrName = 'Re-map Enlistment')
) Foo
ORDER BY HoursRunning
GO
