USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetBuildFixes]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetBuildFixes]
(
	@MachineName VARCHAR(255),
	@BldNumber   VARCHAR(100) = NULL
)
AS

BEGIN
    DECLARE @SessionID INT
    DECLARE @ResumeStatusID INT
    DECLARE @BuildNum VARCHAR(100)
    DECLARE @ResumeStep VARCHAR(50)
    DECLARE @SfSkipRelease BIT

    IF @BldNumber IS NULL
    BEGIN
        SELECT  Top 1 @SessionID = s.SessionID, @ResumeStatusID = COALESCE(s.ResumeStatusID, 0), @BuildNum = SeRevision, @ResumeStep = SeResumeStep
        FROM    tbl_Session s WITH (NOLOCK)
        WHERE   s.SeBuildMachine = @MachineName
        AND     s.StatusID <> 8 -- Abandoned
        ORDER BY s.SeStarted desc
    END
    ELSE
    BEGIN
        SELECT  Top 1 @SessionID = s.SessionID, @ResumeStatusID = COALESCE(s.ResumeStatusID, 0), @BuildNum = SeRevision, @ResumeStep = SeResumeStep
        FROM    tbl_Session s WITH (NOLOCK)
        WHERE   s.SeBuildMachine = @MachineName
        AND     s.StatusID <> 8 -- Abandoned
        AND     s.SeRevision = @BldNumber
        ORDER BY s.SeStarted desc
    END

    SELECT TOP 1 @SfSkipRelease = sf.SfSkipRelease
    FROM    tbl_SessionFix sf WITH (NOLOCK)
    WHERE   sf.FixStatusID = 3 -- Starting
    AND     sf.SessionID = @SessionID
    ORDER BY sf.SfScheduleTime
	
    IF @SfSkipRelease IS NULL
    BEGIN
        SELECT @SfSkipRelease = 0
    END

    SELECT @SessionID AS SessionID, @SfSkipRelease AS SfSkipRelease
	        
    SELECT  f.*
    INTO    #fix
    FROM    tbl_SessionFix sf WITH (NOLOCK)
    JOIN    tbl_Fix f WITH (NOLOCK)
                ON f.FixID = sf.FixID
    WHERE   sf.FixStatusID = 3 -- Starting
    AND     sf.SessionID = @SessionID
    ORDER BY sf.SfScheduleTime

    SELECT  * 
    FROM    #fix

	SELECT  DISTINCT bs.*
	FROM    tbl_FixDefSourceCodeBuildStep bs WITH (NOLOCK)
    JOIN    #fix f
                ON f.FixDefinitionID =  bs.FixDefinitionID
    ORDER BY bs.bsOrder, bs.FixDefSourceCodeBuildStepID

    DECLARE @ResumeFlag BIT
    IF (@ResumeStatusID = 3)
        SET @ResumeFlag = 1
    ELSE
        SET @ResumeFlag = 0

    SELECT @ResumeFlag AS Resume, @BuildNum AS BuildNum, @ResumeStep AS ResumeStep

	DROP TABLE #fix
END
GO
