USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddFixBase]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddFixBase]
(
	@FixTypeID int,
	@IssueID int,
	@IsAutomated bit,
	@AffectedSessions varchar(1000),
	@UserName varchar(50),
	@FixDefinitionID int
)
AS
BEGIN
	/*********************************
	DESCRIPTION
		Creates the base information for all fixes regardless of type
	**************************************/

	DECLARE @FixID int

	--create the fix
	INSERT INTO tbl_Fix
	(IssueID, FixTypeID, FiIsAutomated, FiSubmittedDate, FiSubmittedBy, FixDefinitionID)
	VALUES
	(@IssueID, @FixTypeID, @IsAutomated, GETDATE(), @UserName, @FixDefinitionID)

	SET @FixID = @@IDENTITY

	--associate the appropriate sessions
	INSERT INTO tbl_SessionFix
	(SessionID, FixID)
	SELECT ItemID, @FixID
	FROM fn_ParseCommaDelimitedList(@AffectedSessions)


END
GO
