USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetMachinesNamesFor]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[up_GetMachinesNamesFor]
@SessionID int,
@SessionGroupStatusID int
as
select distinct LoMachineName from tbl_Log where SessionGroupStatusID = @SessionGroupStatusID and SessionID = @SessionID

GO
