USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionIDByCode2]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	
CREATE PROCEDURE [dbo].[sp_GetSessionIDByCode2]
	(
		@Revision varchar(50),
		@LabShortName varchar(10),
		@MilestoneShortName varchar(10),
		@FlavorShortName varchar(10),
		@TargetArchitectureShortName varchar(10),
		@LocaleSetShortName varchar(10),
		@MachineName varchar(50)
	)
AS
	SET NOCOUNT ON
	
    -- Grab the LabID, ProductID, MilestoneID, FlavorID based on 
    -- the names passed in.
	DECLARE @MilestoneID int
	DECLARE @LabID int
	DECLARE @FlavorID int
	DECLARE @TargetArchitectureID int
	DECLARE @LocaleSetID int

	-- Build the new start time.  This is used as the build date.
	IF @LabShortName = 'Private'
		SELECT @Revision = @MachineName + '.' + @Revision
		
	-- MilestoneID.
	SELECT @MilestoneID = MilestoneID
	  FROM tbl_Milestone WITH (NOLOCK) 
	 WHERE MiShortName = @MilestoneShortName
	-- LabID.
	SELECT @LabID = LabID
	  FROM tbl_Lab WITH (NOLOCK)
	 WHERE LaShortName = @LabShortName 
	-- FlavorID.
	SELECT @FlavorID = FlavorID
	  FROM tlkp_Flavor WITH (NOLOCK)
	 WHERE FlShortName = @FlavorShortName
	-- TargetArchitectureID.
	SELECT @TargetArchitectureID = TargetArchitectureID
	  FROM tlkp_TargetArchitecture WITH (NOLOCK)
	 WHERE TaShortName = @TargetArchitectureShortName
	-- LocaleSetID.
	SELECT @LocaleSetID = LocaleSetID
	  FROM tlkp_LocaleSet WITH (NOLOCK)
	 WHERE LoShortName = @LocaleSetShortName

	SELECT @Revision
	SELECT @LabID
	SELECT @MilestoneID 
	SELECT @LabID 
	SELECT @FlavorID 
	SELECT @TargetArchitectureID 
	SELECT @LocaleSetID 
		
	-- SessionID.
	DECLARE	@ExistingSessionID int
	SELECT @ExistingSessionID = SessionID
	  FROM tbl_Session WITH (NOLOCK)
	 WHERE SeRevision = @Revision
	   AND MilestoneID = @MilestoneID
	   AND LabID = @LabID
	   AND FlavorID = @FlavorID	
	   AND TargetArchitectureID = @TargetArchitectureID
	   AND LocaleSetID = @LocaleSetID
	   
	SELECT @ExistingSessionID As SessionID
	
	RETURN 

GO
