USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_Parameter]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Parameter](
	[ParameterID] [int] NOT NULL,
	[PaName] [varchar](50) NOT NULL,
	[PaTitle] [varchar](50) NOT NULL,
	[PaValidate] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_Parameter] PRIMARY KEY CLUSTERED 
(
	[ParameterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Parameter] ADD  CONSTRAINT [DF_tbl_Parameter_PaIsValidated]  DEFAULT (0) FOR [PaValidate]
GO
