USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_AddBuildStepForSourceCodeFix]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[up_AddBuildStepForSourceCodeFix]
(
	@IssueID int,
	@BuildDirectory varchar(255),
	@BuildFlags varchar(3000),
	@ChangeLists varchar(1000),
	@CommitIds varchar(1000)
)
AS
BEGIN
    DECLARE @FixDefinitionID INT
    SELECT  @FixDefinitionID = FixDefinitionID
    FROM    tbl_Fix
    WHERE   IssueID = @IssueID

	DECLARE @Order int
	SELECT  @Order = MAX(BsOrder)
	FROM    tbl_FixDefSourceCodeBuildStep 
	WHERE   FixDefinitionID = @FixDefinitionID

	INSERT INTO tbl_FixDefSourceCodeBuildStep
	    (FixDefinitionID, BsBuildDir, BsFlags, BsOrder, BsChangeLists, BsCommitIds)
	VALUES
	    (@FixDefinitionID, @BuildDirectory, @BuildFlags, COALESCE(@Order, 1), @ChangeLists, @CommitIds)
		
END
GO
