USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateProcessDocLink]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_UpdateProcessDocLink]
(
	@ProcessID int,
	@DocLink varchar(255)
)
AS
BEGIN
	/***************
	DESCRIPTION
		Updates the given Group Process's documentation link
	*****************/

	UPDATE tbl_SchemaGroupProcess	
	SET PrDocLink = @DocLink
	WHERE SchemaGroupProcessId = @ProcessId
END




GO
