USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_TeamStats_GetDailyBuildCount]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[up_TeamStats_GetDailyBuildCount]
AS
select COUNT(SessionID) from tbl_Session
where SeStarted >= dbo.fn_StripTime( GetDate() )
GO
