USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_Calendar]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Calendar](
	[CalendarID] [int] NOT NULL,
	[CaDateValue] [datetime] NOT NULL,
	[CaDayName] [varchar](10) NOT NULL,
	[CaMonthName] [varchar](10) NOT NULL,
	[CaYear] [varchar](60) NOT NULL,
	[CaDay] [tinyint] NOT NULL,
	[CaDayOfTheYear] [smallint] NOT NULL,
	[CaMonth] [smallint] NOT NULL,
	[CaQuarter] [tinyint] NOT NULL,
	[CaWeekendFlag] [bit] NOT NULL,
	[CaFiscalYear] [smallint] NOT NULL,
	[CaFiscalMonth] [tinyint] NULL,
	[CaFiscalQuarter] [tinyint] NOT NULL,
	[CaRelativeDayCount] [int] NOT NULL,
	[CaRelativeWeekCount] [int] NOT NULL,
	[CaRelativeMonthCount] [int] NOT NULL,
 CONSTRAINT [PKdate_dim] PRIMARY KEY CLUSTERED 
(
	[CalendarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [AKdate_dim__dateValue] UNIQUE NONCLUSTERED 
(
	[CaDateValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
