USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddIssueWorkAround]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddIssueWorkAround]
	(
		@IssueID int,
		@WorkAroundID int
	)
AS
	SET NOCOUNT ON
	UPDATE tbl_Issue
	   SET IsWorkAround = @WorkAroundID
	 WHERE IssueID = @IssueID
	
	RETURN 
GO
