USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_LogScheduleBuild]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- sp_LogScheduleBuild
CREATE PROCEDURE [dbo].[sp_LogScheduleBuild]
	(
		@Revision varchar(50),
		@LabShortName varchar(50),
		@ProductShortName varchar(10),
		@MilestoneShortName varchar(10),
		@FlavorShortName varchar(10),
		@TargetArchitectureShortName varchar(10),
		@LogDateTime datetime = NULL,
		@Comment varchar(255),
		@MachineName varchar(50)
	)
AS
	BEGIN TRANSACTION
			
		IF @LogDateTime IS NULL
			SELECT @LogDateTime = GetDate()
			
		DECLARE	@SessionID int
		DECLARE @SchemaID int
		-- SessionID and SchemaID.
		EXEC sp_GetSessionID @Revision, @LabShortName, @ProductShortName, @MilestoneShortName, @FlavorShortName, @TargetArchitectureShortName, @LogDateTime, @MachineName, @SessionID OUTPUT, @SchemaID OUTPUT
		SELECT @SessionID As SessionID
		
		UPDATE tbl_Session
		   SET SeComment = @Comment,
		       SeStarted = NULL
		 WHERE SessionID = @SessionID
		
	COMMIT TRANSACTION	
	
	RETURN

GO
