USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_RemoveUserSession]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RemoveUserSession]
	(
		@UserSessionID int
	)
AS
	SET NOCOUNT ON
	
	UPDATE tbl_UserSession
	   SET SeRemoved = 1
	 WHERE UserSessionID = @UserSessionID
	
	RETURN 
GO
