USE [LabStatus]
GO
/****** Object:  Table [dbo].[tbl_SessionGroup]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SessionGroup](
	[SessionGroupID] [int] IDENTITY(1,1) NOT NULL,
	[LabID] [int] NOT NULL,
	[LocaleSetID] [int] NOT NULL,
	[Revision] [varchar](100) NOT NULL,
	[hid] [hierarchyid] NOT NULL,
	[lvl]  AS ([hid].[GetLevel]()) PERSISTED,
	[SeExpirationDate] [datetime] NULL,
	[SeExpirationState] [int] NULL,
	[SeShouldAutoAbandon] [bit] NOT NULL,
	[SeLastExtendAlias] [varchar](100) NULL,
 CONSTRAINT [PK_tlkp_SessionGroups] PRIMARY KEY CLUSTERED 
(
	[SessionGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_tbl_SessionGroup] UNIQUE NONCLUSTERED 
(
	[LabID] ASC,
	[LocaleSetID] ASC,
	[Revision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_SessionGroup] ADD  DEFAULT ((0)) FOR [SeExpirationState]
GO
ALTER TABLE [dbo].[tbl_SessionGroup] ADD  DEFAULT ((0)) FOR [SeShouldAutoAbandon]
GO
ALTER TABLE [dbo].[tbl_SessionGroup] ADD  DEFAULT ('') FOR [SeLastExtendAlias]
GO
ALTER TABLE [dbo].[tbl_SessionGroup]  WITH CHECK ADD  CONSTRAINT [FK_tbl_SessionGroup_tbl_Lab] FOREIGN KEY([LabID])
REFERENCES [dbo].[tbl_Lab] ([LabID])
GO
ALTER TABLE [dbo].[tbl_SessionGroup] CHECK CONSTRAINT [FK_tbl_SessionGroup_tbl_Lab]
GO
ALTER TABLE [dbo].[tbl_SessionGroup]  WITH CHECK ADD  CONSTRAINT [FK_tbl_SessionGroup_tlkp_LocaleSet] FOREIGN KEY([LocaleSetID])
REFERENCES [dbo].[tlkp_LocaleSet] ([LocaleSetID])
GO
ALTER TABLE [dbo].[tbl_SessionGroup] CHECK CONSTRAINT [FK_tbl_SessionGroup_tlkp_LocaleSet]
GO
