USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSchemaGroupOrder]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateSchemaGroupOrder]
	(
		@SchemaGroupID int,
		@GroupOrder int
	)
AS
	SET NOCOUNT ON
	
	UPDATE tbl_SchemaGroup WITH (ROWLOCK)
	   SET GrOrder = @GroupOrder
	 WHERE SchemaGroupID = @SchemaGroupID
	 
	
	RETURN 
GO
