USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessionsByRevisionRange]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetSessionsByRevisionRange]
	(
		@LabIDs varchar(4000),
		@FlavorIDs varchar(255),
		@TargetArchitectureIDs varchar(255),
		@LanguageIDs varchar(4000),
		@From varchar(100),
		@To varchar(100) = '', -- Adding a default in case it's not specified, ABjork, 1/3/2007
		@RequestOwnerAlias VARCHAR(50) = NULL,
		@LabIDParentBranchNames VARCHAR(4000) = NULL   -- in the form of "ValLabId1-parentbranchName1,ValLabId2-parentbranchName2"
	)
AS
BEGIN
    SET NOCOUNT ON

	DECLARE @ValLabIDs VARCHAR(4000),
			@MergedLabIDs VARCHAR(4000)

	CREATE TABLE #LabParentBranch(LabID INT, ParentBranchName VARCHAR(255))
	IF(Len(@LabIDParentBranchNames) > 0)
	BEGIN	
		INSERT INTO #LabParentBranch
		SELECT LEFT(Part, CHARINDEX('-',Part)-1) AS LabID, SUBSTRING(Part, CHARINDEX('-',Part)+1,LEN(Part)) AS ParentBranchName
		FROM dbo.fn_SplitString(@LabIDParentBranchNames,',')

		SELECT @ValLabIDs = COALESCE(@ValLabIDs + ',','') + CAST(LabID AS VARCHAR(15))
		FROM (SELECT DISTINCT LabID FROM #LabParentBranch) AS l1
	END

	IF(Len(@LabIDs) > 0 OR Len(@ValLabIDs)>0)
	BEGIN
	    SET @MergedLabIDs =
			CASE 
				WHEN Len(@LabIDs) > 0 and Len(@ValLabIDs)>0 
				THEN @LabIDs+','+@ValLabIDs

				WHEN Len(@LabIDs) > 0
				THEN @LabIDs

				WHEN Len(@ValLabIDs)>0 
				THEN @ValLabIDs
			END
	END

	SELECT  s.SessionID
	  INTO  #SessionID
	  FROM  tbl_Session s WITH (READPAST)
	  JOIN  fn_ParseCommaDelimitedList(@MergedLabIDs) l 
                ON (s.LabID = l.ItemID)
	  JOIN  fn_ParseCommaDelimitedList(@FlavorIDs) f 
                ON (s.FlavorID = f.ItemID)
	  JOIN  fn_ParseCommaDelimitedList(@TargetArchitectureIDs) ta 
                ON (s.TargetArchitectureID = ta.ItemID) 
	  JOIN  fn_ParseCommaDelimitedList(@LanguageIDs) ls 
                ON (s.LocaleSetID = ls.ItemID)
	  JOIN	tlkp_Flavor flavor WITH (NOLOCK)
				ON (s.FlavorID = flavor.FlavorID)
	  JOIN  tbl_Lab lab WITH (NOLOCK)
	            ON (s.LabID = lab.LabID)
	  LEFT JOIN  tbl_SessionGroupTopicParentBranches sgtpb WITH (NOLOCK)
				ON dbo.fn_GetSessionGroupForSession(s.SessionID) = sgtpb.SessionGroupID
	  LEFT JOIN  #LabParentBranch lpb WITH (NOLOCK)
				ON lpb.LabID = s.LabID
	 WHERE  s.SeRevision >= @From AND s.SeRevision <= @To
	 AND    (s.SeValidationBuild = 0 
			OR lab.LaName LIKE 'Lopez%' 
			OR lpb.ParentBranchName IS NULL
			OR lpb.ParentBranchName = ISNULL(sgtpb.ParentBranch,'[Parent]'))
	 AND	((s.SessionID in 
			 (SELECT SessionID 
			  FROM LaunchPad.dbo.vw_LopezRequestSessions WITH (NOLOCK)
			  WHERE OwnerAlias = @RequestOwnerAlias)) OR @RequestOwnerAlias IS NULL)
	ORDER BY s.LocaleSetID, s.TargetArchitectureID, flavor.FlOrder ASC, s.SessionID

    DECLARE @SessionIdList VARCHAR(max)
    SELECT	@SessionIdList = COALESCE(@SessionIdList + ',', '') + CONVERT(varchar(20), SessionID) 
    FROM	#SessionID

    EXEC    up_GetSessions @SessionIdList

	-- Request
	SELECT  DISTINCT LRS.*
	FROM    LaunchPad.dbo.vw_LopezRequestSessions LRS WITH (NOLOCK)
	INNER JOIN #SessionID S
			ON LRS.SessionID = S.SessionID
	UNION
    SELECT  DISTINCT LRS.*
	FROM    LaunchPad.dbo.vw_LopezRequestSessions LRS WITH (NOLOCK)
	JOIN	fn_ParseCommaDelimitedList(@MergedLabIDs) l 
			ON (LRS.LabID = l.ItemID)
	JOIN	fn_ParseCommaDelimitedList(@FlavorIDs) f 
			ON (LRS.FlavorID = f.ItemID)
	JOIN	fn_ParseCommaDelimitedList(@TargetArchitectureIDs) ta 
			ON (LRS.TargetArchitectureID = ta.ItemID) 
	JOIN	fn_ParseCommaDelimitedList(@LanguageIDs) ls 
			ON (LRS.LocaleSetID = ls.ItemID)
	JOIN	tlkp_Flavor flavor WITH (NOLOCK)
			ON (LRS.FlavorID = flavor.FlavorID)
	WHERE   LRS.SessionID IS NULL
	AND		LRS.Revision BETWEEN @From AND @To
	AND		((LRS.OwnerAlias = @RequestOwnerAlias) OR (@RequestOwnerAlias IS NULL))

	DROP TABLE   #SessionID
	DROP TABLE   #LabParentBranch
	RETURN
END
GO
