USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AutoIssue_GetOpenIssues]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AutoIssue_GetOpenIssues]
(
	@OrgID int = 1
)
AS
	SET NOCOUNT ON
	
	SELECT DISTINCT i.IssueID, i.IsTitle, l.LabID
	  FROM tbl_Issue i WITH (NOLOCK)
	  JOIN atbl_SessionIssue si WITH (NOLOCK) ON (i.IssueID = si.IssueID)
	  JOIN tbl_Session s WITH (NOLOCK) ON (si.SessionID = s.SessionID)
	  JOIN tbl_Lab l WITH (NOLOCK) ON (s.LabID = l.LabID AND l.LaAutoOpenIssues = 1)
	 WHERE (i.IsClosed = 0 
	    OR i.IsClosed = 1 AND DATEDIFF(dd, i.IsDateClosed, GetDate()) = 0)
	   AND i.IsDeleted = 0
	   AND i.IsMachineAccessOnly = 0
	   AND i.IsDuplicate = 0
	   AND i.OrgID = @OrgID
  ORDER BY l.LabID
	
	RETURN 


GO
