USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_TeamStats_GetDailyIssueCount]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[up_TeamStats_GetDailyIssueCount]
AS
select count(IssueID) from tbl_Issue
where IsDateCreated >= dbo.fn_StripTime( GetDate() )
and IsDeleted=0
GO
