USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBuildTypes]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBuildTypes]
AS
	SET NOCOUNT ON
	
	SELECT BuildTypeID, BuName
	  FROM tlkp_BuildType WITH (NOLOCK)
  ORDER BY BuOrder
	
	RETURN 
GO
