USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetIssueWithLogs]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetIssueWithLogs]
(
	@IssueID int
)
AS
	SET NOCOUNT ON
	
	SELECT i.*, lg.*, l.LaName As [Language], sv.SeName
	  FROM tbl_Issue i WITH (NOLOCK)
 LEFT JOIN tbl_IssueLog lg WITH (NOLOCK) ON (i.IssueID = lg.IssueID)
	  JOIN tlkp_Severity sv WITH (NOLOCK) ON (i.SeverityID = sv.SeverityID)
	  JOIN tlkp_Language l WITH (NOLOCK) ON (i.LanguageID = l.LanguageID)
	 WHERE i.IssueID = @IssueID
	   AND i.IsDeleted = 0
  ORDER BY i.IsDateCreated DESC, lg.LoDateCreated DESC
	
	
	RETURN 
GO
