USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_MarkBuidAsDeleted2]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MarkBuidAsDeleted2]
	(
		@SessionID int,
		@User varchar(20),
		@Comment varchar(255)
	)
AS
	SET NOCOUNT ON
	
	UPDATE tbl_Session WITH (ROWLOCK)
	   SET SeRevision = SeRevision + '_DEL',
		   SeBuildDate = DATEADD(yy, -5, SeBuildDate),
		   StatusID = 8
     WHERE SessionID = @SessionID
	
	INSERT 
	  INTO tbl_LogFootprint (LoLog, LoDateTimeStamp, LoDateTimeLogged)
	VALUES ('Session ' + CONVERT(varchar(20), @SessionID) + ' has been deleted by ' + @User, GetDate(), GetDate())
	
	IF LEN(@Comment) > 0
		BEGIN
			DECLARE @NewComment varchar(400)
			SELECT @NewComment = 'Deleted by ' + @User + ' with the following comment: ' + @Comment
			EXEC sp_AddSessionLog @SessionID, @User, @NewComment
		END
	
	RETURN 
GO
