USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionGroupProcessDetail]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSessionGroupProcessDetail]
	(
		@SessionGroupProcessID int
	)
AS
	SET NOCOUNT ON
	
	SELECT sgps.SessionGroupProcessStatusID, sg.GrName As GroupName, sgp.PrName As ProcessName, sgps.StatusID As ProcessStatus, sgps.HasErrors, sgps.HasWarnings, sgps.ProcessStarted, sgps.ProcessFinished, sgps.IgnoreTiming, sgps.Skip
	  FROM tbl_SessionGroupProcessStatus sgps WITH (NOLOCK) 
	  JOIN tbl_SchemaGroupProcess sgp WITH (NOLOCK) ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID)
	  JOIN tbl_SchemaGroup sg WITH (NOLOCK) ON (sg.SchemaGroupID = sgp.SchemaGroupID)	  
	 WHERE sgps.SessionGroupProcessStatusID = @SessionGroupProcessID
  ORDER BY sg.GrOrder, sgp.PrOrder
	
	RETURN 
GO
