USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddProperty]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- sp_AddProperty
CREATE PROCEDURE [dbo].[sp_AddProperty]
	(
		@Revision varchar(50),
		@LabShortName varchar(10),
		@ProductShortName varchar(10),
		@MilestoneShortName varchar(10),
		@FlavorShortName varchar(10),
		@PropertyName varchar(50),
		@PropertyValue varchar(500)
	)
AS
	DECLARE	@SessionID int
	DECLARE @SchemaID int
	-- SessionID and SchemaID.
	EXEC sp_GetSessionID @Revision, @LabShortName, @ProductShortName, @MilestoneShortName, @FlavorShortName, GetDate, @SessionID OUTPUT, @SchemaID OUTPUT
	INSERT
	  INTO tbl_SessionProperty (SessionID, PrName, PrValue)
	VALUES (@SessionID, @PropertyName, @PropertyValue)
	
GO
