USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[up_GetSessionGroups]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetSessionGroups]
(
    @SessionID int,
    @CategoryIDs varchar(2000) = ''
)
AS
BEGIN

SET NOCOUNT ON

    -- Groups.
    SELECT		sgs.*, sg.GrName, sg.IsTest
    INTO		#Groups
    FROM		tbl_SessionGroupStatus sgs WITH (NOLOCK)
    JOIN		tbl_SchemaGroup sg WITH (NOLOCK)
                    ON (sgs.SchemaGroupID = sg.SchemaGroupID)
    WHERE		sgs.SessionID = @SessionID

    CREATE TABLE #GroupsSort (SessionGroupStatusID INT, SessionID INT, SchemaGroupID INT, StatusID INT,
        GroupStarted DateTime, GroupFinished DateTime, HasErrors BIT, HasWarnings BIT, Skip Bit, 
        GrName VARCHAR(200), IsTest bit, RowNumber INT IDENTITY (1, 1) PRIMARY KEY CLUSTERED)

    INSERT INTO #GroupsSort
    SELECT      *
    FROM		#Groups
    WHERE       GroupStarted IS NOT NULL
    --ORDER BY	GroupStarted ASC

    INSERT INTO #GroupsSort
    SELECT      *
    FROM		#Groups
    WHERE       GroupStarted IS NULL
    ORDER BY	SessionGroupStatusID ASC

    SELECT		*
    FROM		#GroupsSort
    ORDER BY    RowNumber
    
    DROP TABLE  #GroupsSort

    -- Processes.
    CREATE TABLE #Processes (SessionGroupProcessStatusID INT PRIMARY KEY NONCLUSTERED, SessionID INT, SchemaGroupProcessID INT, RunNumber INT,
        StatusID INT, ProcessStarted DateTime, ProcessFinished DateTime, HasErrors BIT, HasWarnings BIT, Skip Bit, 
        IgnoreTiming BIT, ProcessComment VARCHAR(1000), Stalled BIT, SchemaGroupID INT, PrName VARCHAR(200), PrDocLink VARCHAR(255), MachineName VARCHAR(50)
    )
    CREATE CLUSTERED INDEX [IX_ProcessesProcessStarted] ON #Processes
    (
        ProcessStarted ASC, 
        SessionGroupProcessStatusID ASC
    )

    INSERT INTO #Processes
    SELECT      DISTINCT sgps.*, g.SchemaGroupID, sgp.PrName, sgp.PrDocLink, COALESCE(sgp.MachineName, s.SeBuildMachine) AS MachineName
    FROM		tbl_SessionGroupProcessStatus sgps WITH (NOLOCK)
    JOIN		tbl_SchemaGroupProcess sgp WITH (NOLOCK)
                    ON (sgps.SchemaGroupProcessID = sgp.SchemaGroupProcessID)
    JOIN        #Groups g
                    ON (sgp.SchemaGroupID = g.SchemaGroupID)
    JOIN		tbl_Session s WITH (NOLOCK)
                    ON (s.SessionID = sgps.SessionID)
    WHERE		sgps.SessionID = @SessionID

    CREATE TABLE #ProcessesSort (SessionGroupProcessStatusID INT, SessionID INT, SchemaGroupProcessID INT, RunNumber INT,
        StatusID INT, ProcessStarted DateTime, ProcessFinished DateTime, HasErrors BIT, HasWarnings BIT, Skip Bit, 
        IgnoreTiming BIT, ProcessComment VARCHAR(1000), Stalled BIT, SchemaGroupID INT, PrName VARCHAR(200), PrDocLink VARCHAR(255), MachineName VARCHAR(50),
        RowNumber INT IDENTITY (1, 1) PRIMARY KEY CLUSTERED)

    INSERT INTO #ProcessesSort
    SELECT      *
    FROM		#Processes
    WHERE       ProcessStarted IS NOT NULL
    ORDER BY	ProcessStarted ASC

    INSERT INTO #ProcessesSort
    SELECT      *
    FROM		#Processes
    WHERE       ProcessStarted IS NULL
    ORDER BY	SessionGroupProcessStatusID ASC

    SELECT		*
    FROM		#ProcessesSort
    ORDER BY    RowNumber
    
    DROP TABLE  #ProcessesSort

    -- Process Log.
    SELECT DISTINCT	p.SessionGroupProcessStatusID, l.CategoryID, l.LoMachineName
    FROM		tbl_Log l WITH (NOLOCK)
    JOIN		#Processes p
                    ON (l.SessionGroupProcessStatusID = p.SessionGroupProcessStatusID)
    WHERE		l.SessionID = @SessionID
    AND			(@CategoryIDs = '' OR l.CategoryID IN (SELECT ItemID FROM dbo.fn_ParseCommaDelimitedList(@CategoryIDs)))

    DROP TABLE #Groups, #Processes
    
    RETURN 

END
GO
