USE [LabStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_LogRawDropLocation_DEV]    Script Date: 1/28/2026 12:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- sp_LogRawDropLocation
CREATE  PROCEDURE [dbo].[sp_LogRawDropLocation_DEV]
	(
		@Revision varchar(50),
		@LabShortName varchar(10),
		@ProductShortName varchar(10),
		@MilestoneShortName varchar(10),
		@FlavorShortName varchar(10),
		@TargetArchitectureShortName varchar(10),
		@LocaleSetShortName varchar(10),
		@RawDropLocation varchar(255),
		@LogDateTime datetime = NULL,
		@MachineName varchar(50)
	)
AS
	BEGIN TRANSACTION
			
		DECLARE	@SessionID int
		DECLARE @SchemaID int
		-- SessionID and SchemaID.
		EXEC sp_GetSessionID2 @Revision, @LabShortName, @ProductShortName, @MilestoneShortName, @FlavorShortName, @TargetArchitectureShortName, @LocaleSetShortName, @LogDateTime, @MachineName, @SessionID OUTPUT, @SchemaID OUTPUT
		SELECT @SessionID As SessionID
		IF @SessionID IS NULL
			BEGIN
				RAISERROR ('A session could not be found or created.', 16, 1, @Revision)
				ROLLBACK TRANSACTION
			END
		-- Reset the stalled value.
		UPDATE tbl_Session WITH (ROWLOCK)
		   SET SeManuallyStalled = NULL,
			   SeDelayed = 0,
		       SeComment = NULL,
			   SeDropPath = @RawDropLocation
		 WHERE SessionID = @SessionID

		--Fire DDNOTIFY event
		DECLARE @Now DATETIME 
		SET @Now = GETDATE()

		DECLARE @EventArgs VARCHAR(2000)
			SET @EventArgs = 'Lab:'+@LabShortName+';'
			SET @EventArgs = @EventArgs + 'Flavor:'+@FlavorShortName+';'
			SET @EventArgs = @EventArgs + 'Architecture:'+@TargetArchitectureShortName+';'
			SET @EventArgs = @EventArgs + 'Milestone:'+@MilestoneShortName+';'
			SET @EventArgs = @EventArgs + 'Revision:'+@Revision+';'
			SET @EventArgs = @EventArgs + 'SessionID:'+CONVERT(VARCHAR(255),@SessionID)+';'
			SET @EventArgs = @EventArgs + 'DropPath:'+@RawDropLocation+';'

		PRINT @EventArgs

		EXEC Notify..up_QueueEventInstance @eventShortName = 'rawdropavailable',
							@eventFired = @Now,
							@firedBy = '[LabStatus]',
							@firedFrom = 'DDLABSQL',
							@args = @EventArgs
				
		
	
		IF @@ROWCOUNT = 0
			BEGIN
				RAISERROR ('A log entry was not created.', 16, 1, @Revision)
				ROLLBACK TRANSACTION
			END
		ELSE
			COMMIT TRANSACTION
	
	RETURN 



GO
