USE [LabStatus]
GO
/****** Object:  StoredProcedure [Integration].[uspLogResolveSpecial]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE Procedure [Integration].[uspLogResolveSpecial]
(
	@SourceLab varchar(100),
	@DestLab varchar(100),
	@IntegrationDate datetime,
	@File varchar(1000),
	@Type varchar(50)	
)
AS
BEGIN
	SET NOCOUNT ON

	Declare @SourceLabID int,
			@DestLabID int,
			@IntegrationID int

	Exec [Integration].[uspGetLabIDs] 
		@SourceLab = @SourceLab, 
		@DestLab = @DestLab,
		@SourceLabID = @SourceLabID OUTPUT,
		@DestLabID = @DestLabID OUTPUT
	
	IF @@ERROR <> 0
		RETURN	
	
	Exec @IntegrationID = Integration.uspCreateIntegration @SourceLabID = @SourceLabID, @DestLabID = @DestLabID, @IntegrationDate = @IntegrationDate, @Select = 0

	Declare @TypeID int

	Select	@TypeID = TypeID
	From	[Integration].[Type] (NOLOCK)
	Where	ShortName = @Type

	If @TypeID Is Null
	Begin
		Exec Throw 'Invalid file type "$" specified', @Type
		Return
	End

	Declare @FileID int,
			@StatusID int

	Select	@FileID = FileID,
			@StatusID = StatusID
	From	[Integration].[File] (NOLOCK)
	Where	[Name] = @File
			And IntegrationID = @IntegrationID

	If @FileID Is Null
	Begin

		Insert Into [Integration].[File]
		(
			IntegrationID, 
			[Name], 
			StatusID, 
			TypeID
		)
		Values
		(
			@IntegrationID,
			@File,
			1, --Active
			@TypeID		
		)	

	End
	Else
	Begin

		Delete 
		From	[Integration].[TempFile]
		Where	FileID = @FileID
				And IntegrationID = @IntegrationID

		If Exists (Select 1 From [Integration].[File] (NOLOCK) Where [Name] = @File And IntegrationID = @IntegrationID And StatusID = 4)
			And Not Exists (Select 1 From [Integration].[File] (NOLOCK) Where [Name] = @File And IntegrationID = @IntegrationID And StatusID <> 4)
		Begin
			
			Insert Into [Integration].[File]
			(
				IntegrationID, 
				[Name], 
				StatusID, 
				TypeID
			)
			Values
			(
				@IntegrationID,
				@File,
				1, --Active
				@TypeID		
			)	

		End
	End

END






GO
