USE [LabStatus]
GO
/****** Object:  Table [Integration].[File]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Integration].[File](
	[FileID] [int] IDENTITY(1,1) NOT NULL,
	[IntegrationID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Name] [varchar](1000) NOT NULL,
	[Owner] [varchar](50) NULL,
	[Instructions] [varchar](2000) NULL,
	[AssignedToOwner] [datetime] NULL,
	[FixedDateTime] [datetime] NULL,
	[StatusID] [int] NOT NULL,
	[TypeID] [int] NOT NULL,
	[Action] [varchar](200) NULL,
 CONSTRAINT [PK_tbl_File] PRIMARY KEY CLUSTERED 
(
	[FileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Integration].[File] ADD  CONSTRAINT [DF_File_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [Integration].[File]  WITH CHECK ADD  CONSTRAINT [FK_File_Integration_IntegrationID] FOREIGN KEY([IntegrationID])
REFERENCES [Integration].[Integration] ([IntegrationID])
GO
ALTER TABLE [Integration].[File] CHECK CONSTRAINT [FK_File_Integration_IntegrationID]
GO
ALTER TABLE [Integration].[File]  WITH CHECK ADD  CONSTRAINT [FK_File_Status_StatusID] FOREIGN KEY([StatusID])
REFERENCES [Integration].[Status] ([StatusID])
GO
ALTER TABLE [Integration].[File] CHECK CONSTRAINT [FK_File_Status_StatusID]
GO
ALTER TABLE [Integration].[File]  WITH CHECK ADD  CONSTRAINT [FK_File_Type_TypeID] FOREIGN KEY([TypeID])
REFERENCES [Integration].[Type] ([TypeID])
GO
ALTER TABLE [Integration].[File] CHECK CONSTRAINT [FK_File_Type_TypeID]
GO
