USE [LabStatus]
GO
/****** Object:  StoredProcedure [Integration].[uspLogStepStart]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE Procedure [Integration].[uspLogStepStart]
(
	@SourceLab varchar(100),
	@DestLab varchar(100),
	@IntegrationDate datetime,
	@Step varchar(20)
)
AS
BEGIN
	SET NOCOUNT ON

	Declare @SourceLabID int,
			@DestLabID int,
			@IntegrationID int

	Exec [Integration].[uspGetLabIDs] 
		@SourceLab = @SourceLab, 
		@DestLab = @DestLab,
		@SourceLabID = @SourceLabID OUTPUT,
		@DestLabID = @DestLabID OUTPUT
	
	IF @@ERROR <> 0
		RETURN	
	
	Exec @IntegrationID = Integration.uspCreateIntegration @SourceLabID = @SourceLabID, @DestLabID = @DestLabID, @IntegrationDate = @IntegrationDate, @Select = 0

	Declare @StepID int

	Select	@StepID = StepID  
	From	Integration.Step (NOLOCK)
	WHERE	ShortName = @Step

	If @StepID Is Null
	Begin
		Exec Throw 'Invalid Integration step "$" specified', @Step
		Return
	End

	Update	[Integration].[Integration] WITH (ROWLOCK)
	Set		StepID = @StepID
	Where	IntegrationID = @IntegrationID

END





GO
