USE [LabStatus]
GO
/****** Object:  StoredProcedure [Integration].[uspGetAction]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE Procedure [Integration].[uspGetAction]
(
	@SourceLab varchar(100),
	@DestLab varchar(100),
	@IntegrationDate datetime
)
AS
BEGIN
	SET NOCOUNT ON

	Declare @SourceLabID int,
			@DestLabID int,
			@IntegrationID int

	Exec [Integration].[uspGetLabIDs] 
		@SourceLab = @SourceLab, 
		@DestLab = @DestLab,
		@SourceLabID = @SourceLabID OUTPUT,
		@DestLabID = @DestLabID OUTPUT
	
	IF @@ERROR <> 0
		RETURN	
	
	Exec @IntegrationID = Integration.uspCreateIntegration @SourceLabID = @SourceLabID, @DestLabID = @DestLabID, @IntegrationDate = @IntegrationDate, @Select = 0

	SET NOCOUNT OFF

	-- Check if this is the first integration file being logged.
	Select	[Name] FiName, [Action] FiAction
	From	[Integration].[File] WITH (NOLOCK)
	Where	IntegrationID = @IntegrationID
			AND TypeID = 1       -- merge file
			AND Action IS NOT NULL
			AND StatusID <> 4    -- not resolved
END






GO
