USE [LabStatus]
GO
/****** Object:  View [Integration].[vFileOld]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Integration].[vFileOld] AS

SELECT  F.*,
		S.Name As StatusName, 
		T.Name As TypeName
FROM	[Integration].[File] F WITH (NOLOCK)
		INNER JOIN	Integration.Status S WITH (NOLOCK) ON (S.StatusID = F.StatusID)
		INNER JOIN	Integration.Type T WITH (NOLOCK) ON (T.TypeID = F.TypeID)


GO
