USE [LabStatus]
GO
/****** Object:  StoredProcedure [Integration].[uspCreateIntegration]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE Procedure [Integration].[uspCreateIntegration]
(
	@SourceLabID int,
	@DestLabID int,
	@IntegrationDate datetime,
	@Select bit = 1
)
AS
-----------------------------------------------------
-- Creates a integration record if it does not already exists
-- Author : karthip
-- Date : 2008-07-01
-----------------------------------------------------
BEGIN
	SET NOCOUNT ON

	DECLARE @IntegrationID int

	--Check if the integration already exists
	SELECT	@IntegrationID = IntegrationID
	FROM	Integration.Integration
	WHERE	SourceLabID = @SourceLabID
			And DestLabID = @DestLabID
			And IntegrationDate = @IntegrationDate

	IF @IntegrationID IS NULL --Integration not found 
	BEGIN

		DECLARE @Owner varchar(50)
	
		SELECT	@Owner = LaOwner
		FROM	dbo.tbl_Lab
		WHERE	LabID = @SourceLabID

		--Create integration record
		INSERT INTO Integration.Integration
		(
			SourceLabID,
			DestLabID,
			IntegrationDate,
			[Owner]
		)
		VALUES
		(
			@SourceLabID,
			@DestLabID,
			@IntegrationDate,
			@Owner
		)

		SET @IntegrationID = SCOPE_IDENTITY()		
	END

	If @Select = 1
	Begin
		--Return the integration record	
		SELECT	*
		FROM	Integration.Integration
		WHERE	IntegrationID = @IntegrationID
	End

	RETURN @IntegrationID
END




GO
