USE [LabStatus]
GO
/****** Object:  StoredProcedure [Integration].[uspLoadCodeLocationsOfChildren]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [Integration].[uspLoadCodeLocationsOfChildren]
(
	@LabID int,
	@SourceDateTime datetime
)	
As
-----------------------------------------------------
-- Gets the code locations for the child branches of the given branch
-- Author : karthip
-- Date : 2008-06-10
-----------------------------------------------------
BEGIN
		SET NOCOUNT ON

		DECLARE @LastRIInfo Table(ID int Identity(1,1),LabID int, SourceDateTime datetime, IntegrationHistoryID int)
		Declare @Index int,
				@RowCount int

		;WITH LastRIInfo AS
		(	
			SELECT	LP.LabID, IH.SourceDateTime, IH.IntegrationHistoryID, Dense_Rank() Over (Partition By LP.LabID Order By IH.SourceDateTime Desc) Rnk
			From	Integration.LabParent LP
					INNER JOIN Integration.IntegrationHistory IH 
						On	IH.SourceLabID = LP.LabID 
							AND IH.ActionID = 1 --RI
							AND IH.IntegrationDate <= @SourceDateTime
					
			Where	LP.ParentLabID = @LabID		
					And Not Exists(Select 1 From #RIFI Where LabID = LP.LabID)
		)
		Insert Into @LastRIInfo (LabID,SourceDateTime,IntegrationHistoryID)
		Select LabID, SourceDateTime,IntegrationHistoryID From LastRIInfo Where Rnk = 1

		Set @RowCount = @@RowCount
		Set @Index = 1

		WHILE @Index <= @RowCount
		BEGIN
			
			INSERT INTO #RIFI (LabID, SourceDateTime, IntegrationHistoryID)
			Select LabID, SourceDateTime, IntegrationHistoryID 
			From	@LastRIInfo LI
			Where	ID = @Index

			Select	@LabID = LabID,
					@SourceDateTime = SourceDateTime
			From	@LastRIInfo LI
			Where	ID = @Index

			Exec Integration.uspLoadCodeLocationsOfChildren @LabID, @SourceDateTime


			Set @Index = @Index + 1
		END

END



GO
