USE [LabStatus]
GO
/****** Object:  View [Integration].[vIntegrationSummary]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Integration].[vIntegrationSummary] AS

SELECT  I.[IntegrationID],
		CASE 
			WHEN SLP.ParentLabID = I.DestLabID THEN 1
			WHEN DLP.ParentLabID = I.SourceLabID THEN 2
			ELSE 0
		END As ActionID,
		(SELECT COUNT(WarningID) FROM [Integration].[Warning] WITH (NOLOCK) WHERE IntegrationID = I.IntegrationID) TotalWarnings,
		(SELECT COUNT(WarningID) FROM [Integration].[Warning] WITH (NOLOCK) WHERE IntegrationID = I.IntegrationID AND Verified = 1) Warnings,
		(SELECT COUNT(ErrorID) FROM [Integration].[Error] WITH (NOLOCK) WHERE IntegrationID = I.IntegrationID) TotalErrors,
		(SELECT COUNT(ErrorID) FROM [Integration].[Error] WITH (NOLOCK) WHERE IntegrationID = I.IntegrationID AND Verified = 1) Errors,
		(SELECT COUNT(FileID) FROM [Integration].[File] WITH (NOLOCK) WHERE IntegrationID = I.IntegrationID AND StatusID = 4) Resolved,
		(SELECT COUNT(FileID) FROM [Integration].[File] WITH (NOLOCK) WHERE IntegrationID = I.IntegrationID AND StatusID <> 4) UnResolved
FROM	Integration.Integration I WITH (NOLOCK)
		LEFT JOIN	Integration.LabParent SLP WITH (NOLOCK) ON (I.SourceLabID = SLP.LabID)
		LEFT JOIN	Integration.LabParent DLP WITH (NOLOCK) ON (I.DestLabID = DLP.LabID)

GO
