USE [LabStatus]
GO
/****** Object:  StoredProcedure [Integration].[uspLogIntegrationHistory]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Integration].[uspLogIntegrationHistory]
(
	@LabShortName varchar(50),
	@DestLabShortName varchar(50),
	@ActionShortName varchar(10),
	@DestLogDateTime datetime = NULL,
	@DestChangeList varchar(50),
	@SourceLogDateTime datetime = NULL,
	@SourceChangeList varchar(50)
)
AS
BEGIN

	SET NOCOUNT ON
	
	-- LogDateTime
	IF @DestLogDateTime IS NULL
		SET @DestLogDateTime = GetDate()	

	--LabID.
	DECLARE @LabID int,
			@DestLabID int,
			@ActionID int
		
	SELECT	@LabID = LabID
	FROM	dbo.tbl_Lab WITH (NOLOCK)
	WHERE	LaShortName = @LabShortName 

	IF @LabID IS NULL
	BEGIN
		Exec Throw 'Lab $ not found', @LabShortName 
		Return
	END

	--Destination LabID.
	SELECT	@DestLabID = LabID
	FROM	LabStatus..tbl_Lab WITH (NOLOCK)
	WHERE	LaShortName = @DestLabShortName 

	IF @DestLabID IS NULL
	BEGIN
		Exec Throw 'Lab $ not found', @DestLabShortName 
		Return
	END

	--Action
	SELECT	@ActionID = ActionID
	FROM	Integration.Action WITH (NOLOCK)
	WHERE	[Name] = @ActionShortName 

	IF @ActionID IS NULL
	BEGIN
		Exec Throw 'Invalid Action $ specified', @ActionShortName 
		Return
	END
	
	INSERT INTO Integration.IntegrationHistory
	(
		SourceLabID,
		DestLabID,
		ActionID,
		IntegrationDate,
		Changeset,
		SourceDateTime,
		SourceChangeset
	)
	VALUES 
	(
		@LabID, 
		@DestLabID, 
		@ActionID, 
		@DestLogDateTime, 
		@DestChangeList, 
		@SourceLogDateTime, 
		@SourceChangeList
	)
	 
END
GO
