USE [LabStatus]
GO
/****** Object:  Table [Integration].[Warning]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Integration].[Warning](
	[WarningID] [int] IDENTITY(1,1) NOT NULL,
	[IntegrationID] [int] NOT NULL,
	[Text] [varchar](2000) NULL,
	[Verified] [bit] NOT NULL,
	[VerifiedBy] [varchar](50) NULL,
	[VerifiedOn] [datetime] NULL,
 CONSTRAINT [PK_Warning] PRIMARY KEY CLUSTERED 
(
	[WarningID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Integration].[Warning] ADD  CONSTRAINT [DF_Warning_Verified]  DEFAULT ((0)) FOR [Verified]
GO
ALTER TABLE [Integration].[Warning]  WITH CHECK ADD  CONSTRAINT [FK_Warning_Integration_IntegrationID] FOREIGN KEY([IntegrationID])
REFERENCES [Integration].[Integration] ([IntegrationID])
GO
ALTER TABLE [Integration].[Warning] CHECK CONSTRAINT [FK_Warning_Integration_IntegrationID]
GO
