USE [LabStatus]
GO
/****** Object:  StoredProcedure [Integration].[uspCheckFilesWarningsErrors]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE Procedure [Integration].[uspCheckFilesWarningsErrors]
(
	@SourceLab varchar(100),
	@DestLab varchar(100),
	@IntegrationDate datetime
)
AS
BEGIN
	SET NOCOUNT ON

	Declare @SourceLabID int,
			@DestLabID int,
			@IntegrationID int

	Exec [Integration].[uspGetLabIDs] 
		@SourceLab = @SourceLab, 
		@DestLab = @DestLab,
		@SourceLabID = @SourceLabID OUTPUT,
		@DestLabID = @DestLabID OUTPUT
	
	IF @@ERROR <> 0
		RETURN	
	
	Exec @IntegrationID = Integration.uspCreateIntegration @SourceLabID = @SourceLabID, @DestLabID = @DestLabID, @IntegrationDate = @IntegrationDate, @Select = 0

	Declare @IsReady int
	
	If	Not Exists(Select 1 From [Integration].[File] (Nolock) Where IntegrationID = @IntegrationID And StatusID <> 4)
		And Not Exists(Select 1 From [Integration].[Error] (Nolock) Where IntegrationID = @IntegrationID And Verified = 0)
		And Not Exists(Select 1 From [Integration].[Warning] (Nolock) Where IntegrationID = @IntegrationID And Verified = 0)
	Begin
		Set @IsReady = 1
	End
	Else
	Begin
		Set @IsReady = 0
	End

	Select @IsReady As IsReady
END






GO
