USE [LabStatus]
GO
/****** Object:  StoredProcedure [Integration].[uspLogIntegrationLogLocation]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE Procedure [Integration].[uspLogIntegrationLogLocation]
(
	@SourceLab varchar(100),
	@DestLab varchar(100),
	@IntegrationDate datetime,
	@LogLocation varchar(1000)
)
AS
BEGIN
	SET NOCOUNT ON

	Declare @SourceLabID int,
			@DestLabID int,
			@IntegrationID int

	Exec [Integration].[uspGetLabIDs] 
		@SourceLab = @SourceLab, 
		@DestLab = @DestLab,
		@SourceLabID = @SourceLabID OUTPUT,
		@DestLabID = @DestLabID OUTPUT
	
	IF @@ERROR <> 0
		RETURN	
	
	Exec @IntegrationID = Integration.uspCreateIntegration @SourceLabID = @SourceLabID, @DestLabID = @DestLabID, @IntegrationDate = @IntegrationDate, @Select = 0

	Update	Integration.Integration
	Set		LogLocation = @LogLocation
	Where	IntegrationID = @IntegrationID

END






GO
