USE [LabStatus]
GO
/****** Object:  Table [Integration].[LabParent]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Integration].[LabParent](
	[LabID] [int] NOT NULL,
	[ParentLabID] [int] NOT NULL,
 CONSTRAINT [PK_LabParent] PRIMARY KEY CLUSTERED 
(
	[LabID] ASC,
	[ParentLabID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Integration].[LabParent]  WITH CHECK ADD  CONSTRAINT [FK_LabParent_tbl_Lab_LabID] FOREIGN KEY([LabID])
REFERENCES [dbo].[tbl_Lab] ([LabID])
GO
ALTER TABLE [Integration].[LabParent] CHECK CONSTRAINT [FK_LabParent_tbl_Lab_LabID]
GO
ALTER TABLE [Integration].[LabParent]  WITH CHECK ADD  CONSTRAINT [FK_LabParent_tbl_Lab_ParentLabID] FOREIGN KEY([ParentLabID])
REFERENCES [dbo].[tbl_Lab] ([LabID])
GO
ALTER TABLE [Integration].[LabParent] CHECK CONSTRAINT [FK_LabParent_tbl_Lab_ParentLabID]
GO
