USE [LabStatus]
GO
/****** Object:  StoredProcedure [Integration].[uspLogWarning]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE Procedure [Integration].[uspLogWarning]
(
	@SourceLab varchar(100),
	@DestLab varchar(100),
	@IntegrationDate datetime,
	@Warning varchar(2000)
)
AS
BEGIN
	SET NOCOUNT ON

	Declare @SourceLabID int,
			@DestLabID int,
			@IntegrationID int

	Exec [Integration].[uspGetLabIDs] 
		@SourceLab = @SourceLab, 
		@DestLab = @DestLab,
		@SourceLabID = @SourceLabID OUTPUT,
		@DestLabID = @DestLabID OUTPUT
	
	IF @@ERROR <> 0
		RETURN	
	
	Exec @IntegrationID = Integration.uspCreateIntegration @SourceLabID = @SourceLabID, @DestLabID = @DestLabID, @IntegrationDate = @IntegrationDate, @Select = 0

	Insert Into Integration.Warning 
	(
		IntegrationID, 
		[Text],
		Verified
	)
	Values
	(
		@IntegrationID, 
		@Warning,
		0
	)

END






GO
