USE [LabStatus]
GO
/****** Object:  StoredProcedure [Integration].[uspFinishIntegration]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE Procedure [Integration].[uspFinishIntegration]
(
	@SourceLab varchar(100),
	@DestLab varchar(100),
	@IntegrationDate datetime
)
AS
BEGIN
	SET NOCOUNT ON

	Declare @SourceLabID int,
			@DestLabID int,
			@IntegrationID int

	Exec [Integration].[uspGetLabIDs] 
		@SourceLab = @SourceLab, 
		@DestLab = @DestLab,
		@SourceLabID = @SourceLabID OUTPUT,
		@DestLabID = @DestLabID OUTPUT
	
	IF @@ERROR <> 0
		RETURN	
	
	Exec @IntegrationID = Integration.uspCreateIntegration @SourceLabID = @SourceLabID, @DestLabID = @DestLabID, @IntegrationDate = @IntegrationDate, @Select = 0

	Declare @ResolveEndDate datetime

	Update	Integration.Integration
	Set		EndDate = GetDate(),
			ResolveEndDate = IsNull(ResolveEndDate, GetDate())
	Where	IntegrationID = @IntegrationID
	
	--Set all files that are not resolved as resolved
	Update	[Integration].[File] With (ROWLOCK)
	Set		StatusID = 4, --Resolved
			FixedDateTime = GetDate()
	Where	IntegrationID = @IntegrationID
			And StatusID <> 4
	
	--Delete all the temp files.
	Delete
	From	Integration.TempFile
	Where	IntegrationID = @IntegrationID
END





GO
