USE [LabStatus]
GO
/****** Object:  Table [Integration].[Audit]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Integration].[Audit](
	[AuditId] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[Action] [nchar](10) NOT NULL,
	[TableName] [varchar](50) NOT NULL,
	[TableKey] [int] NOT NULL,
	[UserAlias] [varchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IPAddress] [varchar](50) NOT NULL,
	[ImpersonatingAlias] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Integration.Audit] PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Integration].[Audit] ADD  CONSTRAINT [DF_Audit_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
