USE [LabStatus]
GO
/****** Object:  Table [Integration].[TempFile]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Integration].[TempFile](
	[TempFileID] [int] IDENTITY(1,1) NOT NULL,
	[IntegrationID] [int] NOT NULL,
	[FileID] [int] NOT NULL,
 CONSTRAINT [PK_TempFile] PRIMARY KEY CLUSTERED 
(
	[TempFileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Integration].[TempFile]  WITH CHECK ADD  CONSTRAINT [FK_TempFile_File_FileID] FOREIGN KEY([FileID])
REFERENCES [Integration].[File] ([FileID])
GO
ALTER TABLE [Integration].[TempFile] CHECK CONSTRAINT [FK_TempFile_File_FileID]
GO
ALTER TABLE [Integration].[TempFile]  WITH CHECK ADD  CONSTRAINT [FK_TempFile_Integration_IntegrationID] FOREIGN KEY([IntegrationID])
REFERENCES [Integration].[Integration] ([IntegrationID])
GO
ALTER TABLE [Integration].[TempFile] CHECK CONSTRAINT [FK_TempFile_Integration_IntegrationID]
GO
