USE [LabStatus]
GO
/****** Object:  StoredProcedure [Integration].[uspGetLabIDs]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE Procedure [Integration].[uspGetLabIDs]
(
	@SourceLab varchar(100),
	@DestLab varchar(100),
	@SourceLabID int OUTPUT,
	@DestLabID int OUTPUT
)
AS
BEGIN
	SET NOCOUNT ON

	Select	@SourceLabID = LabID
	From	tbl_Lab (Nolock)
	Where	LaShortName = @SourceLab

	IF @SourceLabID Is NULL
	BEGIN

		Exec Throw 'No lab was found with a LabShortName = "$"',@SourceLab
		Return

	END

	Select	@DestLabID = LabID
	From	tbl_Lab (Nolock)
	Where	LaShortName = @DestLab

	IF @DestLabID Is NULL
	BEGIN

		Exec Throw 'No lab was found with a LabShortName = "$"',@DestLab
		Return

	END
END



GO
