USE [LabStatus]
GO
/****** Object:  Table [Integration].[IntegrationHistory]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Integration].[IntegrationHistory](
	[IntegrationHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[SourceLabID] [int] NOT NULL,
	[DestLabID] [int] NOT NULL,
	[ActionID] [int] NOT NULL,
	[IntegrationDate] [datetime] NULL,
	[Changeset] [int] NOT NULL,
	[SourceDateTime] [datetime] NULL,
	[SourceChangeset] [int] NULL,
	[CheckinDateTime] [datetime] NULL,
 CONSTRAINT [PK_IntegrationHistory] PRIMARY KEY CLUSTERED 
(
	[IntegrationHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Integration].[IntegrationHistory]  WITH CHECK ADD  CONSTRAINT [FK_IntegrationHistory_Action_ActionID] FOREIGN KEY([ActionID])
REFERENCES [Integration].[Action] ([ActionID])
GO
ALTER TABLE [Integration].[IntegrationHistory] CHECK CONSTRAINT [FK_IntegrationHistory_Action_ActionID]
GO
ALTER TABLE [Integration].[IntegrationHistory]  WITH CHECK ADD  CONSTRAINT [FK_IntegrationHistory_Lab_DestLabID] FOREIGN KEY([DestLabID])
REFERENCES [dbo].[tbl_Lab] ([LabID])
GO
ALTER TABLE [Integration].[IntegrationHistory] CHECK CONSTRAINT [FK_IntegrationHistory_Lab_DestLabID]
GO
ALTER TABLE [Integration].[IntegrationHistory]  WITH CHECK ADD  CONSTRAINT [FK_IntegrationHistory_Lab_SourceLabID] FOREIGN KEY([SourceLabID])
REFERENCES [dbo].[tbl_Lab] ([LabID])
GO
ALTER TABLE [Integration].[IntegrationHistory] CHECK CONSTRAINT [FK_IntegrationHistory_Lab_SourceLabID]
GO
