USE [LabStatus]
GO
/****** Object:  StoredProcedure [Integration].[uspStartResolves]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE Procedure [Integration].[uspStartResolves]
(
	@SourceLab varchar(100),
	@DestLab varchar(100),
	@IntegrationDate datetime
)
AS
BEGIN
	SET NOCOUNT ON

	Declare @SourceLabID int,
			@DestLabID int,
			@IntegrationID int

	Exec [Integration].[uspGetLabIDs] 
		@SourceLab = @SourceLab, 
		@DestLab = @DestLab,
		@SourceLabID = @SourceLabID OUTPUT,
		@DestLabID = @DestLabID OUTPUT
	
	IF @@ERROR <> 0
		RETURN	
	
	Exec @IntegrationID = Integration.uspCreateIntegration @SourceLabID = @SourceLabID, @DestLabID = @DestLabID, @IntegrationDate = @IntegrationDate, @Select = 0

	--Delete all the temp files.
	Delete
	From	Integration.TempFile
	Where	IntegrationID = @IntegrationID

	--Copy the existing integration data into the temp table.
	Insert Into Integration.TempFile
	(
		IntegrationID,
		FileID
	)
	Select 	IntegrationID,
			FileID		
	From	[Integration].[File]
	Where	IntegrationID = @IntegrationID
END





GO
