USE [LabStatus]
GO
/****** Object:  StoredProcedure [Integration].[uspGetCodeFlowTrains]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [Integration].[uspGetCodeFlowTrains]
(
	@OriginLabID int, @EndLabID int
)
AS
BEGIN
	SET NOCOUNT ON

	DECLARE @StartLabID int, @ParentLabID int, @LoopCount int, @LoopLimit int = 30
	DECLARE @StartDone bit = 0, @EndDone bit = 0;
	DECLARE @tblBranchIDs TABLE (SourceLabID int, DestLabID int);

	SET @StartLabID = @OriginLabID;

	WHILE (@StartDone = 0 OR @EndDone = 0)
	BEGIN
		SET @ParentLabID = (SELECT ParentLabID FROM Integration.LabParent WHERE LabID = @StartLabID);
			IF @StartDone = 0
				INSERT INTO @tblBranchIDs SELECT @StartLabID,@ParentLabID;
			ELSE
				INSERT INTO @tblBranchIDs SELECT @ParentLabID,@StartLabID;
		IF @ParentLabID IS NOT NULL
			SET  @StartLabID = @ParentLabID;
		ELSE
			BEGIN
				IF @StartDone = 0
					BEGIN
					SET @StartDone = 1;
					SET @StartLabID = @EndLabID;
					END
				ELSE
					SET @EndDone = 1;
			END
	END

	DECLARE @tblCodeFlow TABLE (IntegrationHistoryID int, Train int, StartDate SmallDateTime, IntegrationDate SmallDateTime, SourceLabID int, SourceBranch varchar(500), DestLabID int, DestBranch varchar(500), Name varchar(10) ,SourceDateTime SmallDateTime, SourceChangeset int, Changeset int, Consumer int);
	INSERT INTO @tblCodeFlow
		SELECT IntegrationHistoryID,(NULL) AS Train,(NULL) AS StartDate,IntegrationDate,BI.SourceLabID,SL.LaSourceControlPath,BI.DestLabID,DL.LaSourceControlPath,Name,SourceDateTime,SourceChangeset,Changeset,(NULL) AS Consumer
		FROM @tblBranchIDs BI
			INNER JOIN Integration.IntegrationHistory IH ON IH.SourceLabID = BI.SourceLabID AND IH.DestLabID = BI.DestLabID
			INNER JOIN Integration.Action IA ON IA.ActionID = IH.ActionID
			INNER JOIN dbo.tbl_Lab AS SL ON SL.LabID = BI.SourceLabID
			INNER JOIN dbo.tbl_Lab AS DL ON DL.LabID = BI.DestLabID
		WHERE IH.Changeset <> 0 AND Not (IH.Changeset Is Null)

	UPDATE CF0
	SET Train = (SELECT COUNT(*) FROM @tblCodeFlow AS CF WHERE CF.SourceLabID = CF0.SourceLabID AND CF.SourceChangeset < CF0.SourceChangeset)
	FROM @tblCodeFlow CF0;
	UPDATE CF0
	SET StartDate = (SELECT SourceDateTime FROM @tblCodeFlow AS CF WHERE CF.SourceLabID = CF0.SourceLabID AND CF.Train = CF0.Train - 1)
	FROM @tblCodeFlow CF0;
	UPDATE CF0
	SET Consumer = (SELECT Min(IntegrationHistoryID) FROM @tblCodeFlow AS CF Where CF.SourceLabID = CF0.DestLabID AND CF.SourceChangeset = (SELECT Min(SourceChangeset) FROM @tblCodeFlow AS CF2 WHERE CF2.SourceLabID = CF0.DestLabID AND CF2.SourceChangeset >= CF0.Changeset))
	FROM @tblCodeFlow CF0;

	SELECT Train,StartDate AS TrainStartDate,SourceBranch,Name,DestBranch,StartDate AS SegmentStartDate,IntegrationDate,CAST((IntegrationDate - StartDate) AS decimal(5,1)) AS [Days],IntegrationHistoryID,Consumer,SourceDateTime,SourceChangeset
		INTO #CodeFlowTrains
		FROM @tblCodeFlow
		WHERE SourceLabID = @OriginLabID
		ORDER BY SourceLabID,Train DESC;

	SET @LoopCount = 0;
	WHILE @LoopCount < @LoopLimit
	BEGIN
		INSERT INTO #CodeFlowTrains
			SELECT CFT.Train,CFT.TrainStartDate,CF.SourceBranch,CF.Name,CF.DestBranch,CFT.IntegrationDate,CF.IntegrationDate,CAST((CF.IntegrationDate-CFT.IntegrationDate) AS decimal(5,1)),CF.IntegrationHistoryID,CF.Consumer,CF.SourceDateTime,CF.SourceChangeset
			FROM @tblCodeFlow AS CF INNER JOIN #CodeFlowTrains AS CFT ON CFT.Consumer = CF.IntegrationHistoryID
			WHERE (SELECT COUNT(*) FROM #CodeFlowTrains AS CFT2 WHERE CFT2.Train = CFT.Train AND CFT2.IntegrationHistoryID = CFT.Consumer) = 0 AND CFT.Consumer IS NOT NULL;
		IF @@ROWCOUNT = 0
			BREAK;
		SET @LoopCount += 1;
	END

	SELECT TrainStartDate AS TrainStart, SourceBranch AS Source, DestBranch AS Destination, IntegrationDate AS IntDate, [Days]
		FROM #CodeFlowTrains
		ORDER BY Train,IntegrationDate;

	DROP TABLE #CodeFlowTrains;
END
GO
