USE [LabStatus]
GO
/****** Object:  StoredProcedure [Integration].[uspFinishResolves]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE Procedure [Integration].[uspFinishResolves]
(
	@SourceLab varchar(100),
	@DestLab varchar(100),
	@IntegrationDate datetime
)
AS
BEGIN
	SET NOCOUNT ON

	Declare @SourceLabID int,
			@DestLabID int,
			@IntegrationID int

	Exec [Integration].[uspGetLabIDs] 
		@SourceLab = @SourceLab, 
		@DestLab = @DestLab,
		@SourceLabID = @SourceLabID OUTPUT,
		@DestLabID = @DestLabID OUTPUT
	
	IF @@ERROR <> 0
		RETURN	
	
	Exec @IntegrationID = Integration.uspCreateIntegration @SourceLabID = @SourceLabID, @DestLabID = @DestLabID, @IntegrationDate = @IntegrationDate, @Select = 0

	-- Update the file table by selecting each remaing row that is 
	-- still in the temp table and matching it to the file table.  When 
	-- a match is made, update the StatusID = 4 (resolved).
	Update	[Integration].[File] WITH (ROWLOCK)
	Set		StatusID = 4,
			FixedDateTime = GetDate()
	Where	IntegrationID = @IntegrationID
			And	TypeID = 1
			And FileID IN (	
							Select	FileID
							From	Integration.TempFile (NOLOCK)
							Where	IntegrationID = @IntegrationID
						  )
	
	-- Complete the integration
	If Not Exists(Select 1 From [Integration].[File] (NOLOCK) WHERE IntegrationID = @IntegrationID AND StatusID <> 4)
	Begin
		Update	Integration.Integration WITH (ROWLOCK)
		Set		ResolveEndDate = GetDate()
		Where	IntegrationID = @IntegrationID
	END	
END





GO
