USE [LabStatus]
GO
/****** Object:  StoredProcedure [Integration].[uspStartIntegration]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE Procedure [Integration].[uspStartIntegration]
(
	@SourceLab varchar(100),
	@DestLab varchar(100),
	@IntegrationDate datetime,
	@Owner varchar(20) = null
)
AS
BEGIN
	SET NOCOUNT ON

	DECLARE @SourceLabID int,
			@DestLabID int,
			@IntegrationID int

	Exec [Integration].[uspGetLabIDs] 
		@SourceLab = @SourceLab, 
		@DestLab = @DestLab,
		@SourceLabID = @SourceLabID OUTPUT,
		@DestLabID = @DestLabID OUTPUT
	
	IF @@ERROR <> 0
		RETURN	
	
	Exec @IntegrationID = Integration.uspCreateIntegration @SourceLabID = @SourceLabID, @DestLabID = @DestLabID, @IntegrationDate = @IntegrationDate, @Select = 0

	IF @Owner Is Not Null
	Begin
		Update	Integration.Integration
		Set		[Owner] = @Owner
		Where	IntegrationID = @IntegrationID
	End 

	Delete
	From	Integration.TempFile
	Where	IntegrationID = @IntegrationID

	Insert Into Integration.TempFile
	(
		IntegrationID,
		FileID
	)
	Select 	IntegrationID,
			FileID		
	From	[Integration].[File]
	Where	IntegrationID = @IntegrationID

END





GO
