USE [LabStatus]
GO
/****** Object:  StoredProcedure [Integration].[uspLoadCodeLocationsOfParent]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [Integration].[uspLoadCodeLocationsOfParent]
(
	@LabID int,
	@SourceDateTime datetime
)	
As
-----------------------------------------------------
-- Gets the code locations for the parent branches of the given branch
-- Author : karthip
-- Date : 2008-06-10
-----------------------------------------------------
BEGIN
		SET NOCOUNT ON

		--Print 'Exec LoadStatusOfChildren ' + CAST(@LabID as varchar(10)) + ', ' + CAST(@SourceDateTime as varchar(25))
		Exec Integration.uspLoadCodeLocationsOfChildren @LabID, @SourceDateTime

		--Ignore Main
		IF @LabID = 3
			RETURN 

		--Table to store the last FI for this lab
		DECLARE @LastFIInfo Table(LabID int, SourceDateTime datetime, IntegrationHistoryID int)

		--Fetch the last FI happened to this lab
		;WITH LastFIInfo AS
		(	
			SELECT	IH.SourceLabID LabID, IH.SourceDateTime, IH.IntegrationHistoryID, Dense_Rank() Over (Partition By IH.SourceLabID Order By IH.SourceDateTime Desc, IH.IntegrationHistoryID Desc) Rnk
			From	Integration.IntegrationHistory  IH 
			Where	IH.DestLabID = @LabID 
					AND IH.ActionID = 2 --FI
					AND IH.IntegrationDate <= @SourceDateTime
					And Not Exists(Select 1 From #RIFI Where LabID = IH.SourceLabID)
		)
		INSERT INTO @LastFIInfo (LabID, SourceDateTime, IntegrationHistoryID)
		Select LabID, SourceDateTime,IntegrationHistoryID From LastFIInfo Where Rnk = 1

		IF @@RowCount > 0
		BEGIN

			--We have an FI
			INSERT INTO #RIFI (LabID, SourceDateTime, IntegrationHistoryID)
			Select LabID, SourceDateTime,IntegrationHistoryID From @LastFIInfo

			Select	@LabID = LabID,
					@SourceDateTime = SourceDateTime
			From	@LastFIInfo

		END
		ELSE
		BEGIN

			--No last FI found so get the parent lab
			Select	@LabID = ParentLabID,
					@SourceDateTime = '1900-01-01'
			From	Integration.LabParent
			Where	LabID = @LabID

			IF @@RowCount = 0 
				RETURN --No parent Lab found. Quit execution

		END

		--Load the status of the parent lab
		--Print 'Exec LoadStatusOfParent ' + CAST(@LabID as varchar(10)) + ', ' + CAST(@SourceDateTime as varchar(25))
		Exec Integration.uspLoadCodeLocationsOfParent @LabID, @SourceDateTime
END



GO
