USE [LabStatus]
GO
/****** Object:  Table [Integration].[AuditDetail]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Integration].[AuditDetail](
	[AuditDetailId] [int] IDENTITY(1,1) NOT NULL,
	[AuditId] [int] NOT NULL,
	[ColumnName] [varchar](50) NOT NULL,
	[OldValue] [nvarchar](max) NOT NULL,
	[NewValue] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Integration.AuditDetail] PRIMARY KEY CLUSTERED 
(
	[AuditDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Integration].[AuditDetail]  WITH CHECK ADD  CONSTRAINT [FK_AuditDetail_Audit_AuditId] FOREIGN KEY([AuditId])
REFERENCES [Integration].[Audit] ([AuditId])
GO
ALTER TABLE [Integration].[AuditDetail] CHECK CONSTRAINT [FK_AuditDetail_Audit_AuditId]
GO
