USE [LabStatus]
GO
/****** Object:  Table [Integration].[Step]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Integration].[Step](
	[StepID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[ShortName] [varchar](20) NOT NULL,
	[Description] [varchar](1000) NULL,
	[Scale] [int] NOT NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_tlkp_Step] PRIMARY KEY CLUSTERED 
(
	[StepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
