USE [LabStatus]
GO
/****** Object:  Table [Integration].[Integration]    Script Date: 1/28/2026 12:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Integration].[Integration](
	[IntegrationID] [int] IDENTITY(1,1) NOT NULL,
	[SourceLabID] [int] NOT NULL,
	[DestLabID] [int] NOT NULL,
	[StepID] [int] NOT NULL,
	[IntegrationDate] [datetime] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[ResolveStartDate] [datetime] NULL,
	[ResolveEndDate] [datetime] NULL,
	[Changeset] [varchar](20) NULL,
	[Owner] [nvarchar](50) NOT NULL,
	[Machine] [nvarchar](50) NOT NULL,
	[FLDBVerified] [bit] NOT NULL,
	[FLDBVerifiedBy] [nvarchar](50) NULL,
	[FLDBVerifiedOn] [datetime] NULL,
	[Deleted] [bit] NOT NULL,
	[Verified] [bit] NOT NULL,
	[OkayToSubmit] [bit] NOT NULL,
	[LogLocation] [nvarchar](1000) NULL,
 CONSTRAINT [PK_tbl_Integration] PRIMARY KEY NONCLUSTERED 
(
	[IntegrationID] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Integration].[Integration] ADD  CONSTRAINT [DF_Integration_StepID]  DEFAULT ((1)) FOR [StepID]
GO
ALTER TABLE [Integration].[Integration] ADD  CONSTRAINT [DF_Integration_StartDate]  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Integration].[Integration] ADD  CONSTRAINT [DF_Integration_Machine]  DEFAULT (space((0))) FOR [Machine]
GO
ALTER TABLE [Integration].[Integration] ADD  CONSTRAINT [DF_Integration_FLDBVerified]  DEFAULT ((0)) FOR [FLDBVerified]
GO
ALTER TABLE [Integration].[Integration] ADD  CONSTRAINT [DF_tbl_Integration_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [Integration].[Integration] ADD  CONSTRAINT [DF_tbl_Integration_Verified]  DEFAULT ((0)) FOR [Verified]
GO
ALTER TABLE [Integration].[Integration] ADD  CONSTRAINT [DF_Integration_OkayToSubmit]  DEFAULT ((0)) FOR [OkayToSubmit]
GO
ALTER TABLE [Integration].[Integration]  WITH CHECK ADD  CONSTRAINT [FK_Integration_Lab_DestLabID] FOREIGN KEY([DestLabID])
REFERENCES [dbo].[tbl_Lab] ([LabID])
GO
ALTER TABLE [Integration].[Integration] CHECK CONSTRAINT [FK_Integration_Lab_DestLabID]
GO
ALTER TABLE [Integration].[Integration]  WITH CHECK ADD  CONSTRAINT [FK_Integration_Lab_SourceLabID] FOREIGN KEY([SourceLabID])
REFERENCES [dbo].[tbl_Lab] ([LabID])
GO
ALTER TABLE [Integration].[Integration] CHECK CONSTRAINT [FK_Integration_Lab_SourceLabID]
GO
ALTER TABLE [Integration].[Integration]  WITH CHECK ADD  CONSTRAINT [FK_Integration_Step_StepID] FOREIGN KEY([StepID])
REFERENCES [Integration].[Step] ([StepID])
GO
ALTER TABLE [Integration].[Integration] CHECK CONSTRAINT [FK_Integration_Step_StepID]
GO
