USE [LabStatus]
GO
/****** Object:  StoredProcedure [Integration].[uspGetCodeLocations]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [Integration].[uspGetCodeLocations]
(
	@LabID int
)
AS
-----------------------------------------------------
-- Gets the code locations for the given branch
-- Author : karthip
-- Date : 2008-06-10
-----------------------------------------------------
BEGIN
	SET NOCOUNT ON

	--We use use recursions to figure out the code locations.
	--So we create a temp table which will populated by the individual sproc calls
	CREATE TABLE #RIFI (LabID int, SourceDateTime datetime, IntegrationHistoryID int)

	DECLARE @SourceDateTime datetime

	SET @SourceDateTime = GetDate()

	--Start the recursive call
	EXEC Integration.uspLoadCodeLocationsOfParent @LabID, @SourceDateTime

	--Now we have all the code locations for the given branch.
	--But we want the output to have all parent/child labs so we walk through 
	--the branch hierarchy and populate them
	;WITH ParentLabs AS
	(
		SELECT @LabID LabID, 0 Depth
		UNION ALL
		SELECT	LP.ParentLabID, PL.Depth - 1
		FROM	Integration.LabParent LP
				INNER JOIN ParentLabs PL On PL.LabID = LP.LabID
	)
	,ChildLabs AS
	(
		SELECT	LP.LabID, 1 Depth
		FROM	Integration.LabParent LP
				INNER JOIN ParentLabs PL On PL.LabID = LP.ParentLabID
		UNION ALL
		SELECT	LP.LabID, CL.Depth + 1
		FROM	Integration.LabParent LP
				INNER JOIN ChildLabs CL On CL.LabID = LP.ParentLabID
	)
	,AllLabs As
	(
		SELECT	LabID
		FROM	ParentLabs 
		UNION   
		SELECT	LabID
		FROM	ChildLabs 
	)
	INSERT INTO #RIFI (LabID)
	SELECT	LabID 
	FROM	AllLabs
	WHERE	LabID NOT IN (Select LabID From #RIFI)

	--We don't the current lab in the output
	DELETE FROM #RIFI WHERE LabID = @LabID

	--Return the results
	SELECT	L.LabID,
			LaName LabName,
			RIFI.SourceDateTime,
			IH.SourceChangeset
	FROM	#RIFI RIFI 
			INNER JOIN dbo.tbl_Lab L 
				ON RIFI.LabID = L.LabID
			LEFT JOIN Integration.IntegrationHistory IH 
				ON IH.IntegrationHistoryID = RIFI.IntegrationHistoryID
	ORDER BY LaName

	DROP TABLE #RIFI
END

GO
