USE [LabStatus]
GO
/****** Object:  StoredProcedure [Reports].[GetBuildProcessTimesData]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [Reports].[GetBuildProcessTimesData]
(	
	@LabIDs varchar(MAX),
	@From datetime,
	@To datetime,
	@LocaleSetIDs varchar(MAX),
	@FlavorIDs varchar(MAX),
	@ArchIDs varchar(MAX),
	@BuildMachines varchar(MAX),
	@TopNProcesses int
)
AS
Begin
	
	Set @BuildMachines = LTRIM(RTRIM(@BuildMachines))
	Set @TopNProcesses = ISNULL(@TopNProcesses,10)
	
	--Select	@LabIDs LabIDs,
	--		@From [From],
	--		@To [To],
	--		@LocaleSetIDs LocaleSetIDs,
	--		@FlavorIDs FlavorIDs,
	--		@ArchIDs ArchIDs,
	--		@BuildMachines BuildMachines
			
	Select	SessionID, LabID, FlavorID, TargetArchitectureID, LocaleSetID, SeRevision, SeBuildMachine, SeBuildDetailUrl
	Into	#Sessions
	From	tbl_Session (Nolock)
	Where	LabID In (Select ItemID From dbo.fn_ParseCommaDelimitedList(@LabIDs))
			And LocaleSetID In (Select ItemID From dbo.fn_ParseCommaDelimitedList(@LocaleSetIDs))
			And FlavorID In (Select ItemID From dbo.fn_ParseCommaDelimitedList(@FlavorIDs))
			And TargetArchitectureID In (Select ItemID From dbo.fn_ParseCommaDelimitedList(@ArchIDs))
			And SeStarted Between @From And (@To + 1)
			And (LEN(@BuildMachines) = 0 OR SeBuildMachine In (Select LTRIM(RTRIM(Part)) From dbo.fn_SplitString(@BuildMachines,',')) )
			And StatusID Not in (1,3,8)
	
	Select	SGPS.SessionID, SGP.PrName,SUM(DATEDIFF(mi,  SGPS.ProcessStarted, SGPS.ProcessFinished)) TimeInMins
	Into	#AllProcesses
	From	dbo.tbl_SchemaGroupProcess SGP (nolock)
			Inner Join dbo.tbl_SessionGroupProcessStatus SGPS (nolock)
				On SGPS.SchemaGroupProcessID = SGP.SchemaGroupProcessID
			Inner Join #Sessions S
				On SGPS.SessionID = S.SessionID
	Group By SGPS.SessionID, SGP.PrName
	
	Select	Top(@TopNProcesses) PrName
	Into	#Processes
	From	#AllProcesses
	Order By TimeInMins Desc
	
	Select	P.*, 
			Case When IsNull(S.SeBuildDetailUrl,'') <> '' Then
				Utils.String.Format('https://vstfdevdiv.corp.microsoft.com/web/build.aspx?pcguid=22f9acc9-569a-41ff-b6ac-fac1b6370209&builduri={0}', S.SeBuildDetailUrl, null, null, null, null) 
			Else 				
				Utils.String.Format('https://ddweb.corp.microsoft.com/buildstatus/Detail.aspx?sid={0}', S.SessionID, null, null, null, null) 
			End BuildUrl, 
			S.SeRevision,
			Cast(Utils.String.Format('{0} {1} {2} {3}', S.SeRevision, LS.LoName, TA.TaName, F.FlName, Null) as varchar(100)) DisplayName
	From	#AllProcesses P
			Inner Join #Sessions S (Nolock)
				On S.SessionID = P.SessionID
			Inner Join tlkp_LocaleSet LS (Nolock)
				On LS.LocaleSetID = S.LocaleSetID
			Inner Join tlkp_Flavor F (Nolock)
				On F.FlavorID = S.FlavorID
			Inner Join tlkp_TargetArchitecture TA (Nolock)
				On TA.TargetArchitectureID = S.TargetArchitectureID
	Where	TimeInMins Is Not Null
			AND PrName In
			(
				Select PrName From #Processes
			)
			
	Order By PrName
	
	Drop Table #Sessions
	Drop Table #Processes
End
GO
