USE [LabStatus]
GO
/****** Object:  StoredProcedure [Reports].[GetBuildInformation]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Procedure [Reports].[GetBuildInformation]
(	
	@SessionID int
)
AS
Begin
	
	Select LaName, SeStarted, SeRevision, LoName, TaName, FlName
	From	tbl_Session S (Nolock)
			Inner Join tbl_Lab L (Nolock) 
				On L.LabID = S.LabID 
			Inner Join tlkp_LocaleSet LS (Nolock) 
				On LS.LocaleSetID = S.LocaleSetID
			Inner Join tlkp_TargetArchitecture TA (Nolock) 
				On TA.TargetArchitectureID = S.TargetArchitectureID
			Inner Join tlkp_Flavor F (Nolock) 
				On F.FlavorID = S.FlavorID
	Where	SessionID = @SessionID
	
End
GO
