USE [LabStatus]
GO
/****** Object:  StoredProcedure [Reports].[GetSessionProcessTimesData_trevors]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [Reports].[GetSessionProcessTimesData_trevors]
(	
	@SessionIds varchar(MAX),
	@Processes varchar(MAX) = NULL,
	@LinkToSession bit = 0
)
AS
Begin

	-- Processes for these sessions
	Select	SGPS.SessionID, SG.GrName, SGP.PrName, ((DATEDIFF(ss,  SGPS.ProcessStarted, SGPS.ProcessFinished) + 30) / 60) TimeInMins, SGPS.ProcessStarted, SGPS.ProcessFinished, SGPS.SessionGroupProcessStatusID
	Into	#AllProcesses
	From	dbo.tbl_SchemaGroupProcess SGP (nolock)
			Inner Join dbo.tbl_SessionGroupProcessStatus SGPS (nolock)
				On SGPS.SchemaGroupProcessID = SGP.SchemaGroupProcessID
			Inner Join dbo.tbl_SchemaGroup SG (nolock)
				On SG.SchemaGroupID = SGP.SchemaGroupID
			Inner Join dbo.fn_ParseCommaDelimitedList(@SessionIds) S
				On SGPS.SessionID = S.ItemID
	--Group By SGPS.SessionID, SGP.PrName

	-------------------------------------------------------------------------------------------
	-- Select the data for the requested sessions, and also match it to the historical
	-- processes we dug up. For each one, see if it's running longer than would be reasonable.
	-------------------------------------------------------------------------------------------
	Select	P.SessionID,
			L.LaName,
			P.GrName,
			P.PrName,
			Case When P.TimeInMins = 0 Then 1 Else TimeInMins End TimeInMins,
			P.ProcessStarted,
			P.ProcessFinished,
			P.SessionGroupProcessStatusID, 
			Case When @LinkToSession = 0 AND IsNull(S.SeBuildDetailUrl,'') <> '' Then
				Utils.String.Format('http://vstfdevdiv:8080/web/build.aspx?pcguid=22f9acc9-569a-41ff-b6ac-fac1b6370209&builduri={0}', S.SeBuildDetailUrl, null, null, null, null) 
			Else 				
				Utils.String.Format('http://ddweb/buildstatus/Detail.aspx?sid={0}', S.SessionID, null, null, null, null) 
			End BuildUrl, 
			S.SeRevision,
			F.FlName,
			TA.TaName,
			CAST(ROW_NUMBER() Over (Order By SessionGroupProcessStatusID) as int) [Order],
			hist.AvgBuildTime,
			hist.StdDevBuildTime,
			-- This item is overdue if it has a non-trivial avg run time, and it's a certain number of standard devs above the mean.			
			Cast(Case
				When hist.AvgBuildTime>1 and (P.TimeInMins > (hist.AvgBuildTime + (1.5 * hist.StdDevBuildTime))) Then 1
			Else 0
			End as bit)as [Overdue]

	From	#AllProcesses P
			Inner Join tbl_Session S (Nolock) On S.SessionID = P.SessionID
			Inner Join tlkp_Flavor F (Nolock) On S.FlavorID = F.FlavorID
			Inner Join tlkp_TargetArchitecture TA (Nolock) On TA.TargetArchitectureID = S.TargetArchitectureID
			Inner Join tbl_Lab L (Nolock) On S.LabID = L.LabID
			left outer join tbl_ProcessBuildTime hist  (Nolock) on (
					S.FlavorID = hist.FlavorID
				and S.LocaleSetID = hist.LocaleSetID
				and S.TargetArchitectureID = hist.TargetArchitectureID
				and P.GrName = hist.GrName and P.PrName = hist.PrName and L.LabID = hist.LabID
			)
	Where	TimeInMins Is Not Null
			AND
			(
				@Processes Is Null
				OR P.PrName In
				(
					Select LTRIM(RTRIM(Part)) From dbo.fn_SplitString(IsNull(@Processes,''),',')
				)
			)
	Order By SessionGroupProcessStatusID

	Drop Table #AllProcesses

End
GO
