USE [LabStatus]
GO
/****** Object:  StoredProcedure [Reports].[GetProcessTimeHistoryData]    Script Date: 1/28/2026 12:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [Reports].[GetProcessTimeHistoryData]
(	
	@LaName varchar(1000),
	@FromDate datetime,
	@ToDate datetime,
	@ProcessName varchar(MAX),
	@ArchitectureName varchar(20) = NULL,
	@FlavorName varchar(20) = NULL,
	@WorkflowName varchar(20) = NULL,
	@LinkToSession bit = 0
)
AS
Begin
	Declare @SessionIDs varchar(max)
	
	Declare @TargetArchitectureID int = (SELECT TargetArchitectureID FROM tlkp_TargetArchitecture WHERE TaName = @ArchitectureName)
	Declare @FlavorID int = (SELECT FlavorID FROM tlkp_Flavor WHERE FlName = @FlavorName)
	Declare @LocaleSetID int = (SELECT LocaleSetID FROM tlkp_LocaleSet WHERE LoName = @WorkflowName)
	
	Select	@SessionIDs = Coalesce(@SessionIDs + ',', '') + Cast(SessionID as varchar(20))
	From	tbl_Session S (Nolock)
			Inner Join tbl_Lab L (Nolock)
				On L.LabID = S.LabID
	Where	L.LaShortName = @LaName
			And SeStarted Between @FromDate And @ToDate
			And (@TargetArchitectureID IS NULL OR TargetArchitectureID = @TargetArchitectureID)
			And (@FlavorID IS NULL OR FlavorID = @FlavorID)
			And (@LocaleSetID IS NULL OR LocaleSetID = @LocaleSetID)
	Order By SessionID Desc
	
	Exec [Reports].[GetSessionProcessTimesData] @SessionIDs = @SessionIDs, @Processes = @ProcessName, @LinkToSession = @LinkToSession
End
GO
